.o-attachmentList {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  &_item {

    &:not(:last-child){
      margin-bottom: .6em;
    }

  }

  a {
    @extend %no-repeat;
    padding: .1875rem 0 0 1.5rem;
    background-image: url('../media/app/fileExt_doc.svg');
    background-size: 16px 20px;
    background-position: 0 50%;
  }

  //Images
  a[title$=".gif"],
  a[title$=".png"],
  a[title$=".jpeg"],
  a[title$=".jpg"]{
    background-image: url('../media/app/fileExt_img.svg');
  }

  ////Documents
  a[title$=".doc"],
  a[title$=".docx"],
  a[title$=".xls"],
  a[title$=".xlsx"],
  a[title$=".ppt"],
  a[title$=".pptx"],
  a[title$=".pages"],
  a[title$=".sxw"],
  a[title$=".sxi"],
  a[title$=".odp"],
  a[title$=".sdw"],
  a[title$=".ott"],
  a[title$=".odm"] {
    background-image: url('../media/app/fileExt_doc.svg');
  }

  //PDF
  a[title$=".pdf"],
  a[title$=".ppdf"],
  a[title$=".pdfx"],
  a[title$=".drmz"],
  a[title$=".pdf_"],
  a[title$=".pfl"] {
    background-image: url('../media/app/fileExt_doc.svg');
  }

  //Compressed
  a[title$=".zip"],
  a[title$=".rar"]{
    background-image: url('../media/app/fileExt_compressed.svg');
  }

}
