.o-attributesList {

  &_item {
    flex-basis: 100%;

    .o-attributesList-charges & {
      flex-basis: auto;

      &:not(:last-child) {
        margin-right: 1.4rem;
      }

    }

  }

  &-distances {
    margin-left: -3rem;

    .o-attributesList_item {
      display: flex;
      justify-content: space-between;
    }

  }

  @include tablet {

    &_item {
      flex-basis: 25%;
    }

    &-distances &_item {
      flex-basis: 50%;
    }

  }

  @include laptop {

    &-distances &_item {
      flex-basis: 33.33%;
    }

  }

  @include desktop {

    &-distances &_item {
      flex-basis: 25%;
    }

  }

}
