.o-cardItem {
  @include transition();
  @extend %flicker-remove;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid $color-ui-tint;

  &_info {
    border-top: 2px solid $brand-primary;
  }

  &:hover {
    transform: translateY(-.1rem);
    box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);
  }

}
