.o-chargeTable {

  thead th {
    border: 0;
  }

  tbody td {
    border-top-color: rgba($color-ui-shade, .3);
    vertical-align: middle;
  }

  tbody tr:last-of-type td {
    border-bottom: 1px solid rgba($color-ui-shade, .3);
  }

  thead th:first-of-type,
  tbody td:first-of-type,
  tfoot td:first-of-type {
    text-align: left;
  }

  thead th:last-of-type,
  tbody td:last-of-type,
  tfoot td:last-of-type {
    text-align: right;
    white-space: nowrap;
  }

  td {
    border: 1px solid rgba($color-ui-shade, .3);
  }

  thead th:first-of-type,
  tbody td:first-of-type {

    @include tablet {
      width: 68.1%;
    }

  }

  thead th:last-of-type,
  tbody td:last-of-type {

    @include tablet {
      width: 20%;
    }

  }

  thead th {
    font-size: 1.125rem; //18px
  }

  tbody td:first-of-type,
  thead th:first-of-type {
    border-right: 1px solid rgba($color-ui-shade, .3);
  }

  > thead > tr > th:first-of-type,
  > tbody > tr > td:first-of-type {
    padding-left: 0;
    border-left: 0;
  }

  > thead > tr th {
    border-bottom: 1px solid $color-ui-shade;
  }

}
