.o-hero {
  @extend %no-repeat;
  @extend %bg-center;
  @extend %bg-cover;
  position: relative;
  height: 300px;
  margin-bottom: 1.875rem;

  &:after {
    @extend %absoluteFull;
    content: '';
    display: block;
    opacity: .79;
    background-image: linear-gradient(-156deg, $brand-primary 27%, $brand-secondary 75%);
  }

  &_title {
    z-index: 1;
    max-width: 350px;
    text-shadow: 0 0 5px rgba($black, .5);
  }

  @include tablet {
    height: 400px;
  }

  @include laptop {
    height: 377px;

    &_title {
      margin-bottom: 100px;
    }

  }

  @include desktop {
    height: 400px;
  }

}
