.o-hexis {
  display: inline-block;

  &_wrapper {
    @include transition(opacity, 300ms);
    opacity: .6;

    &:hover {
      opacity: 1;
    }

  }

  &_a {
    display: block;
  }

  &_img {
    height: 2rem;
  }

  &_rent {
    color: $hexis-gray;
    font-size: .8125rem; // 13px
  }

}
