$inquiry-page-table-cell-padding-y: 10px;
$inquiry-page-table-cell-padding-x: 8px;
$inquiryTableHeadBackground: transparent;
$inquiryTableHeadColor: transparent;

.o-inquiryPageTable {
  margin-bottom: 0;

  &-charges_wrapper {
    border: 1px solid $asset-separator-light;
    border-radius: 5px;
  }

  td, th {
    padding: $inquiry-page-table-cell-padding-y $inquiry-page-table-cell-padding-x;
    border: 1px solid $asset-separator-light;
    vertical-align: middle;
    border-right: 0;
    border-left: 0;

    &:first-of-type {
      text-align: left;
    }

    &:not(:first-of-type) {
      text-align: right;
    }

  }

  tbody tr:last-of-type td {

    @include tablet {
      border-bottom: 0;
    }

  }

  thead {

    th {
      border-bottom: 1px solid $asset-separator-light;
      background-color: $inquiryTableHeadBackground;
      color: $black;
      border-top: 0;
    }

  }

}

#inquiry-details-priceNotAvailable {
  @include font-size(14);
  color: $brand-active;
}

.o-inquiryPageTable-price {
  margin-bottom: 0;

  tfoot {

    td {
      border: 0;
      font-weight: $font-weight-bold;
    }

  }

}

@include tabletDown {

  .o-inquiryPageTable {

    td {
      display: block;
    }

    thead,
    td:empty,
    tfoot td:first-of-type {
      display: none!important;
    }

    td:first-of-type {
      border-top: 0;
      background-color: $inquiryTableHeadBackground;
      color: $black;
      font-weight: $font-weight-bold;
    }

    td:not(:first-of-type) {
      position: relative;
      border-top: 0;
      text-align: right;

      &:after {
        content: attr(data-label);
        position: absolute;
        top: 0;
        bottom: 0;
        left: $inquiry-page-table-cell-padding-y;
        height: 1em;
        margin: auto 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 30%;
        bottom: 0;
        width: 1px;
        background-color: $asset-separator-light;
      }

    }

  }

}

@include tabletPlus {

  .o-inquiryPageTable-charges {

    th, td {

      &:last-of-type {
        width: 24%;
      }

    }

  }

}

@include desktop {

  .o-inquiryPageTable-charges {

    th, td {

      &:last-of-type {
        width: 35%;
      }

    }

  }

}
