// Logo
.o-logo {

  &_img-small {
    display: block;
    width: 90px;
  }

  &_img-big {
    display: none;
  }

  .o-mainFooter & {
    display: inline-block;
  }

  @include tablet {

    &_img-small {
      display: none;
    }

    &_img-big {
      display: block;
    }

  }

}
