// Main Header
.o-mainHeader {
  border-bottom: 5px solid $brand-secondary-light;
  background-color: $white;

  &_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: $white;
  }

}
