// Main navigation
// // HMTL structure use from Aurora travel website

// Links padding
$nav-item-padding: 1rem;

// Nth last items for different drop orientation (change value in 'c-icon' partial also)
$nth-last-child-item: 3;

.o-mainNav {
  display: flex;
  align-items: center;

  &_item.-sub {
    position: relative;
  }

  &_langList {
    position: absolute;
    z-index: 3;
    top: 100%;
    right: -7px;
    display: flex;
    flex-direction: column;
    background-color: $color-ui-light;
    opacity: 0;
    box-shadow: 0 0 15px 0 rgba($black, .09);
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 350ms;

    &.-active {
      opacity: 1;
      pointer-events: all;
    }

  }

  &_subList {
    display: flex;
    flex-direction: column;
  }

  @include laptopDown {

    &_list {
      position: absolute;
      z-index: 2;
      top: calc(100% + 5px);
      right: -15px;
      left: -15px;
      display: flex;
      flex-direction: column;
      height: 100vh;
      border-top: 1px solid rgba($black, .06);
      background-color: $white;
      overflow: hidden;
      opacity: 0;
      transform: translateX(-100%);
      pointer-events: none;
      transition: transform 400ms, opacity 500ms;

      &.-active {
        transform: translateX(0);
        overflow: scroll;
        opacity: 1;
        pointer-events: all;
      }

    }

    &_subList {
      max-height: 0;
      overflow: hidden;
      background-color: rgba($black, .015);
      box-shadow: inset 0 0 15px 0 rgba($black, .05);
      transition: max-height ease-in-out 500ms;

      &.-active {
        max-height: 62.5rem;
      }

    }

    &_item,
    &_subItem:not(:last-child) {
      border-bottom: 1px solid rgba($black, .1);
    }

  }

  @include laptop {

    &_listTrigger {
      display: none;
    }

    &_list {
      display: flex;
      flex-direction: row;
    }

    &_item {

      &:hover,
      &:active {
        background-color: rgba($black, .03)
      }

    }

    &_item.-sub {
      display: flex;
      flex-direction: column;
      padding-right: 0.438rem;

      &:hover > .o-mainNav_subList {
        opacity: 1;
        pointer-events: all;
      }

    }

    &_subList {
      @include transition(opacity, 300ms);
      position: absolute;
      z-index: 3;
      top: 100%;
      left: 50%;
      min-width: 6.25rem;
      background-color: $white;
      box-shadow: 0 0 15px 0 rgba($black, .09);
      opacity: 0;
      pointer-events: none;
      white-space: nowrap;
      transform: translateX(-50%);
    }

    &_langItem:hover > .o-mainNav_langList,
    &_currencyItem:hover > .o-mainNav_langList {
      opacity: 1;
      pointer-events: all;
    }

  }

}
