.o-modal {

  .modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }

  .modal-content {
    border: 0;
  }

  &_img {
    width: 7rem;
    height: 7rem;
    margin-top: -3.125rem;
    border-radius: 5px;
    border: 3px solid $white;
  }

  &_shareLink {
    @extend %cursor-pointer;
    border-bottom: 2px solid $brand-secondary;
  }

  .modal-body {
    padding: 0 2.375rem 2.375rem 2.375rem;
  }

  &_shareLink_trigger {
    @extend %absoluteFull;
    @extend %cursor-pointer;
    width: 100%;
    height: 100%;
  }

  @include tablet {

    .modal-dialog {max-width: 710px;}

  }

}
