.o-menuToggle {
  @extend %cursor-pointer;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
  padding: 1.125rem;
  border: 1px solid $color-text-neutral;
  border-radius: 10px;

  span {
    @include transition(all, .25s, ease-in-out);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    display: block;
    width: calc(100% - 10px);
    height: 1px;
    border-radius: 9px;
    margin: auto;
    background-color: $color-text-neutral;
    opacity: 1;

    &:before, &:after {
      @include transition(all, .25s, ease-in-out);
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      border-radius: 9px;
      background-color: $color-text-neutral;
      opacity: 1;
      transform: rotate(0deg);
    }

    &:before {
      top: -7px;
    }

    &:after {
      top: 8px;
    }

  }

  &.-active span {
    background-color: transparent;
    left: 8px;

    &:before, &:after {
      top: 0px;
      left: -3px;
    }

    &:before {
      transform: rotate(135deg);
    }

    &:after {
      transform: rotate(-135deg);
    }

  }

  @include laptop {
    display: none;
  }

}
