.o-map {

  &.active{
    display: block;
  }

  // TODO: Adjust after implementation
  iframe {
    border-radius: 5px;
    min-height: 230px;
  }

  .p-search & {
    display: none;
    height: 31.25rem;

    @include desktopDown {

      &.active {
        display: block;
      }

    }

    @include laptop {
      height: 700px;
    }

    @include desktop {
      position: absolute;
      top: 0;
      left: 102%;
      display: block;
      width: 100%;
      height: 100%;
    }

  }

}
