.o-searchToggle {
  @extend %cursor-pointer;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
  padding: 1.125rem;
  border: 1px solid $color-text-neutral;
  border-radius: 10px;

  .p-search & {
    pointer-events: none;
    opacity: .25;
  }

  span {
    @include transition(all, .25s, ease-in-out);
    position: absolute;
    top: 7px;
    left: 7px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $color-text-neutral;

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
    }

    &:before {
      top: 16px;
      left: 10px;
      width: 10px;
      background-color: $color-text-neutral;
      transform: rotate(45deg);
      transition: width 200ms;
    }

    &:after {
      top: 10px;
      left: -4px;
      width: 28px;
      background-color: transparent;
      transition: background-color 200ms, transform 200ms;
    }

  }

  &.-active span {
    border-color: transparent;

    &:before {
      top: 10px;
      left: -4px;
      width: 28px;
    }

    &:after {
      background-color: $color-text-neutral;
      transform: rotate(-45deg);
    }

  }
  
  @include laptop {
    display: none;
  }

}
