.o-slider {

  .swiper-slide {
    @extend %bg-cover;
    @extend %bg-center;
    @extend %no-repeat;
    min-height: 15rem;
  }

  .swiper-pagination-bullet {
    width: 3rem;
    height: .488rem;
    border-radius: 0;
    opacity: 1;
    background-color: $white;
    box-shadow: 0 0 20px rgba($black, .1), 0 3px 6px rgba($black, .23);
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $brand-secondary;
  }

  @include tablet {

    .swiper-slide {
      min-height: 25rem;
    }

  }


  @include laptop {

    .swiper-slide {
      min-height: 34.375rem;
    }

  }

}
