.o-separatedList {

  &_item:not(:last-child) {
    padding-right: .688rem;
    margin-right: .688rem;

    .o-separatedList-white & {
      border-right: 1px solid $white;
    }

    .o-separatedList-neutral & {
      border-right: 1px solid $color-text-neutral;
    }

  }

}
