.o-sidebar {

  &_form,
  &_suggest {
    background-color: $white;
  }

  &_form,
  &_table_wrapper {
    border: 1px solid $color-ui-shade;
    border-radius: 5px;
    padding: 1.188rem;
  }

  &_suggest {
    min-height: 7.813rem;
    border-radius: 5px;
    border: 1px solid $brand-secondary;
  }

  &_suggest &_item-img {
    @extend %no-repeat;
    width: 15rem;
    background-image: url('../media/app/bgSuggest.png');
    background-position: right;
  }

  &_suggest &_item-img .like {
    @extend %no-repeat;
    @extend %bg-center;
    height: 100%;
    background-image: url('../media/app/like.svg');
    background-size: 70px;
  }

  @include tablet {

    @include laptopDown {

      &_suggest {
        min-height: 4.375rem;
      }

      &_suggest &_item-text {
        flex-direction: row!important;
        justify-content: space-between!important;
        align-items: center!important;
      }

      &_suggest &_item-img {
        width: 10rem;
      }

      &_suggest &_item-img .like {
        background-size: 45px;
      }

    }

  }

  @include laptop {

    &_wrapper {
      order: 1;
    }

  }

}
