.o-searchForm {
  position: absolute;
  z-index: 2;
  top: calc(100% + 5px);
  right: -15px;
  left: -15px;
  height: 100vh;
  padding: 0 15px;
  background-color: $white;
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;
  transition: transform 400ms, opacity 500ms;

  &.-active {
    transform: translateX(0);
    overflow: scroll;
    opacity: 1;
    pointer-events: all;
  }

  &_list {
    display: none;

    &.active {
      display: flex;
    }

  }

  &_tabs {
    border: 1px solid $color-ui-tint;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
  }

  .o-sidebar &_tabs {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &_tabsItem {
    flex: 1 1 100%;
    text-align: center;

    &:first-child {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 1px;
        background-color: $color-ui-tint;
      }

    }

  }

  &_item {
    position: relative;
    background-color: $white;

    &:not(.btn) {
      border-top: 1px solid $color-ui-tint;
      border-right: 1px solid $color-ui-tint;
      border-left: 1px solid $color-ui-tint;
    }

    &:nth-last-child(2) {
      border-bottom: 1px solid $color-ui-tint;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      overflow: hidden;
    }

    &.btn {
      margin-top: 10px;
    }

  }

  &_list-night &_item:first-child {
    width: 100%;
  }

  .o-sidebar_form &_list {
    border: 0;
  }

  .o-sidebar &_item {
    border: 0!important;
    width: 100%;
  }

  .o-sidebar_form &_item_wrapper {
    border: 1px solid $color-ui-tint!important;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0.313rem;
  }

  .o-sidebar &_item:nth-child(odd):not(:last-child):after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;
    display: block;
    width: 1px;
    background-color: $color-ui-tint;
  }

  .p-search & {
    top: calc(100% + 35px);
    z-index: 1;
    height: auto;
    overflow: hidden;
    background-color: transparent;
    opacity: 1;
    pointer-events: all;
  }

  &_searchPage {
    position: relative;
    height: 450px;
    background-color: $color-ui-light;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      background-color: $color-ui-light;
    }

    &:before {
      right: -40%;
      width: 40%;
    }

    &:after {
      left: -100%;
      width: 100%;
    }

  }

  @include laptopDown {

    .p-search & {
      transform: none;
    }

  }

  @include tablet {

    &_item {
      width: 50%;

      &.btn {
        width: 100%;
      }

      &:nth-child(odd):not(:last-child) {
        border-right: 0;

        &:after {
          content: '';
          position: absolute;
          top: 10px;
          right: 0;
          bottom: 10px;
          display: block;
          width: 1px;
          background-color: $color-ui-tint;
        }

      }

      &:nth-child(even) {
        border-left: 0;
      }

      &:nth-last-child(2) {
        border-bottom-left-radius: 0;
      }

      &:nth-last-child(3) {
        border-bottom: 1px solid $color-ui-tint;
        border-bottom-left-radius: 5px;
      }

    }

    &_searchPage {
      height: 300px;
    }

  }

  @include tabletOnly {

    &_list-night &_item:first-child:after,
    &_list-night &_item:nth-child(3):after {
      content: none;
    }

    &_list-night &_item:first-child,
    &_list-night &_item:nth-child(3) {
      border-right: 1px solid $color-ui-tint;
    }

    &_list-night &_item:nth-child(2) {
      border-right: 0;
      border-left: 1px solid $color-ui-tint;

      &:after {
        content: '';
        position: absolute;
        top: 10px;
        right: 0;
        bottom: 10px;
        display: block;
        width: 1px;
        background-color: $color-ui-tint;
      }

    }

    &_list-night &_item:nth-child(3) {
      border-left: 0;
    }

  }

  @include laptop {
    display: none;
    top: 300px;
    right: auto;
    left: 50%;
    width: 880px;
    height: auto;
    background-color: transparent;
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%);

    .p-homepage &,
    .p-search & {
      display: block;
    }

    &_list {
      border: 1px solid $color-ui-tint;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &_item {
      flex: 1 1 100%;
      border: 0!important;

      &:nth-last-child(2) {
        border-bottom-right-radius: 0;
      }

      &:nth-last-child(3) {
        border-bottom-left-radius: 0;
      }

      &.btn {
        flex: 1 1 100%;
        padding-right: 10px;
        margin: 0;
      }

      &:nth-child(even):not(:last-child):after {
        content: '';
        position: absolute;
        top: 10px;
        right: 0;
        bottom: 10px;
        display: block;
        width: 1px;
        background-color: $color-ui-tint;
      }

    }

    .p-search & {
      width: 100%;

      &_list {
        overflow: hidden;
      }

    }

    &_searchPage {
      height: 170px;
    }

  }

  @include desktop {

    .p-search & {
      left: -15px;
      width: 950px;
      transform: none;
    }

  }

}
