.table-offer {

  tbody,
  tfoot {

    > tr td:nth-child(2) {
      text-align: right;
    }

  }

  tbody > tr:first-child td {
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px $color-ui-shade;
  }

  tbody > tr:first-child td,
  tfoot td {
    @include font-size(18);
    font-weight: $font-weight-bold;
  }

  tbody > tr:not(:last-of-type) td {
    border-bottom: 1px solid $color-ui-shade;
  }

  tbody > tr:last-of-type td {
    border-bottom: 0;
  }

  tbody > tr:first-of-type td {
    border-bottom: 0;
  }

  tfoot > tr:last-child td {
    border-top: 1px solid darken($color-ui-shade, 20.78);
    white-space: nowrap;
  }

  td {
    border: 0;
  }

  td + td {
    border-left: 1px solid $color-ui-shade;
    text-align: right;
  }

  tfoot td + td {
    border-left: 0;
  }

  tbody + tbody {
    border-top: 0;
  }

  @include tablet {

    td + td {
      width: 30%;
    }

  }

  @include tabletPlus {

    td + td {
      width: 25%;
    }

  }

}

.table-advancedPayment,
.table-remainingPayment {
  table-layout: fixed;

  tbody tr:last-of-type td {
    border-bottom: 1px solid darken($color-ui-shade, 20.78);
  }

  td + td {
    width: 50%;
  }

}
