// Toggle CSS hack for show/hide effect
.o-toggle {

  &_trigger[type=checkbox] {
    @extend %hiddenHack;
  }

  &_label {
    @extend %user-select;
    @extend %cursor-pointer;

    .first {
      display: block;
    }

    .second {
      display: none;
    }

  }

  &_body {
    @include transition();
    max-height: 0;
    overflow: hidden;
  }

  &_trigger[type=checkbox]:checked ~ &_body {
    max-height: 1000px;
  }

  &_trigger[type=checkbox]:checked ~ &_label .first {
    display: none;
  }

  &_trigger[type=checkbox]:checked ~ &_label .second {
    display: block;
  }

  &_trigger[type=checkbox]:checked ~ .o-goodPractice_desc {
    max-height: 1000px;
    overflow-y: scroll;

    &:after {
      height: 0;
    }

  }

}
