<!-- htmlmin:ignore -->
<table class="mainFooter-wrapper">
  <tbody>
    <tr>
      <td class="mainFooter-content">
        <container>
          <row>
            <columns small="12">
              <table class="company-info">
                <tbody>
                  <tr>
                    <td class="company-name"><strong>companyName</strong></td>
                  </tr>
                  <tr>
                    <td>companyAddress</td>
                  </tr>
                  <tr>
                    <td>companyLocation</td>
                  </tr>
                  <tr>
                    <td>companyCountry</td>
                  </tr>
                </tbody>
              </table>
            </columns>
            </row>
          <!--<row>-->
            <!--<columns small="12">-->
              <!--<table class="working-hours">-->
                <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>-->
                      <!--<strong>Summer working hours:</strong>-->
                    <!--</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>Monday&nbsp;&ndash;&nbsp;Wednesday: 08:00&nbsp;&mdash;&nbsp;16:00</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>-->
                      <!--&nbsp;-->
                    <!--</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>-->
                      <!--<strong>Winter working hours:</strong>-->
                    <!--</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>Monday&nbsp;&ndash;&nbsp;Wednesday: 08:00&nbsp;&mdash;&nbsp;16:00</td>-->
                  <!--</tr>-->
                <!--</tbody>-->
              <!--</table>-->
            <!--</columns>-->
          <!--</row>-->
          <row>
            <columns small="12">
              <table class="contact-info">
                <tbody>
                  <tr>
                    <td class="key">
                      Tel&#46;&#58;&nbsp;<a href="tel:+38551604400">+385 51 604 400</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="key">
                      Fax&#46;&#58;&nbsp;<a href="tel:+38551604400">+385 51 604 400</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="key">
                      Cellphone&#58;&nbsp;<a href="tel:+38551604400">+385 51 604 400</a>
                    </td>
                    </tr>
                  <tr>
                    <td class="key">
                      Email&#58;&nbsp;<a href="mailto:info@mail.hr">info@mail.hr</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="key">
                      Web&#58;&nbsp;<a href="http://text.com">http://text.com</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="key">
                      Connect with us&#58;<br><br>
                      <a class="icon social" href=""><img src="../assets/img/facebook.png" alt="Facebook"></a>
                      <a class="icon social" href=""><img src="../assets/img/twitter.png" alt="Twitter"></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p class="text-center copyright">Copyright © 2017 companyName</p>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p class="text-center hexis"><a href="#"><img src="../assets/img/hexis.png" alt="Hexis"></a></p>
            </columns>
          </row>
        </container>
      </td>
    </tr>
  </tbody>
</table>
<!-- htmlmin:ignore -->
