<!doctype html>{% set ga = 'UA-33838473-6' %}
<html amp lang='en' class='h'>
  <head>
    <meta charset='utf-8'>
    <script async src='https://cdn.ampproject.org/v0.js'></script>
    <script async custom-element='amp-analytics' src='https://cdn.ampproject.org/v0/amp-analytics-0.1.js'></script>
    <meta name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1'>
    <title>{{ pageTitle }}</title>
    {% block meta %}{% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&amp;subset=latin-ext' rel='stylesheet'>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
      <!-- inject:/public/amp/css/{{ pageCSS }}.min.css -->
      <!-- endinject -->
    </style>
    {% block headScripts %}{% endblock %}

    <!-- MICRODATA -->
    <script type='application/ld+json'>
      {
        "@context": "http://schema.org",
        "@type": "Product",
        "url": "https://bs.hexis.hr/",
        "name": "Goldfish | Tailor-made Booking System",
        "description": "All you need for modern booking.",
        "brand": {
          "@type": "Organization",
          "name": "Hexis j.d.o.o.",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Rijeka, Croatia",
            "postalCode": "51000",
            "streetAddress": "Pomerio 18"
          },
          "telephone": "+385 (51) 688 365"
        }
      }
    </script>
  </head>
  <body class='{{ bodyClass }}'>
    <amp-state id='goldfish'>
      <script type='application/json'>
        {
          "globalClass": ""
        }
      </script>
    </amp-state>

    <!-- ANALYTICS SETUP -->
    <amp-analytics config='https://www.googletagmanager.com/amp.json?id=GTM-5C45DL5&gtm.url=SOURCE_URL' data-credentials='include'></amp-analytics>
    <amp-analytics type='googleanalytics'>
      <script type='application/json'>
        {
          "vars": {
            "account": "{{ ga }}"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
      </script>
    </amp-analytics>

    <!-- PAGE ANALYTICS -->{% block pageAnalytics %}{% endblock %}

    <div [class]='globalClass'>
      <div class='wrapper {{ wrapperClass }}'>
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
