.o-voucherInfoTable {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  line-height: 1.4;

  td {
    vertical-align: top;
  }

  td td {
    padding-top: .3rem;
  }

  td td + td {
    padding-left: 1rem;
  }

  @include laptopDown {

    > tbody > tr > td {
      display: block;
    }

  > tbody > tr > td + td {
    padding-top: 2rem;
  }

  }

  @include laptop {

    > tbody > tr > td + td {
      padding-left: 1rem;
    }

  }

}

