.o-headerContentList {

  &_item {
    padding-top: 1rem;
  }

}

.o-headerContentList-4 {

  &_item {}

}

@include tabletPlus {

  .o-headerContentList {
    display: table;

    &_item {
      display: table-cell;
      vertical-align: top;
    }

  }

  .o-headerContentList-2 {

    .o-headerContentList_item {
      width: 50%;
    }

  }

  .o-headerContentList-4 {

    .o-headerContentList_item {
      display: inline-block;
      width: 50%;
    }

  }

}

@include laptop {

  .o-headerContentList-4 {

    .o-headerContentList_item {
      width: 25%;
      padding-top: 0;
    }

  }

}
