.o-instructions {
  line-height: 1.4;

  &_dt {
    font-weight: $font-weight-medium;
  }

  &_dd {
    margin: 0 0 1rem;
  }

  &_dt,
  &_dd {

    @include print {
      @include font-size(14);
    }

  }

}
