// Neutral colors
$white: #ffffff;
$black: #000000;

$yellow: #F6A600;

// Brand Primary
$brand-primary: #EE9817;

$brand-primary-dark: darken(desaturate(adjust-hue($brand-primary, -12), 18.85), 19.80);
$brand-primary-darken: darken(desaturate(adjust-hue($brand-primary, -10), 21.96), 8.24);
$brand-primary-darkest: lighten(desaturate(adjust-hue($brand-primary, -5), 5.70), 6.27);

$brand-primary-light: lighten(saturate(adjust-hue($brand-primary, 3), 1.75), 15.88);
$brand-primary-lighten: lighten(saturate(adjust-hue($brand-primary, 6), 0.81), 27.45);
$brand-primary-lightest: lighten(saturate(adjust-hue($brand-primary, 6), 4.56), 40.20);
$brand-primary-mostLightest: lighten(saturate(adjust-hue($brand-primary, 1), 2.54), 45.29);

// Brand Secondary
$brand-secondary: #00AAE4;

$brand-secondary-dark: darken(desaturate(adjust-hue($brand-secondary, 7), 21.74), 17.65);
$brand-secondary-darken: darken(desaturate(adjust-hue($brand-secondary, 6), 26.53), 6.27);
$brand-secondary-darkest: lighten(desaturate(adjust-hue($brand-secondary, 2), 25.41), 7.45);

$brand-secondary-light: lighten(desaturate(adjust-hue($brand-secondary, -4), 16.08), 16.27);
$brand-secondary-lighten: lighten(desaturate(adjust-hue($brand-secondary, -6), 13.95), 30.00);
$brand-secondary-lightest: lighten(desaturate(adjust-hue($brand-secondary, -7), 18.52), 44.71);
$brand-secondary-mostLightest: lighten(desaturate(adjust-hue($brand-secondary, -6), 17.39), 50.78);


// Brand States
$brand-active: $brand-primary;
$brand-accented: $brand-secondary;
$brand-focused: #5681BE;
$brand-success: #72B12E;
$brand-warning: #E2C94B;
$brand-danger: #FA767A;


// Text colors
$color-text-neutral: #6C7980;
$color-text-neutral-light: #AFB6B9;
$color-headings-neutral: #4B4B4B;


// UI colors
$color-ui-transparent: transparent;
$color-ui-light: #ffffff;
$color-ui-tint: #EBEBEB;
$color-ui-shade: #CCCCCC;
$color-ui-dark: #3C3C3C;
$color-ui-link: $brand-accented;

// Assets
$asset-separator-light: #E6E6E6;

// Table
$tableHeader: #D9E8F2;
$tableBorder: #AECEDE;

// Logo
$hexis-gray: rgba($white, .4);
