/****

  ## jQuery Datepicker Custom Styles

  - if displaying multiple months (constantly) that are not hidden or called, wrap them
    in a DIV containing a class "availabilityCalendar"
  - define your: Cell, Calendar, Datepicker settings per design
  - in general "Calendar Styles" should be changed only if variable inside settings blocks
    was not defined


  ## Table of Contents
    1. Cell Settings
    2. Calendar Settings
    3. Datepicker Settings
    4. Calendar Styles

********/


/*------------------------------------------------------------------------------------
  1. CELL SETTINGS
------------------------------------------------------------------------------------*/

// Last update: 5.12.2017 - added flex to calendar elements

// Cell state: Default
  $cellWidth: 42px; // width
  $cellHeight: 40px; // height
  $cellFontSize: 0.875rem; // font size
  $cellFontWeight: $font-weight-regular; // font weight
  $cellColor: $color-text-neutral; // color
  $cellBackground: $white; // background
  $cellBorderColor: #F6F7F7; // border color
  $cellBorderRadius: 6px; // border radius

// Cell state: Today
  $todayColor: $color-text-neutral; // text color
  $todayBorderColor: $brand-secondary-darken; // border color

// Cell state: Current Day
  $currentDayBackground: $brand-secondary-mostLightest; // background color
  $currentDayColor: $brand-secondary-darken; // text color

// Cell state: Unselectable
  $unselectableDayColor: $color-text-neutral-light; // color

// Cell Unavailable Background
  $cellUnavailableBackground: $brand-secondary-darken; // background
  $cellUnavailableColor: $white; // color

// Cell Unavailable Background Begin
  $cellUnavailableBegin: $cellUnavailableBackground linear-gradient(125deg, $cellBackground 0%,
    $cellBackground 60%, $cellUnavailableBackground 61%, $cellUnavailableBackground 100%);

// Cell Unavailable Background End
  $cellUnavailableEnd: $cellUnavailableBackground linear-gradient(125deg, $cellUnavailableBackground 0%,
    $cellUnavailableBackground 40%, $cellBackground 41%, $cellBackground 100%);


/*------------------------------------------------------------------------------------
  2. CALENDAR SETTINGS
------------------------------------------------------------------------------------*/

$calendarMonthWidth-lg: 365px; // month block width
$calendarMonthWidth-lgp: $calendarMonthWidth-lg; // month block width
$calendarMonthMargin: 1rem; // month block margin
$calendarPadding: 0 21px; // calendar padding in regards to Arrows (should be the same as width of your arrows)

$calendarLeftIcon: '../media/app/calendar-prev.svg'; // calendar left (prev) arrow
$calendarRightIcon: '../media/app/calendar-next.svg'; // calendar right (next) arrow
$calendarIconWidth: 20px; // width of the icon(s)
$calendarIconHeight: 40px; // height of the icon(s)


/*------------------------------------------------------------------------------------
  3. DATEPICKER SETTINGS (Calendar that pops out from forms)
------------------------------------------------------------------------------------*/

$datepickerShadow: 1px 3px 4px rgba(0, 0, 0, 0.2); // shadow (to make him stand out)

// Select Form in headline of Datepicker
$calendarSelectImage: '../media/app/chevron-calendar.svg'; // image to display select dropdown
$calendarSelectImageWidth: 11px; // image width
$calendarSelectImageHeight: 4px; // image height




/*------------------------------------------------------------------------------------
  4. CALENDAR STYLES
------------------------------------------------------------------------------------*/

.hasDatepicker {
  @include clearfix;
  font-size: 16px;

  .availabilityCalendar & {
    text-align: center;
  }

}

// TODO: remove after implementation
.availabilityCalendar.hasDatepicker {
  text-align: center;
}

.ui-datepicker-calendar {
  border-spacing: 0;

  td {
    padding: 0;
    border: 1px solid $cellBorderColor;
    border-spacing: 0;
    background-color: $white;
  }

}

// Calendar Controls
.ui-datepicker {
  display: none;
  width: auto !important;
  position: relative;
  background: $white;
  box-shadow: $datepickerShadow;
  z-index: 12!important;

  .availabilityCalendar & {
    display: inline-block !important;
    width: 100% !important;
    background: none;
    box-shadow: none;
    padding: 0 10px;

    @include tabletPlusDown {
      max-width: 100%;
      text-align: center;
    }

    @include tabletPlus {
      padding: $calendarPadding;
    }

  }

  &-next,
  &-prev {
    display: none;
    position: absolute;
    margin: auto;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-size: $calendarIconWidth/2 $calendarIconHeight/2;
    background-position: center;
    width: $calendarIconWidth/2;
    height: $calendarIconHeight/2;
    top: 0;

    @include mobilePlusDown {
      margin-top: 2rem;
    }

    @include tabletPlus {
      padding: 2rem;
    }

    &:hover {
      @extend %cursor-pointer;
    }

    .availabilityCalendar & {
      display: block;
      top: 48%;
      width: 19px;
      height: 34px;
      background-size: 19px 34px;
      transform: translateY(-50%);

      @include tablet {
        top: 52%;
      }

      @include desktop {
        top: 50%;
      }

    }

  }

  &-next {
    right: 0;
    background-image: url($calendarRightIcon);

    @include tabletOnly {
      right: -10px;
    }

  }

  &-prev {
    left: 0;
    background-image: url($calendarLeftIcon);

    @include tabletOnly {
      left: -10px;
    }

  }

  // Days
  &-today > a,
  &-today.ui-datepicker-current-day > a {
    box-shadow: inset 0 0 0 2px $todayBorderColor;
    border-radius: $cellBorderRadius;
    position: relative;
    font-weight: bold;
    color: $todayColor;
    background-color: $white;
  }

  &-current-day.not-available-begin a,
  &-current-day.not-available-end a {
    background: $currentDayBackground;
    color: $currentDayColor;
    border-radius: $cellBorderRadius;
  }

}

// Calendar Head
.ui-datepicker-title {
  font-size: 1em;
  padding-top: 0.75em;
  padding-bottom: .3rem;

  .availabilityCalendar & {
    font-size: 1rem; //16px
    text-transform: uppercase;
    text-align: center;
    font-weight: $font-weight-heading;
    color: $black;

    @include laptopDown {
      padding-bottom: 0;
    }

  }

  select, option {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
  }

  select::-ms-expand{
    display: none;
  }

  select {
    width: 40%;
    display: inline-block;
    padding: 0.2em 0.5em;
    margin: 0 5%;
    font-size: 0.70em;
    background-image: url($calendarSelectImage);
    background-repeat: no-repeat;
    background-size: $calendarSelectImageWidth $calendarSelectImageHeight;
    background-position: 96% 50%;
    border-radius: 3px;
    border: 1px solid $input-border-color;
  }

}

// Calendar Styles
.ui-datepicker-calendar{
  width: 100%;
  border-collapse: collapse;

  th {
    padding: 0.5em 0;
    color: $color-text-neutral;
    font-size: .875rem; // 14px
    font-weight: $font-weight-heading;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: 0;
  }

  td a {
    border: 0;
  }

  td.not-available a { border-radius: $cellBorderRadius }
  td.not-available-end a { border-radius: $cellBorderRadius 0 0 $cellBorderRadius}
  td.not-available-begin a { border-radius: 0 $cellBorderRadius $cellBorderRadius 0 }

}

// Group Styles
.ui-datepicker-group {
  margin: $calendarMonthMargin;
  display: inline-block;


  .availabilityCalendar & + & {

    @include tablet {
      margin-top: $calendarMonthMargin*2;
    }

  }

  .availabilityCalendar & {
    margin: 0 $calendarMonthMargin;

    @include desktop {
      margin: $calendarMonthMargin;
    }

  }

}

// Cell Date Styles
.ui-state-default {
  color: $cellColor;
  background-color: $cellBackground;
  font-size: $cellFontSize;
  width: $cellWidth;
  height: $cellHeight;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  .availabilityCalendar & {
    width: 39px;
    height: 39px;

    @include tablet {
      width: 77px;
      height: 77px;
    }

    @include laptop {
      width: 71px;
      height: 71px;
    }

    @include desktop {
      width: 51px;
      height: 51px;
    }

  }

  .ui-datepicker-unselectable &,
  .ui-state-disabled & {
    color: $unselectableDayColor;
  }

  .not-available &,
  .ui-datepicker-current-day & {
    background-color: $cellUnavailableBackground;
    color: $cellUnavailableColor;
    cursor: default;
  }

  .not-available-begin & {
    background: $cellUnavailableBegin;
    color: $cellColor;
    cursor: pointer;
  }

  .not-available-end & {
    background: $cellUnavailableEnd;
    color: $cellColor;
    cursor: pointer;
  }

}
