//Overrides for plugin rangeslider.js
.rangeSliderWrapper {
  position: relative;
  margin: 2rem 0;

  .rangeslider {
    position: relative;
    background: $brand-secondary-mostLightest;
    box-shadow: inset 0 2px 3px rgba($black, .1);

    &:hover {
      @extend %cursor-pointer;
    }

    &,
    &__handle,
    &__fill {
      border-radius: 6px;
    }

    &__fill {
      background: darken(adjust-hue($brand-secondary, 4), 10.59);
    }

    &__handle {
      top: -3px;
      width: 0;
      height: 26px;
      border: 0;
      box-shadow: none;
      z-index: 1;

      &:after {
        @extend %no-repeat;
        @extend %bg-center;
        @include font-size(22);
        content: '';
        position: absolute;
        left: -13.5px;
        width: 27px;
        height: 27px;
        border-radius: 6px;
        background-color: $brand-primary;
        background-image: url('../media/app/chevron-right.svg');
        background-size: 12px;
      }

    }

  }

  // used for separators
  table {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 20px;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;

    tr {
      counter-reset: rate-counter;
    }

    tbody {
      position: relative;

      &:before {
        @extend %absoluteY;
        content: '';
        left: auto;
        right: 5%;
        width: 1px;
        height: 55%;
        margin: auto;
        background: $color-ui-shade;
      }

    }

    td {
      position: relative;
      counter-increment: rate-counter;

      &:after,
      &:last-of-type:before {
        @include transition();
        position: absolute;
        bottom: calc(100% + 5px);
        transform: scale(1);
      }

      &:after {
        content: counter(rate-counter);
        left: -5px;
        font-weight: $font-weight-medium;
      }

      &:not(:last-of-type):before {
        @extend %absoluteFull;
        content: '';
        height: 55%;
        width: 1px;
        margin: auto;
        background: $color-ui-shade;
      }

      &:last-of-type:before {
        content: '10';
        right: -5px;
      }

      &.active:after,
      &.active-last:before {
        font-weight: $font-weight-bold;
        transform: scale(1.3);
      }

    }

    td + td {
      border-left: 1px solid $brand-secondary-light;
    }

  }

}
