<!--Load Main HTML Layout-->
{% extends "html/pdf/templates/base.html" %}

<!--Define Page Title-->
{% set pageTitle = 'Payment' %}

<!--Define body class-->
{% set bodyClass = 'p-payment' %}

<!--Main Content-->
{% block content %}

{% include "html/pdf/templates/header.html" %}

{% import "html/app/bits/form/input.html" as input %}

<main>
  <!-- For PDF use 'container-fluid' -->
  <div class="container">
    <div class="row">
      <div class="col">

        <div>
          <table class="o-tableInformations my-4 text-left">

            <thead class="mb-2">
              <tr>
                <th colspan="2">
                  <h1 class="c-ttl c-ttl-pg mb-1 text-uppercase">Offer #3334j34j4n3nkDdss</h1>
                </th>
              </tr>

              <tr>
                <td class="pt-2" colspan="2">
                  <strong class="mr-5">Offer date:</strong>16.12.2016.
                  <br><br>
                </td>
              </tr>
            </thead>

            <tbody>
              <tr>

                <td>
                  <strong>Full name</strong><br>
                  Captain Jack Sparrow
                  <br><br>

                  <strong>Full address</strong><br>
                  House second<br>
                  Haunted Hill 12344<br>
                  California
                  <br><br>

                  <strong>Email</strong><br>
                  someone@something.net
                  <br><br>

                  <strong>Cellphone</strong><br>
                  0987654321
                </td>

                <td>
                  <strong>Check in</strong><br>
                  01-03-2018
                  <br><br>

                  <strong>Check out</strong><br>
                  03-03-2018
                  <br><br>

                  <strong>Adults</strong><br>
                  5
                  <br><br>

                  <strong>Kids</strong><br>
                  7
                  <br><br>

                </td>

              </tr>
            </tbody>

          </table>
        </div>

        <div>
          <table class="table o-invoiceTable">

            <tbody class="thead">
              <tr>
                <th>Service</th>
                <th>Season</th>
                <th>From</th>
                <th>Till</th>
                <th class='text-right'>Applied</th>
                <th class='text-right'>Price</th>
                <th class='text-right'>Amount</th>
              </tr>
            </tbody>

            <!-- Object with multiple seasons START -->
            <tbody class="object object-multipleSeasons">
              <tr class="object-multipleSeasons_start">
                <td class="font-weight-bold">Apartmani Rea</td>
                <td data-label="Season">Season A</td>
                <td data-label="From">01.03.2017.</td>
                <td data-label="Till">10.03.2017.</td>
                <td class='text-right' data-label="Applied">3</td>
                <td class='text-right' data-label="Price">34.00 EUR</td>
                <td class='text-right' data-label="Amount">135.00 EUR</td>
              </tr>

              <!-- Second season START -->
              <tr class="object-multipleSeasons_start">
                <td></td>
                <td data-label="Season">Season B</td>
                <td data-label="From">01.06.2017.</td>
                <td data-label="Till">06.06.2017.</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <!-- If season contain second period START -->
              <tr>
                <td></td>
                <td></td>
                <td data-label="From">24.06.2017.</td>
                <td data-label="Till">30.06.2017.</td>
                <td class='text-right' data-label="Applied">2</td>
                <td class='text-right' data-label="Price">25.00 EUR</td>
                <td class='text-right' data-label="Amount">50.00 EUR</td>
              </tr>
              <!-- If season contain second period STOP -->

              <!-- Second season STOP -->

            </tbody>
            <!-- Object with multiple seasons STOP -->

            <!-- Object with one season START -->
            <tbody class="object object-oneSeason">
              <tr>
                <td class="font-weight-bold">Apartman Renata</td>
                <td data-label="Season">Season C</td>
                <td data-label="From">22.11.2017.</td>
                <td data-label="Till">26.11.2017.</td>
                <td class='text-right' data-label="Applied">2</td>
                <td class='text-right' data-label="Price">22.00 EUR</td>
                <td class='text-right' data-label="Amount">33.00 EUR</td>
              </tr>
            </tbody>
            <!-- Object with one season STOP -->

            <!-- Charge START -->
            <tbody class="charge">
              <tr>
                <td colspan="7">Mandatory charges</td>
              </tr>

              <tr>
                <td colspan="4">Booking fee</td>
                <td class='text-right' data-label="Applied">2</td>
                <td class='text-right' data-label="Price">2.00 EUR</td>
                <td class='text-right' data-label="Amount">5.00 EUR</td>
              </tr>

              <tr>
                <td colspan="4">Registration fee</td>
                <td class='text-right' data-label="Applied">99</td>
                <td class='text-right' data-label="Price">98.00 EUR</td>
                <td class='text-right' data-label="Amount">97.00 EUR</td>
              </tr>

              <tr>
                <td colspan="4">Cleaning fee</td>
                <td class='text-right' data-label="Applied">5</td>
                <td class='text-right' data-label="Price">4.00 EUR</td>
                <td class='text-right' data-label="Amount">3.00 EUR</td>
              </tr>
            </tbody>
            <!-- Charge STOP -->

            <!-- Charge START -->
            <tbody class="charge">
              <tr>
                <td colspan="7">Optional charges</td>
              </tr>

              <tr>
                <td colspan="4">Parking place</td>
                <td class='text-right' data-label="Applied">1</td>
                <td class='text-right' data-label="Price">11.00 EUR</td>
                <td class='text-right' data-label="Amount">111.00 EUR</td>
              </tr>

            </tbody>
            <!-- Charge STOP -->

            <!-- Discounts START -->
            <tbody class="charge">
              <tr>
                <td colspan="7">Discounts</td>
              </tr>

              <tr>
                <td colspan="4">Baby discount</td>
                <td class='text-right' data-label="Applied">2</td>
                <td class='text-right' data-label="Price">22.00 EUR</td>
                <td class='text-right' data-label="Amount">222.00 EUR</td>
              </tr>

            </tbody>
            <!-- Discounts STOP -->

            <!-- Actions START -->
            <tbody class="charge">
              <tr>
                <td colspan="7">Actions</td>
              </tr>

              <tr>
                <td colspan="4">First minute action</td>
                <td class='text-right' data-label="Applied">3</td>
                <td class='text-right' data-label="Price">33.00 EUR</td>
                <td class='text-right' data-label="Amount">333.00 EUR</td>
              </tr>

            </tbody>
            <!-- Actions STOP -->

            <tbody class="total font-weight-bold">
              <tr>
                <td colspan="4">Total</td>
                <td class="text-right" data-label="Total" colspan="3">123.23 EUR</td>
              </tr>
            </tbody>

          </table>
        </div>

        {# First version START #}
        <div class="o-tablePaymentInfo">
          <table class="o-tablePaymentInfo-basic relative w-100 mt-3">
            <tbody>
              <tr class="o-tablePaymentInfo_pdf mt-3">
                <td>
                  <strong>For the reservation of accommodation unit you already payed the advance
                     payment of amount 61.20 EUR. Remaining payment of amount 142.80 EUR till 01.03.2016.</strong>
                </td>

                <td class="text-lg-right mt-3">
                  <a class="c-link font-weight-bold color-secondary" href="#">Download PDF</a>
                </td>
              </tr>

              <tr>
                <td class="btn_wrapper pt-4" colspan="2">
                  <a class="c-btn c-btn-primary c-btn-mw250 w-100 mb-4 mr-3" href="#">Pay with Paypal</a>
                  <a class="c-btn c-btn-primary c-btn-mw250 w-100 mb-4" href="#">Pay with credit card</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {# First version STOP #}

      </div>
    </div>
  </div>

  <hr class="dark">

  <!-- For PDF use 'container-fluid' -->
  <div class="container">
    <div class="row">
      <div class="col">

        <section class="mt-4 pt-2">
          <h1 class="c-ttl c-ttl-lg text-uppercase">Instructions for paying via bank account</h1>

          <dl class="o-instructions">
            <dt class="o-instructions_dt">RECIPIENT</dt>
            <dd class="o-instructions_dd">Hotel Rosewood</dd>

            <dt class="o-instructions_dt">BANK</dt>
            <dd class="o-instructions_dd">Privredna Banka d.d. Zagreb, Rackoga 6, 10 000 Zagreb</dd>

            <dt class="o-instructions_dt">IBAN</dt>
            <dd class="o-instructions_dd">HR 12345678910485333</dd>

            <dt class="o-instructions_dt">SWIFT</dt>
            <dd class="o-instructions_dd">123456789</dd>

            <dt class="o-instructions_dt">DESCRIPTION OF PAYMENT</dt>
            <dd class="o-instructions_dd">#56C2F3AC10BED</dd>

            <dt class="o-instructions_dt">REFERENCE NUMBER</dt>
            <dd class="o-instructions_dd">56C2F3AC10BED</dd>
          </dl>
        </section>

      </div>
    </div>
  </div>

</main>

<!-- Modal security code -->
<!-- <div class="c-modal modal fade" id="modalSecurityNumber" tabindex="-1" role="dialog"
    aria-labelledby='modalSecurityNumberLabel' aria-hidden='true'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="modalSecurityNumberLabel">Modal title</h3>
      </div>
      <div class="modal-body">
        Text...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

{% endblock %}
