.o-banner {
  @extend %absoluteFull;
  z-index: 1;
  top: -20px;
  left: 23%;
  width: 54%;
  height: 30px;
  background-color: $red;
  border-radius: 3px;
  box-shadow: 0 2px 7px 0 rgba($black, .19);
}
