.o-contact {

  &_item {
    padding-left: 1.5rem;
    margin: .8rem 0;
  }

  &_item:before {
    @extend %absoluteFull;
    content: '';
    right: auto;
    width: 17px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &_item-tel:before {
    background-image: url("#{$path-media}icons/tel.svg");
  }

  &_item-mob:before {
    width: 13px;
    background-image: url("#{$path-media}icons/mob.svg");
  }

  &_item-mail:before {
    background-image: url("#{$path-media}icons/mail.svg");
  }

}
