.o-hero {
  @extend %bg-cover;
  @extend %no-repeat;
  height: 100vh;
  min-height: 48rem;
  z-index: 0;

  &:after {
    @extend %absoluteFull;
    content: '';
    z-index: -1;
  }

  .p-vacation & {
    background-image: url("#{$path-media}vacationRentals.jpeg");

    &:after {
      background-color: $vacation-bg-overlay;
    }

  }

  .p-hotels & {
    background-image: url("#{$path-media}hotels.jpeg");

    &:after {
      background-color: $hotels-bg-overlay;
    }

  }

  &_logo-wrapper {
    width: 100%;
  }

  @include laptop {

    &_logo-wrapper {
      width: 645px;
      height: 230px;
    }

  }

}
