.o-langSwitch {
  z-index: 1;
  justify-content: center;
  top: 0;
  right: 0;
  width: 100%;

  &_item {
    padding: 0 1rem;
    margin: .3rem 0;
    border-width: 1px;
    border-color: $white;
    border-right-style: solid;
  }

  &_item:last-child {
    border-right-style: none;
  }

  .p-intro & {
    z-index: 2;
  }

  @include laptop {

    .p-vacation &,
    .p-hotels & {
      width: auto;
    }

  }

}
