.o-mainFooter {
  @extend %bg-cover;
  @extend %no-repeat;
  z-index: 0;
  text-shadow: 0px 2px 5px rgba($black, .2);

  &:after {
    @extend %absoluteFull;
    content: '';
    z-index: -1;
  }

  &-splash {
    @extend %absoluteFull;
    @extend %no-repeat;
    background-position: center top;
    background-size: 350%;
  }

  .p-vacation &-splash {
    background-image: url("#{$path-media}splash-vacation.svg");
  }

  .p-hotels &-splash {
    background-image: url("#{$path-media}splash-hotels.svg");
  }

  &_title {
    flex-wrap: wrap;
    text-align: center;
  }

  &_title-text {
    margin-top: -4rem;
    margin-bottom: 3rem;
  }

  .p-thankYou-vacation &,
  .p-thankYou-hotels & {
    @extend %bg-center;
  }

  .p-vacation &,
  .p-thankYou-vacation & {
    background-image: url("#{$path-media}vacationRentals.jpeg");

    &:after {
      background-color: $vacation-bg-overlay;
    }

  }

  .p-hotels &,
  .p-thankYou-hotels & {
    background-image: url("#{$path-media}hotels.jpeg");

    &:after {
      background-color: $hotels-bg-overlay;
    }

  }

  @include tablet {

    &_title {
      text-align: left;
    }

  }

  @include laptop {

    &_title-text {
      margin-top: 0;
    }

  }

}
