.o-modal {
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90vh;
  margin: auto;
  border-radius: 8px;

  &_bg {
    @extend %absoluteFull;
    z-index: 1;
    background-color: rgba(lighten($black, 20), .8);
  }

  &_close {
    @extend %absoluteFull;
    bottom: auto;
    left: auto;
    width: auto;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
  }

  @media only screen and (min-width: 992px) and (min-height: 720px) {
    height: 630px;
    overflow: inherit;
  }

}
