.o-option {
  height: 50vh;

  &_hotels,
  &_vacation {
    @extend %bg-cover;
    @extend %no-repeat;
    @extend %bg-center;
    z-index: 1;

    &:after {
      @extend %absoluteFull;
      content: '';
      z-index: -1;
    }

  }

  &_hotels {
    background-image: url("#{$path-media}hotels.jpeg");

    &:after {
      background-color: $hotels-bg-overlay;
    }

  }

  &_vacation {
    background-image: url("#{$path-media}vacationRentals.jpeg");

    &:after {
      background-color: $vacation-bg-overlay;
    }

  }

  &_title {
    @extend %absoluteFull;
    z-index: 2;
    width: 70%;
    max-width: 730px;
    height: 100vh;
    margin: 0 auto;
    pointer-events: none;
  }

  &_item {
    align-self: center;
    width: 90%;
  }

  @media only screen and (min-width: $smallPlus-breakpoint) and (max-height: 650px) {

    &_title {
      width: 30%;
      white-space: nowrap;
      text-align: center;
    }

  }

  @media only screen and (max-width: $medium-breakpoint) and (min-height: 550px) {

    &_title {
      width: 80%;
    }

  }

  @include tablet {

    &_item {
      width: auto;
    }

  }

  @include laptop {
    height: 100vh;

    &_title {
      justify-content: flex-end;
      height: 60vh;
      width: 70%;
    }

    &_item {
      align-self: flex-end;
      margin-bottom: 2rem;
    }

  }

  @include desktop {

    &_item {
      margin-bottom: 6rem;
    }

  }

}
