.o-priceTable {
  @extend %cursor-pointer;
  overflow: hidden;
  border: 1px solid $orange;
  border-radius: 4px;

  &_cost {
    background-color: lighten($color-ui-tint, 5.49);
  }

  &_price-price {
    margin: 3px 0;
  }

  &.selected {
    box-shadow: 0px 0px 0px 2px $orange;

    .o-priceTable_cost {
      background-color: lighten($orange, 40);
    }

  }

  &.selected:after {
    @extend %absoluteFull;
    content: '';
    bottom: auto;
    left: auto;
    width: 33px;
    height: 31px;
    background-image: url("#{$path-media}icons/checked.svg");
    background-color: $orange;
    border-bottom-left-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include tabletDown {

    &_price-type {
      @include font-size(18);
    }

  }

}
