.o-rangeSlider {

  &_legend {
    @extend %no-repeat;
    @extend %bg-center;
    width: 67px;
    height: 47px;
    color: $color-ui-shade;
    background-image: url("#{$path-media}icons/slider_no-selected.svg");
    background-size: 100% 100%;

    & > span {
      margin-bottom: 10px;
    }

  }

  &_legend.selected {
    opacity: 1;
    color: $black;
    background-image: url("#{$path-media}icons/slider_selected.svg");
  }

  &_legend:not(:first-child):not(:last-child):after {
    @extend %absoluteFull;
    content: '';
    top: 140px;;
    width: 1px;
    height: 55px;
    border-left: 1px solid rgba($white, .3);
    margin: auto;
  }

  &_slider {
    -webkit-appearance: none;
    width: 96.5%;

    @include tabletDown {
      width: 90%;
      margin: auto;
    }

  }

  &_slider:focus {
    outline: none;
  }

  &_slider::-webkit-slider-runnable-track {
    width: 96.5%;
    border: 1px solid $black;
    height: 25px;
    border-radius: 6px;
    cursor: pointer;

    .p-vacation & {
      background: $vacation_blue;
    }

    .p-hotels & {
      background: $hotels_blue;
    }

  }

  &_slider::-webkit-slider-thumb {
    @extend %no-repeat;
    @extend %cursor-pointer;
    @extend %bg-center;
    position: relative;
    background-image: url("#{$path-media}icons/rangeThumb.svg");
    background-color: $white;
    border: 1px solid $black;
    height: 58px;
    width: 27px;
    border-radius: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16.7px;
  }

  &_slider:focus::-webkit-slider-runnable-track {

    .p-vacation & {
      background: $vacation_blue;
    }

    .p-hotels & {
      background: $hotels_blue;
    }

  }

  &_slider::-moz-range-track {
    width: 96.5%;
    border: 1px solid $black;
    height: 25px;
    border-radius: 6px;
    cursor: pointer;

    .p-vacation & {
      background: $vacation_blue;
    }

    .p-hotels & {
      background: $hotels_blue;
    }

  }

  &_slider::-moz-range-thumb {
    border: 1px solid $black;
    height: 58px;
    width: 27px;
    border-radius: 14px;
    cursor: pointer;
  }

  &_slider::-ms-track {
    border: 1px solid $black;
    height: 25px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &_slider::-ms-fill-lower {
    border-radius: 12px;

    .p-vacation & {
      background: $vacation_blue;
    }

    .p-hotels & {
      background: $hotels_blue;
    }

  }

  &_slider::-ms-fill-upper {
    border-radius: 12px;

    .p-vacation & {
      background: $vacation_blue;
    }

    .p-hotels & {
      background: $hotels_blue;
    }

  }

  &_slider::-ms-thumb {
    border: 1px solid $black;
    height: 25px;
    width: 25px;
    border-radius: 14px;
    background: $white;
    margin-top: 0;
    cursor: pointer;
  }

  &_slider:focus::-ms-fill-lower {

    .p-vacation & {
      background: $vacation_blue;
    }

    .p-hotels & {
      background: $hotels_blue;
    }

  }

  &_slider:focus::-ms-fill-upper {

    .p-vacation & {
      background: $vacation_blue;
    }

    .p-hotels & {
      background: $hotels_blue;
    }

  }

}
