.o-separatedList {
  text-align: center;

  &_item {
    padding: 0 1rem;
    margin: .3rem 0;
    letter-spacing: 1px;
  }

  @include laptop {
    display: table;

    .p-intro & {
      display: flex;
      margin-top: 2rem;
    }

    &_item {
      display: table-cell;
      vertical-align: middle;
      border-color: $white;
      border-width: 1px;
      border-right-style: solid;
    }

    &-lighterSep &_item {
      border-color: rgba($white,.31);
    }

    &_item:last-child {
      border-right-style: none;
    }

  }

}
