.o-amenities {

  &_checkedItem {
    @extend %no-repeat;
    padding-left: 1.5rem;
    background-position: left center;
    background-size: 16px;
  }

  &_item {
    @extend %no-repeat;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem; /* 8/16 */
    background-image: url('../media/app/amenities-check.svg');
    background-position: left 5px;
    background-size: 16px;
    color: #535353;

    @include laptopDown {

      .o-amenities_object &:nth-child(n+5) {
        display: none;
      }

    }

    &.-featured {
      background-image: url('../media/app/amenities-checked.svg');
      background-position: left center;
      color: $brand-primary;
      font-weight: $font-weight-semiBold;
    }

    .o-unit & {
      margin-bottom: 0.375rem; /* 6/16 */
    }

  }

  &_btn {
    @extend %absoluteFull;
    @extend %no-repeat;
    @extend %cursor-pointer;
    display: block;
    left: auto;
    width: 15%;
    height: 100%;
    margin: auto;
    background-image: url('../media/app/amenities_arrow.svg');
    background-position: right center;
    background-size: 11px 24px;
  }

  &_total {
    @include font-size(21);
    color: #535353;
  }

  &.-gift {

    .o-amenities_item {
      @extend %no-repeat;
      padding-left: 1.5rem;
      background-image: url('../media/app/gift.svg');
      background-position: left center;
      background-size: 16px;
      color: #2A6246;
    }

  }

  .o-modal &_item {
    flex: 1 1 50%;
  }

  .o-reservationForm_up &.-featured {

    @include tabletDown {
      flex-wrap: wrap;
      width: 70%;

      .o-amenities_item {
        flex: 1 1 50%;
      }

    }

  }

}
