.o-article {

  &_sub {
    color: rgba($white, .75);
  }

  &_list,
  &_filter {
    margin-top: 1rem;
  }

  @include laptopDown {

    &_about {
      display: flex;
      flex-direction: column;

      &Gallery {
        order: -1;
      }

      &Box {
        order: 1;
      }

    }

    &_desc {
      position: relative;
      overflow: hidden;
      height: 12.5rem; /* 200/16 */

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 4rem;
        background:linear-gradient(rgba($white, 0), $white);
      }

    }

  }

  @include laptop {

    &_sub {
      color: #E8EEFA;
    }

    &_left {
      min-height: 1200px;
    }

  }

}
