.o-attachmentList {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  &_item {

    &:not(:last-child){
      margin-bottom: 15px;
    }

  }

  @include tabletPlus {
    flex-direction: row;
    flex-wrap: wrap;
   
    &_item {
      max-width: 350px;

      @include mobilePlus {
        min-width: 320px;
      }

      &:not(:last-child) {
        margin-right: .9375rem;
      }

    }

  }

  a {
    @extend %no-repeat;
    display: block;
    padding: .9375rem .9375rem .9375rem 3.4375rem;
    border-radius: 3px;
    background-image: url('../media/app/fileExt_doc.svg');
    background-size: 27px 32px;
    background-position: 15px 50%;
    box-shadow: 0 1px 3px 0 rgba($black, .25);

    .file_name {
      width: 100%;
      max-width: 100%;
      color: #0A58FD;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .file_size {
      @include font-size(14);
      margin-top: 1px;
      color: #8E8E8E;
      text-transform: uppercase;
    }

  }

  //Images
  a[title$=".gif"],
  a[title$=".png"],
  a[title$=".jpeg"],
  a[title$=".jpg"]{
    background-image: url('../media/app/fileExt_img.svg');
  }

  ////Documents
  a[title$=".doc"],
  a[title$=".docx"],
  a[title$=".xls"],
  a[title$=".xlsx"],
  a[title$=".ppt"],
  a[title$=".pptx"],
  a[title$=".pages"],
  a[title$=".sxw"],
  a[title$=".sxi"],
  a[title$=".odp"],
  a[title$=".sdw"],
  a[title$=".ott"],
  a[title$=".odm"] {
    background-image: url('../media/app/fileExt_doc.svg');
  }

  //PDF
  a[title$=".pdf"],
  a[title$=".ppdf"],
  a[title$=".pdfx"],
  a[title$=".drmz"],
  a[title$=".pdf_"],
  a[title$=".pfl"] {
    background-image: url('../media/app/fileExt_pdf.svg');
  }

  //Compressed
  a[title$=".zip"],
  a[title$=".rar"]{
    background-image: url('../media/app/fileExt_compressed.svg');
  }

}
