.o-availabilityCalendar  {

  &_legend {
    display: none;

    &_item {
      position: relative;
      padding-left: 2.0625rem;

      + .o-availabilityCalendar_legend_item {
        margin-left: 1rem;
      }

      &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 29px;
        height: 29px;
      }

      &:first-child:before,
      &:last-child:before {
        border: 1px solid $brand-secondary-darken;
      }

      &:first-child {
        flex: 1;

        &:before {
          background-color: $white;
        }

      }

      &:last-child {
        flex: 2;

        &:before {
          background-color: $brand-secondary-darken;
        }

      }

    }

    @include mobileOnly {
      padding: 0 1.3125rem;
    }

    @include tablet {

      &_item:last-child {
        flex: 3;
      }

    }

    @include desktop {
      padding: 0 6.25rem;
    }

  }

}
