.o-breadcrumbs {
  margin-top: .9375rem;

  &_item + &_item {
    @extend %no-repeat;
    padding-left: 1rem;
    margin-left: .5rem;
    background-image: url('../media/app/slash-gray.svg');
    background-position: left center;
    background-size: 10px;
  }

  &_wrapper {
    position: absolute;
    z-index: 1;
  }

  @include laptopDown {

    &_wrapper {
      bottom: 5px;
    }

  }

  @include laptop {

    &_wrapper {
      top: -40px;
    }

    &_item + &_item {
      background-image: url('../media/app/slash.svg');
    }

  }

}
