.o-cardSlider {
  margin: -1px;
  padding: 1px;

  @include laptopDown {
    margin: 0 -.625rem;
    padding: 0 .625rem;
  }

  // Used for fixed layout until swiper JS is loaded
  .swiper-slide {
    width: 93.35%;
    margin-right: .625rem;

    @include tablet {
      width: 42.38%;
      margin-right: .9375rem;
    }

    @include laptop {
      width: 32.4%;
    }

  }

  .swiper-wrapper {
    padding-bottom: 3rem;

    @include tabletDown {
      padding-bottom: 2rem;
    }

  }

  .swiper-pagination {
    display: flex;
    justify-content: center;

    @include tabletDown {
      display: none;
    }

  }

  &_pagination {
    @extend %cursor-pointer;
    position: relative;
    padding: 1.563rem;

    &:after {
      @extend %absoluteFull;
      @include transition();
      content: '';
      height: 2px;
      margin: auto;
      background-color: $brand-primary;
      opacity: .25;
    }

    &:only-child {
      opacity: 0;
      visibility: hidden;
    }

  }

  &_pagination + &_pagination {
    margin-left: 3px;
  }

  &_pagination.swiper-pagination-bullet-active {
    background: transparent;
  }

  &_pagination.swiper-pagination-bullet-active:after {
    opacity: 1;
  }

}
