.o-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  transition: opacity 350ms, background-color 350ms, top 350ms;

  &.active {
    pointer-events: all;
    opacity: .92;

    &.menu {
      background-color: #152A57;
    }

    &.search {
      top: 60px;
      background-color: #F0F2F8;
    }

  }

  @include laptop {
    display: none;
  }

}
