.o-card {
  overflow: hidden;
  border-radius: .5rem; /* 8/16 */
  box-shadow: 0 .063rem .125rem 0 rgba($black, .12);

  &.-loading {
    @extend %no-repeat;
    background-image: url('../media/app/placeholder-objectCard.png');
    background-size: 100% 100%;
  }

  @include laptopDown {
    box-shadow: 0 5px 25px 0 rgba($black,0.08);
  }

  /* Blog / Preview (mobile): */
  .p-newsArticle &_blog.-compact {
    margin-bottom: 1.25rem;
  }

  &.-object {
    border-radius: 0;
    margin-bottom: 1.25rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);

    @include tabletPlusDown {

      .p-homepage & {
        border-top: 6px solid #E0E0E0;
        margin: 0 -.625rem;
      }

    }

    .p-eventArticle & {
      border-radius: .5rem; /* 8/16 */
      margin: 0;

      @include laptopDown {
        box-shadow: 0 5px 15px 0 rgba($black, .10);
      }

    }

    .o-search_mapWrapper & {
      z-index: 3;
      width: 100%;
      max-width: 365px;
      border-top: none;
      border-radius: 12px;
      background-color: $white;
      opacity: 0;
      box-shadow: 0 10px 40px 0 rgba($black, .15);
      pointer-events: none;
      transition: opacity 250ms;

      &.active {
        opacity: 1;
        pointer-events: all;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 45px;
        height: 41px;
        border-bottom-left-radius: 12px;
        background-color: $black;
        opacity: .5;
        background-image: url('../media/app/close-white.svg');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        transition: opacity 175ms;

        &:hover {
          cursor: pointer;
          opacity: .6;
        }

      }

      @include laptopDown {
        z-index: 0;
        position: absolute;
        bottom: 0;
        left: 15px;
      }

      @include tabletDown {
        right: 15px;
        width: calc(100vw - 30px);
      }

      @include laptop {
        position: absolute;
        bottom: 20px;
        left: 20px;
      }

      @include desktop {
        left: 50px;
      }

    }

  }

  &.-unit.-small {
    border-radius: 0;
    margin-bottom: 1.375rem;
    box-shadow: none;

    @include tabletDown {
      overflow: visible;
      margin-left: -.625rem;
      margin-right: -.625rem;
      margin-bottom: 3.375rem;
    }

  }

  &.o-card.-unit.-small.disabled &_up {
    pointer-events: none;
  }

  &.o-card.-unit.-small.disabled &_up > .aspectRatio {
    position: relative;
    filter: grayscale(100%);

    > .o-card_img {
      opacity: .25;
    }

  }

  &.o-card.-unit.-small.disabled &_up > .o-card_img-wrapper {
    position: relative;
    filter: grayscale(100%);

    > .o-card_img {
      opacity: .25;
    }

    > .o-card_message_wrapper {
      @extend %absoluteFull;
      @include font-size(12);
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet {
        display: block;
        margin-top: 1rem;
      }

    }

    > .o-card_message_wrapper .o-card_message {
      display: inline-block;
      padding: .25rem .313rem;
      border-radius: 3px;
      background-color: $gray;
      color: $white;

      @include tablet {
        border-radius: 0;
        background-color: $black;
      }

    }

  }

  &.o-card.-event {
    background-color: $white;

    .o-article_list & {
      margin-bottom: 1.25rem;
    }

    @include laptopDown {

      .p-eventArticle & {
        box-shadow: 0 5px 15px 0 rgba($black, .10);
      }

    }

  }

  &.o-card.-event &_up {
    overflow: hidden;
    border-radius: 0 0 .5rem .5rem; /* 8/16, 8/16 */
  }

  &.o-card.-unit.-small &_up {
    min-width: 9.375rem;

    @include tabletDown {
      min-width: 7.5rem;
    }

  }

  &_title {
    @include font-size(16);
    font-weight: $font-weight-regular;
    color: $brand-primary;

    @include laptop {
      @include font-size(24);
    }

  }

  &.-unit.-small &_title {

    @include tabletDown {
      position: absolute;
      overflow: hidden;
      top: -2rem;;
      left: -6.563rem;
      width: calc(100vw - 45px);
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

  &.-unit.-small.disabled &_title {
    color: $gray-light;
    text-decoration: line-through;
    pointer-events: none;
  }

  &.o-card_blog.-compact &_title,
  &.o-card.-event &_title {
    font-weight: $font-weight-semiBold;

    @include laptop {
      @include font-size(16);
    }

  }

  &.o-card.-object &_title {
    @include font-size(22);
    color: $color-text-neutral;
  }

  &.o-card.-unit.-small &_title {
    @include font-size(17);
  }

  &.o-card.-unit.-small &_info {
    @include font-size(15);
  }

  &.o-card_blog &_type,
  &.o-card.-object &_price {
    @include font-size(13);
    position: absolute;
    top: auto;
    right: auto;
    bottom: calc(100% + .5rem);
    left: .5rem;
    padding: .5rem .688rem .5rem 1.563rem;
    background-color: $brand-primary;
    font-weight: $font-weight-semiBold;
  }

  &.o-card_blog &_type {
    pointer-events: none;

    @include laptopDown {
      padding: .313rem .375rem;
      border-radius: .125rem;
    }

  }

  &.o-card.-object &_price {
    left: 0;
    bottom: 100%;
    padding: .375rem .813rem .375rem 1.25rem;
  }

  .o-card.-unit.-small &_price {
    position: relative;
    display: inline-block;
    height: 40px;
    padding: .594rem .5rem;
    margin-top: .4rem;
    background-color: $brand-secondary-dark;
    border-radius: 3px 0 0 3px;

    &:after {
      @extend %no-repeat;
      @extend %absoluteY;
      content: '';
      right: auto;
      left: 100%;
      width: 2rem;
      height: 40px;
      background-image: url('../media/app/smallUnitPriceAfter.svg');
      background-size: 100% 100%;
    }

  }

  .o-card.-unit.-small.disabled &_price {
    border: 1px solid #CED9EF;
    border-right-width: 0;
    background-color: rgba($white, 0);
    color: $gray;
    pointer-events: none;

    &:after {
      top: -1px;
      background-image: url('../media/app/smallUnitPriceAfter-disabled.svg');
    }

  }

  &.o-card_blog.-full &_type {

    @include laptop {
      left: 0;
      bottom: 100%;
    }

  }

  &.o-card.-object &_type-duration {
    opacity: .5;
  }

  &.o-card_blog.-compact &_type {
    padding: .313rem .375rem;
    border-radius: .125rem;
  }

  &_desc {
    @include overflowDots($height: 2.7rem, $color: null, $bg-color: $white);

    &:after {
      background-position: center 70%;
      width: .8rem;
    }

    @include laptop {

      .o-card.o-card_blog.-full &:after {
        right: 1.2rem;
      }

    }

  }

  // Fallback for firefox, edge and ie text ellipsis
  html.ie &_desc:after,
  html.edge &_desc:after,
  html.ff &_desc:after {
    height: 25px;
  }

  &.o-card_blog &_desc {
    @include font-size(15);
    margin: .375rem 0 .65rem;
    line-height: 21.333px;

    @include laptop {
      @include font-size(16);
    }

  }

  &.o-card_blog.-full &_desc {

    @include laptop {
      margin-top: 11px;
      line-height: 21.33px;
    }

  }

  &_down {
    position: relative;
    padding: .688rem 1rem;
    background-color: $white;
    color: darken(saturate(adjust-hue($gray, 220), 4.31), 8.04);

    @include laptop {

      .o-card.o-card_blog.-full & {
        padding: 1.875rem .688rem .5rem 1.563rem;
      }

    }

  }

  &.-object &_down {
    padding: 1.25rem;
  }

  &_date {
    color: lighten($gray, 6.67);
  }

  &_dateAndTags,
  &_amenities {
    @include font-size(14);
    color: lighten($gray, 6.67);
  }

  &Tags,
  &_amenities {
    position: relative;
    overflow: hidden;
    z-index: 0;

    &:after {
      @extend %absoluteFull;
      content: '';
      left: auto;
      width: 4rem;
      background: linear-gradient(to right, rgba($white, 0) , $white);
    }

  }

  &.-unit.-small &_amenities {
    height: 1rem;
  }

  &Tags_item  + &Tags_item {
    margin-left: 1rem;
  }

  &_amenities_item  + &_amenities_item {
    @include font-size(14);
    margin-left: .7rem;
  }

  &Tags_item {
    @include font-size(14);
  }

  &.-unit.-small &_amenities_item  + &_amenities_item {
    margin-left: .4rem;
  }

  &.-event &_location {
    @include font-size(14);
    color: #535353;
  }

  &.-event &_date {
    @include font-size(13);
    color: #191919;
  }

  .p-newsList &.o-card_blog.-full {
    margin-bottom: 22px;
  }

  .p-newsList &.o-card_blog.-compact {
    margin-bottom: 24px;
  }

  &.-loading &_down,
  &.-loading &_up {
    opacity: 0;
    visibility: hidden;
  }

}
