.o-destination {
  padding-bottom: .625rem;

  .o-locationList & {
    padding-bottom: 0;
  }

  &_box {
    padding: 1.25rem;
    margin-top: 2.5rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);

    &Title {
      @include font-size(17);
      color: #191919;
      font-weight: $font-weight-semiBold;
    }

    &Item {
      position: relative;
      padding-left: .9375rem;
      margin-top: 1.25rem;

      &:before {
        content: '-';
        position: absolute;
        top: 50%;
        left: 0;
        color: #C2C2C2;
        transform: translateY(-50%);
      }

    }

  }

  &Slider {

    &.-oneItem .o-destination_item {
      flex: 0 1 100%;
    }

    &.-oneItem .swiper-wrapper,
    &.-twoItems .swiper-wrapper {
      flex-wrap: nowrap;
      width: 100%!important;
    }

    &.-twoItems .o-destination_item {
      flex: 1;
    }

    @include tabletPlusDown {
      border-radius: 8px 0 0 8px;
      margin-right: -10px;
    }

    @include tabletDown {

      // Used for fixed layout until swiper JS is loaded
      .swiper-slide {
        width: 50%;
      }

    }

    @include tablet {

      &.-oneItem .swiper-wrapper,
      &.-twoItems .swiper-wrapper,
      &.-threeItems .swiper-wrapper,
      &.-fourItems .swiper-wrapper {
        width: 100%!important;
      }

    }

  }

  &_text {
    @extend %absoluteFull;
    z-index: 1;
    top: auto;
    padding: .5rem .75rem; /* 8/16, 12/16 */
    color: $white;
    text-shadow: 0 1px 15px $black;
  }

  &_item {
    position: relative;
    display: block;

    &:after {
      @extend %absoluteFull;
      content: '';
      top: auto;
      height: 50%;
      opacity: .5;
      background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.012) 8.1%,
        hsla(0, 0%, 0%, 0.048) 15.5%,
        hsla(0, 0%, 0%, 0.102) 22.5%,
        hsla(0, 0%, 0%, 0.172) 29%,
        hsla(0, 0%, 0%, 0.254) 35.3%,
        hsla(0, 0%, 0%, 0.345) 41.2%,
        hsla(0, 0%, 0%, 0.441) 47.1%,
        hsla(0, 0%, 0%, 0.539) 52.9%,
        hsla(0, 0%, 0%, 0.635) 58.8%,
        hsla(0, 0%, 0%, 0.726) 64.7%,
        hsla(0, 0%, 0%, 0.808) 71%,
        hsla(0, 0%, 0%, 0.878) 77.5%,
        hsla(0, 0%, 0%, 0.932) 84.5%,
        hsla(0, 0%, 0%, 0.968) 91.9%,
        hsla(0, 0%, 0%, 0.98) 100%
      );
      pointer-events: none;

    }

  }

  @include tablet {

    &_item {
      flex: 1 1 25%;
    }

    &_item:first-child,
    &_item:nth-child(6),
    &Slider.-fourItems &_item {
      flex: 1 1 50%;
    }

    &_item:first-child,
    &_item:nth-child(3),
    &_item:nth-child(5) {

      @include ie {
        overflow: hidden;
        z-index: 1;
      }

    }

    &Slider.-oneItem &_item {
      flex: 0 1 50%;
    }

  }

  @include laptop {
    padding-bottom: 1.875rem;
  }

}
