.o-event {

  &_content {
    @extend %imgOverlay;
    position: relative;
    z-index: 0;
    margin-top: -2.75rem; /* -44/16 */

    @include laptopDown {
      padding-top: 2.5rem;

      &:after {
        right: -10px;
        left: -10px;
      }

    }

    @include laptop {
      margin-top: -5rem; /* -80/16 */

      &:after {
        height: 5rem;
        right: -100%;
        left: -100%;
      }

    }

  }

  .p-static &_article {
    padding-top: 5rem;
  }

  @include laptopDown {

    &_border {
      border-top: 8px solid #EDEDED;
    }

  }

  @include laptop {

    &_article {
      position: relative;
      padding-top: 1.875rem;
      overflow: hidden;
    }

    &_border {
      margin-top: 2.5rem;
    }

  }

}
