.o-filter {
  @include transition();
  padding: 0.688rem 0.938rem; /* 11/16, 15/16 */
  background-color: #F2F6FF;
  border-radius: 2px;

  &_list {
    display: flex;
    flex-wrap: wrap;

    .o-filter_item {
      flex: 1 1 100%;

      &:not(.type) {
        margin-bottom: 1.25rem;
      }

    }

    .o-filter_item:nth-child(2) {
      flex: 1 1 30%;
      margin-right: 1rem;
    }

    .o-filter_item:nth-child(3) {
      flex: 1 1 45%;
    }

  }

  &_wrapper {
    z-index: 5;

    &.is_stuck .o-filter {
      box-shadow: 0 10px 35px 0 rgba($black, .35);

      @include laptop {
        margin-top: 1.375rem;
      }

    }

  }

  .o-article_filter &_wrapper {
    border-radius: 0;
    background-color: $white;
  }

  &_title {
    @extend .o-search_filterTitle;

    &.o-filter_title {
      margin-bottom: 1.5rem;
    }

  }

  &_block {
    @extend .o-search_form;
    z-index: 2!important;
    display: block!important;


    &.active ~ .o-filter_submit {
      opacity: 1;
      pointer-events: all;
    }

  }

  &_submit {
    @extend .o-search_filterSubmit;
  }

  @include laptopDown {
    justify-content: space-between;
    width: 100%;

    &_wrapper {
      right: 0;
      left: 0;
      width: 100%!important;
    }

    &-eventList {
      padding-bottom: 6.25rem;
    }

    &_list {

      .o-filter_item.type {
        padding: 0 1.25rem;
        border-top: 8px solid #EDEDED;
        margin: 0 -1.25rem;
      }

    }

  }

  @include laptop {

    &_title {
      display: flex!important;
    }

    .o-article_filter &_wrapper {
      padding: 1.875rem;
      box-shadow: 0 10px 40px 0 rgba($black, .15);
    }

    &_submit {
      display: block!important;
      margin-top: 0;
    }

  }

  @include desktop {

    .p-eventList &_wrapper {
      transform: translateX(3.125rem);
    }

  }

}
