.o-gallery {

  &.-small & {
    display: flex;
    flex-wrap: wrap;

    .p-contact &,
    .p-locationArticle &,
    .p-newsArticle & {
      margin-top: 3rem;

      @include laptop {
        margin-top: 0;
      }

    }

  }

  .p-contact &.-small,
  .p-static &.-small,
  .p-locationArticle &.-small,
  .p-eventArticle &.-small,
  .p-newsArticle &.-small {

    @include tabletPlusDown {
      margin: 0 -10px;
    }

  }

  &_item {
    position: relative;
    overflow: hidden;
    flex: 1 1 100%;

    .o-gallery.-large &:nth-child(n+2) {
      display: none;
    }

    .o-gallery.-small & {
      flex: 1 1 50%;
      padding: 1px;

      @include ie {
        flex: 1 1 49%;
      }

    }

    .o-gallery-normal .o-gallery.-small & {

      &:nth-child(even) {
        padding-right: 0;
      }

      &:nth-child(odd) {
        padding-left: 0;
      }

    }

    .o-gallery-featured .o-gallery.-small & {

      &:nth-child(odd) {
        padding-right: 0;
      }

      &:nth-child(even) {
        padding-left: 0;
      }

    }

    .o-gallery-normal &:nth-child(n+5) {
      display: none;
    }

    .o-gallery-featured & {

      &:first-child,
      &:nth-child(n+6) {
        display: none;
      }

    }

    .o-gallery-featured &:nth-child(2),
    .o-gallery-featured &:nth-child(3) {
      padding-top: 2px;
    }

  }

  &_item.last {

    .o-gallery_link {
      position: relative;
      z-index: 1;
      overflow: hidden;

      &:after {
        @extend %absoluteFull;
        content: '';
        background-color: rgba(#0A58FD, .5);
      }

    }

    .o-gallery_img {
      filter: blur(2px);
    }

  }

  &.-large {
    position: relative;

    &.-noGallery {
      pointer-events: none;
    }

    .o-gallery_item {
      @extend %cursor-pointer;
    }

    @include laptopDown {

      .p-eventArticle &,
      .p-locationArticle &,
      .p-newsArticle & {
        margin-right: -.625rem;
        margin-left: -.625rem;
      }

    }

    @include laptop {
      max-height: 45rem; /* 720/16 */

      & > .o-gallery_item:first-child:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('../media/app/galleryArrow.svg') no-repeat;
        background-position: right center;
        pointer-events: none;
      }

      &.-noGallery .o-gallery_item:after {
        content: normal;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 5rem;
        left: 0;
        box-shadow: 0 25px 80px 0 rgba($black, .35);
        pointer-events: none;
      }

    }

  }

  &_count {
    @include font-size(32);
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    left: 0;
    color: $white;
    font-weight: $font-weight-semiBold;
    transform: translateY(-50%);
  }

  @include tabletPlusOnly {

    &.-small & {
      width: 70%;
    }

  }

}
