.o-hotel {

  &_wrapper {
    @extend %imgOverlay;
    position: relative;
    z-index: 0;
    margin-top: -2.75rem; /* -44/16 */

    @include ie {

      &:before {
        content: '';
        @extend %absoluteFull;
        background-color: $white;
      }

    }

    @include laptop {
      margin-top: -5rem; /* -80/16 */

      @include ie {

        &:before {
          top: 5rem;
        }

      }

    }

  }

  &_price {
    padding: 1.313rem 2.688rem 1.313rem 1.563rem;
    border-radius: 6px;
    background-color: $white;
    box-shadow: 0 10px 40px 0 rgba($black, .15);
  }

  &-exclusive {
    position: relative;
    top: -6px;
    padding: .125rem .625rem; /* 2/16, 10/16 */
    border: 1px solid #CBD7F2;
    border-radius: 15px;
    color: $brand-primary;
    order: 4;

    @include laptop {
      top: 4px;
    }

    .o-sidebar & {
      top: 0;
    }

  }

  &_desc {
    position: relative;
    overflow: hidden;
    height: 12.5rem; /* 200/16 */

    &:after {
      @extend %absoluteFull;
      content: '';
      top: auto;
      bottom: 0;
      height: 4rem;
      background:linear-gradient(rgba($white, 0), $white);
    }

  }

  &_info {
    order: 2;
  }

  &Info_wrapper:after {
    content: '';
    width: 100%;
  }

}
