.o-hexis {
  @include transition();
  @extend %no-repeat;
  padding: 0 2.1rem 1.1rem 0;
  background-image: url('../media/brand/hexis.svg');
  background-position: bottom left;
  background-size: 65px;
  opacity: .6;
  line-height: 1.6rem;

  &:hover {
    opacity: 1;
  }

  &_text {
    @include transition();
    @include font-size(10);
    color: $white;
    font-weight: $font-weight-semiBold;
  }

}
