.o-hero {
  height: 85vh;

  &:after {
    @extend %absoluteFull;
    content: '';
    bottom: auto;
    z-index: 3;
    height: 25%;
    background-image: linear-gradient(-180deg,
      rgba(10,88,253,0.75) 0%,
      rgba(10,88,253,0.74) 9%,
      rgba(10,88,253,0.70) 17%,
      rgba(10,88,253,0.65) 25%,
      rgba(10,88,253,0.60) 31%,
      rgba(10,88,253,0.53) 37%,
      rgba(10,88,253,0.45) 43%,
      rgba(10,88,253,0.38) 49%,
      rgba(10,88,253,0.30) 55%,
      rgba(10,88,253,0.23) 61%,
      rgba(10,88,253,0.16) 67%,
      rgba(10,88,253,0.10) 74%,
      rgba(10,88,253,0.05) 81%,
      rgba(10,88,253,0.02) 90%,
      rgba(10,88,253,0.00) 100%);
  }

  .swiper-slide {

    &:before {
      @extend %absoluteFull;
      content: '';
      z-index: 1;
      background-color: rgba($brand-primary, .8);
    }

    @include ie {
      height: 600px;
      overflow: hidden;
    }

  }

  @include laptopDown {

    &_logo {
      position: absolute;
      z-index: 2;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);

      .img {
        width: 140px;
      }

    }

  }

  @include laptop {
    height: 600px;

    &:before {
      @include font-size(36);
      padding-bottom: 0;
    }

    &_logo {
      display: none;
    }

    // Hero Smaller
    &-small_sub {
      @include font-size(18);
      color: #E8EEFA;
    }

  }

}

.swiper-slide-active .o-hero_img {
  animation-duration: 8s;
  animation-name: moveUp;
  animation-timing-function: linear;
}

.swiper-slide .o-hero_img {
  position: relative;

  &:before {
    @extend %absoluteFull;
    content: '';
    z-index: 1;
    background-color: $brand-primary;
  }

}

.swiper-slide-active > .o-hero_img:before {
  animation: searchFade 6000ms linear forwards;
}

.swiper-slide:only-child {

  > .o-hero_img {
    animation-name: none;
  }

  > .o-hero_img:before {
    background-color: transparent;
  }

}


@keyframes searchFade {
  15% { background-color: transparent; }
  85% { background-color: transparent; }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}
