.o-icon {
  @extend %no-repeat;
  display: inline-block;
  background-size: 100% 100%;

  &.-star {
    width: 1rem; /* 16/16 */
    height: 1rem; /* 16/16 */
    background-image: url('../media/app/star.svg');

    &.-large {
      width: 23px;
      height: 23px;
    }

  }

  &.-guest-1,
  &.-guest-2,
  &.-guest-3 {
    margin-bottom: -2px;
  }

  &.-guest-1 {
    width: .904rem; /* 14.46/16 */
    height: .904rem; /* 13/16 */
    background-image: url('../media/app/guest.svg');

    &.-waikawaGray {
      background-image: url('../media/app/guest-waikawaGray.svg');
    }

  }

  &.-guest-2 {
    width: 1.563rem; /* 25/16 */
    height: .938rem; /* 15/16 */
    background-image: url('../media/app/guestDouble.svg');
  }

  &.-guest-3 {
    width: 1.563rem; /* 25/16 */
    height: .938rem; /* 15/16 */
    background-image: url('../media/app/guestTriple.svg');
  }

  &.-arrowRight {
    width: 1.25rem; /* 20/16 */
    height: 1.25rem; /* 20/16 */
    background-image: url('../media/app/arrowRight.svg');
  }

  .o-card_blog.-full &.-arrowRight {

    @include laptop {
      position: absolute;
      z-index: 1;
      top: auto;
      bottom: 0;
      right: 0;
    }

  }

}
