.o-location {

  &Card {
    margin-bottom: 2.188rem; /* 35/16 */

    &_img {
      flex-shrink: 0;

      @include tabletPlus {
        width: 10.938rem; /* 335/16 */
      }

      @include laptop {
        width: 20.938rem; /* 335/16 */
      }

      img {
        border-radius: 6px;
      }

    }

    &_content {

      @include tabletPlus {
        margin-left: 1.188rem; /* 19/16 */
      }

    }

    &_desc {
      color: #64676D;

      @include tabletPlusDown {
        @include overflowDots($height: 6.063rem, $color: null, $bg-color: $white); /* 97/16 */
      }

    }

    .p-locationList & {
      max-width: 68.75rem; /* 1100/16 */
    }

  }

  &List {
    
    @include tabletPlusDown {

      .o-locationCard:not(:first-child) {
        padding-top: 1.938rem;
        padding-right: 10px;
        padding-left: 10px;
        border-top: 1px solid #EDEDED;
        margin-top: 1.938rem;
        margin-right: -10px;
        margin-left: -10px;
      }

    }

  }

}
