//Overrides for plugin rangeslider.js

.o-leaveReview {

  &_wrapper {
    position: relative;
    margin: 2rem .3rem;

    .rangeslider {
      position: relative;
      box-shadow: inset 0 2px 3px rgba($black, .1);

      &:hover {
        @extend %cursor-pointer;
      }

      &,
      &__handle,
      &__fill {
        background: rgba($brand-secondary, .09);
        border-radius: 0;
      }

      &__fill {
        height: 20px;
      }

      &__handle {
        position: absolute;
        top: -3px;
        width: 0;
        border: 0;
        box-shadow: none;
        z-index: 1;

        &:after {
          @extend %no-repeat;
          content: '';
          position: absolute;
          left: -9px;
          width: 27px;
          height: 27px;
          background-color: #326995;
          background-image: url('../media/app/chevron-right-white.svg');
          background-position: 50%;
          background-size: 9px 12px;
          border-radius: 5px;
        }

      }

    }

    // used for separators
    table {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 20px;
      border-spacing: 0;
      width: 100%;
      table-layout: fixed;

      tr {
        counter-reset: rate-counter;
      }

      td {
        position: relative;
        counter-increment: rate-counter;

        &:after,
        &:first-of-type:before {
          @include transition();
          position: absolute;
          bottom: calc(100% + 5px);
          color: $black;
          transform: scale(1);
        }

        &:after {
          content: counter(rate-counter);
          right: -5px;
        }

        &:first-of-type:before {
          content: '0';
          left: -5px;
        }

        &.active:after,
        &.active-first:before {
          margin-bottom: 6px;
          font-weight: $font-weight-bold;
          transform: scale(1.2);
        }

      }

      td + td {
        border-left: 1px solid lighten($color-ui-shade, 34);
      }

    }

  }

}
