// Logo
.o-logo {
  display: block;
  margin-right: 18px;
  margin-left: -1rem;
  line-height: 0;

  &_img.-blue {
    display: none;
  }

  @include laptopDown {
    padding: 1.125rem 1rem;

    .p-homepage & {
      opacity: 0;
      pointer-events: none;
      transition: opacity 250ms;
    }

    .p-homepage .o-mainHeader_fixed.active-stick & {
      opacity: 1;
      pointer-events: all;
    }

  }

  .p-inquiry &_img {

    &.-white {

      @include laptopDown {
        display: none;
      }

    }

    &.-blue {
      display: block;

      @include laptop {
        display: none;
      }

    }

  }

  .p-inquiry .o-mainHeader_fixed.active-stick &_img {

    &.-white {
      display: block;
    }

    &.-blue {
      display: none;
    }

  }

  @include laptop {
    padding: 1.25rem 1rem;
  }

}
