.o-map {

  &_wrapper & {
    overflow: hidden;
    width: 100%;
    height: 120px;
    border-radius: 6px;
  }

  .p-inquiryPreview &_wrapper & {
    height: 9.375rem; /* 150/16 */

    @include laptop {
      height: 200px;
    }

  }

  .p-contact &_wrapper & {
    height: 19.375rem; /* 310/16 */
  }

  &.-static {
    @extend %no-repeat;
    @extend %bg-center;
    @extend %bg-cover;
  }

  &_wrapper {
    position: relative;
  }

  &_address {
    @extend %absoluteFull;
    @include font-size(13);
    top: auto;
    right: auto;
    padding: .125rem .375rem; /* 2/16, 6/16 */
    border-top-right-radius: 6px;
    background-color: $white;
    color: #535353;
    opacity: .9;
  }

  .p-contact &_address {
    @include font-size(15);
    max-width: 8.625rem; /* 138/16 */
    padding: .688rem 1rem .688rem .875rem; /* 11/16, 16/16, 11/16, 14/16 */
    margin: 4px;
  }

  &.active{
    display: block;
  }

  // TODO: Adjust after implementation
  iframe {
    border-radius: 5px;
    min-height: 100%;
  }

  .p-search & {
    margin-top: -3.75rem;
  }

  .o-search_mapWrapper & iframe {
    min-height: 45.313rem; /* 725/16 */
    margin-bottom: -5px;
  }

  @include laptop {

    .o-search_mapWrapper & {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(to top,
          hsla(0, 0%, 100%, 0) 0%,
          hsla(0, 0%, 100%, 0.013) 10.2%,
          hsla(0, 0%, 100%, 0.049) 20.2%,
          hsla(0, 0%, 100%, 0.104) 30%,
          hsla(0, 0%, 100%, 0.175) 39.5%,
          hsla(0, 0%, 100%, 0.259) 48.6%,
          hsla(0, 0%, 100%, 0.352) 57.2%,
          hsla(0, 0%, 100%, 0.45) 65.3%,
          hsla(0, 0%, 100%, 0.55) 72.8%,
          hsla(0, 0%, 100%, 0.648) 79.5%,
          hsla(0, 0%, 100%, 0.741) 85.4%,
          hsla(0, 0%, 100%, 0.825) 90.4%,
          hsla(0, 0%, 100%, 0.896) 94.5%,
          hsla(0, 0%, 100%, 0.951) 97.5%,
          hsla(0, 0%, 100%, 0.987) 99.4%,
          hsl(0, 0%, 100%) 100%
        );
      }

    }

  }

}
