// Main Header
.o-mainHeader {
  position: relative;

  &_fixed {
    position: fixed;
    z-index: 6;
    right: 0;
    left: 0;
    background-color: $brand-primary;
    color: $white;
  }

  .p-homepage &_fixed {
    background-color: transparent;
    transition: background-color 375ms ease-in-out;

    &.active-stick {
      background-color: $brand-primary;
    }

  }

  .p-object &_fixed,
  .p-eventArticle &_fixed,
  .p-locationArticle &_fixed,
  .p-newsArticle &_fixed {

    @include laptopDown {
      background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0.45) 0%,
        hsla(0, 0%, 0%, 0.444) 8.1%,
        hsla(0, 0%, 0%, 0.428) 15.5%,
        hsla(0, 0%, 0%, 0.403) 22.5%,
        hsla(0, 0%, 0%, 0.371) 29%,
        hsla(0, 0%, 0%, 0.333) 35.3%,
        hsla(0, 0%, 0%, 0.292) 41.2%,
        hsla(0, 0%, 0%, 0.247) 47.1%,
        hsla(0, 0%, 0%, 0.203) 52.9%,
        hsla(0, 0%, 0%, 0.158) 58.8%,
        hsla(0, 0%, 0%, 0.117) 64.7%,
        hsla(0, 0%, 0%, 0.079) 71%,
        hsla(0, 0%, 0%, 0.047) 77.5%,
        hsla(0, 0%, 0%, 0.022) 84.5%,
        hsla(0, 0%, 0%, 0.006) 91.9%,
        hsla(0, 0%, 0%, 0) 100%
      );
      transition: background 375ms ease-in-out;

      &.active-stick {
        background: $brand-primary;
      }

    }

  }

  .p-inquiry &_fixed {

    @include laptopDown {
      @include transition();
      background: rgba($white, 0);

      &.active-stick {
        background: $brand-primary;
      }

    }

  }

  &_bottomBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_mobileTriggers {
    display: flex;
    height: 100%;
  }

  &_backButton {
    @include font-size(12);
    position: absolute;
    z-index: 0;
    top: 59px;
    left: 139px;
    display: none;
    padding: .125rem 1.5rem 1.125rem 2.7rem;
    color: $white;
    font-weight: $font-weight-semiBold;

    &:before,
    &:after {
      content: '';
      @extend %absoluteFull;
      @extend %no-repeat;
    }

    &:before {
      top: 3px;
      left: 25px;
      width: 13px;
      height: 12px;
      background-image: url('../media/app/arrow-left-white.svg');
      background-size: 100% 100%;
    }

    &:after {
      z-index: -1;
      background-image: url('../media/app/headerBackBg.svg');
      background-size: 100% 22px;
    }

    @include laptop {

      .p-object & {
        display: block;
      }

    }

  }

  // Triggers
  // TODO: remove duplicated styles
  &_trigger {
    @extend %cursor-pointer;
    @extend %no-repeat;
    position: relative;
    width: 50px;
    height: 60px;
    background-position: center;

    // Menu
    &.-menu {
      z-index: 1;
      margin-left: .75rem;
      background-image: url('../media/app/menu.svg');
      background-size: 20px 14px;
      transition: background-image 325ms ease-in-out, z-index 375ms ease-in-out;

      &.active {
        z-index: 7;
        background-image: url('../media/app/close.svg');
        background-size: 14px 14px;
      }

    }

    // Search
    &.-search {
      background-image: url('../media/app/search.svg');
      background-size: 18px 18px;

      &.active {
        background-image: url('../media/app/search-active.svg');
      }

      .p-search & {
        opacity: .3;
        pointer-events: none;
      }

      .p-inquiry & {
        display: none;
      }

    }

  }

  @include laptopDown {

    &_bottomBar {
      height: 60px;
    }

    &_mobileTriggers {
      margin-right: -10px;
    }

    .p-homepage &_trigger.-search {
      opacity: 0;
      pointer-events: none;
      transition: opacity 175ms;
    }

    .p-homepage .active-search &_trigger.-search,
    .p-object &_trigger.-search {
      opacity: 1;
      pointer-events: all;
    }

    .p-inquiry &_trigger.-menu {
      background-image: url('../media/app/menu-blue.svg');
    }

    .p-inquiry &_trigger.-menu.active,
    .p-inquiry .o-mainHeader_fixed.active-stick &_trigger.-menu.active {
      background-image: url('../media/app/close.svg');
    }

    .p-inquiry .o-mainHeader_fixed.active-stick &_trigger.-menu {
      background-image: url('../media/app/menu.svg');
    }

  }

  @include laptop {

    &_trigger {
      display: none;
    }

    &_logoSearchWrapper {
      display: flex;
      align-items: center;
    }

  }

}
