$blue-dark: #0C1E6D;

// Main Search
.o-mainSearch {
  position: absolute;
  z-index: 2;
  display: none;
  box-shadow: 0 15px 40px 0 rgba($black, .25);

  &.active {
    display: block;
  }

  .p-homepage &.transform {

    @include laptopDown {
      z-index: 7;
      transform: none;
    }
    
  }

  &_item {
    position: relative;
  }

  &_title > .prefix {
    display: none;
  }

  // --------------------
  // Main Search
  //
  &_item.select {

    .p-homepage & {

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #19FFA3;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: 175ms transform ease-in;
      }

      &.selected:before {
        transform: scaleX(1);
      }

      &.active:before {
        transform: scaleX(1);
      }

    }

    &:hover {
      cursor: pointer;
    }

    > .query {
      position: relative;
      width: 100%;
      max-width: 100%;
      padding: 1.2rem 0 .625rem;
      border-bottom: 2px solid rgba($white, .25);
      color: rgba($white, .75);
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.selected > .query,
    &.active > .query {
      color: $white;

      &:before {
        transform: scaleX(1);
      }

    }

    &.selected > .o-mainSearch-headerDropdown {
      display: block;
    }

    &.active > .query {
      // background-color: $blue-dark;
    }

  }

  @include laptopDown {
    top: 60px;
    right: 0;
    left: 0;
    padding: 1.25rem .9375rem 0;
    background-color: rgba($blue-dark, .97);

    .p-newsArticle &.active,
    .p-object &.active,
    .p-eventArticle &.active {
      z-index: 3;
    }

    .p-homepage & {
      top: 100vh;
      display: block;
      transform: translateY(-100%);

      &.remove {
        transform: none;
        z-index: 6;
      }

    }

    .o-mainHeader_fixed.active-search ~ & {
      display: none;
      z-index: 3;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-100%);
      transition: transform 505ms, opacity 505ms;

      &.active {
        position: fixed;
        top: 60px;
        right: 0;
        left: 0;
        z-index: 6;
        opacity: 1;
        pointer-events: all;
        transform: none;
      }

    }

    .o-mainHeader_fixed.show ~ & {
      display: block;
    }

    &_list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &_item {
      width: 100%;
      margin-bottom: 1.25rem;

      &:last-child {
        margin-top: .4375rem;
      }

      &.datepicker {
        width: 47%;
      }

    }

    // ------------------------------
    // Header Desktop Search trigger
    //
    &-headerWrapper {
      display: none;
    }

    // --------------------
    // Main Search
    //
    &_item &-headerDropdown {
      display: none;
      position: fixed;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1.25rem;
      background-color: rgba($blue-dark, .985);
    }

    &_title,
    &_item &_title-destination {
      font-family: $font-family-heading;
    }

    &_title {
      @include font-size(21);
      color: $white;
      font-weight: $font-weight-semiBold;
    }

    &_item &_title-destination {
      @include font-size(22);
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #ABB0CA;
      font-weight: 100;

      .close {
        width: 16px;
        height: 16px;
        background-image: url('../media/app/close.svg');
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 16px 16px;
      }

    }

    &_item &-headerDropdown_list {
      height: calc(100vh - 70px);
      margin-top: 1.25rem;
      overflow: auto;
    }

    &_item &-headerDropdown_item {
      overflow: hidden;

      > .label {
        display: block;
        width: 100%;
        padding: .9375rem 0;
        color: $white;

        &:hover {
          color: $white;
          cursor: pointer;
        }

      }

      &:not(:last-child) > .label {
        border-bottom: 1px solid #2A4393;
      }

      .hidden {
        position: absolute;
        opacity: 0;
        visibility: hidden;
      }

    }

  }

  @include laptop {

    .p-homepage & {
      position: absolute;
      top: 545px;
      right: auto;
      left: 50%;
      display: block;
      width: 100%;
      max-width: 738px;
      background-color: $blue-dark;
      transform: translateX(-50%);
    }

    .p-inquiry &-headerWrapper {
      display: none;
    }

    &_wrapper {
      position: relative;
    }

    &_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.75rem;
    }

    &_item {

      &.select {
        width: 300px;
      }

      &.datepicker {
        width: 110px;
      }

      &:last-child {
        width: 100px;
      }

    }

    &_title {
      display: none;
    }

    // ------------------------------
    // Header Desktop Search trigger
    //
    &-header {

      .p-homepage & {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }

      > .query {
        overflow: hidden;
        width: 300px;
        max-width: 300px;
        padding: .6563rem .8125rem .6563rem 2.5rem;
        border-radius: 6px;
        background-color: #0F43B2;
        background-image: url('../media/app/search-header.svg');
        background-position: 13px center;
        background-repeat: no-repeat;
        background-size: 14px 14px;
        color: rgba($white, .75);
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:hover > .query,
      &.active > .query {
        color: $white;
      }

      &.selected > .query {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $blue-dark;
        color: $white;
      }

      &.selected > .o-mainSearch-headerDropdown {
        display: block;
      }

    }

    &-header &-headerDropdown {
      position: absolute;
      z-index: 2;
      top: 99%;
      right: 0;
      left: 0;
      display: none;
      width: 300px;
      padding-left: 1.1875rem;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      background-color: $blue-dark;
      background-image: linear-gradient(-180deg, $blue-dark 0%, #132576 100%);
      box-shadow: 0 20px 30px 0 rgba($black, .50);

      @include ie {
        padding-left: .8125rem;
      }

      @include ff {
        padding-left: .8125rem;
      }

    }

    &-header &-headerDropdown_list {
      width: 100%;
      height: 100%;
      max-height: 290px;
      overflow: auto;
      direction: rtl;

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba($white, .25);
      }

    }

    &-header &-headerDropdown_item {
      direction: ltr;
      text-align: left;
      overflow: hidden;

      > .label {
        display: block;
        width: 100%;
        padding: 0 2.5rem 0 1.1875rem;
        color: #92B0F3;

        @include ie {
          padding-left: 1.75rem;
        }

        @include ff {
          padding-left: 1.75rem;
        }

        &:hover {
          color: $white;
          cursor: pointer;
        }

      }

      &:not(:first-child) > .label {
        padding-top: .75rem;
      }

      &:last-child > .label {
        margin-bottom: .75rem;
      }

      .hidden {
        position: absolute;
        opacity: 0;
        visibility: hidden;
      }

    }

    // --------------------
    // Main Search
    //
    &_item &-headerDropdown {
      display: none;
      position: absolute;
      z-index: 2;
      top: 100%;
      right: -22px;
      left: -28px;
      padding: .75rem 1.375rem 0 1.75rem;
      background-color: $blue-dark;
      background-image: linear-gradient(-180deg, $blue-dark 0%, #132576 100%);
      box-shadow: 0 15px 60px 0 rgba($black, .30);

      @include ie {
        padding-left: .8125rem;
      }

      @include ff {
        padding-left: 0.8125rem;
      }

    }

    &_item &-headerDropdown_list {
      width: 100%;
      height: 100%;
      max-height: 228px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba($white, .25);
      }

    }

    &_item &-headerDropdown_item {
      overflow: hidden;

      > .label {
        display: block;
        width: 100%;
        color: #92B0F3;

        @include ie {
          padding-left: 1.75rem;
        }

        @include ff {
          padding-left: 1.75rem;
        }

        &:hover {
          color: $white;
          cursor: pointer;
        }

      }

      &:not(:first-child) > .label {
        padding-top: .75rem;
      }

      &:last-child > .label {
        margin-bottom: .75rem;
      }

      .hidden {
        position: absolute;
        opacity: 0;
        visibility: hidden;
      }

    }

    // --------------------------------------
    // Header Desktop Search trigger - impl.
    //
    .o-mainHeader_logoSearchWrapper &_item.select {
      @extend .o-mainSearch-header;
      width: auto;

      > .query {
        border-bottom: 0;
      }

    }

    .o-mainHeader_logoSearchWrapper &-headerDropdown {
      padding-right: 0;
    }

    .o-mainHeader_logoSearchWrapper &-headerDropdown_item {

      > .label {
        max-width: 100%;
        padding-right: .625rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    // --------------------
    // Desktop Articles
    //
    .p-eventArticle .o-sidebar &,
    .p-newsArticle .o-sidebar &,
    .p-locationArticle .o-sidebar &,
    .p-static .o-sidebar & {
      position: static;
      padding: 1.25rem .9375rem 0;
      background: linear-gradient(164deg, rgba(10,88,253,.5) 0%,rgba(11,47,145,1) 100%);
      background-color: $blue-dark;
      box-shadow: 0 6px 20px 0 rgba($black, .15);

      &-headerDropdown {
        right: 0;
        left: 0;
      }

      &_title {
        @include font-size(19);
        display: block;
        color: $white;
        font-family: $font-family-heading;
        font-weight: $font-weight-medium;

        > .prefix {
          display: inline;
        }

      }

      &_list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
      }

      &_item {
        width: 100%;
        margin-bottom: 1.25rem;

        &:last-child {
          margin-top: .4375rem;
        }

        &.datepicker {
          width: 47%;
        }

      }

    }

  }

  @media screen and (max-height: 450px) {

    .p-homepage & {
      transform: translate(-50%, -35%);
    }

  }

}
