// Main footer
.o-mainFooter {

  .p-inquiry &,
  .p-objectReview & {
    display: none;
  }

  &.-reservationForm {
    display: block;

    @include laptop {
      border-top: 1px solid #EDEDED;
    }

    .o-mainFooter_item.-contact {
      min-height: 50vh;

      @include laptop {
        min-height: 333px;
      }

    }

  }

  &.-objectReview {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 14rem; /* 224/16 */
    padding-bottom: 4.063rem!important; /* 65/16 */

    .o-mainFooter_copyright {
      line-height: 1.9;
    }

  }

  .p-inquiry &_copyright,
  .p-objectReview &_copyright {
    opacity: 1;
    line-height: 1.7;
  }

  &_destinations:after {
    @extend %absoluteFull;
    content: '';
    left: auto;
    width: 25%;
    height: 100%;
    background: linear-gradient(to right, transparent , $black-lighten);
    pointer-events: none;
  }

  &_destinations_item {
    flex: 0 1 33.33%;

    @include laptopDown {

      &:nth-child(n+4) {
        display: none;
      }

    }

  }

  &_copyright {
    @include font-size(14);
    // opacity: .5;

    @include laptop {
      padding-top: 2.75rem; /* 44/16 */
      border-top: 1px solid rgba($white, .12);
      line-height: 1.5rem;
    }

  }

  .p-object &_mobileApp,
  .p-object &_newsletter {

    @include laptop {
      display: none;
    }

  }

  @include laptopDown {

    &_mobileApp { order: 1 }

    &_social {
      order: 2;
      border-bottom: 1px solid rgba($white, .12);
      padding-bottom: 2.625rem;
    }

    &_menu {
     order: 3;
     min-height: 9rem;
     line-height: 2.5rem;
    }

    &_newsletter {
      order: 4;
    }

    &_getInspired {
      order: 5;
    }

    &_destinationsWrapper {
      order: 6;
    }

    &_getInspired,
    &_destinationsWrapper {
      border-bottom: 1px solid rgba($white, .12);
      padding-bottom: 1.688rem; /* 27/16 */
    }

    &_copyright {
      order: 7;
    }

    &_last {
      order: 10;
    }

  }

}
