.o-mobileApp {

  @include laptop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../media/app/iphoneSilhouette.svg') no-repeat;
    background-position: right 2.188rem; /* 35/16 */
  }

  &_wrapper {
    position: relative;
    z-index: 0;
    height: 17rem;

    @include laptop {
      height: 15.625rem; /* 250/16 */
    }

  }

  &_title {
    position: relative;
    z-index: 1;

    @include laptopDown {
      background: url('../media/brand/logo-white.svg') no-repeat;
      background-size: contain;
      background-position: center;
      text-indent: -99999px;
      transform: translateY(-3rem);
    }

  }

  .iphone {
    @extend %no-repeat;
    @extend %absoluteFull;
    right: auto;
    bottom: -3rem;
    width: 5.968rem;
    height: 9.375rem;
    margin: auto;
    background-image: url('../media/app/iphoneX.png');
    background-size: 100%;
    pointer-events: none;

    @include laptop {
      left: -27%;
      bottom: -1rem;
      width: 111px;
      height: 182px;
    }

  }

  &_linkWrapper {
    padding-left: 5rem;

    @include laptop {
      padding-left: 0;
    }

  }

  &_link {
    @extend %no-repeat;
    width: 8.813rem;
    height: 2.813rem;
    background-size: 100%;

    &.-appStore {
      background-image: url('../media/app/appStore.svg');
    }

    &.-googlePlay {
      background-image: url('../media/app/googlePlay.svg');
    }

  }

}
