.o-modal {
  background-color: rgba(#152A57, .92);

  .modal-open & {
    overflow: hidden;
  }

  .modal-dialog {
    position: relative;
    max-width: 100%;
    margin: 3.75rem 0 0 0;

    @include laptopDown {
      min-height: auto;
    }

  }

  .modal-content {
    z-index: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: 0;
    border-radius: 1rem 1rem 0 0;

    @include laptopDown {
      height: calc(100vh - 3.75rem);
    }

    @include laptop {
      width: 64rem; /* 1024/16 */
      height: 31.25rem; /* 500/16 */
      border-radius: 0;
      margin: auto;

      &:after {
        content: normal;
      }

    }

  }

  &_content {
    overflow: auto;
    border-radius: 1rem 1rem 0 0;
    opacity: 0;
    transition: opacity linear .3s;
    transition-delay: .2s;

    .o-modal.-unit &,
    .o-modal.-map & {

      @include laptop {
        overflow: hidden;
        border-radius: 0;
      }

    }

    .o-modal.-map & {
      overflow: hidden;
    }

    .o-modal.show & {
      opacity: 1;
    }

    .o-modal.-updateStay & {
      max-width: 24.063rem; /* 385/16 */
      margin: auto;
    }

    .o-modal.-unit &_wrapper:after {
      @extend %absoluteFull;
      content: '';
      z-index: 1;
      top: auto;
      bottom: 3.125rem; /* 50/16 */
      height: 3.75rem; /* 60/16 */
      background-image: linear-gradient(-180deg, rgba($white, 0) 0%, $white 100%);
      pointer-events: none;

      @include laptop {
        left: auto;
        width: 26.5rem; /* 424/16 */
      }

    }

  }

  &_close {
    @extend %no-repeat;
    position: absolute;
    top: -2.5rem; /* -40/16 */
    left: 0;
    padding-left: 1.5rem;
    border: 0;
    background-image: url('../media/app/modalClose.svg');
    background-color: rgba($white, 0);
    background-position: left center;
    background-size: contain;
    color: #92B0F3;

    @include laptop {
      top: -2.188rem; /* -35/16 */
      left: 0;
    }

  }

  &.-unit {

    .o-modal_gallery_wrapper {
      height: 20.625rem; /* 330/16 */
    }

    @include laptop {

      .o-modal_content_wrapper,
      .o-modal_gallery_wrapper {
        height: 31.25rem; /* 500/16 */
      }

      .o-unit_gallery {
        flex: 0 1 37.5rem; /* 600/16 */
      }

      .o-modal_content_wrapper {
        overflow: auto;
        flex: 0 1 26.5rem; /* 424/16 */
      }

    }

  }

  &.-default {

    .modal-content:after {
      @extend %absoluteFull;
      content: '';
      z-index: 1;
      top: auto;
      height: 6.25rem; /* 100/16 */
      background-image: linear-gradient(-180deg, rgba($white, 0) 0%, $white 100%);
      pointer-events: none;
    }

  }

  &.-updateStay {
    background-color: rgba($white, .92);

    .modal-content {
      box-shadow: 0 1.563rem 5rem 0 rgba($black, .15); /* 25/16, 80/16 */

      @include laptopDown {
        height: 100vh;
        margin-top: -3.75rem;
      }

      @include laptop {
        max-width: 37.5rem; /* 600/16 */
        max-height: 23.75rem; /* 380/16 */
        margin: auto;
      }

    }

  }

}

// Override bootstrap default backdrop black background
.modal-backdrop {
  background-color: rgba($white, 0)
}
