// Main navigation
// // HMTL structure use from Aurora travel website

// Links padding
$nav-item-padding: 1rem;

// Nth last items for different drop orientation (change value in 'c-icon' partial also)
$nth-last-child-item: 3;

.o-mainNav {
  display: flex;
  align-items: center;

  &_item {

    &.-sub {
      position: relative;
    }

    // TODO: add color to variable
    &.-title {
      margin-bottom: .3375rem;
      margin-left: 1.6875rem;
      color: #92B0F3;
      font-size: 1.0625rem;
      font-weight: $font-weight-heading;
    }

  }

  &_subList {
    display: flex;
    flex-direction: column;
  }

  &_subList &_item.-sub {
    position: relative;

    &:hover > .o-mainNav_subList {
      opacity: 1;
      pointer-events: all;
    }

  }

  &Switch_item {
    position: relative;
  }

  &Switch_listWrapper {
    @include transition(opacity, 250ms);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding-top: 1.5625rem;
    opacity: 0;
    pointer-events: none;
  }

  &Switch_list {
    background-color: #0A58FD;

    &_item.active {
      color: $brand-secondary;
    }

  }

  @include laptopDown {

    &Wrapper {
      position: fixed;
      z-index: 3;
      top: 0;
      right: 0;
      background-color: $brand-primary;
      box-shadow: 0 25px 300px 50px rgba($black, .25);
      transform: translate(100%, -100%);
      transition: transform 375ms ease-in-out;

      &.active {
        transform: translate(0, 0);
        height: 100vh;
        overflow: auto;
      }

    }

    &_list {
      display: flex;
      flex-direction: column;
      width: 253px;
      padding-top: 1.1875rem;
      padding-left: 2px;
    }

    &_item.-sub {
      @include transition(background-color, 275ms);
      background-color: transparent;
    }

    &_item.-sub.active {
      background-color: #0B2F91;
    }

    &_subList {
      max-height: 0;
      overflow: hidden;
      background-color: rgba($black, .015);
      transition: max-height ease-in-out 400ms;

      &.active {
        max-height: 62.5rem;
        overflow: auto;
      }

    }

    &_subList &_item.-sub {
      position: relative;
    }

    &Switch_item-mobile {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    &Wrapper &Switch {
      position: relative;
    }

    .o-mainFooter_menu &Switch {
      position: absolute;
      top: 38px;
      right: 20px;
    }

  }

  @include laptop {

    .p-inquiry &_list {
      display: none;
    }

    &Wrapper {
      display: flex;
    }

    &_list {
      display: flex;
      flex-direction: row;
    }

    &_item:hover {
      background-color: rgba(#0B2F91, .25);
    }

    &_subList &_item:hover {
      color: #19FFA3;
    }

    &_item.-sub {
      display: flex;
      flex-direction: column;
      padding-right: .438rem;

      &:hover .o-mainNav_subList {
        opacity: 1;
        pointer-events: all;

        &Wrapper {
          opacity: 1;
          pointer-events: all;

          &:after {
            opacity: 1;
            pointer-events: all;
          }

        }

      }

    }

    &_subList {
      @include transition(opacity, 250ms);
      min-width: 250px;
      height: 100%;
      max-height: 417px;
      border-radius: 6px;
      background-color: #0B2F91;
      box-shadow: 0 20px 50px 0 rgba($black, .35);
      opacity: 0;
      pointer-events: none;
      white-space: nowrap;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 23px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: rgba($white, .25);
        box-shadow: inset 0 0 0 10px #0B2F91;
      }

      &Wrapper {
        @include transition(opacity, 250ms);
        position: absolute;
        z-index: 3;
        top: 100%;
        right: auto;
        left: 0;
        padding-top: .625rem;
        opacity: 0;
        pointer-events: none;

        &:after {
          content: url('../media/app/triangle.svg');
          position: absolute;
          top: -5px;
          left: 55px;
        }

      }

    }

    &_item:nth-last-child(-n+3) &_subListWrapper {
      right: 0;
      left: auto;

      &:after {
        right: 55px;
        left: auto;
      }

    }

    .o-mainNavWrapper &Switch {
      display: inline-block;
      padding: .9375rem 0;
      margin-left: 1rem;
    }

    .o-mainNavWrapper &Switch_item {
      border-radius: 3px;
    }

    .o-mainNavWrapper &Switch_list {
      border-radius: 6px;
      background-color: #0B2F91;
      box-shadow: 0 20px 50px 0 rgba($black, .35);
      white-space: nowrap;
    }

    .o-mainNavWrapper &Switch_listWrapper {
      left: auto;

      &:after {
        content: url('../media/app/triangle.svg');
        position: absolute;
        top: 10px;
        right: 20px;
      }

    }

    &Switch_item:hover {
      background-color: rgba(#0B2F91, .5);

      .o-mainNavSwitch_listWrapper {
        opacity: 1;
        pointer-events: all;
      }

      .c-link {
        border-color: transparent;
      }

    }

    .o-mainFooter_menu &Switch {
      display: none;
    }

  }

}
