.o-newsletter {
  position: relative;
  z-index: 1;
  height: 13.938rem; /* 223/16 */
  padding-right: .938rem; /* 15/16 */
  padding-left: .938rem; /* 15/16 */
  line-height: 1.4rem;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: darken(desaturate($brand-primary, 8.30), 4.12);
  }

  @include laptop {
    height: 15.625rem; /* 250/16 */
    padding-right: 5rem; /* 80/16 */

    &:before {
      left: auto;
      width: 50vw;
      background: darken(desaturate($brand-primary, 8.30), 4.12) url('../media/app/newsletterBg.svg') no-repeat;
      background-position: left top;
    }

  }

}
