.o-notification {
  @extend %no-repeat;
  height: 284px;
  background-image: url('../media/app/check.svg');
  background-size: 58px;
  background-position: center;
  text-align: center;

  &.-cancel {
    background-image: url('../media/app/decline.svg');
  }

  @include laptop {
    height: 142px;
    padding-left: 58px + 19px;
    background-position: left center;
    text-align: left;
  }

  // &_spacer {
  //   height: 68px;
  // }

  &_email {
    // margin-top: 142px!important;
    padding: 1.313rem 2.125rem 1.313rem 1.5rem; /* 21/16, 34/16, 21/16, 24/16 */
    border-radius: 6px;
    border: 2px solid #E8EEFA;

    .p-cancelReservation & {
      padding: 1.313rem 1.5rem;
    }

  }

  &_title {
    @include font-size(24);
    transform: translateY(-3rem);

    @include laptop {
      @include font-size(30);
      transform: translateY(0);
    }

  }

  &_subTitle {
    @include font-size(18);
    margin-top: 5rem;
    color: #00B359;

    .o-notification.-cancel & {
      color: #E82B65;
    }

    @include laptop {
      margin-top: 0;
    }

  }

  &_email_item {

    @include tablet {
      display: flex;
    }

  }

  &_wrapper {
    min-height: 291px;
    padding-top: 60px;

    @include laptop {
      min-height: 476px;
      padding-top: 65px;
    }

    .o-notification {
      max-width: 606px;
      height: auto;
    }

  }

  .p-notification & {
    background-position: left top;
    text-align: left;

    &-404 {
      padding-left: 71px + 35px;
      background-size: 71px;
      background-image: url('../media/app/document.svg');

      @include laptopDown {
        padding-left: 48px + 17px;
        background-size: 48px;
      }

    }

    &-accessDenied {
      padding-bottom: 1rem;
      padding-left: 85px + 22px;
      background-size: 85px;
      background-image: url('../media/app/accessDenied.svg');

      @include laptopDown {
        padding-left: 48px + 17px;
        background-size: 48px;
      }

    }

    &-objectReview {
      padding-left: 58px + 25px;
      background-size: 58px;

      @include laptopDown {
        padding-left: 48px + 17px;
        background-size: 48px;
      }

    }

    &-cancelReservation {
      padding-bottom: 1rem;
      padding-left: 85px + 22px;
      background-size: 85px;
      background-image: url('../media/app/canceledReservation.svg');

      @include laptopDown {
        padding-left: 48px + 17px;
        background-size: 48px;
      }

    }

  }

  &_desc {
    color: #64676D;
    line-height: 1.4rem;
  }

  &.-contact {
    @include font-size(14);
    font-weight: $font-weight-regular;
    width: 100%;
    height: auto;
    color: #376B44;
    padding: 1rem 1rem;
    padding-left: 3.5rem;
    background-size: 26px;
    background-color: #DEF8E8;
    background-position: 1rem center;
  }

}
