$table-head-color: $brand-secondary-lightest;
$table-data-border: $color-ui-tint;

.o-offerTable {
  margin-top: 2rem;

  tbody,
  tfoot {

    > tr td:nth-child(2) {
      text-align: right;
    }

  }

  tbody > tr:first-child td {
    background-color: $table-head-color;
  }

  tbody > tr:first-child td,
  tfoot td {
    font-size: 1.125rem; //18px
    font-weight: $font-weight-bold;
  }

  tbody > tr td {
    border-style: solid;
    border-width: 1px;
  }

  tbody > tr:first-of-type td {
    border-color: $table-head-color;
    border-bottom-color: $table-data-border;
  }

  tbody > tr:not(:first-of-type) td {
    border-color: $table-data-border;
  }

  tfoot td + td {
    border-left: 0;
  }

  tbody + tbody:last-of-type {
    border-bottom: 2px solid $table-data-border;
  }

  @include tablet {

    td + td {
      width: 40%;
    }

  }

  @include tabletPlus {

    td + td {
      width: 30%;
    }

  }

}
