.o-pagination {
  border-radius: .375rem;
  background-color: $white;

  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin-left: 0;
  }

  .page-item {
    display: none;
    position: relative;
  }

  .page-item:first-child,
  .page-item:last-child {
    @extend %no-repeat;
    display: block !important;
    margin: auto;
    text-align: center;
    background-size: 14px;

    &:after {
      content: none;
    }

  }

  .page-item.disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  .page-item.active .page-link {
    background-color: transparent;
    color: #00B359;

    &:hover {
      background-color: transparent;
    }

  }

  .page-item .page-link {
    @include transition();
    color: $brand-primary;
    border: 0;

    &:hover {
      background-color: rgba($brand-primary, .2);
    }

  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    border: 1px solid #CED9EF;
    color: $white;
  }

  .page-item:first-child {
    margin-left: 0;

    .page-link {
      width: 45px;
      border-top-left-radius: .375rem;
      border-bottom-left-radius: .375rem;
    }

  }

  .page-item:last-child {
    width: 100%;
    margin-right: 0;

    .page-link {
      border-color: $brand-primary;
      border-top-right-radius: .375rem;
      border-bottom-right-radius: .375rem;
      background-color: $brand-primary;
    }

  }

  .page-item:after {
    @extend %absoluteFull;
    @include transition();
    content: '';
    top: auto;
    height: 3px;
    background-color: transparent;
  }

  .page-item.active:after {
    z-index: 2;
    background-color: #00CC66;
  }

  @include laptopDown {

    .page-item.mobile {
      display: block;

      .page-link {
        padding: .5rem;
        color: #535353;
        pointer-events: none;
      }

    }

    .page-item:last-child {
      width: 60%;
    }

  }

  @include laptop {
    max-width: 380px;

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      width: 40px;
    }

    .page-item {
      display: block;
    }

    .page-item:last-child {
      width: auto;
    }

    .page-item.mobile {
      display: none;
    }

  }

}
