.o-promo {

  &-footer {
    background-color: $brand-primary;
  }

  &_item {
    display: flex;
    @extend %no-repeat;
    padding: .9375rem 0;
    background-size: 58px 58px;
    background-position: 0 center;

    &.locations {
      background-image: url('../media/app/promo-locations.svg');
    }

    &.selected {
      background-image: url('../media/app/promo-selected.svg');
    }

    &.prices {
      background-image: url('../media/app/promo-prices.svg');
    }

  }

  &_text {
    margin: 0;
    color: #535353;
    font-size: .9375rem;

    .o-promo-footer & {
      color: #CED9EF;
    }

  }

  @include tabletPlusDown {

    &_about {
      padding-left: 1.25rem;
    }

    &_itemWrapper:not(:last-child) {
      margin-bottom: 1.875rem;
    }

    &_item {

      .o-promo-footer & {
        margin-bottom: 1.25rem;
      }

    }

  }

  @include tabletPlus {
    margin-bottom: 1.25rem;

    &_about {
      padding-left: .9375rem;
    }

    .o-promo-footer &_item {
      max-width: 390px;
      padding: .625rem 0;
      margin-bottom: 1.5rem;
      background-size: 72px 72px;
    }

  }

  @include laptopDown {
    margin-top: 150px;

    &-footer {
      margin-top: 30px;
      padding: 3.125rem 0;
    }

  }

  @include laptop {
    margin-top: 100px;

    &-footer {
      margin-top: 3.125rem;
    }

    &-footerBg {
      padding: 5.625rem 0 3.125rem;
      background-image: url('../media/app/y.svg');
      background-size: 380px 130%;
      background-position: 5% center;
      background-repeat: no-repeat;
    }

    &_item {
      padding: .625rem 0;
      background-size: 72px 72px;
    }

    &_text {

      .o-promo-footer & {
        color: $white;
        font-size: 1rem;
      }

    }

  }

}
