.o-reviews {

  &_item {
    overflow: hidden;
    margin-bottom: 1.563rem; /* 25/16 */

    @include tablet {
      margin-bottom: 1.75rem; /* 28/16 */
    }

  }

  &_item_date {
    color: $gray-light;
  }

  &_rating {
    @include font-size(20);
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 30px;
    border-radius: 2px;
    color: $white;
    font-weight: $font-weight-bold;

    &:after {
      @extend %absoluteFull;
      content: '';
      bottom: auto;
      left: auto;
      width: 2px;
      background-color: inherit;
      height: 200px;
    }

  }

  &_item.-blue &_rating {
    background-color: $brand-primary;
  }

  &_item.-yellow &_rating {
    background-color: #FFE748;
    color: $color-text-neutral;
  }

  &_item.-red &_rating {
    background-color: #E82B65;
  }

  &_desc {
    @include font-size(14);
    color: #64676D;
  }

}
