.o-reservationForm {

  &_up {
    padding-top: 3.75rem; /* 60/16 */
    background-color: #F2F6FF;

    @include laptop {
      padding-top: 4.063rem; /* 65/16 */
    }

  }

  &_subTitle {
    @include font-size(14);
    color: #535353;
    font-weight: $font-weight-regular;

    @include laptop {
      @include font-size(16);
    }

  }

  &_mainTitle {

    @include laptopDown {
      @include font-size(16);
    }

  }

  &_img {

    @include laptopDown {
      margin: 0 -15px;
    }

    img {

      @include ie {
        height: 100%!important;
      }

    }

  }

  &_date {
    @extend %no-repeat;
    @extend %bg-center;
    max-width: 350px;
    background-image: url('../media/app/galleryArrow-gray.svg');
    background-size: 10px;

    .p-cancelReservation & {

      @include tablet {
        max-width: 500px;
      }

    }

    .p-inquiry & {
      margin: auto;
    }

  }

  &_table {

    tbody > tr > td,
    tfoot > tr > td {

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        text-align: right;
      }

    }

    tbody > tr > td {

      &:first-child {
        font-weight: $font-weight-regular;
      }

      &:last-child {
        font-weight: $font-weight-bold;
      }

    }

    tfoot > tr > td {
      color: $brand-primary;
      font-weight: $font-weight-bold;
    }

  }

  &_bottom_item:nth-child(2) {
    border-top: 8px solid #EDEDED;

    @include laptop {
      border-top: 0;
      border-right: 1px solid #EDEDED;
      border-left: 1px solid #EDEDED;
    }

  }

  @include laptop {

    .p-eventArticle &_date {
      justify-content: space-between;
      background-image: url('../media/app/line.svg');
      background-position: 56% 11px;
      background-size: 18px;

      &_item:first-child {
        padding-left: 1.875rem;
        background-image: url('../media/app/calendar.svg');
        background-repeat: no-repeat;
        background-size: 18px 16px;
        background-position: 0 1px;

        .date,
        .time {
          font-weight: $font-weight-semiBold;
        }

      }

    }

    &_date_item:last-child {

      .date,
      .time {
        color: #535353;
      }

    }

  }

}
