.o-separatedList {

  &_item {
    flex-shrink: 0;
  }

  &-normal { @include separatedList($type: "|"); }
  &-slash { @include separatedList($type: "/"); }

  .o-mainFooter_copyright & {

    .o-separatedList_item {
      @include transition($time: 200ms);
      color: $gray-light;

      &:hover {
        color: $white;
      }

    }

    @include laptop {
      display: flex;
      flex-wrap: wrap;

      .o-separatedList_item + .o-separatedList_item {
        position: relative;
        padding-left: 1rem;
        margin-left: .8rem;
      }

      .o-separatedList_item + .o-separatedList_item:before {
        content: '|';
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: 0;
        color: $gray-light;
      }

    }

  }

  .o-mainFooter.-reservationForm .o-mainFooter_copyright &_item:hover,
  .o-mainFooter.-objectReview .o-mainFooter_copyright &_item:hover {
    color: $black;
  }

  .o-reservationForm_up &-normal {
    flex-wrap: nowrap;
    @include overflowDots($height: 1.2rem, $color: -gray, $bg-color: #F2F4FF);

    .o-separatedList_item {
      @include font-size(15);
      color: $gray-light;
    }

  }

}
