.o-search {

  &_about {
    @include font-size(15);
    margin-top: .4375rem;
    font-weight: $font-weight-regular;
  }

  &_order {
    display: flex;
    margin-top: .9375rem;
  }

  &_listWrapper {
    display: none;

    &.active {
      display: block;
    }

  }

  &_mapWrapper {
    display: none;

    @include laptopDown {
      margin-top: 3.188rem; /* 51/16 */
    }

    &.active {
      display: block;
    }

  }

  &_datepicker {
    flex: 0 1 45%;

    &Wrapper {
      display: flex;
      justify-content: space-between;
    }

  }

  &_location {
    position: relative;
  }

  &_filterRadio,
  &_filterCheckbox {
    display: flex;
  }

  &_filterRadio {
    width: 100%;

    &-custom {
      flex-wrap: wrap;
    }

  }

  &_filterCheckbox {
    flex-direction: column;
  }

  &_adults {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &Label {
      @include font-size(15);
      position: relative;
      color: $gray-light;
      font-weight: $font-weight-medium;
    }

    &Controller {
      display: flex;
      width: 150px;
      border: 1px solid #CED9EF;
      border-radius: 6px;

      &_item {
        flex: 1 1 33.33%;
        height: 42px;

        &.minus,
        &.plus {
          background-position: center;
          background-repeat: no-repeat;

          &:hover {
            background-color: #E8EEFA;
            cursor: pointer;
          }

        }

        &.minus {
          background-image: url('../media/app/adultsMinus.svg');
        }

        &.plus {
          background-image: url('../media/app/adultsPlus.svg');
        }

        &.no {
          @include font-size(18);
          display: flex;
          align-items: center;
          justify-content: center;
          color: #191919;
          font-weight: $font-weight-semiBold;
        }

      }

    }

    &Message {
      display: flex;
      justify-content: flex-end;
      opacity: 0;
      transition: opacity 175ms;

      &.active {
        opacity: 1;
      }

      > .message {
        @include font-size(14);
        width: 220px;
      }

    }

  }

  &_datepicker {
    position: relative;
  }

  &_inputWrapper .controls {
    @include font-size(14);
  }

  &_filterTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0 .625rem;

    &.main {
      margin-top: 1.5625rem;
    }

    .label {
      @include font-size(16);
      color: #191919;
      font-weight: $font-weight-semiBold;
    }

    .clear {
      color: #BABABA;

      &:hover {
        cursor: pointer;
      }

      &.filter {
        color: #E82B65;
        font-weight: $font-weight-semiBold;
      }

    }

  }

  @include laptopDown {

    &_wrapper {
      position: relative;
      z-index: 5;
    }

    &_listObject {
      min-height: 55px;
    }

    &_about {
      overflow: hidden;
      height: 36px;
      color: #64676D;
      word-break: break-all;
    }

    &_about:before {
      content:"";
      float: left;
      width: 5px;
      height: 36px;
    }

    &_about > *:first-child {
      float: right;
      width: 100%;
      margin-left: -.3125rem;
    }

    &_about {
      @include overflowDots();
    }

    &_order {
      align-items: center;
      justify-content: space-between;
      margin-top: .9375rem;
    }

    &_listWrapper {
      margin-top: 1.25rem;
    }

    &_form {
      transform: translateY(calc(100% + 75px));
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      padding: 1.25rem 1.25rem 0;
      background-color: $white;
      transition: transform 250ms;

      &.active {
        overflow: auto;
        transform: translateY(0);
        z-index: 6;

        ~ .o-search_filterSubmit {
          opacity: 1;
          pointer-events: all;
        }

      }

    }

    &_mobileBottom {
      position: fixed;
      bottom: calc(100% + 75px);
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 75px;
      padding: .8125rem .9375rem;
      background-image: linear-gradient(-180deg, rgba(12,30,109, .92) 0%, #0C1E6D 99%);
      color: $white;

      &Filters {
        @include font-size(14);
        line-height: 1.3;
      }

      .location {
        font-weight: $font-weight-heading;
      }

      .date,
      .filters {
        color: rgba($white, .75);
      }

    }

    &_datepicker {
      border-bottom: 2px solid rgba($white, .25);
    }

    &_filterTitle .apply {
      display: none;
    }

    &_filtersUpItem {
      flex: 1 1 100%;

      &:not(:first-child) {
        margin-top: .625rem;
      }

    }

    &_filtersUp {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 1.25rem;
      border-bottom: 8px solid #EDEDED;
      margin: 0 -1.25rem;
    }

    &_filterList {
      padding-bottom: 4.6875rem;
    }

    &_filterItem {
      padding: 0 1.25rem 1.5625rem;
      margin: 0 -1.25rem;

      &:not(:last-child) {
        border-bottom: 1px solid #EDEDED;
      }

      &-sub {
        padding: 0 1.25rem;
        border-top: 1px solid #EDEDED;
        margin: 1.25rem -1.25rem 0;
      }

    }

    &_filterBtn {
      display: none;
    }

    &_filterSubmit {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 6;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      transition: opacity 275ms;

      &:after {
        content: '';
        position: absolute;
        height: 4rem;
        right: 0;
        bottom: 100%;
        left: 0;
        background: linear-gradient(to top,
          hsl(0, 0%, 100%) 0%,
          hsla(0, 0%, 100%, 0.987) 14.6%,
          hsla(0, 0%, 100%, 0.951) 26.5%,
          hsla(0, 0%, 100%, 0.896) 36.2%,
          hsla(0, 0%, 100%, 0.825) 44%,
          hsla(0, 0%, 100%, 0.741) 50.1%,
          hsla(0, 0%, 100%, 0.648) 55.1%,
          hsla(0, 0%, 100%, 0.55) 59.1%,
          hsla(0, 0%, 100%, 0.45) 62.6%,
          hsla(0, 0%, 100%, 0.352) 65.8%,
          hsla(0, 0%, 100%, 0.259) 69.2%,
          hsla(0, 0%, 100%, 0.175) 73%,
          hsla(0, 0%, 100%, 0.104) 77.7%,
          hsla(0, 0%, 100%, 0.049) 83.5%,
          hsla(0, 0%, 100%, 0.013) 90.8%,
          hsla(0, 0%, 100%, 0) 100%
        );
        pointer-events: none;
      }

    }

    &_filtersUpItem &_inputWrapper .controls {
      display: none;
    }

  }

  @include laptop {

    &_about {
      margin-top: .625rem;
      color: #3F3F3F;
    }

    &_order {
      align-items: flex-end;
      justify-content: flex-end;
    }

    &_mobileBottom {
      display: none;
    }
    
    &_list {
      margin-top: 1.25rem;
    }

    &_form,
    &_tabs {
      z-index: 2;
    }

    &_filterTitle.main {
      display: none;
    }

    &_wrapper {
      position: static;
      top: 65px;
      right: 0;
      left: 0;
      z-index: 4;
      width: 100%;
      transition: background-color 350ms;

      &.active-filters {
        background-color: rgba($white, .9);
        position: fixed;

        &:hover {
          background-color: $white;
        }

      }

      .topbar.-seo.-fixed ~ main & {
        top: 110px;
      }

    }

    &_form {
      display: flex;

      &Wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
      }

    }

    &_inputWrapper {

      .apply {
        display: initial;
        color: #00CC66;
        font-weight: $font-weight-heading;
      }

      .clear {
        color: #BABABA;
      }

      .apply:hover,
      .clear:hover {
        cursor: pointer;
      }

      .controls {
        position: absolute;
        right: 20px;
        bottom: 13px;
        left: 20px;
        display: flex;
        justify-content: space-between;
      }

    }

    &_location {
      display: none;
    }

    &_filtersUp,
    &_filtersDown {
      display: inline-flex;
    }

    &_filtersUpItem {
      position: relative;

      &:not(:first-child) {
        margin-right: .8125rem;
      }

    }

    &_filterList {
      display: flex;
    }

    &_filterItem {
      position: relative;

      &:not(:last-child) {
        margin-right: .8125rem;
      }

      &-sub {
        margin-top: 1.25rem;
      }

    }

    &_filterSubmit {
      display: none;
    }

    &_filterTitle {
      margin-top: 0;
    }

    &_filterBtn {
      padding: .407rem .75rem;
      border: 1px solid #CCD7EF;
      border-radius: 3px;
      color: #616C82;

      &:hover {
        cursor: pointer;
      }

      &.selected {
        border-color: $brand-primary;
        background-color: $brand-primary;
        color: $white;

        ~ .o-search_inputWrapper {
          opacity: 1;
          pointer-events: all;
        }

      }

      &.active {
        border-color: #92B0F3;
        color: $brand-primary;
      }

    }

    &_inputWrapper {
      position: absolute;
      top: 150%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      min-width: 330px;
      padding: 1.5625rem 1.25rem 2.8125rem;
      background-color: $white;
      box-shadow: 0 15px 60px 0 rgba($black, .30), inset 0 2px 0 0 rgba($brand-primary, .91);
    }

    &_adultsMessage > .message {
      margin-bottom: 0;
      white-space: pre-wrap;
    }

  }

}
