.o-spinner {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  &:after {
    animation-delay: -1.0s;
  }
}

@keyframes sk-bounce {

  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }

}
