.o-socialIcons {
  display: flex;

  &_item {
    @extend %no-repeat;
    @extend %bg-center;
    @include transition($time: 175ms);
    display: block;

    .o-mainFooter_social & {
      width: 1.875rem; /* 30/16 */
      height: 1.875rem; /* 30/16 */
      background-size: 100%;
    }

    .p-eventArticle &,
    .p-locationArticle &,
    .p-newsArticle &,
    .p-static & {
      width: 2rem;
      height: 2rem;
      background-size: 100% 100%;
    }

  }

  @include laptop {

    &_item {

      .o-mainFooter_social & {
        width: 1.5rem; /* 24/16 */
        height: 1.5rem; /* 24/16 */
      }

    }

  }

  &_item:hover {
    transform: scale(1.05);
  }

  &_item + &_item {
    margin-left: 1.063rem;
  }

  &_item.-facebook {
    background-image: url('../media/social/facebook.svg');

    &Reg {
      background-image: url('../media/social/facebook-regular.svg');
    }

  }

  &_item.-twitter {
    background-image: url('../media/social/twitter.svg');

    &Reg {
      background-image: url('../media/social/twitter-regular.svg');
    }

  }

  &_item.-instagram {
    background-image: url('../media/social/instagram.svg');
  }

  &_item.-googlePlus {
    background-image: url('../media/social/googlePlus.svg');

    &Reg {
      background-image: url('../media/social/googlePlus-regular.svg');
    }

  }

}
