.o-sidebar {

  .p-object &,
  .p-eventArticle &,
  .p-locationArticle &,
  .p-newsArticle &,
  .p-objectReview &_wrapper {

    @include laptop {
      position: absolute;
      right: 0;
    }

  }

  .p-object & {

    @include laptop {
      top: -40px;
    }

  }

  .p-eventArticle & {

    @include laptop {
      top: 20px;
    }

  }

  .p-inquiryPreview &,
  .p-objectReview &,
  .p-cancelReservation & {
    position: relative;
    margin-bottom: 3rem;
    background-color: #F2F4FF;

    &_title {
      @include font-size(24);
      position: relative;
      margin-top: -2.5rem;
    }

    &_unitImg {
      width: 150px;
    }

    &:before {
      @extend %absoluteFull;
      content: '';
      z-index: 0;
      top: -2.75rem;
      height: 2.75rem; /* 44/16 */
      background-image: linear-gradient(-180deg, rgba(#F2F4FF, .9) 0%, #F2F4FF 80%);
    }

    &,
    &_img {

      @include laptopDown {
        margin: 0 -15px;
      }

    }

  }

  .p-objectReview & {

    &:before {

      @include laptopDown {
        content: normal;
      }

    }

    &_title {

      @include laptopDown {
        margin-top: 0;
      }

    }

  }

  &_preview {

    @include laptopDown {
      margin: 0 -10px;
      padding: 20px 10px;
      background-color: #F2F4FF;
    }

  }

}
