.o-unit {

  &_gallery {

    .swiper-slide {
      @extend %no-repeat;
      @extend %bg-cover;
      @extend %bg-center;
    }

    .gallery-top {
      height: 330px - 50px;

      @include laptop {
        height: 500px - 50px;
      }

    }

    .gallery-thumbs .swiper-wrapper{
      margin-left:calc(-50% + 25px);
    }

    .gallery-thumbs {
      height: 50px;
      box-sizing: border-box;

      @include laptop {
        height: 10%;
      }

    }

    .swiper-button-prev, .swiper-button-next {
      display: none;
      top: 90%;
      background-image: url('../media/app/galleryArrow.svg');
      background-size: 50px;

      @include laptop {
        display: block;
      }

    }

    .swiper-button-prev {
      transform: scaleX(-1);
    }

    .gallery-thumbs .swiper-slide {
      position: relative;
      z-index: 0;
      width: 8.333%;
      height: 100%;

      &:before {
        @extend %absoluteFull;
        content: '';
        background-color: rgba($white, 0);
      }

    }

    .gallery-thumbs .swiper-slide-active:before {
      background-color: rgba($brand-primary, .5);
    }

    .swiper-container.gallery-thumbs {
      background-image: url('../media/app/galleryThumbsBg.svg');
    }

  }

}
