.o-pricelist {
  border: 1px solid $color-ui-shade;

  td, th {
    vertical-align: middle;
  }

  thead {
    background-color: $brand-secondary-mostLightest;
  }

  thead th {
    font-size: 1.125rem; //18px
    border-top: 0;
    border-bottom: 0;
    text-align: left;
  }

  td {
    padding: 0.6rem 1rem;
    border: 1px solid $color-ui-shade;

    @include tablet {
      padding: 0.55rem;
    }

    tr:not(:first-child) td {
      border-top: 1px solid $color-ui-shade;
    }

    td {
      vertical-align: middle;
      padding: .6rem .8rem;
      border: 0;
    }

  }

  &_season {
    margin-bottom: .3em;
    font-size: 1.125rem; //18px
  }

  > tbody > tr:first-child > td {
    border-top: 1px solid $color-ui-shade;
  }

  table {
    width: 100%;
  }

  > tbody > tr > td {
    border-top: 0;
  }

  > tbody > tr > td:first-child {
    line-height: 2;
  }

  > tbody > tr > td:not(:first-of-type) {
    padding: 0;
    border-left: 0;
  }

}

.o-chargeTable {
  margin-top: 2rem;
  border: 1px solid $color-ui-shade;

  thead th {
    border: 0;
    background-color: $brand-secondary-mostLightest;
  }

  tbody td {
    border-top-color: $color-ui-shade;
  }

  tbody tr:last-of-type td {
    border-bottom: 1px solid $color-ui-shade;
  }

  thead th,
  tbody td:first-of-type,
  tfoot td:first-of-type {
    text-align: left;
  }

  tbody td:last-of-type,
  tfoot td:last-of-type {
    text-align: right;
  }

  td {}

  tbody td:first-of-type {

    @include tablet {
      width: 68.1%;
    }

  }

  tbody td:last-of-type {

    @include tablet {
      width: 31.9%;
    }

  }

  thead th {
    font-size: 1.125rem; //18px
  }

  tbody td:first-of-type {
    border-right: 1px solid $color-ui-shade;
  }

}
