.o-wave {
  position: relative;

  &:before {
    @extend %absoluteTop;
    @extend %no-repeat;
    content: '';
    z-index: -1;
    display: block;
    height: 80vw;
    background-size: 105%;
    background-image: url('../media/app/waveBlue-mobile.svg');
    background-position: -15px 0;
  }

  .p-contact & {
    padding-top: 5rem;
  }

  @include laptopDown {

    &:before {
      transform: translateY(-15vw);
    }

    .p-eventArticle &:before,
    .p-locationArticle &:before,
    .p-newsArticle &:before {
      content: none;
    }

    .p-contact &:before {
      transform: translateY(-24vw);
    }

  }

  @include tabletPlusDown {

    .p-contact &:before {
      transform: translateY(-17vw);
    }

    .p-newsList &:before {
      transform: translateY(0);
    }

    &:before {
      transform: translateY(-5vw);
    }

  }

  @include tabletPlus {

    &:before {
      background-image: url('../media/app/waveBlue-desktop.svg');
    }

  }

  @include laptop {

    .p-eventArticle &,
    .p-locationArticle &,
    .p-newsArticle & {
      padding-top: 4.375rem;

      &:before {
        transform: translateY(-7vw);
      }

    }

    .p-contact &:before {
      transform: translateY(-26vw);
    }

    &:before {
      transform: translateY(-20vw);
    }

  }

  @include customQuery('min-width: 2000px') {

    &:before {
      transform: translateY(-23vw);
    }

    .p-eventArticle &:before,
    .p-locationArticle &:before,
    .p-newsArticle &:before {
      transform: translateY(-12vw);
    }

  }

  @include customQuery('min-width: 3000px') {

    &:before {
      transform: translateY(-23vw);
    }

    .p-eventArticle &:before,
    .p-locationArticle &:before,
    .p-newsArticle &:before {
      transform: translateY(-20vw);
    }

  }

}
