.o-action {
  border-radius: 3px;

  &_item:not(:last-child) {
    margin-bottom: .2rem;
  }

  &_item_wrapper {
    @extend %cursor-pointer;
    z-index: 1;
    padding: .625rem 1.25rem;

    .p-unit & {
      @extend %cursor-default;
    }

  }

  &_body {
    width: 80%;
  }

  &_price,
  &_icon {
    right: 15px;
  }

  &_price {
    bottom: 15px;
  }

  &_details {
    @include transition(all, 400ms);
    z-index: -1;
    max-height: 0;
    padding: 0;
    opacity: 0;
  }

  &_icon {
    top: 12px;
    width: 18px;
    height: 18px;
    border: 1px solid $white;
    border-radius: 50%;
    background-color: transparent;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 1px;
      background-color: $white;
    }

    &:before {
      @include transition(transform, 200ms);
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &:after {
      transform: translate(-50%, -50%);
    }

  }

  @include medium {

    &_info_item {
      padding-right: .3125rem;

      &:not(:first-child) {
        margin-left: .3125rem;
      }

    }

    &_price {
      top: 10px;
      bottom: auto;
    }

    &_icon {
      top: auto;
      bottom: 10px;
    }

  }

  @include mediumPlus {

    &_info_item {

      &:not(:last-child):after {
        @include separator($color: $white, $margin: 0, $align: right);
      }

    }

  }

  @include largePlus {

     &_info_item {
      padding-right: .625rem;

      &:not(:first-child) {
        margin-left: .625rem;
      }

    }

  }

}

// ON CLICK EFFECTS
.active-action {
  box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);

  .o-action_icon:before {
    transform: translate(-50%, -50%);
  }

  + .o-action_details {
    z-index: 1;
    max-height: 2000px;
    padding: .625rem 1.25rem;
    opacity: 1;
  }

}
