.o-attributesList {

  &_item {
    flex-basis: 50%;

    .o-attributesList-charges & {
      flex-basis: auto;

      &:not(:last-child) {
        margin-right: 1.4rem;
      }

    }

  }

  @include medium {

    &_item {
      flex-basis: 33.33%;
    }
    
  }

  @include large {

    &_item {
      flex-basis: 25%;
    }
    
  }

}
