.o-advancedSearch {
  background-color: $brand-primary-lightest;

  @include large {
    border-radius: 0 0 20px 20px;
    box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);
  }

}
