.o-animation {

  // Mobile search animated icon
  &-search &-part:first-child {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    &,
    &:before,
    &:after {
      @include transition();
    }

    &,
    &:before {
      @extend %absoluteFull;
      border: 1px solid $black;
      margin: auto;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      background-color: $black;
    }

    &:after {
      right: -50%;
      bottom: -3px;
      width: 70%;
      height: 1px;
      transform: rotate(45deg);
    }

    &:before {
      width: 50%;
      height: 2px;
      opacity: 0;
      transform: rotate(-45deg);
    }

  }

  &-search.active-mobile &-part:first-child {
    width: 2rem;
    height: 2rem;
    border: 2px solid $black;

    &:after {
      right: 25%;
      bottom: 48%;
      width: 50%;
      height: 2px;
    }

    &:before {
      right: 0;
      bottom: 0;
      opacity: 1;
      transition-delay: .3s;
    }

  }

  // Mobile navigation animated icon
  &-nav &-part:first-child {
    @extend %absoluteFull;
    margin: auto;

    &,
    &:before,
    &:after {
      @include transition();
      width: .5rem;
      height: .5rem;
      border: 1px solid $black;
      border-radius: 50%;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      margin: -1px;
    }

    &:before {
      bottom: 10px;
    }

    &:after {
      top: 10px;
    }

  }

  &-nav &-part:last-child {
    width: 30%;
    opacity: 0;
    transform: rotate(45deg);

    &,
    &:before {
      @include transition();
      @extend %absoluteFull;
      height: 2px;
      margin: auto;
      background-color: $black;
    }

    &:before {
      content: '';
      width: 100%;
      transform: rotate(90deg);
    }

  }

  &-nav.active-mobile &-part:first-child {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    transform: rotate(360deg);

    &:before,
    &:after {
      opacity: 0;
    }

  }

  &-nav.active-mobile &-part:last-child {
    opacity: 1;
    transition-delay: .3s;
  }

}
