// Credit cards
.o-creditCards {
  margin: 2rem 0 6rem;

  &_title,
  &_list_item {
    display: inline-block;
  }

  &_title {
    margin-bottom: 1.2rem;
  }

  &_list {
    font-size: 0;

    & + & {
      margin-top: 1rem;
    }

  }

  &_list_item {
    font-size: 1rem;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }

  }

  @include mediumDown {
    margin: 2rem 0 2rem;

    &_list_item {
      margin-bottom: .8em;
    }

  }

}
