.o-chargeTable {
  margin-top: 2rem;

  thead th {
    border: 0;
  }

  tbody td {
    border-top-color: $gray-lightest;
  }

  tbody tr:last-of-type td {
    border-bottom: 1px solid $gray-lightest;
  }

  thead th:first-of-type,
  tbody td:first-of-type,
  tfoot td:first-of-type {
    text-align: left;
  }

  thead th:last-of-type,
  tbody td:last-of-type,
  tfoot td:last-of-type {
    text-align: right;
  }

  td {}

  thead th:first-of-type,
  tbody td:first-of-type {

    @include medium {
      width: 68.1%;
    }

  }

  thead th:last-of-type,
  tbody td:last-of-type {

    @include medium {
      width: 31.9%;
    }

  }

  thead th {
    font-size: 1.125rem; //18px
  }

  tbody td:first-of-type,
  thead th:first-of-type {
    border-right: 1px solid $gray-lightest;
  }

  i {
    margin-left: .4rem;
  }

  > thead > tr > th:first-of-type,
  > tbody > tr > td:first-of-type {
    padding-left: 0;
  }

}
