.o-gallery {
  margin: 0 -.125rem;

  &_item {
    @extend %cursor-pointer;
    flex: 1 1 30%;
    margin: .125rem;
  }

  &_item:first-child {
    flex: 1 1 100%;

    .o-gallery_img {
      border-radius: 7px 7px 0 0;
    }

  }

  &_item:nth-child(n+5) {
    display: none;
  }

  &_item.o-gallery_item-more {

    .o-gallery_link {
      position: relative;
      z-index: 1;
      display: block;
    }

    .o-gallery_link:after {
      content: '';
      background-color: rgba($brand-secondary, .8);
    }

  }

  &_img-icon {
    z-index: 1;
    width: 1rem;
    height: 1rem;
    padding: .8rem;
    border: 3px solid $white;
    border-radius: 50%;
    margin: auto;
  }

  &_img-icon:after {
    content: '+';
    width: 100%;
    margin: auto;
    color: $white;
    font-size: 1.2rem;
    text-align: center;
  }

  &_link:after,
  &_img-icon,
  &_img-icon:before,
  &_img-icon:after {
    @extend %absoluteFull;
  }

  @include medium {

    .o-gallery_img-icon {
      padding: 1.5rem;

      &:after {
        font-size: 2.5rem;
      }

    }

  }

  @include large {

    .o-gallery_img-icon {
      padding: 2rem;

      &:after {
        font-size: 3rem;
      }

    }

  }

}
