.o-hexis {
  display: inline-block;

  &_wrapper {
    opacity: .6;
    transition: opacity 300ms;

    &:hover {
      opacity: 1;
    }

  }

  &_a {
    display: block;

    &:hover {
      text-decoration: none!important;
    }

  }

  &_img {
    height: 2rem;
  }

  &_rent {
    color: $hexis-gray;
    font-size: .8125rem; // 13px
  }

}
