.p-inquiry {

  // Table styles and settings
  $headBg: $table-head;                                  // Table head background color

  $table-border-color: $gray-lightest; //Border color, use solid, not with opacity

  $table-cell-color: $text-color;

  $table-padding: .733em 0.8em;

  $table-fontSize: .9375rem; //15px

  $table-cell-textAlign: left;

  $table-fontWeight-bold: $heading-font-weight;


  .table {

    th, td {
      color: $table-cell-color;
      font-size: $table-fontSize;
      text-align: $table-cell-textAlign;
      border-width: 1px;
      border-color: $table-border-color;
    }

    &,
    table {
      width: 100%;
    }

    thead > tr > th,
    tbody > tr > td,
    tfoot > tr > td {
      height: 41px;
      padding: $table-padding;
      vertical-align: middle;
      border-top: none;
      border-bottom-style: solid;
    }

    thead > tr > th {
      border-bottom-width: 1px;
    }

  }

  #inquiry-details-priceNotAvailable {
    color: $alert-red;
  }

  .table-extraCharges {

    tbody tr td:last-child {
      position: relative;
      text-align: center;
    }

  }

  @include mediumDown {

    .table-priceCalculator tbody tr:last-of-type td:last-of-type {
      border-bottom-width: 2px;
    }

    .table-inquiryPage {
      border-bottom-style: solid;

      tbody tr td {
        border-bottom-style: solid;
      }

      td {
        display: block;
      }

      td:empty {
        display: none;
      }

      thead {
        display: none!important;
      }

      tbody td:first-of-type {
        font-weight: $table-fontWeight-bold;
        border-bottom-width: 2px;
      }


      td:not(:first-of-type) {
        position: relative;
        padding: 0.4em 0.8em;
        text-align: right;

        &:after {
          content: attr(data-label);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0.733em;
          height: 1em;
          margin: auto 0;
        }

      }

      tfoot td:first-of-type {
        display: none;
      }

    }

  }

  @include medium {

    .table-inquiryPage {

      thead th + th,
      tbody td + td {
        border-left-style: solid;
      }

    }

  }

  // Inquiry page
  .table-priceCalculator {

    tbody tr:last-child td,
    tfoot td {
      border-bottom-style: solid;
    }

  }

  // Inquiry page
  .table-inquiryPage {

    th {
      background-color: $headBg;
    }

    th,
    tfoot td {
      font-weight: $table-fontWeight-bold;
    }

  }

}
