.o-legendList {

  &_item {
    padding-left: 2.0625rem;

    + .o-legendList_item {
      margin-left: 1rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: -5px;
      left: 0;
      width: 29px;
      height: 29px;
    }

    &:first-child {
      flex: 1;

      &:before {
        border: 1px solid #484848;
        background-color: transparent;
      }

    }

    &:last-child {
      flex: 2;

      &:before {
        background-color: rgba($brand-primary,.28);
      }

    }

  }

  @include smallOnly {
    padding: 0 1.3125rem;
  }

  @include medium {

    &_item:last-child {
      flex: 3;
    }

  }

  @include largePlus {
    padding: 0 6.25rem;
  }

}
