// Main footer
.o-mainFooter {
  @extend %bg-no-repeat;
  background-image: url('../media/app/footer-bg.svg');
  background-size: 100% 100%;

  &-wrapper {

    border: {
      top: 1px solid rgba($white, .2);
      bottom: 1px solid rgba($white, .2);
    }

  }

  &-nav {

    li:not(:first-child) {
      margin-left: 2rem;
      list-style-type: disc;
    }

  }

}
