// Main navigation
.o-mainNav {

  // All levels
  &_list {
    @include transition();
  }

  &_list_item {
    position: relative;
  }

  &_list_item_a {
    display: block;
    position: relative;
  }

  // Root
  & > &_list {}
  & > &_list > &_list_item {}
  & > &_list > &_list_item > &_list_item_a {}

  // All levels except first
  & > &_list &_list {}
  & > &_list &_list_item &_list_item {}
  & > &_list &_list_item &_list_item &_list_item_a {}

  // #2 level
  & > &_list > &_list_item > &_list {}
  & > &_list > &_list_item > &_list > &_list_item {}
  & > &_list > &_list_item > &_list > &_list_item > &_list_item_a {}

  // #3 level and others
  & > &_list > &_list_item > &_list &_list {}
  & > &_list > &_list_item > &_list > &_list_item > &_list &_list_item {}
  & > &_list > &_list_item > &_list > &_list_item > &_list &_list_item_a {}

  // Language switcher all levels
  &_list-language &_list {}
  &_list-language &_list_item {}
  &_list-language &_list_item_a {}

  // Language switcher root
  &_list-language {}
  &_list-language > &_list_item {}
  &_list-language > &_list_item > &_list_item_a {}

  // Language switcher #2 level
  &_list-language > &_list_item > &_list {}
  &_list-language > &_list_item > &_list &_list_item {}
  &_list-language > &_list_item > &_list &_list_item_a {}

  @include largeDown {
    height: 4rem;

    // All levels
    &_list {}
    &_list_item {

      &_trigger {
        position: absolute;
        top: 0;
        right: 0;
        width: 8rem;
      }

    }

    &_list_item_a {
      display: block;
      padding: .8rem 1rem;
    }

    // Root
    & > &_list {
      z-index: 3;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      margin-top: 1px;
      opacity: 0;
      visibility: hidden;

      &.active-mobile {
        opacity: 1;
        visibility: visible;
      }

    }

    & > &_list > &_list_item,
    & > &_list > &_list_item > &_list,
    & > &_list > &_list_item > &_list > &_list_item {

      &.active-drop {

        & > .o-mainNav_list {
          display: block;
        }

      }

    }

    & > &_list > &_list_item > &_list_item_a {
      color: $black;
      background-color: rgba($white, .97);
    }

    // All levels except first
    & > &_list &_list {
      display: none;
      color: $white;
    }

    & > &_list &_list_item &_list_item {}
    & > &_list &_list_item &_list_item &_list_item_a {}

    // #2 level
    & > &_list > &_list_item > &_list {}
    & > &_list > &_list_item > &_list > &_list_item {}

    & > &_list > &_list_item > &_list > &_list_item > &_list_item_a {
      background-color: rgba($gray, .97);
    }

    // #3 level and others
    & > &_list > &_list_item {}

    & > &_list > &_list_item > &_list > &_list_item > &_list {

      border: {
        top: 1px solid rgba($white, 1);
        bottom: 1px solid rgba($white, 1);
      }

    }

    & > &_list > &_list_item > &_list > &_list_item > &_list &_list_item_a {
      background-color: rgba($gray, .97);
    }

    // Language switcher all levels
    &_list-language &_list {}
    &_list-language &_list_item {}
    &_list-language &_list_item_a {}

    // Language switcher root
    &_list-language {}
    &_list-language > &_list_item {}
    &_list-language > &_list_item > &_list_item_a {}

    // Language switcher #2 level
    &_list-language > &_list_item > &_list {}
    &_list-language > &_list_item > &_list &_list_item {}
    &_list-language > &_list_item > &_list &_list_item_a {}

    &_wrapper {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

  }

  @include large {

    // All levels
    &_list {}

    &_list_item {

      &_trigger {
        display: none;
      }

    }

    &_list_item_a {}

    // Root
    & > &_list {}

    //Root dropdown div
    & > &_list > &_list_item {
      display: flex;
      align-items: center;
      height: 67px;

      &:not(:first-child) {
        margin-left: 1.4rem;
      }

      &:hover {

        & > .o-mainNav_list {
          opacity: 1;
          visibility: visible;
        }

        & > .o-mainNav_list_item_a {

          &:before,
          &:after {
            width: 100%;
          }

        }

      }

    }

    // Root dropdown links inside dropdown div
    & > &_list > &_list_item > &_list_item_a {
      padding: 24px 0;
      color: $gray-darker;

      &:before,
      &:after {
        @include transition();
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        margin: -2px 0;
        background-color: $brand-primary;
      }

      &:before {
        top: 22px;
        left: 0;
      }

      &:after {
        right: 0;
        bottom: 22px;
      }

    }

    // All levels except first
    & > &_list &_list {
      z-index: 3;
      position: absolute;
      top: 100%;
      left: 0;
      width: 225px;
      visibility: hidden;
      opacity: 0;
    }

    // Select last four childs of root items (for dropdown alignment on right side of screen)
    & > &_list &_list_item:nth-last-child(-n+4) &_list {
      left: auto;
      right: 0;
      text-align: right;
    }

    //Items inside drodown target list
    & > &_list &_list_item &_list_item {
      color: $gray-dark;
      background-color: rgba($white, .95);

      &:first-child {
        border-radius: 7px 7px 0 0;
      }

      &:last-child {
        border-radius: 0 0 7px 7px;
      }

      &:hover {
        color: $white;
        background-color: $brand-primary;

        & > .o-mainNav_list {
          visibility: visible;
          opacity: 1;
        }

      }

    }

    //Links inside dropdown target list items
    & > &_list &_list_item &_list_item &_list_item_a {
      @include clearfix();
      display: block;
      padding: .8rem 1rem;
    }

    // Links inside dropdown target list & also trigger for next dropdown
    & > &_list &_list_item:nth-last-child(-n+4) &_list_item-drop {

      & > .o-mainNav_list {
        left: -100%;
        text-align: right;
      }

    }

    // #2 level
    & > &_list > &_list_item > &_list {}

    & > &_list > &_list_item > &_list > &_list_item {}

    & > &_list > &_list_item > &_list > &_list_item > &_list_item_a {}

    // #3 level and others
    & > &_list > &_list_item > &_list &_list {
      top: 0;
      left: 100%;
      text-align: left;
    }

    & > &_list > &_list_item > &_list > &_list_item > &_list &_list_item {

      &:first-child {
        border-radius: 0 7px 0 0;
      }

      &:last-child {
        border-radius: 0 0 7px 7px;
      }

    }

    & > &_list > &_list_item:nth-last-child(-n+4) > &_list > &_list_item > &_list &_list_item:first-child {
      border-radius: 7px 0 0 0;
    }

    & > &_list > &_list_item > &_list > &_list_item > &_list &_list_item_a {}

  }

}
