// Main Header
.o-mainHeader {

  &-bar {
    position: relative;
    z-index: 3;
    border-bottom: 1px solid $brand-secondary;
    background-color: $white;
  }

  .p-homepage .topbar.-seo ~ & > &-bar {
    position: absolute;
    z-index: 3;
    width: 100%;
    background-color: $white;
    top: 118px;
  }

  .p-homepage &-bg {

    &_wrapper {
      height: 45vh;
      max-height: 900px;

      @include smallPlus {
        height: 60vh;
      }

      @include mediumPlus {
        height: 75vh;
      }

      @include large {
        height: 85vh;
      }

    }

    // Left just in case the client wants back the old gradient
    // &:before {
    //   @extend %absoluteFull;
    //   content: '';
    //   z-index: -1;
    //   background: linear-gradient(to right, $brand-secondary, $brand-primary);
    //   opacity: .7;
    // }

  }

  &-video {
    display: none;
  }

  &-video {

    .p-homepage & {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &_wrapper {
      display: none!important;
      width: 100%;
      overflow: hidden;

      .p-homepage & {
        @extend %no-repeat;
        @extend %bg-cover;
        @extend %bg-center;
        @extend %absoluteFull;
        top: -10px;
        display: flex!important;
        background-image: url('../media/app/header-new.jpg');

        @include mediumDown {
          overflow: hidden;
        }

      }

    }

  }

  &_text {
    display: flex;
    flex-direction: column;
    color: $white;
  }

  @include large {

    &-bg {
      position: relative;
    }

  }

  @include customQuery('min-width: 401px') {

    .p-homepage .topbar.-seo ~ & > &-bar {
      top: 73px;
    }

  }

}
