.o-message {
  @extend %bg-no-repeat;
  @extend %bg-center;
  max-width: 880px;
  height: 545px;
  margin: {
    right: auto;
    left: auto;
  };
  background-size: 100% 100%;

  &-thankYou {
    background-image: url('../media/app/thankYou-bg.svg');
  }

  &-notFound {
    background-image: url('../media/app/404-bg.svg');
  }

  &-denied {
    background-image: url('../media/app/denied-bg.svg');
  }

  &-payCancel {
    background-image: url('../media/app/payCancel-bg.svg');
  }

  &_body {
    flex: 1 1 100%;
  }

  &_img {
    max-width: 130px;
    height: auto;
  }

}
