// Main Search
.o-mainSearch {
  @extend %absoluteBot;
  z-index: 1;

  &_list {
    display: block;
    border-radius: 0 0 20px 20px;

    &-name {
      display: none;
    }

  }

  &_list_item {
    position: relative;
    width: 100%;
  }

  @include largeDown {
    @include transition();
    top: 115px;
    bottom: auto;
    width: 100%;
    padding: 0;
    opacity: 0;
    visibility: hidden;

    &.active-mobile {
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }

    &_list {
      background-color: $white;
    }

    &_list_item:not(:last-child) {
      padding: 0 1rem;
    }

  }

  @include large {
    display: none;

    .p-homepage & {
      border-bottom: 1px solid $gray-lightest;
    }

    &_list {
      display: flex;
      justify-content: flex-end;
      padding: 0;
    }

    &_list_item {

      .o-mainSearch_list-type &:not(:first-child):not(:last-child):after {
        @include separator($height: 24px, $border-width: 1px, $color: $gray-lightest, $margin: 0);
      }

      .o-mainSearch_list-type &:first-child,
      .o-mainSearch_list-type &:last-child,
      .o-mainSearch_list-name &:last-child {
        width: 20%;
      }

      .o-mainSearch_list-type &:nth-child(2),
      .o-mainSearch_list-type &:nth-child(4) {
        width: 15%;
      }

      .o-mainSearch_list-type &:nth-child(3) {
        width: 30%;
      }

      .o-mainSearch_list-name &:first-child {
        width: 80%;
      }

    }

    .p-homepage &,
    .p-search & {
      display: block;
    }

    .p-search & {
      top: 100%;
    }

  }

}
