.o-news {

  @include largeDown {

    .p-homepage &_wrapper:nth-of-type(n+4) {
      display: none;
    }

  }

  &_img {
    @include transition();

    &.active-hover {
      transform: scale(1.1);
    }

  }

}
