.o-object {

  &_img {
    @extend %no-repeat;
    @extend %bg-center;
    @extend %bg-cover;
    height: 440px;
  }

  &_description {
    border-radius: 5px;
  }

  &_location_item {
    display: inline-block;
  }

  &_galleryBtn {
    align-items: flex-end;
  }

  @include mediumPlus {

    &_galleryBtn {
      align-items: center;
      justify-content: flex-start;
    }

  }

  @include large {

    &_img {
      height: 560px;
    }

  }

}
