.o-pricelist {

  td, th {
    vertical-align: middle;
  }

  thead {}

  thead th {
    font-size: 1.125rem; //18px
    border-top: 0;
    border-bottom: 0;
    text-align: left;
  }

  td {
    padding: 0.6rem 1rem;
    border: 1px solid $gray-lightest;

    @include medium {
      padding: 0.55rem;
    }

    tr:not(:first-child) td {
      border-top: 1px solid $gray-lightest;
    }

    td {
      padding: .6rem .8rem;
      border: 0;
    }

  }

  &_season {
    margin-bottom: .3em;
    font-size: 1.125rem; //18px
  }

  > tbody {

    > tr {

      td:first-child {
        border-left: 0;
      }

      td:last-child {
        border-right: 0;
      }

      &:first-child {

        > td {
          //Table top border
          border-top: 1px solid $gray-lightest;
        }

      }

      &:last-child {

        > td {
          // Table bottom border
          //border-bottom: 1px solid rgba($endeavour-light, 1);
        }

      }

    }

  }

  table {
    width: 100%;
  }

  > thead > tr > th:first-of-type,
  > tbody > tr > td:first-of-type {
    padding-left: 0;
  }

  > tbody > tr > td {
    border-top: 0;
  }

  > tbody > tr > td:not(:first-of-type) {
    padding: 0;
    border-left: 0;
  }

}
