.o-priceCalculator {

  > tbody > tr:not(:first-child) > td,
  > tfoot > tr {
    border-top: 1px solid rgba($lochmara, .12);
  }

  > tbody > tr > td:last-child,
  > tfoot > tr > td:last-child {
    color: $black;
  }

}
