.o-pagination {
  @include transition();

  .p-newsList & {
    margin-bottom: 3rem;
  }

  .pagination {}

  .page-item {
    margin-right: .5rem;
    font-weight: $light-font-weight;
  }

  .page-item.active .page-link {
    border: 1px solid $brand-secondary;
    color: $brand-secondary;
    font-weight: $heading-font-weight;
    background-color: transparent;
    font-weight: $heading-font-weight;
  }

  .page-item.disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  .page-item:first-child,
  .page-item:last-child {
    min-width: 50px;

    @include mediumPlus {
      min-width: 100px;
    }

    @include large {
      min-width: 220px;
    }

  }

  .page-item:first-child {
    margin-right: auto;

    .hidden-mdp-up {
      transform: rotate(-45deg);
    }

  }

  .page-item:last-child {
    margin-right: 0;
    margin-left: auto;
  }

  &,
  .page-link {
    border-radius: 6px!important;
  }

  .page-link {
    @extend %user-select;
    @include transition();
    padding: .75rem 1rem;
    border: 0;

    @include smallPlusDown {
      padding: .75rem;
      font-size: .93rem; //15px
    }

    &:hover {
      // TODO: variable "promo-lightest" after PR merge
      background-color: #FCEADE;
    }

  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    background-color: $brand-primary;
    color: $white;
    font-weight: $heading-font-weight;

    &:hover {
      background-color: darken($brand-primary, 6%);
    }

  }

  .page-item:first-child .page-link {}

  .page-item:last-child .page-link {}

}
