.o-statics {
  @include transition(box-shadow, 200ms);
  border-bottom: 5px solid $brand-primary;
  box-shadow: 0 1px 3px rgba($brand-primary, .12), 0 1px 2px rgba($brand-primary, .24);

  &:before {
    @include transition(width, 200ms);
    @extend %absoluteTop;
    content: '';
    width: 0;
    height: 5px;
    background-color: $brand-primary;
  }

  &:hover {
    box-shadow: none;

    &:before {
      width: 100%;
    }    

  }

}
