.o-sidebar {

  &_form {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &_additional {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &_head {
    border-bottom: 1px solid $brand-primary;
  }

  @include largeDown {
    margin: 2rem -.3125rem 0;
  }

  @include large {

    &_wrapper {
      position: absolute;
      top: -126px;
      right: 0;
    }

    .topbar.-seo ~ main .sticky-wrapper.is-sticky &_calculator {
      padding: {
        top: 45px;
      }
      
    }

  }

}
