.o-subscribe {

  @include smallPlusDown {

    &_item {
      display: block;
      width: 100%;
    }

  }

  @include smallPlus {

    &_item:first-child {
      flex: 2;
    }

    &_item:last-child {
      flex: 1;
    }

  }

}
