.table-offer {
  margin-top: 2rem;

  tbody > tr:first-child td {
    background-color: $table-head;
  }

  tbody > tr:first-child td,
  tfoot td {
    font-size: 1.125rem; //18px
    font-weight: $heading-font-weight;
  }

  tbody > tr:not(:last-of-type) td {
    border-bottom: 1px solid $gray-lightest;
  }

  tbody > tr:first-of-type td {
    border-bottom: 0;
  }

  tfoot > tr:last-child td {
    border-top: 2px solid $blue-dark;
  }

  td {
    border: 0;
  }

  td + td {
    border-left: 1px solid $gray-lightest;
    text-align: right;
  }

  tfoot td + td {
    border-left: 0;
  }

  tbody + tbody {
    border-top: 0;
  }

  @include medium {

    td + td {
      width: 40%;
    }

  }

  @include mediumPlus {

    td + td {
      width: 30%;
    }

  }

}

.table-advancedPayment {
  table-layout: fixed;

  tbody tr:last-of-type td {
    border-bottom: 1px solid $gray-lighter;
  }

  td + td {
    width: 50%;
  }

}
