// Toggle CSS hack for show/hide effect
.o-toggle {

  &_trigger[type=checkbox] {
    @extend %hiddenHack;
  }

  &_label {
    @extend %user-select;
    @extend %cursor-pointer;

    .first,
    .second {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .second {
      display: none;
    }

    .o-mainSearch &-advSearch,
    .o-mainSearch &-searchType {
      @extend %absoluteX;
      width: 100%;
      padding: .3125rem .9375rem;
      margin: auto;
    }

    .o-mainSearch &-advSearch {
      top: 100%;
      background-color: $brand-primary-light;
      border-radius: 0 0 20px 20px;
    }

    .o-mainSearch &-searchType {
      bottom: 100%;
      background-color: rgba($white, .88);

      .p-search & {
        display: none;
      }

    }

    .o-lang & {
      display: block;
      padding: .294rem 0;
    }

  }

  .o-lang &_body {
    position: absolute;
    top: 100%;
    right: 0;
  }

  &_body,
  &_trigger[type=checkbox]:checked ~ .o-mainSearch_list-type,
  &_trigger[type=checkbox]:checked ~ &_label .first {
    display: none;
  }

  &_trigger[type=checkbox]:checked ~ &_label-advSearch {
    box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);
  }

  &_trigger[type=checkbox]:checked ~ .o-toggle_body,
  &_trigger[type=checkbox]:checked ~ .o-mainSearch_list-name {
    display: block;
  }

  &_trigger[type=checkbox]:checked ~ &_label .second {
    display: flex;
  }

  .o-sideInfoList_item &_trigger[type=checkbox]:checked ~ .preformat {
    height: auto;
  }

  .o-sideInfoList_item &_trigger[type=checkbox]:checked ~ .preformat:after {
    content: normal;
  }

  @include largeDown {

    .o-mainSearch &_label-searchType {
      position: relative;
      display: block;
    }

  }

  @include large {

    .o-mainSearch &_label-advSearch,
    .o-mainSearch &_label-searchType {
      width: 30%;
    }

    .o-mainSearch &_label-searchType {
      border-radius: 20px 20px 0 0;
    }

    .o-lang &_label {pointer-events: none;}

  }

}
