.o-unit {
  @include transition(box-shadow, 200ms);
  border-radius: 5px;

  &_img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &_body {
    border: 1px solid $unitBorder;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:hover {
    box-shadow: 0 3px 6px rgba($black, .16), 0 3px 6px rgba($black, .23);
  }

  &_banner {
    top: -3px;
    left: 10px;
    width: 55px;
    height: 59px;
    color: $white;
    font-size: 1.25rem;

    &:after {
      content: url('../media/app/banner-tail.svg');
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      line-height: 0;
    }

  }

}
