.o-weather {

  &_item {
    @include clearfix;
    flex: 1;

    @include largeDown {

      &:nth-child(n+4) {
        display: none;
      }

    }

    @include mediumDown {

      &:nth-child(n+3) {
        display: none;
      }

    }

  }

  &_cell {
    float: left;

    &:first-child {
      width: 40%;
      text-align: right;
    }

    &:last-child {
      width: 60%;
      padding: .625rem 0 0 .3125rem;
      text-align: left;
    }

    > .temp {
      font-size: 1.25rem; // 20px
    }

  }

  &_img {
    width: 55px;
  }

}
