@import "../../app/04_components/c-btn";

.btn {

  .o-tablePaymentInfo-basic & {
    margin-top: 1rem;
  }

  @include customQuery('min-width: 900px') {

    .o-tablePaymentInfo-basic &,
    .o-tablePaymentInfo-advanced & {
      margin-right: 1rem;
    }

  }

  @include tabletPlusOnly {

    .o-tablePaymentInfo-basic &_wrapper {
      display: flex;
      justify-content: space-between;

      .btn {
        max-width: 47%;
      }

    }

  }

  @include tabletPlus {

    &-wide-xl {
      max-width: 270px;
    }

  }

}
