.o-voucherInfoTable {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  line-height: 1.6;

  td {
    vertical-align: top;
  }

  td:first-child {
    white-space: nowrap;
  }

  td td {
    padding-top: .5rem;
  }

  td td + td {
    padding-left: 1rem;
  }

  &-block {

    td td {
      display: block;
    }

  }

  @include print {

    > tbody > tr > td {
      float: left;
      width: 49%;
    }

    > tbody > tr > td > table > tbody > tr > td:nth-child(even) {
      word-break: break-word;
    }

    > tbody > tr > td + td {
      padding-top: 0;
    }

  }

  @include laptopDown {

    > tbody > tr > td {
      display: inline-block;
    }

    > tbody > tr > td + td {
      padding-top: 2rem;
    }

  }

  @include laptop {

    &-inline {

      td td {
        max-width: 4px;
      }

    }

    > tbody > tr > td + td {
      padding-left: 1rem;
    }

  }

}
