<!--Load Main HTML Layout-->
{% extends "html/pdf/templates/base.html" %}

<!--Define Page Title-->
{% set pageTitle = 'Voucher pdf' %}

<!--Define body class-->
{% set bodyClass = 'p-voucher' %}

<!--Main Content-->
{% block content %}

{% include "html/pdf/templates/header.html" %}

<main>
  <!-- For PDF use 'container-fluid' -->
  <div class="container">
    <div class="row">
      <div class="col">

        <div>
          <table class="o-tableInformations my-4 text-left">

            <thead>
              <tr>
                <th>
                  <h1 class="c-ttl c-ttl-pg color-headings-neutral mt-5 font-weight-light">Your booking ID</h1>
                  <div class="mb-5">AB1 C23</div>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr>

                <td>
                  <strong class="color-headings-neutral">Apartmani Zoran</strong><br>
                  <span class="color-headings-neutral">Location:</span> Vrbnik
                  <br><br>

                </td>

              </tr>
            </tbody>

          </table>
        </div>

        <div>
          <table class="o-voucherInfoTable w-100 text-left">

            <tbody>
              <tr>
                <td>
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th colspan="2">
                          <h2 class="c-ttl c-ttl-mdp mb-3 color-headings-neutral">Personal data and booking info</h2>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td><strong class="color-headings-neutral">Full name:</strong></td>
                        <td>John Wayne</td>
                      </tr>

                      <tr>
                        <td><strong class="color-headings-neutral">Full address:</strong></td>
                        <td>Mountain drive 12,<br>
                          Gotham 12345,<br>
                          USA
                        </td>
                      </tr>

                      <tr>
                        <td><strong class="color-headings-neutral">Email:</strong></td>
                        <td>someone@something.com</td>
                      </tr>

                      <tr>
                        <td><strong class="color-headings-neutral">Cellphone:</strong></td>
                        <td>0987654321</td>
                      </tr>

                      <tr>
                        <td><strong class="color-headings-neutral">Check in:</strong></td>
                        <td>10.10.2012.</td>
                      </tr>

                      <tr>
                        <td><strong class="color-headings-neutral">Check out:</strong></td>
                        <td>12.10.2012.</td>
                      </tr>

                      <tr>
                        <td><strong class="color-headings-neutral">Adults:</strong></td>
                        <td>2</td>
                      </tr>

                      <tr>
                        <td><strong class="color-headings-neutral">Kids:</strong></td>
                        <td>5 (Age 1, 4, 5, 6, 7)</td>
                      </tr>
                    </tbody>
                  </table>
                </td>

                <td>
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th colspan="2">
                          <h2 class="c-ttl c-ttl-mdp mb-3 color-headings-neutral">Contact person and location</h2>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td><strong class="color-headings-neutral">Full name:</strong></td>
                        <td>Johnny Walker</td>
                      </tr>

                      <tr>
                        <td><strong class="color-headings-neutral">Full address:</strong></td>
                        <td>Mountain drive 12,<br>
                          Gotham 12345,<br>
                          USA
                        </td>
                      </tr>

                      <tr>
                        <td><strong class="color-headings-neutral">Cellphone:</strong></td>
                        <td>0987654321</td>
                      </tr>

                      <tr>
                        <td><strong class="color-headings-neutral">Telephone:</strong></td>
                        <td>0987654321</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>

          </table>
        </div>

        <div class="mt-5">
          <strong class="color-headings-neutral">Note:&nbsp;</strong>
          At arrival day guests are entering the appartment after 14.00pm and at the depature day they have
          to exit appatment before 10.00am.</div>
      </div>
    </div>
  </div>

  <hr class="my-5">

<!-- For PDF use 'container-fluid' -->
  <div class="container my-5">
    <div class="row">
      <div class="col">

        <table class="o-chargesTable">
          <thead>
            <tr>
              <th colspan="2">
                <h2 class="c-ttl c-ttl-mdp color-headings-neutral text-left mt-3 mb-2">
                  Accommodation charges</h2>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Total price</td>
              <td class="text-right">450.00 EUR</td>
            </tr>

            <tr>
              <td>Advanced payment (Amount paid)</td>
              <td class="text-right">50.00 EUR</td>
            </tr>

            <tr>
              <td><strong>Remaining payment</strong></td>
              <td class="text-right"><strong>10.00 EUR</strong></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <hr class="my-8">

<!-- For PDF use 'container-fluid' -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="my-5">
          Cold calling can be a great way to generate quality leads. You get to speak to the gatekeepers and
          stakeholders, and you get a great insight into their requirements and influences. But cold calling is an
          art-form. It can be daunting, it’s always a lot of work, and you always need to make a good impression.
          So you need to do it right. Following are some tips which will help you do just that.
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}
