<!-- Card START -->
{% macro carditemfunc(carditem_title, carditem_rating, carditem_image, cardAttributes, cardAttrCount, hasAction, cardPrice) %}
<a class="d-block mb-3" href="unit.html">
  <div class="o-cardItem d-inline-block w-100">
    <div class="overflowHidden"><img class="c-img" src="{{ carditem_image }}" alt="Unit card"></div>
    <div class="d-flex o-cardItem_info">
      <div class="w-100 pl-2">
        <div class="mt-1">{% for i in range(0, carditem_rating) -%}
          <img src="../media/app/star.svg" alt="*">
        {%- endfor %}</div>

        <span class="d-inline-block mb-1 font-weight-bold" href="unit.html">{{ carditem_title }}</span>

        <ul style="display: flex;">{% for attr in cardAttributes %}
          <li class="mr-2">
            <i class="c-icon c-icon-25-18"><img class="iconic" src="../media/app/{{ attr }}.svg" alt="{{ attr }}"></i>
            <!-- <img src="../media/app/{{ attr }}.svg" alt=""> -->
          </li>
          {% endfor %}</ul>

      </div>
      <strong class="bg-grayLight d-flex justify-content-center align-items-center whitespace-nowrap f-17 px-4"
          >{{ cardPrice }}</strong>
    </div>

    {% if hasAction %}
    <div style="color: orange;">Unit contains action!</div>
    {% endif %}

  </div>
</a>{% endmacro %}
<!-- Card STOP -->
