{% import "html/app/components/card.html" as card %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<div class="row">

  <form action="" class="col-12">

    <div class="row">

      <div class="col-6">
        {{
          input.inputFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "First name",
            fe_id = "contactFirstName",
            fe_class = "form-control",
            fe_name = "Contact",
            fe_type = "text"
          )
        }}
      </div>

      <div class="col-6">
        {{
          input.inputFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Last name",
            fe_id = "contactLastName",
            fe_class = "form-control",
            fe_name = "Contact",
            fe_type = "text",
            hasError = true
          )
        }}
      </div>

      <div class="col-6">
        {{
          input.inputFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Email",
            fe_id = "contactEmail",
            fe_class = "form-control",
            fe_name = "Contact",
            fe_type = "email"
          )
        }}
      </div>

      <div class="col-6">
        {{
          input.inputFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Cellphone",
            fe_id = "contactCellphone",
            fe_class = "form-control",
            fe_name = "Contact",
            fe_type = "tel"
          )
        }}
      </div>

      <div class="col-12">
        {{
          input.inputFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Message title",
            fe_id = "contactMessageTitle",
            fe_class = "form-control",
            fe_name = "Contact",
            fe_type = "text"
          )
        }}
      </div>

      <div class="col-12">
        {{
          textarea.textareaFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Message",
            fe_id = "contactMessage",
            fe_class = "form-control",
            fe_name = "Contact",
            fe_rows = "5"
          )
        }}
      </div>

    </div>

  </form>

  <div class="col-lg-3 col-md-6">

    {{
      card.carditemfunc(
        carditem_image = "http://via.placeholder.com/630x340",
        carditem_title = "Apartman Ivana",
        carditem_rating = "3",
        cardAttributes = ["wifi", "bed", "balcony", "pool"],
        cardPrice = "250 EUR / satu",
        hasAction = false
      )
    }}

  </div>

  <div class="col-lg-3 col-md-6">

    {{
      card.carditemfunc(
        carditem_image = "http://via.placeholder.com/630x340",
        carditem_title = "Apartman Ivana",
        carditem_rating = "3",
        cardAttributes = ["wifi", "bed", "balcony", "pool"],
        cardPrice = "250 EUR / satu",
        hasAction = false
      )
    }}

  </div>

  <div class="col-lg-3 col-md-6">

    {{
      card.carditemfunc(
        carditem_image = "http://via.placeholder.com/630x340",
        carditem_title = "Apartman Ivana",
        carditem_rating = "3",
        cardAttributes = ["wifi", "bed", "balcony", "pool"],
        cardPrice = "250 EUR / satu",
        hasAction = false
      )
    }}

  </div>

  <div class="col-lg-3 col-md-6">

    {{
      card.carditemfunc(
        carditem_image = "http://via.placeholder.com/630x340",
        carditem_title = "Apartman Ivana",
        carditem_rating = "3",
        cardAttributes = ["wifi", "bed", "balcony", "pool"],
        cardPrice = "250 EUR / satu",
        hasAction = false
      )
    }}

  </div>

  <div class="col-12">
    <h1 class="c-ttl c-ttl-h1">Heading 1</h1>
    <h2 class="c-ttl c-ttl-h2">Heading 2</h2>
    <h3 class="c-ttl c-ttl-h3">Heading 3</h3>
    <h4 class="c-ttl c-ttl-h4">Heading 4</h4>
    <h5 class="c-ttl c-ttl-h5">Heading 5</h5>
    <h6 class="c-ttl c-ttl-h6">Heading 6</h6>
  </div>

  <div class="col-12">
    {% include "html/app/components/map.html" %}
  </div>

  <div class="col-12">
    <a class="c-btn c-btn-primary" href="index.html">Primary button</a>
    <a class="c-btn c-btn-secondary" href="index.html">Secondary button</a>
  </div>

  <div class="col-12">
    {% include "html/app/components/pagination.html" %}
  </div>

  <div class="col-12">
    <button type="button" class="c-btn c-btn-primary" data-toggle="modal" data-target="#modal">
      <i class="c-icon c-icon-78"><img class="iconic" src="../media/app/like.svg"></i>
    </button>
  </div>

</div>

{% include "html/app/components/modal.html" %}
