<!-- Currency -->
<ul class="o-mainNav_currency relative mr-3">
  <li class="o-mainNav_currencyItem d-inline-block">

    <!-- Current Currency -->
    <div class="o-mainNav_langCurrent" data-currCurrent>
      <a class="c-link d-flex align-items-center" href="#">
        <span class="d-inline-block py-1">EUR</span>
        <i class="c-icon c-icon-black c-icon-12-6">
          <img class="iconic" src="../media/app/chevron.svg" alt="chevron">
        </i>
      </a>
    </div>

    <!-- Other Currencies -->
    <ul class="o-mainNav_langList" data-currList>
      <li class="o-mainNav_langListItem">
        <a class="c-link d-block text-center px-5 py-3" href="#">HRK</a>
      </li>
    </ul>

  </li>
</ul>
