<footer class="o-mainFooter bg-grayLight py-5">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center mb-5">
          {% include "html/app/components/mainLogo.html" %}
        </div>
      </div>

      <div class="col-lg-11">
        <div class="row">

          <div class="col-mdp-6 col-lg-4">
            <ul class="o-infoList">
              <li><strong>ApartMoments</strong></li>
              <li>Porat 25</li>
              <li>51511 Malinska, Croatia</li>
              <li><strong class="o-infoList_label">ID Code: </strong>HR-XX-XX-XXXXXX</li>
            </ul>
          </div>

          <div class="col-mdp-6 col-lg-4 mt-5 mt-mdp-0">
            <ul class="o-infoList o-infoList-contact">
              <li class="o-infoList-contact_item"><strong class="o-infoList_label">Tel:</strong>
                <a class="c-link" href="tel:0123456789">+385 51 098 7654 333</a>
              </li>

              <li class="o-infoList-contact_item"><strong class="o-infoList_label">Fax:</strong>
                <a class="c-link" href="tel:0123456789">+385 51 098 7654 333</a>
              </li>

              <li class="o-infoList-contact_item"><strong class="o-infoList_label">Mob:</strong>
                <a class="c-link" href="tel:0123456789">+385 51 098 7654 333</a>
              </li>

              <li class="o-infoList-contact_item"><strong class="o-infoList_label">Email:</strong>
                <a class="c-link" href="mailto:info@example.com">info@example.com</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 mt-5 mt-lg-0">
            <ul class="o-infoList o-infoList-contact">
              <li class="o-infoList-contact_item"><strong class="o-infoList_label">Bank:</strong>
                  Erste Steirmerkische Bank d.d. Rijeka</li>
              <li class="o-infoList-contact_item"><strong class="o-infoList_label">IBAN:</strong>
                  HR12345678909876</li>
              <li class="o-infoList-contact_item"><strong class="o-infoList_label">SWIFT:</strong>
                  12345678</li>
              <li class="o-infoList-contact_item"><strong class="o-infoList_label">ID Code:</strong>
                  HR-XX-XX-XXXXXX</li>
            </ul>
          </div>

          <div class="col-12">
            <ul class="o-socialList d-flex justify-content-center my-4">

              <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-42">
                <img class="iconic" src="../media/social/facebook.svg" alt="Facebook"/></i></a>
              </li>

              <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-42">
                <img class="iconic" src="../media/social/pinterest.svg" alt="Pinterest"/></i></a>
              </li>

              <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-42">
                <img class="iconic" src="../media/social/googlePlus.svg" alt="Google +"/></i></a>
              </li>

              <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-42">
                <img class="iconic" src="../media/social/twitter.svg" alt="Twitter"/></i></a>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="o-footerNav py-1 bg-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="o-footerNav_list d-flex flex-wrap justify-content-center py-2">
            <li class="o-footerNav_item my-2"><a class="c-link" href="#">About</a></li>
            <li class="o-footerNav_item my-2"><a class="c-link" href="#">Privacy policy</a></li>
            <li class="o-footerNav_item my-2"><a class="c-link" href="#">Terms & Conditions</a></li>
            <li class="o-footerNav_item my-2"><a class="c-link" href="#">Booking Conditions</a></li>
            <li class="o-footerNav_item my-2"><a class="c-link" href="#">Cookie Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="text-center">

          <div class="o-copyright mb-3">Copyright &copy; 2018 Company Name</div>

          <div class="o-hexis">
            <a class="o-hexis_a" href="http://hexis.hr/en/" title="Vacation Rental Software"
              target="_blank"><img class="o-hexis_img" src="../media/brand/hexis.svg" alt="Vacation Rental Software">
              <div class="o-hexis_rent">Vacation Rental Software</div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

</footer>
