{% import "html/app/components/searchForm.html" as tabsForm %}

<header class="o-mainHeader">
  <h1 class='sr-only'>{{ siteName }}</h1>

  <div class="bg-grayLight">
    <div class="container">
      <div class="row">
        <div class="col-12 text-right">

          <div class="d-flex justify-content-end">
            <!-- Currency switcher -->
            {% include "html/app/components/currSwitch.html" %}

            <!-- Language switcher -->
            {% include "html/app/components/langSwitch.html" %}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="o-mainHeader_nav relative">
          
          <!-- Main Logo -->
          {% include "html/app/components/mainLogo.html" %} 

          <!-- Search and Mobile : Triggers -->
          {% include "html/app/components/mobileSearchMenuTriggers.html" %}

          <!-- Main Navigation -->
          {% include "html/app/components/mainNavigation.html" %}

          <!-- Search Form -->
          {{
            tabsForm.tabFunc(
              tabsId = "setOfTabs1",
              toggleValueOne = "tab1",
              toggleValueTwo = "tab2"
            )
          }}

        </div>

      </div>
    </div>
  </div>

</header>
