<!-- Language -->
<ul class="o-mainNav_lang relative">
  <li class="o-mainNav_langItem">

    <!-- Current Language -->
    <div class="o-mainNav_langCurrent" data-langCurrent>
      <a class="c-link d-flex align-items-center" href="#">
        <span class="d-inline-block py-1">English</span>
        <i class="c-icon c-icon-black c-icon-12-6">
          <img class="iconic" src="../media/app/chevron.svg" alt="chevron">
        </i>
      </a>
    </div>

    <!-- Other Languages -->
    <ul class="o-mainNav_langList" data-langList>
      <li class="o-mainNav_langListItem">
        <a class="c-link d-block text-center px-5 py-3" href="#">Français</a>
      </li>
      <li class="o-mainNav_langListItem">
        <a class="c-link d-block text-center px-5 py-3" href="#">Español</a>
      </li>
    </ul>

  </li>
</ul>
