<nav class="o-mainNav">

  <!-- There is no need for translation of this item, it is placed here only for HTML semantic reason -->
  <h1 class='sr-only'>Main navigation</h1>

  <ul class="o-mainNav_list" data-menu>
    <!-- data-mobileMenu -->
    <li class="o-mainNav_item -sub">
      <a class="c-link" href="search.html">Apartmani</a>
      <i class="c-icon c-icon-black c-icon-12-6" data-subTrigger>
        <img class="iconic" src="../media/app/chevron.svg" alt="chevron">
      </i>
      <ul class="o-mainNav_subList" data-subMenu>
        <li class="o-mainNav_subItem">
          <a class="c-link" href="unit.html">Unit page</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link" href="inquiry.html">Inquiry page</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link" href="inquiryPreview.html">Inquiry preview page</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link" href="offer.html">Offer page</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link" href="contact.html">Contact page</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link" href="contactPreview.html">Contact preview page</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link" href="404.html">404 page</a>
        </li>
      </ul>
    </li>
    <li class="o-mainNav_item -sub">
      <a class="c-link" href="thankYou.html">Thank you page</a>
      <i class="c-icon c-icon-black c-icon-12-6" data-subTrigger>
        <img class="iconic" src="../media/app/chevron.svg" alt="chevron">
      </i>
      <ul class="o-mainNav_subList" data-subMenu>
        <li class="o-mainNav_subItem">
          <a class="c-link" href="404.html">404 page</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link" href="accessDenied.html">Access denied page</a>
        </li>
      </ul>
    </li>
    <li class="o-mainNav_item">
      <a class="c-link" href="about.html">O nama</a>
    </li>
    <li class="o-mainNav_item">
      <a class="c-link" href="contact.html">Kontakt</a>
    </li>
  </ul>

</nav>
