<a class="o-logo" href="index.html">
  <img class="o-logo_img-small" src="../media/brand/logoSmall.svg" alt="Project name">
  <img class="o-logo_img-big" src="../media/brand/logoBig.svg" alt="Project name">
</a>
