<div class="order-1 order-lg-0">
  <div class="o-searchToggle mr-3" data-mobile="search">
    <span></span>
  </div>

  <div class="o-menuToggle" data-mobile="menu">
    <span></span>
  </div>
</div>
