<!-- Modal START -->
<div class="o-modal modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-secondary color-white d-block text-center">
        <i class="c-icon c-icon-78"><img class="iconic" src="../media/app/like.svg"></i>

        <h5 class="c-ttl c-ttl-h5" id="modalLabel">Podijeli apartman sa prijateljem</h5>

        <div class="mt-2 op-95 pb-5">Preporuči ga svojim poznanicima i/ili prijateljima, sve što moraš je
            ili upisati njihove email adrese u polje ispod ili kopirati link za dijeljenje.</div>

        <button class="c-btn c-btn-secondary close f-26 p-3 w-auto" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body d-flex flex-column align-items-center">
        <img class="o-modal_img" src="http://via.placeholder.com/300x300" alt="Modal image">

        <form class="w-100 text-center" action="">
          {{
            input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label my-3",
              lb_txt = "Upiši email adresu prijatelja",
              fe_id = "modalEmail",
              fe_class = "form-control",
              fe_name = "Contact",
              fe_type = "email",
              fe_placeholder = "marina@gmail.com"
            )
          }}

          <button class="c-btn c-btn-primary c-btn-mw190 w-100">Preporuči</button>
        </form>

        <hr class="my-4">

        <strong>Link za dijeljenje</strong>

        <div class="relative">
          <span id="shareLink" class="o-modal_shareLink color-secondary f-26 d-inline-block pb-2 mt-3 mb-2 break-word"
              >http://apart-moments.hr/b/apt123
          </span>
          <div class="o-modal_shareLink_trigger" data-clipboard data-clipboard-target="#shareLink"></div>
        </div>

        <span class="f-14" data-clipboard-message>(Copy text to clipboard)</span>

      </div>
    </div>
  </div>
</div>
<!-- Modal STOP -->
