{% macro tabFunc(tabsId, toggleValueOne, toggleValueTwo) %}

{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/input.html" as input %}

<div class="o-searchForm" data-search>
  <form action="">

    <!-- Tabs -->
    <ul class="o-searchForm_tabs d-flex" data-tab-togglers="#{{ tabsId }}">

      <li class="o-searchForm_tabsItem">
        <label class="form-label form-label-tabs active" for="day" data-toggle-tab="{{ toggleValueOne }}">Dnevni odmor</label>
        <input id="day" class="form-radio" type="radio" name="vacType">
      </li>

      <li class="o-searchForm_tabsItem">
        <label class="form-label form-label-tabs" for="night"  data-toggle-tab="{{ toggleValueTwo }}">Noćenje</label>
        <input id="night" class="form-radio" type="radio" name="vacType">
      </li>

    </ul>

    <div id="{{ tabsId }}" class="o-searchForm_wrapper">
      <!-- Dnevni odmor -->
      <ul class="o-searchForm_list active flex-column flex-md-row flex-md-wrap flex-lg-row flex-lg-nowrap" 
          data-tab="{{ toggleValueOne }}">

        <li class="o-searchForm_item">
          {{
            select.selectFunction(
              fg_class = "form-group m-0",
              lb_class = "form-label",
              lb_txt = "Lokacija",
              fe_id = "locationDay",
              fe_class = "form-control select",
              fe_name = "locationDay",
              opt_1 = "Rijeka",
              opt_2 = "Novigrad",
              opt_3 = "Zagreb"
            )
          }}
        </li>

        <li class="o-searchForm_item">
          {{
            input.inputFunction(
              fg_class = "form-group m-0",
              lb_class = "form-label",
              lb_txt = "Datum",
              fe_id = "date",
              fe_class = "form-control",
              fe_name = "date",
              fe_type = "text",
              fe_attr = ["readonly data-datepicker"]
            )
          }}
        </li>

        <li class="o-searchForm_item">
          {{
            input.inputFunction(
              fg_class = "form-group m-0",
              lb_class = "form-label",
              lb_txt = "Vrijeme",
              fe_id = "time",
              fe_class = "form-control",
              fe_name = "time",
              fe_type = "time"
            )
          }}
        </li>

        <li class="o-searchForm_item">
          {{
            select.selectFunction(
              fg_class = "form-group m-0",
              lb_class = "form-label",
              lb_txt = "Trajanje",
              fe_id = "duration",
              fe_class = "form-control select",
              fe_name = "duration",
              opt_1 = "1 h",
              opt_2 = "2 h",
              opt_3 = "3 h",
              opt_1 = "4 h",
              opt_2 = "5 h",
              opt_3 = "6 h",
              opt_1 = "7 h",
              opt_2 = "8 h",
              opt_3 = "9 h",
              opt_1 = "10 h",
              opt_2 = "11 h",
              opt_3 = "12 h"
            )
          }}
        </li>

        <li class="o-searchForm_item btn">
          <div class="form-group m-0">
            <a href="#" class="c-btn c-btn-primary w-100">Pretraži</a>
          </div>
        </li>

      </ul>

      <!-- Noćenje -->
      <ul class="o-searchForm_list o-searchForm_list-night flex-column flex-md-row flex-md-wrap flex-lg-row flex-lg-nowrap"     data-tab="{{ toggleValueTwo }}">
      
        <li class="o-searchForm_item">
          {{
            select.selectFunction(
              fg_class = "form-group m-0",
              lb_class = "form-label",
              lb_txt = "Lokacija",
              fe_id = "locationNight",
              fe_class = "form-control select",
              fe_name = "locationNight",
              opt_1 = "Rijeka",
              opt_2 = "Novigrad",
              opt_3 = "Zagreb"
            )
          }}
        </li>
      
        <li class="o-searchForm_item">
          {{
            input.inputFunction(
              fg_class = "form-group m-0",
              lb_class = "form-label",
              lb_txt = "Prijava",
              fe_id = "checkIn",
              fe_class = "form-control",
              fe_name = "checkIn",
              fe_type = "text",
              fe_attr = ["readonly data-datepicker"]
            )
          }}
        </li>
      
        <li class="o-searchForm_item">
          {{
            input.inputFunction(
              fg_class = "form-group m-0",
              lb_class = "form-label",
              lb_txt = "Odjava",
              fe_id = "checkOut",
              fe_class = "form-control",
              fe_name = "checkOut",
              fe_type = "text",
              fe_attr = ["readonly data-datepicker"]
            )
          }}
        </li>
      
        <li class="o-searchForm_item btn">
          <div class="form-group m-0">
            <a href="#" class="c-btn c-btn-primary w-100">Pretraži</a>
          </div>
        </li>
      
      </ul>
    </div>

  </form>
</div>
{% endmacro %}
