select, option {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand{
  display: none;
}

select {
  @extend %no-repeat;
  @extend %cursor-pointer;
  background-size: 13px 9px;
  background-position: calc(100% - 10px) 50%; //todo create fallback for calc

  &.form-control {
    @extend %bg-no-repeat;
    height: 41px!important;
    background-color: $white;
    font-weight: $light-font-weight;
    background-image: url('../media/app/selectArrow.svg');

    @include iedge() {
      padding-right: 2rem;
    }

    .table.table-extraCharges & {

      @include iedge() {
        padding-right: 0;
      }

    }

    .table.table-extraCharges &:focus::-ms-value {

      @include iedge() {
        background-color: transparent;
      }

    }

    @include edge() {

      &#country {
        padding-bottom: 0;
      }

    }

    &:focus {
      box-shadow: none;
    }

    .table & {
      @extend %absoluteFull;
      background-color: transparent;
      left: auto;
      width: 3.5rem;
      border: 0;

      &:focus {
        background-color: transparent;
      }

    }

  }

}
