<header class="o-mainHeader">

  <!-- Topbar START -->
  <div class="o-mainHeader_topbar">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="o-mainHeader_topbarWrapper">

            <!-- Contact START -->
            <ul class="o-mainHeader_contactList">
              <li class="o-mainHeader_contactItem -phone">
                <a class="c-link" href="tel:+38551436048">
                  <span class="contact">+385 (0)51 436 048</span>
                </a>
              </li>
              <li class="o-mainHeader_contactItem -mail">
                <a class="c-link" href="mailto:marindudaric@gmail.com">
                  <span class="contact">marindudaric@gmail.com</span>
                </a>
              </li>
            </ul>
            <!-- Contact STOP -->

            <!-- Language START -->
            {% include "src/html/app/components/switcherLang.html" %}
            <!-- Language STOP -->

          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- Topbar STOP -->

  <!-- Bottombar START -->
  <div class="o-mainHeader_bottombar">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="o-mainHeader_bottombarWrapper" data-sticky-header>

            <!-- Logo -->
            <a class="c-link -logo" href="index.html">
              <img class="c-img goku" src="../media/brand/hexis.svg" alt="logo">
            </a>

            <!-- Menu START -->
            <div class="o-mainHeader_nav">

              <div class="o-mainHeader_navTrigger" data-menu-trigger="menu">
                <span></span>
              </div>

              <!-- Main Navigation START -->
              {% include "src/html/app/components/mainNavigation.html" %}
              <!-- Main Navigation STOP -->

            </div>
            <!-- Menu STOP -->

          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- Bottombar START -->

</header>
