<div class="o-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d89729.90593299073!2d14.426813999999997!3d45.34760995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shr!2shr!4v1463655324258"
    width="100%" height="100%"; style="pointer-events: none;" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
