// Font Size
$body-font-size: 100%;


// Line height
$line-height-default: 25px;


// Letter spacing
$letter-spacing-default: 1px;
$letter-spacing-lg: 0.25rem;


// Font Family
$font-family-openSansPro:     'Source Sans Pro', sans-serif;
$font-family-bellefair:       'Bellefair', serif;
$font-family-base:            $font-family-openSansPro;
$font-family-heading:         $font-family-bellefair;


// Font Weight
// $font-weight-black: 900;
// $font-weight-heavy: 800;
// $font-weight-heading: 700;
// $font-weight-semiBold: 600;
// $font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
// $font-weight-thin: 200;
