<!--Load Main HTML Layout-->
{% extends "html/pdf/templates/base.html" %}

<!--Define Page Title-->
{% set pageTitle = 'Payment' %}

<!--Define body class-->
{% set bodyClass = 'p-payment' %}

<!--Main Content-->
{% block content %}

{% include "html/pdf/templates/header.html" %}

<main>
  <!-- For PDF use 'container-fluid' -->
  <div class="container">
    <div class="row">
      <div class="col">

        <div>
          <table class="o-tableInformations my-4 text-left">

            <thead>
              <tr>
                <th colspan="2">
                  <h1 class="c-ttl c-ttl-lg mb-2">Offer #3334j34j4n3nkDdss</h1>
                </th>
              </tr>

              <tr>
                <th colspan="2">
                  Offer date:<span class="ml-5">16.12.2016.</span>
                  <br><br>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr>

                <td>
                  <strong>Full name</strong><br>
                  Captain Jack Sparrow
                  <br><br>

                  <strong>Full address</strong><br>
                  House second<br>
                  Haunted Hill 12344<br>
                  California
                  <br><br>

                  <strong>Email</strong><br>
                  someone@something.net
                  <br><br>

                  <strong>Cellphone</strong><br>
                  0987654321

                </td>

                <td>
                  <strong>Check in</strong><br>
                  01.02.2017.
                  <br><br>

                  <strong>Check out</strong><br>
                  04.02.2017.
                  <br><br>

                  <strong>Adults</strong><br>
                  5
                  <br><br>

                  <strong>Kids</strong><br>
                  2

                </td>

              </tr>
            </tbody>

          </table>
        </div>

        <div>
          <table class="table o-invoiceTable">

            <tbody class="thead">
              <tr>
                <th>Service</th>
                <th>Season</th>
                <th>From</th>
                <th>Till</th>
                <th class='text-right'>Applied</th>
                <th class='text-right'>Price</th>
                <th class='text-right'>Amount</th>
              </tr>
            </tbody>

            <!-- Object with multiple seasons START -->
            <tbody class="object object-multipleSeasons">
              <tr class="object-multipleSeasons_start">
                <td>Apartmani Rea</td>
                <td data-label="Season">Season A</td>
                <td data-label="From">01.03.2017.</td>
                <td data-label="Till">10.03.2017.</td>
                <td class='text-right' data-label="Applied">3</td>
                <td class='text-right' data-label="Price">34.00 EUR</td>
                <td class='text-right' data-label="Amount">135.00 EUR</td>
              </tr>

              <!-- Second season START -->
              <tr class="object-multipleSeasons_start">
                <td></td>
                <td data-label="Season">Season B</td>
                <td data-label="From">01.06.2017.</td>
                <td data-label="Till">06.06.2017.</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <!-- If season contain second period START -->
              <tr>
                <td></td>
                <td></td>
                <td data-label="From">24.06.2017.</td>
                <td data-label="Till">30.06.2017.</td>
                <td class='text-right' data-label="Applied">2</td>
                <td class='text-right' data-label="Price">25.00 EUR</td>
                <td class='text-right' data-label="Amount">50.00 EUR</td>
              </tr>
              <!-- If season contain second period STOP -->

              <!-- Second season STOP -->

            </tbody>
            <!-- Object with multiple seasons STOP -->

            <!-- Object with one season START -->
            <tbody class="object object-oneSeason">
              <tr>
                <td>Apartman Renata</td>
                <td data-label="Season">Season C</td>
                <td data-label="From">22.11.2017.</td>
                <td data-label="Till">26.11.2017.</td>
                <td class='text-right' data-label="Applied">2</td>
                <td class='text-right' data-label="Price">22.00 EUR</td>
                <td class='text-right' data-label="Amount">33.00 EUR</td>
              </tr>
            </tbody>
            <!-- Object with one season STOP -->

            <!-- Charge START -->
            <tbody class="charge">
              <tr>
                <td colspan="7">Mandatory charges</td>
              </tr>

              <tr>
                <td colspan="4">Booking fee</td>
                <td class='text-right' data-label="Applied">2</td>
                <td class='text-right' data-label="Price">2.00 EUR</td>
                <td class='text-right' data-label="Amount">5.00 EUR</td>
              </tr>

              <tr>
                <td colspan="4">Registration fee</td>
                <td class='text-right' data-label="Applied">99</td>
                <td class='text-right' data-label="Price">98.00 EUR</td>
                <td class='text-right' data-label="Amount">97.00 EUR</td>
              </tr>

              <tr>
                <td colspan="4">Cleaning fee</td>
                <td class='text-right' data-label="Applied">5</td>
                <td class='text-right' data-label="Price">4.00 EUR</td>
                <td class='text-right' data-label="Amount">3.00 EUR</td>
              </tr>
            </tbody>
            <!-- Charge STOP -->

            <!-- Charge START -->
            <tbody class="charge">
              <tr>
                <td colspan="7">Optional charges</td>
              </tr>

              <tr>
                <td colspan="4">Parking place</td>
                <td class='text-right' data-label="Applied">1</td>
                <td class='text-right' data-label="Price">11.00 EUR</td>
                <td class='text-right' data-label="Amount">111.00 EUR</td>
              </tr>

            </tbody>
            <!-- Charge STOP -->

            <!-- Discounts START -->
            <tbody class="charge">
              <tr>
                <td colspan="7">Discounts</td>
              </tr>

              <tr>
                <td colspan="4">Baby discount</td>
                <td class='text-right' data-label="Applied">2</td>
                <td class='text-right' data-label="Price">22.00 EUR</td>
                <td class='text-right' data-label="Amount">222.00 EUR</td>
              </tr>

            </tbody>
            <!-- Discounts STOP -->

            <!-- Actions START -->
            <tbody class="charge">
              <tr>
                <td colspan="7">Actions</td>
              </tr>

              <tr>
                <td colspan="4">First minute action</td>
                <td class='text-right' data-label="Applied">3</td>
                <td class='text-right' data-label="Price">33.00 EUR</td>
                <td class='text-right' data-label="Amount">333.00 EUR</td>
              </tr>

            </tbody>
            <!-- Actions STOP -->

            <tbody class="total">
              <tr>
                <td colspan="4">Total</td>
                <td class="text-right" data-label="Total" colspan="3">123.23 EUR</td>
              </tr>
            </tbody>

          </table>
        </div>

        <div>
          <table class="o-tablePaymentInfo w-100 mt-3 mb-5">
            <tbody>
              <tr>
                <td class="text-mdp-right mt-2 mb-4 my-mdp-0">
                  <a class="c-link c-link-underline" href="#">Download PDF</a>
                </td>

                <td>
                  <strong>
                    For the reservation of accommodation unit you already payed the advance payment of amount 61.20 EUR.
                    Remaining payment of amount 142.80 EUR till 01.03.2016.
                  </strong>
                </td>
              </tr>

              <tr>
                <td class="pt-3" colspan="2">
                  <a class="btn btn-primary" href="#">Pay with Paypal</a>
                  <a class="btn btn-primary" href="#">Pay with credit card</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <!-- For PDF use 'container-fluid' -->
  <div class="container">
    <div class="row">
      <div class="col">

        <section class="mt-4 pt-2">
          <h1 class="c-ttl c-ttl-lg text-uppercase">Instructions for paying via bank account</h1>

          <dl class="o-instructions">
            <dt class="o-instructions_dt">RECIPIENT</dt>
            <dd class="o-instructions_dd">Hotel Navis</dd>

            <dt class="o-instructions_dt">BANK</dt>
            <dd class="o-instructions_dd">Privredna Banka d.d. Zagreb, Rackoga 6, 10 000 Zagreb</dd>

            <dt class="o-instructions_dt">IBAN</dt>
            <dd class="o-instructions_dd">HR 12345678910485333</dd>

            <dt class="o-instructions_dt">SWIFT</dt>
            <dd class="o-instructions_dd">123456789</dd>

            <dt class="o-instructions_dt">DESCRIPTION OF PAYMENT</dt>
            <dd class="o-instructions_dd">#56C2F3AC10BED</dd>

            <dt class="o-instructions_dt">REFERENCE NUMBER</dt>
            <dd class="o-instructions_dd">56C2F3AC10BED</dd>
          </dl>
        </section>

      </div>
    </div>
  </div>

</main>

{% endblock %}
