/*
  Helper classes for background color
*/

.bg-white {
  //background-color: $white;
}

.bg-black {
  //background-color: $black;
}

.bg-secondary {
  background-color: $brand-secondary;
}

.bg-grayLight {
  background-color: rgba($gray-lightest,.39);
}

.bg-promo {
  background-color: $promo;
}

.bg-promo-light {
  background-color: $promo-light;
}

.bg-promo-lighter {
  background-color: $promo-lighter;
}

.bg-alert-success {
  background-color: $alert-success-light;
}

.bg-seaShell {
  background-color: $seaShell;
}

.bg-overlay:after {
  @extend %absoluteFull;
  content: '';
  z-index: -1;
  left: -4000px;
  background-color: inherit;
}

.bg-overlay-shadow:after {
  box-shadow: 0 5px 13px 0 $gray-lightest;
}
