/*
  Helper classes for font styles
*/

.lightWeight {
  font-weight: $light-font-weight;
}

.regularWeight {
  //font-weight: $regular-font-weight;
}

.mediumWeight {
  //font-weight: $medium-font-weight;
}

.boldWeight {
  font-weight: $heading-font-weight;
}

.font-body {
  //font-family: $body-font-family;
}

.font-heading {
  //font-family: $heading-font-family;
}
