/*
  Helper classes for text color
*/

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.color-lighterBlack {
  color: $black-lighter;
}

.color-secondary {
  color: $brand-secondary;
}

.color-primary {
  color: $brand-primary;
}

.color-grayLight {
  color: $gray-lighter;
}

.color-txt {
  color: $text-color;
}

.color-grayLighter {
  color: $gray-lighter;
}

.color-alert-success {
  color: $alert-success-dark;
}
