<div class="container">
  <div class="row">

    <div class="col-12">
      <a class="c-btn c-btn-primary" href="#">
        Pošalji
        <i class="c-icon c-icon-white c-icon-32-18">
          <img class="iconic" data-src="../media/app/arrow.svg">
        </i>
      </a>
      <a class="c-btn c-btn-primary c-btn-wide-lg w-100" href="#">Primary wide button</a>
    </div>

    <div class="col-12">
      <a class="c-btn c-btn-secondary -next" href="#">Secondary button</a>
    </div>

    <div class="col-12">
      <hr>
    </div>

    <div class="col-12">
      <i class="c-icon"><img class="iconic" data-src="../media/iconic/cog.svg"></i>
    </div>

    <div class="col-12">
      <!-- Button trigger modal -->
      <button type="button" class="c-btn c-btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="c-btn c-btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="c-btn c-btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4">
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        Tooltip on top
      </button>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="form-label" for="formCont">Some form label</label>
        <input id="formCont" class="form-control" type="text" placeholder="poruka">
      </div>
    </div>

  </div>
</div>
