<footer class="o-mainFooter">
  <h2 class="sr-only">Main Footer</h2>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center color-white">
        <i class="c-icon c-icon-white c-icon-180-116">
          <img class="iconic" src="../media/app/logo-white.svg" alt="Logo">
        </i>
        <div class="my-4 lh2">
          <img class="c-img-royal d-block mb-2 mx-auto" src="../media/app/chevronRoyal.png" alt="chevron royal">
          Testna adresa 18
          <br> 51000 Rijeka
          <br> Croatia
          <img class="c-img-royal c-img-royal-down d-block mt-2 mx-auto" src="../media/app/chevronRoyal.png" 
            alt="chevron royal">
        </div>
        <a class="d-block font-weight-bold text-underline" href="mailto:info@hortusdiabolicus.com">
            <u>info@hortusdiabolicus.com</u></a>
        <div class="mt-4">Copyright © 2018 Hortus Diabolicus</div>
        <a class="c-link-hexis d-inline-block mt-2" href="http://hexis.hr/en/" 
          title="Hexis | Software Design &amp; Development Studio" target="_blank">
          <img src="../media/brand/hexis.svg" alt="Hexis"></a>
      </div>
    </div>
  </div>

</footer>
