{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<ul style="display: flex;">

  <li>
    {{
      select.selectFunction(
        fg_class = "form-group",
        lb_class = "sr-only",
        lb_txt = "Destination",
        fe_id = "destination",
        fe_class = "form-control",
        fe_name = "Destination",
        fe_attr = ["data-some data-another data-third"],
        firstDisabled = false,
        opt_1 = "Any",
        opt_2 = "Zagreb",
        opt_3 = "Rijeka",
        opt_4 = "Zadar"
      )
    }}
  </li>

  <li>
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "sr-only",
        lb_txt = "Datepicker",
        fe_id = "dateStart",
        fe_class = "form-control",
        fe_name = "Datepicker",
        fe_type = "text",
        fe_placeholder = "Some placeholder",
        fe_acmpl = "on",
        fe_attr = ["readonly data-datepicker"]
      )
    }}
  </li>

  <li>
    {{
      textarea.textareaFunction(
        fg_class = "form-group",
        lb_class = "sr-only",
        lb_txt = "Datepicker",
        fe_id = "dateStart",
        fe_class = "form-control",
        fe_name = "Datepicker",
        fe_placeholder = "Some placeholder",
        fe_rows = "5",
        fe_attr = [""]
      )
    }}
  </li>

  <li>
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "This is trigger for checkbox!",
        fe_id = "policy",
        fe_class = "form-control",
        fe_name = "Privacy policy",
        fe_type = "checkbox",
        fe_placeholder = "",
        fe_acmpl = "",
        fe_attr = ["data-something"]
      )
    }}
  </li>

</ul>
