{% macro furniture(title) %}

<!-- Furniture Block, Red background -->
<div class="bg-prim my-5 py-5" data-img-furnitureContainer>
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Note for DEVx: Image variation: 600x600 -->
        <h4 class="c-ttl c-ttl-def ls_8 pb-2 mb-4 color-white text-underscore-white text-uppercase">{{ title }}</h4>
        <ul class="o-furniture furniture d-flex flex-column flex-lg-row">
          <!-- Main image -->
          <li class="o-furniture_item -main relative" data-img-furnitures>
            <a class="c-link d-block" href="product.html">
              <img class="d-block w-100" src="http://via.placeholder.com/600x600/fff" alt="product image">
              <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2">stol sidro „dubrovnik“</h4>
            </a>
          </li>
          <!-- Other images inside, sorry 'bout that -->
          <li class="o-furniture_item" data-img-furnitures>
            <ul class="o-furniture-inner furnitures">
              <li class="o-furniture-inner_item relative" data-img-furnitures>
                <a class="c-link d-block" href="product.html">
                  <img class="d-block w-100" src="http://via.placeholder.com/600x600/fff" alt="product image">
                  <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2">stol sidro „dubrovnik“</h4>
                </a>
              </li>
              <li class="o-furniture-inner_item relative" data-img-furnitures>
                <a class="c-link d-block" href="product.html">
                  <img class="d-block w-100" src="http://via.placeholder.com/600x600/fff" alt="product image">
                  <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2">stol sidro „dubrovnik“</h4>
                </a>
              </li>
              <li class="o-furniture-inner_item relative" data-img-furnitures>
                <a class="c-link d-block" href="product.html">
                  <img class="d-block w-100" src="http://via.placeholder.com/600x600/fff" alt="product image">
                  <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2">stol sidro „dubrovnik“</h4>
                </a>
              </li>
              <!-- Note for DEVx: You can put here again the fourth or fifth image. It will be hidden.
                it's here only so it can have the same height as others trough ALL available device displays -->
              <li class="o-furniture-inner_item -viewAll relative" data-img-furnitures>
                <a class="c-link d-block bg-gray" href="productList.html">
                  <img class="c-img d-block w-100" src="http://via.placeholder.com/600x600/fff" alt="View All">
                  <span class="c-btn-secondary -white -next ls_8 text-uppercase color-white absolute">view all</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
{% endmacro %}
