<header class="o-mainHeader">
  <h1 class='sr-only'>{{ siteName }}</h1>

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="o-mainHeader_nav relative">
          {# Main Logo #} 
          {% include "html/app/components/mainLogo.html" %} 
          
          {# Main Navigation #}
          <div class="o-mainNavigation_wrapper">
            {% include "html/app/components/mainNavigation.html" %}
          </div>
        </div>

      </div>
    </div>
  </div>

</header>
