<!-- Main navigation -->
<nav class="o-mainNav">

  <!-- There is no need for translation of this item, it is placed here only for HTML semantic reason -->
  <h1 class='sr-only'>Main navigation</h1>

  <div class="o-mainNav_listTrigger mr-2" data-mobileMenu-trigger>
    <img class="-menu" src="../media/app/menu.svg" alt="menu" data-menu="open">
    <img class="-close" src="../media/app/close.svg" alt="close" data-menu="close">
  </div>
  <ul class="o-mainNav_list" data-mobileMenu>
    <li class="o-mainNav_item">
      <a class="c-link font-weight-regular d-block text-uppercase" href="index.html">početna</a>
    </li>
    <li class="o-mainNav_item -sub" data-subTrigger>
      <a class="c-link font-weight-regular d-block text-uppercase" href="#">
        namještaj<i class="c-icon c-icon-9-5"><img class="iconic" src="../media/app/chevronFilled.svg" alt="chevron"></i>
      </a>
      <ul class="o-mainNav_subList" data-subMenu>
        <li class="o-mainNav_subItem">
          <a class="c-link font-weight-regular d-block text-uppercase" href="productList.html#stolici">Stolići</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link font-weight-regular d-block text-uppercase" href="productList.html#stolice">Stolice</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link font-weight-regular d-block text-uppercase" href="productList.html#stolovi">Stolovi</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link font-weight-regular d-block text-uppercase" href="productList.html#lampe">Lampe</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link font-weight-regular d-block text-uppercase" href="productList.html#ormarici">Ormarići</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link font-weight-regular d-block text-uppercase" href="productList.html#komode">Komode</a>
        </li>
      </ul>
    </li>
    <li class="o-mainNav_item">
      <a class="c-link font-weight-regular d-block text-uppercase" href="about.html">o nama</a>
    </li>
    <li class="o-mainNav_item">
      <a class="c-link font-weight-regular d-block text-uppercase" href="contact.html">kontakt</a>
    </li>
  </ul>

  <!-- Language -->
  <ul class="o-mainNav_lang">
    <li class="o-mainNav_langItem">

      <!-- Current Language -->
      <div class="o-mainNav_langCurrent" data-langCurrent>
        <a class="c-link d-block text-uppercase bg-gray color-white" href="#en">
          <span class="mobile">en</span>
          <span class="desktop">english</span>
          <i class="c-icon c-icon-white c-icon-9-5">
            <img class="iconic" src="../media/app/chevronFilled.svg" alt="chevron">
          </i>
        </a>
      </div>

      <!-- Other Languages -->
      <ul class="o-mainNav_langList" data-langList>
        <li class="o-mainNav_langListItem">
          <a class="c-link d-block text-uppercase text-center bg-gray color-white px-5 py-3" href="#ba">bosanski</a>
        </li>
        <li class="o-mainNav_langListItem">
          <a class="c-link d-block text-uppercase text-center bg-gray color-white px-5 py-3" href="#rs">srpski</a>
        </li>
      </ul>

    </li>
  </ul>

</nav>
