.c-breadcrumb {

  .breadcrumb {
    background-color: transparent;
    padding-left: 0;
  }
  
  .breadcrumb-item {
    letter-spacing: 4px;
    font-weight: 700;

    + .breadcrumb-item::before {
      content: url('../media/app/chevronLineRed.svg');
    }

    &.active {
      color: $color-ui-shade;
    }

    @include mobilePlusDown {

      .p-product &:first-child {
        display: none;
      }

      .p-product &:nth-child(2):before {
        content: '';
        padding-right: 0;
        padding-left: 0;
      }

    }
    
  }

}
