// Buttons

// Global settings
$btn-padding-y: .97rem;
$btn-padding-x: 2.5rem;
$btn-border-radius: 0;
$btn-font-size: 1rem;
$btn-font-weight: $font-weight-regular;

// Primary button settings
$btn-primary-bg: $brand-primary;
$btn-primary-bg-hover: darken($btn-primary-bg, 10%);

$btn-primary-color: $white;
$btn-primary-color-hover: darken($btn-primary-color, 10%);

$btn-primary-border-width: 0;
$btn-primary-border-width-hover: $btn-primary-border-width;
$btn-primary-border-style: solid;
$btn-primary-border-style-hover: $btn-primary-border-style;
$btn-primary-border-color: $white;
$btn-primary-border-color-hover: darken($btn-primary-border-color, 10%);


.c-btn {
  @include transition();
  display: inline-flex;
  justify-content: center;
  border-radius: $btn-border-radius;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-lg;
  white-space: nowrap;
  user-select: none;
  -webkit-touch-callout: none;

  &, &:focus {
    outline: 0;
    box-shadow: none;
  }

  @include print {
    display: none;
  }

  @include mobilePlusDown {
    display: flex;
    width: 100%;
  }

  &-primary {
    position: relative;
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    border-width: $btn-primary-border-width;
    border-style: $btn-primary-border-style;
    border-color: $btn-primary-border-color;
    background-position: 90% 50%;

    &:hover {
      background-color: $btn-primary-bg-hover;
      color: $btn-primary-color-hover;
      border-color: $btn-primary-border-color-hover;
      background-position: 93% 50%;
    }

  }

  &-secondary {
    @include transition(padding, 200ms);
    border: none;
    background-color: transparent;

    &.-next {
      padding-right: 2.1875rem;
      background-position: 100% 50%;

      &:hover {
        padding-right: 2.5rem;
      }

    }

    &.-back {
      padding-left: 2.8125rem;
      background-image: url('../media/app/arrowRedLeft.svg');
      background-position: 0 50%;

      &:hover {
        padding-left: 3.125rem;
      }

    }

    .o-furniture-inner_item.-viewAll & {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }


    .o-furniture-inner_item.-viewAll .c-link:hover & {
      padding-right: 2.5rem;
    }

  }

  // Arrow
  &-primary,
  &-secondary {
    @extend %no-repeat;
    background-image: url('../media/app/arrowRed.svg');
    background-size: 32px 18px;

    &.-white {
      background-image: url('../media/app/arrow.svg');
    }

  }

  @include tablet {

    // Size modifiers (note: use along with 'w-100')
    &-mw200 {
      max-width: 200px;
    }

  }

}
