// Custom checkbox
.c-customCheckbox {

  &_input {
    @extend %hiddenHack;
  }

  &_label {
    @extend %no-repeat;
    padding: .4375rem .3125rem .5rem 2.25rem;
    background-color: #f4f4f4;
    background-image: url("../media/app/checkboxUnchecked.svg");
    background-size: 1rem 1rem;
    background-position: 10px 50%;
    color: $gray;

    &:hover {
      @extend %cursor-pointer;
      @extend %user-select;
    }

    &.unactive {
      opacity: .6;
      pointer-events: none;
    }

  }

  &_input[type=checkbox]:checked ~ .c-customCheckbox_label {
    background-image: url("../media/app/checkboxChecked.svg");
    background-color: $brand-primary;
    color: $white;
  }

}
