// Forms

// Group
$input-group-margin-bottom: 1.25rem;

// Control
$input-color: $color-text-neutral;
$input-bg-color: $white;

$input-padding-y: .81rem;
$input-padding-x: .75rem;

$input-border-width: 2px;
$input-border-style: solid;
$input-border-color: transparent;
$input-border-color-hover: darken($input-border-color, 14%);

$input-border-radius: 2px;

$input-font-size: 1rem;
$input-font-weight: $font-weight-regular;

$input-line-height: 1.4;


// Label
$input-label-color: $color-text-neutral;

$input-label-margin-bottom: .25rem;

$input-label-font-size: .9375rem;
$input-label-font-weight: $font-weight-regular;

.form {

  &-group {

    @if $input-group-margin-bottom != 0 {
      margin-bottom: $input-group-margin-bottom;

      .form-group-clean > & {
        margin-bottom: 0;
      }

    }

    .o-category_item & {
      margin: .35rem 0 0 0;
    }

  }

  &-control {
    @include transition(box-shadow, 200ms);
    display: block;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    border-width: $input-border-width;
    border-style: $input-border-style;
    border-color: $input-border-color;
    color: $input-color;
    line-height: $input-line-height;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    font-family: $font-family-base;
    box-shadow: 0 0 25px 0 rgba($black, .09);
    // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
    background-color: $input-bg-color;
    background-image: none;
    background-clip: padding-box;

    &:focus {
      box-shadow: 0 0 5px 0 rgba($black, .09);
    }

    &::placeholder {
      color: $color-ui-shade;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

    .error.has-error & {
      box-shadow: 0 0 25px 0 rgba($brand-primary, .29);

      &:focus {
        box-shadow: 0 0 5px 0 rgba($brand-primary, .09);
      }

    }

    &:not(.hasDatepicker) {
      // @include transition();
    }

    @if $input-border-radius != 0 {
      border-radius: $input-border-radius;
    }

    &:disabled {
      cursor: not-allowed;
    }

    .error.has-error & {
      @extend %no-repeat;
      padding-right: 42px;
      border: 2px solid $brand-primary;
      background-image: url('../media/app/infoError.svg');
      background-position: right 0.75rem top 50%;
      background-size: 30px;
    }

    &[readonly] {}

    &.hasDatepicker {
      @extend %cursor-pointer;
      @extend %no-repeat;
      @extend %cursor-pointer;
      background-size: 16px 16px;
      background-position: calc(100% - 8px) 50%;
      //background-image: url("../media/app/datepicker.svg") !important;
    }

  }

  &-label {
    display: block;
    margin-bottom: $input-label-margin-bottom;
    color: $input-label-color;
    font-size: $input-label-font-size;
    font-weight: $input-label-font-weight;
  }

}

.form-error {

  &-wrapper {}

  &-message {
    color: $red;
  }

}

// Specific targets
.form {

  //.o-sidebar_header &-control {}

}
