.c-img {

  &-royal {
    width: 23px;
    height: 12px;

    &-down {
      transform: rotateX(180deg);
    }

  }

  &-logo {
    width: 70px;
    height: 47px;

    @include tablet {
      width: 94px;
      height: 63px;
    }

  }

  &-logoHero {
    width: 205px;
    height: 140px;

    @include laptop {
      width: 250px;
      height: 170px;
    }

    @include desktop {
      width: 460px;
      height: 310px;
    }

  }

  .o-furniture-inner_item.-viewAll & {
    position: relative;
    z-index: -1;
  }

}
