// Icons
//
// // icon color is changed by 'iconic' JS plugin

.c-icon {
  line-height: 0;

  .iconic {
    height: 0;
    opacity: 0;

    &.injected-svg {
      height: auto;
      opacity: 1;
    }

  }

  * {
    width: 1em;
  }

  &.c-icon-9-5 * {
    width: 9px;
    height: 5px;
  }

  &.c-icon-15 * {
    width: 15px;
    height: 15px;
  }

  &.c-icon-21 * {
    width: 21px;
    height: 21px;
  }

  &.c-icon-23-12 * {
    width: 23px;
    height: 12px;
  }

  &.c-icon-32-18 * {
    width: 32px;
    height: 18px;
  }

  &.c-icon-48-44 * {
    width: 48px;
    height: 44px;
  }

  &.c-icon-180-116 * {
    width: 180px;
    height: 116px;
  }

  // Specific targets
  .c-btn-primary & {
    @include transition(transform, 200ms);
    margin-left: .3125rem;
    transform: translateX(0) scale(1);
  }

  .c-btn-primary:hover & {
    transform: translateX(7px) scale(.85);
  }

  .o-mainNav_langCurrent > .c-link &,
  .o-mainNav_item > .c-link & {
    position: absolute;
  }

  .o-mainNav_langCurrent > .c-link & {
    top: 50%;
    transform: translateY(-50%);

    @include tabletDown {
      right: 14px;
    }

    @include tablet {
      right: 30px;
    }

  }

  .o-mainNav_item > .c-link & {
    top: 0;

    @include laptopDown {
      display: inline-block;
      padding: 1.375rem 0.625rem;
    }

    @include laptop {
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
    }
  }

}

.iconic * {

  .c-icon-white & {
    fill: $white;
    // stroke: $white;
  }

  .c-icon-black & {
    fill: $black;
    // stroke: $white;
  }

}
