// Link
.c-link {

  &:hover {
    @extend %decoration-underline;
  }

  &-underline {
    @extend %decoration-underline;

    &:hover {
      @extend %decoration-none;
    }

  }

  // specific targets
  &-hexis {
    @include transition(opacity, 200ms);
    opacity: .75;

    &:hover {
      opacity: 1;
    }

  }
  // Language Menu
  .o-mainNav_langListItem & {
    @extend %decoration-none;
    transition: background-color 250ms, color 250ms;
  
    &:hover,
    &:active {
      background-color: $white;
      color: $gray;
    }

  }
  
  // Current Selected Language
  .o-mainNav_langCurrent & {
    position: relative;

    @include tabletDown {
      padding: 1.125rem 1.5625rem 1.125rem 1.125rem;
    }

    @include tablet {
      padding: 1.75rem 3rem 1.75rem 2.315rem;
    }

    @include laptopDown {

      .mobile {
        display: inline-block;
      }

      .desktop {
        display: none;
      }

    }

    @include laptop {

      .mobile {
        display: none;
      }

      .desktop {
        display: inline-block;
      }

    }

  }
  
  // Other Languages
  .o-mainNav_langListItem & {
    text-align: center;
  }

  // Main Menu
  .o-mainNav_item > & {
    @extend %decoration-none;

    @include laptopDown {
      padding: .9375rem .625rem;
    }

    @include laptop {
      padding: 1.75rem 1.125rem;
    }

  }

  .o-mainNav_item:last-child > & {

    @include laptop {
      padding-right: 2.25rem;
    }

  }

  // Sub Menu
  .o-mainNav_subItem > & {
    @extend %decoration-none;
    padding: .9375rem .625rem;

    @include laptop {
      padding: .3125rem .625rem;

      &:hover {
        background-color: $gray;
        color: $white;
      }
      
    }

  }

  .o-mainNav_item > &:active,
  .o-mainNav_subItem > &:active {
    background-color: $gray;
    color: $white;
  }

}
