// Titles
.c-ttl {
  margin: 0;

  // Sizes of title
  &-def {
    @include font-size(16);
  }

  &-head {
    @include font-size(36);
    font-family: $font-family-heading;
    line-height: 51px;
    letter-spacing: 8px;

    &-down {

      @include tabletDown {
        @include font-size(26);
        line-height: 35px;
        letter-spacing: 6.5px;
      }
    }
  }

  // Specific targets
  .o-furniture_item.-main &,
  .o-furniture-inner_item &,
  .o-furniture-list .o-furniture_item & {
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($white, .85);
  }

  .o-furniture-inner.categories .o-furniture-inner_item & {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($white, .75);

    &:after {
      content: '';
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      display: block;
      border: 1px solid rgba($white, .75);
    }

  }

  .o-furniture_item.-main .c-link:hover &,
  .o-furniture-inner.furnitures .o-furniture-inner_item .c-link:hover &,
  .o-furniture-inner.categories .o-furniture-inner_item .c-link:hover &,
  .o-furniture-list .o-furniture_item .c-link:hover & {
    background-color: $gray;
    color: $white;
  }

  .o-furniture-inner.categories .o-furniture-inner_item .c-link:hover &:after {
    border-color: $gray;
  }

  .o-furniture_item.-main &,
  .o-furniture-inner.furnitures .o-furniture-inner_item &,
  .o-furniture-inner.categories .o-furniture-inner_item &,
  .o-furniture-list .o-furniture_item & {
    transition: background-color 450ms, color 400ms;
  }

  .o-aboutList_text-inner & {

    @include desktop {
      margin: 0 -3.125rem;
    }

  }

  .o-category & {

    @include laptopDown {
      display: none;
    }

  }

}
