---
subject: Rate Accommodation
---
<!-- htmlmin:ignore -->
<container>
  <table class="main-message_wrapper">
    <tbody>
      <tr>
        <td class="main-message_content">
          <row>
            <columns small="12">
              <p>Dear Mr. Wayne, <br>
                <br>
                Thank you for your reservation! <br>
                Please follow the link below to rate your accommodation.
                <br>
                Chocolate lollipop I love topping muffin bear claw jelly-o. Dragée chupa chups marzipan cake oat cake macaroon.
                <br>
                <br>
                <br>
                Best regards, <br>
                Alfred Pennyworth <br>
                Booking manager and butler</p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>

  <!--Unit-->
  <table class="unit-wrapper">
    <tbody>
      <tr>
        <td class="unit-content">
          <row>
            <columns small="12">
              <h2><a href="#">Naziv objekta</a>&#58;&nbsp;<a href="#">Naziv jedinice</a>
          <span class="rating">
            <span class="icon"><img src='../assets/img/star.png'></span>
          </span>
              </h2>
              <p class="location"><strong>City:</strong>&nbsp;grad</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="6">
              <img class="image-full" style="width:100%;" src="http://placehold.it/245x166/" alt="">
            </columns>
            <columns small="12" large="6">
              <table class="list-data">
                <tbody>
                  <tr>
                    <td class="key"><strong>Full name</strong>&#58;&nbsp;</td>
                    <td class="value text-right">Mr. Bruce Wayne</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Check in</strong>&#58;&nbsp;</td>
                    <td class="value text-right">26.04.2016.</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Check out</strong>&#58;&nbsp;</td>
                    <td class="value text-right">29.04.2016.</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Guests</strong>&#58;&nbsp;</td>
                    <td class="value text-right">2</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Price in total</strong>&#58;&nbsp;</td>
                    <td class="value text-right">450.00 EUR</td>
                  </tr>
                </tbody>
              </table>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p><strong>Note:</strong></p>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p>Poruka</p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Unit Stop -->

  <row>
    <columns small="12" large="12">
      <center>
        <table>
          <tbody>
            <tr>
              <td class="cta-wrapper">
                <a class="button-cta" href="#">Rate accommodation</a>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
    </columns>
  </row>

</container>
<!-- htmlmin:ignore -->
