.preformat {
  color: $color-text-neutral;

  &,
  a,
  p,
  li,
  blockquote {
    line-height: 1.6;
  }

  ul,
  ol {
    margin: 0 0 1em;
    list-style-position: inside;
  }

  ul {
    list-style-type: none;

    > li {
      position: relative;
      padding-left: 1.4em;

      &:after {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 3px;
        height: 3px;
        margin: auto 0;
        background-color: $color-text-neutral;
        border-radius: 10px;
      }

    }

  }

  ol {
    padding-left: 0;
    list-style-type: decimal;

    ol {
      padding-left: 1em;
      margin-top: 1em;
    }

  }

  a {
    color: $color-ui-link;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: lighten($color-ui-link, 10%);
      text-decoration: none;
    }

  }

  em {
    font-style: italic;
  }

  blockquote {
    display: inline-block;
    position: relative;
    margin: 1em 0 1.94em;
    padding: 0 25px;
    font-size: 1.12em;
    font-family: $font-family-heading;
    font-style: italic;

    &:before,
    &:after {
      content: '';
      background-repeat: no-repeat;
      background-size: 17px 15px;
      width: 17px;
      height: 15px;
      position: absolute;
    }

    //&:before {
    //  background-image: url("../media/app/quote_start.svg");
    //  left: 0;
    //  bottom: -4px;
    //}
    //&:after {
    //  background-image: url("../media/app/quote_stop.svg");
    //  right: 0;
    //  top: -4px;
    //}

  }

  p {
    margin: 0 0 1em;
  }

  h1, h2, h3,
  h4, h5, h6 {
    @include clearfix;
    @extend .font-heading;
    margin-top: 0;
    margin-bottom: .688rem; /* 11/16 */
    color: $brand-primary-darken;
  }

  h1 {
    font-weight: $font-weight-light;
  }

  h2,
  h3 {
    font-weight: $font-weight-medium;
  }

  table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #999;
    border-spacing: 0;

    thead {
      border-bottom: 1px solid #999;
    }

    tr td {
      border: 1px solid #999;
      border-top: 0;
      border-left: 0;
      padding: 0.5em 1em;
    }

  }

  iframe {
    max-width: 100%;
  }

  figure {
    margin: 0;

    @include laptopDown {
      float: none!important;
      margin-right: -.625rem!important;
      margin-left: -.625rem!important;
    }

  }

  figcaption {
    @include font-size(14);
    color: #8E8E8E;

    @include laptopDown {
      padding: 0 .625rem;
    }

  }

}
