<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Contact page' %}
{% set pageTitleName = 'Contact page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-contact' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<main>

  <section class="container">
    <div class="row relative mt-5">
      <div class="o-sidebar_wrapper col-lg-4">
        <div class="o-sidebar mb-5">
          <ul class="o-infoList">
            <li><strong>ApartMoments</strong></li>
            <li>Porat 25</li>
            <li>51511 Malinska, Croatia</li>
            <li><strong class="o-infoList_label">ID Code: </strong>HR-XX-XX-XXXXXX</li>
          </ul>

          <ul class="o-infoList o-infoList-contact my-3">
            <li class="o-infoList-contact_item"><strong class="o-infoList_label">Tel:</strong>
              <a class="c-link" href="tel:0123456789">+385 51 098 7654 333</a>
            </li>

            <li class="o-infoList-contact_item"><strong class="o-infoList_label">Fax:</strong>
              <a class="c-link" href="tel:0123456789">+385 51 098 7654 333</a>
            </li>

            <li class="o-infoList-contact_item"><strong class="o-infoList_label">Mob:</strong>
              <a class="c-link" href="tel:0123456789">+385 51 098 7654 333</a>
            </li>

            <li class="o-infoList-contact_item"><strong class="o-infoList_label">Email:</strong>
              <a class="c-link" href="mailto:info@example.com">info@example.com</a>
            </li>
          </ul>

          <ul class="o-infoList o-infoList-contact">
            <li class="o-infoList-contact_item"><strong class="o-infoList_label">Bank:</strong>
                Erste Steirmerkische Bank d.d. Rijeka</li>
            <li class="o-infoList-contact_item"><strong class="o-infoList_label">IBAN:</strong>
                HR12345678909876</li>
            <li class="o-infoList-contact_item"><strong class="o-infoList_label">SWIFT:</strong>
                12345678</li>
            <li class="o-infoList-contact_item"><strong class="o-infoList_label">ID Code:</strong>
                HR-XX-XX-XXXXXX</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-8">
        <h1 class="c-ttl c-ttl-h1 mb-4 pb-1">Contact us</h1>
        {% include "html/app/components/map.html" %}

        <form action="">
          <div class="row mt-5">
            <div class="col-md-6">
              {{
                input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "First name",
                  fe_id = "contactFirstName",
                  fe_class = "form-control",
                  fe_name = "firstName",
                  fe_type = "text"
                )
              }}
            </div>

            <div class="col-md-6">
              {{
                input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Last name",
                  fe_id = "contactLastName",
                  fe_class = "form-control",
                  fe_name = "lastName",
                  fe_type = "text"
                )
              }}
            </div>

            <div class="col-md-6">
              {{
                input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Email",
                  fe_id = "contactEmail",
                  fe_class = "form-control",
                  fe_name = "email",
                  fe_type = "email"
                )
              }}
            </div>

            <div class="col-md-6">
              {{
                input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Cellphone",
                  fe_id = "contactCellphone",
                  fe_class = "form-control",
                  fe_name = "cellphone",
                  fe_type = "tel"
                )
              }}
            </div>

            <div class="col-12">
              {{
                input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Message title",
                  fe_id = "contactMessageTitle",
                  fe_class = "form-control",
                  fe_name = "messageTitle",
                  fe_type = "text"
                )
              }}
            </div>

            <div class="col-12">
              {{
                textarea.textareaFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Message",
                  fe_id = "contactMessage",
                  fe_class = "form-control",
                  fe_name = "contactMessage",
                  fe_rows = "3"
                )
              }}
            </div>

            <div class="col-12 mb-5 pb-5">
              <button class="c-btn c-btn-primary c-btn-mw250 w-100" type="submit">Send message</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
