<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Contact preview page' %}
{% set pageTitleName = 'Contact preview page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-contactPreview' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<!-- Alert START -->
<div class="o-alert_wrapper d-flex align-items-center" data-cut-src>
  <i class="c-icon c-icon-46-41 mr-2"><img src="media/app/checkBig.svg" alt="Success"></i>
  <span class="c-ttl c-ttl-h1">Thank you for contacting us!</span>
</div>
<!-- Alert STOP -->

<main>

  <section class="container">
    <div class="row relative mt-5">
      <div class="o-sidebar_wrapper col-lg-4">
        <div class="o-sidebar mb-5">
          <ul class="o-infoList">
            <li><strong>ApartMoments</strong></li>
            <li>Porat 25</li>
            <li>51511 Malinska, Croatia</li>
            <li><strong class="o-infoList_label">ID Code: </strong>HR-XX-XX-XXXXXX</li>
          </ul>

          <ul class="o-infoList o-infoList-contact my-4">
            <li class="o-infoList-contact_item"><strong class="o-infoList_label">Tel:</strong>
              <a class="c-link" href="tel:0123456789">+385 51 098 7654 333</a>
            </li>

            <li class="o-infoList-contact_item"><strong class="o-infoList_label">Fax:</strong>
              <a class="c-link" href="tel:0123456789">+385 51 098 7654 333</a>
            </li>

            <li class="o-infoList-contact_item"><strong class="o-infoList_label">Mob:</strong>
              <a class="c-link" href="tel:0123456789">+385 51 098 7654 333</a>
            </li>

            <li class="o-infoList-contact_item"><strong class="o-infoList_label">Email:</strong>
              <a class="c-link" href="mailto:info@example.com">info@example.com</a>
            </li>
          </ul>

          <ul class="o-infoList o-infoList-contact">
            <li class="o-infoList-contact_item"><strong class="o-infoList_label">Bank:</strong>
                Erste Steirmerkische Bank d.d. Rijeka</li>
            <li class="o-infoList-contact_item"><strong class="o-infoList_label">IBAN:</strong>
                HR12345678909876</li>
            <li class="o-infoList-contact_item"><strong class="o-infoList_label">SWIFT:</strong>
                12345678</li>
            <li class="o-infoList-contact_item"><strong class="o-infoList_label">ID Code:</strong>
                HR-XX-XX-XXXXXX</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-8">
        <h1 class="c-ttl c-ttl-h1 mb-4 pb-1">Contact us</h1>
        {% include "html/app/components/map.html" %}

        <div class="my-4" data-cut-dist></div>

        <div class="row">

          <div class="col-md-6">
            <strong>First name</strong>

            <div class="mb-4">Bond James</div>
          </div>

          <div class="col-md-6">
            <strong>Last name</strong>

            <div class="mb-4">Bond</div>
          </div>

          <div class="col-md-6">
            <strong>Email</strong>

            <div class="mb-4">james.bond@bond.james</div>
          </div>

          <div class="col-md-6">
            <strong>Cellphone</strong>

            <div class="mb-4">+385 91 512 1111</div>
          </div>

          <div class="col-12">
            <strong>Message title</strong>

            <div class="mb-4">Hi I am James Bond</div>
          </div>

          <div class="col-12">
            <strong>Message</strong>

            <div class="preformat">
              <p>I want Martini.</p>
            </div>
          </div>

        </div>

        <a class="c-btn c-btn-primary c-btn-mw300 w-100 mt-3 mb-5" href="index.html">Back to homepage</a>
      </div>
    </div>
  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
