<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Homepage' %}
{% set pageTitleName = 'Homepage' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-homepage' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/components/card.html" as card %}

<main>

  <div class="o-hero d-flex justify-content-center align-items-center"
    style="background-image:url('../media/app/heroPlaceholder.png')">
    <div class="o-hero_title text-center color-white">
      <h1 class="c-ttl c-ttl-hero">APARTMOMENTS</h1>
      <p>Apartmani prilagođeni vašim potrebama i željama</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="d-flex flex-column flex-md-row align-items-md-end mb-4">
          <h1 class="c-ttl c-ttl-h1 mt-4">Top odabiri prema vašoj lokaciji</h1>
          <div class="mb-md-2 d-flex align-items-center">
            <span class="d-inline-block px-2">|</span><img class="c-img-location mr-2"
              src="../media/app/location.svg" alt="location">Zagreb
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-12 text-right">
            <a class="c-link d-inline-block color-secondary my-4" href="search.html">Pogledaj sve</a>
          </div>
        </div>
        <hr>

        <div class="row text-center mt-5">
          <div class="col-lg-4">
            <div class="o-features mb-5 mx-auto">
              <h3 class="c-ttl c-ttl-h3">Pametno pretraživanje</h3>
              <img class="c-img c-img-cloud my-4 mx-auto" src="../media/app/cloudSearch.svg" alt="cloud serach">
              <div class="preformat">
                <p>Intimate, secluded, private, love, dark, anonymus, incognito, purple, bordeaux, black, dark grey, gold, 
                  silver, sans serif, middle age, big cities, professional, discrete, separate, individual, dim
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="o-features mb-5 mx-auto">
              <h3 class="c-ttl c-ttl-h3">Dostupnost u realnom vremenu</h3>
              <img class="c-img c-img-rooms my-4 mx-auto" src="../media/app/roomsAvailable.svg" alt=" rooms available">
              <div class="preformat">
                <p>Intimate, secluded, private, love, dark, anonymus, incognito, purple, bordeaux, black, dark grey, gold, 
                  silver, sans serif, middle age, big cities, professional, discrete, separate, individual, dim
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="o-features mb-5 mx-auto">
              <h3 class="c-ttl c-ttl-h3">Anonimnost</h3>
              <img class="c-img c-img-mask my-4 mx-auto" src="../media/app/mask.svg" alt=" anonimity">
              <div class="preformat">
                <p>Intimate, secluded, private, love, dark, anonymus, incognito, purple, bordeaux, black, dark grey, gold, 
                  silver, sans serif, middle age, big cities, professional, discrete, separate, individual, dim
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <h1 class="c-ttl c-ttl-h1 my-4">Najpopularniji namještaj</h1>
        <div class="row">
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-12 text-right">
            <a class="c-link d-inline-block color-secondary my-4" href="search.html">Pogledaj sve</a>
          </div>
        </div>
        <hr>

        <h1 class="c-ttl c-ttl-h1 my-4">Popusti</h1>
        <div class="row">
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-12 text-right">
            <a class="c-link d-inline-block color-secondary my-4" href="search.html">Pogledaj sve</a>
          </div>
        </div>
        <hr>

        <h1 class="c-ttl c-ttl-h1 my-4">Nedavno rezervirani</h1>
        <div class="row">
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-md-6 col-xl-3">
            {{
              card.carditemfunc(
                carditem_image = "http://via.placeholder.com/630x340",
                carditem_title = "Apartman Ivana",
                carditem_rating = "3",
                cardAttributes = ["wifi", "bed", "balcony", "pool"],
                cardPrice = "250 EUR / satu",
                hasAction = false
              )
            }}
          </div>
          <div class="col-12 text-right">
            <a class="c-link d-inline-block color-secondary my-4" href="search.html">Pogledaj sve</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</main>

{% include "html/app/components/cookiePolicy.html" %}
{% include "html/app/components/footer.html" %}
{% endblock %}
