<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Inquiry preview page' %}
{% set pageTitleName = 'Inquiry preview page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-inquiryPreview' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/components/card.html" as card %}


<main>
  <section class="container">
    <h1 class="sr-only">Offer page</h1>
    <div class="row my-5">

      <div class="o-sidebar_wrapper col-lg-4">
        <div class="o-sidebar mb-5">
          {{
            card.carditemfunc(
              carditem_image = "http://via.placeholder.com/630x340",
              carditem_title = "Apartman Ivana",
              carditem_rating = "5",
              cardAttributes = ["wifi", "bed", "balcony", "pool"],
              cardPrice = "20 EUR",
              hasAction = false
            )
          }}
        </div>
      </div>

      <div class="col-lg-8">

        <h1 class="c-ttl c-ttl-h1 mb-1">Rezervacija je zaprimljena i plaćena</h1>
        <strong>We'll answer you as soon as possible, thank you!</strong>

        <hr class="my-4">

        <div class="row">
          <div class="col-md-6 col-xl-4">
            <strong>Full name</strong>
            <div>Captain Jack Sparrow</div>
            <br>

            <strong>Full address</strong>
            <div>Some address 12,<br>
              Haunted Hill 21000,<br>
              Croatia</div>
            <br>

            <strong>Email</strong>
            <div>email@net.hr</div>
            <br>

            <strong>Cellphone</strong>
            <div>0987654321</div>
            <br>
          </div>

          <div class="col-md-6 col-xl-4">
            <strong>Check in</strong>
            <div>12-03-2017</div>
            <br>

            <strong>Check out</strong>
            <div>18-03-2017</div>
            <br>

            <strong>Adults</strong>
            <div>2</div>
            <br>

            <strong>Kids</strong>
            <div>1</div>
            <br>
          </div>

          <div class="col-12">
            <strong>Note</strong>
            <div class="preformat mt-1">
              <p>The Kansas City Chiefs have their hometown in Kansas City, Kansas. Many a fan has
                 happily purchased one of the over 79,000 seats at Arrowhead Stadium to watch their favorite team play.
                 Members of the AFC west, the Kansas City Chiefs were founded by Lamar Hunt. The current president of the
                 NFL team is Carl Peterson, and the head coach is Herman Edwards. In their history as a team, the Kansas
                 City Chiefs have been to the playoffs 14 times in their career, but have never made it to the Super Bowl.</p>
            </div>
            <a class="c-btn c-btn-primary c-btn-mw300 w-100" href="index.html">Back to homepage</a>
          </div>
        </div>

      </div>

    </div>
  </section>
</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
