<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Inquiry page' %}
{% set pageTitleName = 'Inquiry page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-inquiry' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/components/card.html" as card %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/textarea.html" as textarea %}


<main class="bg-white">

  <section class="container">
    <div class="row relative pt-5">
      <div class="o-sidebar_wrapper col-lg-4">
        <div class="o-sidebar mb-5">
          {{
            card.carditemfunc(
              carditem_image = "http://via.placeholder.com/630x340",
              carditem_title = "Apartman Ivana",
              carditem_rating = "5",
              cardAttributes = ["wifi", "bed", "balcony", "pool"],
              cardPrice = "20 EUR",
              hasAction = false
            )
          }}

          <div class="o-sidebar_table_wrapper p-0 my-2">
            <div class="d-flex justify-content-between p-4">
              <div class="py-2 d-flex align-items-center">
                <i class="c-icon c-icon-14-30-14-24 mr-2">
                  <img class="iconic" src="../media/app/date.svg" alt="Date">
                </i>
                <span class="f-14-16-14-16">25.5.2018</span>
              </div>

              <div class="py-2 d-flex align-items-center">
                <i class="c-icon c-icon-14-30-14-24 mr-2">
                  <img class="iconic" src="../media/app/clock.svg" alt="Time">
                </i>
                <span class="f-14-16-14-16">13:00</span>
              </div>

              <div class="py-2 d-flex align-items-center">
                <i class="c-icon c-icon-14-30-14-24 mr-2">
                  <img class="iconic" src="../media/app/clock-alt.svg" alt="Time">
                </i>
                <span class="f-14-16-14-16">2 sata</span>
              </div>
            </div>

            <hr class="dark">

            <div class="table-responsive px-3">

              <table class="o-sidebar_table table">
                <thead>
                  <th>Naziv</th>
                  <th>Kol</th>
                  <th>Cijena</th>
                  <th>Ukupno</th>
                </thead>

                <tbody>
                  <tr>
                    <td>Hours</td>
                    <td>2</td>
                    <td>192.00 EUR</td>
                    <td>384.00 EUR</td>
                  </tr>

                  <tr>
                    <td>Service</td>
                    <td></td>
                    <td>10.00 EUR</td>
                    <td>10.00 EUR</td>
                  </tr>

                  <tr>
                    <td>Cleaning</td>
                    <td></td>
                    <td>5.00 EUR</td>
                    <td>5.00 EUR</td>
                  </tr>
                </tbody>

                <tfoot>
                  <td colspan="2">Ukupna cijena</td>
                  <td colspan="2">399.00 EUR</td>
                </tfoot>
              </table>

            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <form class="row justify-content-between mb-5">

          <div class="col-12">
            <h2 class="c-ttl c-ttl-h1 mb-4">Podaci o plaćanju</h2>
            <h4 class="c-ttl c-ttl-h4 mb-3">Kreator rezervacije</h4>
          </div>

          <div class="col-md-6">
            {{
              input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label",
              lb_txt = "First name",
              fe_id = "inquiryFirstName",
              fe_class = "form-control",
              fe_name = "firstName",
              fe_type = "text"
              )
            }}
          </div>

          <div class="col-md-6">
            {{
              input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label",
              lb_txt = "Last name",
              fe_id = "inquiryLastName",
              fe_class = "form-control",
              fe_name = "lastName",
              fe_type = "text"
              )
            }}
          </div>

          <div class="col-12">
            <hr class="dark mt-3 mb-4 mt-lg-4 mb-lg-5">
          </div>

          <div class="col-12">
            <h4 class="c-ttl c-ttl-h4 mb-3">Detalji o rezervaciji</h4>
          </div>

          <div class="col-md-6">
            {{
              input.inputFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Check in",
                fe_id = "inquiryCheckIn",
                fe_class = "form-control",
                fe_name = "checkin",
                fe_type = "text",
                fe_attr = ["readonly data-datepicker"]
              )
            }}
          </div>

          <div class="col-md-6">
            {{
              input.inputFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Check out",
                fe_id = "inquiryCheckOut",
                fe_class = "form-control",
                fe_name = "checkout",
                fe_type = "text",
                fe_attr = ["readonly data-datepicker"]
              )
            }}
          </div>

          <div class="col-md-6">
            {{
              select.selectFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Adults",
                fe_id = "inquiryAdults",
                fe_class = "form-control",
                fe_name = "Adults",
                fe_attr = ["size"],
                opt_1 = "0",
                opt_2 = "1",
                opt_3 = "2"
              )
            }}
          </div>

          <div class="col-md-6">
            {{
              select.selectFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Kids",
                fe_id = "inquiryKids",
                fe_class = "form-control",
                fe_name = "Kids",
                fe_attr = ["size"],
                opt_1 = "0",
                opt_2 = "1",
                opt_3 = "2"
              )
            }}
          </div>

          <div class="col-12">
            <hr class="dark mt-3 mb-4 mt-lg-4 mb-lg-5">
          </div>

          <div class="col-12">
            <h4 class="c-ttl c-ttl-h4 mb-3">Kreditna kartica</h4>
          </div>

          <div class="col-xl-5 col-md-8">
            {{
              input.inputFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Card number",
                fe_id = "inquiryPayCreditCardNumber",
                fe_class = "form-control",
                fe_name = "creditCardNumber",
                fe_type = "text",
                fe_placeholder = "•••• •••• •••• ••••"
              )
            }}
          </div>

          <div class="col-xl-3 col-md-4">
            {{
              input.inputFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Expiration Date",
                fe_id = "inquiryPayExpDate",
                fe_class = "form-control",
                fe_name = "expirationDate",
                fe_type = "text",
                fe_placeholder = "MM / YY"
              )
            }}
          </div>

          <div class="col-md-3 d-flex align-items-end">
            {{
              input.inputFunction(
                fg_class = "form-group w-100",
                lb_class = "form-label",
                lb_txt = "CVV number",
                fe_id = "inquiryPayCvvNumber",
                fe_class = "form-control",
                fe_name = "cvvNumber",
                fe_type = "text",
                fe_placeholder = "•••"
              )
            }}

            <a class="c-link ml-2 mb-3 pb-1" data-toggle="tooltip" data-animation="false" title="Description on hover">
              <i class="c-icon c-icon-20"><img class="iconic" src="../media/app/info.svg" alt="Info"></i>
            </a>
          </div>

          <div class="col-12">
            <hr class="dark mt-3 mb-4 mt-lg-4 mb-lg-5">
          </div>

          <div class="col-12">
            {{
              textarea.textareaFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Note",
                fe_id = "contactMessage",
                fe_class = "form-control",
                fe_name = "Contact",
                fe_rows = "4"
              )
            }}
          </div>

          <div class="col-12">
            <hr class="dark mt-3 mb-4 mt-lg-4 mb-lg-5">
          </div>

          <div class="col-12">
            <h2 class="c-ttl c-ttl-h1 mb-4 mt-3 mt-lg-0">Dodatni troškovi</h2>

            <div class="o-inquiryPageTable-charges_wrapper">
              <table class="o-inquiryPageTable o-inquiryPageTable-charges table">
                <thead>
                  <tr>
                    <th>Charge</th>
                    <th>Amount</th>
                    <th>Age limit</th>
                    <th>Add</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td data-label="Charge">Lunch</td>
                    <td data-label="Amount">1</td>
                    <td data-label="Age limit">18</td>
                    <td data-label="Add">
                      <select id="pets" class="form-control select" name="Lunch" size>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                      <label class="sr-only" for="pets">Lunch</label>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Charge">Ironing</td>
                    <td data-label="Amount">-</td>
                    <td data-label="Age limit">-</td>
                    <td data-label="Add">
                      <div class="mr-md-3">
                        <input id="iron" type="checkbox">
                        <label for="iron"></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Charge">Cleaning</td>
                    <td data-label="Amount">-</td>
                    <td data-label="Age limit">-</td>
                    <td data-label="Add">
                      <div class="mr-md-3">
                        <input id="clean" type="checkbox">
                        <label for="clean"></label>
                      </div>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>

          </div>

          <div class="col-12">
            <ul class="my-4">
              <li class="mb-1 d-flex">
                <input id="terms" class="mr-2" type="checkbox">
                <label class="_label d-md-flex"
                  for="terms">I agree to Apart Moments&nbsp;<span
                  class="c-link color-secondary"
                  data-toggle="modal"
                  data-target="#termsOfServiceModal">Terms of service</span></label>
              </li>

              <li class="mb-4 d-flex mt-3 mt-md-0">
                <input id="subscribeCheck" class="mr-2" type="checkbox">
                <label class="_label"
                  for="subscribeCheck">Subscribe to our newsletter</label>
              </li>
            </ul>

          </div>

          <div class="col-12">
            <div class="row mt-2 align-items-center">
              <div class="col-xl-3 col-lg-5">
                <button class="c-btn c-btn-primary c-btn-mw300 w-100" type="submit">Confirm and pay</button>
              </div>

              <div class="col-xl-1 col-lg-2 my-4 text-center">
                Or
              </div>

              <div class="col-xl-3 col-lg-5">
                <button class="c-btn c-btn-primary c-btn-mw300 w-100" type="submit">Pay with PaySafe</button>
              </div>

            </div>
          </div>
        </form>

      </div>
    </div>
  </section>

</main>

<div id="termsOfServiceModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby='termsOfServiceModalLabel' aria-hidden='true'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="{{ modalLabelId }}">Modal title</h3>
      </div>
      <div class="modal-body">
        Text...
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% include "html/app/components/footer.html" %}
{% endblock %}
