<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Inquiry page' %}
{% set pageTitleName = 'Inquiry page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-inquiry' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/components/card.html" as card %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<main>

  <section class="container">
    <div class="row relative mt-5">
      <div class="o-sidebar_wrapper col-lg-4">
        <div class="o-sidebar mb-5">
          {{
            card.carditemfunc(
              carditem_image = "http://via.placeholder.com/630x340",
              carditem_title = "Apartman Ivana",
              carditem_rating = "5",
              cardAttributes = ["wifi", "bed", "balcony", "pool"],
              cardPrice = "20 EUR",
              hasAction = false
            )
          }}

          <div class="o-sidebar_table_wrapper p-0 my-2">
            <div class="d-flex justify-content-between p-4">
              <div class="py-2 d-flex align-items-center">
                <i class="c-icon c-icon-14-30-14-24 mr-2">
                  <img class="iconic" src="../media/app/date.svg" alt="Date">
                </i>
                <span class="f-14-16-14-16">25.5.2018</span>
              </div>

              <div class="py-2 d-flex align-items-center">
                <i class="c-icon c-icon-14-30-14-24 mr-2">
                  <img class="iconic" src="../media/app/clock.svg" alt="Time">
                </i>
                <span class="f-14-16-14-16">13:00</span>
              </div>

              <div class="py-2 d-flex align-items-center">
                <i class="c-icon c-icon-14-30-14-24 mr-2">
                  <img class="iconic" src="../media/app/clock-alt.svg" alt="Time">
                </i>
                <span class="f-14-16-14-16">2 sata</span>
              </div>
            </div>

            <hr class="dark">

            <div class="table-responsive px-3">

              <table class="o-sidebar_table table">
                <thead>
                  <th>Naziv</th>
                  <th>Kol</th>
                  <th>Cijena</th>
                  <th>Ukupno</th>
                </thead>

                <tbody>
                  <tr>
                    <td>Hours</td>
                    <td>2</td>
                    <td>192.00 EUR</td>
                    <td>384.00 EUR</td>
                  </tr>

                  <tr>
                    <td>Service</td>
                    <td></td>
                    <td>10.00 EUR</td>
                    <td>10.00 EUR</td>
                  </tr>

                  <tr>
                    <td>Cleaning</td>
                    <td></td>
                    <td>5.00 EUR</td>
                    <td>5.00 EUR</td>
                  </tr>
                </tbody>

                <tfoot>
                  <td colspan="2">Ukupna cijena</td>
                  <td colspan="2">399.00 EUR</td>
                </tfoot>
              </table>

            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <form class="row justify-content-between mb-5">
          <div class="col-12">
            <h1 class="c-ttl c-ttl-h1 mb-4 pb-3">Podaci o plaćanju</h1>
            <h4 class="c-ttl c-ttl-h4 mb-3">Kreditna kartica</h4>
          </div>

          <div class="col-xl-5 col-lg-8">
            {{
              input.inputFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Card number",
                fe_id = "inquiryPayCreditCardNumber",
                fe_class = "form-control",
                fe_name = "creditCardNumber",
                fe_type = "text",
                fe_placeholder = "•••• •••• •••• ••••"
              )
            }}
          </div>

          <div class="col-xl-3 col-lg-4 col-md-9">
            {{
              input.inputFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Expiration Date",
                fe_id = "inquiryPayExpDate",
                fe_class = "form-control",
                fe_name = "expirationDate",
                fe_type = "text",
                fe_placeholder = "MM / YY"
              )
            }}
          </div>

          <div class="col-xl-3 col-lg-4 col-md-3 col-7 d-flex align-items-end">
            {{
              input.inputFunction(
                fg_class = "form-group w-100",
                lb_class = "form-label",
                lb_txt = "CVV number",
                fe_id = "inquiryPayCvvNumber",
                fe_class = "form-control",
                fe_name = "cvvNumber",
                fe_type = "text",
                fe_placeholder = "•••"
              )
            }}

            <a class="c-link ml-2 mb-3 pb-1" data-toggle="tooltip" data-animation="false" title="Description on hover">
              <i class="c-icon c-icon-20"><img class="iconic" src="../media/app/info.svg" alt="Info"></i>
            </a>
          </div>

          <div class="col-12">
            <hr class="dark mt-3 mb-4 mt-lg-4 mb-lg-5">
          </div>

          <div class="col-12">
            {{
              textarea.textareaFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Note",
                fe_id = "contactMessage",
                fe_class = "form-control",
                fe_name = "Contact",
                fe_rows = "4"
              )
            }}
          </div>

          <div class="col-12 mt-2">
            <button class="c-btn c-btn-primary c-btn-mw300 w-100" type="submit">Confirm and pay</button>
          </div>

          <div class="col-12 my-4 text-center text-lg-left">
            Or
          </div>

          <div class="col-12">
            <button class="c-btn c-btn-primary c-btn-mw300 w-100" type="submit">Pay with PaySafe</button>
          </div>
        </form>

      </div>
    </div>
  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
