<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Offer page' %}
{% set pageTitleName = 'Offer page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-offer' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/components/card.html" as card %}


<main>
  <section class="container">
    <h1 class="sr-only">Offer page</h1>
    <div class="row my-5">

      <div class="o-sidebar_wrapper col-lg-4">
        <div class="o-sidebar mb-5">
          {{
            card.carditemfunc(
              carditem_image = "http://via.placeholder.com/630x340",
              carditem_title = "Apartman Ivana",
              carditem_rating = "5",
              cardAttributes = ["wifi", "bed", "balcony", "pool"],
              cardPrice = "20 EUR",
              hasAction = false
            )
          }}
        </div>
      </div>

      <div class="col-lg-8">

        <h1 class="c-ttl c-ttl-h1 mb-5">Ponuda</h1>

        <div class="row">
          <div class="col-md-6 col-xl-4">
            <strong>Full name</strong>
            <div>Captain Jack Sparrow</div>
            <br>

            <strong>Full address</strong>
            <div>Some address 12,<br>
              Haunted Hill 21000,<br>
              Croatia</div>
            <br>

            <strong>Email</strong>
            <div>email@net.hr</div>
            <br>

            <strong>Cellphone</strong>
            <div>0987654321</div>
            <br>
          </div>

          <div class="col-md-6 col-xl-4">
            <strong>Check in</strong>
            <div>12-03-2017</div>
            <br>

            <strong>Check out</strong>
            <div>18-03-2017</div>
            <br>

            <strong>Adults</strong>
            <div>2</div>
            <br>

            <strong>Kids</strong>
            <div>1</div>
            <br>
          </div>

          <div class="col-12">
            <strong>Note</strong>
            <div class="preformat mt-1">
              <p>The Kansas City Chiefs have their hometown in Kansas City, Kansas. Many a fan has
                 happily purchased one of the over 79,000 seats at Arrowhead Stadium to watch their favorite team play.
                 Members of the AFC west, the Kansas City Chiefs were founded by Lamar Hunt. The current president of the
                 NFL team is Carl Peterson, and the head coach is Herman Edwards. In their history as a team, the Kansas
                 City Chiefs have been to the playoffs 14 times in their career, but have never made it to the Super Bowl.</p>
            </div>
          </div>
        </div>

        <div class="row my-4 lh1_5">

          <div class="col-12">
            <table class="table table-offer">
              <h2 class="sr-only">Price calculation</h2>

              <tbody>
                <tr>
                  <td colspan="2">Basic price</td>
                </tr>
                <tr>
                  <td>Apartmani Zoran Studio 1</td>
                  <td>100.00 EUR</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td colspan="2">Mandatory charges</td>
                </tr>
                <tr>
                  <td>Booking fee</td>
                  <td>2.00 EUR</td>
                </tr>
                <tr>
                  <td>Parking fee</td>
                  <td>12.00 EUR</td>
                </tr>
                <tr>
                  <td>Registration fee</td>
                  <td>23.00 EUR</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td colspan="2">Optional charges</td>
                </tr>
                <tr>
                  <td>Something something</td>
                  <td>2.00 EUR</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td colspan="2">Short stay charges</td>
                </tr>
                <tr>
                  <td>Less than 4 days</td>
                  <td>233.00 EUR</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td colspan="2">Discounts</td>
                </tr>
                <tr>
                  <td>Holiday season + 1 day</td>
                  <td>100.00 EUR</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td colspan="2">Action</td>
                </tr>
                <tr>
                  <td>Something, something</td>
                  <td>22.21 EUR</td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <td>Total</td>
                  <td>127.00 EUR</td>
                </tr>
              </tfoot>

            </table>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-6">
                <table class="table table-offer table-advancedPayment">
                  <tbody>
                    <tr>
                      <td colspan="2">Advanced payment</td>
                    </tr>
                    <tr>
                      <td>Until 25.01.2017.</td>
                      <td>100.00 EUR</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-12 col-md-6">
                <table class="table table-offer table-remainingPayment">
                  <tbody>
                    <tr>
                      <td colspan="2">Remaining payment</td>
                    </tr>
                    <tr>
                      <td>Until 29.01.2017.</td>
                      <td>99.99 EUR</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="col-12">
            <div class="font-weight-bold mt-4 mb-5">Offer valid until <strong>20.04.2017.</strong></div>
            <a class="c-btn c-btn-primary c-btn-mw250 w-100 mb-5" href="invoice.html">Book and pay</a>
          </div>

        </div>
      </div>

    </div>
  </section>
</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
