<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Search' %}
{% set pageTitleName = 'Search' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-search' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/components/card.html" as card %}

<main>

  <div class="container">
    <div class="row">
      <div class="col-xl-8 pr-xl-4">

        <!-- Note for devX: leave this empty, it's a container for the search form -->
        <div class="o-searchForm_searchPage"></div>

        <div class="c-search d-flex flex-column flex-md-row justify-content-md-between my-4">
          <h1 class="c-ttl c-ttl-h1">324 rezultata pretrage</h1>

          <div class="c-search_tabs d-xl-none" data-tab-togglers="#setOfTabs3">
            <button class="c-btn c-btn-secondary active mt-3 mt-md-0 reverse" type="button" 
                data-toggle-tab="tab1">Search by map</button>
            <button class="c-btn c-btn-secondary mt-3 mt-md-0 reverse" type="button" 
                data-toggle-tab="tab2">Search by list</button>
          </div>
        </div>

        <div class="mb-5" id="setOfTabs3">
          <div class="p-search_results active" data-tab="tab2">
            <div class="row">
              <div class="col-md-6 col-xl-4">
                {{
                  card.carditemfunc(
                    carditem_image = "http://via.placeholder.com/630x340",
                    carditem_title = "Apartman Ivana",
                    carditem_rating = "3",
                    cardAttributes = ["wifi", "bed", "balcony", "pool"],
                    cardPrice = "250 EUR / satu",
                    hasAction = false
                  )
                }}
              </div>
              <div class="col-md-6 col-xl-4">
                {{
                  card.carditemfunc(
                    carditem_image = "http://via.placeholder.com/630x340",
                    carditem_title = "Apartman Ivana",
                    carditem_rating = "3",
                    cardAttributes = ["wifi", "bed", "balcony", "pool"],
                    cardPrice = "250 EUR / satu",
                    hasAction = false
                  )
                }}
              </div>
              <div class="col-md-6 col-xl-4">
                {{
                  card.carditemfunc(
                    carditem_image = "http://via.placeholder.com/630x340",
                    carditem_title = "Apartman Ivana",
                    carditem_rating = "3",
                    cardAttributes = ["wifi", "bed", "balcony", "pool"],
                    cardPrice = "250 EUR / satu",
                    hasAction = false
                  )
                }}
              </div>
              <div class="col-md-6 col-xl-4">
                {{
                  card.carditemfunc(
                    carditem_image = "http://via.placeholder.com/630x340",
                    carditem_title = "Apartman Ivana",
                    carditem_rating = "3",
                    cardAttributes = ["wifi", "bed", "balcony", "pool"],
                    cardPrice = "250 EUR / satu",
                    hasAction = false
                  )
                }}
              </div>
              <div class="col-md-6 col-xl-4">
                {{
                  card.carditemfunc(
                    carditem_image = "http://via.placeholder.com/630x340",
                    carditem_title = "Apartman Ivana",
                    carditem_rating = "3",
                    cardAttributes = ["wifi", "bed", "balcony", "pool"],
                    cardPrice = "250 EUR / satu",
                    hasAction = false
                  )
                }}
              </div>
              <div class="col-md-6 col-xl-4">
                {{
                  card.carditemfunc(
                    carditem_image = "http://via.placeholder.com/630x340",
                    carditem_title = "Apartman Ivana",
                    carditem_rating = "3",
                    cardAttributes = ["wifi", "bed", "balcony", "pool"],
                    cardPrice = "250 EUR / satu",
                    hasAction = false
                  )
                }}
              </div>
              <div class="col-md-6 col-xl-4">
                {{
                  card.carditemfunc(
                    carditem_image = "http://via.placeholder.com/630x340",
                    carditem_title = "Apartman Ivana",
                    carditem_rating = "3",
                    cardAttributes = ["wifi", "bed", "balcony", "pool"],
                    cardPrice = "250 EUR / satu",
                    hasAction = false
                  )
                }}
              </div>
              <div class="col-md-6 col-xl-4">
                {{
                  card.carditemfunc(
                    carditem_image = "http://via.placeholder.com/630x340",
                    carditem_title = "Apartman Ivana",
                    carditem_rating = "3",
                    cardAttributes = ["wifi", "bed", "balcony", "pool"],
                    cardPrice = "250 EUR / satu",
                    hasAction = false
                  )
                }}
              </div>
              <div class="col-md-6 col-xl-4">
                {{
                  card.carditemfunc(
                    carditem_image = "http://via.placeholder.com/630x340",
                    carditem_title = "Apartman Ivana",
                    carditem_rating = "3",
                    cardAttributes = ["wifi", "bed", "balcony", "pool"],
                    cardPrice = "250 EUR / satu",
                    hasAction = false
                  )
                }}
              </div>
              <div class="col-12">
                {% include "html/app/components/pagination.html" %}
              </div>
            </div>
          </div>

          {% include "html/app/components/map.html" %}
        </div>

      </div>

    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
