<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Static page' %}
{% set pageTitleName = 'Static page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-static' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/input.html" as input %}

<main>

  <div class="container my-5 pt-1 pb-3">
    <div class="row">

      <!-- 
        Note for devX: 
          Image variation: 1000x400 px
      -->
      <div class="col-12">
        <img class="d-block w-100" src="https://placehold.it/1000x400" alt="Featured image">
      </div>

      <div class="col-12">
        <div class="preformat">
          <h2>Why are potatoes like this?</h2>

          <p>It is not always possible to jet off half way around the world when you and your significant other are wishing to
              go off on a private and romantic getaway. The great news is that you don’t have to spend a lot of money or go very
              far to get away from everyone and everything. You can find cheap romantic vacations nearby, and you may not have
              to look much further than the Internet to find great packages that you can afford.</p>

          <p>You may think of creepy resorts when you think of cheap romantic vacations, but you can leave these to the movies.
              You can usually find a great bed and breakfast near you that will offer you privacy and romance at an amazingly
              low price. You may only have to drive an hour to get away, and you will find that you love the romance such a setting
              will provide to you. These cheap romantic vacations are often set in rural areas that offer natural beauty and small
              town charm. You won’t even have to leave your room to enjoy either one.</p>

          <p>You can also find cheap romantic vacations if you look online for discount travel sites. These sites have packages
              that are meant just for lovers, and they know what you need when you are looking for cheap romantic vacations. You
              may find something that jets you off to another part of the country for a short three or four-day getaway that affords
              you what you need at a price you can afford. Cheap doesn’t mean it will be cheesy for the most part. Although, when
              you are looking to save some money on a trip, you do really have to watch out. My honeymoon was ruined because I
              didn’t look into things like I should have.</p>

          <p>When you are offered packages for cheap romantic vacations make sure you check up on what you are being offered
              before you sign on the dotted line. There are some places that misrepresent what they are, and you don’t want to
              be disappointed when you get there. Look online for reviews of each place from others who have gone there for cheap
              romantic vacations and see what they have to say. If the place seems to have disappointed more than one couple,
              you should definitely think twice before you go there. If you find this is the case, keep looking. Something better
              will pop up if you keep searching.</p>
        </div>
      </div>

      <div class="col-12">
        <h4 class="c-tll c-ttl-h4 mb-2">Attachments</h4>

        <ul class="o-attachmentList">
          <li class="o-attachmentList_item">
            <a class="c-link" href="#" title="document.doc">Document file</a>
          </li>
        
          <li class="o-attachmentList_item">
            <a class="c-link" href="#" title="image.png">Image file</a>
          </li>
        
          <li class="o-attachmentList_item">
            <a class="c-link" href="#" title="archive.rar">ZIP file</a>
          </li>
        </ul>
      </div>

      <div class="col-12">
        <h4 class="c-tll c-ttl-h4 mb-2">Share this article</h4>

        <ul class="o-socialList d-flex justify-content-between justify-content-sm-start">
          <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-60">
            <img class="iconic" src="../media/social/facebook.svg" alt="Facebook"/></i></a>
          </li>

          <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-60">
            <img class="iconic" src="../media/social/pinterest.svg" alt="Pinterest"/></i></a>
          </li>

          <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-60">
            <img class="iconic" src="../media/social/googlePlus.svg" alt="Google +"/></i></a>
          </li>

          <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-60">
            <img class="iconic" src="../media/social/twitter.svg" alt="Twitter"/></i></a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
