<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Thank you' %}
{% set pageTitleName = 'Thank you' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-notification' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center my-5 py-5">

        <img class="c-img-notification -thankYou d-block w-100" src="../media/app/thankYou.svg" alt="Thank you">

        <h1 class="c-ttl c-ttl-h1 text-uppercase mt-4">Zahvaljujemo na rezervaciji</h1>
        <div class="mt-4">Email sa potvrdom dobiti ćete u najkraćem mogućem roku!</div>

        <a class="c-btn c-btn-primary c-btn-mw250 w-100 mr-lg-3 mt-4" href="index.html">Natrag na početnu</a>
        <a class="c-btn c-btn-secondary c-btn-mw250 w-100 ml-lg-3 mt-4" href="unit.html">Natrag na apartman</a>

      </div>
    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
