<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Apart Moments' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Unit page' %}
{% set pageTitleName = 'Unit page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-unit' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/input.html" as input %}

<main>

  <div class="o-slider">
    <div class="swiper-container" data-swiper data-swiper-slides-per-view="1" data-swiper-breakpoints={}
        data-swiper-pagination="true" data-swiper-pagination-clickable="true">

      <div class="swiper-wrapper">
        <!-- Slide item START -->
        <div class="swiper-slide" style="background-image: url('http://via.placeholder.com/1680x550')"></div>
        <!-- Slide item STOP -->

        <!-- Slide item START -->
        <div class="swiper-slide" style="background-image: url('http://via.placeholder.com/1680x550')"></div>
        <!-- Slide item STOP -->

        <!-- Slide item START -->
        <div class="swiper-slide" style="background-image: url('http://via.placeholder.com/1680x550')"></div>
        <!-- Slide item STOP -->

        <!-- Slide item START -->
        <div class="swiper-slide" style="background-image: url('http://via.placeholder.com/1680x550')"></div>
        <!-- Slide item STOP -->
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

    </div>
  </div>

  <section class="container">
    <div class="row relative mt-5">
      <div class="o-sidebar_wrapper col-lg-4">
        <div class="o-sidebar">

          <!-- Price and rating form START -->
          <form class="o-sidebar_form">
            <div class="d-flex justify-content-between align-items-start">
              <div>
                <span class="f-30 font-weight-black">123 EUR</span>
                <span class="d-block font-weight-bold f-16">po satu</span>
              </div>

              <div class="d-flex align-items-center">
                <i class="c-icon c-icon-16"><img class="iconic" src="../media/app/star.svg" alt="*"></i>
                <i class="c-icon c-icon-16"><img class="iconic" src="../media/app/star.svg" alt="*"></i>
                <i class="c-icon c-icon-16"><img class="iconic" src="../media/app/star.svg" alt="*"></i>
                <i class="c-icon c-icon-16"><img class="iconic" src="../media/app/star.svg" alt="*"></i>
                <i class="c-icon c-icon-16"><img class="iconic" src="../media/app/star.svg" alt="*"></i>
                <span class="font-weight-black f-30 ml-2">5/5</span>
              </div>
            </div>

            <!-- Dnevni odmor and Noćenje tabs-->
            <ul class="o-searchForm_tabs d-flex mt-2 mb-1" data-tab-togglers="#setOfTabs2">
              <li class="o-searchForm_tabsItem">
                <label class="form-label form-label-tabs active" for="day" data-toggle-tab="tab1">Dnevni odmor</label>
                <input id="day" class="form-radio" type="radio" name="vacType">
              </li>

              <li class="o-searchForm_tabsItem">
                <label class="form-label form-label-tabs" for="night" data-toggle-tab="tab2">Noćenje</label>
                <input id="night" class="form-radio" type="radio" name="vacType">
              </li>
            </ul>

            <div id="setOfTabs2" class="o-searchForm_wrapper">
              <!-- Dnevni odmor tab START -->
              <ul class="o-searchForm_list active flex-wrap" data-tab="tab1">
                <li class="w-100">
                  <ul class="d-flex o-searchForm_item_wrapper">
                    <li class="o-searchForm_item">
                      {{
                        input.inputFunction(
                        fg_class = "form-group m-0",
                        lb_class = "form-label",
                        lb_txt = "Datum",
                        fe_id = "sidebarDateDay",
                        fe_class = "form-control",
                        fe_name = "date",
                        fe_type = "text",
                        fe_attr = ["readonly data-datepicker"]
                        )
                      }}
                    </li>

                    <li class="o-searchForm_item">
                      {{
                        input.inputFunction(
                        fg_class = "form-group m-0",
                        lb_class = "form-label",
                        lb_txt = "Vrijeme",
                        fe_id = "sidebarTimeDay",
                        fe_class = "form-control",
                        fe_name = "time",
                        fe_type = "time"
                        )
                      }}
                    </li>
                  </ul>
                </li>

                <li class="w-100">
                  <ul class="o-searchForm_item_wrapper">
                    <li class="o-searchForm_item w-100">
                      {{
                        select.selectFunction(
                        fg_class = "form-group m-0",
                        lb_class = "form-label",
                        lb_txt = "Trajanje",
                        fe_id = "sidebarDurationDay",
                        fe_class = "form-control select",
                        fe_name = "duration",
                        opt_1 = "1 h",
                        opt_2 = "2 h",
                        opt_3 = "3 h",
                        opt_1 = "4 h",
                        opt_2 = "5 h",
                        opt_3 = "6 h",
                        opt_1 = "7 h",
                        opt_2 = "8 h",
                        opt_3 = "9 h",
                        opt_1 = "10 h",
                        opt_2 = "11 h",
                        opt_3 = "12 h"
                        )
                      }}
                    </li>
                  </ul>
                </li>

                <li class="w-100 mt-2">
                  <button class="c-btn c-btn-primary w-100">Bookiraj sada</button>
                </li>
              </ul>

              <!-- Noćenje tab START -->
              <ul class="o-searchForm_list flex-wrap" data-tab="tab2">
                <li class="w-100">
                  <ul class="d-flex o-searchForm_item_wrapper">
                    <li class="o-searchForm_item">
                      {{
                        input.inputFunction(
                        fg_class = "form-group m-0",
                        lb_class = "form-label",
                        lb_txt = "Check in",
                        fe_id = "sidebarDateNightCheckIn",
                        fe_class = "form-control",
                        fe_name = "date",
                        fe_type = "text",
                        fe_attr = ["readonly data-datepicker"]
                        )
                      }}
                    </li>

                    <li class="o-searchForm_item">
                      {{
                        input.inputFunction(
                        fg_class = "form-group m-0",
                        lb_class = "form-label",
                        lb_txt = "Check out",
                        fe_id = "sidebarDateNightCheckOut",
                        fe_class = "form-control",
                        fe_name = "date",
                        fe_type = "text",
                        fe_attr = ["readonly data-datepicker"]
                        )
                      }}
                    </li>
                  </ul>
                </li>

                <li class="w-100 mt-2">
                  <button class="c-btn c-btn-primary w-100">Bookiraj sada</button>
                </li>
              </ul>
            </div>
          </form>
            <!-- Price and rating form STOP -->

          <div class="o-sidebar_suggest d-flex my-5">
            <div class="o-sidebar_item-img"><div class="like w-100"></div></div>
            <div class="o-sidebar_item-text d-flex flex-column justify-content-center align-items-start p-3 w-100">
              <span class="f-14 font-weight-bold">Suggest this apartment to your friend!</span>
              <hr class="d-md-none d-lg-block">
              <a class="c-link color-secondary" data-toggle="modal" data-target="#modal">Send it now!</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-8">
        <h1 class="c-ttl c-ttl-h1">Apartman Ivana</h1>
        <ul class="mt-2 d-flex align-items-center">
          <li>
            <i class="c-icon c-icon-14 mr-1"><img class="iconic" src="../media/app/location.svg" alt="Location"></i>
            <span class="font-weight-bold">Zagreb</span>
          </li>

          <li>
            <i class="c-icon c-icon-14 ml-3 mr-1"><img class="iconic" src="../media/app/guest.svg" alt="Guests"></i>
            <span class="font-weight-bold">3 guests</span>
          </li>
        </ul>

        <!-- Description section START -->
        <section class="mt-5">
          <h3 class="c-ttl c-ttl-h3 mb-3">Description</h3>

          <div class="preformat">
            <p>It is not always possible to jet off half way around the world when you and your significant other are
               wishing to go off on a private and romantic getaway. The great news is that you don’t have to spend a lot
               of money or go very far to get away from everyone and everything. You can find cheap romantic vacations
               nearby, and you may not have to look much further
               than the Internet to find great packages that you can afford.</p>
          </div>

          <hr class="my-5">
        </section>
        <!-- Description section STOP -->

        <!-- Amenities section START -->
        <section>
          <h3 class="c-ttl c-ttl-h3 mb-3">Amenities</h3>

          <ul class="o-attributesList d-flex flex-wrap">
            <li class="o-attributesList_item pb-2">
              <i class="c-icon c-icon-16 mr-3"><img class="iconic" src="../media/app/wifi-alt.svg" alt="WiFi"></i>
              Wireless
            </li>

            <li class="o-attributesList_item pb-2">
              <i class="c-icon c-icon-16 mr-3">
                <img class="iconic" src="../media/app/doubleBed.svg" alt="Double bed"></i>
                Double Bed
            </li>

            <li class="o-attributesList_item pb-2">
              <i class="c-icon c-icon-16 mr-3"><img class="iconic" src="../media/app/balcony.svg" alt="WiFi"></i>
              Balcony
            </li>

            <li class="o-attributesList_item pb-2">
              <i class="c-icon c-icon-16 mr-3"><img class="iconic" src="../media/app/balcony.svg" alt="WiFi"></i>
              Balcony
            </li>

            <li class="o-attributesList_item pb-2">
              <i class="c-icon c-icon-16 mr-3">
                <img class="iconic" src="../media/app/airCondition.svg" alt="airCondition"></i>
                Air Condition
            </li>

            <li class="o-attributesList_item pb-2">
              <i class="c-icon c-icon-16 mr-3"><img class="iconic" src="../media/app/miniBar.svg" alt="Mini bar"></i>
              Mini bar
            </li>

            <li class="o-attributesList_item pb-2">
              <i class="c-icon c-icon-16 mr-3"><img class="iconic" src="../media/app/seaView.svg" alt="WiFi"></i>
              Sea view
            </li>

            <li class="o-attributesList_item pb-2">
              <i class="c-icon c-icon-16 mr-3"><img class="iconic" src="../media/app/seaView.svg" alt="WiFi"></i>
              Sea view
            </li>

            <li class="o-attributesList_item pb-2">
              <i class="c-icon c-icon-20-16 mr-3"><img class="iconic" src="../media/app/pool-alt.svg" alt="Pool"></i>
              Pool
            </li>

            <li class="o-attributesList_item pb-2">
              <i class="c-icon c-icon-20-16 mr-3"><img class="iconic" src="../media/app/pool-alt.svg" alt="Pool"></i>
              Pool
            </li>
          </ul>

          <hr class="my-5">
        </section>
        <!-- Amenities section STOP -->

        <!-- Distances section START -->
        <section>
          <h3 class="c-ttl c-ttl-h3 mb-3">Distances</h3>

          <ul class="o-attributesList o-attributesList-distances d-flex flex-wrap">
            <li class="o-attributesList_item pb-2"><span class="ml-5">City center</span><strong>500m</strong></li>
            <li class="o-attributesList_item pb-2"><span class="ml-5">City center</span><strong>500m</strong></li>
            <li class="o-attributesList_item pb-2"><span class="ml-5">Shop</span><strong>150m</strong></li>
            <li class="o-attributesList_item pb-2"><span class="ml-5">Shop</span><strong>150m</strong></li>
            <li class="o-attributesList_item pb-2"><span class="ml-5">Airport</span><strong>350m</strong></li>
            <li class="o-attributesList_item pb-2"><span class="ml-5">Airport</span><strong>350m</strong></li>
            <li class="o-attributesList_item pb-2"><span class="ml-5">Bus station</span><strong>1km</strong></li>
            <li class="o-attributesList_item pb-2"><span class="ml-5">Bus station</span><strong>1km</strong></li>
            <li class="o-attributesList_item pb-2"><span class="ml-5">Hospital</span><strong>200m</strong></li>
            <li class="o-attributesList_item pb-2"><span class="ml-5">Hospital</span><strong>200m</strong></li>
          </ul>

          <hr class="my-5">
        </section>
        <!-- Distances section STOP -->

        <section>
          <h3 class="c-ttl c-ttl-h3 mb-3">Price list</h3>

          <div class="o-priceList_wrapper mb-4">

            <!-- Mandatory Charges Start -->
            <div class="table-responsive">
              <table class='table o-chargeTable'>
                <thead>
                  <tr>
                    <th>Mandatory charges</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1. Booking fee&nbsp;<i class="c-icon c-icon-18 ml-2 absolute" data-toggle="tooltip"
                        data-animation="false" data-placement="right"
                        title="Description on hover">
                      <img class="iconic" src="../media/app/information.svg" alt="?"></i>
                    </td>
                    <td>38.00 EUR</td>
                  </tr>

                  <tr>
                    <td>2. Registration Fee (per person)&nbsp;<i class="c-icon c-icon-18 ml-2 absolute" data-toggle="tooltip"
                        data-placement="right"
                        data-animation="false"
                        title="Description on hover">
                      <img class="iconic" src="../media/app/information.svg" alt="?"></i>
                    </td>
                      <td>38.00 EUR</td>
                  </tr>

                  <tr>
                    <td>3. Cleaning Fee&nbsp;<i class="c-icon c-icon-18 ml-2 absolute" data-toggle="tooltip"
                        data-placement="right"
                        data-animation="false"
                        title="Description on hover">
                      <img class="iconic" src="../media/app/information.svg" alt="?"></i>
                    </td>
                      <td>38.00 EUR</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Mandatory Charges Stop -->

            <!-- Optional Charges Start -->
            <div class="table-responsive">
              <table class='table o-chargeTable'>
                <thead>
                  <tr>
                    <th>Optional charges</th>
                    <th>Price</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Something something&nbsp;
                      <i class="c-icon c-icon-18 ml-2 absolute" data-toggle="tooltip" data-animation="false"
                          data-placement="right"
                          title="Description on hover">
                      <img class="iconic" src="../media/app/information.svg" alt="?"></i>
                    </td>
                    <td>38.00 EUR</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Optional Charges Stop -->
          </div>
        <!-- PRICE LIST STOP -->

        </section>

        <section class="my-5">
          <h3 class="sr-only">Map</h3>
          {% include "html/app/components/map.html" %}
        </section>

      </div>
    </div>
  </section>
</main>
{% include "html/app/components/modal.html" %}


{% include "html/app/components/footer.html" %}
{% endblock %}
