<!--Load Main HTML Layout-->
{% extends "src/html/app/template/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Marin Đudarić | Odvjetnik' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Contact' %}
{% set pageTitleName = 'Contact' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-contact' %}

<!--Main Content-->
{% block content %}
{% include "src/html/app/components/header.html" %}

{% import "src/html/app/bits/form/input.html" as input %}
{% import "src/html/app/bits/form/textarea.html" as textarea %}

<main>

  <div class="o-tail"></div>

  <div class="o-contact_form">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-8">
          
          <h2 class="c-ttl c-ttl-35">Kontaktirajte nas</h2>

          <form action="#idemoidemo">
            <div class="row">

              <div class="col-12">
                {{
                  input.inputFunction(
                    fg_class = "form-group",
                    lb_class = "form-label",
                    lb_txt = "Full name",
                    fe_id = "fullName",
                    fe_class = "form-control",
                    fe_name = "fullName",
                    fe_type = "text"
                  )
                }}
              </div>

              <div class="col-lg-6">
                {{
                  input.inputFunction(
                    fg_class = "form-group",
                    lb_class = "form-label",
                    lb_txt = "Email",
                    fe_id = "email",
                    fe_class = "form-control",
                    fe_name = "email",
                    fe_type = "email"
                  )
                }}
              </div>

              <div class="col-lg-6">
                {{
                  input.inputFunction(
                    fg_class = "form-group",
                    lb_class = "form-label",
                    lb_txt = "Cellphone",
                    fe_id = "cellphone",
                    fe_class = "form-control",
                    fe_name = "cellphone",
                    fe_type = "tel"
                  )
                }}
              </div>

              <div class="col-12">
                {{
                  textarea.textareaFunction(
                    fg_class = "form-group",
                    lb_class = "form-label",
                    lb_txt = "Message",
                    fe_id = "message",
                    fe_class = "form-control",
                    fe_name = "message",
                    fe_rows = "7"
                  )
                }}
              </div>

              <div class="col-12 d-mdp-flex justify-content-mdp-end">
                <button class="c-btn c-btn-secondary" type="submit">Send message</button>
              </div>

            </div>
          </form>

        </div>

        <div class="col-lg-4">

          <ul class="o-mainFooter_contactList o-mainFooter_contactList-contactPage">
            <li class="o-mainFooter_contactItem -house">
              <a class="c-link" href="https://goo.gl/maps/T2KkqPrQ73U2" target="_blank">
                Slavka Krautzeka 84b
                <span class="postal">51000 Rijeka</span>
              </a>
            </li>
            <li class="o-mainFooter_contactItem -phone">
              <a class="c-link" href="tel:+38551436048">+385 (0)51 436 048</a>
            </li>
            <li class="o-mainFooter_contactItem -mobile">
              <a class="c-link" href="tel:+385989098229">+385 (0)98 909 8229</a>
            </li>
            <li class="o-mainFooter_contactItem -fax">
              <a class="c-link" href="#fax">+385 (0)51 403 828</a>
            </li>
            <li class="o-mainFooter_contactItem -mail">
              <a class="c-link" href="mailto:marindudaric@gmail.com">marindudaric@gmail.com</a>
            </li>
          </ul>

          {% include "src/html/app/components/map.html" %}

        </div>

      </div>
    </div>
  </div>

</main>

{% include "src/html/app/components/footer.html" %}
{% endblock %}
