<!--Load Main HTML Layout-->
{% extends "src/html/app/template/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Marin Đudarić | Odvjetnik' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Rates' %}
{% set pageTitleName = 'Rates' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-static' %}

<!--Main Content-->
{% block content %}
{% include "src/html/app/components/header.html" %}

<main>

  <div class="o-tail"></div>

  <div class="container">
    <div class="row">
      <div class="col-12">

        {% include "src/html/app/components/breadcrumbs.html" %}

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="c-ttl c-ttl-35 mb-4">Tarife</div>

            <div class="preformat">
              <p>Many people has the notion that enlightenment is one state. Many also believe that when it is attained, a 
                person is forever in that state. The following is not a definitive article on this subject. It is just an 
                expression of my own thoughts. My opinion is that enlightenment is not just one state but is a progressive 
                and gradual establishing of states of consciousness.</p>

              <p>
                <span class="d-block">Hrvatska odvjetnička komora</span>
                <a class="" href="http://www.hok-cba.hr/">http://www.hok-cba.hr/</a>
              </p>
            </div>

            <div class="o-banner o-banner-download" style="background-image: url('../media/app/cover-placeholder.png');">
              <div class="o-banner_item">
                <div class="o-banner_itemWrapper">
                  <h2 class="c-ttl c-ttl-35">Preuzmite naše tarife</h2>
                  <a class="c-btn c-btn-secondary c-btn-mw175-all c-btn-shd" href="#documentPath">Preuzmi</a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="lineFade">
      <div class="row">
    
        <div class="col-12 mb-5">
          <h2 class="c-ttl c-ttl-35">Područja prava</h2>
        </div>
    
        <div class="col-mdp-6 col-lg-3">
          <div class="o-area_item -house">
            <h3 class="c-ttl c-ttl-def text-uppercase">
              <a class="c-link" href="static.html">Stvarno pravo na nekretninama
                <span class="o-arrow">
                  <svg width="29" height="18" viewBox="0 0 29 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 9c0-.218-.136-.51-.272-.651L20.995.296A.981.981 0 0 0 19.628.26c-.376.331-.385.979-.038 1.34l6.208 6.454H.967A.957.957 0 0 0 0 9c0 .524.432.947.967.947h24.831l-6.208 6.454c-.347.361-.323.992.038 1.34.381.366 1.012.335 1.367-.037l7.733-8.053c.227-.218.268-.429.272-.65z"
                      fill-rule="nonzero" />
                  </svg>
                </span>
              </a>
            </h3>
            <p class="o-area_about">Many people has the notion that enlightenment is one state. Many also believe that when it is attained,
              a person is forever in that state.</p>
          </div>
        </div>
    
        <div class="col-mdp-6 col-lg-3">
          <div class="o-area_item -contract">
            <h3 class="c-ttl c-ttl-def text-uppercase">
              <a class="c-link" href="static.html">Ugovorno pravo
                <span class="o-arrow">
                  <svg width="29" height="18" viewBox="0 0 29 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 9c0-.218-.136-.51-.272-.651L20.995.296A.981.981 0 0 0 19.628.26c-.376.331-.385.979-.038 1.34l6.208 6.454H.967A.957.957 0 0 0 0 9c0 .524.432.947.967.947h24.831l-6.208 6.454c-.347.361-.323.992.038 1.34.381.366 1.012.335 1.367-.037l7.733-8.053c.227-.218.268-.429.272-.65z"
                      fill-rule="nonzero" />
                  </svg>
                </span>
              </a>
            </h3>
            <p class="o-area_about">Many people has the notion that enlightenment is one state. Many also believe that when it is attained,
              a person is forever in that state.</p>
          </div>
        </div>
    
        <div class="col-mdp-6 col-lg-3">
          <div class="o-area_item -family">
            <h3 class="c-ttl c-ttl-def text-uppercase">
              <a class="c-link" href="static.html">Obiteljsko pravo
                <span class="o-arrow">
                  <svg width="29" height="18" viewBox="0 0 29 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 9c0-.218-.136-.51-.272-.651L20.995.296A.981.981 0 0 0 19.628.26c-.376.331-.385.979-.038 1.34l6.208 6.454H.967A.957.957 0 0 0 0 9c0 .524.432.947.967.947h24.831l-6.208 6.454c-.347.361-.323.992.038 1.34.381.366 1.012.335 1.367-.037l7.733-8.053c.227-.218.268-.429.272-.65z"
                      fill-rule="nonzero" />
                  </svg>
                </span>
              </a>
            </h3>
            <p class="o-area_about">Many people has the notion that enlightenment is one state. Many also believe that when it is attained,
              a person is forever in that state.</p>
          </div>
        </div>
    
        <div class="col-mdp-6 col-lg-3">
          <div class="o-area_item -work">
            <h3 class="c-ttl c-ttl-def text-uppercase">
              <a class="c-link" href="static.html">Radno pravo
                <span class="o-arrow">
                  <svg width="29" height="18" viewBox="0 0 29 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 9c0-.218-.136-.51-.272-.651L20.995.296A.981.981 0 0 0 19.628.26c-.376.331-.385.979-.038 1.34l6.208 6.454H.967A.957.957 0 0 0 0 9c0 .524.432.947.967.947h24.831l-6.208 6.454c-.347.361-.323.992.038 1.34.381.366 1.012.335 1.367-.037l7.733-8.053c.227-.218.268-.429.272-.65z"
                      fill-rule="nonzero" />
                  </svg>
                </span>
              </a>
            </h3>
            <p class="o-area_about">Many people has the notion that enlightenment is one state. Many also believe that when it is attained,
              a person is forever in that state.</p>
          </div>
        </div>
    
        <div class="col-12 my-4 d-flex justify-content-end">
          <a class="c-btn c-btn-secondary c-btn-mw175" href="list.html">Pogledaj više</a>
        </div>
    
      </div>
    </div>
  </div>

</main>

{% include "src/html/app/components/footer.html" %}
{% endblock %}
