<!--Load Main HTML Layout-->
{% extends "src/html/app/template/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Marin Đudarić | Odvjetnik' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Service' %}
{% set pageTitleName = 'Service' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-static' %}

<!--Main Content-->
{% block content %}
{% include "src/html/app/components/header.html" %}

<main>

  <div class="o-tail"></div>

  <div class="container">
    <div class="row">
      <div class="col-12">

        {% include "src/html/app/components/breadcrumbs.html" %}

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="c-ttl c-ttl-35 mb-4">Stvarno pravo na nekretninama</div>

            <div class="preformat">
              <img src="https://placehold.it/900x650/E75480/fff" alt="*">
              <p>Many people has the notion that enlightenment is one state. Many also believe that when it is attained, a 
              person is forever in that state. The following is not a definitive article on this subject. It is just an 
              expression of my own thoughts. My opinion is that enlightenment is not just one state but is a progressive 
              and gradual establishing of states of consciousness. I, myself have not reach the end of the road. But from 
              years on a spiritual quest, I can safely say that enlightenment happens in a series or stages of self-realisations 
              and self-discoveries.</p>
              <p>Usually there is a difference between an initial awakening and a later stabilisation of 
              that stage that happens through practice or experiences. The initial awakenings are new discoveries about 
              the dynamics of consciousness, while the stabilisation is the assimilation of what is being discovered 
              into one’s life experience. Sometimes, a new discovery can completely over-rule or modify upon an older 
              one.</p> 
              <p>Almost all stages of enlightenment can be said to be associated with Presence. However, the 
              enlightening Presence comes in various degrees of intensity and clarity. The degree of intensity is 
              directly dependent on the level and depth of one’s clarity as well as one’s realisations/discoveries.Also, 
              as one progresses along, the relationship or connections of oneself to the universe and existence at 
              large also becomes clearer. Below very briefly illustrates the progressive and stage-based nature of 
              enlightenment: When one first begin meditating, one may first experience the all-pervading Presence. This 
              Presence, is most often experienced when thoughts are momentarily suspended. This Presence which exists in 
              the Eternal Present Moment is our true self. However such an experience can only be classified as an awakening 
              to the true self.. which is no-self. This is because, after the meditation, the Presence seems to have disappeared. 
              One cannot understand and find the connection of presence to our everyday life. Therefore one will have difficulty re-acquiring the Presence. And it takes many stages and series of realisation to understand the relationship 
              of Presence to our phenomenal world. It can be said that the prolonged sustaining of Presence is dependent 
              on the stages and depth of realisation.</p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  {% include "src/html/app/components/ctaBanners.html" %}

  <div class="container mt-5">
    <div class="lineFade">
      <div class="row">
    
        <div class="col-12 mb-5">
          <h2 class="c-ttl c-ttl-35">Područja prava</h2>
        </div>
    
        <div class="col-mdp-6 col-lg-3">
          <div class="o-area_item -house">
            <h3 class="c-ttl c-ttl-def text-uppercase">
              <a class="c-link" href="static.html">Stvarno pravo na nekretninama
                <span class="o-arrow">
                  <svg width="29" height="18" viewBox="0 0 29 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 9c0-.218-.136-.51-.272-.651L20.995.296A.981.981 0 0 0 19.628.26c-.376.331-.385.979-.038 1.34l6.208 6.454H.967A.957.957 0 0 0 0 9c0 .524.432.947.967.947h24.831l-6.208 6.454c-.347.361-.323.992.038 1.34.381.366 1.012.335 1.367-.037l7.733-8.053c.227-.218.268-.429.272-.65z"
                      fill-rule="nonzero" />
                  </svg>
                </span>
              </a>
            </h3>
            <p class="o-area_about">Many people has the notion that enlightenment is one state. Many also believe that when it is attained,
              a person is forever in that state.</p>
          </div>
        </div>
    
        <div class="col-mdp-6 col-lg-3">
          <div class="o-area_item -contract">
            <h3 class="c-ttl c-ttl-def text-uppercase">
              <a class="c-link" href="static.html">Ugovorno pravo
                <span class="o-arrow">
                  <svg width="29" height="18" viewBox="0 0 29 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 9c0-.218-.136-.51-.272-.651L20.995.296A.981.981 0 0 0 19.628.26c-.376.331-.385.979-.038 1.34l6.208 6.454H.967A.957.957 0 0 0 0 9c0 .524.432.947.967.947h24.831l-6.208 6.454c-.347.361-.323.992.038 1.34.381.366 1.012.335 1.367-.037l7.733-8.053c.227-.218.268-.429.272-.65z"
                      fill-rule="nonzero" />
                  </svg>
                </span>
              </a>
            </h3>
            <p class="o-area_about">Many people has the notion that enlightenment is one state. Many also believe that when it is attained,
              a person is forever in that state.</p>
          </div>
        </div>
    
        <div class="col-mdp-6 col-lg-3">
          <div class="o-area_item -family">
            <h3 class="c-ttl c-ttl-def text-uppercase">
              <a class="c-link" href="static.html">Obiteljsko pravo
                <span class="o-arrow">
                  <svg width="29" height="18" viewBox="0 0 29 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 9c0-.218-.136-.51-.272-.651L20.995.296A.981.981 0 0 0 19.628.26c-.376.331-.385.979-.038 1.34l6.208 6.454H.967A.957.957 0 0 0 0 9c0 .524.432.947.967.947h24.831l-6.208 6.454c-.347.361-.323.992.038 1.34.381.366 1.012.335 1.367-.037l7.733-8.053c.227-.218.268-.429.272-.65z"
                      fill-rule="nonzero" />
                  </svg>
                </span>
              </a>
            </h3>
            <p class="o-area_about">Many people has the notion that enlightenment is one state. Many also believe that when it is attained,
              a person is forever in that state.</p>
          </div>
        </div>
    
        <div class="col-mdp-6 col-lg-3">
          <div class="o-area_item -work">
            <h3 class="c-ttl c-ttl-def text-uppercase">
              <a class="c-link" href="static.html">Radno pravo
                <span class="o-arrow">
                  <svg width="29" height="18" viewBox="0 0 29 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29 9c0-.218-.136-.51-.272-.651L20.995.296A.981.981 0 0 0 19.628.26c-.376.331-.385.979-.038 1.34l6.208 6.454H.967A.957.957 0 0 0 0 9c0 .524.432.947.967.947h24.831l-6.208 6.454c-.347.361-.323.992.038 1.34.381.366 1.012.335 1.367-.037l7.733-8.053c.227-.218.268-.429.272-.65z"
                      fill-rule="nonzero" />
                  </svg>
                </span>
              </a>
            </h3>
            <p class="o-area_about">Many people has the notion that enlightenment is one state. Many also believe that when it is attained,
              a person is forever in that state.</p>
          </div>
        </div>
    
        <div class="col-12 my-4 d-flex justify-content-end">
          <a class="c-btn c-btn-secondary c-btn-mw175" href="list.html">Pogledaj više</a>
        </div>
    
      </div>
    </div>
  </div>

</main>

{% include "src/html/app/components/footer.html" %}
{% endblock %}
