<!--Load Main HTML Layout-->
{% extends "src/html/app/template/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Marin Đudarić | Odvjetnik' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Thank You' %}
{% set pageTitleName = 'Thank You' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-message' %}

<!--Main Content-->
{% block content %}
{% include "src/html/app/components/header.html" %}

{% import "src/html/app/bits/form/input.html" as input %}
{% import "src/html/app/bits/form/textarea.html" as textarea %}

<main>

  <div class="o-tail"></div>

  <div class="my-5 py-5">
    <div class="d-flex flex-column align-items-center my-5 py-5">
      <img class="c-img -message" src="../media/app/thanks.svg" alt="Thanks">
      <h2 class="c-ttl c-ttl-35 mt-5">Zahvaljujemo na upitu</h2>
      <p class="font-weight-light">Odgovoriti ćemo Vam u najkraćem mogućem roku.</p>
      <a class="c-btn c-btn-secondary c-btn-mess mt-3" href="index.html">Natrag na početnu</a>
    </div>
  </div>

</main>

{% include "src/html/app/components/footer.html" %}
{% endblock %}
