.lineFade {
  position: relative;
  padding-top: 1.875rem;
  
  &:before {
    @extend %no-repeat;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-image: url('../media/app/line-horizontal.svg');
    background-position: 0 0;
    background-size: 100% 100%;
  }

}


