hr {
  border-top: 1px solid $color-ui-light;
  border-bottom: 0;

  &.dark {
    border-top: 1px solid $color-ui-shade;
  }

  .o-model &,
  .o-sidebar_suggest & {
    border-top: 2px solid $color-text-neutral;
  }

  .o-modal & {
    width: 1.875rem;
  }

  .o-sidebar_suggest & {
    width: 1.25rem;
    margin: {
      top: 1rem;
      bottom: 1rem;
      left: 0;
    }

  }

}
