table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: .5rem .5rem;
    border: 1px solid black;
  }

  &.o-sidebar_table {

    td,
    th {
      border: 0;
      border-bottom: 0!important;
      white-space: nowrap;
    }

    thead {
      border-bottom: 1px solid $color-ui-shade;
    }

    thead > tr > th,
    tbody > tr > td {

      &:first-child {
        text-align: left;
        padding-left: 0;
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3),
      &:nth-child(4) {
        text-align: right;
      }

    }

    tbody > tr:last-child > td {
      padding-bottom: 1.5rem;
    }

    tfoot {
      border-top: 1px solid $color-ui-shade;
    }

    tfoot > tr > td:first-child {
      padding-left: 0;
    }

    tfoot > tr > td {
      padding-top: 1.5rem;
    }

    tfoot > tr > td:nth-child(2) {
      font-weight: $font-weight-bold;
      text-align: right;
    }

  }

}
