{% macro modalFunc(modalId, modalLabelId) %}
<div id="{{ modalId }}" class="c-modal modal fade" tabindex="-1" role="dialog"
    aria-labelledby='{{ modalLabelId }}' aria-hidden='true'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="c-btn c-btn-primary close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="{{ modalLabelId }}">Modal title</h3>
      </div>
      <div class="modal-body">
        Text...
      </div>
      <div class="modal-footer">
        <button class="c-btn c-btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>{% endmacro %}
