/*
  Helper classes for background color
*/

.bg-white {
  background-color: $white;
}

.bg-black {
  //background-color: $black;
}

.light-bg {
  background-image: url("#{$path-media}lightBg.svg");
  background-size: 100% auto;
  background-position: top;
}

.thankYou-bg {
  @extend %no-repeat;
  @extend %bg-cover;
  @extend %bg-center;
  background-image: url("#{$path-media}thankYou-bg.png");
}
