/*
  Helper classes for font styles
*/

.font-weight-thin {
  // font-weight: $font-weight-thin;
}

.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.font-weight-regular {
  font-weight: $font-weight-regular;
}

.font-weight-medium {
  //font-weight: $font-weight-medium;
}

.font-weight-semibold {
  font-weight: $font-weight-semiBold;
}

.font-weight-heavy {
   //font-weight: $font-weight-heavy;
}

.font-weight-black {
   //font-weight: $font-weight-black;
}

.font-body {
  //font-family: $font-family-base;
}

.font-heading {
  //font-family: $font-family-heading;
}

$font-sizes-list: 11, 14, 18, 20, 23, 28, 30, 35, 42;

@each $size in $font-sizes-list {

  .f-#{$size} {
    @include font-size($size);
  }

}

.lh-2 {
  line-height: 2;
}

.f-22-28 {
  @include font-size(22);
}

.f-42-62 {
  @include font-size(42);
}

@include tablet {

  .f-md-20 {
    @include font-size(20);
  }

  .f-22-28 {
    @include font-size(28);
  }

  .f-42-62 {
    @include font-size(62);
  }


}
