.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.column-reverse {
  flex-direction: column-reverse;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-1-2 {
  padding: 1rem 2rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-1-7 {
  padding-right: 1.7rem;
  padding-left: 1.7rem;
}

.mt-05 {
  margin-top: .5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-05 {
  margin-bottom: .5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.my-05 {
  margin: .5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-4-auto {
  margin: 4rem auto;
}

.my-5-auto {
  margin: 5rem auto;
}

.m-auto {
  margin: auto;
}

.m-1 {
  margin: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.h-100 {
  height: 100%;
}

.wh-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-italic {
  font-style: italic;
}

.container-large {
  max-width: 1200px;
}

.container-largePlus {
  max-width: 1400px;
}

.lh-18 {
  line-height: 18px;
}

.lh-58 {
  line-height: 58px;
}

.word-break {
  word-break: break-word;
}

@include tablet {

  .mr-md-1 {
    margin-right: 1rem;
  }

  .w-md-60 {
    width: 60%;
  }

  .d-md-flex {
    display: flex;
  }

}

@include laptop {

  .px-lg-05 {
    padding-right: .5rem;
    padding-left: .5rem;
  }

}
