.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@include tabletPlusDown {

  .text-mdp-down-center {
    text-align: center;
  }

}

@include tabletPlus {

  .text-mdp-right {
    text-align: right;
  }

}
