/*
  Helper classes for text color
*/

.color-white {
  color: $white;
}

.color-black {
  //color: $black;
}

.color-primary {
  color: $brand-primary;
}

.color-ui-shade {
  color: $color-ui-shade;
}

.color-red {
  color: $red;
}
