/*
  Helper classes for background color
*/

.bg-white {
  //background-color: $white;
}

.bg-black {
  //background-color: $black;
}

.bg-color-ui-tint {
  background-color: $color-ui-tint;
}

.bg-color-ui-shade {
  background-color: $color-ui-shade;
}
