/////////////////////////
// Custom Checkboxes START

// Input
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item > label > input {
  @extend .o-toggle_trigger;
}

// Label
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item > label > .wpcf7-list-item-label {
  @extend .o-toggle_label;
  @extend .w-100;
  @extend .c-btn;
}

// Custom Checkboxes STOP
/////////////////////////



/////////////////////////
// Custom Payment START
.cf7pp_body {
  @extend .clearfix;
}

.cf7pp_body > .cf7pp_row {
  @extend .row;
}

// Form group
.cf7pp_body > .cf7pp_row > .cf7pp_details_input {
  @extend .form-group;
  @extend .col-md-6;
}

// Input
.cf7pp_body > .cf7pp_row > .cf7pp_details_input > label ~ .cf7pp_details_input {
  @extend .form-control;
  padding: .813rem .75rem!important;
  border-radius: 4px!important;
  border-width: 2px!important;
  background-color: $white!important;
  max-width: 100%!important;
}

// Label
.cf7pp_body > .cf7pp_row > .cf7pp_details_input > label {
  @extend .form-label;
}

// Submit Btn
.cf7pp_body #stripe-submit {
  @extend .c-btn;
  @extend .c-btn-primary;
  @extend .c-btn-mw205;
  @extend .w-100;
  @extend .mt-2;
  @extend .mb-5;
  float: right;
}

// Custom Checkboxes STOP
/////////////////////////
