{% macro carditemFunc(title, img) %}
<div class="o-card o-card-underline mb-4">
  <a class="d-block" href="service.html">
    <div class="overflowHidden br4">
      <img class="c-img d-block w-100" src="{{ img }}" alt="Unit card">
    </div>
    <div><h3 class="c-ttl c-ttl-16 my-2">{{ title }}</h3></div>

    <!-- Note for DEVs: truncate text to 170 characters -->
    <div class="preformat">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laborum facilis voluptatum dolores tempora!
        Dolores quae exercitationem dolorem delectus similique, eveniet...</p>
    </div>
  </a>
</div>{% endmacro %}
