{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<!-- Buttons -->
<a class="c-btn c-btn-primary bg-prim">Submit</a>
<a class="c-btn c-btn-secondary bg-white">Clear</a>

<!-- Headings -->
<div class="col-12">
  <h1>Heading</h1>
  <h2>Heading</h2>
  <h3>Heading</h3>
  <h4>Heading</h4>
  <h5>Heading</h5>
</div>


<!-- Contact form -->
<form class="row" action="">
  <div class="col-md-6">
    {{
      input.inputFunction(
      fg_class = "form-group",
      lb_class = "form-label",
      lb_txt = "First name",
      fe_id = "contactFirstName",
      fe_class = "form-control",
      fe_name = "contactForm",
      fe_type = "text"
      )
    }}
  </div>

  <div class="col-md-6">
    {{
      input.inputFunction(
      fg_class = "form-group has-error",
      lb_class = "form-label",
      lb_txt = "Last name",
      fe_id = "contactLastName",
      fe_class = "form-control",
      fe_name = "contactForm",
      fe_type = "text"
      )
    }}
  </div>

  <div class="col-md-6">
    {{
      input.inputFunction(
      fg_class = "form-group",
      lb_class = "form-label",
      lb_txt = "Email",
      fe_id = "contactEmail",
      fe_class = "form-control",
      fe_name = "contactForm",
      fe_type = "email"
      )
    }}
  </div>

  <div class="col-md-6">
    {{
      input.inputFunction(
      fg_class = "form-group",
      lb_class = "form-label",
      lb_txt = "Cellphone",
      fe_id = "contactCellphone",
      fe_class = "form-control",
      fe_name = "contactForm",
      fe_type = "tel"
      )
    }}
  </div>

  <div class="col-12">
    {{
      input.inputFunction(
      fg_class = "form-group",
      lb_class = "form-label",
      lb_txt = "Subject",
      fe_id = "contactSubject",
      fe_class = "form-control",
      fe_name = "contactForm",
      fe_type = "text"
      )
    }}
  </div>

  <div class="col-12">
    {{
      textarea.textareaFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "Message",
        fe_id = "contactMessage",
        fe_class = "form-control",
        fe_name = "contactForm",
        fe_rows = "5"
      )
    }}
  </div>

  <div class="col-12 d-flex justify-content-end">
    <button class="c-btn c-btn-primary c-btn-mw205 w-100" type="submit" name="button">Contact us</button>
  </div>

</form>
