<footer class="o-mainFooter bg-color-ui-tint">
  <h2 class="sr-only">Main Footer</h2>

  <div class="container">
    <div class="row pt-5 pb-3">
      <div class="col-lg-3 col-md-7">
        <a href="index.html"><img class="o-logo w-100" src="../media/brand/logo.svg" alt=""></a>
      </div>

      <div class="col-lg-3 col-md-6 mt-3 mt-lg-0 lh1_4">
        <div class="font-weight-bold">Address:</div>
        <div>128 Newberry Ave. Suite 10</div>
        <div>Libertyville</div>
        <div>IL 60048</div>
      </div>

      <div class="col-lg-3 col-md-6 mt-3 mt-lg-0 lh1_4">
        <div class="font-weight-bold">Contact:</div>
        <div><a class="c-link" href="tel:847-996-0300">847-996-0300</a></div>
        <div><a class="c-link" href="tel:847-224-2700">847-224-2700</a></div>
      </div>

      <div class="col-lg-3 mt-3 mt-lg-0 lh1_4">
        <div class="font-weight-bold">Email:</div>
        <div><a class="c-link color-secondary font-weight-bold"
          href="mailto:info@hypnosishealnow.com">info@hypnosishealnow.com</a>
        </div>
      </div>
    </div>

    <hr>

    <div class="row pb-4 pt-0 pt-lg-4">
      <div class="col d-lg-flex justify-content-between align-items-center mb-1">
        <ul class="o-mainFooter_nav d-flex flex-wrap">
          <li class="mr-3 my-3 my-lg-0">
            <a href="#" class="c-link c-link-underline color-secondary">Home</a>
          </li>

          <li class="mr-3 my-3 my-lg-0">
            <a href="#" class="c-link c-link-underline color-secondary">Audio therapy</a>
          </li>

          <li class="mr-3 my-3 my-lg-0">
            <a href="#" class="c-link c-link-underline color-secondary">Order custom audio</a>
          </li>

          <li class="mr-3 my-3 my-lg-0">
            <a href="#" class="c-link c-link-underline color-secondary">About</a>
          </li>

          <li class="mr-3 my-3 my-lg-0">
            <a href="#" class="c-link c-link-underline color-secondary">Contact us</a>
          </li>
        </ul>

        <hr class="d-lg-none">

        <div class="d-flex align-items-lg-center flex-column flex-lg-row">
          <ul class="o-separatedList d-flex my-3 my-lg-0">
            <li class="o-separatedList_item">
              <a class="c-link c-link-underline color-secondary" href="privacyStatement.html">Privacy Statement</a>
            </li>

            <li class="o-separatedList_item">
              <a class="c-link c-link-underline color-secondary" href="termsOfUse.html">Terms Of Use</a>
            </li>
          </ul>

          <div class="o-socialIcons d-flex ml-lg-3">
            <a class="o-socialIcons_item -facebook" href="#"></a>
            <a class="o-socialIcons_item -twitter" href="#"></a>
            <a class="o-socialIcons_item -pinterest" href="#"></a>
            <a class="o-socialIcons_item -googlePlus" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-color-ui-shade">
    <div class="container">
      <div class="row py-4">
        <div class="col d-flex justify-content-between align-items-center">
          <div>Copyright &copy; 2018 Breakthrough Hypnosis</div>
          <a href="http://hexis.hr"><div class="o-hexis"></div></a>
        </div>
      </div>
    </div>
  </div>
</footer>
