  <div class="row my-3">
    <div class="col-12">
      <div class="form-label">Pick a setting you like best:</div>
    </div>

    <div class="col-md-4 mt-3 mt-md-0">
      <label>
        <span class="wpcf7-form-control-wrap radio-141">
          <span class="wpcf7-form-control wpcf7-radio">
            <span class="wpcf7-list-item first last">
              <label>
                <input type="radio" name="radio-141" value="Beach" checked="checked">
                <span class="wpcf7-list-item-label">Beach</span>
              </label>
            </span>
          </span>
        </span>
      </label>
    </div>

    <div class="col-md-4 mt-3 mt-md-0">
      <label>
        <span class="wpcf7-form-control-wrap radio-141">
          <span class="wpcf7-form-control wpcf7-radio">
            <span class="wpcf7-list-item first last">
              <label>
                <input type="radio" name="radio-141" value="Flower Garden">
                <span class="wpcf7-list-item-label">Flower Garden</span>
              </label>
            </span>
          </span>
        </span>
      </label>
    </div>

    <div class="col-md-4 mt-3 mt-md-0">
      <label>
        <span class="wpcf7-form-control-wrap radio-141">
          <span class="wpcf7-form-control wpcf7-radio">
            <span class="wpcf7-list-item first last">
              <label>
                <input type="radio" name="radio-141" value="Forest">
                <span class="wpcf7-list-item-label">Forest</span>
              </label>
            </span>
          </span>
        </span>
      </label>
    </div>
  </div>
