<form method="post" id="cf7pp-payment-form">
  <div class="cf7pp_body">
    <div class="cf7pp_row">
      <div class="cf7pp_details_input">
        <label for="cf7pp_stripe_credit_card_number">Card Number</label>
        <div id="cf7pp_stripe_credit_card_number" class="cf7pp_details_input empty">
          <div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
            <iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeFrame3" allowpaymentrequest="true"
              src="https://js.stripe.com/v3/elements-inner-card-9705a59d0f3bc68dd969b99e0fadb3ea.html#placeholder=%E2%80%A2%E2%80%A2%E2%80%A2%E2%80%A2+%E2%80%A2%E2%80%A2%E2%80%A2%E2%80%A2+%E2%80%A2%E2%80%A2%E2%80%A2%E2%80%A2+%E2%80%A2%E2%80%A2%E2%80%A2%E2%80%A2&amp;componentName=cardNumber&amp;wait=false&amp;rtl=false&amp;features[noop]=true&amp;origin=http%3A%2F%2Fhypno.hexis.hr&amp;referrer=http%3A%2F%2Fhypno.hexis.hr%2Forder-custom-audio%2Fbilling%2F%23wpcf7-f431-p432-o1&amp;controllerId=__privateStripeController0"
              title="Secure payment input frame" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; height: 16.8px;"></iframe>
            <input class="__PrivateStripeElement-input" aria-hidden="true" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
            <input class="__PrivateStripeElement-safariInput" aria-hidden="true" tabindex="-1" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
          </div>
        </div>
      </div>
      <div class="cf7pp_details_input">
        <label for="cf7pp_stripe_credit_card_csv">Card Code (CSV)</label>
        <div id="cf7pp_stripe_credit_card_csv" class="cf7pp_details_input empty">
          <div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
            <iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeFrame5" allowpaymentrequest="true"
              src="https://js.stripe.com/v3/elements-inner-card-9705a59d0f3bc68dd969b99e0fadb3ea.html#placeholder=%E2%80%A2%E2%80%A2%E2%80%A2&amp;componentName=cardCvc&amp;wait=false&amp;rtl=false&amp;features[noop]=true&amp;origin=http%3A%2F%2Fhypno.hexis.hr&amp;referrer=http%3A%2F%2Fhypno.hexis.hr%2Forder-custom-audio%2Fbilling%2F%23wpcf7-f431-p432-o1&amp;controllerId=__privateStripeController0"
              title="Secure payment input frame" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; height: 16.8px;"></iframe>
            <input class="__PrivateStripeElement-input" aria-hidden="true" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
            <input class="__PrivateStripeElement-safariInput" aria-hidden="true" tabindex="-1" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
          </div>
        </div>
      </div>
    </div>
    <div class="cf7pp_row">
      <div class="cf7pp_details_input">
        <label for="cf7pp_stripe_credit_card_expiration">Expiration (MM/YY)</label>
        <div id="cf7pp_stripe_credit_card_expiration"
          '="" class="cf7pp_details_input empty"><div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;"><iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeFrame4" allowpaymentrequest="true" src="https://js.stripe.com/v3/elements-inner-card-9705a59d0f3bc68dd969b99e0fadb3ea.html#placeholder=%E2%80%A2%E2%80%A2+%2F+%E2%80%A2%E2%80%A2&amp;componentName=cardExpiry&amp;wait=false&amp;rtl=false&amp;features[noop]=true&amp;origin=http%3A%2F%2Fhypno.hexis.hr&amp;referrer=http%3A%2F%2Fhypno.hexis.hr%2Forder-custom-audio%2Fbilling%2F%23wpcf7-f431-p432-o1&amp;controllerId=__privateStripeController0" title="Secure payment input frame" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; height: 16.8px;"></iframe><input class="__PrivateStripeElement-input" aria-hidden="true" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;"><input class="__PrivateStripeElement-safariInput" aria-hidden="true" tabindex="-1" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;"></div></div></div><div class="cf7pp_details_input"><label for="cf7pp_stripe_credit_card_zip">Billing Zip / Postal Code</label><div id="cf7pp_stripe_credit_card_zip" class="cf7pp_details_input empty"><div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;"><iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeFrame6" allowpaymentrequest="true" src="https://js.stripe.com/v3/elements-inner-card-9705a59d0f3bc68dd969b99e0fadb3ea.html#placeholder=%E2%80%A2%E2%80%A2%E2%80%A2%E2%80%A2%E2%80%A2&amp;componentName=postalCode&amp;wait=false&amp;rtl=false&amp;features[noop]=true&amp;origin=http%3A%2F%2Fhypno.hexis.hr&amp;referrer=http%3A%2F%2Fhypno.hexis.hr%2Forder-custom-audio%2Fbilling%2F%23wpcf7-f431-p432-o1&amp;controllerId=__privateStripeController0" title="Secure payment input frame" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; height: 16.8px;"></iframe><input class="__PrivateStripeElement-input" aria-hidden="true" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;"><input class="__PrivateStripeElement-safariInput" aria-hidden="true" tabindex="-1" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;"></div></div></div></div><div id="card-errors" role="alert"></div><br>&nbsp;<input id="stripe-submit" value="Pay $2.00" type="submit"><div><input type="hidden" id="cf7pp_stripe_nonce" value="3af4cded15"><div></div></div></div></form>
