<div class="o-heroTitle color-white">
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center">
        <h1 class="c-ttl c-ttl-hero">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>
</div>
