<!-- Main navigation -->
<nav class="o-mainNav">

  <!-- There is no need for translation of this item, it is placed here only for HTML semantic reason -->
  <h1 class='sr-only'>Main navigation</h1>

  <div class="o-menuToggle mr-2" data-mobileMenu-trigger>
    <span></span>
  </div>

  <ul class="o-mainNav_list" data-mobileMenu>
    <li class="o-mainNav_item -sub">
      <a class="c-link d-block color-neutral" href="index.html">Home</a>
      <i class="c-icon c-icon-9-10 c-icon-primary" data-subTrigger>
        <img class="iconic" src="../media/app/chevron.svg" alt="chevron">
      </i>
      <ul class="o-mainNav_subList" data-subMenu>
        <li class="o-mainNav_subItem">
          <a class="c-link d-block color-neutral" href="serviceList.html">Service list</a>
        </li>

        <li class="o-mainNav_subItem">
          <a class="c-link d-block color-neutral" href="service.html">Service</a>
        </li>
      </ul>
    </li>
    <li class="o-mainNav_item">
      <a class="c-link d-block color-neutral" href="custom.html">Order custom radio</a>
    </li>
    <li class="o-mainNav_item">
      <a class="c-link d-block color-neutral" href="about.html">About</a>
    </li>
    <li class="o-mainNav_item">
      <a class="c-link d-block color-neutral" href="contact.html">Contact us</a>
    </li>
  </ul>

</nav>
