<!-- Modal START -->
<div class="c-modal modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-4">
      <div class="modal-header bg-secondary d-block">
        <h2 class="c-ttl c-ttl-main" id="modalLabel">Contact us</h2>

        <button class="c-btn close f-50 font-weight-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container">

        <form class="row" action="">
          <div class="col-md-6">
            {{
              input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label",
              lb_txt = "First name",
              fe_id = "contactFirstName",
              fe_class = "form-control",
              fe_name = "contactForm",
              fe_type = "text"
              )
            }}
          </div>

          <div class="col-md-6">
            {{
              input.inputFunction(
              fg_class = "form-group has-error",
              lb_class = "form-label",
              lb_txt = "Last name",
              fe_id = "contactLastName",
              fe_class = "form-control",
              fe_name = "contactForm",
              fe_type = "text"
              )
            }}
          </div>

          <div class="col-md-6">
            {{
              input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label",
              lb_txt = "Email",
              fe_id = "contactEmail",
              fe_class = "form-control",
              fe_name = "contactForm",
              fe_type = "email"
              )
            }}
          </div>

          <div class="col-md-6">
            {{
              input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label",
              lb_txt = "Cellphone",
              fe_id = "contactCellphone",
              fe_class = "form-control",
              fe_name = "contactForm",
              fe_type = "tel"
              )
            }}
          </div>

          <div class="col-12">
            {{
              input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label",
              lb_txt = "Subject",
              fe_id = "contactSubject",
              fe_class = "form-control",
              fe_name = "contactForm",
              fe_type = "text"
              )
            }}
          </div>

          <div class="col-12">
            {{
              textarea.textareaFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Message",
                fe_id = "contactMessage",
                fe_class = "form-control",
                fe_name = "contactForm",
                fe_rows = "5"
              )
            }}
          </div>

          <div class="col-12 d-flex justify-content-end">
            <button class="c-btn c-btn-primary c-btn-mw205 w-100" type="submit" name="button">Contact us</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal STOP -->
