<div class="o-promo color-white py-4 my-5">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-8 z-1">
        <h2 class="c-ttl c-ttl-promo">You can start to change your habit or feel better in just days.</h2>
        <p class="font-weight-light">Order your hypnosis audio today. You will listen to the audio each day. It will be
          personally made for you based on your specific issues. One audio is approximately <strong>17 minutes</strong>
          long. <a class="c-link c-link-underline font-weight-bold" href="#">Download free sample</a> </p>
      </div>

      <div class="col-lg-4 z-1">
        <a class="c-btn c-btn-secondary w-100" href="custom.html">Order your custom audio now</a>
      </div>

    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">

    <div class="col-12 mb-3">
      <h2 class="c-ttl c-ttl-main">Audio Therapy</h2>
    </div>

    <div class="col-md-6 col-lg-4">
      {{
        carditem.carditemFunc(
          title = "Hypnosis for anxiety and stress",
          img = "http://via.placeholder.com/360x300"
        )
      }}
    </div>

    <div class="col-md-6 col-lg-4">
      {{
        carditem.carditemFunc(
          title = "Treatment for migraine and headaches",
          img = "http://via.placeholder.com/360x300"
        )
      }}
    </div>

    <div class="col-md-6 col-lg-4">
      {{
        carditem.carditemFunc(
          title = "Weight management hypnosis",
          img = "http://via.placeholder.com/360x300"
        )
      }}
    </div>

    <div class="col-md-6 col-lg-4">
      {{
        carditem.carditemFunc(
          title = "Success in SAT and ACT testing",
          img = "http://via.placeholder.com/360x300"
        )
      }}
    </div>

    <div class="col-md-6 col-lg-4">
      {{
        carditem.carditemFunc(
          title = "Fear of flights",
          img = "http://via.placeholder.com/360x300"
        )
      }}
    </div>

    <div class="col-md-6 col-lg-4">
      {{
        carditem.carditemFunc(
          title = "Hypnosis for confidence",
          img = "http://via.placeholder.com/360x300"
        )
      }}
    </div>

    <div class="col-12 text-right">
      <a class="c-link c-link-underline color-secondary" href="serviceList.html">View all</a>
    </div>

  </div>
</div>
