.o-gallery {

  &_item {
    position: relative;
    overflow: hidden;
    flex: 1 1 100%;
    max-height: 316px;

    &:nth-child(n+4) {
      display: none;
    }

  }

  &_item.last {

    .o-gallery_link {
      z-index: 1;

      &:after {
        @extend %absoluteFull;
        content: '';
        background-color: rgba($color-text-neutral, .7);
      }

    }

  }

  &_count {
    @include font-size(26);
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    left: 0;
    color: $white;
    transform: translateY(-50%);
  }

  @include laptopDown {

    &_item {
      margin-bottom: .25rem;
    }

  }

  @include mobilePlus {

    &_item + &_item {
      margin-left: .25rem;
    }

  }

  @include tablet {

    .o-gallery-article &_item {
      max-height: 100%;
    }

  }

  @include laptop {

    .p-eventArticle &,
    .p-newsArticle & {
      flex-direction: column;
    }

    &-article {

      .o-gallery_item:not(:last-child) {
        margin-bottom: .2rem;
      }

      .o-gallery_item + .o-gallery_item:after {
        content: normal;
      }

    }

  }

}
