.o-hexis {
  display: inline-block;

  &_a {
    @include transition(opacity, 300ms);
    display: block;
    opacity: .6;
  }

  &_a:hover {
    opacity: 1;
  }

  &_img {
    height: 2rem;
  }

  &_rent {
    color: $hexis-gray;
     font-size: .8125rem; // 13px
  }

}
