$inquiry-page-table-cell-padding-y: 10px;
$inquiry-page-table-cell-padding-x: 8px;
$inquiryTableHeadBackground: $brand-secondary;
$inquiryTableHeadColor: $white;

.o-inquiryPageTable {

  td, th {
    padding: $inquiry-page-table-cell-padding-y $inquiry-page-table-cell-padding-x;
    border: 1px solid $asset-separator-light;
    vertical-align: middle;

    &:first-of-type {
      text-align: left;
    }

    &:not(:first-of-type) {
      text-align: right;
    }

  }

  thead {

    th {
      border-bottom: 1px solid $asset-separator-light;
      background-color: $inquiryTableHeadBackground;
      color: $inquiryTableHeadColor;
    }

  }

}

#inquiry-details-priceNotAvailable {
  @include font-size(14);
  color: $brand-active;
}

.o-inquiryPageTable-price {
  margin-bottom: 0;

  tfoot {

    td {
      border: 0;
      font-weight: $font-weight-heading;
    }

  }

}

@include tabletDown {

  .o-inquiryPageTable {

    td {
      display: block;
    }

    thead,
    td:empty,
    tfoot td:first-of-type {
      display: none!important;
    }

    td:first-of-type {
      background-color: $inquiryTableHeadBackground;
      font-weight: $font-weight-heading;
      color: $inquiryTableHeadColor;
    }

    td:not(:first-of-type) {
      position: relative;
      border-top: 0;
      text-align: right;

      &:after {
        content: attr(data-label);
        position: absolute;
        top: 0;
        bottom: 0;
        left: $inquiry-page-table-cell-padding-y;
        height: 1em;
        margin: auto 0;
      }

    }

  }

}

@include tabletPlus {

  .o-inquiryPageTable-charges {

    th, td {

      &:last-of-type {
        width: 24%;
      }

    }

  }

}

@include desktop {

  .o-inquiryPageTable-charges {

    th, td {

      &:last-of-type {
        width: 20%;
      }

    }

  }

}
