// Main Header
.o-mainHeader {
  position: relative;
  z-index: 5;
  width: 100%;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba($black, .13);

  &_topBar {
    display: flex;
    justify-content: flex-end;
    color: $white;

    &_wrapper {
      background-color: $brand-secondary-darken;
    }

  }

  &_bottomBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;

    @include laptopDown {
      height: 4.5rem;
    }

  }

  &_switch {
    position: relative;
    width: 100%;
  }

  &_switch:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 110px;
    display: block;
    border-bottom-left-radius: 30px;
    background-color: $brand-secondary-darken;

    @include desktop {
      left: 156px;
    }

  }

  // Triggers wrapper
  &_mobileTriggers {
    display: flex;
  }

  // Triggers
  // TODO: remove duplicated styles
  &_trigger {
    @extend %cursor-pointer;
    position: relative;
    height: 26px;

    // Menu
    &.-menu {
      width: 30px;
      padding: 1rem 1.25rem 1rem 0;
      margin-left: 1.25rem;

      span {
        @include transition(all,.25s, ease-in-out);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        height: 3px;
        width: 100%;
        margin: auto;
        background: $brand-primary;
        border-radius: 9px;
        opacity: 1;

        &:before, &:after {
          @include transition(all,.25s, ease-in-out);
          content: '';
          position: absolute;
          left: 0;
          display: block;
          height: 3px;
          width: 100%;
          background: $brand-primary;
          border-radius: 9px;
          opacity: 1;
          transform: rotate(0deg);
        }

        &:before {
          top: -8px;
        }

        &:after {
          top: 8px;
        }

      }

      &.active span {
        background-color: transparent;
        left: 10px;

        &:before, &:after {
          top: 0px;
          left: -10px;
        }

        &:before {
          transform: rotate(135deg);
        }

        &:after {
          transform: rotate(-135deg);
        }

      }

      @include laptop {
        display: none;
      }

    }

    // Search
    &.-search {
      width: 26px;
      padding: 1.125rem;

      .p-search & {
        opacity: .3;
        pointer-events: none;
      }

      span {
        @include transition(all, .25s, ease-in-out);
        position: absolute;
        top: 7px;
        left: 7px;
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid $brand-primary;

        &:before, &:after {
          content: '';
          position: absolute;
          display: block;
          height: 2px;
        }

        &:before {
          top: 15px;
          left: 10px;
          width: 10px;
          background-color: $brand-primary;
          transform: rotate(45deg);
          transition: width 200ms;
        }

        &:after {
          top: 10px;
          left: -4px;
          width: 28px;
          background-color: transparent;
        }

      }

    }

  }

}
