// Main navigation
// // HMTL structure use from Aurora travel website

// Links padding
$nav-item-padding: 1rem;

// Nth last items for different drop orientation (change value in 'c-icon' partial also)
$nth-last-child-item: 3;

.o-mainNav {
  display: flex;
  align-items: center;

  &_item.-sub {
    position: relative;
  }

  &_subList {
    display: flex;
    flex-direction: column;
  }

  &Switch_wrapper {
    display: flex;
    justify-content: flex-end;
    background-color: $white;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      width: 100%;
      background-color: inherit;
    }

    &::before {
      left: -100%;
    }

  }

  &Switch_list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    background-color: $brand-secondary-darken;
    box-shadow: 0 0 15px 0 rgba($black, .09);
  }

  &Switch_list.active {
    display: block;
  }

  &Switch_item-current {
    padding: 0 .375rem;

    &.active {
      background-color: $brand-secondary-dark;
    }

  }

  @include laptopDown {

    &_list {
      position: absolute;
      z-index: 5;
      top: 100%;
      right: -15px;
      left: -15px;
      display: flex;
      flex-direction: column;
      border-top: 1px solid rgba($black, .06);
      background-color: $white;
      overflow: hidden;
      opacity: 0;
      transform: translateX(-100%);
      pointer-events: none;
      transition: transform 400ms, opacity 500ms;

      &.active {
        transform: translateX(0);
        overflow: scroll;
        opacity: 1;
        pointer-events: all;
      }

    }

    &_subList {
      max-height: 0;
      overflow: hidden;
      background-color: rgba($black, .015);
      box-shadow: inset 0 0 15px 0 rgba($black, .05);
      transition: max-height ease-in-out 500ms;

      &.active {
        max-height: 62.5rem;
      }

    }

    &_subItem.-sub {
      position: relative;
    }

    &_item,
    &_subItem:not(:last-child) {
      border-bottom: 1px solid rgba($black, .1);
    }

  }

  @include laptop {

    &Switch_item:hover .o-mainNavSwitch_list {
      display: block;
    }

    &Switch_item-current {
      pointer-events: none;
    }

    &_listTrigger {
      display: none;
    }

    &_list {
      display: flex;
      flex-direction: row;
    }

    &_item:hover,
    &_subItem:hover {
      background-color: rgba($black, .03)
    }

    &_item.-sub {
      display: flex;
      flex-direction: column;
      padding-right: .438rem;

      &:hover > .o-mainNav_subList {
        opacity: 1;
        pointer-events: all;
      }

    }

    &_subList {
      @include transition(opacity, 300ms);
      position: absolute;
      z-index: 3;
      top: 100%;
      right: auto;
      left: 0;
      min-width: 6.25rem;
      background-color: $white;
      box-shadow: 0 0 15px 0 rgba($black, .09);
      opacity: 0;
      pointer-events: none;
      white-space: nowrap;

      .o-mainNav_subItem.-sub .o-mainNav_subList {
        top: 0;
        right: auto;
        left: 100%;
      }

    }

    &_item:nth-last-child(-n+4) &_subList {
      right: 0;
      left: auto;
    }

    // Last 4 Nav items
    &_item:nth-last-child(-n+4) &_subList .o-mainNav_subItem.-sub .o-mainNav_subList {
      top: 0;
      right: 100%;
      left: auto;
    }

  }

  &_subItem.-sub {
    position: relative;

    &:hover > .o-mainNav_subList {
      opacity: 1;
      pointer-events: all;
    }

  }

}
