// Main Search
.o-mainSearch {
  position: absolute;
  display: none;

  .p-search & {
    display: block;
  }

  &.active {
    display: block;
  }

  &_item:nth-child(3) {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 70%;
      background-color: $asset-separator-light;
      transform: translateY(-50%);
    }

  }

  &-advanced_attributes {
    padding: 1.25rem 1.25rem .625rem;
    border-bottom: 1px solid $asset-separator-light;
  }

  &-advanced {
    border: 1px solid $asset-separator-light;
    border-radius: 5px;
    background-color: rgba($white, .9);

    @include laptop {
      margin: 1rem -1rem;
    }

  }

  &-advancedList {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.25rem .625rem;

    &_item {
      flex: 1 1 100%;
    }

  }

  &_name {
    display: none;
  }

  @include laptopDown {
    top: 100%;
    right: -15px;
    left: -15px;
    padding-top: 1.25rem;
    background-color: $white;

    &_item.datepicker {
      display: inline-flex;
      width: 50%;
    }

    &_wrapper {
      background-color: $white;
    }

  }

  @include tablet {

    &-advancedList {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      &_item {
        flex: 0 1 49.5%;
      }

    }

  }

  @include laptop {
    top: 100%;
    right: auto;
    left: 50%;
    width: 100%;
    max-width: 1000px;
    transform: translateX(-50%);

    .p-homepage & {
      display: block;
    }

    .p-search & {
      top: 7rem;
      box-shadow: none;
    }

    &_wrapper {
      position: relative;
      padding: .625rem .4375rem;
    }

    &_list {
      display: flex;
      margin-right: -.9375rem;
      margin-left: -.9375rem;
      padding: .5rem;
      border: 1px solid $color-ui-tint;
      background-color: rgba($white, .9);
      border-radius: 5px;

    }

    &_item {
      position: relative;
      flex: 1 1 13.6667%;

      &:first-child {
        flex-grow: 3;
      }

      &:not(:last-child):not(:nth-child(3)):after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 70%;
        background-color: $asset-separator-light;
        transform: translateY(-50%);
      }

    }

    &-advancedList {
      flex-wrap: nowrap;

      &_item {
        flex: 0 1 24.5%;
      }

    }

  }

}
