.o-newsCard {

  &_img_wrapper {
    flex: 1 1 20%;

    .o-newsCard_img {
      display: block;
      overflow: hidden;
      width: 100%;
      border-radius: 10px 10px 0 0;

      @include tablet {
        border-radius: 10px 0 0 10px;
      }

    }

  }

  &_info {
    flex: 1 1 80%;
  }

}
