
/*

  Google Map styles for:

    - filter list
    - info window for: events, points of interest, accommodation(s)

*/

.clearFloat:before,
.clearFloat:after {
  content: "";
  clear: both;
  float: none;
  height: 0px;
  display: block;
}



.iWindowUnitList {

  .p-search & {
    padding-left: 0;
    margin: 0;
  }

  // Scroller
  .mCustomScrollBox {

    .mCSB_scrollTools {
      width: 7px;
    }

    .mCSB_scrollTools{

      .mCSB_dragger .mCSB_dragger_bar {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5) !important;
      }
      .mCSB_draggerRail {
        display: none;
      }

    }

    .mCSB_inside > .mCSB_container {
      margin-right: 0 !important;
    }

    .mCSB_container {

      @media (min-width: 600px) {
        margin-right: 0 !important;
      }

    }

  }

  // Slick Slider
  .slick-slider {
    margin-bottom: 0;
  }

  .slick-list {
    max-height: 120px;
    z-index: 2;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 100%;
    cursor: pointer;
    opacity: 0.8;
    z-index: 3;
    transform: translate(0);

    &,
    &:hover {
      background-repeat: no-repeat;
      background-size: 9px 18px;
    }

    &:before {
      content: none;
    }

  }
  .slick-prev {
    left: 0;
    &,
    &:hover {
      background-image: url('../media/map/sliderPrev.svg');
      background-position: 5% 50%;
    }
  }
  .slick-next {
    right: 0;
    &,
    &:hover {
      background-image: url('../media/map/sliderNext.svg');
      background-position: 95% 50%;
    }
  }
  .slick-prev:hover,
  .slick-next:hover {
    opacity: 1;
  }

  // Swiper
  .swiper-container {
    height: 115px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 9px 18px;
    cursor: pointer;
    opacity: 0.8;
  }
  .swiper-button-prev {
    left: 0;
    background-image: url('../media/map/sliderPrev.svg');
    background-position: 5% 50%;
  }
  .swiper-button-next {
    right: 0;
    background-image: url('../media/map/sliderNext.svg');
    background-position: 95% 50%;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    opacity: 1;
  }

}





/*----------------------------------------------------------------
  4. POI LIST
----------------------------------------------------------------*/

.poiList {
  top: 0.6em !important;
  right: 0.6em !important;
  display: inline-block;
  min-width: 220px;
  max-width: 230px;
  padding: 1em;
  border-radius: 6px;
  line-height: 1.2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #404040;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  z-index: 1 !important;

  strong {
    color: #1F1F1F;
  }

  //todo: check this specs
  &,
  li,
  li ul,
  li ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &_icon {
    float: left;

    &-accommodation,
    &-poi,
    &-events {
      display: block;
      background-repeat: no-repeat;
      background-size: 24px 22px;
      width: 24px;
      height: 22px;
    }

    &-accommodation {
      background-image: url('../media/map/poi-accommodation.svg');
    }
    &-poi {
      background-image: url('../media/map/poi-pointsOfInterest.svg');
    }
    &-events {
      background-image: url('../media/map/poi-events.svg');
    }

  }

  &_status {
    margin-left: 2.3em;

    ul {
      position: relative;
      max-height: 2.050em;
      overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 8px;
        background-image: url("../media/map/fadeOut.png");
        background-repeat: repeat-x;
        background-size: 1px 8px;
      }

      li {
        float: left;
      }

      li:not(:last-child):after {
        content: ",";
        margin-right: 4px;
      }

    }

  }

}




.poiList .poiList_item {
  position: relative;
  padding: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.active .poiDropdown_wrapper {
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    margin-right: 1.2em;
    z-index: 10;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba(151, 151, 151, 0.25);
  }

  &.-accommodation{}
  &.-poi{}
  &.-event{}

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(171, 171, 171, 0.10);
  }
  &:hover ul:after,
  &:focus ul:after,
  &:active ul:after {
    background-image: url("../media/map/fadeOut-dark.png");
  }

}


//todo: dalje fixat

@media (max-width: 500px) {
  .poiList {
    max-width: auto;
    min-width: auto;
  }
  .poiList_status {
    display: none;
  }
  .poiList_icon {
    position: relative;
  }
  .poiList_icon.-inactive:before {
    position: absolute;
    top: -7px;
    right: -7px;
    content: "";
    background-image: url("../media/map/inactiveCheck.svg");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
  }
  .poiList .poiList_item.active .poiDropdown_wrapper {
    min-width: 180px;
  }
}


/*--------------------------------------------------------------*/




/*----------------------------------------------------------------
  5. POI DROPDOWN
----------------------------------------------------------------*/

.poiDropdown_wrapper {
  display: none;
  position: relative;
  max-width: 230px;
  max-height: 350px;
  overflow: visible;
  padding: 1em;
  border-radius: 6px;
  color: #404040;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
}
.poiDropdown_wrapper:after {
  content: "";
  position: absolute;
  right: -12px;
  top: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 12px;
  border-color: transparent transparent transparent #FFFFFF;
}

.poiDropdownList {

  &:before {
    content: "";
    position: absolute;
    right: -25px;
    top: 14px;
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(0, 0, 0, 0.12);
    border-width: 12px;
  }

}

.poiDropdownList_item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  label {
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input {
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }

}

/*--------------------------------------------------------------*/




/*----------------------------------------------------------------
  6. CLUSTER, MAP ICONS AND PRICE BUBBLE
----------------------------------------------------------------*/

.cluster {
  border-radius: 50%;
  background: rgba(#0A58FD, .3);
}
.cluster:before,
.cluster:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}
.cluster:before {
  width: 80%;
  height: 80%;
  background: #1048BD;
}
.cluster:after {
  width: 60%;
  height: 60%;
  background: #0E2042;
}
.cluster > div {
  color: #FFFFFF !important;
  z-index: 2;
  font-size: 1.3em !important;
}
.cluster > img {
  display: none !important;
}

.poi-icon {
  $size: 40px;
  display: inline-block;
  width: $size;
  height: $size;
  background-repeat: no-repeat;
  background-size: $size;
}
.poi-pointOfInterest {
  background-image: url("../media/map/poi-pointsOfInterestMap.svg");
}
.poi-accommodations {
  background-image: url("../media/map/poi-accommodationMap.svg");
}
.poi-events {
  background-image: url("../media/map/poi-eventsMap.svg");
}
.poi-nearObject {
  background-image: url('../media/map/poi-nearObject.svg');
  background-size: 26px;
  width: 26px;
  height: 26px;
}

.poi-price {

  &_wrapper {
    font-size: 14px;
  }

  // accommodation price on map
  &_body {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    border-radius: 3px;
    padding: 0.2em 0.3em;
    font-weight: bold;
    color: #FFFFFF;
    white-space: nowrap;

    .price_amount {
      font-size: 1em;
    }
    .price_currency {
      font-size: 0.8em;
      margin-right: 2px;
    }

  }

  // accommodation icon on map
  &_empty {
    background: $brand-primary url("../media/map/poi-accommodation.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 22px;
    width: 24px;
    height: 22px;
    border: 1px solid $brand-primary;
    border-radius: 4px;
  }

  // triangle border bottom
  &_tail {
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-top-color: $brand-primary;
    border-width: 7px;
    margin-left: -7px;
    margin-top: -8px;

  }
  &_tailBorder {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    text-align: center;
    margin: auto;
    position: relative;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: rgba(darken($brand-primary, 20%), .3);
    border-width: 5px;
  }

}

/*--------------------------------------------------------------*/




/*----------------------------------------------------------------
  7. INFO WINDOW & IWINDOW
----------------------------------------------------------------*/
%pwb{
  position: relative;
  display: inline-block;
  padding: 0.71em;
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 11px 15px rgba(0, 0, 0, 0.30);

  &:after,
  &:before {
    top: 99%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 12px;
    margin-left: -12px;
  }

}


/*INFO WINDOW*/
.infoWindow_wrapper {
  // @extend %pwb;
  min-width: auto;

  @media (min-width: 600px) {
    min-width: 400px;
  }

  .unit_image_info & {
    min-width: auto;
  }

  .p-unit &,
  .p-object & {
    min-width: 300px;
  }

}

.gm-style-iw ~ div {
  background-color: $brand-primary !important;
   height: 20px !important;
   line-height: 16px !important;
   width: 20px !important;
   text-align: center;
   border-radius: 50%;
   margin: 3px 10px 0 0;
   padding-top: 1px;
   opacity: 1 !important;
   box-shadow: 2px -1px 4px rgba(0,0,0, 0.3);
   right: -20px!important;
   top: -10px!important;

   &:after {
     content: "X";
       font-size: 10px;
       font-weight: bold;
       color: $white;
   }

   img {
     display: none;
   }

}

.gm-style .gm-style-iw > div:first-child {
  max-height: 195px;
}

.gm-style > div:first-child > div:last-child > div:last-child > div:last-child > div:first-child {
  @extend %pwb;
  transform: translateX(-4px);

  > div:first-child > div {
    display: none;
  }

}


.infoWindow_image {
  width: 100px;
  height: 100%;
  float: left;

  img {
    width: 100%;
    height: auto;
  }

}

.infoWindow_body {
  float: left;
  max-width: 275px;
  margin-left: 1rem;

  p {
    margin: 0;
  }

}
.infoWindow_title {
  margin-top: 0;
  margin-bottom: 0.31em;
  font-size: 1.14em;
  line-height: 20px;

  .p-unit &,
  .p-object & {
    margin-top: 0;
  }

}
.infoWindow_rating {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0 0 0.1em 0.3em;

  img {
    width: 1rem;
    height: 1rem;
  }

  .p-unit &,
  .p-object &{
    display: block;
    margin: 0;
    text-align: left;
  }

}

.infoWindow_ratingList {

  &, &_item {
    display: inline;
  }

  &_item > img {
    height: 1rem;
  }

}

.infoWindow_summary {
  margin-bottom: 0;
  line-height: 1.2;
}
.infoWindow_link {
  display: inline-block;
  color: #4A90E2;
  text-decoration: underline;
  margin-top: 0.71em;
}


/*IWINDOW*/

.iWindowAttributes {}
.iWindowAttributes_item {
  float: left;
}
.iWindowAttributes_item:not(:last-child):after {
  content: "|";
  margin: 0 0.8em;
  color: #979797;
}
.iWindowAttributes_item > .iconic {
  margin-right: 0.5em;
}

.iWindowUnitList {
  position: relative;
  max-height: 170px;
  overflow: hidden;

  .infoWindow_wrapper > & {
    border-top: 1px solid #EAEAEA;
    margin-top: 1rem;
    padding-top: 1rem;
  }

}

.iWindowUnitList:after {
  content: "";
  background-image: url("../media/map/fadeOut.png");
  background-repeat: repeat-x;
  background-size: 1px 8px;
  height: 8px;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
}

.iWindowUnitList_item:not(:first-child) {
  border-top: 1px solid #EAEAEA;
  margin-top: 0.71em;
  padding-top: 0.71em;
}
.iWindowUnit {}

.iWindowImage {
  position: relative;
  margin-right: .71rem;
  width: 170px;
  min-height: 107px;
  background-color: #D4D4D4;
  $size: 35px;
  z-index: 1;

  @media (min-width: 600px) {
    float: left;
  }

  img {
    width: 100%;
    height: auto;
  }

  &:before {
    content: '';
    display: inline-block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url('../media/map/placeholder_image.svg');
    background-repeat: no-repeat;
    background-size: $size;
    height: $size;
    width: $size;
  }

}
.iWindowImage .iWindowUnitAction {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 0.62em;
  font-size: 14px;
  font-weight: bold;
  background-color: $brand-primary;
  color: #FFFFFF;
  z-index: 2;
}
.iWindowUnitAttributes {

  @media (min-width: 600px)  {
    padding: 0;
  }

}

.iWindowUnitAttributes_item:not(:first-child) {
  margin-top: 0.4em;
}
.iWindowUnitAttributes_item > .iconic {
  margin-right: 0.4em;
  vertical-align: baseline;
}

.poi-info-window {
  @extend %pwb;

  .title {
    font-size: 1.2em !important;
    font-weight: bold !important;
    line-height: 1.2;
    margin: 0 0 0.5em;
    color: $black;
  }

  .address {
    line-height: 1.3;
  }

  .view-link {
    display: inline-block;
    margin-top: 0.5em;
  }

}
