.o-socialIcons {
  display: flex;

  &_item {
    @extend %no-repeat;
    @include transition();
    display: block;
    width: 3rem;
    height: 3rem;
    background-size: 100%;
  }

  &_item:hover {
    transform: scale(1.05);
  }

  &_item + &_item {
    margin-left: .2rem;
  }

  &_item.-facebook {
    background-image: url('../media/social/facebook.svg');
  }

  &_item.-twitter {
    background-image: url('../media/social/twitter.svg');
  }

  &_item.-googlePlus {
    background-image: url('../media/social/googlePlus.svg');
  }

  &_item.-pinterest {
    background-image: url('../media/social/pinterest.svg');
  }

}
