// Toggle CSS hack for show/hide effect
.o-toggle {

  &_trigger[type=checkbox] {
    @extend %hiddenHack;
  }

  &_label {
    @extend %user-select;

    &:hover {
      @extend %cursor-pointer;
    }

    .first {
      display: block;
    }

    .second {
      display: none;
    }

  }

  &_body {
    display: none;
  }

  &_trigger[type=checkbox]:checked ~ &_body {
    display: block;
  }

  &_trigger[type=checkbox]:checked ~ &_label {

    .first {
      display: none;
    }

    .second {
      display: block;
    }

  }

  // Search with full form or name
  &_trigger-search[type=checkbox]:checked {

    ~ .o-mainSearch_name {
      display: block;
    }

    ~ .o-mainSearch_full {
      display: none;
    }

  }

  &_label-advSearch,
  &_label-searchForm {

    @include laptop {
      position: absolute;
      top: 95%;
      color: $white;
      font-weight: $font-weight-heading;

      .first,
      .second {
        color: $brand-primary;

        .p-search & {
          text-shadow: none;
        }
      }

    }

  }

  &_label-advSearch {
    display: block;
    text-align: center;

    @include laptop {
      left: 0;
    }

    .p-search & {
      color: #37AFE9;
    }

  }

  &_label-searchForm {
    display: none;

    @include laptop {
      right: 0;
      display: block;

      .p-search & {
        color: #37AFE9;
      }

    }

  }

  .o-action_item &_label {
    @extend %absoluteFull;
    @extend %no-repeat;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-position: calc(100% - 15px) 73px; /* 0.625/16 */
    background-image: url('../media/app/plus.svg');
    background-size: 20px;

    @include tablet {
      background-position-y: 60px;
    }

    @include desktop {
      background-position-y: 43px;
    }

  }

  .o-action_item &_trigger[type=checkbox]:checked ~ .o-action_unitList {
    position: relative;
    z-index: 2;
    display: flex;
  }

  .o-action_item &_trigger[type=checkbox]:checked ~ &_label {
    background-image: url('../media/app/minus.svg');
  }

  .o-comments &_trigger[type=checkbox]:checked ~ .o-comments_wrapper .o-comments_item:nth-child(n+4) {
    display: block;
  }

}
