.o-unitCard {
  box-shadow: 0 1px 3px rgba($black, .2);

  &_banner {
    @include font-size(30);
    position: absolute;
    top: -2px;
    left: 10px;
    z-index: 1;
    min-width: 45px;
    background-color: $brand-danger;
    color: $white;
  }

  &_price {
    @include font-size(20);
  }

  &_img {
    position: relative;
  }

}
