.o-weather {
  height: 200px;

  .o-weather_img {
    height: 50px;
  }

  .o-weather-bgIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    right: 3rem;
    width: 172px;
    height: 172px;
    opacity: .15;
  }

  .o-weather-bgIcon {
      top: -6rem;
      animation: spin 40s infinite linear;
    }

  @include tabletDown {

    .o-weather_item:nth-child(n+3) {
      display: none!important;
    }

  }

  @include desktopDown {

    .o-weather_item:nth-child(4) {
      display: none!important;
    }

  }

  @include laptopDown {

    .o-weather,
    .o-subscription {
      z-index: 0;
    }

    .o-weather {
      background-color: rgba($brand-primary-mostLightest, .35);
    }
    .o-subscription {
      background-color: $brand-secondary-mostLightest;

    }

  }

  @include laptop {

    &:after,
    &:before {
      content: '';
      z-index: -2;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
    }

    &:before {
      background-color: rgba($brand-primary-mostLightest, .35);
      left: 0;
    }

    &:after {
      right: 0;
      background-color: $brand-secondary-mostLightest;
    }

  }

}
