<!-- Attribute list START -->
<table class="o-attributeTable o-attributeTable-inline m-0 p-0">
  <tbody>
    <td class="o-attributeTable_item">Wi-Fi</td>
    <td class="o-attributeTable_item">Bathroom</td>
    <td class="o-attributeTable_item">Free parking</td>
    <td class="o-attributeTable_item">Air conditioning</td>
    <td class="o-attributeTable_item">Free parking</td>
  </tbody>
</table>
<!-- Attribute list STOP -->
