<row>
  <columns>
    <table class="data-wrapper">
      <tbody>
        <tr>
          <td class="data-content">
            <row>
              <columns>
                <spacer size="50"></spacer>
                <h4 class="small-text-center">Contact person and location</h4>
                <spacer size="10"></spacer>
              </columns>
            </row>
            <row>
              <columns large="3">
                <p class="key"><strong>Full name:</strong></p>
              </columns>
              <columns large="9">
                <p class="value">Johnny Walker</p>
              </columns>
            </row>
            <row>
              <columns large="3">
                <p class="key"><strong>Full address:</strong></p>
              </columns>
              <columns large="9">
                <p class="value">
                  Vrbnička 107<br>
                  Krk 55555<br>
                  Croatia
                </p>
              </columns>
            </row>
            <row>
              <columns large="3">
                <p class="key"><strong>Email:</strong></p>
              </columns>
              <columns large="9">
                <p class="value"><a href="mailto:johnny.walker@gmal.com">johnny.walker@gmal.com</a></p>
              </columns>
            </row>
            <row>
              <columns large="3">
                <p class="key"><strong>Cellphone:</strong></p>
              </columns>
              <columns large="9">
                <p class="value"><a href="tel:091/123-4567">091/123-4567</a></p>
              </columns>
            </row>
            <row>
              <columns large="3">
                <p class="key"><strong>Telephone:</strong></p>
              </columns>
              <columns large="9">
                <p class="value"><a href="tel:001/123-567">001/123-567</a></p>
              </columns>
            </row>
            <spacer size="40"></spacer>
          </td>
        </tr>
      </tbody>
    </table>
  </columns>
</row>
