<!-- Event item START -->
<row class="o-eventItem">

  <columns large="5">
    <a href="eventUrl"><img class="c-img" src="http://via.placeholder.com/220x140" alt="Event image"></a>
  </columns>
  <columns>
    <a href="eventUrl"><h5 class="f-21 pb-4 m-0">In recent years people have realized the importance</h5></a>
    <p class="pb-4 m-0 font-weight-semiBold"><span>15.01.2016 - 21.06.2016</span></p>
    <p class="o-eventItem_description">Lorem ipsum dolor text preview</p>
    <a class="color-blue" href="eventUrl">Read more</a>
  </columns>
</row>
<spacer size="10"></spacer>
<!-- Event item STOP -->
