<wrapper class="footer">
  <spacer size="30"></spacer>
  <container class="bg-transparent">
    <row>
      <columns small="12">
        <center>
          <spacer size="20"></spacer>
          <a class="d-inline-block" href="homeLink"><img src="../assets/img/logo-white.svg"
            width="183px" alt="Company Name"></a>
          <spacer size="20"></spacer>
        </center>
      </columns>
    </row>

    <row class="contact">

      <columns small="6">
        <wrapper class="footer-col">
          <p><strong class="d-block pt-4 pb-4">Address</strong></p>
          <p class="mb-2">Kralja Zvonimira 148,</p>
          <p class="mb-2">51523 Baška (Otok Krk)</p>
          <p class="mb-2">Croatia</p>
        </wrapper>
      </columns>

      <columns small="6">
        <wrapper class="footer-col">
          <p><strong class="d-block pt-4 pb-4">Contact</strong></p>
          <p class="mb-2">Tel: <a href="tel:051123456">051 123 456</a></p>
          <p class="mb-2">Fax: <a href="fax:051123456">051 123 457</a></p>
          <p class="mb-2">Email: <a href="mailto:info@splendido.com">info@splendido.hr</a></p>
        </wrapper>
      </columns>

    </row>

    <row>
      <columns>
        <table>
          <tbody>
            <tr>
              <th class="text-center">
                <spacer size="40"></spacer>

                <!-- Facebook START -->
                <a href="facebookLink" class="d-inline-block ml-15">
                  <img src="../assets/img/facebook.svg" alt="Facebook">
                </a>
                <!-- Facebook STOP -->

                <!-- G+ START -->
                <a href="googlePlusLink" class="d-inline-block ml-15">
                  <img src="../assets/img/googlePlus.svg" alt="Google Plus">
                </a>
                <!-- G+ STOP -->

                <!-- Pinterest START -->
                <a href="pinterestLink" class="d-inline-block ml-15">
                  <img src="../assets/img/pinterest.svg" alt="Pinterest">
                </a>
                <!-- Pinterest STOP -->

                <!-- Twitter START -->
                <a href="twitterLink" class="d-inline-block ml-15">
                  <img src="../assets/img/twitter.svg" alt="Twitter">
                </a>
                <!-- Twitter START -->
              </th>
            </tr>
          </tbody>
        </table>
      </columns>
    </row>

    <row>
      <columns class="pb-4" small="12">
        <spacer size="10"></spacer>
        <p class="copyright-text text-center">Copyright &copy; 2018 Splendido</p>
      </columns>
    </row>

    <row>
      <columns small="12">
        <center>
          <a class="d-inline-block hexis-logo" href="hexisLink"><img src="../assets/img/hexis.svg" alt="hexis"></a>
          <spacer size="20"></spacer>
        </center>
      </columns>
    </row>

  </container>

</wrapper>
