<wrapper class="header">
  <container>
    <row>
      <columns small="12">
        <center>
          <spacer size="20"></spacer>
          <a class="d-inline-block" href="homeLink"><img src="../assets/img/logo.svg" width="200px" alt="Company Name"></a>
          <spacer size="20"></spacer>
        </center>
      </columns>
    </row>
  </container>
</wrapper>
