<!-- Personal data and booking info START -->
<row>
  <columns>
    <table class="data-wrapper">
      <tbody>
        <tr>
          <td class="data-content">
            <row>
              <columns>
                <spacer size="50"></spacer>
                <h4>Personal data and booking info</h4>
                <spacer size="10"></spacer>
              </columns>
            </row>
            <row>
              <columns class="pb-8" large="3">
                <p class="key"><strong>Full name:</strong></p>
              </columns>
              <columns class="pb-8" large="9">
                <p class="value">Mr. Bruce Wayne</p>
              </columns>
            </row>
            <row>
              <columns class="pb-8" large="3">
                <p class="key"><strong>Full adress:</strong></p>
              </columns>
              <columns class="pb-8" large="9">
                <p class="value">
                  Mountain Drive 1007<br>
                  Gotham 53540<br>
                  USA
                </p>
              </columns>
            </row>
            <row>
              <columns class="pb-8" large="3">
                <p class="key"><strong>Email:</strong></p>
              </columns>
              <columns class="pb-8" large="9">
                <p class="value"><a href="mailto:bruce.wayne@gmail.com">bruce.wayne@gmail.com</a></p>
              </columns>
            </row>
            <row>
              <columns class="pb-8" large="3">
                <p class="key"><strong>Cellphone:</strong></p>
              </columns>
              <columns class="pb-8" large="9">
                <p class="value"><a href="tel:091/123-4567">091/123-4567</a></p>
              </columns>
            </row>
            <row>
              <columns class="pb-8" large="3">
                <p class="key"><strong>Check in:</strong></p>
              </columns>
              <columns class="pb-8" large="9">
                <p class="value">26.04.2016</p>
              </columns>
            </row>
            <row>
              <columns class="pb-8" large="3">
                <p class="key"><strong>Check out:</strong></p>
              </columns>
              <columns class="pb-8" large="9">
                <p class="value">29.04.2016</p>
              </columns>
            </row>
            <row>
              <columns class="pb-8" large="3">
                <p class="key"><strong>Adults:</strong></p>
              </columns>
              <columns class="pb-8" large="9">
                <p class="value">2</p>
              </columns>
            </row>
            <row>
              <columns class="pb-8" large="3">
                <p class="key"><strong>Kids:</strong></p>
              </columns>
              <columns class="pb-8" large="9">
                <p class="value">5 (Age 3, Age 9, Age 9, Age 11, Age 13)</p>
              </columns>
            </row>
            <spacer size="40"></spacer>
          </td>
        </tr>
      </tbody>
    </table>
  </columns>
</row>
<!-- Personal data and booking info STOP -->
