<table class="data-wrapper no-bb">
  <tbody>
    <tr>
      <td class="data-content">
        <row>
          <columns class="pb-4" large="4">
            <p class="key"><strong>Full name:</strong></p>
          </columns>
          <columns class="pb-4" large="8">
            <p class="value small-text-left text-right">Mr. Bruce Wayne</p>
          </columns>
        </row>
        <row>
          <columns class="pb-4" large="4">
            <p class="key"><strong>Email:</strong></p>
          </columns>
          <columns class="pb-4" large="8">
            <p class="value small-text-left text-right"
                ><a href="mailto:bruce.wayne@gmail.com">bruce.wayne@gmail.com</a></p>
          </columns>
        </row>
        <row>
          <columns class="pb-4" large="4">
            <p class="key"><strong>Check in:</strong></p>
          </columns>
          <columns class="pb-4" large="8">
            <p class="value small-text-left text-right">26.04.2016</p>
          </columns>
        </row>
        <row>
          <columns class="pb-4" large="4">
            <p class="key"><strong>Check out:</strong></p>
          </columns>
          <columns class="pb-4" large="8">
            <p class="value small-text-left text-right">29.04.2016</p>
          </columns>
        </row>
        <row>
          <columns class="pb-4" large="4">
            <p class="key"><strong>Guests:</strong></p>
          </columns>
          <columns class="pb-4" large="8">
            <p class="value small-text-left text-right">2</p>
          </columns>
        </row>
        <row>
          <columns class="pb-4" large="4">
            <p class="key"><strong>Price in total:</strong></p>
          </columns>
          <columns class="pb-4" large="8">
            <p class="value small-text-left text-right">250 EUR</p>
          </columns>
        </row>
      </td>
    </tr>
  </tbody>
</table>
