<row>
  <columns>
    <row class="tripElements_border">
      <columns large="2" class="pt-16" valign="middle">
        <a href="tripLink"><img class="trip-img w-100 c-img" src="http://via.placeholder.com/200x160" alt="Trip item"></a>
      </columns>
      <columns small="7" class="pt-16">

        <!-- Rating stars START -->
        <span class="unit-rating">
          <span class="d-inline-block"><img src='../assets/img/star.svg' width="18px"></span>
          <span class="d-inline-block"><img src='../assets/img/star.svg' width="18px"></span>
          <span class="d-inline-block"><img src='../assets/img/star.svg' width="18px"></span>
          <span class="d-inline-block"><img src='../assets/img/star.svg' width="18px"></span>
          <span class="d-inline-block"><img src='../assets/img/star.svg' width="18px"></span>
        </span>
        <!-- Rating stars STOP -->

        <a href="tripLink"><strong class="color-blue text-uppercase d-block mt-6">Aparment Lucia</strong></a>
        <ul class="o-separatedList p-0 m-0">
          <li class="o-separatedList_item f-15 d-inline-block">Apartment</li>
          <li class="o-separatedList_item f-15 d-inline-block">4 nights</li>
          <li class="o-separatedList_item f-15 d-inline-block">Vrbnik</li>
        </ul>
      </columns>
      <columns small="3" valign="bottom"><p class="text-right m-0"><strong>50 EUR</strong></p></columns>
    </row>
  </columns>
</row>
