<row>
  <columns>
    <h4 class="font-weight-bold">Trip elements:</h4>
  </columns>
</row>

<row>
  <columns>
    <span class="font-weight-bold">Day 1:</span>

    {{> trip-item}}

    {{> trip-item}}

    {{> trip-item}}
  </columns>
</row>


<row>
  <columns>
    <span class="font-weight-bold">Day 2:</span>

    {{> trip-item}}

    {{> trip-item}}

    {{> trip-item}}
  </columns>
</row>

<row>
  <columns>
    <span class="font-weight-bold">Day 3:</span>

    {{> trip-item}}

    {{> trip-item}}

    {{> trip-item}}
  </columns>
</row>
