<row>
  <columns>
    <spacer size="40"></spacer>
    <a href="unitLink"><h4 class="d-inline-block mb-5 font-weight-bold">Apartmans Rea</h4></a>

    <!-- Rating stars START -->
    <span class="unit-rating ml-8">
      <span class="d-inline-block"><img src='../assets/img/star.svg' width="18px"></span>
      <span class="d-inline-block"><img src='../assets/img/star.svg' width="18px"></span>
      <span class="d-inline-block"><img src='../assets/img/star.svg' width="18px"></span>
      <span class="d-inline-block"><img src='../assets/img/star.svg' width="18px"></span>
      <span class="d-inline-block"><img src='../assets/img/star.svg' width="18px"></span>
    </span>
    <!-- Rating stars STOP -->

    <br>
    <p class="m-0"><strong>Location: </strong>Vrbnik</p>
  </columns>
</row>

<row>
  <columns large="6">
    <a href="unitLink"><img class="c-img" src="http://via.placeholder.com/256x170" alt="Unit image"></a>
  </columns>

  <columns large="6">
    <p><strong>Description</strong></p>
    <p>Chups...Chocolate lollipop I love topping muffin bear claw jelly-o. Dragée chupa chups marzipan cake
      oat cake macaroon. Dragée cupcake croissant sweet sesame snaps pudding dessert candy canes. soufflé.
      Tootsie roll gummi bears I love I love cupcake donut.
      Macaroon cheesecake donut gummi bears chupa chups...</p>
  </columns>
</row>

<row>
  <columns large="6">
    {{> attributeTable-inline}}
  </columns>
  <columns></columns>
  <spacer size="20"></spacer>
</row>
