---
subject: Booking canceled
---
<!-- htmlmin:ignore -->
<container class="o-mailContent">
  <table class="o-mainMessage w-100">
    <tbody>
      <tr>
        <td class="o-mainMessage_content">
          <row>
            <columns large="2" small="3">
              <img class="o-mainMessage_icon" src="../assets/img/fileDeclined.svg" alt="Booking canceled">
            </columns>

            <columns large="10" small="9">
              <h1 class="color-primary-dark f-30 mb-0 font-weight-light">Booking canceled</h1>
              <p class="color-alert text-uppercase f-18 font-weight-semibold">AB1 C23</p>

              <spacer size="20"></spacer>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Unit START -->
  <table class="bg-aliceBlue">
    <tbody>
      <tr>
        <td>
          <row>
            <columns>
              <h2 class="f-24 font-weight-semibold color-primary-dark pt-25">Stay</h2>
            </columns>
          </row>
        </td>
      </tr>

      <tr>
        <td>
          <row>
            <columns>
              <p>2 adults</p>
            </columns>
          </row>
        </td>
      </tr>

      {{> checkInOut}}

      <tr>
        <td>
          <row>
            <columns large="9">
              <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Location</p>
              <p class="f-17 mb-0">Mountain Drive 1007, Gotham 53540, USA</p>
            </columns>

            <columns large="3">
              <spacer class="show-for-large" size="19"></spacer>
              <p class="text-right small-text-left">
                <a class="d-inline-block f-18" href="locationLink">Directions</a>
              </p>
            </columns>
          </row>
        </td>
      </tr>

      {{> unitCard}}

      {{> note}}

    </tbody>
  </table>
  <!-- Unit STOP -->

</container>
<!-- htmlmin:ignore -->
