<!-- htmlmin:ignore -->
<container class="o-mailContent" style="margin-bottom: 0;">
  <table class="o-mainMessage">
    <tbody>
      <tr>
        <td class="o-mainMessage_content">
          <row>
            <columns>
              <ol style="text-align: left; line-height: 1.6; display: block; margin: 0 auto; min-height: 50vh">
                <li><a href="canceledBooking.html">Canceled Booking</a></li>
                <li><a href="inquiryAdminEmail.html">Inquiry Admin Email</a></li>
                <li><a href="newReservation.html">New reservation email</a></li>
                <li><a href="unitReview.html">Unit Review</a></li>
                <li><a href="voucher.html">Voucher</a></li>
              </ol>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
</container>
<!-- htmlmin:ignore -->
