---
subject: New inquiry
---
<!-- htmlmin:ignore -->
<container class="o-mailContent">
  <table class="o-mainMessage w-100">
    <tbody>
      <tr>
        <td class="o-mainMessage_content">
          <row>
            <columns large="2" small="3">
              <img class="o-mainMessage_icon" src="../assets/img/filePlus.svg" alt="New Inquiry">
            </columns>

            <columns large="10" small="9">
              <h1 class="color-primary-dark f-30 mb-0 font-weight-light">New inquiry</h1>
              <p class="color-secondary text-uppercase f-18 font-weight-semibold">AB1 C23</p>
              <spacer size="20"></spacer>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>

  {{> personalDataBookingInfo}}

  <table>
    <tbody>
      {{> note}}
    </tbody>
  </table>

  <!-- Unit START -->
  <table class="bg-aliceBlue">
    <tbody>
      <tr>
        <td>
          <row>
            <columns small="12">
              <h2 class="f-24 font-weight-semibold color-primary-dark pt-25">Stay</h2>
            </columns>
          </row>
        </td>
      </tr>

      <tr>
        <td>
          <row>
            <columns small="12">
              <p>2 adults</p>
            </columns>
          </row>
        </td>
      </tr>

      {{> checkInOut}}

      {{> unitCard}}

    </tbody>
  </table>
  <!-- Unit STOP -->

  <!-- Button START -->
  <table class="w-100">
    <tbody>
      <tr>
        <td class="pt-25">
          <row>
            <columns small="12">
              <button class="c-btn c-btn-secondary expanded" href="inquiryLink">Administrate inquiry</button>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Button STOP -->

</container>
<!-- htmlmin:ignore -->
