---
subject: New reservation
---
<!-- htmlmin:ignore -->
<container class="o-mailContent">
  <table class="o-mainMessage w-100">
    <tbody>
      <tr>
        <td class="o-mainMessage_content">
          <row>
            <columns>
              <h1 class="color-primary-dark f-30 mb-0 font-weight-light">New reservation</h1>
              <p class="color-secondary text-uppercase f-18 font-weight-semibold">AB1 C23</p>
              <spacer size="15"></spacer>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>

  {{> personalDataBookingInfo}}

  {{> creditCardDetails}}

  <spacer size="10"></spacer>

  <!-- Unit START -->
  <table class="bg-aliceBlue">
    <tbody>
      <tr>
        <td>
          <row>
            <columns small="12">
              <h2 class="f-24 font-weight-semibold color-primary-dark pt-25">Stay</h2>
            </columns>
          </row>
        </td>
      </tr>

      <tr>
        <td>
          <row>
            <columns small="12">
              <p>2 adults</p>
            </columns>
          </row>
        </td>
      </tr>

      {{> checkInOut}}

      <tr>
        <td>
          <row>
            <columns large="9">
              <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Location</p>
              <p class="f-17 mb-0">Mountain Drive 1007, Gotham 53540, USA</p>
            </columns>

            <columns large="3">
              <spacer class="show-for-large" size="19"></spacer>
              <p class="text-right small-text-left">
                <a class="d-inline-block f-18" href="locationLink">Directions</a>
              </p>
            </columns>
          </row>
        </td>
      </tr>

      {{> unitCard}}
      {{> unitCard}}
      {{> unitCard}}

      {{> note}}
    </tbody>
  </table>
  <!-- Unit STOP -->

</container>

<!-- Cancel button START -->
<container>
  <table class="w-100">
    <tbody>
      <tr>
        <td>
          <button class="c-btn c-btn-secondary expanded" href="cancelReservationLink">Cancel reservation</button>
        </td>
      </tr>
    </tbody>
  </table>
</container>
<!-- Cancel button STOP -->

<!-- htmlmin:ignore -->
