---
subject: Rate accommodation
---
<!-- htmlmin:ignore -->
<container class="o-mailContent">
  <table class="o-mainMessage w-100">
    <tbody>
      <tr>
        <td class="o-mainMessage_content">
          <row>
            <columns>
              <h1 class="color-primary-dark f-30 mb-0 font-weight-light">Rate accommodation</h1>
              <spacer size="10"></spacer>
            </columns>
          </row>

          <row>
            <columns>
              <p>Dear Mr. Wayne</p>

              <br>

              <p>Thank you for your reservation! Please follow the link below to rate your accommodation.Bear claw
                 jelly-o. Dragée chupa chups marzipan cake oat cake macaroon. Chocolate lollipop I love topping muffin
                 bear claw jelly-o. Dragée chupa chups marzipan cake oat cake macaroon.</p>

              <br>

              <p>
                Best regards, <br>
                Alfred Pennyworth, <br>
                Booking manager and butler
              </p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Unit START -->
  <table class="bg-aliceBlue">
    <tbody>
      <tr>
        <td>
          <row>
            <columns small="12">
              <h2 class="f-24 font-weight-semibold color-primary-dark pt-25">Stay</h2>
            </columns>
          </row>
        </td>
      </tr>

      <tr>
        <td>
          <row>
            <columns small="12">
              <p>2 adults</p>
            </columns>
          </row>
        </td>
      </tr>

      {{> checkInOut}}

      {{> unitCard}}

    </tbody>
  </table>
  <!-- Unit STOP -->

  <!-- Button START -->
  <table class="w-100">
    <tbody>
      <tr>
        <td class="pt-25">
          <row>
            <columns small="12">
              <button class="c-btn c-btn-secondary expanded" href="rateAccommodation">Rate accommodation</button>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Button STOP -->

</container>
<!-- htmlmin:ignore -->
