/*
  Helper classes for background color
*/

.bg-white {
  background-color: $white;
}

.bg-black {
  //background-color: $black;
}

.bg-secondary {
  background-color: $brand-secondary;
}

.bg-grayLight {
  background-color: $color-ui-light;
}
