/*
  Helper classes for font styles
*/

.font-weight-thin {
  // font-weight: $font-weight-thin;
}

.font-weight-light {
  //font-weight: $font-weight-light;
}

.font-weight-regular {
  //font-weight: $font-weight-regular;
}

.font-weight-medium {
  //font-weight: $font-weight-medium;
}

.font-weight-semibold {
  //font-weight: $font-weight-semiBold;
}

.font-weight-heavy {
   //font-weight: $font-weight-heavy;
}

.font-weight-black {
   font-weight: $font-weight-black;
}

.font-body {
  //font-family: $font-family-base;
}

.font-heading {
  //font-family: $font-family-heading;
}

.f-14-16-14-16 {
  @include font-size(14);
}

$font-sizes-list: 12, 13, 14, 17, 26, 30;

@each $size in $font-sizes-list {

  .f-#{$size} {
    @include font-size($size);
  }

}

.lh0 {
  line-height: 0;
}

.lh1 {
  //line-height: 1;
}

.lh1_5 {
  line-height: 1.5;
}

@include tablet {

  .f-14-16-14-16 {
    @include font-size(16);
  }

}

@include laptop {

  .f-14-16-14-16 {
    @include font-size(14);
  }

}

@include desktop {

  .f-14-16-14-16 {
    @include font-size(16);
  }

}
