<!--Load Main HTML Layout-->
{% extends "html/pdf/templates/base.html" %}

<!--Define Page Title-->
{% set pageTitle = 'Voucher pdf' %}

<!--Define body class-->
{% set bodyClass = 'p-voucher' %}

<!--Main Content-->
{% block content %}

{% include "html/pdf/templates/header.html" %}

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="py-2">
          <table class="o-tableInformations mt-5 mb-3 text-left">

            <thead>
              <tr>
                <th>
                  <h1 class="c-ttl c-ttl-pg">Your booking id: #3334j34j4n3nkDdss</h1>
                </th>
              </tr>

              <tr>
                <td>
                  <strong class="mr-1">Offer date:</strong>16.12.2016.
                  <br><br>
                </td>
              </tr>
            </thead>

            <tbody>
              <tr>

                <td>
                  <div class="mt-5"></div>
                  <strong class="f-21">Apartmani Zoran</strong><br>
                  <strong class="mr-1">Location: </strong>Vrbnik
                </td>

              </tr>
            </tbody>

          </table>
        </div>

        <div class="mt-1">
          <table class="o-voucherInfoTable o-voucherInfoTable-inline w-100 text-left">

            <tbody>
              <tr>
                <td>
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th colspan="2">
                          <h2 class="c-ttl c-ttl-mdp mt-5 mb-3">Personal data and booking info</h2>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td><strong>Full name:</strong></td>
                        <td>John Wayne</td>
                      </tr>

                      <tr>
                        <td><strong>Full address:</strong></td>
                        <td>Mountain drive 12,<br>
                          Gotham 12345,<br>
                          USA
                        </td>
                      </tr>

                      <tr>
                        <td><strong>Email:</strong></td>
                        <td><a href="mailto:someone@something.com">someone@something.com</a></td>
                      </tr>

                      <tr>
                        <td><strong>Cellphone:</strong></td>
                        <td><a href="tel:0987654321">0987654321</a></td>
                      </tr>

                      <tr>
                        <td><strong>Check in:</strong></td>
                        <td>10.10.2012.</td>
                      </tr>

                      <tr>
                        <td><strong>Check out:</strong></td>
                        <td>12.10.2012.</td>
                      </tr>

                      <tr>
                        <td><strong>Adults:</strong></td>
                        <td>2</td>
                      </tr>

                      <tr>
                        <td><strong>Kids:</strong></td>
                        <td>5 (Age 1, 4, 5, 6, 7)</td>
                      </tr>
                    </tbody>
                  </table>
                </td>

                <td>
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th colspan="2">
                          <h2 class="c-ttl c-ttl-mdp mt-5 mb-3">Contact person and location</h2>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td><strong>Full name:</strong></td>
                        <td>Johnny Walker</td>
                      </tr>

                      <tr>
                        <td><strong>Full address:</strong></td>
                        <td>Mountain drive 12,<br>
                          Gotham 12345,<br>
                          USA
                        </td>
                      </tr>

                      <tr>
                        <td><strong>Cellphone:</strong></td>
                        <td><a href="tel:0987654321">0987654321</a></td>
                      </tr>

                      <tr>
                        <td><strong>Telephone:</strong></td>
                        <td><a href="0987654321">0987654321</a></td>
                      </tr>

                      <tr>
                        <td><strong>Working hours:</strong></td>
                        <td>
                          Monday - Wednesday: 08:00 - 16:00<br>
                          Thursday - Friday: 09:00 - 17:00
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid my-5">
    <div class="row">
      <div class="col">
        <strong>Note:</strong> At arrival day guests are entering the appartment after 14.00pm and at the depature day they have to
        exit appatment before 10.00am.
      </div>
    </div>
  </div>

  <hr class="my-12">

  <div class="container-fluid my-5">
    <div class="row">
      <div class="col">

        <table class="o-chargesTable mb-3">
          <thead>
            <tr>
              <th colspan="2">
                <h2 class="c-ttl c-ttl-mdp text-left mb-3">
                  Accommodation charges</h2>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Total price</td>
              <td class="text-right">450.00 EUR</td>
            </tr>

            <tr>
              <td>Advanced payment (Amount paid)</td>
              <td class="text-right">50.00 EUR</td>
            </tr>

            <tr>
              <td>Reservation charges</td>
              <td class="text-right">250.00 EUR</td>
            </tr>

            <tr>
              <td><strong>Remaining payment (payed at arrival day)</strong></td>
              <td class="text-right"><strong>10.00 EUR</strong></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <hr class="dark my-8">

  <div class="container-fluid my-5 pt-2">
    <div class="row">
      <div class="col">
        Cold calling can be a great way to generate quality leads. You get to speak to the gatekeepers and stakeholders,
        and you get a great insight into their requirements and influences. But cold calling is an art-form. It can be
        daunting, it’s always a lot of work, and you always need to make a good impression. So you need to do it right.
        Following are some tips which will help you do just that.
      </div>
    </div>
  </div>

</main>

{% endblock %}
