{% import "html/app/components/carditem.html" as carditem %}

<div class="card-list">

  <div class="container">
    <div class="row">
      {{
        carditem.carditemfunc(
          carditem_image = "../media/app/image.png",
          carditem_title = "Some card name One",
          carditem_rating = "3",
          cardAttributes = ["first", "third"],
          hasAction = true
        )
      }}
      {{
        carditem.carditemfunc(
          carditem_image = "../media/app/image.png",
          carditem_title = "Some card name One",
          carditem_rating = "1",
          cardAttributes = ["first", "second", "third"],
          hasAction = false
        )
      }}
      {{
        carditem.carditemfunc(
          carditem_image = "../media/app/image.png",
          carditem_title = "Some card name One",
          carditem_rating = "5",
          cardAttributes = ["first"],
          hasAction = true
        )
      }}
      {{
        carditem.carditemfunc(
          carditem_image = "../media/app/image.png",
          carditem_title = "Some card name One",
          carditem_rating = "2",
          cardAttributes = ["first", "second"],
          hasAction = false
        )
      }}
    </div>
  </div>

</div>
