<!-- Gallery START -->
<ul class="o-gallery d-sm-flex justify-content-center" data-gallery>
  <li class="o-gallery_item">
    <a class="o-gallery_link d-block" href="https://placehold.it/560x316" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://placehold.it/560x316" alt="Gallery image">
    </a>
  </li>

  <li class="o-gallery_item">
    <a class="o-gallery_link d-block" href="https://placehold.it/560x316" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://placehold.it/560x316" alt="Gallery image">
    </a>
  </li>

  <li class="o-gallery_item last">
    <a class="o-gallery_link d-block"
        href="https://placehold.it/560x316" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://placehold.it/560x316" alt="Gallery image">
      <span class="o-gallery_count color-white z1 text-center">+4</span>
    </a>
  </li>

  <li class="o-gallery_item">
    <a class="o-gallery_link d-block"
        href="https://placehold.it/560x316" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://placehold.it/560x316" alt="Gallery image">
      <span class="o-gallery_count color-white z1 text-center">+3</span>
    </a>
  </li>

  <li class="o-gallery_item">
    <a class="o-gallery_link d-block" href="https://placehold.it/560x316" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://placehold.it/560x316" alt="Gallery image">
    </a>
  </li>

  <li class="o-gallery_item">
    <a class="o-gallery_link d-block" href="https://placehold.it/560x316" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://placehold.it/560x316" alt="Gallery image">
    </a>
  </li>

  <li class="o-gallery_item">
    <a class="o-gallery_link d-block" href="https://placehold.it/560x316" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://placehold.it/560x316" alt="Gallery image">
    </a>
  </li>
</ul>
<!-- Gallery STOP -->
