<div class="o-hexis text-center">
 <a class="o-hexis_a" href="https://www.hexis.hr"
    title="Vacation Rental Software" target="_blank">

  <img class="o-hexis_img" src="media/brand/hexis.svg"
      alt="Vacation Rental Software" title="Vacation Rental Software">

  <div class="o-hexis_rent">Vacation Rental Software</div>
 </a>
</div>
