<!-- Main navigation -->
<nav class="o-mainNav">

  <!-- There is no need for translation of this item, it is placed here only for HTML semantic reason -->
  <h2 class='sr-only'>Main navigation</h2>

  <ul class="o-mainNav_list" data-menu>
    <li class="o-mainNav_item">
      <a class="c-link d-block" href="object.html">Accomodation</a>
    </li>
    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link d-block" href="unit.html">Unit</a>
      <i class="c-icon c-icon-9-10" data-menu-trigger="sub">
        <img class="iconic" src="../media/app/chevron-down.svg" alt="chevron-down">
      </i>
      <ul class="o-mainNav_subList" data-sub>
        <li class="o-mainNav_subItem">
          <a class="c-link d-block" href="unitReview.html">Unit review</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link d-block" href="inquiry.html">Inquiry</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link d-block" href="inquiryPreview.html">Inquiry preview</a>
        </li>
        <li class="o-mainNav_subItem">
          <a class="c-link d-block" href="offer.html">Offer</a>
        </li>
        <li class="o-mainNav_subItem -sub" data-scope>
          <a class="c-link d-block" href="paymentCC.html">Payment CC</a>
          <i class="c-icon c-icon-9-10" data-menu-trigger="subsub">
            <img class="iconic" src="../media/app/chevron-down.svg" alt="chevron-down">
          </i>
          <ul class="o-mainNav_subList" data-subsub>
            <li class="o-mainNav_subItem">
              <a class="c-link d-block" href="thankYou.html">Thank you page</a>
            </li>
            <li class="o-mainNav_subItem">
              <a class="c-link d-block" href="404.html">404</a>
            </li>
            <li class="o-mainNav_subItem">
              <a class="c-link d-block" href="denied.html">Access denied</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link d-block" href="404.html">404 page</a>
      <i class="c-icon c-icon-9-10" data-menu-trigger="sub">
        <img class="iconic" src="../media/app/chevron-down.svg" alt="chevron-down">
      </i>
      <ul class="o-mainNav_subList" data-sub>
        <li class="o-mainNav_subItem">
          <a class="c-link d-block" href="paymentCancelled.html">Payment cancelled</a>
        </li>
      </ul>
    </li>
    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link d-block" href="contact.html">Contact</a>
      <i class="c-icon c-icon-9-10" data-menu-trigger="sub">
        <img class="iconic" src="../media/app/chevron-down.svg" alt="chevron-down">
      </i>
      <ul class="o-mainNav_subList" data-sub>
        <li class="o-mainNav_subItem">
          <a class="c-link d-block" href="contactPreview.html">Contact preview</a>
        </li>
      </ul>
    </li>
    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link d-block" href="eventList.html">Event list</a>
      <i class="c-icon c-icon-9-10" data-menu-trigger="sub">
        <img class="iconic" src="../media/app/chevron-down.svg" alt="chevron-down">
      </i>
      <ul class="o-mainNav_subList" data-sub>
        <li class="o-mainNav_subItem">
          <a class="c-link d-block" href="eventArticle.html">Event article</a>
        </li>
        <li class="o-mainNav_subItem -sub" data-scope>
          <a class="c-link d-block" href="paymentCC.html">Payment CC</a>
          <i class="c-icon c-icon-9-10" data-menu-trigger="subsub">
            <img class="iconic" src="../media/app/chevron-down.svg" alt="chevron-down">
          </i>
          <ul class="o-mainNav_subList" data-subsub>
            <li class="o-mainNav_subItem">
              <a class="c-link d-block" href="thanks.html">Thank you page</a>
            </li>
            <li class="o-mainNav_subItem">
              <a class="c-link d-block" href="404.html">404</a>
            </li>
            <li class="o-mainNav_subItem">
              <a class="c-link d-block" href="denied.html">Access denied</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link d-block" href="newsList.html">News list</a>
      <i class="c-icon c-icon-9-10" data-menu-trigger="sub">
        <img class="iconic" src="../media/app/chevron-down.svg" alt="chevron-down">
      </i>
      <ul class="o-mainNav_subList" data-sub>
        <li class="o-mainNav_subItem">
          <a class="c-link d-block" href="newsArticle.html">News article</a>
        </li>
      </ul>
    </li>

    <li class="o-mainNav_item">
      <a class="c-link d-block" href="static.html">Static page</a>
    </li>

  </ul>

</nav>
