{% macro newsCard(title, image, date, category) %} <!-- News card START -->
<article class="o-newsCard d-md-flex mb-4">
  <div class="o-newsCard_img_wrapper">
    <img class="o-newsCard_img" src="{{ image }}" alt="News image">
  </div>

  <div class="o-newsCard_info ml-md-3 mt-3 mt-md-0">
    <h6 class="c-ttl c-ttl-h2"><a href="newsArticle.html">{{ title }}</a></h6>

    <ul class="o-separatedList-slash my-2">
      <li class="o-separatedList_item">{{ date }}</li>
      <li class="o-separatedList_item">{{ category }}</li>
    </ul>

    <p>Travel Guide with navigation for the town of Baška provides most important information for it’s visitors.
        You can find over 200 Points of Interest (POI) in AdriaGUIDE and receive many live information,
        so you can easily plan & enjoy your trip.</p>

    <a class="c-link color-accented font-weight-bold" href="newsArticle.html">Read more</a>

  </div>

</article>
 <!-- News card STOP -->{% endmacro %}
