<div class="row">
  <div class="col-12">
    <hr>
    <table class="table o-offerTable">
      <h2 class="c-ttl">Price calculation</h2>

      <tbody>
        <tr>
          <td colspan="2">Basic price</td>
        </tr>
        <tr>
          <td>Apartmani Zoran Studio 1</td>
          <td>100.00 EUR</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <td colspan="2">Mandatory charges</td>
        </tr>
        <tr>
          <td>Booking fee</td>
          <td>2.00 EUR</td>
        </tr>
        <tr>
          <td>Parking fee</td>
          <td>12.00 EUR</td>
        </tr>
        <tr>
          <td>Registration fee</td>
          <td>23.00 EUR</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <td colspan="2">Optional charges</td>
        </tr>
        <tr>
          <td>Something something</td>
          <td>2.00 EUR</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <td colspan="2">Short stay charges</td>
        </tr>
        <tr>
          <td>Less than 4 days</td>
          <td>233.00 EUR</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <td colspan="2">Discounts</td>
        </tr>
        <tr>
          <td>Holiday season + 1 day</td>
          <td>100.00 EUR</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <td colspan="2">Action</td>
        </tr>
        <tr>
          <td>Something, something</td>
          <td>22.21 EUR</td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td>Total</td>
          <td>127.00 EUR</td>
        </tr>
      </tfoot>

    </table>
  </div>

  <div class="col-12">
    <div class="row no-gutters">
      <div class="col-12 col-md-6">
        <table class="table o-offerTable">
          <tbody>
            <tr>
              <td colspan="2">Advanced payment</td>
            </tr>
            <tr>
              <td>Until 25.01.2017.</td>
              <td>100.00 EUR</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12 col-md-6">
        <table class="table o-offerTable">
          <tbody>
            <tr>
              <td colspan="2">Remaining payment</td>
            </tr>
            <tr>
              <td>Until 29.01.2017.</td>
              <td>99.99 EUR</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
