<!-- Pagination START -->
<div class="row my-5">
  <div class="col">
    <nav class="o-pagination overflowHidden" aria-label="Pagination">
      <h1 class="sr-only">Pagination</h1>

      <ul class="pagination justify-content-center align-items-center w-100">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">
            <div class="c-icon-pagination -left"></div>
          </a>
        </li>

        <li class="page-item"><a class="page-link" href="#">1</a></li>

        <li class="page-item active"><a class="page-link" href="#">2</a></li>

        <li class="page-item"><a class="page-link" href="#">3</a></li>

        <li class="page-item">
          <a class="page-link text-uppercase" href="#" tabindex="-1">Next
            <div class="c-icon-pagination -right ml-1"></div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- Pagination STOP -->
