<div class="o-socialIcons">
  <a class="o-socialIcons_item -facebook" href="#"></a>
  <a class="o-socialIcons_item -googlePlus" href="#"></a>
  <a class="o-socialIcons_item -twitter" href="#"></a>
  <a class="o-socialIcons_item -pinterest" href="#"></a>
</div>
