{% import "html/app/bits/form/input.html" as input %}

<form class="o-subscription w-100" action="">

  <h1 class="c-ttl">Subscribe to our latest deals and offers!</h1>

  <div class="d-flex flex-column flex-md-row">

    {{ input.inputFunction (
      fg_class = "form-group m-0 w-100",
      lb_class = "sr-only",
      lb_txt = "Enter your email",
      fe_id = "inputSubscription",
      fe_class = "form-control",
      fe_name = "Subscription email",
      fe_type = "email",
      fe_placeholder = "Enter your email"
      )
    }}

    <button id="submitSubscription" class="c-btn c-btn-primary" type="submit">Subscribe</button>

  </div>

</form>
