{% import "html/app/bits/stars.html" as star %}
{% import "html/app/bits/attribute.html" as attribute %}

{% macro unitCard(discount, title, star_no, att_no) %}<article class="o-unitCard d-flex flex-column">
  {# fatured img variation 560x315 #}
  <div class="o-unitCard_img overflowHidden">
    {% if discount %}
    <div class="o-unitCard_banner p-4 d-flex align-items-center justify-content-center">%</div>
    {% endif %}

    <a href="unit.html"><img class="w-100" src="http://via.placeholder.com/560x316" alt="featured image"></a>
  </div>

  <div class="o-unitCard_about p-2">
    <h4 class="c-ttl c-ttl-unitCard my-1"><a href="unit.html">{{ title }}</a></h4>
    {{ star.starFunc(star_no) }}

    <ul class="o-separatedList-normal">
      <li class="o-separatedList_item">Location</li>
      <li class="o-separatedList_item">2-3 Guests</li>
    </ul>

    {# Note for DEVX: truncate text to 100 char #}
    <div class="preformat my-2">
      Room description that can easily fall into two rows, room description that can easily fall into two
    </div>

    {{ attribute.attFunc(att_no) }}

    <strong class="o-unitCard_price mt-2 mb-3 d-block">From <span>99</span> EUR</strong>
  </div>
</article>{% endmacro %}
