<div class="o-weather">

  <div class="overflowHidden relative d-flex flex-column justify-content-center h-100 bg-primary color-white">

    <div class="o-weather-bgIcon">
      <i class="c-icon c-icon-172"><img class="iconic" src="../media/weather/sunny.svg"></i>
    </div>

    <h1 class="c-ttl-h4 font-weight-bold mb-4">Weather in <span>Rijeka</span></h1>

    <div class="d-sm-flex">

      <div class="o-weather_item d-flex w-100">
        <img class="o-weather_img" src="../media/weather/sunny.svg" alt="Sunny">
        <div class="pl-4">
          <div class="font-weight-light color-text-l">Monday</div>
          <strong class="color-headings-neutral">23<sup>o</sup>C</strong>
        </div>
      </div>

      <div class="o-weather_item d-flex w-100">
        <img class="o-weather_img" src="../media/weather/mostlyCloudy.svg" alt="Mostly cloudy">
        <div class="pl-4">
          <div class="font-weight-light color-text-l">Tuesday</div>
          <strong class="color-headings-neutral">18<sup>o</sup>C</strong>
        </div>
      </div>

      <div class="o-weather_item d-flex w-100">
        <img class="o-weather_img" src="../media/weather/cloudy.svg" alt="Cloudy">
        <div class="pl-4">
          <div class="font-weight-light color-text-l">Wednesday</div>
          <strong class="color-headings-neutral">27<sup>o</sup>C</strong>
        </div>
      </div>

      <div class="o-weather_item d-flex w-100">
        <img class="o-weather_img" src="../media/weather/cloudy.svg" alt="Cloudy">
        <div class="pl-4">
          <div class="font-weight-light color-text-l">Wednesday</div>
          <strong class="color-headings-neutral">27<sup>o</sup>C</strong>
        </div>
      </div>
    </div>

  </div>
</div>
