/*
  Helper classes for font styles
*/

.font-weight-thin {
  // font-weight: $font-weight-thin;
}

.font-weight-light {
  //font-weight: $font-weight-light;
}

.font-weight-regular {
  font-weight: $font-weight-regular;
}

.font-weight-medium {
  // font-weight: $font-weight-medium;
}

.font-weight-semibold {
  // font-weight: $font-weight-semiBold;
}

.font-weight-heavy {
   // font-weight: $font-weight-heavy;
}

.font-weight-black {
   // font-weight: $font-weight-black;
}

.font-body {
  //font-family: $font-family-base;
}

.font-heading {
  // font-family: $font-family-heading;
}

$font-sizes-list: 16, 20, 26;

@each $size in $font-sizes-list {

  .f-#{$size} {
    @include font-size($size);
  }

}

.lh-25 {
  line-height: 25px;
}

.lh1-3rem {
  // line-height: 1.3rem;
}

.lh1-5rem {
  // line-height: 1.5rem;
}

.lh1-9 {
  line-height: 1.9;
}

.lh2rem {
  // line-height: 2rem;
}

.color-secondary {
  color: $brand-secondary;
}
