<!-- LAYOUT -->
{% extends 'src/html/amp/layout.html' %}

<!-- PAGE SETUP -->
{% set pageTitle = 'Hotels | Goldfish' %}
{% set pageID = 'Vacations' %}
{% set pageCSS = 'p-landing' %}
{% set bodyClass = 'p-hotels' %}
{% set wrapperClass = '-bg' %}

<!-- META -->
{% block meta %}
  <link rel='canonical' hreflang='hr' href='https://bs.hexis.hr/'>
  <link rel='alternate' hreflang='hr' href='https://bs.hexis.hr/hr/'>
  <link rel='alternate' hreflang='en' href='https://bs.hexis.hr/en/'>
{% endblock %}

<!-- HEAD SCRIPTS -->
{% block headScripts %}
  <script async custom-element='amp-lightbox' src='https://cdn.ampproject.org/v0/amp-lightbox-0.1.js'></script>
  <script async custom-element='amp-bind' src='https://cdn.ampproject.org/v0/amp-bind-0.1.js'></script>
  <script async custom-element='amp-accordion' src='https://cdn.ampproject.org/v0/amp-accordion-0.1.js'></script>
  <script async custom-element='amp-form' src='https://cdn.ampproject.org/v0/amp-form-0.1.js'></script>
{% endblock %}

<!-- PAGE ANALYTICS -->
{% block pageAnalytics %}
  <amp-analytics type='googleanalytics'>
    <script type='application/json'>
      {
        "vars": {
          "account": "{{ ga }}"
        },
        "triggers": {
          "scrollPings": {
            "on": "scroll",
            "scrollSpec": {
              "verticalBoundaries": [10, 20, 30, 40, 50, 60, 70, 80, 90]
            },
            "request": "event",
            "vars": {
              "eventId": "scroll"
            }
          }
        }
      }
    </script>
  </amp-analytics>
{% endblock %}

<!-- CONTENT -->
{% block content %}

<main>
  <div class="o-hero relative">
    <div class="container-fluid container-large h-100">

      <!-- Language switcher START -->
      <ul class="o-langSwitch o-separatedList color-white d-flex absolute mt-2 f-md-20 p-0">
        <!-- Note for DEV: put class "selected" on selected language -->
        <li class="o-separatedList_item selected"><a class="c-link" href="#">Hrvatski</a></li>
        <li class="o-separatedList_item"><a class="c-link" href="#">English</a></li>
        <li class="o-separatedList_item"><a class="c-link" href="#">Deutsch</a></li>
      </ul>
      <!-- Language switcher STOP -->

      <div class="row align-items-center h-100">
        <div class="col text-center">
          <div class="o-hero_logo-wrapper m-auto relative">
            <amp-img class="c-logo" src="media/goldfishLogo.svg"
              layout="responsive" alt="Goldfish" height="230" width="645"></amp-img>
            <h1 class="c-ttl text-right color-white f-18 text-uppercase font-weight-light">Hotels</h1>
          </div>

          <ul class="o-separatedList o-separatedList-lighterSep color-white p-0 mt-5 f-md-20">
            <li class="o-separatedList_item">Cloud based</li>
            <li class="o-separatedList_item">Automatic price calculation</li>
            <li class="o-separatedList_item">Direct booking</li>
            <li class="o-separatedList_item">Integration & synchronization</li>
            <li class="o-separatedList_item">Responsive web design</li>
          </ul>

          <button class="c-btn c-btn-primary c-btn-wide-lg w-100 mt-2 text-uppercase f-18"
              on="tap:AMP.setState({demo_modal: true})">Free demo</button>
        </div>
      </div>
    </div>
  </div>

  <div class="light-bg pb-7">

    <div class="container-fluid container-large">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <amp-img class="c-img_promo" src="media/promo-hotels.png"
              layout="responsive" alt="Promo" height="677" width="848"></amp-img>
        </div>
      </div>
    </div>

    <section class="container-fluid container-large">
      <div class="row">

        <div class="col-12 text-center"
          ><h2 class="c-ttl-section text-uppercase font-weight-light">No booking fees. Unlimited users.</h2>
        </div>

        <!-- Channel manager section START -->
        <div class="col-lg-6 my-2 text-center">
          <amp-img class="c-img_features m-auto" src="media/channelManager-hotels.svg" layout="responsive"
            alt="Channel manager" height="365" width="560"></amp-img>
        </div>

        <div class="col-lg-6 my-2 align-self-center">
          <h2 class="c-ttl c-ttl-section_sub word-break font-weight-semibold text-uppercase color-primary"
              >Channel Manager</h2>
          <div class="preformat my-2 f-18">
            <p>Synchronization with other holiday web portals enables real time data transmission.
              This increases the productivity of your booking manager. Also, the possibility of errors and double
              bookings is eliminated. Channel manager enables transfer of units together with their accompanied texts,
              images, prices, geo-location integrated in the Google Maps, etc. <br> <br> The amazingness continues
              in the pricing, too. Channel manager costs only <strong class="f-23">up to 1%</strong> .</p>
          </div>
        </div>
        <!-- Channel manager section STOP -->

        <!-- Responsive web design section START -->
        <div class="col-lg-6 my-2 push-lg-6 text-center">
          <amp-img class="c-img_features m-auto" src="media/responsiveWebDesign-hotels.png" layout="responsive"
            alt="Responsive web design" height="365" width="560"></amp-img>
        </div>

        <div class="col-lg-6 my-2 pull-lg-6 align-self-center">
          <h2 class="c-ttl c-ttl-section_sub word-break font-weight-semibold text-uppercase color-primary"
              >Responsive web design</h2>
          <div class="preformat my-2 f-18">
            <p>Custom development is a process which requires more involvement and communication
              between you and our team. Responsive web design adds value by responding to the devices
              your clients’ use. RWD alters the appearance of the web platform and adapts to the size and capabilities
              of the device’s screen.</p>
          </div>
        </div>
        <!-- Responsive web design section STOP -->

        <!-- Customer relationship management section START -->
        <div class="col-lg-6 my-2 text-center">
          <amp-img class="c-img_features m-auto" src="media/customerRelationship.svg" layout="responsive"
            alt="customer Relationship" height="549" width="547"></amp-img>
        </div>

        <div class="col-lg-6 my-2 align-self-center">
          <h2 class="c-ttl c-ttl-section_sub word-break font-weight-semibold text-uppercase color-primary"
              >Customer relationship management</h2>
          <div class="preformat my-2 f-18">
            <p>Cheer up your guests by sending them a welcome email at the time of their arrival,
              or even better, congratulate them their birthday even though they’re not staying with you at the moment.
              Goldfish automates all of this for you!</p>
          </div>
        </div>
        <!-- Customer relationship management section STOP -->
      </div>
    </section>

    <section class="container-fluid container-large">
      <div class="row justify-content-center">
        <div class="col-12 text-center"><h2 class="c-ttl c-ttl-section text-uppercase font-weight-light my-2"
            >Compliant with</h2></div>

        <div class="col-8 col-sm-4 text-mdp-right text-mdp-down-center p-1-2">
            <amp-img src="media/pciDSS.svg" layout="responsive"
            alt="pci DSS" height="156" width="297"></amp-img>
        </div>

        <div class="col-8 col-sm-4 text-md-down-center p-1-2">
          <amp-img src="media/generalDataProtection.svg" layout="responsive"
              alt="General data protection" height="156" width="297"></amp-img>
        </div>

      </div>
    </section>

    <section class="container-fluid container-largePlus">
      <div class="row text-center mt-2">
        <div class="col-12"><h2 class="c-ttl c-ttl-section text-uppercase font-weight-light my-2">Features</h2></div>

        <div class="col-lg-4 px-1-7">
          <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary mt-1">Cloud based</h3>
          <div class="preformat mt-1">
            <p>Readily available! Simple, independent & organized content editing. Unlimited pages
              together with accompanied texts, photographs & videos.</p>
          </div>
        </div>

        <div class="col-lg-4 px-1-7">
          <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary mt-1">Automatic calendar</h3>
          <div class="preformat mt-1">
            <p>No room for mistakes & overbooking. The calendar automatically closes and opens the
              dates when your accommodation is indeed available. Additionally, you can always alter the availability
              manually is someone from your family would like to visit!</p>
          </div>
        </div>

        <div class="col-lg-4 px-1-7">
          <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary mt-1"
              >Automatic price calculation</h3>
          <div class="preformat mt-1">
            <p>Price is automatically calculated by choosing accommodation under a certain period.
              This enables the website visitors to easily make decisions about their stay.</p>
          </div>
        </div>

        <div class="col-lg-4 px-1-7">
          <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary mt-1"
              >Integration and synchronization</h3>
          <div class="preformat mt-1">
            <p>Connect your accounts to other services/agencies, e.g. booking.com, Airbnb,
              Facebook, or any other. This provides a detailed overview of incoming inquiries and confirmation of
              reservations made. Also, the system automatically sends offers your guests want or
              you’d like to offer to them. </p>
          </div>
        </div>

        <div class="col-lg-4 px-1-7">
          <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary mt-1">Payment gateway</h3>
          <div class="preformat mt-1">
            <p>Website visitors, hence your clients, can pay for their vacation by credit & debit
              cards, bank transfers or PayPal. This part of the booking system lets your clients
              book & pay for through the Internet.</p>
          </div>
        </div>

        <div class="col-lg-4 px-1-7">
          <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary mt-1"
              >Google AdWords friendly</h3>
          <div class="preformat mt-1">
            <p>With minimal work to do on your website you can take advantage of the GoogleAds
              and grow your business even more by standing out in the Google search results. </p>
          </div>
        </div>

        <div class="col-12 text-center">

          <div [class]="features_toggle ? 'show lh-2' : 'hidden'" class="hidden">
            <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary"
                >Direct booking</h3>
            <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary"
                >Partner role management</h3>
            <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary"
                >Reservations and inquiries</h3>
            <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary"
                >Goldfish app for our partners</h3>
            <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary"
                >Integrated Google Analytics</h3>
            <h3 class="c-ttl c-ttl-section_sub word-break font-weight-semibold color-primary"
                >iCal - calendar synchronization</h3>
          </div>

          <button class="c-btn c-btn-secondary c-btn-wide-lg w-100 my-2"
              [text]="features_toggle ? 'Show less features' : 'Show more features'"
              on="tap:AMP.setState({features_toggle: !features_toggle})">Show more features</button>

        </div>

      </div>
    </section>

    <section class="container-fluid container-largePlus o-priceSection">
      <div class="row">
        <div class="col-12 mt-2 mb-1 text-center"
            ><h2 class="c-ttl c-ttl-section text-uppercase font-weight-light">Pricing</h2></div>

        <div class="col-12 text-center">

          <div class="d-flex justify-content-center">

            <button [class]="goldfish ? 'c-btn c-btn-option c-btn-wide-lg w-100 my-2 c-btn-primary
              text-uppercase' : 'c-btn c-btn-option c-btn-wide-lg w-100 my-2 c-btn-secondary text-uppercase'"
              class="c-btn c-btn-option c-btn-wide-lg w-100 my-2 c-btn-primary text-uppercase"
              on="tap:AMP.setState({goldfish: true, goldfish_light: false})">Goldfish</button>

            <button [class]="goldfish ? 'c-btn c-btn-option c-btn-wide-lg w-100 my-2 c-btn-secondary
              text-uppercase' : 'c-btn c-btn-option c-btn-wide-lg w-100 my-2 c-btn-primary text-uppercase'"
              class="c-btn c-btn-option c-btn-wide-lg w-100 my-2 c-btn-secondary text-uppercase"
              on="tap:AMP.setState({goldfish: false, goldfish_light: true})">Goldfish Light</button>

          </div>

          <!-- Div for Goldfish -->
          <div [class]="goldfish ? 'show' : 'hidden'" class="show">

            <span class="c-ttl c-ttl-section_sub word-break font-weight-semibold text-uppercase color-primary"
                >Booking system + new website</span>

            <div class="o-rangeSlider mt-2 mb-4">
              <div class="f-22-28 mt-1 mb-2 font-weight-regular">How many accommodation units do you have?</div>
              <div class="d-flex space-between">
                <div class="o-rangeSlider_legend relative d-flex justify-content-center align-items-center"
                    ><span class="f-20 font-weight-bold">1</span></div>
                <div class="o-rangeSlider_legend relative d-flex justify-content-center align-items-center"
                    ><span class="f-20 font-weight-bold">20</span></div>
                <div class="o-rangeSlider_legend relative d-flex justify-content-center align-items-center selected"
                    ><span class="f-20 font-weight-bold">100</span></div>
                <div class="o-rangeSlider_legend relative d-flex justify-content-center align-items-center"
                    ><span class="f-20 font-weight-bold">200</span></div>
                <div class="o-rangeSlider_legend relative d-flex justify-content-center align-items-center"
                    ><span class="f-20 font-weight-bold">400+</span></div>
              </div>

              <div class="my-2">
                <input class="o-rangeSlider_slider w-100" type="range" name="points" min="0" max="4">
              </div>
            </div>

            <div class="f-30 font-weight-light lh-58">Your monthly price for <strong>Goldfish+</strong> with
              <strong>400+</strong> accommodation units and a <strong>Professional</strong>
              package will cost <strong class="f-35">250 EUR</strong> / month*
            </div>

            <!-- Pricing blocks START -->
            <div class="row mt-2">
              <div class="col-12 my-2 text-center"><span class="f-22-28 mt-1 mb-2 font-weight-regular"
                  >Choose your package</span>
              </div>

              <div class="col-12 col-sm-6 col-lg my-1 px-lg-05">
                <div class="o-priceTable selected relative"
                    [class]="price1 ? 'o-priceTable selected relative' : 'o-priceTable'"
                    role="" tabindex=""
                    on="tap:AMP.setState({price1: true, price2: false, price3: false, price4: false, price5: false})">

                  <div class="o-priceTable_cost d-flex flex-column p-1">
                    <span class="o-priceTable_price-type font-weight-bold">Basic</span>
                    <span class="o-priceTable_price-price f-28">0 EUR</span>
                    <span class="o-priceTable_price-time f-11 color-ui-shade text-uppercase">Monthly</span>
                  </div>

                  <div class="d-flex flex-column text-center bg-white lh-2 pt-1 pb-3 px-1">
                    <span>New responsive website</span>
                    <span>Interactive calendar</span>
                    <span>Direct booking</span>
                    <span>Automatic price calculation</span>
                    <span>Currency switcher</span>
                    <span>Responsive web design</span>
                    <span>Google maps integration</span>
                    <span>SEO ready</span>
                    <span>Customer support</span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-lg my-1 px-lg-05">
                <div class="o-priceTable"
                    [class]="price2 ? 'o-priceTable selected relative' : 'o-priceTable'"
                    role="" tabindex=""
                    on="tap:AMP.setState({price1: false, price2: true, price3: false, price4: false, price5: false})">

                  <div class="o-priceTable_cost d-flex flex-column p-1">
                    <span class="o-priceTable_price-type font-weight-bold">Enhaced</span>
                    <span class="o-priceTable_price-price f-28">39 EUR</span>
                    <span class="o-priceTable_price-time f-11 color-ui-shade text-uppercase">Monthly</span>
                  </div>

                  <div class="d-flex flex-column text-center bg-white lh-2 pt-1 pb-3 px-1">
                    <span>New responsive website</span>
                    <span>Interactive calendar</span>
                    <span>Direct booking</span>
                    <span>Automatic price calculation</span>
                    <span>Currency switcher</span>
                    <span>Responsive web design</span>
                    <span>Google maps integration</span>
                    <span>SEO ready</span>
                    <span>Customer support</span>
                    <strong>Map search</strong>
                    <strong>Comments and ratings</strong>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-lg my-1 px-lg-05">
                <div class="o-priceTable"
                    [class]="price3 ? 'o-priceTable selected relative' : 'o-priceTable'"
                    role="" tabindex=""
                    on="tap:AMP.setState({price1: false, price2: false, price3: true, price4: false, price5: false})">

                  <div class="o-priceTable_cost d-flex flex-column p-1">
                    <span class="o-priceTable_price-type font-weight-bold">Professional</span>
                    <span class="o-priceTable_price-price f-28">59 EUR</span>
                    <span class="o-priceTable_price-time f-11 color-ui-shade text-uppercase">Monthly</span>
                  </div>
                  <div class="d-flex flex-column text-center bg-white lh-2 pt-1 pb-3 px-1">
                    <span>New responsive website</span>
                    <span>Interactive calendar</span>
                    <span>Direct booking</span>
                    <span>Automatic price calculation</span>
                    <span>Currency switcher</span>
                    <span>Responsive web design</span>
                    <span>Google maps integration</span>
                    <span>SEO ready</span>
                    <span>Customer support</span>
                    <span>Map search</span>
                    <span>Comments and ratings</span>
                    <span>Packages</span>
                    <strong>Points of interest</strong>
                    <strong>Events</strong>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-lg my-1 px-lg-05">

                <!-- Action banner START -->
                <span class="o-banner f-14 text-uppercase color-white d-flex justify-content-center
                    align-items-center font-weight-bold">Most popular</span>
                <!-- Action banner STOP -->

                <div class="o-priceTable"
                    [class]="price4 ? 'o-priceTable selected relative' : 'o-priceTable'"
                    role="" tabindex=""
                    on="tap:AMP.setState({price1: false, price2: false, price3: talse, price4: true, price5: false})">

                  <div class="o-priceTable_cost d-flex flex-column p-1">
                    <span class="o-priceTable_price-type font-weight-bold">Premium</span>
                    <span class="o-priceTable_price-price f-28">59 EUR</span>
                    <span class="o-priceTable_price-time f-11 color-ui-shade text-uppercase">Monthly</span>
                  </div>
                  <div class="d-flex flex-column text-center bg-white lh-2 pt-1 pb-3 px-1">
                    <span>New responsive website</span>
                    <span>Interactive calendar</span>
                    <span>Direct booking</span>
                    <span>Automatic price calculation</span>
                    <span>Currency switcher</span>
                    <span>Responsive web design</span>
                    <span>Google maps integration</span>
                    <span>SEO ready</span>
                    <span>Customer support</span>
                    <span>Map search</span>
                    <span>Comments and ratings</span>
                    <span>Packages</span>
                    <span>Points of interest</span>
                    <span>Events</span>
                    <strong>Availability list</strong>
                    <strong>CRM</strong>
                    <strong>Trip booking system</strong>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-lg my-1 px-lg-05">
                <div class="o-priceTable"
                    [class]="price5 ? 'o-priceTable selected relative' : 'o-priceTable'"
                    role="" tabindex=""
                    on="tap:AMP.setState({price1: false, price2: false, price3: false, price4: false, price5: true})">

                  <div class="o-priceTable_cost d-flex flex-column p-1">
                    <span class="o-priceTable_price-type font-weight-bold">Custom</span>
                    <span class="o-priceTable_price-price f-28">?</span>
                  </div>
                  <div class="d-flex flex-column text-center bg-white lh-2 pt-1 pb-3 px-1">
                    <span>If you have your own idea regarding the booking system you desire, contact us and together
                        we'll make it happen.</span>
                  </div>
                </div>

                <button class="c-btn c-btn-primary c-btn-wide-lg w-100 my-2 text-uppercase"
                    on="tap:AMP.setState({demo_modal: true})">Contact us</button>

              </div>

            </div>
            <!-- Pricing blocks STOP -->

            <button class="c-btn c-btn-primary c-btn-wide-lg w-100 my-2 text-uppercase"
                on="tap:AMP.setState({demo_modal: true})">Request a free demo</button>

          </div>

          <!-- Div for Goldfish Light -->
          <div [class]="goldfish_light ? 'show' : 'hidden'" class="hidden">
            <div class="c-ttl c-ttl-section_sub word-break font-weight-semibold text-uppercase color-primary"
                >Booking system</div>
            <div class="f-18 mt-1">If you already have website you're happy with, this one is for you!</div>

            <div class="o-rangeSlider mt-2 mb-4">
              <div class="f-22-28 mt-1 mb-2 font-weight-regular">How many accommodation units do you have?</div>
              <div class="d-flex space-between">
                <div class="o-rangeSlider_legend relative d-flex justify-content-center align-items-center"
                    ><span class="f-20 font-weight-bold">1</span></div>
                <div class="o-rangeSlider_legend relative d-flex justify-content-center align-items-center"
                    ><span class="f-20 font-weight-bold">20</span></div>
                <div class="o-rangeSlider_legend relative d-flex justify-content-center align-items-center selected"
                    ><span class="f-20 font-weight-bold">100</span></div>
                <div class="o-rangeSlider_legend relative d-flex justify-content-center align-items-center"
                    ><span class="f-20 font-weight-bold">200</span></div>
                <div class="o-rangeSlider_legend relative d-flex justify-content-center align-items-center"
                    ><span class="f-20 font-weight-bold">400+</span></div>
              </div>

              <div class="my-2">
                <input class="o-rangeSlider_slider w-100" type="range" name="points" min="0" max="4">
              </div>
            </div>

            <div class="f-30 font-weight-light mb-4">Your monthly price for <strong>Goldfish Light</strong> with
              <strong>400+</strong> accommodation units will cost <strong class="f-35">250 EUR</strong> / month*
            </div>

            <button class="c-btn c-btn-primary c-btn-wide-lg w-100 text-uppercase"
                on="tap:AMP.setState({demo_modal: true})">Request a free demo</button>

          </div>

        </div>
      </div>

    </section>

  </div>

  {% include 'src/html/amp/components/footer.html' %}
</main>

{% include 'src/html/amp/components/modal.html' %}


{% endblock %}
