<!-- LAYOUT -->
{% extends 'src/html/amp/layout.html' %}

<!-- PAGE SETUP -->
{% set pageTitle = 'Intro page | Goldfish' %}
{% set pageID = 'Intro' %}
{% set pageCSS = 'p-intro' %}
{% set bodyClass = 'p-intro' %}
{% set wrapperClass = '-bg' %}

<!-- META -->
{% block meta %}
  <link rel='canonical' hreflang='hr' href='https://bs.hexis.hr/'>
  <link rel='alternate' hreflang='hr' href='https://bs.hexis.hr/hr/'>
  <link rel='alternate' hreflang='en' href='https://bs.hexis.hr/en/'>
{% endblock %}

<!-- HEAD SCRIPTS -->
{% block headScripts %}
  <script async custom-element='amp-lightbox' src='https://cdn.ampproject.org/v0/amp-lightbox-0.1.js'></script>
  <script async custom-element='amp-bind' src='https://cdn.ampproject.org/v0/amp-bind-0.1.js'></script>
  <script async custom-element='amp-accordion' src='https://cdn.ampproject.org/v0/amp-accordion-0.1.js'></script>
  <script async custom-element='amp-form' src='https://cdn.ampproject.org/v0/amp-form-0.1.js'></script>
{% endblock %}

<!-- PAGE ANALYTICS -->
{% block pageAnalytics %}
  <amp-analytics type='googleanalytics'>
    <script type='application/json'>
      {
        "vars": {
          "account": "{{ ga }}"
        },
        "triggers": {
          "scrollPings": {
            "on": "scroll",
            "scrollSpec": {
              "verticalBoundaries": [10, 20, 30, 40, 50, 60, 70, 80, 90]
            },
            "request": "event",
            "vars": {
              "eventId": "scroll"
            }
          }
        }
      }
    </script>
  </amp-analytics>
{% endblock %}

<!-- CONTENT -->
{% block content %}

<main>
  <div class="container-fluid relative p-0">

    <!-- Language switcher START -->
    <ul class="o-langSwitch o-separatedList color-white d-flex absolute m-1 f-md-20">
      <!-- Note for DEV: put class "selected" on selected language -->
      <li class="o-separatedList_item selected"><a class="c-link" href="#">Hrvatski</a></li>
      <li class="o-separatedList_item"><a class="c-link" href="#">English</a></li>
      <li class="o-separatedList_item"><a class="c-link" href="#">Deutsch</a></li>
    </ul>
    <!-- Language switcher STOP -->

    <!-- Logo and main title START -->
    <div class="o-option_title text-center d-flex justify-content-center flex-column">
      <amp-img class="c-logo" src="media/goldfishLogo.svg"
          layout="responsive" alt="Goldfish" height="251" width="695"></amp-img>
      <h1 class="c-ttl color-white font-weight-light text-italic mt-05">Tailor made booking system</h1>
    </div>
    <!-- Logo and main title STOP -->

    <div class="row no-gutters justify-content-center">

      <div class="col-lg-6">
        <div class="o-option o-option_vacation relative d-flex justify-content-center">
          <div class="o-option_item d-flex justify-content-center column-reverse text-center">
            <a class="c-ttl-pg_sub c-btn c-btn-primary align-items-center justify-content-center relative"
                href="vacation_rentals.html"><strong class="mr-md-1">Discover Goldfish for vacation rentals</strong>
                <amp-img class="c-icon-arrow "src="media/icons/arrow-right.svg" layout="responsive"
                  alt="Arrow" width="29" height="22"></amp-img></a>
            <h2 class="color-white c-ttl-pg">Vacation rentals</h2>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="o-option o-option_hotels relative d-flex justify-content-center">
          <div class="o-option_item d-flex justify-content-center column-reverse text-center">
            <a class="c-ttl-pg_sub c-btn c-btn-primary align-items-center justify-content-center relative"
                href="hotels.html"><strong class="mr-md-1">Discover Goldfish for hotels</strong>
                <amp-img class="c-icon-arrow "src="media/icons/arrow-right.svg" layout="responsive"
                  alt="Arrow" width="29" height="22"></amp-img></a>
            <h2 class="color-white c-ttl-pg">Hotels</h2>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>

{% endblock %}
