<!-- LAYOUT -->
{% extends 'src/html/amp/layout.html' %}

<!-- PAGE SETUP -->
{% set pageTitle = 'Thank you | Goldfish' %}
{% set pageID = 'Intro' %}
{% set pageCSS = 'p-thankYou' %}
{% set bodyClass = 'p-thankYou p-thankYou-hotels' %}
{% set wrapperClass = '-bg' %}

<!-- META -->
{% block meta %}
  <link rel='canonical' hreflang='hr' href='https://bs.hexis.hr/'>
  <link rel='alternate' hreflang='hr' href='https://bs.hexis.hr/hr/'>
  <link rel='alternate' hreflang='en' href='https://bs.hexis.hr/en/'>
{% endblock %}

<!-- HEAD SCRIPTS -->
{% block headScripts %}
  <script async custom-element='amp-lightbox' src='https://cdn.ampproject.org/v0/amp-lightbox-0.1.js'></script>
  <script async custom-element='amp-bind' src='https://cdn.ampproject.org/v0/amp-bind-0.1.js'></script>
  <script async custom-element='amp-accordion' src='https://cdn.ampproject.org/v0/amp-accordion-0.1.js'></script>
  <script async custom-element='amp-form' src='https://cdn.ampproject.org/v0/amp-form-0.1.js'></script>
{% endblock %}

<!-- PAGE ANALYTICS -->
{% block pageAnalytics %}
  <amp-analytics type='googleanalytics'>
    <script type='application/json'>
      {
        "vars": {
          "account": "{{ ga }}"
        },
        "triggers": {
          "scrollPings": {
            "on": "scroll",
            "scrollSpec": {
              "verticalBoundaries": [10, 20, 30, 40, 50, 60, 70, 80, 90]
            },
            "request": "event",
            "vars": {
              "eventId": "scroll"
            }
          }
        }
      }
    </script>
  </amp-analytics>
{% endblock %}

<!-- CONTENT -->
{% block content %}

<main>
  <!-- Note for DEV: use p-thankYou-hotels/p-thankYou-vacation modifier body class depending on which form is filled -->
  <div class="o-thankYou thankYou-bg">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="c-ttl c-ttl-section text-uppercase font-weight-semibold f-42-62">Thank you</h1>
          <div class="c-logo_wrapper mt-2 relative">
            <amp-img class="c-logo_main" src="media/goldfishLogo-fish.svg"
                layout="responsive" alt="Goldfish" height="260" width="260"></amp-img>
          </div>
          <span class="f-22">for requesting demo version of our booking system. We have received your request and
              we'll get back to you right away!</span><br>
          <a href="index.html" class="c-btn c-btn-primary c-btn-wide-lg w-100 mt-3">OK, take me back</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="o-mainFooter relative color-white">

    <div class="container">
       <div class="row justify-content-center">
         <div class="col">

          <div class="my-4-auto text-center">
            <div class="o-copyright d-inline-block"><a href="http://www.hexis.hr">
              <amp-img class="c-logo m-auto" src="media/hexisLogo.svg"
                  layout="responsive" alt="Promo" height="25" width="90"></amp-img></a>
            </div>
            <div class="mt-1">Copyright &copy; Hexis.j.d.o.o</div>
          </div>

        </div>
       </div>
     </div>
  </footer>

</main>

{% endblock %}
