hr {
  border-top: 1px solid #EDEDED;
  border-bottom: 0;

  .o-locationList & {

    @include laptopDown {
      border-top: 8px solid #EDEDED;
      margin: 1.875rem 0;
    }

    @include laptop {
      margin: 2.875rem 0;
    }

  }

  .p-eventArticle &,
  .p-locationArticle &,
  .p-newsArticle & {

    @include laptopDown {
      margin: 1.875rem 0;
    }

  }

  .o-sidebar & {
    border-top-color: #E8EEFA;
  }
  
}
