main {
  overflow: hidden;

  .p-search & {
    overflow: visible;
  }

  .p-search &,
  .p-inquiryPreview &,
  .p-objectReview &,
  .p-cancelReservation & {
    padding-top: 4.25rem;
  }

  // .p-inquiryPreview & {
  //   margin-top: -8.875rem; /* -142/16 */
  //
  //   @include laptop {
  //     margin-bottom: 5.063rem; /* 81/16 */
  //   }
  //
  // }

  .p-search .topbar.-seo.-fixed ~ & {
    padding-top: 7.0625rem;
  }

}
