.b-main {

  .p-homepage & {
    @extend %no-repeat;
    background-image: url('../media/app/hero.png');
    background-size: contain;
    background-position: -90px 0;

    @include mobilePlus {
      background-position: -180px 0;
    }

    @include tablet {
      background-position: -250px 0;
    }

    @include laptop {
      background-position: -350px 0;
    }

    @include laptopPlus {
      background-position: -550px -80px;
    }

    @include customQuery('min-width: 1400px') {
      background-position: -550px -240px;
    }


    @include desktop {
      background-position: -1290px -260px;
      background-size: 2130px 1420px;
    }

  }

  .p-product &,
  .p-contact &, 
  .p-about &,
  .p-productList &,
  .p-thanks & {
    margin-top: 4.375rem;

    @include tablet {
      margin-top: 6.25rem;
    }

  }

}
