<header class="o-header">

  <!-- For PDF use 'container-fluid' -->
  <div class="container">
    <div class="row">
      <div class="col">

        <ul class="o-headerContentList o-headerContentList-4 w-100 py-3">
          <li class="o-headerContentList_item">
            <div class="o-header_logo">

              <a href="index.html"
                ><img class="o-header_logo_img" src="../media/brand/logo.png" alt="Estee"></a>

              <!-- For PDF use this logo -->
              <!--<a href="index.html"-->
                <!--&gt;<img class="o-header_logo_img" src="../media/brand/logo-bw.png" alt="Aurora travel"></a>-->
              <!-- For PDF use this logo -->

            </div>
          </li>

          <li class="o-headerContentList_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item">Head office:</li>
              <li class="o-verticalInfoList_item">Konjska 10</li>
              <li class="o-verticalInfoList_item">HR-51515</li>
              <li class="o-verticalInfoList_item">Šilo</li>
            </ul>
          </li>

          <li class="o-headerContentList_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item">Tel:&nbsp;<a class="c-link" href="tel:38553663493">+385 53 663 493</a></li>
              <li class="o-verticalInfoList_item">Fax:&nbsp;<a class="c-link" href="fax:38553663492">+385 53 663 492</a></li>
              <li class="o-verticalInfoList_item">Email:&nbsp;<a
                  class="c-link" href="mailto:info@adriasun.hr">something@anything.com</a></li>
              <li class="o-verticalInfoList_item">Skype:&nbsp;<a class="c-link" href="#">estee_iva</a></li>
            </ul>
          </li>

          <li class="o-headerContentList_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item text-uppercase">ID CODE: HR-AB-51-040023548</li>
              <li class="o-verticalInfoList_item text-uppercase">OIB: 63436525398</li>
              <li class="o-verticalInfoList_item">Matični broj: 03791866</li>
              <li class="o-verticalInfoList_item">Indetifikacijski kod: HR-AB-51-040023548</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <hr>

  <!-- For PDF use 'container-fluid' -->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col">-->

        <!--<ul class="o-headerContentList o-headerContentList-2 w-100">-->
          <!--<li class="o-headerContentList_item">-->
            <!--<div class="o-header_logo">-->

              <!--<a href="index.html"-->
                <!--&gt;<img class="o-header_logo_img" src="../media/brand/logo.png" alt="Estee"></a>-->

              <!--&lt;!&ndash; For PDF use this logo &ndash;&gt;-->
              <!--&lt;!&ndash;<a href="index.html"&ndash;&gt;-->
                <!--&lt;!&ndash;&gt;<img class="o-header_logo_img" src="../media/brand/logo-bw.png" alt="Aurora travel"></a>&ndash;&gt;-->
              <!--&lt;!&ndash; For PDF use this logo &ndash;&gt;-->

            <!--</div>-->
          <!--</li>-->

          <!--<li class="o-headerContentList_item">-->
            <!--<ul class="o-verticalInfoList">-->
              <!--<li class="o-verticalInfoList_item">Head office:</li>-->
              <!--<li class="o-verticalInfoList_item">Konjska 10</li>-->
              <!--<li class="o-verticalInfoList_item">HR-51515</li>-->
              <!--<li class="o-verticalInfoList_item">Šilo</li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->

        <!--<ul class="o-headerContentList o-headerContentList-2 w-100">-->
          <!--<li class="o-headerContentList_item">-->
            <!--<ul class="o-verticalInfoList">-->
              <!--<li class="o-verticalInfoList_item">Tel:&nbsp;<a class="c-link" href="tel:38553663493">+385 53 663 493</a></li>-->
              <!--<li class="o-verticalInfoList_item">Fax:&nbsp;<a class="c-link" href="fax:38553663492">+385 53 663 492</a></li>-->
              <!--<li class="o-verticalInfoList_item">Email:&nbsp;<a-->
                  <!--class="c-link" href="mailto:info@adriasun.hr">something@anything.com</a></li>-->
              <!--<li class="o-verticalInfoList_item">Skype:&nbsp;<a class="c-link" href="#">estee_iva</a></li>-->
            <!--</ul>-->
          <!--</li>-->

          <!--<li class="o-headerContentList_item">-->
            <!--<ul class="o-verticalInfoList">-->
              <!--<li class="o-verticalInfoList_item text-uppercase">ID CODE: HR-AB-51-040023548</li>-->
              <!--<li class="o-verticalInfoList_item text-uppercase">OIB: 63436525398</li>-->
              <!--<li class="o-verticalInfoList_item">Matični broj: 03791866</li>-->
              <!--<li class="o-verticalInfoList_item">Indetifikacijski kod: HR-AB-51-040023548</li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</header>
