---
subject: Offer Accepted
---
<!-- htmlmin:ignore -->
<container>
  <table class="main-message_wrapper">
    <tbody>
      <tr>
        <td class="main-message_content">
          <row>
            <columns large="2" small="12">
              <span class="text-center">
                <img class="icon status" src="../assets/img/fileRemove.png" alt="Canceled">
              </span>
            </columns>
            <columns large="10" small="12">
              <p>Your booking  <strong>skjasoife3qSDF34IPQ</strong> has been canceled by booking manager.</p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>

  <!--Unit-->
  <table class="unit-wrapper">
    <tbody>
      <tr>
        <td class="unit-content">
          <row>
            <columns small="12">
              <h2><a href="#">Naziv objekta</a>&#58;&nbsp;<a href="#">Naziv jedinice</a>
          <span class="rating">
            <span class="icon"><img src='../assets/img/star.png'></span>
          </span>
              </h2>
              <p class="location"><strong>City:</strong>&nbsp;grad</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="6">
              <img class="image-full" style="width:100%;" src="http://placehold.it/245x166/" alt="">
            </columns>
            <columns small="12" large="6">
              <table class="list-data">
                <tbody>
                  <tr>
                    <td class="key"><strong>Full name</strong>&#58;&nbsp;</td>
                    <td class="value text-right">Mr. Bruce Wayne</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Email</strong>&#58;&nbsp;</td>
                    <td class="value text-right"><a href="mailto:info@mail.com">info@mail.com</a></td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Check in</strong>&#58;&nbsp;</td>
                    <td class="value text-right">26.04.2016.</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Check out</strong>&#58;&nbsp;</td>
                    <td class="value text-right">29.04.2016.</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Guests</strong>&#58;&nbsp;</td>
                    <td class="value text-right">2</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Price in total</strong>&#58;&nbsp;</td>
                    <td class="value text-right">450.00 EUR</td>
                  </tr>
                </tbody>
              </table>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p><strong>Note:</strong></p>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p class="gap-bottom-big">Poruka</p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Unit Stop -->

</container>
<!-- htmlmin:ignore -->
