<ol style="text-align: left; line-height: 1.6; display: block; margin: 0 auto; width: 350px;">
  <li><a href="bookingPartiallyPayedAdminEmail.html">Booking Partially Payed Admin Email</a></li>
  <li><a href="bookingPartiallyPayedEmail.html">Booking Partially Payed Email</a></li>
  <li><a href="bookingPayedAdminEmail.html">Booking Payed Admin Email</a></li>
  <li><a href="bookingPayedEmail.html">Booking Payed Email</a></li>
  <li><a href="canceledBooking.html">Canceled Booking</a></li>
  <li><a href="inquiryAdminEmail.html">Inquiry Admin Email</a></li>
  <li><a href="inquiryCancel.html">Inquiry Cancel</a></li>
  <li><a href="offerAccepted.html">Offer Accepted</a></li>
  <li><a href="offerEmail.html">Offer Email</a></li>
  <li><a href="recommendedAccommodation.html">Recommended Accommodation</a></li>
  <li><a href="unitReview.html">Unit Review</a></li>
  <li><a href="voucher.html">Voucher</a></li>
</ol>
