---
subject: Inquiry cancel
---
<!-- htmlmin:ignore -->
<container>
  <table class="main-message_wrapper">
    <tbody>
      <tr>
        <td class="main-message_content">
          <row>
            <columns large="2" small="12">
              <span class="text-center">
                <img class="icon status" src="../assets/img/fileRemove.png" alt="Canceled">
              </span>
            </columns>
            <columns large="10" small="12">
              <p>Dear mr Elmas Okic,
                <br>
                we are unable to make an offer in response to your inquiry.
                <br>
                We regret to inform you that your inquiry has been rejected.</p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="data-wrapper">
    <tbody>
      <tr>
        <td class="data-content">
          <row>
            <columns small="12">
              <h1>Personal data and booking info</h1>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Full name:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">Bruce Wayne</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Address:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">
                adresa<br>
                grad, postanski broj<br>
                zemlja
              </p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Email:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value"><a href="mailto:mail adresa">mail adresa</a></p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Contact:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value"><a href="tel:mobitel">mobitel</a></p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Arrival:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">dolazak</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Departure:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">odlazak</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Number of Adults:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">broj ljudi</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Number of kids:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">1</p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!--Unit-->
  <table class="unit-wrapper">
    <tbody>
      <tr>
        <td class="unit-content">
          <row>
            <columns small="12">
              <h2><a href="#">Naziv objekta</a>&#58;&nbsp;<a href="#">Naziv jedinice</a>
          <span class="rating">
            <span class="icon"><img src='../assets/img/star.png'></span>
          </span>
              </h2>
              <p class="location"><strong>City:</strong>&nbsp;grad</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="6">
              <img class="image-full" style="width:100%;" src="http://placehold.it/245x166/" alt="">
            </columns>
            <columns small="12" large="6">
              <table class="list">
                <tbody>
                  <tr>
                    <td>
                      <span class="item">Wi-Fi</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="item">Bathroom</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="item">Free parking</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="item">Air Conditioning</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="item">TV</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="item">Pets allowed</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p><strong>Note:</strong></p>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p>Poruka</p>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p class="price"><strong>Price: 245.00 EUR</strong></p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Unit Stop -->

</container>
<!-- htmlmin:ignore -->
