---
subject: Offer
---
<!-- htmlmin:ignore -->
<container>
  <table class="main-message_wrapper">
    <tbody>
      <tr>
        <td class="main-message_content">
          <row>
            <columns small="12">
              <p>Dear Mr. Wayne, <br>
                Please view our offer based on data filled on inquiry form..</p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="data-wrapper">
    <tbody>
      <tr>
        <td class="data-content">
          <row>
            <columns small="12">
              <h1>Personal data and booking info</h1>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Full name:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">Bruce Wayne</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Address:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">
                adresa<br>
                grad, postanski broj<br>
                zemlja
              </p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Email:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value"><a href="mailto:mail adresa">mail adresa</a></p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Contact:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value"><a href="tel:mobitel">mobitel</a></p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Arrival:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">dolazak</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Departure:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">odlazak</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Number of Adults:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">broj ljudi</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Number of kids:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">1</p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>

  <!--Unit-->
  <table class="unit-wrapper">
    <tbody>
      <tr>
        <td class="unit-content">
          <row>
            <columns small="12">
              <h2><a href="#">Naziv objekta</a>&#58;&nbsp;<a href="#">Naziv jedinice</a>
          <span class="rating">
            <span class="icon"><img src='../assets/img/star.png'></span>
          </span>
              </h2>
              <p class="location"><strong>City:</strong>&nbsp;grad</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="6">
              <img class="image-full" style="width:100%;" src="http://placehold.it/245x166/" alt="">
            </columns>
            <columns small="12" large="6">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <strong>Description:</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="description">
                      Cupcake ipsum dolor sit amet biscuit jelly-o powder. Bonbon chocolate bar pudding tart. Chocolate cake topping candy canes danish. Cake soufflé lollipop cotton candy. Chocolate sweet roll oat cake halvah fruitcake gingerbread topping...
                    </td>
                  </tr>
                </tbody>
              </table>
            </columns>
          </row>
          <row>
            <columns small="12">
              <table class="list twoCols with-gap">
                <tbody>
                  <tr>
                    <td>
                      <span class="item">Wi-Fi</span>
                      <span class="item">Bathroom</span>
                      <span class="item">Free parking</span>
                      <span class="item">Air Conditioning</span>
                      <span class="item">TV</span>
                      <span class="item">Pets allowed</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p><strong>Note:</strong></p>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p>Poruka</p>
            </columns>
          </row>
          <row class="collapse">
            <columns small="12">

              <table class="price-table">
                <tbody>
                  <tr>
                    <td>
                      <strong>Basic price</strong> <br>
                      <span class="values">(Unit)</span>
                    </td>
                    <td>
                      <strong>250.00 EUR</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Mandatory charges</strong> <br>
                      <span class="values">(Cleaning, ironing, breakfast, something)</span>
                    </td>
                    <td>
                      <strong>100.00 EUR</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Optional charges</strong> <br>
                      <span class="values">(Cleaning, ironing, breakfast, something)</span>
                    </td>
                    <td>
                      <strong>30.00 EUR</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Short stay charge</strong> <br>
                      <span class="values">(under 4 days)</span>
                    </td>
                    <td>
                      <strong>10.00 EUR</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Discount</strong> <br>
                      <span class="values">(out of season)</span>
                    </td>
                    <td>
                      <strong>15.00 EUR</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Action</strong> <br>
                      <span class="values">(something)</span>
                    </td>
                    <td>
                      <strong>0.00 EUR</strong>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <strong>Total</strong>
                    </td>
                    <td>
                      <strong>450.00 EUR</strong>
                    </td>
                  </tr>
                </tfoot>
              </table>

            </columns>
          </row>
          <row class="collapse">
            <columns small="12">

              <table class="price-table">
                <tbody>
                  <tr>
                    <td>
                      <strong>Advanced payment</strong> <br>
                      <span class="values">(10.04.2016.)</span>
                    </td>
                    <td>
                      <strong>70.00 EUR</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Remaining payment</strong> <br>
                      <span class="values">(until 25.04.2016.)</span>
                    </td>
                    <td>
                      <strong>215.00 EUR</strong>
                    </td>
                  </tr>
                </tbody>
              </table>

            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Unit stop -->

  <row>
    <columns small="12" large="12">
      <center>
        <table>
          <tbody>
            <tr>
              <td class="cta-wrapper">
                <a class="button-cta" href="offerAccepted.html">Offer details</a>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
    </columns>
  </row>

</container>
<!-- htmlmin:ignore -->
