---
subject: Recomended Accommodation
---
<!-- htmlmin:ignore -->
<table class="main-message_wrapper">
  <tbody>
    <tr>
      <td>
        <div class="main-message_header">
          Prijatelj vam je preporučio apartman!
        </div>
      </td>
    </tr>
  </tbody>
</table>

<container>

  <!--Unit-->
  <table class="unit-wrapper">
    <tbody>
      <tr>
        <td class="unit-content -recommended">
          <row>
            <columns small="12" large="12">
              <img class="image-full" style="width:100%; border-radius: 4px;" src="http://placehold.it/500x350/" alt="">
            
              <table class="list-data">
                <tbody>
                  <tr>
                    <h2 class="title-recommended"><a href="#">Apartman Ivana</a></h2>
                  </tr>
                  <tr>
                    <td class="location">
                      <span class="icon"><img src='../assets/img/location.png'></span>
                      <strong>Zagreb</strong>
                    </td>
                    <td class="guest">
                      <span class="icon"><img src='../assets/img/guest.png'></span>
                      <strong>3 guests</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="key -recommended"><strong>Description</strong>&#58;&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="description">It is not always possible to jet off half way around the world when you and your 
                      significant other are wishing to go off on a private and romantic getaway. The great news is that 
                      you don’t have to spend a lot of money or go very far to get away from everyone and everything. 
                      You can find cheap</td>
                  </tr>
                </tbody>
              </table>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Unit Stop -->

  <row>
    <columns small="12" large="12">
      <center>
        <table>
          <tbody>
            <tr>
              <td class="cta-wrapper">
                <a class="button-cta -recommended" href="#">Click to find out more!</a>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
    </columns>
  </row>

</container>
<!-- htmlmin:ignore -->
