---
subject: Voucher
---
<!-- htmlmin:ignore -->
<container>
  <table class="main-message_wrapper">
    <tbody>
      <tr>
        <td class="main-message_content">
          <row>
            <columns small="12">
              <p>Dear Mr. Wayne, <br>
                <br>
                Thank you for successfully payed booking. <br>
                 Here is your voucher with related data about your reservation. <br>
                 For further information you can contact us personally through contact details in footer.
                <br>
                <br>
                <strong class="text-big">Your booking ID: 1ZTm9bWD40DI4Mwj2KcNQrKt</strong>
                <br>
                <br>
                Best regards, <br>
                Alfred Pennyworth <br>
                Booking manager and butler</p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="data-wrapper">
    <tbody>
      <tr>
        <td class="data-content">
          <row>
            <columns small="12">
              <h1>Contact person and location</h1>
              <!-- OFFICE INFORMATIONS -->
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Full name:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">Bruce Wayne</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Full address:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value">
                Pojana 4,<br>
                51516 Vrbnik,<br>
                Hrvatska
              </p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Email:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value"><a href="mailto:info@mare-vrbnik.com">info@mare-vrbnik.com</a></p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Telephone:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value"><a href="tel:+38551604400">+38551604400</a></p>
            </columns>
          </row>
          <row>
            <columns small="12" large="3">
              <p class="key"><strong>Cellphone:</strong></p>
            </columns>
            <columns small="12" large="9">
              <p class="value"><a href="tel:+385915167858">+385915167858</a></p>
            </columns>
          </row>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!--Unit-->
  <table class="unit-wrapper">
    <tbody>
      <tr>
        <td class="unit-content">
          <row>
            <columns small="12">
              <h2><a href="#">Naziv objekta</a>&#58;&nbsp;<a href="#">Naziv jedinice</a>
          <span class="rating">
            <span class="icon"><img src='../assets/img/star.png'></span>
          </span>
              </h2>
              <p class="location"><strong>City:</strong>&nbsp;grad</p>
            </columns>
          </row>
          <row>
            <columns small="12" large="6">
              <img class="image-full" style="width:100%;" src="http://placehold.it/245x166/" alt="">
            </columns>
            <columns small="12" large="6">
              <table class="list-data">
                <tbody>
                  <tr>
                    <td class="key"><strong>Full name</strong>&#58;&nbsp;</td>
                    <td class="value text-right">Mr. Bruce Wayne</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Check in</strong>&#58;&nbsp;</td>
                    <td class="value text-right">26.04.2016.</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Check out</strong>&#58;&nbsp;</td>
                    <td class="value text-right">29.04.2016.</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Guests</strong>&#58;&nbsp;</td>
                    <td class="value text-right">2</td>
                  </tr>
                  <tr>
                    <td class="key"><strong>Price in total</strong>&#58;&nbsp;</td>
                    <td class="value text-right">450.00 EUR</td>
                  </tr>
                </tbody>
              </table>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p><strong>Note:</strong></p>
            </columns>
          </row>
          <row>
            <columns small="12">
              <p>Poruka</p>
            </columns>
          </row>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Unit Stop -->

  <!-- VOUCHER BLOCK -->

  <row>
    <columns small="12" large="12">
      <center>
        <table>
          <tbody>
            <tr>
              <td class="cta-wrapper">
                <a class="button-cta" href="offer.html">Download voucher PDF</a>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
    </columns>
  </row>

</container>
<!-- htmlmin:ignore -->
