/*------------------------------------------------------------------------------------
  08_vendor
------------------------------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%; } }

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%; } }

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
    padding-right: 15px;
    padding-left: 15px; } }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto; }

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.pull-0 {
  right: auto; }

.pull-1 {
  right: 8.333333%; }

.pull-2 {
  right: 16.666667%; }

.pull-3 {
  right: 25%; }

.pull-4 {
  right: 33.333333%; }

.pull-5 {
  right: 41.666667%; }

.pull-6 {
  right: 50%; }

.pull-7 {
  right: 58.333333%; }

.pull-8 {
  right: 66.666667%; }

.pull-9 {
  right: 75%; }

.pull-10 {
  right: 83.333333%; }

.pull-11 {
  right: 91.666667%; }

.pull-12 {
  right: 100%; }

.push-0 {
  left: auto; }

.push-1 {
  left: 8.333333%; }

.push-2 {
  left: 16.666667%; }

.push-3 {
  left: 25%; }

.push-4 {
  left: 33.333333%; }

.push-5 {
  left: 41.666667%; }

.push-6 {
  left: 50%; }

.push-7 {
  left: 58.333333%; }

.push-8 {
  left: 66.666667%; }

.push-9 {
  left: 75%; }

.push-10 {
  left: 83.333333%; }

.push-11 {
  left: 91.666667%; }

.push-12 {
  left: 100%; }

.offset-1 {
  margin-left: 8.333333%; }

.offset-2 {
  margin-left: 16.666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.333333%; }

.offset-5 {
  margin-left: 41.666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.333333%; }

.offset-8 {
  margin-left: 66.666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.333333%; }

.offset-11 {
  margin-left: 91.666667%; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto; }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.333333%; }
  .pull-sm-2 {
    right: 16.666667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.333333%; }
  .pull-sm-5 {
    right: 41.666667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.333333%; }
  .pull-sm-8 {
    right: 66.666667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.333333%; }
  .pull-sm-11 {
    right: 91.666667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.333333%; }
  .push-sm-2 {
    left: 16.666667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.333333%; }
  .push-sm-5 {
    left: 41.666667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.333333%; }
  .push-sm-8 {
    left: 66.666667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.333333%; }
  .push-sm-11 {
    left: 91.666667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.333333%; }
  .offset-sm-2 {
    margin-left: 16.666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.333333%; }
  .offset-sm-5 {
    margin-left: 41.666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.333333%; }
  .offset-sm-8 {
    margin-left: 66.666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.333333%; }
  .offset-sm-11 {
    margin-left: 91.666667%; } }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto; }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.333333%; }
  .pull-md-2 {
    right: 16.666667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.333333%; }
  .pull-md-5 {
    right: 41.666667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.333333%; }
  .pull-md-8 {
    right: 66.666667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.333333%; }
  .pull-md-11 {
    right: 91.666667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.333333%; }
  .push-md-2 {
    left: 16.666667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.333333%; }
  .push-md-5 {
    left: 41.666667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.333333%; }
  .push-md-8 {
    left: 66.666667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.333333%; }
  .push-md-11 {
    left: 91.666667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.333333%; }
  .offset-md-2 {
    margin-left: 16.666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.333333%; }
  .offset-md-5 {
    margin-left: 41.666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.333333%; }
  .offset-md-8 {
    margin-left: 66.666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.333333%; }
  .offset-md-11 {
    margin-left: 91.666667%; } }

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto; }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.333333%; }
  .pull-lg-2 {
    right: 16.666667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.333333%; }
  .pull-lg-5 {
    right: 41.666667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.333333%; }
  .pull-lg-8 {
    right: 66.666667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.333333%; }
  .pull-lg-11 {
    right: 91.666667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.333333%; }
  .push-lg-2 {
    left: 16.666667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.333333%; }
  .push-lg-5 {
    left: 41.666667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.333333%; }
  .push-lg-8 {
    left: 66.666667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.333333%; }
  .push-lg-11 {
    left: 91.666667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.333333%; }
  .offset-lg-2 {
    margin-left: 16.666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.333333%; }
  .offset-lg-5 {
    margin-left: 41.666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.333333%; }
  .offset-lg-8 {
    margin-left: 66.666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.333333%; }
  .offset-lg-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto; }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.333333%; }
  .pull-xl-2 {
    right: 16.666667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.333333%; }
  .pull-xl-5 {
    right: 41.666667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.333333%; }
  .pull-xl-8 {
    right: 66.666667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.333333%; }
  .pull-xl-11 {
    right: 91.666667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.333333%; }
  .push-xl-2 {
    left: 16.666667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.333333%; }
  .push-xl-5 {
    left: 41.666667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.333333%; }
  .push-xl-8 {
    left: 66.666667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.333333%; }
  .push-xl-11 {
    left: 91.666667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.333333%; }
  .offset-xl-2 {
    margin-left: 16.666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.333333%; }
  .offset-xl-5 {
    margin-left: 41.666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.333333%; }
  .offset-xl-8 {
    margin-left: 66.666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.333333%; }
  .offset-xl-11 {
    margin-left: 91.666667%; } }
/*------------------------------------------------------------------------------------
  00_settings
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  BREAKPOINTS
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  CONTAINER
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  GRID, GUTTER
------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
  PATHS
-----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  01_tools
------------------------------------------------------------------------------------*/
.p-thankYou .c-logo_wrapper:before,
.p-thankYou .c-logo_wrapper:after, .o-option_hotels:after, .o-option_vacation:after, .o-option_title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.thankYou-bg, .o-option_hotels, .o-option_vacation {
  background-position: center; }

.form-control.hasDatepicker, .thankYou-bg, .o-option_hotels, .o-option_vacation {
  background-repeat: no-repeat; }

.thankYou-bg, .o-option_hotels, .o-option_vacation {
  background-size: cover; }

.c-btn, .form-control.hasDatepicker {
  cursor: pointer; }

.c-link:hover, .c-link-underline {
  text-decoration: underline; }

a, .c-link-underline:hover {
  text-decoration: none; }

/*------------------------------------------------------------------------------------
  02_generic
------------------------------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }
  html button,
  html input,
  html select,
  html textarea {
    -webkit-tap-highlight-color: rgba(82, 82, 82, 0.1); }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

* {
  outline: none; }

html, body {
  height: 100%;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 100%;
  line-height: 1.2;
  letter-spacing: normal;
  color: #4C5A62; }

.preformat {
  color: #4C5A62; }
  .preformat,
  .preformat a,
  .preformat p,
  .preformat li,
  .preformat blockquote {
    line-height: 1.6; }
  .preformat ul,
  .preformat ol {
    margin: 0 0 1em;
    list-style-position: inside; }
  .preformat ul {
    list-style-type: none; }
    .preformat ul > li {
      position: relative;
      padding-left: 1.4em; }
      .preformat ul > li:after {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 3px;
        height: 3px;
        margin: auto 0;
        background-color: #4C5A62;
        border-radius: 10px; }
  .preformat ol {
    padding-left: 0;
    list-style-type: decimal; }
    .preformat ol ol {
      padding-left: 1em;
      margin-top: 1em; }
  .preformat a {
    color: #5681BE;
    text-decoration: underline; }
    .preformat a:hover, .preformat a:focus, .preformat a:active {
      color: #7b9ccc;
      text-decoration: none; }
  .preformat em {
    font-style: italic; }
  .preformat blockquote {
    display: inline-block;
    position: relative;
    margin: 1em 0 1.94em;
    padding: 0 25px;
    font-size: 1.12em;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: italic; }
    .preformat blockquote:before, .preformat blockquote:after {
      content: '';
      background-repeat: no-repeat;
      background-size: 17px 15px;
      width: 17px;
      height: 15px;
      position: absolute; }
  .preformat p {
    margin: 0 0 1em; }
  .preformat h1, .preformat h2, .preformat h3,
  .preformat h4, .preformat h5, .preformat h6 {
    font-size: 1.1em;
    margin: .8em 0 0.4em;
    color: #4C5A62; }
  .preformat table {
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-spacing: 0; }
    .preformat table tr td {
      border: 1px solid #999;
      border-top: 0;
      border-left: 0;
      padding: 0.5em 1em; }
  .preformat iframe {
    max-width: 100%; }

/*------------------------------------------------------------------------------------
  03_base
------------------------------------------------------------------------------------*/
a {
  color: inherit; }

hr.o-mainFooter_hr {
  width: 100%;
  opacity: .23; }

@media only screen and (min-width: 600px) {
  hr.o-mainFooter_hr {
    width: 30%; } }

ul {
  list-style-type: none; }

/*------------------------------------------------------------------------------------
  04_components
------------------------------------------------------------------------------------*/
.c-btn {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none; }
  .c-btn, .c-btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .c-btn-primary {
    background-color: #EB8D2D;
    color: #ffffff;
    border-width: 0;
    border-style: solid;
    border-color: #ffffff; }
    .c-btn-primary:hover {
      background-color: #d17314;
      color: #e6e6e6;
      border-color: #e6e6e6; }
    .p-intro .c-btn-primary {
      padding-right: 3rem;
      border: 1px solid #ffffff;
      border-radius: 10px;
      background-color: transparent; }
    .p-intro .c-btn-primary:hover {
      background-color: #d17314; }
  .c-btn-secondary {
    background-color: #ffffff;
    color: #EB8D2D;
    border-width: 1px;
    border-style: solid;
    border-color: #3C3C3C; }
    .c-btn-secondary:hover {
      background-color: #e6e6e6;
      color: #d17314;
      border-color: #232323; }
  .o-priceSection .c-btn-option {
    border-width: 1px;
    border-style: solid;
    border-color: #3C3C3C; }
  .o-priceSection .c-btn-option:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-style: none; }
  .o-priceSection .c-btn-option + .c-btn-option {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  @media only screen and (min-width: 600px) {
    .c-btn-wide-sm {
      max-width: 100px; }
    .c-btn-wide-md {
      max-width: 200px; }
    .c-btn-wide-lg {
      max-width: 300px; } }
  @media only screen and (max-width: 467px) {
    .c-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%; } }
  @media only screen and (min-width: 468px) {
    .c-btn-mw250 {
      max-width: 250px; } }
  @media only screen and (min-width: 992px) {
    .p-intro .o-option_item .c-btn {
      height: 70px;
      min-width: 24rem; } }

.form-group {
  margin-bottom: 0.75rem; }
  .form-group-clean > .form-group {
    margin-bottom: 0; }

.form-control {
  display: block;
  width: 100%;
  padding: 0.44rem 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  color: #4C5A62;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ffffff;
  background-image: none;
  background-clip: padding-box;
  border-radius: 2px; }
  .form-control:not(.hasDatepicker) {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .form-control:focus, .form-control:hover {
    border-color: #a8a8a8; }
  .form-control:disabled {
    cursor: not-allowed; }
  .error.has-error .form-control {
    border-color: #C9273D; }
  .form-control.hasDatepicker {
    background-size: 16px 16px;
    background-position: calc(100% - 8px) 50%; }

.form-label {
  display: block;
  margin-bottom: 0.25rem;
  color: #4C5A62;
  font-size: 0.9375rem;
  font-weight: 600; }

.form-error-message {
  color: #C9273D; }

.o-modal .form-control {
  padding-left: 0;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none; }

.p-intro .c-icon-arrow {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  width: 29px;
  height: 22px;
  margin: auto; }

.p-intro .c-btn:hover .c-icon-arrow {
  -webkit-transform: translateX(0.2rem);
      -ms-transform: translateX(0.2rem);
          transform: translateX(0.2rem); }

@media only screen and (max-width: 467px) {
  .p-intro .c-icon-arrow {
    width: 20px;
    height: 13px; } }

.c-img_promo {
  margin-top: -6rem;
  margin-bottom: -6rem; }

.c-img_features {
  max-width: 90%; }

@media only screen and (min-width: 600px) {
  .c-img_features {
    max-width: 70%; }
  .c-img_promo {
    margin-top: -2rem;
    margin-bottom: -2rem; } }

@media only screen and (min-width: 992px) {
  .c-img_features {
    max-width: 100%; }
  .c-img_promo {
    margin-top: -6rem;
    margin-bottom: -6rem; } }

.o-separatedList_item.selected .c-link {
  opacity: .5;
  pointer-events: none; }

.o-mainFooter .c-logo.o-mainFooter_title-logo {
  width: 366px;
  margin-top: -5rem; }

.o-copyright .c-logo {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 90px;
  opacity: .5; }
  .o-copyright .c-logo:hover {
    opacity: 1; }

.p-thankYou .c-logo_main {
  width: 170px;
  margin: auto; }

.p-thankYou .c-logo_wrapper:before,
.p-thankYou .c-logo_wrapper:after {
  content: '';
  width: 30%;
  height: 3px;
  background-color: #EB8D2D;
  margin: auto;
  opacity: .41; }

.p-thankYou .c-logo_wrapper:before {
  right: 70%; }

.p-thankYou .c-logo_wrapper:after {
  left: 70%; }

@media only screen and (min-width: 992px) {
  .p-thankYou .c-logo_wrapper:before,
  .p-thankYou .c-logo_wrapper:after {
    width: 40%; }
  .p-thankYou .c-logo_wrapper:before {
    right: 60%; }
  .p-thankYou .c-logo_wrapper:after {
    left: 60%; } }

.c-tbl {
  display: table; }
  .c-tbl-even > .c-tbl_cell {
    width: 50%; }
  .c-tbl-middle > .c-tbl_cell {
    vertical-align: middle; }
  .c-tbl-top > .c-tbl_cell {
    vertical-align: top; }
  .c-tbl-fixed {
    table-layout: fixed; }
  .c-tbl_cell {
    display: table-cell; }

.c-ttl {
  margin: 0; }
  .c-ttl-pg {
    font-size: 1.25rem; }
  .c-ttl-pg_sub {
    font-size: 0.875rem; }
    .p-intro .c-ttl-pg_sub {
      font-size: 0.8125rem;
      letter-spacing: .5px; }
  .o-option_title .c-ttl {
    font-size: 1rem; }
  .c-ttl-section {
    font-size: 2rem; }
  .c-ttl-section_sub {
    font-size: 1.625rem; }
  .p-intro .o-option_item > .c-ttl-pg {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .p-intro .o-option_item .c-btn:hover ~ .c-ttl-pg {
    -webkit-transform: translateY(-0.5rem);
        -ms-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem); }
  .o-hero_logo-wrapper .c-ttl {
    margin-right: -0.75%;
    letter-spacing: 5px; }
  @media only screen and (min-width: 600px) {
    .c-ttl-pg {
      font-size: 1.375rem; }
    .c-ttl-pg_sub {
      font-size: 1.125rem; }
      .p-intro .c-ttl-pg_sub {
        font-size: 1rem;
        letter-spacing: 1px; } }
  @media only screen and (min-width: 800px) {
    .o-option_title .c-ttl {
      font-size: 1.25rem;
      line-height: 38px; }
    .o-hero_logo-wrapper .c-ttl {
      margin-top: -2%; } }
  @media only screen and (min-width: 992px) {
    .c-ttl-section {
      font-size: 2.625rem; }
    .c-ttl-section_sub {
      font-size: 2rem; }
    .c-ttl-pg {
      font-size: 2.375rem; }
    .c-ttl-pg_sub {
      font-size: 1.125rem; } }
  @media only screen and (min-width: 1440px) {
    .o-option_title .c-ttl {
      font-size: 1.875rem; } }

/*------------------------------------------------------------------------------------
  05_objects
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  06_pages
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
  07_trumps
------------------------------------------------------------------------------------*/
/*
  Helper classes for background color
*/
.bg-white {
  background-color: #ffffff; }

.light-bg {
  background-image: url("../media/lightBg.svg");
  background-size: 100% auto;
  background-position: top; }

.thankYou-bg {
  background-image: url("../media/thankYou-bg.png"); }

/*
  Helper classes for font styles
*/
.font-weight-light {
  font-weight: 300; }

.font-weight-bold {
  font-weight: 700; }

.font-weight-regular {
  font-weight: 400; }

.font-weight-semibold {
  font-weight: 600; }

.f-11 {
  font-size: 0.6875rem; }

.f-14 {
  font-size: 0.875rem; }

.f-18 {
  font-size: 1.125rem; }

.f-20 {
  font-size: 1.25rem; }

.f-23 {
  font-size: 1.4375rem; }

.f-28 {
  font-size: 1.75rem; }

.f-30 {
  font-size: 1.875rem; }

.f-35 {
  font-size: 2.1875rem; }

.f-42 {
  font-size: 2.625rem; }

.lh-2 {
  line-height: 2; }

.f-22-28 {
  font-size: 1.375rem; }

.f-42-62 {
  font-size: 2.625rem; }

@media only screen and (min-width: 600px) {
  .f-md-20 {
    font-size: 1.25rem; }
  .f-22-28 {
    font-size: 1.75rem; }
  .f-42-62 {
    font-size: 3.875rem; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.align-self-center {
  -ms-flex-item-align: center;
      align-self: center; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.p-0 {
  padding: 0; }

.p-1 {
  padding: 1rem; }

.p-1-2 {
  padding: 1rem 2rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.pt-1 {
  padding-top: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-7 {
  padding-bottom: 7rem; }

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.px-1-7 {
  padding-right: 1.7rem;
  padding-left: 1.7rem; }

.mt-05 {
  margin-top: .5rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-5 {
  margin-top: 5rem; }

.mr-1 {
  margin-right: 1rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-05 {
  margin-bottom: .5rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.my-05 {
  margin: .5rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-4-auto {
  margin: 4rem auto; }

.my-5-auto {
  margin: 5rem auto; }

.m-auto {
  margin: auto; }

.m-1 {
  margin: 1rem; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.h-100 {
  height: 100%; }

.wh-100 {
  height: 100vh; }

.w-100 {
  width: 100%; }

.text-uppercase {
  text-transform: uppercase; }

.hidden {
  display: none; }

.show {
  display: block; }

.d-inline-block {
  display: inline-block; }

.white-space-nowrap {
  white-space: nowrap; }

.text-italic {
  font-style: italic; }

.container-large {
  max-width: 1200px; }

.container-largePlus {
  max-width: 1400px; }

.lh-18 {
  line-height: 18px; }

.lh-58 {
  line-height: 58px; }

.word-break {
  word-break: break-word; }

@media only screen and (min-width: 600px) {
  .mr-md-1 {
    margin-right: 1rem; }
  .w-md-60 {
    width: 60%; }
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 992px) {
  .px-lg-05 {
    padding-right: .5rem;
    padding-left: .5rem; } }

/*
  Helper classes for position of elements
*/
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

@media only screen and (max-width: 799px) {
  .text-mdp-down-center {
    text-align: center; } }

@media only screen and (min-width: 800px) {
  .text-mdp-right {
    text-align: right; } }

/*
  Helper classes for text color
*/
.color-white {
  color: #ffffff; }

.color-primary {
  color: #EB8D2D; }

.color-ui-shade {
  color: #CCCCCC; }

.color-red {
  color: #C9273D; }

.o-option {
  height: 50vh; }
  .o-option_hotels, .o-option_vacation {
    z-index: 1; }
    .o-option_hotels:after, .o-option_vacation:after {
      content: '';
      z-index: -1; }
  .o-option_hotels {
    background-image: url("../media/hotels.jpeg"); }
    .o-option_hotels:after {
      background-color: rgba(2, 11, 61, 0.7); }
  .o-option_vacation {
    background-image: url("../media/vacationRentals.jpeg"); }
    .o-option_vacation:after {
      background-color: rgba(12, 98, 135, 0.75); }
  .o-option_title {
    z-index: 2;
    width: 70%;
    max-width: 730px;
    height: 100vh;
    margin: 0 auto;
    pointer-events: none; }
  .o-option_item {
    -ms-flex-item-align: center;
        align-self: center;
    width: 90%; }
  @media only screen and (min-width: 468px) and (max-height: 650px) {
    .o-option_title {
      width: 30%;
      white-space: nowrap;
      text-align: center; } }
  @media only screen and (max-width: 600px) and (min-height: 550px) {
    .o-option_title {
      width: 80%; } }
  @media only screen and (min-width: 600px) {
    .o-option_item {
      width: auto; } }
  @media only screen and (min-width: 992px) {
    .o-option {
      height: 100vh; }
      .o-option_title {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        height: 60vh;
        width: 70%; }
      .o-option_item {
        -ms-flex-item-align: end;
            align-self: flex-end;
        margin-bottom: 2rem; } }
  @media only screen and (min-width: 1440px) {
    .o-option_item {
      margin-bottom: 6rem; } }

.o-langSwitch {
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  width: 100%; }
  .o-langSwitch_item {
    padding: 0 1rem;
    margin: .3rem 0;
    border-width: 1px;
    border-color: #ffffff;
    border-right-style: solid; }
  .o-langSwitch_item:last-child {
    border-right-style: none; }
  .p-intro .o-langSwitch {
    z-index: 2; }
  @media only screen and (min-width: 992px) {
    .p-vacation .o-langSwitch,
    .p-hotels .o-langSwitch {
      width: auto; } }

.o-separatedList {
  text-align: center; }
  .o-separatedList_item {
    padding: 0 1rem;
    margin: .3rem 0;
    letter-spacing: 1px; }
  @media only screen and (min-width: 992px) {
    .o-separatedList {
      display: table; }
      .p-intro .o-separatedList {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 2rem; }
      .o-separatedList_item {
        display: table-cell;
        vertical-align: middle;
        border-color: #ffffff;
        border-width: 1px;
        border-right-style: solid; }
      .o-separatedList-lighterSep .o-separatedList_item {
        border-color: rgba(255, 255, 255, 0.31); }
      .o-separatedList_item:last-child {
        border-right-style: none; } }
