// Calculate aspect ratio
// i.e. for 16:10
// = 100% * 10 / 16 = 62.5

.aspectRatio {
  position: relative;
  height: 0;
  width: 100%;

  // 16:10
  &-16-10 {
    padding-top: 62.5%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include ie {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      max-height: none;
      max-width: none;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
    }

  }

  .o-card_blog & {
    padding-bottom: 50%;
  }

  @include laptopDown {

    .o-hero_img & {
      padding-bottom: 100vh;
    }

  }

  @include laptop {

    .o-hero_img & {
      padding-bottom: 70%;
    }

  }

  .o-card_blog.-full & {

    @include laptop {
      padding-bottom: 43.7%;
    }

  }

  .o-card.-event &,
  .o-card.-object & {
    padding-bottom: 48.7%;
  }

  .o-card.-unit.-small &,
  .o-reservationForm_up &,
  .o-sidebar_unitImg & {
    padding-bottom: 75%;
  }

  .o-destination_item & {
    padding-bottom: 100%;
  }

  @include tablet {

    .o-destination_item:first-child &,
    .o-destination_item:nth-child(6) &,
    .o-destinationSlider.-fiveItems .o-destination_item:nth-child(2) &,
    .o-destinationSlider.-fiveItems .o-destination_item:nth-child(4) &,
    .o-destinationSlider.-fourItems .o-destination_item &,
    .o-destinationSlider.-twoItems .o-destination_item & {
      padding-bottom: 50%;
    }

    .o-destinationSlider.-threeItems .o-destination_item:nth-child(3) &,
    .o-destinationSlider.-fiveItems .o-destination_item:last-child & {
      padding-bottom: 100%;
    }

  }

  .o-gallery.-large & {
    padding-bottom: 80%;

    @include tablet {
      padding-bottom: 50%;
    }

  }

  .o-sidebar_img & {
    padding-bottom: 84%;
  }

  .o-locationCard & {
    padding-bottom: 62.7%;
  }

}
