/*
  Helper classes for text color
*/

.color-white {
  color: $white;
}

.color-black {
  //color: $black;
}

.color-black-lighter {
  color: #191919;
}

.color-accented {
  color: $color-ui-link;
}

.color-gray {
  color: $gray;
}

.color-primary {
  color: $brand-primary;
}

.color-primary-darken {
  color: $brand-primary-darken;
}

.color-waikawaGray {
  color: $waikawaGray;
}

.color-lightGray {
  color: $gray-light;
}

.color-darkGray {
  color: $gray-dark;
}

.color-green {
  color: #00B359;
}
