/*
  Helper classes for element visibility
*/

.overflowHidden {
  overflow: hidden;

  &.p-homepage {

    @include laptop {
      overflow: visible;
    }

  }

}

.white-space-nowrap {
  white-space: nowrap;
}
