//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

$primary-color: #EE9817;
$secondary-color: #0075AE;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #f3f3f3;
$medium-gray: #cacaca;
$dark-gray: #6B6B6B;
$black: #0a0a0a;
$white: #fefefe;
$blue: #4464AD;
$pre-color: #ff6908;
$global-width: 580px;
$global-width-small: 95%;
$global-gutter: 16px;
$body-background: $light-gray;
$container-background: $white;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: 3px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;
$default-text: #56514B;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;
$container-radius: 0;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-color: $black;
$body-font-family: Helvetica, Arial, sans-serif;
$global-font-weight: normal;
$header-color: inherit;
$global-line-height: 1.3;
$global-font-size: 16px;
$body-line-height: $global-line-height;
$header-font-family: $body-font-family;
$header-font-weight: $global-font-weight;
$h1-font-size: 34px;
$h2-font-size: 30px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;
$header-margin-bottom: 10px;
$paragraph-margin-bottom: 10px;
$small-font-size: 80%;
$small-font-color: $medium-gray;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.6;
$text-padding: 10px;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: 4px;
$subheader-margin-bottom: 8px;
$hr-width: 100%;
$hr-border: 1px solid $blue;
$hr-margin: 0;
$anchor-text-decoration: none;
$anchor-color: $black;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($primary-color, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;

// 5. Button
// ---------

$button-padding: (
  tiny: 4px 8px 4px 8px,
  small: 5px 10px 5px 10px,
  default: 9px 16px 9px 16px,
  large: 10px 20px 10px 20px,
);
$button-font-size: (
  tiny: 10px,
  small: 12px,
  default: 16px,
  large: 20px,
);
$button-color: $white;
$button-color-alt: $medium-gray;
$button-font-weight: bold;
$button-margin: 0 0 $global-margin 0;
$button-background: $primary-color;
$button-border: 2px solid $button-background;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

// 6. Callout
// ----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-padding: 10px;
$callout-margin-bottom: $global-margin;
$callout-border: 1px solid darken($callout-background, 20%);
$callout-border-secondary: 1px solid darken($secondary-color, 20%);
$callout-border-success: 1px solid darken($success-color, 20%);
$callout-border-warning: 1px solid darken($warning-color, 20%);
$callout-border-alert: 1px solid darken($alert-color, 20%);

// 7. Menu
// -------

$menu-item-padding: 10px;
$menu-item-gutter: 10px;
$menu-item-color: $primary-color;

// 8. Thumbnail
// ------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// 9. Custom
// ------------

p,
.data-content .value,
.data-content .value a,
.o-attributeTable td {
  color: $default-text!important;
}

.footer a,
.footer p,
.footer strong {
  color: $white!important;
}

.footer strong {
  font-size: 17px;
}

.footer .contact .columns {
  padding-bottom: 0px;
}

strong {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700!important;
}

.bg-transparent {
  background-color: transparent!important;
}

.m-auto {
  margin: auto;
}

.color-blue {
  color: $blue;
}

.color-dark-gray {
  color: $dark-gray;
}

.w-100 {
  width: 100%;
}

.w-95 {
  width: 95%;
}

.text-uppercase {
  text-transform: uppercase;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.p-0 {
  padding: 0;
}

.pt-4 {
  padding-top: 4px!important;
}

.pb-4 {
  padding-bottom: 4px!important;
}

.pb-8 {
  padding-bottom: 8px!important;
}

.pb-12 {
  padding-bottom: 12px!important;
}

.pt-16 {
  padding-top: 16px;
}

.m-0 {
  margin: 0!important;
}

.mt-6 {
  margin-top: 6px!important;
}

.ml-8 {
  margin-left: 8px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-15 {
  margin-left: 15px;
}

.mb-2 {
  margin-bottom: 2px!important;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.f-15 {
  font-size: 15px;
}

.f-18 {
  font-size: 18px;
}

.f-19 {
  font-size: 19px;
}

.f-21 {
  font-size: 21px;
}

.footer {
  background-color: $secondary-color!important;
}

.footer p {
  margin-bottom: 5px;
}

.text-right {
  text-align: right;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-semiBold {
  font-weight: 600;
}

.header,
.main-message_wrapper,
.data-wrapper {
  border-bottom: 1px solid rgba(darken($dark-gray, 19.61), .1);
}

.data-content .key {
  margin: 0;
  white-space: nowrap;
}

.trip-img {
  border-radius: 10px;
}

.price-table {

  .values {
    font-weight: 200;
    color: $medium-gray;
  }

  tr:not(:first-child) td{
    border-top: 1px solid $light-gray;
  }

  td {
    padding: .5rem;

    &:nth-child(2){
      border-left: 1px solid $light-gray;
      text-align: right;
      vertical-align: bottom;
      white-space: nowrap;
    }

  }

  tfoot>tr>td {
    background: #f1f1f1;

    &:last-child{
      border-left-color: $white;
    }

  }

  &-lg tfoot>tr>td {
    padding-top: 1.5em;
  }

}

.o-separatedList {
  list-style-type: none;
  color: $dark-gray;

  &_item:not(:last-child) {
    border-right: 1px solid $dark-gray;
    padding-right: 10px;
    margin-right: 4px;
  }

}

.tripElements {

  &_border {
    border-bottom: 1px solid rgba(#21BA96, 0.21);
  }

}

.c-img {
  display: inline-block!important;
  width: 100%!important;
}

.no-bb {
  border-bottom: 0;
}

.main-message_item {
  vertical-align: middle;
}

.main-message_item.icon {
  width: 55px!important;
}

.o-attributeTable {
  list-style-type: none;

  &_item {
    line-height: 1.6;
  }

  &-list {

    .o-attributeTable_item {
      display: table-row;
    }

  }

  &-inline {

    .o-attributeTable_item {
      display: inline-block;
      width: 49%;
    }

  }

}

.o-eventItem {

  &_description {
    min-height: 38px;
  }

}

.footer-col {
  display: block;
  padding-left: 15px;
  border-left: 1px solid #6998C2;
}

.footer p.copyright-text {
  font-size: 14px;
  color: #88B5D5!important;
  font-weight: 300;
}

.hexis-logo {
  width: 60px;
}

@media only screen and (min-width: $global-breakpoint) {

  .c-img {
    max-width: 95%!important;
  }

  .footer .contact .columns {
    min-width: 90px;
  }

  .main-message_item.icon {
    padding-right: 10px;
  }

  .trip-img {
    width: 70px;
  }

}

@media only screen and (max-width: $global-breakpoint) {

  .small-d-block {
    display: block;
  }

  .main-message_item.icon {
    padding-bottom: 10px!important;

    img {
      display: inline!important;
    }

  }

}
