.iti-flag {
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url(../img/flags.png);
  background-image: url(../img/flags.svg), none
}

.iti-flag.ad {
  background-position: 7.6923076923076925% 0
}

.iti-flag.ae {
  background-position: 30.76923076923077% 70.58823529411765%
}

.iti-flag.af {
  background-position: 0 5.882352941176471%
}

.iti-flag.ag {
  background-position: 7.6923076923076925% 5.882352941176471%
}

.iti-flag.ai {
  background-position: 15.384615384615385% 0
}

.iti-flag.al {
  background-position: 15.384615384615385% 5.882352941176471%
}

.iti-flag.am {
  background-position: 0 11.764705882352942%
}

.iti-flag.ao {
  background-position: 7.6923076923076925% 11.764705882352942%
}

.iti-flag.aq {
  background-position: 15.384615384615385% 11.764705882352942%
}

.iti-flag.ar {
  background-position: 0 17.647058823529413%
}

.iti-flag.as {
  background-position: 7.6923076923076925% 17.647058823529413%
}

.iti-flag.at {
  background-position: 15.384615384615385% 17.647058823529413%
}

.iti-flag.au {
  background-position: 23.076923076923077% 0
}

.iti-flag.aw {
  background-position: 23.076923076923077% 5.882352941176471%
}

.iti-flag.ax {
  background-position: 23.076923076923077% 11.764705882352942%
}

.iti-flag.az {
  background-position: 23.076923076923077% 17.647058823529413%
}

.iti-flag.ba {
  background-position: 0 23.529411764705884%
}

.iti-flag.bb {
  background-position: 7.6923076923076925% 23.529411764705884%
}

.iti-flag.bd {
  background-position: 15.384615384615385% 23.529411764705884%
}

.iti-flag.be {
  background-position: 23.076923076923077% 23.529411764705884%
}

.iti-flag.bf {
  background-position: 30.76923076923077% 0
}

.iti-flag.bg {
  background-position: 30.76923076923077% 5.882352941176471%
}

.iti-flag.bh {
  background-position: 30.76923076923077% 11.764705882352942%
}

.iti-flag.bi {
  background-position: 30.76923076923077% 17.647058823529413%
}

.iti-flag.bj {
  background-position: 30.76923076923077% 23.529411764705884%
}

.iti-flag.bl {
  background-position: 0 29.41176470588235%
}

.iti-flag.bm {
  background-position: 7.6923076923076925% 29.41176470588235%
}

.iti-flag.bn {
  background-position: 15.384615384615385% 29.41176470588235%
}

.iti-flag.bo {
  background-position: 23.076923076923077% 29.41176470588235%
}

.iti-flag.bq {
  background-position: 30.76923076923077% 29.41176470588235%
}

.iti-flag.br {
  background-position: 38.46153846153846% 0
}

.iti-flag.bs {
  background-position: 38.46153846153846% 5.882352941176471%
}

.iti-flag.bt {
  background-position: 38.46153846153846% 11.764705882352942%
}

.iti-flag.bv {
  background-position: 38.46153846153846% 17.647058823529413%
}

.iti-flag.bw {
  background-position: 38.46153846153846% 23.529411764705884%
}

.iti-flag.by {
  background-position: 38.46153846153846% 29.41176470588235%
}

.iti-flag.bz {
  background-position: 0 35.294117647058826%
}

.iti-flag.ca {
  background-position: 7.6923076923076925% 35.294117647058826%
}

.iti-flag.cc {
  background-position: 15.384615384615385% 35.294117647058826%
}

.iti-flag.cd {
  background-position: 23.076923076923077% 35.294117647058826%
}

.iti-flag.cf {
  background-position: 30.76923076923077% 35.294117647058826%
}

.iti-flag.cg {
  background-position: 38.46153846153846% 35.294117647058826%
}

.iti-flag.ch {
  background-position: 0 41.1764705882353%
}

.iti-flag.ci {
  background-position: 7.6923076923076925% 41.1764705882353%
}

.iti-flag.ck {
  background-position: 15.384615384615385% 41.1764705882353%
}

.iti-flag.cl {
  background-position: 23.076923076923077% 41.1764705882353%
}

.iti-flag.cm {
  background-position: 30.76923076923077% 41.1764705882353%
}

.iti-flag.cn {
  background-position: 38.46153846153846% 41.1764705882353%
}

.iti-flag.co {
  background-position: 46.15384615384615% 0
}

.iti-flag.cr {
  background-position: 46.15384615384615% 5.882352941176471%
}

.iti-flag.cu {
  background-position: 46.15384615384615% 11.764705882352942%
}

.iti-flag.cv {
  background-position: 46.15384615384615% 17.647058823529413%
}

.iti-flag.cw {
  background-position: 46.15384615384615% 23.529411764705884%
}

.iti-flag.cx {
  background-position: 46.15384615384615% 29.41176470588235%
}

.iti-flag.cy {
  background-position: 46.15384615384615% 35.294117647058826%
}

.iti-flag.cz {
  background-position: 46.15384615384615% 41.1764705882353%
}

.iti-flag.de {
  background-position: 0 47.05882352941177%
}

.iti-flag.dj {
  background-position: 7.6923076923076925% 47.05882352941177%
}

.iti-flag.dk {
  background-position: 15.384615384615385% 47.05882352941177%
}

.iti-flag.dm {
  background-position: 23.076923076923077% 47.05882352941177%
}

.iti-flag.do {
  background-position: 30.76923076923077% 47.05882352941177%
}

.iti-flag.dz {
  background-position: 38.46153846153846% 47.05882352941177%
}

.iti-flag.ec {
  background-position: 46.15384615384615% 47.05882352941177%
}

.iti-flag.ee {
  background-position: 53.84615384615385% 0
}

.iti-flag.eg {
  background-position: 53.84615384615385% 5.882352941176471%
}

.iti-flag.eh {
  background-position: 53.84615384615385% 11.764705882352942%
}

.iti-flag.er {
  background-position: 53.84615384615385% 17.647058823529413%
}

.iti-flag.es {
  background-position: 53.84615384615385% 23.529411764705884%
}

.iti-flag.et {
  background-position: 53.84615384615385% 29.41176470588235%
}

.iti-flag.fi {
  background-position: 53.84615384615385% 35.294117647058826%
}

.iti-flag.fj {
  background-position: 53.84615384615385% 41.1764705882353%
}

.iti-flag.fk {
  background-position: 53.84615384615385% 47.05882352941177%
}

.iti-flag.fm {
  background-position: 0 52.94117647058823%
}

.iti-flag.fo {
  background-position: 7.6923076923076925% 52.94117647058823%
}

.iti-flag.fr {
  background-position: 15.384615384615385% 52.94117647058823%
}

.iti-flag.ga {
  background-position: 23.076923076923077% 52.94117647058823%
}

.iti-flag.gb {
  background-position: 30.76923076923077% 52.94117647058823%
}

.iti-flag.gd {
  background-position: 38.46153846153846% 52.94117647058823%
}

.iti-flag.ge {
  background-position: 46.15384615384615% 52.94117647058823%
}

.iti-flag.gf {
  background-position: 53.84615384615385% 52.94117647058823%
}

.iti-flag.gg {
  background-position: 61.53846153846154% 0
}

.iti-flag.gh {
  background-position: 61.53846153846154% 5.882352941176471%
}

.iti-flag.gi {
  background-position: 61.53846153846154% 11.764705882352942%
}

.iti-flag.gl {
  background-position: 61.53846153846154% 17.647058823529413%
}

.iti-flag.gm {
  background-position: 61.53846153846154% 23.529411764705884%
}

.iti-flag.gn {
  background-position: 61.53846153846154% 29.41176470588235%
}

.iti-flag.gp {
  background-position: 61.53846153846154% 35.294117647058826%
}

.iti-flag.gq {
  background-position: 61.53846153846154% 41.1764705882353%
}

.iti-flag.gr {
  background-position: 61.53846153846154% 47.05882352941177%
}

.iti-flag.gs {
  background-position: 61.53846153846154% 52.94117647058823%
}

.iti-flag.gt {
  background-position: 0 58.8235294117647%
}

.iti-flag.gu {
  background-position: 7.6923076923076925% 58.8235294117647%
}

.iti-flag.gw {
  background-position: 15.384615384615385% 58.8235294117647%
}

.iti-flag.gy {
  background-position: 23.076923076923077% 58.8235294117647%
}

.iti-flag.hk {
  background-position: 30.76923076923077% 58.8235294117647%
}

.iti-flag.hm {
  background-position: 38.46153846153846% 58.8235294117647%
}

.iti-flag.hn {
  background-position: 46.15384615384615% 58.8235294117647%
}

.iti-flag.hr {
  background-position: 53.84615384615385% 58.8235294117647%
}

.iti-flag.ht {
  background-position: 61.53846153846154% 58.8235294117647%
}

.iti-flag.hu {
  background-position: 0 64.70588235294117%
}

.iti-flag.id {
  background-position: 7.6923076923076925% 64.70588235294117%
}

.iti-flag.ie {
  background-position: 15.384615384615385% 64.70588235294117%
}

.iti-flag.il {
  background-position: 23.076923076923077% 64.70588235294117%
}

.iti-flag.im {
  background-position: 30.76923076923077% 64.70588235294117%
}

.iti-flag.in {
  background-position: 38.46153846153846% 64.70588235294117%
}

.iti-flag.io {
  background-position: 46.15384615384615% 64.70588235294117%
}

.iti-flag.iq {
  background-position: 53.84615384615385% 64.70588235294117%
}

.iti-flag.ir {
  background-position: 61.53846153846154% 64.70588235294117%
}

.iti-flag.is {
  background-position: 69.23076923076923% 0
}

.iti-flag.it {
  background-position: 69.23076923076923% 5.882352941176471%
}

.iti-flag.je {
  background-position: 69.23076923076923% 11.764705882352942%
}

.iti-flag.jm {
  background-position: 69.23076923076923% 17.647058823529413%
}

.iti-flag.jo {
  background-position: 69.23076923076923% 23.529411764705884%
}

.iti-flag.jp {
  background-position: 69.23076923076923% 29.41176470588235%
}

.iti-flag.ke {
  background-position: 69.23076923076923% 35.294117647058826%
}

.iti-flag.kg {
  background-position: 69.23076923076923% 41.1764705882353%
}

.iti-flag.kh {
  background-position: 69.23076923076923% 47.05882352941177%
}

.iti-flag.ki {
  background-position: 69.23076923076923% 52.94117647058823%
}

.iti-flag.km {
  background-position: 69.23076923076923% 58.8235294117647%
}

.iti-flag.kn {
  background-position: 69.23076923076923% 64.70588235294117%
}

.iti-flag.kp {
  background-position: 0 70.58823529411765%
}

.iti-flag.kr {
  background-position: 7.6923076923076925% 70.58823529411765%
}

.iti-flag.kw {
  background-position: 15.384615384615385% 70.58823529411765%
}

.iti-flag.ky {
  background-position: 23.076923076923077% 70.58823529411765%
}

.iti-flag.kz {
  background-position: 0 0
}

.iti-flag.la {
  background-position: 38.46153846153846% 70.58823529411765%
}

.iti-flag.lb {
  background-position: 46.15384615384615% 70.58823529411765%
}

.iti-flag.lc {
  background-position: 53.84615384615385% 70.58823529411765%
}

.iti-flag.li {
  background-position: 61.53846153846154% 70.58823529411765%
}

.iti-flag.lk {
  background-position: 69.23076923076923% 70.58823529411765%
}

.iti-flag.lr {
  background-position: 76.92307692307692% 0
}

.iti-flag.ls {
  background-position: 76.92307692307692% 5.882352941176471%
}

.iti-flag.lt {
  background-position: 76.92307692307692% 11.764705882352942%
}

.iti-flag.lu {
  background-position: 76.92307692307692% 17.647058823529413%
}

.iti-flag.lv {
  background-position: 76.92307692307692% 23.529411764705884%
}

.iti-flag.ly {
  background-position: 76.92307692307692% 29.41176470588235%
}

.iti-flag.ma {
  background-position: 76.92307692307692% 35.294117647058826%
}

.iti-flag.mc {
  background-position: 76.92307692307692% 41.1764705882353%
}

.iti-flag.md {
  background-position: 76.92307692307692% 47.05882352941177%
}

.iti-flag.me {
  background-position: 76.92307692307692% 52.94117647058823%
}

.iti-flag.mf {
  background-position: 76.92307692307692% 58.8235294117647%
}

.iti-flag.mg {
  background-position: 76.92307692307692% 64.70588235294117%
}

.iti-flag.mh {
  background-position: 76.92307692307692% 70.58823529411765%
}

.iti-flag.mk {
  background-position: 0 76.47058823529412%
}

.iti-flag.ml {
  background-position: 7.6923076923076925% 76.47058823529412%
}

.iti-flag.mm {
  background-position: 15.384615384615385% 76.47058823529412%
}

.iti-flag.mn {
  background-position: 23.076923076923077% 76.47058823529412%
}

.iti-flag.mo {
  background-position: 30.76923076923077% 76.47058823529412%
}

.iti-flag.mp {
  background-position: 38.46153846153846% 76.47058823529412%
}

.iti-flag.mq {
  background-position: 46.15384615384615% 76.47058823529412%
}

.iti-flag.mr {
  background-position: 53.84615384615385% 76.47058823529412%
}

.iti-flag.ms {
  background-position: 61.53846153846154% 76.47058823529412%
}

.iti-flag.mt {
  background-position: 69.23076923076923% 76.47058823529412%
}

.iti-flag.mu {
  background-position: 76.92307692307692% 76.47058823529412%
}

.iti-flag.mv {
  background-position: 84.61538461538461% 0
}

.iti-flag.mw {
  background-position: 84.61538461538461% 5.882352941176471%
}

.iti-flag.mx {
  background-position: 84.61538461538461% 11.764705882352942%
}

.iti-flag.my {
  background-position: 84.61538461538461% 17.647058823529413%
}

.iti-flag.mz {
  background-position: 84.61538461538461% 23.529411764705884%
}

.iti-flag.na {
  background-position: 84.61538461538461% 29.41176470588235%
}

.iti-flag.nc {
  background-position: 84.61538461538461% 35.294117647058826%
}

.iti-flag.ne {
  background-position: 84.61538461538461% 41.1764705882353%
}

.iti-flag.nf {
  background-position: 84.61538461538461% 47.05882352941177%
}

.iti-flag.ng {
  background-position: 84.61538461538461% 52.94117647058823%
}

.iti-flag.ni {
  background-position: 84.61538461538461% 58.8235294117647%
}

.iti-flag.nl {
  background-position: 84.61538461538461% 64.70588235294117%
}

.iti-flag.no {
  background-position: 84.61538461538461% 70.58823529411765%
}

.iti-flag.np {
  background-position: 84.61538461538461% 76.47058823529412%
}

.iti-flag.nr {
  background-position: 0 82.3529411764706%
}

.iti-flag.nu {
  background-position: 7.6923076923076925% 82.3529411764706%
}

.iti-flag.nz {
  background-position: 15.384615384615385% 82.3529411764706%
}

.iti-flag.om {
  background-position: 23.076923076923077% 82.3529411764706%
}

.iti-flag.pa {
  background-position: 30.76923076923077% 82.3529411764706%
}

.iti-flag.pe {
  background-position: 38.46153846153846% 82.3529411764706%
}

.iti-flag.pf {
  background-position: 46.15384615384615% 82.3529411764706%
}

.iti-flag.pg {
  background-position: 53.84615384615385% 82.3529411764706%
}

.iti-flag.ph {
  background-position: 61.53846153846154% 82.3529411764706%
}

.iti-flag.pk {
  background-position: 69.23076923076923% 82.3529411764706%
}

.iti-flag.pl {
  background-position: 76.92307692307692% 82.3529411764706%
}

.iti-flag.pm {
  background-position: 84.61538461538461% 82.3529411764706%
}

.iti-flag.pn {
  background-position: 0 88.23529411764706%
}

.iti-flag.pr {
  background-position: 7.6923076923076925% 88.23529411764706%
}

.iti-flag.ps {
  background-position: 15.384615384615385% 88.23529411764706%
}

.iti-flag.pt {
  background-position: 23.076923076923077% 88.23529411764706%
}

.iti-flag.pw {
  background-position: 30.76923076923077% 88.23529411764706%
}

.iti-flag.py {
  background-position: 38.46153846153846% 88.23529411764706%
}

.iti-flag.qa {
  background-position: 46.15384615384615% 88.23529411764706%
}

.iti-flag.re {
  background-position: 53.84615384615385% 88.23529411764706%
}

.iti-flag.ro {
  background-position: 61.53846153846154% 88.23529411764706%
}

.iti-flag.rs {
  background-position: 69.23076923076923% 88.23529411764706%
}

.iti-flag.ru {
  background-position: 76.92307692307692% 88.23529411764706%
}

.iti-flag.rw {
  background-position: 84.61538461538461% 88.23529411764706%
}

.iti-flag.sa {
  background-position: 92.3076923076923% 0
}

.iti-flag.sb {
  background-position: 92.3076923076923% 5.882352941176471%
}

.iti-flag.sc {
  background-position: 92.3076923076923% 11.764705882352942%
}

.iti-flag.sd {
  background-position: 92.3076923076923% 17.647058823529413%
}

.iti-flag.se {
  background-position: 92.3076923076923% 23.529411764705884%
}

.iti-flag.sg {
  background-position: 92.3076923076923% 29.41176470588235%
}

.iti-flag.sh {
  background-position: 92.3076923076923% 35.294117647058826%
}

.iti-flag.si {
  background-position: 92.3076923076923% 41.1764705882353%
}

.iti-flag.sj {
  background-position: 92.3076923076923% 47.05882352941177%
}

.iti-flag.sk {
  background-position: 92.3076923076923% 52.94117647058823%
}

.iti-flag.sl {
  background-position: 92.3076923076923% 58.8235294117647%
}

.iti-flag.sm {
  background-position: 92.3076923076923% 64.70588235294117%
}

.iti-flag.sn {
  background-position: 92.3076923076923% 70.58823529411765%
}

.iti-flag.so {
  background-position: 92.3076923076923% 76.47058823529412%
}

.iti-flag.sr {
  background-position: 92.3076923076923% 82.3529411764706%
}

.iti-flag.ss {
  background-position: 92.3076923076923% 88.23529411764706%
}

.iti-flag.st {
  background-position: 0 94.11764705882354%
}

.iti-flag.sv {
  background-position: 7.6923076923076925% 94.11764705882354%
}

.iti-flag.sx {
  background-position: 15.384615384615385% 94.11764705882354%
}

.iti-flag.sy {
  background-position: 23.076923076923077% 94.11764705882354%
}

.iti-flag.sz {
  background-position: 30.76923076923077% 94.11764705882354%
}

.iti-flag.tc {
  background-position: 38.46153846153846% 94.11764705882354%
}

.iti-flag.td {
  background-position: 46.15384615384615% 94.11764705882354%
}

.iti-flag.tf {
  background-position: 53.84615384615385% 94.11764705882354%
}

.iti-flag.tg {
  background-position: 61.53846153846154% 94.11764705882354%
}

.iti-flag.th {
  background-position: 69.23076923076923% 94.11764705882354%
}

.iti-flag.tj {
  background-position: 76.92307692307692% 94.11764705882354%
}

.iti-flag.tk {
  background-position: 84.61538461538461% 94.11764705882354%
}

.iti-flag.tl {
  background-position: 92.3076923076923% 94.11764705882354%
}

.iti-flag.tm {
  background-position: 100% 0
}

.iti-flag.tn {
  background-position: 100% 5.882352941176471%
}

.iti-flag.to {
  background-position: 100% 11.764705882352942%
}

.iti-flag.tr {
  background-position: 100% 17.647058823529413%
}

.iti-flag.tt {
  background-position: 100% 23.529411764705884%
}

.iti-flag.tv {
  background-position: 100% 29.41176470588235%
}

.iti-flag.tw {
  background-position: 100% 35.294117647058826%
}

.iti-flag.tz {
  background-position: 100% 41.1764705882353%
}

.iti-flag.ua {
  background-position: 100% 47.05882352941177%
}

.iti-flag.ug {
  background-position: 100% 52.94117647058823%
}

.iti-flag.um {
  background-position: 100% 58.8235294117647%
}

.iti-flag.us {
  background-position: 100% 64.70588235294117%
}

.iti-flag.uy {
  background-position: 100% 70.58823529411765%
}

.iti-flag.uz {
  background-position: 100% 76.47058823529412%
}

.iti-flag.va {
  background-position: 100% 82.3529411764706%
}

.iti-flag.vc {
  background-position: 100% 88.23529411764706%
}

.iti-flag.ve {
  background-position: 100% 94.11764705882354%
}

.iti-flag.vg {
  background-position: 0 100%
}

.iti-flag.vi {
  background-position: 7.6923076923076925% 100%
}

.iti-flag.vn {
  background-position: 15.384615384615385% 100%
}

.iti-flag.vu {
  background-position: 23.076923076923077% 100%
}

.iti-flag.wf {
  background-position: 30.76923076923077% 100%
}

.iti-flag.ws {
  background-position: 38.46153846153846% 100%
}

.iti-flag.ye {
  background-position: 46.15384615384615% 100%
}

.iti-flag.yt {
  background-position: 53.84615384615385% 100%
}

.iti-flag.za {
  background-position: 61.53846153846154% 100%
}

.iti-flag.zm {
  background-position: 69.23076923076923% 100%
}

.iti-flag.zw {
  background-position: 76.92307692307692% 100%
}

.intl-tel-input {
  position: relative;
  display: inline-block
}

.intl-tel-input * {
  box-sizing: border-box;
  -moz-box-sizing: border-box
}

.intl-tel-input .hide {
  display: none
}

.intl-tel-input .v-hide {
  visibility: hidden
}

.intl-tel-input input,
.intl-tel-input input[type=text],
.intl-tel-input input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 44px;
  margin-left: 0;
  transition: background-color 100ms ease-out
}

.intl-tel-input input.iti-invalid-key {
  transition: background-color 0;
  background-color: #FFC7C7
}

.intl-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1px
}

.intl-tel-input .flag-dropdown:hover {
  cursor: pointer
}

.intl-tel-input .flag-dropdown:hover .selected-flag {
  background-color: rgba(0, 0, 0, 0.05)
}

.intl-tel-input input[disabled]+.flag-dropdown:hover,
.intl-tel-input input[readonly]+.flag-dropdown:hover {
  cursor: default
}

.intl-tel-input input[disabled]+.flag-dropdown:hover .selected-flag,
.intl-tel-input input[readonly]+.flag-dropdown:hover .selected-flag {
  background-color: transparent
}

.intl-tel-input .selected-flag {
  z-index: 1;
  position: relative;
  width: 38px;
  height: 100%;
  padding: 0 0 0 8px
}

.intl-tel-input .selected-flag .iti-flag {
  position: absolute;
  top: 50%;
  margin-top: -5px
}

.intl-tel-input .selected-flag .arrow {
  position: relative;
  top: 50%;
  margin-top: -2px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555
}

.intl-tel-input .selected-flag .arrow.up {
  border-top: none;
  border-bottom: 4px solid #555
}

.intl-tel-input .country-list {
  list-style: none;
  position: absolute;
  z-index: 2;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll
}

.intl-tel-input .country-list .iti-flag {
  display: inline-block
}

@media (max-width: 500px) {

  .intl-tel-input .country-list {
    white-space: normal
  }

}

.intl-tel-input .country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC;
}

.intl-tel-input .country-list .country {
  padding: 5px 10px
}

.intl-tel-input .country-list .country .dial-code {
  color: #999
}

.intl-tel-input .country-list .country.highlight {
  background-color: rgba(0, 0, 0, 0.05)
}

.intl-tel-input .country-list .iti-flag,
.intl-tel-input .country-list .country-name {
  margin-right: 6px
}

// --------------------------------------Custom overwrites-------------------------------------------------------------

.iti-flag {
  height: 12px!important;
  margin-top: 10px!important;
  border-radius: 1px;
  background-image: url('../media/flags/flags.svg');
  box-shadow: 0 0 1px 1px rgba($black, .1);
}

.intl-tel-input {
  width: 100%;
}

.intl-tel-input input, .intl-tel-input input[type=tel], .intl-tel-input input[type=text] {
  padding-left: 45px;
}

.intl-tel-input .flag-container {
  right: auto;
  left: 0;
}

.intl-tel-input .selected-flag {
  padding-left: 15px;
  transform: scale(1.5);
}
