.lg-outer .lg-item {
  background: url("../media/app/loading.gif") no-repeat scroll center center transparent;
}

.lg-outer .lg-has-vimeo .lg-video-play {
  background: url("../media/app/vimeo-play.png") no-repeat scroll 0 0 transparent;
}

.lg-outer .lg-has-vimeo:hover .lg-video-play {
  background: url("../media/app/vimeo-play.png") no-repeat scroll 0 -58px transparent;
}

.lg-outer .lg-has-html5 .lg-video-play {
  background: transparent url("../media/app/video-play.png") no-repeat scroll 0 0;
}

.lg-progress-bar .lg-progress{
  background-color: lighten($brand-primary, 10%) !important;
}

.lg-thumb-item.active {
  border-color: lighten($brand-primary, 10%) !important;
}

.lg-thumb-item:hover {
  border-color: lighten($brand-primary, 25%) !important;
}
