<footer class="o-mainFooter">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container">

    <div class="col">
      <h2 class="c-ttl c-ttl-head">Connect</h2>
    </div>

    <div class="col col-5">
      <ul class="o-contact-list">
        {%- if site.email -%}
          <li class="o-contact-list_item">
            <a class="c-link" href="mailto:{{ site.email }}">
              <img class="c-img -account" src="images/gmail.svg" alt="gmail">
              <span class="username">{{ site.email }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if site.github_username -%}
          <li class="o-contact-list_item">
            <a class="c-link" target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
              <img class="c-img -account" src="images/github.svg" alt="github">
              <span class="username">{{ site.github_username| escape }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if site.twitter_username -%}
        <li class="o-contact-list_item">
          <a class="c-link" target="_blank" href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
            <img class="c-img -account" src="images/twitter.svg" alt="twitter">
            <span class="username">{{ site.twitter_username| escape }}</span>
          </a>
        </li>
        {%- endif -%}
      </ul>
    </div>

    <div class="col col-7">
      <p class="o-contact_msg">{{- site.description-footer | escape -}}</p>
    </div>

  </div>

</footer>
