// Buttons

// Global settings
$btn-padding-y: .75rem;
$btn-padding-x: 1rem;
$btn-border-radius: 0;
$btn-font-size: 1rem;
$btn-font-weight: $font-weight-medium;

// Primary button settings
$btn-primary-bg: #19FFA3;
$btn-primary-bg-hover: darken($btn-primary-bg, 10%);

$btn-primary-color: #021E13;
$btn-primary-color-hover: darken($btn-primary-color, 10%);

$btn-primary-border-width: 0;
$btn-primary-border-width-hover: $btn-primary-border-width;
$btn-primary-border-style: solid;
$btn-primary-border-style-hover: $btn-primary-border-style;
$btn-primary-border-color: $white;
$btn-primary-border-color-hover: darken($btn-primary-border-color, 10%);

// Primary button light settings
$btn-primary-light-bg: #00C763;
$btn-primary-light-bg-hover: darken($btn-primary-light-bg, 2%);

$btn-primary-light-color: $white;
$btn-primary-light-color-hover: darken($btn-primary-light-color, 10%);

$btn-primary-light-border-width: 0;
$btn-primary-light-border-width-hover: $btn-primary-border-width;
$btn-primary-light-border-style: solid;
$btn-primary-light-border-style-hover: $btn-primary-border-style;
$btn-primary-light-border-color: $btn-primary-light-bg;
$btn-primary-light-border-color-hover: darken($btn-primary-light-border-color, 10%);


// Secondary button settings
$btn-secondary-bg: $brand-secondary;
$btn-secondary-bg-hover: darken($btn-secondary-bg, 10%);

$btn-secondary-darken-bg: #00C763;
$btn-secondary-darken-bg-hover: darken($btn-secondary-darken-bg, 10%);

$btn-secondary-color: $brand-primary;
$btn-secondary-color-hover: darken($btn-secondary-color, 10%);

$btn-secondary-border-width: 0;
$btn-secondary-border-width-hover: $btn-secondary-border-width;
$btn-secondary-border-style: solid;
$btn-secondary-border-style-hover: $btn-secondary-border-style;
$btn-secondary-border-color: $white;
$btn-secondary-border-color-hover: darken($btn-secondary-border-color, 10%);

.c-btn {
  @include transition($time: 50ms);
  @include font-size(17);
  display: inline-flex;
  justify-content: center;
  border-radius: $btn-border-radius;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  font-family: $font-family-heading;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  -webkit-touch-callout: none;
  box-shadow: 0 3px 12px 0 rgba($black, .08);

  &[disabled],
  &:disabled {
    cursor: not-allowed;
    opacity: .6;
  }

  &, &:focus {
    outline: 0;
  }

  @include print {
    display: none;
  }

  @include mobilePlusDown {
    display: flex;
    width: 100%;
  }

  &-primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    border-width: $btn-primary-border-width;
    border-style: $btn-primary-border-style;
    border-color: $btn-primary-border-color;
    border-radius: 2px;

    &:hover {
      background-color: $btn-primary-bg-hover;
      color: $btn-primary-color-hover;
      border-color: $btn-primary-border-color-hover;
    }

    &-light {
      background-color: $btn-primary-light-bg;
      color: $btn-primary-light-color;
      border-width: $btn-primary-light-border-width;
      border-style: $btn-primary-light-border-style;
      border-color: $btn-primary-light-border-color;

      &:hover {
        background-color: $btn-primary-light-bg-hover;
        color: $btn-primary-light-color-hover;
        border-color: $btn-primary-light-border-color-hover;
      }

    }

    > .article {
      display: none;

      @include laptop {

        .p-eventArticle &,
        .p-newsArticle &,
        .p-locationArticle & {
          display: block;

          ~ span.jes {
            display: none!important;
          }

        }

      }

    }

  }

  &-secondary {
    background-color: $btn-secondary-bg;
    color: $btn-secondary-color;
    border-width: $btn-secondary-border-width;
    border-style: $btn-secondary-border-style;
    border-color: $btn-secondary-border-color;

    &:hover {
      background-color: $btn-secondary-bg-hover;
      color: $btn-secondary-color-hover;
      border-color: $btn-secondary-border-color-hover;
    }

  }

  &-secondary-darken {
    border-width: $btn-secondary-border-width;
    border-style: $btn-secondary-border-style;
    border-color: $btn-secondary-border-color;
    background-color: $btn-secondary-darken-bg;
    color: $white;

    &:hover {
      background-color: $btn-secondary-darken-bg-hover;
    }

  }

  &-neutral {
    background-color: $white;
    color: $brand-primary;
    border: 1px solid rgba($brand-primary, .15);
    box-shadow: none;
    font-weight: $font-weight-regular;

    &:hover {
      background-color: darken($white, 10%);
    }

  }

  .o-reservationForm_promoCode & {
    min-width: 5.125rem; /* 82/16 */
    position: absolute;
    top: -1px;
    right: 0;
    border-bottom: 0;
  }

  // When promo code in inserted
  .o-reservationForm_promoCode .form-group.active ~ & {
    border-color: $brand-primary;
    color: $brand-primary;
  }

  &.-reserveNow &_inner {
    @extend %no-repeat;
    @extend %bg-contain;
    padding-left: 1.5rem;
    background-image: url('../media/app/padlock.svg');
    background-position: left center;
    font-weight: $font-weight-medium;
  }

  &-disabled {
    background-color: $white;
    color: #BABABA;
    border: 1px solid #DFDFDF;
    box-shadow: none;
    font-weight: $font-weight-regular;

    &:hover {
      background-color: darken($white, 10%);
    }

  }

  .o-search_tabs &.map {

    @include laptopDown {
      display: none!important;
    }

  }

  &.-smaller {
    padding: .406rem 1rem; /* 6.5/16 */
  }

  &-blue {
    @include font-size(15);
    display: none;
    padding: .5rem .6rem;
    border-color: $brand-primary;
    border-style: $btn-secondary-border-style;
    border-width: $btn-secondary-border-width;
    border-radius: 3px;
    background-color: $brand-primary;
    color: $white;
    font-weight: $font-weight-medium;
    box-shadow: none;
    transition: box-shadow 175ms cubic-bezier(.25,.8,.25,1);

    &:hover,
    &:focus {
      box-shadow: 0 3px 6px rgba($black, .16), 0 3px 6px rgba($black, .23);
    }

    &:active {
      box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);
    }

    &.active {
      display: block;
      z-index: 1;
    }

    @include laptopDown {

      .o-search_order & {
        display: inline-block;
        width: auto;
        background-color: transparent;
        color: $brand-primary;
  
        &:hover,
        &:focus,
        &:active {
          box-shadow: none;
        }
  
      }

      &.map {
        position: absolute;
        right: 0;
        top: 87px;
        width: auto;
        background-color: transparent;
        color: $brand-primary;

        &:hover,
        &:focus,
        &:active {
          box-shadow: none;
        }

      }

      &.list {
        position: fixed;
        top: 70px;
        right: 10px;
        width: auto;
        box-shadow: 0 5px 15px 0 rgba($black, .25);
        border-radius: 26px;

        &:active {
          box-shadow: 0 3px 6px rgba($black, .16), 0 3px 6px rgba($black, .23);
        }

      }

    }

    @include tabletPlusDown {

      &.map {
        top: 84px;
      }

    }

    @include laptop {

      .o-search_order & {
        display: none;
      }

    }

  }

  .o-mainSearch_item & {
    padding: 1rem;
  }

  &-refine {
    @include font-size(15);
    padding: .75rem .625rem;
    border: 1px solid rgba($white, .35);
    border-radius: 6px;
    font-weight: $font-weight-semiBold;
  }

  .o-newsletter & {
    @include font-size(14);
    padding: .906rem;
    transition: none;
    color: $brand-secondary;
    background-color: rgba(darken(desaturate($brand-primary, 1.40), 37.06), .35);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;

    @include ie {
      flex: .6;
    }

    @include tabletDown {
      width: auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: $btn-border-radius;
      border-bottom-left-radius: $btn-border-radius;
    }

  }

  .o-modal.-unit & {
    @extend %absoluteFull;
    @extend %no-repeat;
    top: auto;
    width: 100%;
    padding: 1rem;
    background-image: url('../media/app/arrow-right-black.svg');
    background-size: 17px;
    background-position: 96% center;

    @include laptop {
      left: auto;
      width: 26.5rem; /* 424/16 */

      @include ie {
        width: 27.8rem;
      }
      
    }

  }

  .o-filter_item & {

    @include laptop {
      margin-top: 15px;
    }

  }

  .o-notification_email & {
    margin-top: 20px;
  }

  &-review {

    @include laptopDown {
      width: 100%;
    }

  }

  @include mobilePlus {

    // Size modifiers (note: use along with 'w-100')
    &-mw250 {
      max-width: 250px;
    }

    &-mw335 {
      max-width: 335px;
    }

    &-minw215 {
      min-width: 215px;
    }

    &-minw240 {
      min-width: 240px;
    }

    &-minw180 {
      min-width: 180px;
    }

  }

}
