// Forms
$input-color-gray: #979797;

// Group
$input-group-margin-bottom: .75rem;


// Control
$input-color: $white;
$input-bg-color: $white;

$input-padding-y: .75rem;
$input-padding-x: .75rem;

$input-border-width: 1px;
$input-border-style: solid;
$input-border-color: rgba($input-color-gray, .25);
$input-border-color-hover: darken($input-border-color, 14%);

$input-border-radius: none;

$input-font-size: 1rem;
$input-font-weight: $font-weight-regular;

$input-line-height: 1.4;


// Label
$input-label-color: #979797;

$input-label-margin-bottom: .25rem;

$input-label-font-size: 13px;
$input-label-font-weight: $font-weight-semiBold;

.form {

  &-group {

    @if $input-group-margin-bottom != 0 {
      margin-bottom: $input-group-margin-bottom;

      .form-group-clean > & {
        margin-bottom: 0;
      }

    }

    .o-newsletter & {

      @include ie {
        flex: 3;
      }
      
    }

    @include laptopDown {

      .o-mainSearch_item.datepicker & {
        width: 100%;
      }

      .o-mainFooter_menu & {
        width: 120px;
      }

    }

    .o-mainSearch_item:not(:last-child) & {
      position: relative;
      border-bottom: 2px solid rgba($white, .25);
    }

    .o-mainSearch_item & {
      margin: 0;

      &:before {
        bottom: -2px;
      }

    }

    // Border effect
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #19FFA3;
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: 175ms transform ease-in;
    }

    &.active:before {
      transform: scaleX(1);
    }

    .form-default &:before {
      background-color: $brand-primary;

      .o-reservationForm_bottom_item & {
        top: 37px;
      }

      .o-reservationForm_promoCode & {
        top: auto;
      }

    }

    &-rating {
      overflow: hidden;
      display: inline-block;
    }

  }

  &-control {
    @extend %cursor-pointer;
    display: block;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    border-width: $input-border-width;
    border-style: $input-border-style;
    border-color: $input-border-color;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    color: $input-color;
    line-height: $input-line-height;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    font-family: $font-family-base;
    // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
    background-color: transparent;
    background-image: none;
    background-clip: padding-box;
    box-shadow: none;

    .form-group.active & {
      cursor: text;
    }

    &::placeholder {
      @include transition($time: 50ms);
      opacity: 0;
    }

    &:focus::placeholder {
      opacity: 1;
    }

    .form-default & {
      color: $color-text-neutral;
      padding-right: 0;
      padding-bottom: .188rem;
      padding-left: 0;
    }

    &:not(.hasDatepicker) {
      @include transition();
    }

    @if $input-border-radius != 0 {
      border-radius: $input-border-radius;
    }

    &:disabled {
      cursor: not-allowed;
    }

    // .has-error & {
    //   @extend %no-repeat;
    //   border-color: $brand-danger;
    //   background-image: url('../media/app/errorTriangle.svg');
    //   background-size: 1.5rem;
    //   background-position: 98% 50%;
    // }

    &.hasDatepicker {

      &:hover {
        @extend %cursor-pointer;
      }

    }

    .o-search_filtersUpItem & {
      padding: 1.25rem 0 .625rem;
      color: #191919;
    }

    .o-mainSearch_item & {
      padding: 1.25rem 0 .625rem;
      border: none;
      border-radius: 0;
    }

    // Newsletter email input
    .o-newsletter & {
      height: 45px;
      border-color: rgba(darken(desaturate($brand-primary, 1.40), 37.06), .35);
      border-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: rgba(darken(desaturate($brand-primary, 1.40), 37.06), .35);
      color: $white;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        opacity: 1;
        color: #7D9FE5;
      }

    }

    &-order {
      @extend %no-repeat;
      border: none;
      color: $brand-primary;
      font-size: .9375rem;
      padding-right: .9375rem;
      background-image: url('../media/app/chevron-order.svg');
      background-size: 10px 5px;
      background-position: 100% center;
      background-color: transparent;
      background-clip: padding-box;
    }

    .o-reservationForm_promoCode & {
      color: $color-text-neutral;
      padding: .625rem .75rem; /* 10/16 */

      @include laptop {
        padding-right: 6rem;
      }

      &::placeholder {
        opacity: 1;
      }

    }

    .o-mainNavSwitch_item-current & {
      width: 100%;
      padding: 2.101rem 1.625rem 1.4rem 1.6875rem;
      border: 0;
      border-top: 1px solid #298DF9;
    }

    .o-mainFooter_menu & {
      padding: 1.75rem 1.875rem .625rem .625rem;
      border: 1px solid $gray-light;
      border-radius: 3px;
    }

    // Credit cards icon styles on input check
    &.amex,
    &.mastercard,
    &.dinersClub-international,
    &.maestro,
    &.visa,
    &.discover,
    &.dinersClub-blanche,
    &.visa-electron,
    &.discover,
    &.laser,
    &.jcb {
      @extend %no-repeat;
      background-position: left .875rem;
      background-size: 30px;
      padding-left: 2.3rem;
      transition: none;
    }

    &.amex {
      background-image: url('../media/creditCards/amex.svg');
    }

    &.mastercard {
      background-image: url('../media/creditCards/masterCard.svg');
      background-size: 1.875rem; /* 30/16 */
    }

    &.dinersClub-international {
      background-image: url('../media/creditCards/diners.svg');
      background-position: left .875rem; /* 14/16 */
    }

    &.maestro {
      background-image: url('../media/creditCards/maestro.svg');
    }

    &.visa {
      background-image: url('../media/creditCards/visa.svg');
    }

    &.discover {
      background-image: url('../media/creditCards/discover.svg');
    }

    &.dinersClub-blanche {
      background-image: url('../media/creditCards/diners.svg');
    }

    &.visa-electron {
      background-image: url('../media/creditCards/visa-electron.svg');
      background-position: 0 1.063rem; /* 17/16 */
    }

    &.discover {
      background-image: url('../media/creditCards/discover.svg');
    }

    &.laser {
      padding-left: 1.438rem; /* 23/16 */
      background-image: url('../media/creditCards/laser.svg');
      background-size: 1.188rem; /* 19/16 */
    }

    &.jcb {
      padding-left: 1.438rem; /* 23/16 */
      background-image: url('../media/creditCards/jcb.svg');
      background-size: 1.188rem; /* 19/16 */
    }

    @include laptopDown {

      &.query {
        background-size: 14px;
        background-position: 99% 50%;
        background-repeat: no-repeat;
        background-image: url("../media/app/chevron-down-gray.svg");
        background-origin: content-box;
      }

      .p-search &.query {
        color: $input-label-color!important;
        border-bottom: 1px solid rgba($input-label-color, .25)!important;
      }

      .p-search .o-mainSearch_item.select.active & {
        color: #191919;
      }

    }

  }

  &-label {
    @extend %cursor-pointer;
    @include transition();
    display: block;
    margin-bottom: $input-label-margin-bottom;
    color: $input-label-color;
    font-size: $input-label-font-size;
    font-weight: $input-label-font-weight;
    pointer-events: none;

    .o-mainSearch_item &,
    .o-search_filtersUpItem &,
    .form-default & {
      position: absolute;
      top: 50%;
      transition: 175ms transform;
    }

    .form-default & {
      top: 20px;
    }

    .o-mainSearch_item .form-group.active &,
    .o-search_filtersUpItem .form-group.active &,
    .o-search_datepickerWrapper .o-search_datepicker.active &,
    .o-search_filtersUpItem .o-search_location.active & {
      transform: translateY(-155%);
    }

    .o-mainSearch_item & {
      color: rgba($white, .5);
    }

    // Form default styles START
    .form-default .form-group .form-control:focus ~ &,
    .form-default .form-group.active & {
      transform: translateY(-155%);
    }

    .form-default & {
      text-transform: uppercase;
    }

    .form-default &.-review {
      @include font-size(13);
      top: 15px;
      font-weight: $font-weight-regular;
      text-transform: none;

      @include mobilePlus {
        @include font-size(17);
      }

    }

    .form-default .form-group.active & {
      color: $brand-primary;
    }
    // Form default styles STOP

    &-star {
      @extend %cursor-pointer;
      position: relative;
      display: inline-block;
      width: 32px;
      height: 32px;
      background-image: url('../media/app/starEmpty.svg');
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-preload {
      position: absolute;
      background-image: url('../media/app/starFull.svg');
      opacity: 0;
      pointer-events: none;
    }

    &-star:hover {
      background-image: url('../media/app/starFull.svg');
    }

    .form-group-rating:hover &-star:hover,
    .form-group-rating:hover &-star:hover ~ &-star,
    .form-control-star:checked ~ &-star {
      background-image: url('../media/app/starFull.svg');
    }

    &-star,
    .form-group-rating:hover &-star {
      position: relative;
      display: inline-block;
      float: right;
      width: 32px;
      height: 32px;
      background-image: url('../media/app/starEmpty.svg');
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .o-mainNavSwitch_item-current & {
      position: absolute;
      top: 20px;
      left: 26px;
      color: #92B0F3;
      font-size: .75rem;
      font-weight: $font-weight-semiBold;
      line-height: 1;
    }

    .o-mainFooter_menu & {
      top: 16px;
      left: 11px;
      color: #8E8E8E;
    }

  }

  &-check {
    flex: 1 1 100%;

    .o-search_filterRadio &-label {
      @include font-size(15);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      border-top: 1px solid #CED9EF;
      border-right: 1px solid #CED9EF;
      border-bottom: 1px solid #CED9EF;
      color: $brand-primary;
      font-weight: $font-weight-medium;

      &:hover {
        @extend %cursor-pointer;
      }

    }

    .o-search_filterRadio &:first-child &-label {
      border-left: 1px solid #CED9EF;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    .o-search_filterRadio &:last-child &-label {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    // Custom
    .o-search_filterRadio-custom & {
      flex: 0 1 50%;
    }

    .o-search_filterRadio-custom &-label {
      border: none;
      border-radius: 0;
    }

    .o-search_filterRadio-custom &:first-child &-label,
    .o-search_filterRadio-custom &:nth-child(2) &-label {
      border-top: 1px solid #CED9EF;
    }

    .o-search_filterRadio-custom &-label {
      border-bottom: 1px solid #CED9EF;
    }

    .o-search_filterRadio-custom &:nth-child(odd) &-label {
      border-left: 1px solid #CED9EF;
      border-right: 1px solid #CED9EF;
    }

    .o-search_filterRadio-custom &:nth-child(odd):last-child {
      flex-grow: 1;
    }

    .o-search_filterRadio-custom &:nth-child(even) &-label {
      border-right: 1px solid #CED9EF;
    }

    .o-search_filterRadio.odd &:first-child &-label,
    .o-search_filterRadio.even &:first-child &-label {
      border-bottom-left-radius: 0;
    }

    .o-search_filterRadio.odd &:nth-child(2) &-label,
    .o-search_filterRadio.even &:nth-child(2) &-label {
      border-top-right-radius: 6px;
    }

    .o-search_filterRadio.odd &:last-child &-label {
      border-top-right-radius: 0;
      border-bottom-left-radius: 6px;
    }

    .o-search_filterRadio.even &:nth-last-child(2) &-label {
      border-top-right-radius: 0;
      border-bottom-left-radius: 6px;
    }

    .o-search_filterRadio.even &:last-child &-label {
      border-top-right-radius: 0;
    }

    &-input:checked ~ &-label {
      border: 1px solid $brand-primary !important;
      background-color: $brand-primary;
      color: $white;
    }

    &:not(:first-child) &-input:checked ~ &-label:after {
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -2px;
      display: block;
      width: 1px;
      background-color: $brand-primary;
    }

    .p-objectReview & {
      flex: 1 1 10%;

      @include tabletPlusDown {
        flex: 1 1 20%;

        &:nth-child(-n+5) .form-check-label {
          border-bottom: 0;
        }

        &:first-child .form-check-label {
          border-bottom-left-radius: 0;
        }

        &:last-child .form-check-label {
          border-top-right-radius: 0;
        }

        &:nth-child(5) .form-check-label {
          border-top-right-radius: 6px;
        }

        &:nth-child(6) .form-check-label {
          border-left: 1px solid #CED9EF;
          border-bottom-left-radius: 6px!important;
        }

        &:nth-child(-n+5) .form-check-input:checked ~ .form-check-label:before {
          content: '';
          position: absolute;
          z-index: 1;
          top: auto;
          right: -1px;
          bottom: -2px;
          left: -2px;
          height: 1px;
          background-color: #0A58FD;
        }

        &:nth-child(6) .form-check-input:checked ~ .form-check-label:after {
          content: none;
        }

      }

    }

  }

  &-check-custom {
    display: block;

    .label {
      user-select: none;
    }

    .check {
      position: relative;
      flex-shrink: 0;
      display: block;
      float: left;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: 1px solid #CED9EF;
      margin-right: 6px;
      background-color: #fff;
      transition: all .15s ease;

      & ~ * {
        order: 1;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: white;
        stroke-width: 2;
        stroke-dasharray: 17;
        stroke-dashoffset: 17;
        transform: translate(-50%, -50%);
      }

    }

    .check + .label {
      flex: 1;
      order: 1;
      float: left;
      margin-left: 6px;
    }

    .form-label-custom {
      @extend %cursor-pointer;
      display: flex;
      flex-wrap: wrap;
      margin: .625rem 0;

      .o-filter_item & {
        margin-bottom: 1.5rem;
      }

    }

    .form-control-custom[type=checkbox] {
      position: absolute;
      opacity: 0;
    }

    .form-control-custom[type=checkbox]:checked + .check {
      background-color: $brand-primary;
      background-image: linear-gradient(#255CD2,#1D52C1);
      border: 1px solid $brand-primary;

      svg {
        stroke-dashoffset: 0;
        transition: all .15s ease;
      }

    }

  }

  &-suggestion {
    @include font-size(14);
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: $gray-light;

    .domain {
      color: $brand-primary;
    }

  }

}

.form-error {

  &-wrapper {
    flex: 0 1 100%;
  }

  &-message {
    @include font-size(11);
    color: $red;

    .o-mainFooter_newsletter & {
      display: inline-block;
      padding: 0 .625rem;
      background-color: $red;
      color: $white;
    }

  }

}

select.form-control {
  @extend %no-repeat;
  @extend %cursor-pointer;
  background-size: 14px;
  background-position: 99% 50%;
  background-image: url("../media/app/chevron-down-gray.svg");
  background-origin: content-box;

  .o-mainFooter_menu & {
    background-position: 133% 50%;
  }

  // Order on search page
  &-order {

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $brand-primary;
    }

    option:not(:checked) {
      color: $brand-primary;
    }

  }

  .o-inquiryPageTable-charges & {
    width: auto;
    height: auto;
    padding: {
      top: 0;
      right: 1.1rem;
      bottom: 0;
      left: 0;
    };
    border: 0;
    margin-left: auto;
    background-origin: padding-box;
  }

  @include tablet {
    margin: auto;
  }

}

// Specific targets
.form {

  //.o-sidebar_header &-control {}

}
