// Icons
//
// // icon color is changed by 'iconic' JS plugin

.c-icon {
  display: inline-block;
  line-height: 0;

  .iconic {
    // height: 0;
    opacity: 0;

    &.injected-svg {
      // height: auto;
      opacity: 1;
    }

  }

  * {
    width: 1em;
  }

  &.c-icon-9-10 * {
    width: 9px;
    height: 10px;
  }

  &.c-icon-12-6 * {
    width: 12px;
    height: 6px;
  }

  &.c-icon-13-12 * {
    width: 13px;
    height: 12px;
  }

  &.c-icon-21 * {
    width: 21px;
    height: 21px;
  }

  &.c-icon-22 * {
    width: 22px;
    height: 22px;
  }

  &.c-icon-48-44 * {
    width: 48px;
    height: 44px;
  }

  // Specific targets
  &-arrowRight {
    transform: translateX(0);
    transition: transform 175ms;

    @include laptopDown {
      display: none;
    }

    .o-promo-footer & svg path {
      fill: rgba($white, .5);
    }

  }

  .c-ttl-promo:hover &-arrowRight {
    transform: translateX(5px);

    svg path {
      fill: #00CC66;
    }

  }

  &-promo * {
    width: 58px;
    height: 58px;

    @include tabletPlus {

      .o-promo-footer & {
        width: 72px;
        height: 72px;
      }

    }

    @include laptop {

      .o-promo-footer & {
        width: 72px;
        height: 72px;
      }

    }

  }

  // Main Menu.o-mainNav_langCurrent > .c-link &,
  // Specific targets
  .o-mainNav_item.-sub & {
    position: absolute;
  }

  .o-mainNav_item.-sub & {
    @include transition();
    top: 0;

    @include laptopDown {
      top: 0;
      right: 0;
      width: 20%;
      padding: 1.335rem .625rem;
      text-align: center;

      &.active {
        transform: rotateX(180deg);
      }

    }

    @include laptop {
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      pointer-events: none;
    }

  }

  .o-mainNav_subList .o-mainNav_item.-sub & {

    @include laptop {
      top: 0;
      right: 0;
      bottom: 0;
      transform: rotate(-90deg);
    }

  }

  // Last 4 items
  .o-mainNav_item:nth-last-child(-n+4) .o-mainNav_subList .o-mainNav_item.-sub & {

    @include laptop {
      right: auto;
      left: 0;
      transform: rotate(90deg);
    }

  }

  // Currency switcher
  .o-mainNavSwitch_item-current & {
    position: absolute;

    @include laptopDown {

      // Header
      .o-mainNavWrapper & {
        right: 1.6875rem;
      }

      // Footer
      .o-mainFooter_menu & {
        right: 1rem;
      }

    }

    @include laptop {

      // Header
      .o-mainNavWrapper & {
        right: .75rem;

        @include ie {
          top: .95rem;
        }
        
      }

    }

  }

  // Pagination arrows
  // - left
  .page-item:first-child .page-link & {
    transform: rotateY(180deg);

    svg > path {
      fill: $brand-primary;
    }

  }

}

.iconic * {

  .c-icon-white & {
    fill: $white;
  }

  .c-icon-blue & {
    fill: $brand-primary;
  }

  .c-icon-blueDark & {
    fill: #0C1E6D;
  }

  .c-ttl-promo:hover & {
    fill: #00CC66;
    opacity: 1;
  }

}
