// Link
.c-link {

  &:hover {
    @extend %decoration-underline;
  }

  //&-more {
  //  position: relative;
  //  padding-right: 1.2rem;
  //
  //  &:after {
  //    @extend %no-repeat;
  //    content:'';
  //    position: absolute;
  //    top: 2px;
  //    right: 0;
  //    bottom: 0;
  //    width: 12px;
  //    height: 11px;
  //    margin: auto 0;
  //    background-image: url('../media/app/arrows.svg');
  //    background-size: 12px 11px;
  //    background-position: center;
  //  }
  //
  //}

  &-underline {
    @extend %decoration-underline;

    &:hover {
      @extend %decoration-none;
    }

  }

  &-clean {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

  }

  // Main Menu
  .o-mainNav_item > & {
    @extend %decoration-none;
    font-size: 1.0625rem;

    @include laptopDown {
      padding: .9rem 1.6875rem;
    }

    @include laptop {
      padding: 1.407rem 1rem;
    }

  }

  // Sub Menu Items
  .o-mainNav_subList .o-mainNav_item > & {
    @extend %decoration-none;
    padding: .7rem 1.625rem;

    @include laptopDown {
      padding-left: 1.6875rem;
    }

  }

  .o-mainNav_item.-sub.active > & {
    color: #8AAAEF;
    font-weight: $font-weight-semiBold;
  }

  @include laptop {

    .o-mainNav_subList .o-mainNav_item:first-child > & {
      padding-top: 1.4rem;
    }

    .o-mainNav_subList .o-mainNav_item:last-child > & {
      padding-bottom: 1.4rem;
    }

  }

  // SubSub Menu Items
  .o-mainNav_subList .o-mainNav_item.-sub .o-mainNav_subList .o-mainNav_item & {

    @include laptopDown {
      padding-left: 2.5rem;
    }

  }

  // Currency switcher
  .o-mainNavSwitch_item-current &:hover,
  .o-mainNavSwitch_list_item &:hover {
    text-decoration: none;
  }

  .o-mainNavSwitch_list_item & {
    padding: .7rem 1.625rem;
    
    &:hover {
      color: $brand-secondary;
    }

  }

  // TODO: add color to var
  .o-mainNavSwitch_item-current & {
    font-size: 1.0625rem;

    &:hover {
      cursor: pointer;
    }

    .currencyName { display: block; }
    .currencySymbol { display: none; }

    @include laptopDown {

      // Header and Footer
      .o-mainNavWrapper &:after,
      .o-mainFooter_menu &:after {
        content: 'CURRENCY';
        position: absolute;
        font-size: .75rem;
        font-weight: $font-weight-semiBold;
        line-height: 1;
      }

      // Header
      .o-mainNavWrapper & {
        width: 100%;
        padding: 2.101rem 1.625rem 1.4rem 1.6875rem;
        border-radius: 0;
        border: none;
        border-top: 1px solid #298DF9;

        &:after {
          top: 1.1375rem;
          left: 1.625rem;
          color: #92B0F3;
        }

      }

      // Footer
      .o-mainFooter_menu & {
        padding: 1.125rem 2.8rem 0 1rem;
        border: 1px solid $gray-light;
        border-radius: 3px;

        &:after {
          top: .75rem;
          left: 1rem;
          color: $gray-light;
        }

        .currencyName { display: block; }
        .currencySymbol { display: none; }
      }

    }

    @include laptop {

      // Header
      .o-mainNavWrapper & {
        width: 55px;
        padding: .407rem .7rem;
        border: 1px solid #298DF9;
        border-radius: 3px;

        .currencyName { display: none; }
        .currencySymbol { display: block; }
      }

    }

  }

  // Breadcrumbs
  .o-breadcrumbs_item & {
    @include font-size(15);
    color: #8E8E8E;
    font-weight: $font-weight-regular;

    @include laptop {
      color: $white;
    }

  }

  .o-breadcrumbs_item:last-child & {
    pointer-events: none;
  }

  .o-destination_boxItem & {
    display: inline-block;
    color: $brand-primary;
  }

}

button {

  &.c-link {

    &:hover {}

  }

}
