// Titles
.c-ttl {
  margin: 0;

  // Uncomment if needed
  // color: $color-headings-neutral;
  // font-family: $font-family-heading;
  // font-weight: $font-weight-bold;

  &-h1 { @include font-size(30); }
  &-h2 { @include font-size(26); }
  &-h3 { @include font-size(22); }
  &-h4 { @include font-size(20); }
  &-h5 { @include font-size(18); }
  &-h6 { @include font-size(17); }

  &-section-h1 {
    @include font-size(20);

    @include laptop {
      @include font-size(24);
    }

  }

  &-search {
    @include font-size(24);
    color: #0C1E6D;
    font-family: $font-family-heading;
    font-weight: $font-weight-extraLight;

    @include laptop {
      @include font-size(30);
    }

    .location {
      display: none;
    }

    @include tabletPlus {

      .location {
        @include font-size(13);
        display: block;
        color: $gray-light;
        font-family: $font-family-base;
        font-weight: $font-weight-regular;
        text-transform: uppercase;
      }

    }

  }

  &-head {
    @include font-size(20);
    color: #0C1E6D;
    font-family: $font-family-heading;
    font-weight: $font-weight-semiBold;

    @include laptop {
      @include font-size(28);
      font-weight: $font-weight-bold;
    }

  }

  &-headSub {
    @include font-size(15);
    color: $gray-light;
    font-family: $font-family-heading;
    font-weight: $font-weight-light;

    @include laptop {
      @include font-size(19);
    }

  }

  &-promo {
    @include font-size(18);
    padding-right: .9375rem;
    color: $brand-primary;
    font-family: $font-family-heading;
    font-weight: $font-weight-medium;

    .o-promo-footer & {
      color: $white;
    }

    @include laptop {
      @include font-size(21);
      color: #0C1E6D;

      &:hover {
        color: $brand-primary;
      }

      .o-promo-footer & {
        @include font-size(23);
        font-weight: $font-weight-semiBold;

        &:hover {
          color: $white;
        }

      }

    }

    &Heading {
      @include font-size(24);
      margin-bottom: 1.25rem;
      color: $white;
      font-family: $font-family-heading;
      font-weight: $font-weight-heavy;

      @include tablet {
        margin-bottom: 2.5rem;
      }

      @include laptopDown {
        text-align: center;
      }

      @include laptop {
        @include font-size(48);
        font-weight: $font-weight-extraLight;
      }

    }

  }

  &-filter {
    @include font-size(24);
    color: #0C1E6D;
    font-family:$font-family-heading;
    font-weight: $font-weight-extraLight;
  }

  &-hero {
    @include font-size(26);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100%;
    padding: 0 .9375rem;
    color: $white;
    font-family: $font-family-heading;
    font-weight: $font-weight-extraLight;
    text-align: center;
    text-shadow: 0 1px 35px rgba($black, .50);
    transform: translate(-50%,-50%);

    @include laptop {
      @include font-size(36);
    }

    @include mobilePlusDown {
      top: 40%;
    }

  }

  &-heroSmall {
    @include font-size(26);
    color: $white;
    font-family: $font-family-heading;

    @include laptop {
      @include font-size(32);
    }

  }

  &-sectionSmall {
    @include font-size(16);
    color: #0C1E6D;
    font-family: $font-family-heading;
    font-weight: $font-weight-medium;

    @include laptop {
      @include font-size(20);
    }

  }

  // Specific targets

  .o-mainSearch_full & {
    // font-family: Montserrat-SemiBold;
    color: $white;
    font-size: 1.3125rem;
    font-weight: $font-weight-semiBold;
  }

  .p-notification .o-notification & {
    @include font-size(24);
    margin-top: -4px;

    @include laptop {
      @include font-size(30);
    }

  }

}
