<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Some Hotel name or booking agency' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Homepage' %}
{% set pageTitleName = 'Homepage' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-homepage' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/unitCard.html" as unitCard %}
{% import "html/app/components/newsCard.html" as newsCard %}


<main>

  <div class="container">
    <div class="row">

      <div class="col-12 mt-5 pt-5">
        <a class="c-btn c-btn-primary" href="#">Primary button</a>
        <a class="c-btn c-btn-primary c-btn-wide-lg w-100" href="#">Primary wide button</a>
      </div>

      <div class="col-12">
        <a class="c-btn c-btn-secondary" href="#">Secondary button</a>
      </div>

      <div class="col-12">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>

      <div class="col-12">
        <div class="d-inline-block bg-primary">
          {% include "html/app/components/hexisLogo.html" %}
        </div>
      </div>

      <div class="col-12">
        <h1>Unit page</h1>
        {% include "html/app/components/priceList.html" %}
        {% include "html/app/components/leaveReview.html" %}
      </div>

      <div class="col-12">
        <h1>Offer page</h1>
        {% include "html/app/components/offerPage-personalInfo.html" %}
        {% include "html/app/components/offerPage-table.html" %}
      </div>

      <div class="col-12">
        <div class="row">
          <div class="col-lg-3">
            {{ unitCard.unitCard(
              title = "Unit",
              discount = true,
              star_no = "4"
            )}}
          </div>

          <div class="col-lg-3">
            {{ unitCard.unitCard(
              title = "Unit",
              discount = true,
              att_no = "3",
              star_no = "4"
            )}}
          </div>

          <div class="col-lg-3">
            {{ unitCard.unitCard(
              title = "Unit",
              discount = true,
              att_no = "3",
              star_no = "4"
            )}}
          </div>

          <div class="col-lg-3">
            {{ unitCard.unitCard(
              title = "Unit",
              discount = true,
              star_no = "4"
            )}}
          </div>
        </div>
      </div>

      <div class="col-12">

        <div class="row my-5">
          <div class="col-12">
            {{ newsCard.newsCard(
              title = "Travel Guide Baska for smartphones very very long title",
              image = "http://via.placeholder.com/300x300",
              date = "31.01.2018",
              category = "Category"
            )}}
          </div>

          <div class="col-md-6">
            {{ newsCard.newsCard(
              title = "Travel Guide Baska for smartphones very very long title",
              image = "http://via.placeholder.com/300x300",
              date = "31.01.2018",
              category = "Category"
            )}}
          </div>

          <div class="col-md-6">
            {{ newsCard.newsCard(
              title = "Travel Guide Baska for smartphones very very long title",
              image = "http://via.placeholder.com/300x300",
              date = "31.01.2018",
              category = "Category"
            )}}
          </div>

          <div class="col-md-6">
            {{ newsCard.newsCard(
              title = "Travel Guide Baska for smartphones very very long title",
              image = "http://via.placeholder.com/300x300",
              date = "31.01.2018",
              category = "Category"
            )}}
          </div>

          <div class="col-md-6">
            {{ newsCard.newsCard(
              title = "Travel Guide Baska for smartphones very very long title",
              image = "http://via.placeholder.com/300x300",
              date = "31.01.2018",
              category = "Category"
            )}}
          </div>
        </div>
      </div>

      <div class="col-12">
        {% include "html/app/components/gallery.html" %}
      </div>

      <div class="col-12 py-5">
        {% include "html/app/components/unitActionBanners.html" %}
      </div>

      <div class="col-12 py-5">
        {% include "html/app/components/objectActionBanners.html" %}
      </div>

      <div class="col-12">
        {% include "html/app/components/weatherWidget.html" %}
      </div>

      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-7">
            {% include "html/app/components/subscribeForm.html" %}
          </div>
        </div>
      </div>

      <div class="col-12">
        {% include "html/app/components/availabilityCalendar.html" %}
      </div>

      <div class="col-12">
        {% include "html/app/components/socialIcons.html" %}
      </div>

      <div class="col-12">
        <form action="inquiryPreview.html">
          {% include "html/app/components/inquiryForm-personalInfo.html" %}
          {% include "html/app/components/inquiryForm-reservationDetails.html" %}
          {% include "html/app/components/inquiryForm-payment.html" %}
          {% include "html/app/components/inquiryPriceTables.html" %}

          <button class="c-btn c-btn-primary" type="submit" name="button">Submit</button>
        </form>
      </div>

      <div class="col-12">
        <form action="contactPreview.html">
          {% include "html/app/components/contactForm.html" %}
        </form>
      </div>

      <div class="col-12">
        {% include "html/app/components/pagination.html" %}
      </div>

      <div class="col-12">
        <!-- Button trigger modal -->
        <button type="button" class="c-btn c-btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="c-btn c-btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="c-btn c-btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
          Tooltip on top
        </button>
      </div>



      <div class="col-12">
        List
        <ul>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
        </ul>
      </div>

      <div class="col-12">
        <a href="#">Link</a>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label class="form-label" for="formCont">Some form label</label>
          <input id="formCont" class="form-control" type="text">
        </div>
      </div>

    </div>
  </div>

</main>

{% include "html/app/components/cookiePolicy.html" %}
{% include "html/app/components/footer.html" %}
{% endblock %}
