<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="c-main" aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
