.c-att {
  justify-content: space-between;

  &_item {
    display: inline-flex;
    align-items: center;
    max-width: 80px;
  }

  &-lg &_item {
    width: 20%;
    text-align: center;
  }

  @include laptop {
    justify-content: flex-start;

    &_item {
      max-width: 155px;
      margin-right: .3rem;
    }

  }

}
