// Forms

// Group
$input-group-margin-bottom: .75rem;


// Control
$input-color: $color-text-neutral;
$input-bg-color: $white;

$input-padding-y: .75rem;
$input-padding-x: .75rem;

$input-border-width: 2px;
$input-border-style: solid;
$input-border-color: $brand-secondary-lightest;
$input-border-color-hover: darken($input-border-color, 14%);

$input-border-radius: 2px;

$input-font-size: 1rem;
$input-font-weight: $font-weight-regular;

$input-line-height: 1.4;


// Label
$input-label-color: $color-text-neutral;

$input-label-margin-bottom: .25rem;

$input-label-font-size: .9375rem;
$input-label-font-weight: $font-weight-semiBold;

.form {

  &-group {

    @if $input-group-margin-bottom != 0 {
      margin-bottom: $input-group-margin-bottom;

      .form-group-clean > & {
        margin-bottom: 0;
      }

    }

    @include laptopDown {

      .o-mainSearch_item.datepicker & {
        width: 100%;
      }

    }

    @include laptop {

      .o-mainSearch_item & {
        margin: 0;
      }

    }

  }

  &-control {
    display: block;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    border-width: $input-border-width;
    border-style: $input-border-style;
    border-color: $input-border-color;
    color: $input-color;
    line-height: $input-line-height;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    font-family: $font-family-base;
    // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
    background-color: $input-bg-color;
    background-image: none;
    background-clip: padding-box;

    &:not(.hasDatepicker) {
      @include transition();
    }

    @if $input-border-radius != 0 {
      border-radius: $input-border-radius;
    }

    &:focus,
    &:hover {
      border-color: $input-border-color-hover;
    }

    &:disabled {
      cursor: not-allowed;
    }

    .has-error & {
      @extend %no-repeat;
      border-color: $brand-danger;
      background-image: url('../media/app/errorTriangle.svg');
      background-size: 1.5rem;
      background-position: 98% 50%;
    }

    &[readonly] {}

    &.hasDatepicker {
      @extend %cursor-pointer;
      @extend %no-repeat;
      @extend %cursor-pointer;
      background-size: 16px 16px;
      background-position: 96% 50%;
      background-image: url("../media/app/datepicker.svg") !important;

      .o-mainSearch_item & {
        background-position-x: 90%;

        @include tablet {
          background-position-x: 94%;
        }

        @include tabletPlus {
          background-position-x: 95%;
        }

      }

    }

    .o-subscription & {
      @extend %no-repeat;
      background-position: 98% center;
      background-image: url('../media/app/email.svg');
      border-radius: 5px 0 0 5px;
      border-color: $color-ui-tint;

      &:focus,
      &:hover {
        border-color: $input-border-color-hover;
      }

    }

    .o-mainSearch_item & {
      border: none;
      border-radius: 0;
      border-top: 1px solid $asset-separator-light;
      border-right: 1px solid $asset-separator-light;
      border-left: 1px solid $asset-separator-light;
      font-weight: 700;
    }

    .o-mainSearch_item:first-child & {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    .o-mainSearch_item:nth-child(5) & {
      border-bottom: 1px solid $asset-separator-light;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .o-mainSearch_item:nth-child(3) & {
      border-right: 0;
    }

    .o-mainSearch_item:nth-child(4) & {
      border-left: 0;
    }

    @include laptop {

      .o-mainSearch_item & {
        border: 0;
        background-color: transparent;
      }

      .o-mainSearch_item:first-child & {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .o-mainSearch_item:nth-child(5) & {
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

    }

  }

  &-label {
    display: block;
    margin-bottom: $input-label-margin-bottom;
    color: $input-label-color;
    font-size: $input-label-font-size;
    font-weight: $input-label-font-weight;
  }

}

.form-error {

  &-wrapper {}

  &-message {
    color: $red;
  }

}

select.form-control {
  @extend %no-repeat;
  @extend %cursor-pointer;
  background-size: 14px;
  background-position: 99% 50%;
  background-image: url("../media/app/chevron-down.svg");
  background-origin: content-box;

  .o-inquiryPageTable-charges & {
    width: auto;
    height: auto;
    padding: {
      top: 0;
      right: 1.1rem;
      bottom: 0;
      left: 0;
    };
    border: 0;
    margin-left: auto;
    background-origin: padding-box;
  }

  @include tablet {
    margin: auto;
  }

}

// Specific targets
.form {

  //.o-sidebar_header &-control {}

}
