// Titles
.c-ttl {
  margin: 0;

  // Uncomment if needed
  // color: $color-headings-neutral;
  // font-family: $font-family-heading;
  // font-weight: $font-weight-bold;

  &-h1 { @include font-size(30); }
  &-h2 { @include font-size(26); }
  &-h3 { @include font-size(22); }
  &-h4 { @include font-size(20); }
  &-h5 { @include font-size(18); }
  &-h6 { @include font-size(17); }

  @include tablet {}

  @include laptop {}

  // Specific targets
}
