<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = '404 error page' %}
{% set pageTitleName = '404 error page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-notification' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main class="my-5 py-5">

  <section class="container py-5">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-11 col-md-9">
        <div class="d-lg-flex align-items-center justify-content-center">
          <img class="w-100" src="../media/app/404.svg" alt="404 Error">

          <div class="mt-4 mt-lg-0 ml-lg-5 w-100">
            <h1 class="c-ttl c-ttl-h1">Something's wrong!</h1>
            <div class="my-4 my-lg-5">Seems like the access is denied, we are sorry for any inconvenience.</div>
            <a class="c-btn c-btn-secondary c-btn-minw200 mr-md-4 mb-3 mb-md-0" href="index.html">Back to homepage</a>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
