<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Contact page' %}
{% set pageTitleName = 'Contact page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-contact' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main>
  <section class="container">
    <div class="row relative my-5">
      <div class="col-lg-8">
        <h1 class="c-ttl c-ttl-h1 mb-3">Contact us</h1>

        {% include "html/app/components/contactForm.html" %}

        <div class="my-4">
          {% include "html/app/components/map.html" %}
        </div>
      </div>

      <div class="col-lg-4 o-sidebar">
        <div class="font-weight-bold">Splendido d.o.o upisano pri Trgovačkom sudu Rijeka</div>

        <hr class="my-4">

        <ul class="mb-4">
          <li class="font-weight-bold mb-2">Address</li>
          <li>Kralja Zvonimira 148,</li>
          <li>51523 Baška (Otok Krk), </li>
          <li>Croatia</li>
        </ul>

        <ul class="mb-4">
          <li class="font-weight-bold mb-2">Contact</li>
          <li><a href="tel:+38551856116">Tel: +385 51 856 116</a></li>
          <li><a href="fax:+38551856616">Fax: +385 51 856 616</a></li>
          <li><a href="mailto:info@splendido.hr">Email: info@splendido.hr</a></li>
        </ul>

        <ul class="mb-4">
          <li class="font-weight-bold mb-2">Details</li>
          <li>ID-CODE: HR -AB-51-040110073</li>
          <li>OIB: 52658535373</li>
          <li>MBS: 040110073 - Trgovački sud Rijeka</li>
        </ul>

        <ul class="mb-4">
          <li class="font-weight-bold mb-2">Giro account</li>
          <li>IBAN: HR6423400091117025469 - Privredna banka Zagreb</li>
          <li>IBAN: HR4525000091101225118 - Hypo Alpe Adria banka</li>
        </ul>
      </div>
    </div>

  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
