<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Contact preview page' %}
{% set pageTitleName = 'Contact preview page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-contactPreview' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<!-- TODO: check about message position with a designer, it must be outide main element -->
<!-- Message START -->
<div class="container">
  <div class="row relative">
    <div class="col-lg-8">
      <div class="mt-5">
        <div class="c-ttl c-ttl-h1">Thank you for contacting us!</div>
      </div>
    </div>
  </div>
</div>
<!-- Message STOP -->

<main>
  <section class="container">
    <h1 class="sr-only">Contact preview</h1>
    <div class="row relative my-5">
      <div class="col-lg-8">

        <div class="row">
          <div class="col-lg-6 col-md-8 mb-3">
            <div class="font-weight-bold">First name</div>
            <div>Bond James</div>
          </div>

          <div class="col-lg-6 col-md-4 mb-3">
            <div class="font-weight-bold">Last name</div>
            <div>Bond</div>
          </div>

          <div class="col-lg-6 col-md-8 mb-3">
            <div class="font-weight-bold">Email</div>
            <div>james.bond@bond.james</div>
          </div>

          <div class="col-lg-6 col-md-4 mb-3">
            <div class="font-weight-bold">Mobile</div>
            <div>+385 91 123 456</div>
          </div>

          <div class="col-12 mb-3">
            <div class="font-weight-bold">Message title</div>
            <div>Hi I am James Bond</div>
          </div>

          <div class="col-12 mb-4">
            <div class="font-weight-bold">Message</div>
            <div>I want Martini</div>
          </div>

          <div class="col-12">
            <a class="c-btn c-btn-primary c-btn-md-mw200 w-100" href="index.html">Back to homepage</a>
          </div>

        </div>

        <div class="mb-4">
          {% include "html/app/components/map.html" %}
        </div>
      </div>

      <div class="col-lg-4 o-sidebar">
        <div class="font-weight-bold">Splendido d.o.o upisano pri Trgovačkom sudu Rijeka</div>

        <hr class="my-4">

        <ul class="mb-4">
          <li class="font-weight-bold mb-2">Address</li>
          <li>Kralja Zvonimira 148,</li>
          <li>51523 Baška (Otok Krk), </li>
          <li>Croatia</li>
        </ul>

        <ul class="mb-4">
          <li class="font-weight-bold mb-2">Contact</li>
          <li><a href="tel:+38551856116">Tel: +385 51 856 116</a></li>
          <li><a href="fax:+38551856616">Fax: +385 51 856 616</a></li>
          <li><a href="mailto:info@splendido.hr">Email: info@splendido.hr</a></li>
        </ul>

        <ul class="mb-4">
          <li class="font-weight-bold mb-2">Details</li>
          <li>ID-CODE: HR -AB-51-040110073</li>
          <li>OIB: 52658535373</li>
          <li>MBS: 040110073 - Trgovački sud Rijeka</li>
        </ul>

        <ul class="mb-4">
          <li class="font-weight-bold mb-2">Giro account</li>
          <li>IBAN: HR6423400091117025469 - Privredna banka Zagreb</li>
          <li>IBAN: HR4525000091101225118 - Hypo Alpe Adria banka</li>
        </ul>
      </div>
    </div>

  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
