<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Homepage' %}
{% set pageTitleName = 'Homepage' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-homepage' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/unitCard.html" as unitCard %}
{% import "html/app/components/newsCard.html" as newsCard %}

<main>
  <section>

    <div class="o-hero" style="background-image: url('../media/app/hero.png');">
      <h2 class="c-ttl c-ttl-h2 text-uppercase text-center color-white px-5">Vacation of your dreams starts here</h2>
    </div>

    <div class="o-sectionPicker_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Homepage tabs navs START -->
            <ul class="o-sectionPicker nav nav-tabs d-flex justify-content-between align-items-center" id="myTab" role="tablist">
              <li class="nav-item w-100 text-center">
                <a class="nav-link active" id="discounts-tab" data-toggle="tab" href="#discounts"
                  role="tab" aria-controls="discounts" aria-selected="true">Discounts</a>
              </li>

              <li class="nav-item w-100 text-center">
                <a class="nav-link" id="mostPopular-tab" data-toggle="tab" href="#mostPopular"
                  role="tab" aria-controls="mostPopular" aria-selected="false">Most popular</a>
              </li>

              <li class="nav-item w-100 text-center">
                <a class="nav-link" id="offers-tab" data-toggle="tab" href="#offers"
                  role="tab" aria-controls="offers" aria-selected="false">Offers</a>
              </li>
            </ul>
            <!-- Homepage tabs navs STOP -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Homepage tabs sections START -->
          <div class="tab-content my-5">
            <div class="tab-pane active" id="discounts" role="tabpanel" aria-labelledby="discounts-tab">
              <div class="row">
                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "http://via.placeholder.com/500x240",
                    discount = true
                  )}}
                </div>

                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "http://via.placeholder.com/500x240",
                    discount = true
                  )}}
                </div>

                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "media/app/placeholder-image-500x240.png",
                    discount = true
                  )}}
                </div>

                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "media/app/placeholder-image-500x240.png",
                    discount = true
                  )}}
                </div>

                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "http://via.placeholder.com/500x240",
                    discount = true
                  )}}
                </div>

                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "http://via.placeholder.com/500x240",
                    discount = true
                  )}}
                </div>
              </div>

              <div class="row">
                <div class="col d-flex justify-content-end my-3">
                  <a href="unit.html" class="c-btn c-btn-secondary c-btn-mw200 w-100">View all discounts</a>
                </div>
              </div>

            </div>

            <div class="tab-pane" id="mostPopular" role="tabpanel" aria-labelledby="mostPopular-tab">

              <div class="row">
                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "http://via.placeholder.com/500x240"
                  )}}
                </div>

                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "media/app/placeholder-image-500x240.png"
                  )}}
                </div>

                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "media/app/placeholder-image-500x240.png"
                  )}}
                </div>

                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "http://via.placeholder.com/500x240"
                  )}}
                </div>

              </div>

              <div class="row">
                <div class="col d-flex justify-content-end my-3">
                  <a href="unit.html" class="c-btn c-btn-secondary c-btn-mw200 w-100">View all most popular</a>
                </div>
              </div>

            </div>

            <div class="tab-pane" id="offers" role="tabpanel" aria-labelledby="offers-tab">

              <div class="row">
                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "http://via.placeholder.com/500x240",
                    discount = true
                  )}}
                </div>

                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "http://via.placeholder.com/500x240",
                    discount = true
                  )}}
                </div>

                <div class="col-lg-6 col-xl-3">
                  {{ unitCard.unitCard(
                    title = "Very very large unit name name",
                    image = "media/app/placeholder-image-500x240.png",
                    discount = true
                  )}}
                </div>

              </div>

              <div class="row">
                <div class="col d-flex justify-content-end my-3">
                  <a class="c-btn c-btn-secondary c-btn-mw200 w-100" href="unit.html">View all offers</a>
                </div>
              </div>

            </div>
          </div>
          <!-- Homepage tabs sections STOP -->

        </div>

        <div class="col-12">
          <hr>
        </div>

        <div class="col-12">
          <div class="row my-5">
            <div class="col-xl-8 mb-5">
              <h2 class="c-ttl c-ttl-h1 mb-5">Lastest news</h2>

              {{ newsCard.newsCard(
                title = "Travel Guide Baska for smartphones very very long title",
                image = "http://via.placeholder.com/300x300",
                date = "31.01.2018",
                category = "Category"
              )}}

              {{ newsCard.newsCard(
                title = "Travel Guide Baska for smartphones very very long title",
                image = "http://via.placeholder.com/300x300",
                date = "31.01.2018",
                category = "Category"
              )}}

              {{ newsCard.newsCard(
                title = "Travel Guide Baska for smartphones very very long title",
                image = "http://via.placeholder.com/300x300",
                date = "31.01.2018",
                category = "Category"
              )}}

              <div class="d-flex justify-content-end">
                <a class="c-btn c-btn-secondary c-btn-mw200 w-100" href="newsList.html">View all news</a>
              </div>

            </div>

            <div class="col-xl-4">
              <div class="row">
                <div class="col-lg-6 col-xl-12 mb-4">
                  {% include "html/app/components/weatherWidget.html" %}
                </div>

                <div class="col-lg-6 col-xl-12 mb-5">
                  {% include "html/app/components/subscribeForm.html" %}
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white py-4 my-2">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="o-sponsors d-flex flex-wrap justify-content-between align-items-center">
              <li class="o-sponsors_item -croatia">
                <a class="d-inline-block" href="https://www.htz.hr">
                  <img class="o-sponsors_img" src="media/app/croatia.svg" alt="Croatia">
                </a>
              </li>

              <li class="o-sponsors_item -kvaner">
                <a class="d-inline-block" href="http://www.kvarner.hr">
                  <img class="o-sponsors_img" src="media/app/kvarner.svg" alt="Kvarner">
                </a>
              </li>

              <li class="o-sponsors_item -baska">
                <a class="d-inline-block" href="http://www.tz-baska.hr/">
                  <img class="o-sponsors_img" src="media/app/baska.svg" alt="Baska">
                </a>
              </li>

              <li class="o-sponsors_item -ministarstvo">
                <a class="d-inline-block" href="http://www.mint.hr/">
                  <img class="o-sponsors_img" src="media/app/ministarstvoTurizma.svg" alt="Minisatrstvo turizma">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

</section>

</main>

{% include "html/app/components/cookiePolicy.html" %}
{% include "html/app/components/footer.html" %}
{% endblock %}
