<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Inquiry preview page' %}
{% set pageTitleName = 'Inquiry preview page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-inquiryPreview' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/unitCard.html" as unitCard %}
{% import "html/app/bits/modal.html" as modal %}

<!-- TODO: check about message position with a designer, it must be outide main element -->
<!-- Message START -->
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="mt-5">
        <div class="c-ttl c-ttl-h1">Inquiry sent successfully!</div>
        <div class="font-weight-bold">We'll answer you as soon as possible, thank you!</div>
        <hr class="mt-4">
      </div>
    </div>
  </div>
</div>
<!-- Message STOP -->

<main class="my-3 pb-4">

  <section class="container">
    <h1 class="sr-only">Inquiry preview page</h1>

    <form class="row relative" action="inquiryPreview.html">

      <div class="col-lg-4 o-sidebar my-4 mt-lg-5">
        <div class="c-ttl c-ttl-h6 mb-4">Choosen accommodation</div>

        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}

      </div>

      <div class="col-lg-8 mb-5">
        <ul class="o-breadcrumbs d-flex mb-4">
          <li class="o-breadcrumbs_item"><a class="c-link" href="unit.html">Unit</a></li>
          <li class="o-breadcrumbs_item"><a class="c-link" href="#">Unit inquiry</a></li>
        </ul>
        
        {% include "html/app/components/offerPage-personalInfo.html" %}

        <a class="c-btn c-btn-primary c-btn-mw200 w-100" href="index.html">Back to homepage</a>
      </div>
    </form>

  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
