<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Inquiry page' %}
{% set pageTitleName = 'Inquiry page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-inquiry' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/unitCard.html" as unitCard %}
{% import "html/app/bits/modal.html" as modal %}


<main class="my-3 pb-4">

  <section class="container">
    <h1 class="sr-only">Inquiry page</h1>

    <form class="row relative" action="inquiryPreview.html" data-sticky-parent>

      <div class="col-lg-4 o-sidebar mt-4 mt-lg-5">
        <div class="c-ttl c-ttl-h6 mb-4">Chosen accommodation</div>

        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}

        <div data-sticky>

          <section class="my-4">
            <div class="c-ttl c-ttl-h6 mb-2">Price calculator</div>

            {% include "html/app/components/inquiryPriceTables-priceCalculator.html" %}
          </section>

        </div>

      </div>

      <div class="col-lg-8 my-4 my-md-5">
        <ul class="o-breadcrumbs d-flex mb-4">
          <li class="o-breadcrumbs_item"><a class="c-link" href="unit.html">Unit</a></li>
          <li class="o-breadcrumbs_item"><a class="c-link" href="#">Unit inquiry</a></li>
        </ul>

        <section>
          {% include "html/app/components/inquiryForm-personalInfo.html" %}
        </section>

        <section class="my-5">
          {% include "html/app/components/inquiryForm-reservationDetails.html" %}
        </section>

        <section class="mt-5 mb-2 mb-lg-5">
          {% include "html/app/components/inquiryPriceTables-extraCharges.html" %}
        </section>

        <ul class="pb-3">
          <li class="mb-2">
            <input id="terms" class="c-customCheckbox_input" type="checkbox">
            <label class="c-customCheckbox_label"
              for="terms">I agree to Splendido&nbsp;<strong
              class="c-link color-accented"
              data-toggle="modal"
              data-target="#termsOfServiceModal">Terms of service</strong></label>
          </li>

          <li class="mb-2">
            <input id="subscribeCheck" class="c-customCheckbox_input" type="checkbox">
            <label class="c-customCheckbox_label"
              for="subscribeCheck">Subscribe to our newsletter</label>
          </li>
        </ul>

        <button class="c-btn c-btn-primary w-100 c-btn-mw200" href="inquiry-preview.html"
            role="button">Send inquiry</button>
      </div>

    </form>

  </section>

</main>

{{
  modal.modalFunc(
    modalId = "termsOfServiceModal",
    modalLabelId = "termsOfServiceModalLabel"
  )
}}

{% include "html/app/components/footer.html" %}
{% endblock %}
