<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'News page' %}
{% set pageTitleName = 'News page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-news' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/newsCard.html" as newsCard %}

<main class="my-3">

  <section class="container">
    <h1 class="sr-only">Inquiry preview page</h1>

    <div class="row">
      <div class="col-12">
        <h1 class="c-ttl c-ttl-h1 mt-5">Planning Helps Make A Party Perfect Keep Dinner Simple Heat Frozen
          Vegetables And Precooked Smoked Sausage Together For A Complete Meal</h1>

        <ul class="o-separatedList-slash mt-3">
          <li class="o-separatedList_item">31.01.2018</li>
          <li class="o-separatedList_item">Category</li>
        </ul>
      </div>
    </div>

    <div class="row relative" action="inquiryPreview.html">
      <div class="col-lg-8 my-3">
        <div class="preformat">
          <img src="http://via.placeholder.com/937x415" alt="Dummy image">

          <br>
          <br>

          <p>Here, I focus on a range of items and features that we use in life without giving them a second thought
             such as Coca Cola, body muscles and holding ones own breath. Though, most of these notes are not
             fundamentally necessary, they are such that you can use them for a good laugh, at a drinks party
             or for picking up women or men.</p>

          <ol>
            <li>Coca-Cola: Did you know that its original colour was green?</li>
            <li>Mohammed: Did you know that this is the most used name in the entire world?</li>
            <li>Geographical Letters: Did you know that the name of each of the continents begins and concludes
                with the exact same alphabet? Do not believe that? Look up Asia, Europe, Africa,
                America, Antarctica and the rest.</li>

            <li>Muscle Strength: Did you know that the strongest muscle in the entire body is that one
                which we use to lick a popsicle? Your tongue.</li>

            <li>Credit Cards: In the United States, were you aware that each and every person has at
                least two credit cards?</li>

            <li>An Antique Machine: The word for an old machine that was once used for writing letters and other
                documents is the largest word that one can make if they click only on a single row of
                their computer’s keyboard: typewriter!</li>

            <li>Blink: Men wink at women, but research has found out that the average woman blinks nearly
                two times more than the average man.</li>

            <li>Suicide: Even though you might have wondered if it was possible, studies have
                discovered that it is impossible to kill oneself by simply holding in your breath.</li>


            <li>Licking: However much you may try, you will never be able to lick your elbows.</li>
            <li>Sneeze: Try sneezing. People will automatically answer you with a bless you greeting. Have you ever
                imagined why? Some say that this happens because a sneeze stops the functioning of the heart
                for a very tiny second.</li>

            <li>The Blue Sky: Did you know that a pig, no matter how much they try, cannot look up into the sky?</li>

            <li>Twisting Your Tongue: We have all dabbled with different tongue-twisters in our day. But do
                you know which is the toughest? Sixth sick sheiks sixth sheeps sick.</li>

            <li>Ribs: Did you know that you should try not to sneeze too strongly. Why? A very powerful sneeze has
                the ability to cause a fracture in your ribcage. But, then again, if you try and withhold one, you
                stand the chance of breaking one of the many blood vessels in your neck or head.
                This could cause death.</li>
          </ol>

        </div>

        <div class="py-3">
          {% include "html/app/components/gallery-small.html" %}
        </div>

        <section class="mt-4">
          <h2 class="c-ttl c-ttl-4 mb-3">Share this page</h2>

          <ul class="c-list c-list-social c-list-social-large">
            <li class="c-list_item">
              <a href="#"><i class="c-icon c-icon-64"><img class="iconic"
                src="../media/social/facebook-colored.svg" alt="Facebook"></i></a>
            </li>
            <li class="c-list_item">
              <a href="#"><i class="c-icon c-icon-64"><img class="iconic"
                src="../media/social/googlePlus-colored.svg" alt="Google +"></i></a>
            </li>
            <li class="c-list_item">
              <a href="#"><i class="c-icon c-icon-64"><img class="iconic"
                src="../media/social/pinterest-colored.svg" alt="Pinterest"></i></a>
            </li>
            <li class="c-list_item">
              <a href="#"><i class="c-icon c-icon-64"><img class="iconic"
                src="../media/social/twitter-colored.svg" alt="Twitter"></i></a>
            </li>
          </ul>
        </section>

        <section class="mt-3">
          <h2 class="c-ttl c-ttl-4 mb-2">Attachments</h2>

          <ul>
            <li><a class="c-link color-accented font-weight-bold" href="#">Document file</a></li>
            <li><a class="c-link color-accented font-weight-bold" href="#">Image file</a></li>
            <li><a class="c-link color-accented font-weight-bold" href="#">ZIP file</a></li>
          </ul>
        </section>

        <section class="row my-3">
          <div class="col-12">
            <h2 class="c-ttl c-ttl-h1 mt-3 mb-4">Related news</h2>
          </div>

          <div class="col-12">
            {{ newsCard.newsCard(
              title = "Travel Guide Baska for smartphones very very long title",
              image = "http://via.placeholder.com/300x300",
              date = "31.01.2018",
              category = "Category"
            )}}
          </div>

          <div class="col-12">
            {{ newsCard.newsCard(
              title = "Travel Guide Baska for smartphones very very long title",
              image = "http://via.placeholder.com/300x300",
              date = "31.01.2018",
              category = "Category"
            )}}
          </div>

          <div class="col-12">
            {{ newsCard.newsCard(
              title = "Travel Guide Baska for smartphones very very long title",
              image = "http://via.placeholder.com/300x300",
              date = "31.01.2018",
              category = "Category"
            )}}
          </div>

          <div class="col-12 d-flex justify-content-end">
            <a class="c-btn c-btn-secondary c-btn-mw200 w-100 my-3" href="newsList.html">View all related news</a>
          </div>
        </section>
      </div>

      <div class="o-sidebar col-lg-4 my-3">
        {% include "html/app/components/subscribeForm.html" %}
      </div>
    </div>

  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
