<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'News list page' %}
{% set pageTitleName = 'News list page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-newsList' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/newsCard.html" as newsCard %}
{% import "html/app/bits/form/select.html" as select %}


<main class="my-5">

  <section class="container">
    <form class="row" action="">

      <div class="col-12">
        <div class="row align-items-center mb-3">
          <div class="col-lg-5 col-xl-7">
            <h1 class="c-ttl c-ttl-h1 text-uppercase">Lastest news</h1>
          </div>

          <div class="col-lg-7 col-xl-5">
            <div class="d-lg-flex align-items-center form-group my-3 my-lg-0" action="">
              <label class="form-label white-space-nowrap mr-3" for="newsCategory">Filter by category</label>
              <select id="newsCategory" class="form-control" name="Kids" size>
                <option value="category0" disabled selected>Category</option>
                <option value="category1">Category 1</option>
                <option value="category2">Category 2</option>
                <option value="category3">Category 3</option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xl-6">
        {{ newsCard.newsCard(
          title = "Travel Guide Baska for smartphones very very long title",
          image = "http://via.placeholder.com/300x300",
          date = "31.01.2018",
          category = "Category"
        )}}
      </div>

      <div class="col-xl-6">
        {{ newsCard.newsCard(
          title = "Travel Guide Baska for smartphones very very long title",
          image = "http://via.placeholder.com/300x300",
          date = "31.01.2018",
          category = "Category"
        )}}
      </div>

      <div class="col-xl-6">
        {{ newsCard.newsCard(
          title = "Travel Guide Baska for smartphones very very long title",
          image = "http://via.placeholder.com/300x300",
          date = "31.01.2018",
          category = "Category"
        )}}
      </div>

      <div class="col-xl-6">
        {{ newsCard.newsCard(
          title = "Travel Guide Baska for smartphones very very long title",
          image = "http://via.placeholder.com/300x300",
          date = "31.01.2018",
          category = "Category"
        )}}
      </div>

      <div class="col-xl-6">
        {{ newsCard.newsCard(
          title = "Travel Guide Baska for smartphones very very long title",
          image = "http://via.placeholder.com/300x300",
          date = "31.01.2018",
          category = "Category"
        )}}
      </div>

      <div class="col-xl-6">
        {{ newsCard.newsCard(
          title = "Travel Guide Baska for smartphones very very long title",
          image = "http://via.placeholder.com/300x300",
          date = "31.01.2018",
          category = "Category"
        )}}
      </div>

      <div class="col-12">
        {% include "html/app/components/pagination.html" %}
      </div>

    </form>
  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
