<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Object page' %}
{% set pageTitleName = 'Object page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-object' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/unitCard.html" as unitCard %}
{% import "html/app/components/breadcrumbs.html" as breadcrumbs %}


<main class="my-5">

  <section class="container">
    <div class="row">
      <div class="col-12">
        {% include "html/app/components/gallery-large.html" %}
      </div>
    </div>

    <div class="row mt-5 relative">

      <div class="col-lg-8">
        {% include "html/app/components/objectActionBanners.html" %}

        <div class="py-4">
          {{ breadcrumbs.breadcrumbFunc(
            breadcrumb_no = "1"
          )}}
        </div>

        <div class="d-md-flex align-items-center mb-4">

          <h1 class="c-ttl c-ttl-h1">Sobe Nadica</h1>
          <div class="o-accommodation_info -location font-weight-bold ml-md-4">Baška</div>

        </div>

        <h2 class="c-ttl c-ttl-h4">Description</h2>

        <div class="preformat pt-3 pb-2">
          <p>It is not always possible to jet off half way around the world when you and your significant other are
            wishing to go off on a private and romantic getaway. The great news is that you don’t have to spend a
            lot of money or go very far to get away from everyone and everything. You can find cheap romantic
            vacations nearby, and you may not have to look much further than the Internet to find great packages
            that you can afford.</p>
        </div>

        <hr>
      </div>

      <div class="col-lg-4 o-sidebar mt-4 mt-lg-0">
        <a class="c-btn c-btn-primary w-100" href="search.html">View all units</a>

        <section>
          <h2 class="c-ttl c-ttl-h4 mt-4 mb-3">Amenities</h2>

          <ul class="o-amenities d-md-flex justify-content-between flex-wrap">
            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/wifi.svg" alt="WiFi">
              </i>Wireless internet
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/airCondition.svg" alt="AC">
              </i>Air conditioning
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/pool.svg" alt="Pool">
              </i>Pool
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/balcony.svg" alt="Balcony">
              </i>Balcony
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/seaView.svg" alt="Sea view">
              </i>Seaview
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/doubleBed.svg" alt="Double bed">
              </i>Double bed
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/miniBar.svg" alt="Mini bar">
              </i>Mini bar
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/pool.svg" alt="Pool">
              </i>Pool
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/balcony.svg" alt="Balcony">
              </i>Balcony
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/seaView.svg" alt="Sea view">
              </i>Seaview
            </li>
          </ul>
        </section>

        <hr>

        <section>
          <h2 class="c-ttl c-ttl-h4 mt-4 mb-3">Distances</h2>

          <ul class="o-distances d-md-flex justify-content-between flex-wrap mb-4">
            <li class="o-distances_item d-flex justify-content-between mb-3">
              Train station<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Train station<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Public transport<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Hospital<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Train station<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Public transport<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Hospital<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>
          </ul>
        </section>

        <div data-sidebar-cut-dist></div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-8">
        <section>
          <h2 class="c-ttl c-ttl-h4 mt-4">Comments and ratings</h2>

          {% include "html/app/components/objectCommentsAndRatings.html" %}
        </section>

        <section>
          <h2 class="sr-only">Map</h2>

          {% include "html/app/components/map.html" %}
        </section>

        <section class="o-sidebar_widgets d-flex flex-column" data-sidebar-cut-src>
          {% include "html/app/components/subscribeForm.html" %}

          {% include "html/app/components/weatherWidget.html" %}
        </section>
      </div>
    </div>

    <section class="row">
      <div class="col-12">
        <h2 class="c-ttl c-ttl-h1 mt-5 mb-4">More units in this accommodation</h2>
      </div>

      <div class="col-mdp-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-mdp-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-mdp-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-mdp-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-12 d-flex justify-content-end">
        <a class="c-btn c-btn-secondary c-btn-mw200 w-100 my-3" href="search.html">View all units</a>
      </div>

    </section>
  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
