<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Offer page' %}
{% set pageTitleName = 'Offer page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-offer' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/unitCard.html" as unitCard %}

<main class="pb-5">

  <section class="container">
    <h1 class="sr-only">Offer page</h1>
    <div class="row relative" action="inquiryPreview.html">

      <div class="col-lg-4 o-sidebar my-4 mt-lg-5">
        <div class="c-ttl c-ttl-h6 mb-4">Choosen accommodation</div>

        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}

      </div>

      <div class="col-lg-8 my-5">
        <ul class="o-breadcrumbs d-flex mb-4">
          <li class="o-breadcrumbs_item"><a class="c-link" href="unit.html">Unit</a></li>
          <li class="o-breadcrumbs_item"><a class="c-link" href="#">Offer</a></li>
        </ul>

        <h2 class="c-ttl c-ttl-h1 mb-4">Offer</h2>
        {% include "html/app/components/offerPage-personalInfo.html" %}

        {% include "html/app/components/offerPage-table.html" %}

        <div>
          <div class="font-weight-bold my-4 pb-2">Offer valid until <strong>22.03.2018.</strong></div>
          <a class="c-btn c-btn-primary c-btn-mw200 w-100" href="payment.html">Book and pay</a>
        </div>

      </div>
    </div>

  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
