<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Payment CC page' %}
{% set pageTitleName = 'Payment CC page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-paymentCC' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/unitCard.html" as unitCard %}

<main class="pb-5">

  <section class="container">
    <h1 class="sr-only">Payment page</h1>
    <div class="row relative" action="inquiryPreview.html">

      <div class="col-lg-4 o-sidebar my-4 mt-lg-5">
        <div class="c-ttl c-ttl-h6 mb-4">Choosen accommodation</div>

        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}

      </div>

      <div class="col-lg-8 my-lg-5 pr-lg-5">
        <h2 class="c-ttl c-ttl-h1 mb-4">Payment</h2>

        <div class="row">
          <div class="col-md-7 col-lg-6 col-xl-5 c-ttl-sm font-weight-bold">
            <div class="mb-2 pb-2">1 person from 21.12.2016. till 22.12.2016.</div>
            <hr>
            <table class="w-100">
              <tbody>
                <tr>
                  <td>To pay:</td>
                  <td class="text-right p-0">= 6.00 EUR (partial)</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="text-right p-0">= 40.00 HRK (partial)</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="preformat mt-4">
          <p>All payments will be effected in Croatian currency. The amount your credit card account will be charged
            for is obtained through the conversion of the price in Euro into Croatian kuna according to the current
            exchange rate of the Croatian National bank. When charging your credit card, the same amount is converted
            into your local currency according to the exchange rate of credit card associations. As a result of this
            conversion there is a possibility of a slight difference from the original price stated in our web
            site.</p>
        </div>

        <hr class="my-4">

        <div class="preformat">
          You will be redirected to wsPay™ payment page where you will be asked to enter payment information
          required to complete the purchase.
        </div>

        <a class="c-btn c-btn-primary c-btn-mw200 w-100 mt-4" href="../html-pdf/payment.html">Confirm payment</a>

        <div class="preformat mt-4">
          <p>Personal and credit card data entries and transfers are protected by the 128-bit encryption SSL protocol,
            which is secured by SSL certificate released by COMODO CA Limited.</p>
        </div>

        <div class="mt-4 mb-4">
          <a class="c-link color-accented" href="#">
            <strong>Security and conversion statement</strong>
          </a>
        </div>

        <div class="my-5 pt-3">
          <!-- TODO: check credit cards image sizes after implementation -->

          <ul class="o-creditCards d-flex flex-wrap">
            <li class="o-creditCards_item wsPay">
              <a class="d-block"href="http://www.wspay.info" title="WSpay™ - Web Studio payment gateway" target="_blank">
                <img class="o-creditCards_img" src="../media/creditCards/wsPay.png" alt="wsPay">
              </a>
            </li>

            <li class="o-creditCards_item visa">
              <a class="d-block"href="http://www.visa.com.hr" title="Visa" target="_blank">
                <img class="o-creditCards_img" src="../media/creditCards/Visa.png" alt="Visa">
              </a>
            </li>

            <li class="o-creditCards_item masterCard">
              <a class="d-block"href="http://www.mastercard.com" title="MasterCard" target="_blank">
                <img class="o-creditCards_img" src="../media/creditCards/MasterCard.png" alt="Master Card">
              </a>
            </li>

            <li class="o-creditCards_item maestro">
              <a class="d-block"href="http://www.maestrocard.com" title="Maestro" target="_blank">
                <img class="o-creditCards_img" src="../media/creditCards/maestro.png" alt="Maestro">
              </a>
            </li>

            <li class="o-creditCards_item amex">
              <a class="d-block"href="https://www.americanexpress.com/" target="_blank">
                <img class="o-creditCards_img" src="../media/creditCards/AmericanExpress.png" alt="American Express">
              </a>
            </li>

            <li class="o-creditCards_item amexSecure">
              <a class="d-block"href="https://www.americanexpress.com/" target="_blank">
                <img class="o-creditCards_img" src="../media/creditCards/ax_jamstvo.png" alt="Amex secure">
              </a>
            </li>

            <li class="o-creditCards_item masterCardSecure">
              <a class="d-block"href="http://www.mastercard.com" target="_blank">
                <img class="o-creditCards_img" src="../media/creditCards/mastercard_securecode.png" alt="Master Card secure">
              </a>
            </li>

            <li class="o-creditCards_item visaSecure">
              <a class="d-block"href="http://www.visa.com.hr" target="_blank">
                <img class="o-creditCards_img" src="../media/creditCards/verified_by_visa.png" alt="Visa secure">
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>

  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
