<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Search page' %}
{% set pageTitleName = 'Search page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-search' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/unitCard.html" as unitCard %}

<main>

  <section class="container">
    <h1 class="sr-only">Search results</h1>

    <input id="searchByTrigger" class="o-toggle_trigger o-toggle_trigger-search" type="checkbox">

    <div class="row">
      <div class="col-12 d-flex justify-content-md-end">
        <label class="c-btn c-btn-secondary c-btn-minw170 o-toggle_label bg-white mt-5 mb-3"
            for="searchByTrigger" data-searchToggle>
          <span class="first">View in map</span>
          <span class="second">View in list</span>
        </label>
      </div>
    </div>

    <div class="o-toggle_searchList row my-5 mt-lg-2">

      <!-- Note for DEVs: max 16 units shown per page -->
      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3 mb-4">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-12">
        {% include "html/app/components/pagination.html" %}
      </div>
    </div>

    <div class="o-toggle_searchMap row my-5 mt-lg-2">
      <div class="col">
        {% include "html/app/components/map.html" %}
      </div>
    </div>
  </section>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
