<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Splendido' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Unit review page' %}
{% set pageTitleName = 'Unit review page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-unit' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/unitCard.html" as unitCard %}
{% import "html/app/components/breadcrumbs.html" as breadcrumbs %}


<main class="my-5">

  <section class="container">
    <div class="row">
      <div class="col-12">
        {% include "html/app/components/gallery-large.html" %}
      </div>
    </div>

    <div class="row relative">

      <div class="col-lg-8 mt-5">
        {% include "html/app/components/unitActionBanners.html" %}

        <div class="py-4">
          {{ breadcrumbs.breadcrumbFunc(
            breadcrumb_no = "2"
          )}}
        </div>

        <div class="d-md-flex justify-content-between mb-4">
          <div>
            <div class="d-md-flex align-items-center">
              <h1 class="c-ttl c-ttl-h1">Sobe Nadica</h1>

              <ul class="d-flex my-1 my-md-0 mx-md-3">
                <li class="o-accommodation_star -selected"></li>
                <li class="o-accommodation_star -selected"></li>
                <li class="o-accommodation_star -selected"></li>
                <li class="o-accommodation_star -selected"></li>
                <li class="o-accommodation_star"></li>
              </ul>
            </div>

            <div class="d-flex mb-2 mb-md-0">
              <div class="o-accommodation_info -location mr-3">Baška</div>
              <div class="o-accommodation_info -guests mr-3">3-4 guests</div>
            </div>
          </div>

          <div class="c-ttl c-ttl-h1 font-weight-bold mt-md-1">4.5/5</div>

        </div>

        <section>
          <h2 class="c-ttl c-ttl-h4 mb-3">Description</h2>

          <div class="preformat pb-2">
            <p>It is not always possible to jet off half way around the world when you and your significant other are
              wishing to go off on a private and romantic getaway. The great news is that you don’t have to spend a
              lot of money or go very far to get away from everyone and everything. You can find cheap romantic
              vacations nearby, and you may not have to look much further than the Internet to find great packages
              that you can afford.</p>
          </div>

          <hr>
        </section>

        <section>
          <h2 class="c-ttl c-ttl-h4 mt-5 mb-4">What's included in price</h2>

          <ul class="d-md-flex flex-wrap">
            <li class="o-amenities_checkedItem mr-4 mb-3">One day trip to village</li>
            <li class="o-amenities_checkedItem mr-4 mb-3">Double bed</li>
            <li class="o-amenities_checkedItem mr-4 mb-3">Cleaning</li>
            <li class="o-amenities_checkedItem mr-4 mb-3">Cleaning</li>
            <li class="o-amenities_checkedItem mr-4 mb-3">Wireless internet</li>
            <li class="o-amenities_checkedItem mr-4 mb-3">Dinner</li>
            <li class="o-amenities_checkedItem mr-4 mb-3">Dinner</li>
            <li class="o-amenities_checkedItem mr-4 mb-3">Room service</li>
            <li class="o-amenities_checkedItem mr-4 mb-3">Double bed</li>
            <li class="o-amenities_checkedItem mr-4 mb-3">Wireless internet</li>
          </ul>
        </section>

        <hr class="mt-4">
      </div>

      <div class="col-lg-4 o-sidebar mt-4 mt-lg-5">
        <a class="c-btn c-btn-primary w-100" href="inquiry.html">Send inquiry</a>

        <section>
          <h2 class="c-ttl c-ttl-h4 mt-4 mb-3">Amenities</h2>

          <ul class="o-amenities d-md-flex justify-content-between flex-wrap">
            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/wifi.svg" alt="WiFi">
              </i>Wireless internet
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/airCondition.svg" alt="AC">
              </i>Air conditioning
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/pool.svg" alt="Pool">
              </i>Pool
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/balcony.svg" alt="Balcony">
              </i>Balcony
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/seaView.svg" alt="Sea view">
              </i>Seaview
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/doubleBed.svg" alt="Double bed">
              </i>Double bed
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/miniBar.svg" alt="Mini bar">
              </i>Mini bar
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/pool.svg" alt="Pool">
              </i>Pool
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/balcony.svg" alt="Balcony">
              </i>Balcony
            </li>

            <li class="o-amenities_item mt-1 mb-3">
              <i class="c-icon c-icon-16 mr-2">
                <img class="iconic" src="../media/app/seaView.svg" alt="Sea view">
              </i>Seaview
            </li>
          </ul>
        </section>

        <hr>

        <section>
          <h2 class="c-ttl c-ttl-h4 mt-4 mb-3">Distances</h2>

          <ul class="o-distances d-md-flex justify-content-between flex-wrap mb-4">
            <li class="o-distances_item d-flex justify-content-between mb-3">
              Train station<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Train station<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Public transport<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Hospital<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Train station<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Public transport<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Hospital<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>

            <li class="o-distances_item d-flex justify-content-between mb-3">
              Attribute 1<strong>300m</strong>
            </li>
          </ul>
        </section>

        <div data-sidebar-cut-dist></div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-8">

        <section>
          <h2 class="c-ttl c-ttl-h4 mt-4 mb-3">Availability</h2>

          {% include "html/app/components/availabilityCalendar.html" %}
        </section>

        <hr class="my-5">

        <section>
          <h2 class="c-ttl c-ttl-h4 mt-5 mb-4">Pricelist</h2>

          {% include "html/app/components/priceList.html" %}
        </section>

        <section>
          <h2 class="c-ttl c-ttl-h4 mt-4 mb-3">Aditional notice</h2>

          <div class="preformat">
            <p>You love having a second home but the mortgage is putting a crater in your wallet. Many second home
              ownersturn to renting their property as a vacation rental to help defray the costs of ownership. How
              do you price a vacation home rental without overcharging but making enough to cover your costs? Do
              your research. Find out what other owners of, similar sized homes in the area are charging. You can
              ask a local real estate agent for a price
            </p>
          </div>
        </section>

        <div class="d-flex justify-content-end">
          <a class="c-btn c-btn-primary c-btn-mw200 w-100" href="inquiry.html">Send inquiry</a>
        </div>

        <section>
          <h2 class="c-ttl c-ttl-h4 mt-4 mb-3">Leave review</h2>

          {% include "html/app/components/leaveReview.html" %}
        </section>

        <section>
          <h2 class="sr-only">Map</h2>

          {% include "html/app/components/map.html" %}
        </section>

        <section class="o-sidebar_widgets d-flex flex-column" data-sidebar-cut-src>
          {% include "html/app/components/subscribeForm.html" %}

          {% include "html/app/components/weatherWidget.html" %}
        </section>

      </div>
    </div>

    <section class="row">
      <div class="col-12">
        <hr>
        <h2 class="c-ttl c-ttl-h1 mt-5 mb-4">Related units</h2>
      </div>

      <div class="col-mdp-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-mdp-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-mdp-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-mdp-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Soba Nadica",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-12 d-flex justify-content-end">
        <a class="c-btn c-btn-secondary c-btn-mw200 w-100 my-3" href="search.html">View related units</a>
      </div>
    </section>
  </section>

</main>

{% include "html/app/components/cookiePolicy.html" %}
{% include "html/app/components/footer.html" %}
{% endblock %}
