.f {

  &-13 {
    font-size: 13px;
  }

  &-14 {
    font-size: 14px;
  }

  &-15 {
    font-size: 15px;
  }

  &-17 {
    font-size: 17px;
  }

  &-18 {
    font-size: 18px;
  }

  &-24 {
    font-size: 24px;
  }

  &-30 {
    font-size: 30px;
  }

}

.font-weight-light {
  font-weight: 300;
}

.font-weight-semibold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}
