.pt-15 {
  padding-top: 15px;
}

.pt-25 {
  padding-top: 25px;
}

.pb-4 {
  padding-bottom: 4px!important;
}

.pr-0 {
  padding-right: 0!important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 4px;
}

.bg-aliceBlue {
  background-color: #F1F5FF!important;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.o-separatedList {

  &_item:not(:first-child) {
    padding-left: 10px;
  }

}

.o-separatedList_item {
  padding-right: 10px;
}

.w-auto {
  width: auto!important;
}

.w-100 {
  width: 100%!important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
