.color-primary {
  color: $primary-color;
}

.color-primary-dark {
  color: #0C1E6D;
}

.color-secondary {
  color: $secondary-color;
}

.color-grayLight {
  color: #8E8E8E!important;
}

.color-grayLightest {
  color: #CACACA!important;
}

.color-neutral {
  color: $global-font-color!important;
}

.color-alert {
  color: $alert-color;
}
