<!-- News card START -->
{% macro cardFunction(type, title, tags, desc, isNewsList) %}
<div class="o-card">
  {% if isNewsList %}
  <a class="c-link d-block" href="newsArticle.html">
    <div class="o-card_img" style="background-image: url('https://picsum.photos/520/260/?random');">
      <div class="o-card_date">20.09.2018.</div>
    </div>
  </a>
  {% else %}
  <a class="c-link d-block" href="project.html">
    <div class="o-card_img" style="background-image: url('https://picsum.photos/520/260/?random');">
      <div class="o-card_date">20.09.2018.</div>
    </div>
  </a>
  {% endif %}
  <div class="o-card_about">
    <!-- Note for Kiko323: Truncate h3 to 44char -->
    <h3 class="c-ttl c-ttl-h3">
      {% if isNewsList %}
      <a class="c-link" href="newsArticle.html">{{ title }}</a>
      {% else %}
      <a class="c-link" href="project.html">{{ title }}</a>
      {% endif %}
    </h3>
    <!-- Note for Kiko323: Max 3 tags,
        Clicking the tag, the page gives you the list (news or project) with that category -->
    <div class="o-card_tagList">
      {% for tag in tags %}
      <div class="o-card_tagItem"><a class="c-link c-link-tag" href="{{ type }}.html#cooking">{{ tag }}</a></div>
      <!-- <div class="o-card_tagItem"><a class="c-link c-link-tag" href="{{ type }}.html#projekti">Razvojni projekti</a></div>
      <div class="o-card_tagItem"><a class="c-link c-link-tag" href="{{ type }}.html#news">News</a></div> -->
      {% endfor %}
    </div>
    <!-- Note for Kiko323: Truncate p to 90char -->
    <p class="o-card_desc">{{ desc }}</p>
  </div>
</div>{% endmacro %}
<!-- News card STOP -->
