<footer class="o-mainFooter pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class="d-inline-block my-4" href="#">
          <img class="c-img -logo" src="../media/brand/logo-white.svg" alt="logo">
        </a>
      </div>

      <div class="col-lg-8">
        <div class="d-md-flex mb-4 mb-lg-0">
          <div class="o-mainFooter_contact -pin">
            <div>Riva 1 <br> 51000 Rijeka, <br> Hrvatska</div>
          </div>
          <div class="o-mainFooter_contact -tel">
            <a class="c-link d-block" href="tel:+38551351177">+385 51 351 177</a>
            <a class="c-link d-block" href="tel:+38551331764">+385 51 331 764</a>
            <a class="c-link d-block" href="mailto:rijeka.gateway@portauthority.hr">rijeka.gateway@portauthority.hr</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 d-flex justify-content-xl-end">
        <div class="o-weather mb-4">
          <div class="o-weather_icon" style="background-image: url('media/weather/cloudly.svg')"></div>
          <div class="o-weather_temp">29<sup>o</sup>C</div>
          <div class="o-weather_location">
            <div>Rijeka</div>
            <div class="text-uppercase mt-1">SEP 12</div>
          </div>
        </div>
      </div>

      <div class="col-lg-10 col-xl-7">
        <ul class="o-mainFooter_nav mb-4 d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-lg-between">
          <li class="o-mainFooter_nav_item">
            <a class="c-link" href="natjecaji.html" target="_blank">
              Natječaji
            </a>
          </li>

          <li class="o-mainFooter_nav_item">
            <a class="c-link" href="najavaBrodova.html" target="_blank">
              Najava brodova
            </a>
          </li>

          <li class="o-mainFooter_nav_item">
            <a class="c-link" href="obrasciKorisniciPravilnici.html" target="_blank">
              Obrasci za korisnike i pravilnici
            </a>
          </li>

          <li class="o-mainFooter_nav_item">
            <a class="c-link" href="luckePristojbe.html" target="_blank">
              Lučke pristojbe
            </a>
          </li>

          <li class="o-mainFooter_nav_item">
            <a class="c-link" href="statistikeTarife.html" target="_blank">
              Statistike i tarife
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8">
        <div class="lh-25">
          Lučka uprava Rijeka neprofitna ustanova za upravljanje, razvoj i korištenje riječke luke
          otvorene za međunarodni i domaći javni promet od osobitog (međunarodnoga) gospodarskog interesa za
          Republiku Hrvatsku.
        </div>
      </div>

      <div class="col-lg-4 d-flex justify-content-end align-items-end">
        <a class="o-mainFooter_hexis mt-5 mt-lg-0" href="https://www.hexis.hr" target="_blank">
          <span class="site">SITE BY</span>
          <img src="../media/brand/hexis.svg" alt="hexis">
        </a>
      </div>
    </div>
  </div>
</footer>
