<!-- Gallery START -->

<!-- Note for Kiko323: gallery image variation is 600x400 -->
<div class="o-gallery d-md-flex justify-content-center" data-gallery>
  <div class="o-gallery_item" style="background-image: url('https://picsum.photos/600/400/?random')">
    <a class="o-gallery_link d-block" href="https://picsum.photos/600/400/?random" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://picsum.photos/600/400/?random" alt="Gallery image">
    </a>
  </div>

  <div class="o-gallery_item" style="background-image: url('https://picsum.photos/600/400/?random')">
    <a class="o-gallery_link d-block" href="https://picsum.photos/600/400/?random" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://picsum.photos/600/400/?random" alt="Gallery image">
    </a>
  </div>

  <div class="o-gallery_item last" style="background-image: url('https://picsum.photos/600/400/?random')">
    <a class="o-gallery_link d-block" href="https://picsum.photos/600/400/?random" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://picsum.photos/600/400/?random" alt="Gallery image">
      <span class="o-gallery_count color-white text-center font-weight-bold">+463</span>
    </a>
  </div>

  <div class="o-gallery_item" style="background-image: url('https://picsum.photos/600/400/?random')">
    <a class="o-gallery_link d-block" href="https://picsum.photos/600/400/?random" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://picsum.photos/600/400/?random" alt="Gallery image">
    </a>
  </div>

  <div class="o-gallery_item" style="background-image: url('https://picsum.photos/600/400/?random')">
    <a class="o-gallery_link d-block" href="https://picsum.photos/600/400/?random" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://picsum.photos/600/400/?random" alt="Gallery image">
    </a>
  </div>

  <div class="o-gallery_item" style="background-image: url('https://picsum.photos/600/400/?random')">
    <a class="o-gallery_link d-block" href="https://picsum.photos/600/400/?random" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://picsum.photos/600/400/?random" alt="Gallery image">
    </a>
  </div>

  <div class="o-gallery_item" style="background-image: url('https://picsum.photos/600/400/?random')">
    <a class="o-gallery_link d-block" href="https://picsum.photos/600/400/?random" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://picsum.photos/600/400/?random" alt="Gallery image">
    </a>
  </div>
</div>
<!-- Gallery STOP -->
