<header class="o-mainHeader">

  <!-- Topbar START -->
  <div class="o-mainHeader_topbar">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="o-mainHeader_topbarWrapper">

            <!-- Contact START -->
            <ul class="o-mainHeader_topNav">
              <li class="o-mainHeader_topNavItem">
                <a class="c-link" href="natjecaji.html" target="_blank">
                  Natječaji
                </a>
              </li>

              <li class="o-mainHeader_topNavItem">
                <a class="c-link" href="luckiKontrolniCentar.html" target="_blank">
                  Lučki kontrolni centar
                </a>
              </li>

              <li class="o-mainHeader_topNavItem">
                <a class="c-link" href="obrasciKorisniciPravilnici.html" target="_blank">
                  Obrasci za korisnike i pravilnike
                </a>
              </li>

              <li class="o-mainHeader_topNavItem">
                <a class="c-link" href="luckePristojbe.html" target="_blank">
                  Lučke pristojbe
                </a>
              </li>

              <li class="o-mainHeader_topNavItem">
                <a class="c-link" href="statistikeTarife.html" target="_blank">
                  Statistike i tarife
                </a>
              </li>
            </ul>
            <!-- Contact STOP -->

            <!-- Language START -->
            {% include "src/html/app/components/switcherLang.html" %}
            <!-- Language STOP -->

          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- Topbar STOP -->

  <!-- Bottombar START -->
  <div class="o-mainHeader_bottombar">

    <div class="container" data-container>
      <div class="row">
        <div class="col-12">

          <div class="o-mainHeader_bottombarWrapper" data-sticky-header>

            <!-- Logo -->
            <a class="c-link -logo" href="index.html">
              <img class="c-img" src="../media/brand/logo.svg" alt="logo">
            </a>

            <!-- Menu START -->
            <div class="o-mainHeader_nav">

              <div class="o-mainHeader_navTrigger" data-menu-trigger="menu">
                <span></span>
              </div>

              <!-- Main Navigation START -->
              {% include "src/html/app/components/mainNavigation-wp.html" %}
              <!-- Main Navigation STOP -->

            </div>
            <!-- Menu STOP -->

          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- Bottombar START -->

</header>
