<nav class="o-mainNav">

  <ul id="dataMenu" class="o-mainNav_list" data-menu>
    <li class="o-mainNav_item">
      <a class="c-link" href="novosti.html">Novosti</a>
    </li>

    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link" href="luckaUpravaRijeka.html">Lučka uprava Rijeka</a>
      <div class="o-mainNav_trigger-sub" data-menu-trigger="sub"></div>
      <ul class="o-mainNav_list-sub" data-sub>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
      </ul>
    </li>

    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link" href="luckiSastav.html">Lučki sastav</a>
      <div class="o-mainNav_trigger-sub" data-menu-trigger="sub"></div>
      <ul class="o-mainNav_list-sub" data-sub>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
      </ul>
    </li>

    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link" href="luckaZajednica.html">Lučka zajednica</a>
      <div class="o-mainNav_trigger-sub" data-menu-trigger="sub"></div>
      <ul class="o-mainNav_list-sub" data-sub>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
      </ul>
    </li>

    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link" href="razvojniProjekti.html">Razvojni projekti</a>
      <div class="o-mainNav_trigger-sub" data-menu-trigger="sub"></div>
      <ul class="o-mainNav_list-sub" data-sub>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
      </ul>
    </li>

    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link" href="europskiProjekti.html">Europski projekti</a>
      <div class="o-mainNav_trigger-sub" data-menu-trigger="sub"></div>
      <ul class="o-mainNav_list-sub" data-sub>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
      </ul>
    </li>

    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link" href="medijskiKutak.html">Medijski kutak</a>
      <div class="o-mainNav_trigger-sub" data-menu-trigger="sub"></div>
      <ul class="o-mainNav_list-sub" data-sub>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
      </ul>

    </li>

    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link" href="medijskiKutak.html">Medijski kutak</a>
      <div class="o-mainNav_trigger-sub" data-menu-trigger="sub"></div>
      <ul class="o-mainNav_list-sub" data-sub>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
      </ul>

    </li>

    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link" href="medijskiKutak.html">Medijski kutak</a>
      <div class="o-mainNav_trigger-sub" data-menu-trigger="sub"></div>
      <ul class="o-mainNav_list-sub" data-sub>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
      </ul>

    </li>

    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link" href="medijskiKutak.html">Medijski kutak</a>
      <div class="o-mainNav_trigger-sub" data-menu-trigger="sub"></div>
      <ul class="o-mainNav_list-sub" data-sub>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="subItem.html">Sub item</a>
        </li>
      </ul>

    </li>

    <li class="o-mainNav_item" data-scope>
      <a class="c-link" href="kontakt.html">Kontakt</a>
    </li>

  </ul>

  <div class="o-mainNav_resMenuWrapper" data-responsive-menu-wrapper>
    <input id="responsiveMenu" class="o-toggle_trigger" type="checkbox">

    <label class="o-toggle_label" for="responsiveMenu">asd</label>

    <ul class="o-toggle_body" data-responsive-menu></ul>
  </div>

</nav>
