<div class="o-mainNav-wp">
  <ul id="dataMenu" class="o-mainNav_list">
    <li id="menu-item-5" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-5">
      <a href="http://wordpress-instance.com/sample-page/">Početna</a>
    </li>
    <li id="menu-item-6" class="o-mainNav_item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6">
      <a href="http://wordpress-instance.com/sample-page/">Lučka uprava rijeka</a>
      <ul class="sub-menu">
        <li id="menu-item-16" class="o-mainNav_item menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
          <a href="http://wordpress-instance.com/sample-page/">Sub item</a>
        </li>
        <li id="menu-item-23" class="o-mainNav_item menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
          <a href="http://wordpress-instance.com/sample-page/">Sample Page</a>
        </li>
        <li id="menu-item-24" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-24">
          <a href="http://wordpress-instance.com/sample-page/">Sample Page</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-9" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-9">
      <a href="http://wordpress-instance.com/sample-page/">Lučki sustav</a>
      <ul class="sub-menu">
        <li id="menu-item-17" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-17">
          <a href="http://wordpress-instance.com/sample-page/">Sample Page</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-10" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10">
      <a href="http://wordpress-instance.com/sample-page/">Lučka zajednica</a>
      <ul class="sub-menu">
        <li id="menu-item-18" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-18">
          <a href="http://wordpress-instance.com/sample-page/">Sample Page</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-12" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-12">
      <a href="http://wordpress-instance.com/sample-page/">Razvojni projekti</a>
      <ul class="sub-menu">
        <li id="menu-item-20" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-20">
          <a href="http://wordpress-instance.com/sample-page/">Sample Page</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-13" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-13">
      <a href="http://wordpress-instance.com/sample-page/">Europski projekti</a>
      <ul class="sub-menu">
        <li id="menu-item-21" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-21">
          <a href="http://wordpress-instance.com/sample-page/">Sample Page</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-14" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-14">
      <a href="http://wordpress-instance.com/sample-page/">Medijski kutak</a>
      <ul class="sub-menu">
        <li id="menu-item-22" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-22">
          <a href="http://wordpress-instance.com/sample-page/">Sample Page</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-15" class="o-mainNav_item menu-item-type-post_type menu-item-object-page menu-item-15">
      <a href="http://wordpress-instance.com/sample-page/">Kontakt</a>
    </li>
  </ul>

  <div class="o-mainNav_resMenuWrapper" data-responsive-menu-wrapper>
    <input id="responsiveMenu" class="o-toggle_trigger" type="checkbox">

    <label class="o-toggle_label" for="responsiveMenu"></label>

    <ul class="o-toggle_body" data-responsive-menu></ul>
  </div>
</div>
