<div class="o-newsbar">
  <div class="o-newsbar_item engine">
    <a class="c-link" href="static.html">
      <div class="o-newsbar_content">
        <h2 class="c-ttl c-ttl-h2">Port is engine</h2>
        <!-- Note for Kiko323: Truncate text to 88char -->
        <p class="o-newsbar_desc">Zanimljivosti vezane za razvoj luka u Europskoj Uniji i EU projekata</p>
        <i class="c-icon svg-arrow svg-arrow-dims"></i>
      </div>
    </a>
  </div>
  <div class="o-newsbar_item site">
    <a class="c-link" href="static.html">
      <div class="o-newsbar_content">
        <h2 class="c-ttl c-ttl-h2">Site at the sight</h2>
        <!-- Note for Kiko323: Truncate text to 88char -->
        <p class="o-newsbar_desc">Slike i novosti sa gradilišta</p>
        <i class="c-icon svg-arrow svg-arrow-dims"></i>
      </div>
    </a>
  </div>
  <div class="o-newsbar_item diversity">
    <a class="c-link" href="static.html">
      <div class="o-newsbar_content">
        <h2 class="c-ttl c-ttl-h2">Port of diversity</h2>
        <!-- Note for Kiko323: Truncate text to 88char -->
        <p class="o-newsbar_desc">Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"</p>
        <i class="c-icon svg-arrow svg-arrow-dims"></i>
      </div>
    </a>
  </div>
</div>
