<!-- Pagination START -->
<nav class="o-pagination bg-white text-center mt-4 mb-5" aria-label="Search results pagination">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1"></a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">...</a></li>
    <li class="page-item mobile"><a class="page-link" href="#">1/9</a></li>
    <li class="page-item"><a class="page-link" href="#">10</a></li>
    <li class="page-item">
      <a class="page-link" href="#">
        <strong>NEXT</strong>
      </a>
    </li>
  </ul>
</nav>
<!-- Pagination STOP -->
