<ul class="o-mainNavSwitch relative" data-scope>
  <li class="o-mainNavSwitch_item">

    <!-- Current Language -->
    <div class="o-mainNavSwitch_item-current" data-trigger="language">
      <a class="c-link" href="#">English</a>
    </div>

    <!-- Other Languages -->
    <ul class="o-mainNavSwitch_list" data-language>
      <li class="o-mainNavSwitch_list_item">
        <a class="c-link" href="#">Hrvatski</a>
      </li>
      <li class="o-mainNavSwitch_list_item">
        <a class="c-link" href="#">Italian</a>
      </li>
    </ul>

  </li>
</ul>
