//Overrides for plugin rangeslider.js
.rangeSliderWrapper {
  position: relative;
  margin: 2rem 0;

  .rangeslider {
    position: relative;
    background: $brand-secondary-mostLightest;
    box-shadow: inset 0 2px 3px rgba($black, .1);

    &:hover {
      @extend %cursor-pointer;
    }

    &,
    &__handle,
    &__fill {
      border-radius: 0;
    }

    &__fill {
      background: darken($brand-secondary-lightest, 6%);
    }

    &__handle {
      top: -3px;
      width: 0;
      height: 26px;
      border: 0;
      box-shadow: none;
      z-index: 1;

      &:after {
        @include font-size(22);
        content: '▸';
        position: absolute;
        left: -9px;
        width: 20px;
        height: 26px;
        border-radius: 0;
        background-color: $brand-secondary-light;
        color: $white;
        text-align: center;
        line-height: 1;
      }

    }

  }

  // used for separators
  table {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 20px;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;

    tr {
      counter-reset: rate-counter;
    }

    td {
      position: relative;
      counter-increment: rate-counter;

      &:after,
      &:last-of-type:before {
        @include transition();
        position: absolute;
        bottom: calc(100% + 5px);
        color: $black;
        transform: scale(1);
      }

      &:after {
        content: counter(rate-counter);
        left: -5px;
        font-weight: $font-weight-medium;
      }

      &:last-of-type:before {
        content: '10';
        right: -5px;
      }

      &.active:after,
      &.active-last:before {
        font-weight: $font-weight-bold;
        transform: scale(1.3);
      }

    }

    td + td {
      border-left: 1px solid $brand-secondary-light;
    }

  }

}
