// Icons
//
// // icon color is changed by 'iconic' JS plugin

.c-icon {
  line-height: 0;

  .iconic {
    height: 0;
    opacity: 0;

    &.injected-svg {
      height: auto;
      opacity: 1;
    }

  }

  * {
    width: 1em;
  }

  &.c-icon-21 * {
    width: 21px;
    height: 21px;
  }

  &.c-icon-48-44 * {
    width: 48px;
    height: 44px;
  }

  // Specific targets
  .o-newsbar_item & {
    position: absolute;
    right: 20px;

    @include laptopDown {
      top: 50%;
      transform: translateY(-50%);
    }

    @include laptop {
      bottom: 20px;
      transform: translateX(0);
      transition: transform 250ms;
    }

  }

  .o-newsbar_item .c-link:hover & {

    @include laptop {
      transform: translateX(5px);      
    }

  }

}

.iconic * {

  .c-icon-white & {
    fill: $white;
    stroke: $white;
  }

  .c-icon-black & {
    fill: $black;
    stroke: $black;
  }

}
