.c-img {
  display: block;
  width: 100%;

  .c-link.-logo & {

    @include laptopOnly {
      height: 68px;
    }

  }

  .o-mainHeader &.-logo {
    max-width: 323px;
  }

  .o-mainFooter &.-logo {
    max-width: 256px;
  }

  &.-message {
    flex-shrink: 0;

    @include laptopDown {
      transform: scale(.85);
    }

  }

  &.-featured {
    @extend %no-repeat;
    @extend %bg-cover;
    @extend %bg-center;
    height: 6.688rem; /* 107/16 */

    @include tablet {
      height: 12.313rem; /* 197/16 */
    }

    @include laptop {
      height: 16.438rem; /* 263/16 */
    }

    @include desktop {
      height: 23.5rem; /* 376/16 */
    }

  }

  &.-message404 {
    @extend .svg-404;
    @extend .svg-404-dims;
  }

  &.-denied {
    @extend .svg-denied;
    @extend .svg-denied-dims;
  }

  &.-thankYou {
    @extend .svg-thankYou;
    @extend .svg-thankYou-dims;
  }

}
