// Link
.c-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;

  &:hover {
    @extend %decoration-underline;
  }

  .o-card > & {

    @include tabletDown {
      margin-right: -15px;
      margin-left: -15px;
    }

  }

  .o-newsbar_item &:hover,
  .o-card_tagItem &:hover {
    @extend %decoration-none;
  }

  &-underline {
    @extend %decoration-underline;
  }

  &-tag {
    display: inline-block;
    padding: .375rem .5625rem;
    border-radius: 4px;
    margin: .4375rem 0 0;
    background-color: #176882;
    color: $white;
    font-size: 1rem;
  }

  &-cta {
    color: $brand-primary;
    font-weight: $font-weight-heading;

    &:visited,
    &:active {
      color: $brand-primary;
    }

  }

  &-social {
    font-size: 40px;
  }

  .o-newsbar_item & {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.9rem 3rem 1.9rem 1.5rem;

    @include laptop {
      height: 100%;
      padding-left: 3rem;
    }

    @include desktop {
      padding-left: 6rem;
    }

  }

  .o-card_about .c-ttl & {
    display: block;
    color: $black;

    &:visited,
    &:active {
      color: $black;
    }

  }


  // --------------------------------------------Main menu WP START-----------------------------------------------------
  $padding-right-sub: .394rem; /* 6.31/16 */

  .o-mainNav_item & {
    display: block;
    padding: 1.1875rem $padding-right-sub;
    color: #87898C;

    @include laptop {
      @include transition;
      padding: 1.938rem $padding-right-sub;

      &:hover {
        color: $brand-primary;
      }

    }

  }

  .o-mainNav_list > .o-mainNav_item:not(:last-child) & {

    @include laptopDown {
      border-bottom: 1px solid #E4E4E4;
    }

  }

  .o-mainNav_list-sub > .o-mainNav_item:not(:last-child) & {

    @include laptop {
      border-bottom: 1px solid #E4E4E4;
    }

  }

  .o-mainNav_item.-sub & {
    padding-right: $padding-right-sub*3;

  }

  .o-mainNav_item.-sub .o-mainNav_item & {
    padding: .938rem .394rem;
  }

  .o-mainNavSwitch_item-current & {
    position: relative;
    padding-right: .9375rem;

    &:after {
      @extend .svg-chevron-white;
      @extend .svg-chevron-white-dims;
      @include transition;
      content: '';
      position: absolute;
      top: 50%;
      left: 90%;
      transform: translateY(-50%);
    }

    @include laptop {
      padding-left: .75rem;
      border-left: 1px solid $white;
    }

  }

  .o-mainNavSwitch_item-current.active &:after {
    transform: translateY(-50%) rotateX(180deg);
  }

  .o-mainNavSwitch_list_item & {
    @include transition();
    width: 100%;
    padding: .9375rem 1.5625rem;

    @include laptop {

      &:hover {
        background: darken($brand-primary, 10%);
      }

    }

  }
  // --------------------------------------------Main menu WP STOP------------------------------------------------------

  &.-logo {
    position: relative;
    align-self: center;
    z-index: 6;
    width: 3.313rem; /* 53/16 */

    @include laptop {
      flex-shrink: 0;
      width: 4.188rem; /* 67/16 */
      margin-right: 15rem;
    }

    @include desktop {
      width: 5.688rem; /* 91/16 */
    }

  }

  .breadcrumb-item & {
    color: $brand-primary;
  }

  &-readMore {
    padding-right: 1rem;
    color: $brand-primary;
    font-weight: $font-weight-bold;

    &:after {
      @extend .svg-chevron-right-blue;
      @extend .svg-chevron-right-blue-dims;
      @include transition();
      content: '';
      display: inline-block;
      position: relative;
      top: 1px;
      left: 12px;
      transform: scale(1.2) translateX(-.25rem);
    }

    &:hover:after {
      transform: scale(1.2) translateX(0);
    }

    @include tablet {

      @include laptopDown {
        position: absolute;
        top: 5px;
        right: 15px;
      }

    }

  }

  // Main menu
  // $padding-right-sub: .394rem; /* 6.31/16 */
  //
  // .o-mainNav_item & {
  //   display: block;
  //   padding: 1.1875rem $padding-right-sub;
  //   color: #87898C;
  //
  //   @include laptop {
  //     @include transition;
  //     padding: 1.938rem $padding-right-sub;
  //
  //     &:hover {
  //       color: $brand-primary;
  //     }
  //
  //   }
  //
  // }
  //
  // .o-mainNav_list > .o-mainNav_item:not(:last-child) & {
  //
  //   @include laptopDown {
  //     border-bottom: 1px solid #E4E4E4;
  //   }
  //
  // }
  //
  // .o-mainNav_list-sub > .o-mainNav_item:not(:last-child) & {
  //
  //   @include laptop {
  //     border-bottom: 1px solid #E4E4E4;
  //   }
  //
  // }
  //
  // .o-mainNav_item.-sub & {
  //   padding-right: $padding-right-sub*3;
  //
  // }
  //
  // .o-mainNav_item.-sub .o-mainNav_item & {
  //   padding: .938rem .394rem;
  // }

}
