// Titles
.c-ttl {
  margin: 0;
  font-weight: $font-weight-bold;
  line-height: 1.2;

  // Sizes of title
  &-def {
    @include font-size(16);
  }

  &-h1 {
    @include font-size(44);

    @include desktop {
      @include font-size(46);
    }

  }

  &-h2 {
    @include font-size(32);

    @include desktop {
      @include font-size(34);
    }
    
  }

  &-h3 {
    @include font-size(26);
  }

  // Specific targets
  .o-contact_form & {
    margin-bottom: .9375rem;
  }

  .o-newsbar_item .c-link:hover & {

    @include laptop {
      text-decoration: underline;
    }

  }

  .o-card_about & {
    margin-top: 1.375rem;
    line-height: 1.2;
  }

  .o-hero_heading & {
    @extend %no-repeat;
    position: relative;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-right: 160px;
    background-image: url("../media/app/heroBg-overlay-mobile.svg");
    background-position: left center;
    background-size: 100%;

    &:after {
      @extend %absoluteFull;
      content: '';
      right: 100%;
      left: auto;
      width: 100%;
      background-color: rgba($blue-light, .5);
    }

  }

}
