// Link
.c-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  
  &:hover {
    // @extend %decoration-underline;
  }

  &:visited,
  &:active {
    color: inherit;
  }

  &-underline {
    @extend %decoration-underline;
  }

  &-social {
    font-size: 40px;
  }

  &-logo {
    width: 250px;
    height: 197px;

    @include laptop {
      
      .o-mainFooter & {
        transform: translateX(-15px);
      }

    }

  }

  $padding-right-sub: .9375rem;

  .o-mainNav_item & {
    display: block;
    color: $black;
    padding: 1.1875rem $padding-right-sub;

    @include laptop {
      padding: 1.625rem $padding-right-sub;
    }

  }

  .o-mainNav_list > .o-mainNav_item:not(:last-child) & {

    @include laptopDown {
      border-bottom: 1px solid #E4E4E4;
    }

  }

  .o-mainNav_list-sub > .o-mainNav_item:not(:last-child) & {

    @include laptop {
      border-bottom: 1px solid #E4E4E4;
    }

  }

  .o-mainNav_item.-sub & {
    padding-right: $padding-right-sub*2;
  }

  .o-mainFooter_contactItem & {
    font-weight: $font-weight-light;
  }

  .o-mainFooter_navItem & {
    @extend %decoration-underline;
    color: $brand-secondary;
    font-weight: $font-weight-semiBold;

    &:hover {
      @extend %decoration-none;
    }

  }

  .o-mainHeader_contactItem & {
    font-weight: 300;

    @include laptopDown {

      .contact {
        display: none;
      }

    }

  }

  .o-mainNavSwitch_item-current & {
    @extend %no-repeat;
    padding-right: .9375rem;
    background-image: url('../media/app/chevron-white.svg');
    background-position: 100% center;

    @include laptop {
      padding: {
        top: .375rem;
        bottom: .375rem;
        left: .75rem;
      };
      border-left: 1px solid $white;
    }

  }

  .o-mainNavSwitch_list_item & {
    padding: .9375rem 1.5625rem;
  }

  &.-logo {

    @include laptopDown {
      width: 200px;
    }

    @include laptop {
      width: 250px;
    }

  }

  @include laptopDown {

    .o-mainFooter_contactItem.-house & {
      line-height: 25px;

      > .postal {
        display: block;
      }

    }

    .o-mainHeader_contactItem.-phone &,
    .o-mainHeader_contactItem.-mail & {
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
    }

    .o-mainHeader_contactItem.-phone & {
      background-image: url('../media/app/phone-white.svg');
      background-position: 0 center;
      background-size: 14px 20px;
    }

    .o-mainHeader_contactItem.-mail & {
      background-image: url('../media/app/mail-white.svg');
      background-position: center center;
      background-size: 28px 19px;
    }

  }

  .o-area_item & {
    @extend %no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 45px;
    background-position: 0 0;
  }

  .o-area_item.-house & {
    @extend %pl;
    background-image: url('../media/app/law-house.svg');
    background-size: 49px 41px;
  }

  .o-area_item.-contract & {
    @extend %pl;
    background-image: url('../media/app/law-contract.svg');
    background-size: 49px 45px;
  }

  .o-area_item.-family & {
    @extend %pl;
    background-image: url('../media/app/law-family.svg');
    background-size: 49px 33px;
  }

  .o-area_item.-work & {
    @extend %pl;
    background-image: url('../media/app/law-work.svg');
    background-size: 49px 39px;
  }

  .breadcrumb-item & {
    color: $brand-secondary;
    text-decoration: underline;
  }

}
