.c-list {
  display: flex;
  
  &-categories {
    flex-direction: column;
    border-top: 1px solid rgba($black, .1);
    border-bottom: 1px solid rgba($black, .1);

    @include laptop {
      flex-direction: row;
      justify-content: space-between;
    }

    > .list_item {
      text-align: left;
    }

  }

}
