// Forms

// Group
$input-group-margin-bottom: .75rem;


// Control
$input-color: $color-text-neutral;
$input-bg-color: $white;

$input-padding-y: .44rem;
$input-padding-x: .75rem;

$input-border-width: 1px;
$input-border-style: solid;
$input-border-color: $color-ui-light;
$input-border-color-hover: $brand-secondary;

$input-border-radius: 2px;

$input-font-size: 1rem;
$input-font-weight: $font-weight-regular;

$input-line-height: 1.4;


// Label
$input-label-color: $color-text-neutral;

$input-label-margin-bottom: .25rem;

$input-label-font-size: .9375rem;
$input-label-font-weight: $font-weight-bold;

.form {

  &-group {

    @if $input-group-margin-bottom != 0 {
      margin-bottom: $input-group-margin-bottom;

      .form-group-clean > & {
        margin-bottom: 0;
      }

    }

    @include laptop {

      .o-searchForm_item & {
        height: 100%;
      }

    }

  }

  &-control {
    display: block;
    width: 100%;
    min-height: 50px;
    padding: $input-padding-y $input-padding-x;
    border-width: $input-border-width;
    border-style: $input-border-style;
    border-color: $input-border-color;
    color: $input-color;
    line-height: $input-line-height;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    font-family: $font-family-base;
    // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
    background-color: $input-bg-color;
    background-image: none;
    background-clip: padding-box;

    &:not(.hasDatepicker) {
      @include transition();
    }

    @if $input-border-radius != 0 {
      border-radius: $input-border-radius;
    }

    &:focus,
    &:hover {
      border-color: $input-border-color-hover;
    }

    &:disabled {
      cursor: not-allowed;
    }

    .error.has-error & {
      border-color: $red;
      box-shadow: 0px 0px 10px rgba($red, 0.06), 0 1px 2px rgba($red, 0.12)
    }

    &[readonly] {}

    &.hasDatepicker,
    &.select {
      @extend %no-repeat;
      @extend %cursor-pointer;
      background-size: 16px 16px;
    }

    &.hasDatepicker {
      background-position: calc(100% - 8px) 50%;
      //background-image: url("../media/app/datepicker.svg") !important;
    }

    &.select {
      background-position: calc(100% - 15px) 50%;
      background-image: url("../media/app/chevron.svg");

      .o-inquiryPageTable-charges & {
        width: auto;
        height: auto;
        padding: {
          top: 0;
          right: 2.5rem;
          bottom: 0;
          left: 0;
        };
        border: 0;
        margin: 0;
        margin-left: auto;
        background-color: transparent;
        background-origin: padding-box;
      }

      @include tablet {
        margin: auto;
      }

    }

    .o-searchForm_item & {
      height: 70px;
      padding: 2.1875rem .9375rem .75rem;
      border: none;
    }

    .o-sidebar .o-searchForm_item & {
      height: 3.625rem;
      padding: 1.6875rem .9375rem .45rem;
    }

  }

  &-label {
    display: block;
    margin-bottom: $input-label-margin-bottom;
    color: $input-label-color;
    font-size: $input-label-font-size;
    font-weight: $input-label-font-weight;

    .o-searchForm_item & {
      position: absolute;
      top: 13px;
      left: 15px;
      margin: 0;
      font-size: 14px;
      font-weight: $font-weight-bold;
    }

    .o-sidebar .o-searchForm_item & {
      top: 10px;
    }

  }

  &-label-tabs {
    @extend %cursor-pointer;
    padding: .6875rem 0;
    margin: 0;
    background-color: $white;
    color: $brand-secondary;
    user-select: none;
    transition: background-color 250ms, color 250ms, font-weight 250ms;

    &.active {
      background-color: $brand-secondary;
      color: $white;
      font-weight: $font-weight-bold;
    }

  }

  &-radio {
    @extend %hiddenHack;
  }

}

.form-error {

  &-wrapper {}

  &-message {
    color: $red;
  }

}

// Specific targets
.form {

  //.o-sidebar_header &-control {}

}
