// Icons
//
// // icon color is changed by 'iconic' JS plugin

.c-icon {
  display: inline-block;
  line-height: 0;

  .iconic {
    height: 0;
    opacity: 0;

    &.injected-svg {
      // height: auto;
      opacity: 1;
    }

  }

  * {
    width: 1em;
  }

  &.c-icon-9-16 * {
    width: 9px;
    height: 16px;
  }

  &.c-icon-12-6 * {
    width: 12px;
    height: 6px;
  }

  &.c-icon-14 * {
    width: 14px;
    height: 14px;
  }

  &.c-icon-14-30-14-24 * {
    width: 14px;
    height: 14px;
  }

  &.c-icon-16 * {
    width: 16px;
    height: 16px;
  }

  &.c-icon-18 * {
    width: 18px;
    height: 18px;
  }

  &.c-icon-20-16 * {
    width: 20px;
    height: 16px;
  }

  &.c-icon-20 * {
    width: 20px;
    height: 20px;
  }

  &.c-icon-21 * {
    width: 21px;
    height: 21px;
  }

  &.c-icon-25-18 * {
    width: 25px;
    height: 18px;
  }

  &.c-icon-42 * {
    width: 42px;
    height: 42px;
  }

  &.c-icon-46-41 * {
    width: 46px;
    height: 41px;
  }

  &.c-icon-48-44 * {
    width: 48px;
    height: 44px;
  }

  &.c-icon-60 * {
    width: 60px;
    height: 60px;
  }

  &.c-icon-78 * {
    width: 78px;
    height: 78px;
  }

  // Specific targets
  .o-pagination .page-item:first-child & {
    transform: rotate(180deg);
  }

  .o-pagination .page-item:last-child & {
    margin-left: .8rem;
  }

  .o-mainNav_item.-sub & {
    @include transition();
    position: absolute;

    @include laptopDown {
      top: 0;
      right: 0;
      width: 20%;
      padding: 1.3rem .625rem;
      text-align: center;

      &.-activeTrigger {
        transform: rotateX(180deg);
      }

    }

    @include laptop {
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      pointer-events: none;
    }

  }

  @include tablet {

    &.c-icon-14-30-14-24 * {
      width: 30px;
      height: 30px;
    }

  }

  @include laptop {

    &.c-icon-14-30-14-24 * {
      width: 14px;
      height: 14px;
    }

  }

  @include desktop {

    &.c-icon-14-30-14-24 * {
      width: 24px;
      height: 24px;
    }

  }

}

.iconic * {

  .c-icon-white & {
    fill: $white;
    // stroke: $white;
  }

  .c-icon-black & {
    fill: $color-text-neutral;
    // stroke: $white;
  }

}
