.c-img {
  display: block;
  width: 100%;

  &-search {
    width: 39px;
    height: 39px;
  }

  &-location {
    width: 11px;
    height: 19px;
  }

  &-cloud {
    width: 115px;
    height: 90px;
  }

  &-rooms {
    width: 95px;
    height: 95px;
  }

  &-mask {
    width: 96px;
    height: 100px;
  }

  &-notification {
    margin: auto;

    &.-thankYou {
      max-width: 175px;
    }

    &.-lost {
      max-width: 125px;
    }

    &.-denied {
      max-width: 210px;
    }

    &.-canceled {
      max-width: 160px;
    }

  }

}
