// Link
.c-link {
  @extend %cursor-pointer;
  display: block;
  font-weight: $font-weight-bold;

  &:hover {
    @extend %decoration-underline;
  }

  //&-more {
  //  position: relative;
  //  padding-right: 1.2rem;
  //
  //  &:after {
  //    @extend %no-repeat;
  //    content:'';
  //    position: absolute;
  //    top: 2px;
  //    right: 0;
  //    bottom: 0;
  //    width: 12px;
  //    height: 11px;
  //    margin: auto 0;
  //    background-image: url('../media/app/arrows.svg');
  //    background-size: 12px 11px;
  //    background-position: center;
  //  }
  //
  //}

  &-underline {
    @extend %decoration-underline;

    &:hover {
      @extend %decoration-none;
    }

  }

  .o-mainNav_item.-sub > & {
    position: relative;

    @include laptopDown {
      border-right: 1px solid rgba($black, .1);
      margin-right: 20%;
    }

  }

  .o-mainNav_item &,
  .o-mainNav_subItem &,
  .o-mainNav_langCurrent &,
  .o-mainNav_langListItem & {
    @extend %decoration-none;
  }

  .o-mainNav_item & {
    padding: .9rem;
  }

  .o-mainNav_item > & {

    @include laptop {
      padding: 1.9rem .9rem;
    }

  }

  .o-mainNav_subItem &:hover {
    background-color: rgba($black, .03);
  }

  .o-infoList & {
    display: inline-block;
    font-weight: $font-weight-normal;
  }

  .o-attachmentList_item & {
    color: $link-highlighted;
  }

}

button {

  &.c-link {

    &:hover {}

  }

}
