// Titles
.c-ttl {
  margin: 0;
  font-weight: $font-weight-black;

  // Sizes of title
  &-default {
    //@include font-size(16);
  }

  &-s19 {
    //@include font-size(19);
  }

  &-h1 {
    @include font-size(30);
  }

  &-h2 {
    @include font-size(26);
  }

  &-h3 {
    @include font-size(22);
  }

  &-h4 {
    @include font-size(20);
  }

  &-h5 {
    @include font-size(18);
  }

  &-h6 {
    @include font-size(17);
  }

  &-hero {
    @include font-size(30);
    letter-spacing: 5.33px;
  }

  &-sm {}
  &-smp {}
  &-md {}
  &-mdp {}
  &-lg {}
  &-lgp {}
  &-xl {}
  &-xxl {}

  @include tablet {
    &-default {}
    &-sm {}
    &-smp {}
    &-md {}
    &-mdp {}
    &-lg {}
    &-lgp {}
    &-xl {}
    &-xxl {}
  }

  @include laptop {
    &-default {}
    &-sm {}
    &-smp {}
    &-md {}
    &-mdp {}
    &-lg {}
    &-lgp {}
    &-xl {}
    &-xxl {}
  }

  // Specific targets
}
