/****

  ## jQuery Datepicker Custom Styles

  - if displaying multiple months (constantly) that are not hidden or called, wrap them
    in a DIV containing a class "availabilityCalendar"
  - define your: Cell, Calendar, Datepicker settings per design
  - in general "Calendar Styles" should be changed only if variable inside settings blocks
    was not defined


  ## Table of Contents
    1. Cell Settings
    2. Calendar Settings
    3. Datepicker Settings
    4. Calendar Styles

********/


/*------------------------------------------------------------------------------------
  1. CELL SETTINGS
------------------------------------------------------------------------------------*/

// Cell state: Default
  $cellWidth: 42px; // width
  $cellHeight: 40px; // height
  $cellFontSize: 0.9em; // font size
  $cellFontWeight: $regular-font-weight; // font weight
  $cellColor: $text-color; // color
  $cellBackground: $white; // background
  $cellBorderColor: #F6F7F7; // border color
  $cellBorderRadius: 0; // border radius

// Cell state: Today
  $todayColor: $text-color; // text color
  $todayBorderColor: $text-color; // border color

// Cell state: Current Day
  $currentDayBackground: $white; // background color
  $currentDayColor: $gray; // text color

// Cell state: Unselectable
  $unselectableDayColor: rgba($black, .35); // color

// Cell Unavailable Background
  $cellUnavailableBackground: $brand-primary-light; // background
  $cellUnavailableColor: $brand-primary; // color

// Cell Unavailable Background Begin
  $cellUnavailableBegin: $cellUnavailableBackground linear-gradient(125deg, $cellBackground 0%,
    $cellBackground 60%, $cellUnavailableBackground 61%, $cellUnavailableBackground 100%);

// Cell Unavailable Background End
  $cellUnavailableEnd: $cellUnavailableBackground linear-gradient(125deg, $cellUnavailableBackground 0%,
    $cellUnavailableBackground 40%, $cellBackground 41%, $cellBackground 100%);


/*------------------------------------------------------------------------------------
  2. CALENDAR SETTINGS
------------------------------------------------------------------------------------*/

$calendarMonthWidth-lg: 270px; // month block width
$calendarMonthWidth-lgp: 300px; // month block width
$calendarMonthMargin: 1rem; // month block margin
$calendarPadding: 0 21px; // calendar padding in regards to Arrows (should be the same as width of your arrows)

$calendarLeftIcon: '../media/app/calendar-prev.svg'; // calendar left (prev) arrow
$calendarRightIcon: '../media/app/calendar-next.svg'; // calendar right (next) arrow
$calendarIconWidth: 20px; // width of the icon(s)
$calendarIconHeight: 40px; // height of the icon(s)


/*------------------------------------------------------------------------------------
  3. DATEPICKER SETTINGS (Calendar that pops out from forms)
------------------------------------------------------------------------------------*/

$datepickerShadow: 1px 3px 4px rgba(0, 0, 0, 0.2); // shadow (to make him stand out)

// Select Form in headline of Datepicker
  $calendarSelectImage: '../media/app/chevron.svg'; // image to display select dropdown
  $calendarSelectImageWidth: 11px; // image width
  $calendarSelectImageHeight: 4px; // image height




/*------------------------------------------------------------------------------------
  4. CALENDAR STYLES
------------------------------------------------------------------------------------*/

.hasDatepicker {
  @include clearfix;
  font-size: 16px;

  .availabilityCalendar & {
    text-align: center;
  }

}

.ui-datepicker-calendar {
  border-spacing: 0;

  td {
    padding: 0;
    border: 1px solid $cellBorderColor;
    border-spacing: 0;
  }

}

// Calendar Controls
  .ui-datepicker {
    display: none;
    width: auto !important;
    position: relative;
    background: $white;
    box-shadow: $datepickerShadow;
    z-index: 12!important;

    .availabilityCalendar & {
      display: inline-block !important;
      width: 100% !important;
      background: none;
      box-shadow: none;
      padding: $calendarPadding;

      @include mediumPlusDown {
        max-width: 310px;
        text-align: center;
      }

    }

    &-next,
    &-prev {
      display: none;
      position: absolute;
      margin: auto;
      text-indent: -99999px;
      background-repeat: no-repeat;
      background-size: $calendarIconWidth/2 $calendarIconHeight/2;
      background-position: center;
      width: $calendarIconWidth/2;
      height: $calendarIconHeight/2;
      top: 0;

      @include smallPlusDown {
        margin-top: 2em;
      }

      @include mediumPlus {
        padding: 2rem;
      }

      &:hover {
        @extend %cursor-pointer;
      }

      .availabilityCalendar & {
        display: block;
        top: 50%;
        width: 19px;
        height: 34px;
        background-size: 19px 34px;
        transform: translateY(-50%);
      }

    }

    &-next {
      right: -5px;
      background-image: url($calendarRightIcon);

      @include mediumOnly {
        right: -10px;
      }

    }

    &-prev {
      left: -5px;
      background-image: url($calendarLeftIcon);

      @include mediumOnly {
        left: -10px;
      }

    }

    // Days
    &-today > a {
      box-shadow: inset 0 0 0 1px $todayBorderColor;
      border-radius: $cellBorderRadius;
      position: relative;
      font-weight: bold;
      color: $todayColor;
    }

    &-current-day a,
    &-current-day.not-available-begin a,
    &-current-day.not-available-end a {
      background: $currentDayBackground;
      color: $currentDayColor;
      border-radius: $cellBorderRadius;
    }

  }

// Calendar Head
  .ui-datepicker-title {
    font-size: 1em;
    padding-top: 0.75em;
    padding-bottom: .3rem;

    .availabilityCalendar & {
      font-size: 1rem; //16px
      text-transform: uppercase;
      text-align: left;
      font-weight: $heading-font-weight;
      color: $black;
    }

    select, option {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: none;
    }

    select::-ms-expand{
      display: none;
    }

    select {
      width: 40%;
      display: inline-block;
      padding: 0.2em 0.5em;
      margin: 0 5%;
      font-size: 0.70em;
      background-image: url($calendarSelectImage);
      background-repeat: no-repeat;
      background-size: $calendarSelectImageWidth $calendarSelectImageHeight;
      background-position: 96% 50%;
      border-radius: 3px;
      border: 1px solid $input-border-color;
    }

  }

// Calendar Styles
  .ui-datepicker-calendar{
    width: 100%;
    border-collapse: collapse;

    th {
      padding: 0.5em 0;
      color: $black;
      font-size: .9375rem; // 15px
      font-weight: $heading-font-weight;
      text-transform: uppercase;
      // text-align: left;
    }

    td a {
      border: 0;
      border-radius: $cellBorderRadius;
    }

  }

// Group Styles
  .ui-datepicker-group {
    margin: $calendarMonthMargin;
    display: inline-block;

    @include large {
      width: $calendarMonthWidth-lg;
    }

    @include largePlus {
      width: $calendarMonthWidth-lgp;
    }

  }

// Cell Date Styles
  .ui-state-default {
    color: $cellColor;
    background-color: $cellBackground;
    font-size: $cellFontSize;
    width: $cellWidth;
    height: $cellHeight;
    display: table-cell;
    vertical-align: middle;
    text-align: center;


    .availabilityCalendar & {
      width: 41px;
      height: 41px;
    }

    .ui-datepicker-unselectable &,
    .ui-state-disabled & {
      color: $unselectableDayColor;
    }

    .not-available & {
      background-color: $cellUnavailableBackground;
      color: $cellUnavailableColor;
      cursor: default;
    }

    .not-available-begin & {
      background: $cellUnavailableBegin;
      color: $cellColor;
      cursor: pointer;
    }

    .not-available-end & {
      background: $cellUnavailableEnd;
      color: $cellColor;
      cursor: pointer;
    }

  }
