// Light Gallery Overides
.lg-backdrop{
  background-color: rgba($black, 0.75) !important;
}

#lg-download {
  display: none !important;
}

.lg-actions .lg-next,
.lg-actions .lg-prev{
  background-color: transparent !important;
  top: 57px !important;
  bottom: 0;
  width: 50%;
  height: 90%;
  margin: auto;

  &:after,
  &:before{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 10%;
    margin: auto;
    font-size: 3rem;
  }

}

.lg-actions .lg-next{
  right: 0 !important;

  &:before{
    right: 20px;
    content: '→' !important;
  }

}

.lg-actions .lg-prev{
  left: 0 !important;

  &:after{
    left: 20px;
    content: '←' !important;
  }

}

.lg-progress-bar .lg-progress{
  background-color: lighten($brand-primary, 14%) !important;
}

.lg-thumb-item.active {
  border-color: lighten($brand-primary, 14%) !important;
}
