// Homepage
.p-homepage {

  main {
    position: relative;
  }

  &_bg {
    @extend %absoluteFull;
    z-index: -1;
    max-width: 1440px;
    margin: auto;
    pointer-events: none;

    &:before,
    &:after {
      @extend %absoluteFull;
      content: '';
      background: url('../media/app/y-bg.svg') no-repeat;
    }

    &:before {
      background-position: calc(100% + 5rem) 82%;
    }

    &:after {
      background-position: -4rem 50%;
    }

  }

}
