// Neutral colors
$white: #ffffff;
$black: #000000;

$red: #C9273D;
$yellow: #F6A600;
$orange: #E28230;


// Brand Primary
$brand-primary: #EB8D2D; // #EB8D2D

$brand-primary-dark: scale-color(adjust-hue($brand-primary, -5), $saturation:2%, $lightness:-25%);
$brand-primary-darken: scale-color(adjust-hue($brand-primary, -10), $saturation:6%, $lightness:-55%);
$brand-primary-darkest: scale-color(adjust-hue($brand-primary, -10), $saturation:10%, $lightness:-82%);

$brand-primary-light: scale-color(adjust-hue($brand-primary, 5), $saturation: 6%, $lightness: 32%);
$brand-primary-lighten: scale-color(adjust-hue($brand-primary, 6), $saturation: 5%, $lightness: 52%);
$brand-primary-lightest: scale-color(adjust-hue($brand-primary, 7), $saturation: 5%, $lightness: 82%);
$brand-primary-mostLightest: scale-color(adjust-hue($brand-primary, 8), $saturation: 5%, $lightness: 92%);


// Brand Secondary
$brand-secondary: #5C758D; // #5C758D

$brand-secondary-dark: scale-color(adjust-hue($brand-secondary, -5), $saturation:2%, $lightness:-25%);
$brand-secondary-darken: scale-color(adjust-hue($brand-secondary, -10), $saturation:6%, $lightness:-55%);
$brand-secondary-darkest: scale-color(adjust-hue($brand-secondary, -10), $saturation:10%, $lightness:-82%);

$brand-secondary-light: scale-color(adjust-hue($brand-secondary, 5), $saturation: 6%, $lightness: 32%);
$brand-secondary-lighten: scale-color(adjust-hue($brand-secondary, 6), $saturation: 5%, $lightness: 52%);
$brand-secondary-lightest: scale-color(adjust-hue($brand-secondary, 7), $saturation: 5%, $lightness: 82%);
$brand-secondary-mostLightest: scale-color(adjust-hue($brand-secondary, 8), $saturation: 5%, $lightness: 92%);


// Brand States
$brand-active: $brand-primary;
$brand-accented: #5681BE;
$brand-focused: #5681BE;
$brand-success: #72B12E;
$brand-warning: #E2C94B;
$brand-danger: #C12D3F;


// Text colors
$color-text-neutral: #4C5A62;
$color-text-neutral-light: lighten($color-text-neutral, 28%);
$color-headings-neutral: darken($color-text-neutral, 16.86%);


// UI colors
$color-ui-transparent: transparent;
$color-ui-light: #ffffff;
$color-ui-tint: #EBEBEB;
$color-ui-shade: #CCCCCC;
$color-ui-dark: #3C3C3C;
$color-ui-link: $brand-accented;


// Assets
$asset-separator-light: #E6E6E6;


// Specific targets
$hotels-bg-overlay: rgba(2,11,61, .7);
$vacation-bg-overlay: rgba(12,98,135, .75);
$vacation_blue: #358db0;
$hotels_blue: #16204E;
