/*-----------------------------------------------------------------------------
  PATHS
-----------------------------------------------------------------------------*/
  $path-npm: "../node_modules/";
  $path-media: "../media/";
  $path-fonts: "../fonts/";
