<header class="o-header">

  <!-- For PDF use 'container-fluid' -->
  <div class="container mt-4 pb-4">
    <div class="row">
      <div class="col">

        <ul class="o-headerContentTable o-headerContentTable-4 w-100">
          <li class="o-headerContentTable_item">
            <div class="o-header_logo">

              <a href="index.html">
                <img class="o-header_logo_img" src="../media/brand/logo-black.svg" alt="Splendido">
              </a>

              <!-- For PDF use this logo -->
              <!--<a href="index.html"-->
                <!--&gt;<img class="o-header_logo_img" src="../media/brand/logo-bw.png" alt="Splendido"></a>-->
              <!-- For PDF use this logo -->

            </div>
          </li>

          <li class="o-headerContentTable_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item"><strong class="label">Splendido turistička agencija</strong></li>
              <li class="o-verticalInfoList_item">Kralja Zvonimira 148,</li>
              <li class="o-verticalInfoList_item">51523 Baška (Otok Krk), Croatia</li>
              <li class="o-verticalInfoList_item"><strong class="label">ID Code:</strong> HR-AB-51-040110073</li>
            </ul>
          </li>

          <li class="o-headerContentTable_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item"><strong class="label">Tel:</strong>&nbsp;<a
                  class="c-link" href="tel:38551604400">+385 51 604 400</a></li>
              <li class="o-verticalInfoList_item"><strong class="label">Fax:</strong>&nbsp;<a
                  class="c-link" href="fax:38551604401">+385 51 604 401</a></li>
              <li class="o-verticalInfoList_item"><strong class="label">Mob:</strong>&nbsp;<a
                  class="c-link" href="tel:385915167858">+385 91 516 78 58</a></li>
              <li class="o-verticalInfoList_item"><strong class="label">Email:</strong>&nbsp;<a
                  class="c-link" href="mailto:info@splendido.hr">info@splendido.hr</a></li>
            </ul>
          </li>

          <li class="o-headerContentTable_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item"><strong class="label">OIB:</strong>
                  12345678901</li>
              <li class="o-verticalInfoList_item"><strong class="label">MBS:</strong>123456789</li>
              <li class="o-verticalInfoList_item"><strong class="label">Broj računa:</strong>
                IBAN HR1234567890654356789, PBZ Radnička cesta 50, 10000 Zagreb</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <hr class="dark">
</header>
