@import 'settings';
@import 'settings-custom';
@import 'foundation-emails';

.main-message{

  &_wrapper{
    width: 100%;
    border-bottom: 1px solid $light-gray;
  }

  &_content{
    padding: 45px 0 20px;
    hyphens: none;

    tr {
      vertical-align: middle;
    }

    &, p{
      line-height: 1.5;
    }
  }

}

.gap-bottom-big{
  padding-bottom: 70px;
}

.text-big{
  font-size: 18px;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

p{
  margin: 0;
}

h1{
  text-align: center;
}

hr{
  border-color: $light-gray;
}

//HEADER
  .mainHeader-wrapper {
    display: table;
    width: 100%;
    border-bottom: 1px solid $light-gray;
  }

  .mainFooter-wrapper{
    width: 100%;
    background: $footer-bgColor;
  }

  .mainFooter-content{
    padding: 55px 0;

    .contact-info{
      margin-top: 20px;

      .key{
        padding-top: 10px;
      }
      .value{}
    }

    .company-info{
      font-size: 18px;

      .company-name{
        font-size: 22px;
        padding-bottom: 15px;
      }

    }

    .social-wrapper{
      width: 100%;
    }

    .social-content{
      padding: 20px 0;
    }

    td,
    p{
      color: $medium-gray;
      text-align: center;
    }

    td{
      padding-bottom: 0.3em;
    }

    a{
      text-decoration: underline;
    }

    .working-hours tr:first-of-type td{
      padding-top: 30px;
    }

    .copyright{
      padding: 55px 0 22px;
    }

    .hexis{

      img{
        display: inline-table;
        width: 51px;
        height: auto;
      }

    }

  }

  .mainHeader-logo {
    display: table;
    width: 143px;
    height: 41px;
    margin: 15px auto;

    img{
      width: 100%;
      max-width: 100%;
    }

  }

// ICON
  .icon {
    display: inline-table;
    vertical-align: middle;

    &.status{
      width: 43px;
      height: auto;
      //padding-bottom: 1em;
    }

    .rating &{
      width: 18px;
      height: auto;
      vertical-align: baseline;
    }

    &.social{
      width: 24px;
      height: auto;

      & + .social {
        margin-left: 0.5em;
      }

    }

    img{
      width: 100%;
    }

  }

h1,
.h1{
  font-size: $h1-font-size;
  padding-bottom: 0.5em;
}


.rating{
  display: initial;
  padding-left: 0.5em;
}

.price-table{

  tr:not(:first-child) td{
    border-top: 1px solid $light-gray;
  }

  td{
    padding: 0.5em 1em;

    &:nth-child(2){
      border-left: 1px solid $light-gray;
      text-align: right;
      vertical-align: bottom;
      white-space: nowrap;
    }

  }

  tfoot>tr>td{
    background: $light-gray;
    padding-top: 1.5em;

    &:last-child{
      border-left-color: $white;
    }

  }

}

// LIST
  .list{

    tr:not(:last-child) td{
      padding-bottom: 5px;
    }

    &.with-gap{
      margin: 15px 0 30px;
    }

    &.twoCols .item{
      width: 45%;
      display: inline-table;
      line-height: 1.5;
    }

    &-data{

      td{
        padding-bottom: 15px;
      }

      .key{
      }

      .value{
        width: 150px;
        word-break: break-all;
      }

    }

  }

 // BUTTON
.cta-wrapper{
  padding: 30px 0 70px;
}
.button-cta{
  display: block;
  background: $button-background;
  color: $button-color;
  text-align: center;
  border-radius: 4px;
  border: 1px solid darken($button-background, 5%);
  padding: 1em 0;
  font-weight: bold;

  &:hover,
  &:visited,
  &:active{
    color: $button-color;
    background: darken($button-background, 5%);
  }

}

.data-wrapper{
  width: 100%;
}
.data-content{
  padding: 50px 0 50px;

  .key{
    padding-bottom: 10px;
  }
  .value{}

}

.unit-wrapper{
  width: 100%;
}
.unit-content{
  padding: 55px 0 0;
  border-top: 1px solid $light-gray;

  .image-full{
    width: 100% !important;
  }

  .location{
    padding-bottom: 15px;
  }

  .description{
    line-height: 1.4;
  }

  h2>a{
    font-weight: bold;
    color: $global-font-color;
  }

}

.price-table{
  margin-top: 20px;

  .values{
    color: $dark-gray;
    font-size: 14px;
  }

  .alreadyPayed{
    text-transform: uppercase;
  }

  .hero td{
    background: rgba($secondary-color, .09);
  }

}

.price{
  font-size: 19px;
  padding: 35px 0 15px;
}
