<header class="o-header">

  <!-- For PDF use 'container-fluid' -->
  <div class="container mt-4 pb-4">
    <div class="row">
      <div class="col">

        <ul class="o-headerContentTable o-headerContentTable-4 w-100 py-3">
          <li class="o-headerContentTable_item">
            <div class="o-header_logo">

              <a href="index.html">
                <img class="o-header_logo_img" src="../media/brand/logo-blue.svg" alt="Gay Hotels">
              </a>

              <!-- For PDF use this logo -->
              <!--<a href="index.html"-->
                <!--&gt;<img class="o-header_logo_img" src="../media/brand/logo-bw.png" alt="Hotel"></a>-->
              <!-- For PDF use this logo -->

            </div>
          </li>

          <li class="o-headerContentTable_item">
            <table class="o-verticalInfoTable">
              <tbody>
                <tr>
                  <td>Splendido turistička agencija</td>
                </tr>

                <tr>
                  <td>Kralja Zvonimira 148,</td>
                </tr>

                <tr>
                  <td>51523 Baška (Otok Krk), Croatia</td>
                </tr>

                <tr>
                  <td><span>ID Code:</span>HR -AB-51-040110073</td>
                </tr>
              </tbody>
            </table>
          </li>

          <li class="o-headerContentTable_item">
            <table class="o-verticalInfoTable">
              <tbody>
                <tr>
                  <td class="o-verticalInfoTable_item"><strong class="color-headings-neutral">Tel:</strong></td>
                  <td><a class="c-link" href="tel:38551604400">+385 51 604 400</a></td>
                </tr>

                <tr>
                  <td class="o-verticalInfoTable_item"><strong class="color-headings-neutral">Fax:</strong></td>
                  <td><a class="c-link" href="fax:38551604401">+385 51 604 401</a></td>
                </tr>

                <tr>
                  <td class="o-verticalInfoTable_item"><strong class="color-headings-neutral">Mob:</strong></td>
                  <td><a class="c-link" href="tel:385915167858">+385 91 516 78 58</a></td>
                </tr>

                <tr>
                  <td class="o-verticalInfoTable_item"><strong class="color-headings-neutral">Email:</strong></td>
                  <td><a class="c-link" href="mailto:info@splendido.hr">info@splendido.hr</a></td>
                </tr>
              </tbody>
            </table>
          </li>

          <li class="o-headerContentTable_item">
            <table class="o-verticalInfoTable">
              <tbody>
                <tr>
                  <td>OIB: 12345678901</td>
                </tr>

                <tr>
                  <td>MBS: 123456789</td>
                </tr>

                <tr>
                  <td>Broj računa: IBAN HR1234567890654356789</td>
                </tr>

                <tr>
                  <td>PBZ Radnička cesta 50, 10000 Zagreb</td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <hr>
</header>
