%svg-common {
	background: url("../media/sprite/sprite.svg") no-repeat;
}

.svg-404 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-404-dims {
	width: 90px;
	height: 90px;
}

.svg-arrow {
	@extend %svg-common;
	background-position: 84.33734939759036% 53.89221556886228%;
}

.svg-arrow-dims {
	width: 14px;
	height: 13px;
}

.svg-arrow-right {
	@extend %svg-common;
	background-position: 59.602649006622514% 55.55555555555556%;
}

.svg-arrow-right-dims {
	width: 29px;
	height: 18px;
}

.svg-chevron {
	@extend %svg-common;
	background-position: 95.95375722543352% 53.40909090909091%;
}

.svg-chevron-dims {
	width: 7px;
	height: 4px;
}

.svg-chevron-breadcrumb {
	@extend %svg-common;
	background-position: 91.95402298850574% 53.25443786982248%;
}

.svg-chevron-breadcrumb-dims {
	width: 6px;
	height: 11px;
}

.svg-chevron-primary {
	@extend %svg-common;
	background-position: 100% 51.13636363636363%;
}

.svg-chevron-primary-dims {
	width: 7px;
	height: 4px;
}

.svg-chevron-right-blue {
	@extend %svg-common;
	background-position: 88.50574712643679% 53.25443786982248%;
}

.svg-chevron-right-blue-dims {
	width: 6px;
	height: 11px;
}

.svg-chevron-white {
	@extend %svg-common;
	background-position: 95.95375722543352% 51.13636363636363%;
}

.svg-chevron-white-dims {
	width: 7px;
	height: 4px;
}

.svg-chevronEmpty {
	@extend %svg-common;
	background-position: 76.47058823529412% 54.54545454545455%;
}

.svg-chevronEmpty-dims {
	width: 10px;
	height: 15px;
}

.svg-chevronEmpty-white {
	@extend %svg-common;
	background-position: 70.41420118343196% 54.8780487804878%;
}

.svg-chevronEmpty-white-dims {
	width: 11px;
	height: 16px;
}

.svg-denied {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-denied-dims {
	width: 90px;
	height: 90px;
}

.svg-doc {
	@extend %svg-common;
	background-position: 54.8780487804878% 85.09316770186335%;
}

.svg-doc-dims {
	width: 16px;
	height: 19px;
}

.svg-img {
	@extend %svg-common;
	background-position: 96.95121951219512% 67.9245283018868%;
}

.svg-img-dims {
	width: 16px;
	height: 21px;
}

.svg-pin {
	@extend %svg-common;
	background-position: 76.43312101910828% 68.78980891719745%;
}

.svg-pin-dims {
	width: 23px;
	height: 23px;
}

.svg-tel {
	@extend %svg-common;
	background-position: 61.78343949044586% 68.78980891719745%;
}

.svg-tel-dims {
	width: 23px;
	height: 23px;
}

.svg-thankYou {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-thankYou-dims {
	width: 90px;
	height: 90px;
}

.svg-threeDots {
	@extend %svg-common;
	background-position: 52.02312138728324% 71.52317880794702%;
}

.svg-threeDots-dims {
	width: 7px;
	height: 29px;
}

.svg-zip {
	@extend %svg-common;
	background-position: 87.1951219512195% 68.35443037974683%;
}

.svg-zip-dims {
	width: 16px;
	height: 22px;
}

