.c-att {

  &_item {
    display: inline-flex;
    align-items: center;
    margin: .1rem 0;
  }

  &_item:not(:first-child) {
    margin-right: .8rem;
  }

  &-lg &_item {
    width: 20%;
    text-align: center;
  }

  @include laptop {
    justify-content: flex-start;

    &_item {
      max-width: 155px;
      margin-right: .3rem;
    }

  }

}
