// Buttons

// Global settings
$btn-padding-y: .969rem;
$btn-padding-x: 1rem;
$btn-border-radius: 5px;
$btn-font-size: 1rem;
$btn-font-weight: $font-weight-bold;

// Primary button settings
$btn-primary-bg: $brand-primary;
$btn-primary-bg-hover: darken($btn-primary-bg, 10%);

$btn-primary-color: $white;
$btn-primary-color-hover: darken($btn-primary-color, 10%);

$btn-primary-border-width: 0;
$btn-primary-border-width-hover: $btn-primary-border-width;
$btn-primary-border-style: solid;
$btn-primary-border-style-hover: $btn-primary-border-style;
$btn-primary-border-color: $white;
$btn-primary-border-color-hover: darken($btn-primary-border-color, 10%);


// Secondary button settings
$btn-secondary-bg: transparent;
$btn-secondary-bg-hover: darken($btn-secondary-bg, 10%);

$btn-secondary-color: $brand-secondary;
$btn-secondary-color-hover: darken($btn-secondary-color, 10%);

$btn-secondary-border-width: 1px;
$btn-secondary-border-width-hover: $btn-secondary-border-width;
$btn-secondary-border-style: solid;
$btn-secondary-border-style-hover: $btn-secondary-border-style;
$btn-secondary-border-color: $brand-secondary;
$btn-secondary-border-color-hover: darken($btn-secondary-border-color, 10%);

.c-btn {
  @include transition();
  display: inline-flex;
  justify-content: center;
  border-radius: $btn-border-radius;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  -webkit-touch-callout: none;

  &, &:focus {
    outline: 0;
    box-shadow: none;
  }

  @include print {
    display: none;
  }

  @include laptopDown {
    display: flex;
    width: 100%;
    max-width: 100%!important;
  }

  &-primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    border-width: $btn-primary-border-width;
    border-style: $btn-primary-border-style;
    border-color: $btn-primary-border-color;

    &:hover {
      background-color: $btn-primary-bg-hover;
      color: $btn-primary-color-hover;
      border-color: $btn-primary-border-color-hover;
    }

  }

  &-secondary {
    background-color: $btn-secondary-bg;
    color: $btn-secondary-color;
    border-width: $btn-secondary-border-width;
    border-style: $btn-secondary-border-style;
    border-color: $btn-secondary-border-color;

    &:hover {
      background-color: $btn-secondary-bg-hover;
      color: $btn-secondary-color-hover;
      border-color: $btn-secondary-border-color-hover;
    }

  }

  &-arrow {
    @extend %no-repeat;
    background-image: url('../media/app/chevron-right-white.svg');
    background-size: 6px;
    background-position: calc(100% - 1.625rem);

    @include tablet {
      background-position: calc(100% - 2.5rem);
    }

    @include laptop {
      padding: .969rem 2.2rem .969rem 2.2rem;
      background-position: calc(100% - 1.3rem);

      &:hover {
        background-position: calc(100% - 1rem);
      }

    }

  }

  .o-subscription & {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &[data-searchToggle] {
    opacity: 0;
  }

  @include mobilePlus {

    // Size modifiers (note: use along with 'w-100')
    &-mw200 {
      max-width: 200px;
    }

    &-minw200 {
      min-width: 200px;
    }

    &-minw170 {
      min-width: 170px;
    }

  }

  @include tablet {

    &-md-mw200 {
      max-width: 200px!important;
    }

  }

}
