// Custom checkbox
.c-customCheckbox {
  text-align: center;

  .o-mainSearch-advanced & {
    text-align: left;
  }

  &_input {
    @extend %hiddenHack;
  }

  &_label {
    @extend %no-repeat;
    padding-left: 1.5rem;
    background-image: url('../media/app/checkbox-unchecked.svg');
    background-size: 1rem 1rem;
    background-position: 0 50%;
    color: $black;

    &:hover {
      @extend %cursor-pointer;
      @extend %user-select;
    }

  }

  &_input[type=checkbox]:checked ~ .c-customCheckbox_label {
    background-image: url('../media/app/checkbox-checked.svg');
  }

  .o-inquiryPageTable-charges & {

    @include tabletDown {
      margin-right: -3.5%;
    }

  }

}
