// Icons
//
// // icon color is changed by 'iconic' JS plugin

.c-icon {
  line-height: 0;

  .iconic {
    height: 0;
    opacity: 0;

    &.injected-svg {
      height: auto;
      opacity: 1;
    }

  }

  * {
    width: 1em;
  }

  &.c-icon-9-10 * {
    width: 9px;
    height: 10px;
  }

  &.c-icon-12-6 * {
    width: 12px;
    height: 6px;
  }

  &.c-icon-15 * {
    width: 15px;
    height: 15px;
  }

  &.c-icon-16 * {
    width: 16px;
    height: 16px;
  }

  &.c-icon-21 * {
    width: 21px;
    height: 21px;
  }

  &.c-icon-22 * {
    width: 22px;
    height: 22px;
  }

  &.c-icon-34 * {
    width: 34px;
    height: 34px;
  }

  &.c-icon-48-44 * {
    width: 48px;
    height: 44px;
  }

  &.c-icon-64 * {
    width: 64px;
    height: 64px;
  }

  // Specific targets

  .o-mainNav_item.-sub & {
    position: absolute;
  }

  .o-mainNav_item.-sub & {
    @include transition();
    top: 0;

    @include laptopDown {
      top: 0;
      right: 0;
      width: 20%;
      padding: 1.35rem .625rem;
      text-align: center;

      &.active {
        transform: rotateX(180deg);
      }

    }

    @include laptop {
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      pointer-events: none;
    }

  }

  .o-mainNav_subItem.-sub & {

    @include laptop {
      top: 47%;
      transform: rotate(-90deg);
    }

  }

  // Last 4 items
  .o-mainNav_item:nth-last-child(-n+4) .o-mainNav_subList .o-mainNav_subItem.-sub & {

    @include laptop {
      right: auto;
      left: 6px;
      transform: rotate(90deg);
    }

  }

  &-pagination {
    @extend %no-repeat;
    width: 1.25rem;
    height: 1.25rem;
    background-size: 10px;
    background-image: url('../media/app/chevronPagination.svg');
    background-position: top;

    &.-left {
      transform: rotate(180deg);
    }

  }

}

.iconic * {

  .c-icon-white & {
    fill: $white;
    stroke: $white;
  }

  .c-icon-black & {
    fill: $black;
    stroke: $black;
  }

}
