// Link
.c-link {

  &:hover {
    @extend %decoration-underline;
  }

  //&-more {
  //  position: relative;
  //  padding-right: 1.2rem;
  //
  //  &:after {
  //    @extend %no-repeat;
  //    content:'';
  //    position: absolute;
  //    top: 2px;
  //    right: 0;
  //    bottom: 0;
  //    width: 12px;
  //    height: 11px;
  //    margin: auto 0;
  //    background-image: url('../media/app/arrows.svg');
  //    background-size: 12px 11px;
  //    background-position: center;
  //  }
  //
  //}

  &-underline {
    @extend %decoration-underline;

    &:hover {
      @extend %decoration-none;
    }

  }

  // Main Menu
  .o-mainNav_item > & {
    @extend %decoration-none;

    @include laptopDown {
      padding: .9rem;
    }

    @include laptop {
      padding: 1.657rem 1rem;
    }

  }

  // Menu Items with Sub
  .o-mainNav_item.-sub > &,
  .o-mainNav_subItem.-sub > & {

    @include laptopDown {
      border-right: 1px solid rgba($black, .1);
      margin-right: 20%;
    }

  }

  // Sub Menu Items
  .o-mainNav_subItem > & {
    @extend %decoration-none;
    padding: .9375rem 1.625rem;

    @include laptopDown {
      padding-left: 2rem;
    }

    @include laptop {

      &:hover {
        background-color: $brand-secondary;
        color: $white;
      }

    }

  }

  // SubSub Menu Items
  .o-mainNav_subList .o-mainNav_subItem.-sub .o-mainNav_subList .o-mainNav_subItem & {

    @include laptopDown {
      padding-left: 2.5rem;
    }

  }

  .o-mainNav_item > &:active,
  .o-mainNav_subItem > &:active {
    background-color: $brand-secondary;
    color: $white;
  }

  .o-mainNavSwitch_item &:hover {
    @extend %decoration-none;
  }

  .o-mainNavSwitch_item-current > & {

    @include laptopDown {
      pointer-events: none;
    }

  }

  .o-mainNavSwitch_list_item &:hover {
    @extend %cursor-pointer;
    text-decoration: underline;
  }

  // Breadcrumbs
  .o-breadcrumbs_item:not(:last-child) & {
    color: $brand-accented;
    font-weight: $font-weight-bold;
  }

  .o-breadcrumbs_item:last-child & {
    pointer-events: none;
  }

}

button {

  &.c-link {

    &:hover {}

  }

}
