.c-list {

  &-footer {
    padding-left: .9375rem;
    border-left: 1px solid rgba($white, .35);
    line-height: 19px;
  }

  &-footer &_item:first-child {
    @include font-size(17);
    margin-bottom: .4375rem;
  }

  &-footer &_item:not(:first-child) {
    opacity: .95;
  }

  &-social {
    display: flex;
  }

  &-social &_item:not(:first-child) {
    margin-left: .3125rem;
  }

  &-social-large &_item:not(:first-child) {
    margin-left: .875rem;
  }

}
