// Modal styles
.c-modal {

  .modal-header {

    .close {
      width: auto;
      margin: 0;
      opacity: .4;

      &:hover {
       @extend %cursor-pointer;
       opacity: 1;
      }

    }

  }

  .modal-dialog {}

}
