// Titles
.c-ttl {
  margin: 0;
  color: $color-headings-neutral;
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;

  &-h1 { @include font-size(30); }
  &-h2 { @include font-size(26); }
  &-h3 { @include font-size(22); }
  &-h4 { @include font-size(20); }
  &-h5 { @include font-size(18); }
  &-h6 { @include font-size(17); }

  .o-hero & {
    max-width: 800px;
    text-shadow: 1px 1px 20px rgba($black, .5);
  }

  @include tablet {}

  @include laptop {}

  // Specific targets
}
