.c-ttl {
  margin: 0;

  &-mdp {
    @include font-size(20);
  }

  &-lg {
    @include font-size(24);
  }

  @include tabletPlus {

    &-mdp {
      @include font-size(26);
    }

    &-lg {
      @include font-size(30);
    }

  }

}
