<!-- Cookie policy START -->
<div class='o-cookie_policy' id='cookiePolicy'>
  <h5 class='o-cookie_policy_title'>Cookie Disclaimer</h5>
  <p class='o-cookie_policy_body'>We use cookies to understand site usage and to improve the content and offerings on our
    sites. For example, we may use cookies to personalise your experience on our web pages (e.g. to recognise you by
    name when you return to our site). We also may use cookies to offer you products and services.</p>
  <a class='btn btn-primary o-cookie_policy_button' href='#'>I agree</a>
</div>
<!-- Cookie policy STOP -->
