<div class="o-subWeather overflowHidden" data-sticky-jquery-offset-item>
  <div class="container">
    <div class="row">

      <div class="col-lg-7 c-section-weather_wrapper">

        <!-- WEATHER SECTION -->
        <section class="c-section c-section-weather">
          <h2 class="c-ttl c-ttl-mdp color-lighterBlack text-uppercase mb-5">weather in novalja</h2>

          <ul class="o-weather d-flex flex-row align-items-strech">

            <li class="o-weather_item">
              <div class="o-weather_cell">
                <img class="o-weather_img" src="../media/weather/frosty.svg" alt="frosty">
              </div>
              <div class="o-weather_cell">
                <span class="d-block lightWeight pb-1">Monday</span>
                <span class="temp d-block font-weight-bold">24° C</span>
              </div>
            </li>

            <li class="o-weather_item">
              <div class="o-weather_cell">
                <img class="o-weather_img" src="../media/weather/raining.svg" alt="raining">
              </div>
              <div class="o-weather_cell">
                <span class="d-block lightWeight pb-1">Tuesday</span>
                <span class="temp d-block font-weight-bold">24° C</span>
              </div>
            </li>

            <li class="o-weather_item">
              <div class="o-weather_cell">
                <img class="o-weather_img" src="../media/weather/sunny.svg" alt="sunny">
              </div>
              <div class="o-weather_cell">
                <span class="d-block lightWeight pb-1">Thursday</span>
                <span class="temp d-block font-weight-bold">24° C</span>
              </div>
            </li>

            <li class="o-weather_item">
              <div class="o-weather_cell">
                <img class="o-weather_img" src="../media/weather/thunder.svg" alt="thunder">
              </div>
              <div class="o-weather_cell">
                <span class="d-block lightWeight pb-1">Wednesday</span>
                <span class="temp d-block font-weight-bold">24° C</span>
              </div>
            </li>

          </ul>
        </section>

      </div>

      <div class="col-lg-5">

        <!-- SUBSCRIPTION SECTION -->
        <section class="c-section c-section-subscription relative">
          <h2 class="c-ttl c-ttl-mdp color-lighterBlack text-uppercase mb-5">subscribe for latest deals and offers</h2>

          <form action="">
            <ul class="o-subscribe d-sm-flex flex-sm-row align-items-sm-strech">
              <li class="o-subscribe_item">

                <!-- Form error -->
                <div class="form-group form-group-clean error has-error">
                  <label class="sr-only" for="subscriptionInput">Enter Your email</label>
                  <input id="subscriptionInput" class="form-control" type="email" placeholder="Enter Your email">
                  <div class="form-error-wrapper">
                    <div class="form-error-message">*Field email is required</div>
                  </div>
                </div>

                <!-- <div class="form-group form-group-clean">
                  <label class="sr-only" for="subscriptionInput">Enter Your email</label>
                  <input id="subscriptionInput" class="form-control" type="email" placeholder="Enter Your email">
                </div> -->
              </li>

              <li class="o-subscribe_item">
                <button id="submitSubscription" class="btn btn-primary" type="submit">Subscribe</button>
              </li>
            </ul>
          </form>
        </section>

      </div>

    </div>
  </div>
</div>
