<!-- Breadcrumb -->
<nav class="o-breadcrumb" aria-label="breadcrumb">
  <h2 class="sr-only">Breadcrumbs</h2>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a class="c-link" href="index.html">Level 1</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Level 2</li>
  </ol>
</nav>
