<div class="o-banner" style="background-image: url('https://picsum.photos/1800/700/?random');">
  
  <div class="o-banner_item">
    <div class="o-banner_itemWrapper">
      <h2 class="c-ttl c-ttl-35">Obratite nam se s povjerenjem</h2>
      <a class="c-btn c-btn-secondary c-btn-mw175-all" href="contact.html">Kontakt</a>
    </div>
  </div>

  <div class="o-banner_item">
    <div class="o-banner_itemWrapper">
      <h2 class="c-ttl c-ttl-35">Provjerite naše tarife</h2>
      <a class="c-btn c-btn-secondary c-btn-mw175-all" href="tariffs.html">Tarife</a>
    </div>
  </div>

</div>
