<footer class="o-mainFooter">

  <div class="container">
    <div class="row">
      <div class="col-12">
  
        <div class="o-mainFooter_wrapper">

          <div class="o-mainFooter_left">
            <a class="c-link c-link-logo" href="index.html">
              <img class="c-img" src="../media/brand/logo.svg" alt="logo">
            </a>
          </div>

          <div class="o-mainFooter_right">
            <div class="o-mainFooter_contact">

              <h2 class="c-ttl c-ttl-main">KONTAKT</h2>

              <ul class="o-mainFooter_contactList">
                <li class="o-mainFooter_contactItem -house">
                  <a class="c-link" href="https://goo.gl/maps/T2KkqPrQ73U2" target="_blank">
                    Slavka Krautzeka 84b <span class="postal">51000 Rijeka</span>
                  </a>
                </li>
                <li class="o-mainFooter_contactItem -phone">
                  <a class="c-link" href="tel:+38551436048">+385 (0)51 436 048</a>
                </li>
                <li class="o-mainFooter_contactItem -mobile">
                  <a class="c-link" href="tel:+385989098229">+385 (0)98 909 8229</a>
                </li>
                <li class="o-mainFooter_contactItem -fax">
                  <a class="c-link" href="#fax">+385 (0)51 403 828</a>
                </li>
                <li class="o-mainFooter_contactItem -mail">
                  <a class="c-link" href="mailto:marindudaric@gmail.com">marindudaric@gmail.com</a>
                </li>
              </ul>

            </div>

            <div class="o-mainFooter_nav lineFade">

              <ul class="o-mainFooter_navList">
                <li class="o-mainFooter_navItem">
                  <a class="c-link" href="index.html">Početna</a>
                </li>
                <li class="o-mainFooter_navItem">
                  <a class="c-link" href="staticTariffs.html">Tarife</a>
                </li>
                <li class="o-mainFooter_navItem">
                  <a class="c-link" href="staticLaw.html">Područje prava</a>
                </li>
                <li class="o-mainFooter_navItem">
                  <a class="c-link" href="staticBiography.html">Biografija</a>
                </li>
                <li class="o-mainFooter_navItem">
                  <a class="c-link" href="contact.html">Kontakt</a>
                </li>
              </ul>

              <div class="o-mainFooter_hexis">
                <a class="c-link" href="https://www.hexis.hr" target="_blank">
                  <span class="site">SITE BY</span>
                  <img src="../media/brand/hexis.svg" alt="hexis">
                </a>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</footer>
