<nav class="o-mainNav">
  
  <h2 class='sr-only'>Main navigation</h2>
  
  <ul class="o-mainNav_list" data-menu>
    <li class="o-mainNav_item">
      <a class="c-link" href="index.html">Početna</a>
    </li>

    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link" href="serviceList.html">Područja prava</a>
      <div class="o-mainNav_trigger-sub" data-menu-trigger="sub"></div>
      <ul class="o-mainNav_list-sub" data-sub>
        <li class="o-mainNav_item">
          <a class="c-link" href="service.html">Stvarno pravo na nekretninama</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="service.html">Ugovorno pravo</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="service.html">Obiteljsko pravo</a>
        </li>
        <li class="o-mainNav_item">
          <a class="c-link" href="service.html">Radno pravo</a>
        </li>
      </ul>
    </li>

    <li class="o-mainNav_item" data-scope>
      <a class="c-link" href="rates.html">Tarife</a>
    </li>

    <li class="o-mainNav_item" data-scope>
      <a class="c-link" href="biography.html">Biografija</a>
    </li>

    <li class="o-mainNav_item" data-scope>
      <a class="c-link" href="contact.html">Kontakt</a>
    </li>
  
  </ul>
</nav>
