<!-- htmlmin:ignore -->
<table class="mainHeader-wrapper">
  <tbody>
    <tr>
      <td>
        <container>
          <row>
            <columns small="12">
            </columns>
          </row>
          <row>
            <columns small="12">
              <span class="mainHeader-logo">
                <a href=""><img src="../assets/img/logo.png" alt="Company Name"></a>
              </span>
            </columns>
          </row>
        </container>
      </td>
    </tr>
    <hr/>
  </tbody>
</table>
<!-- htmlmin:ignore -->
