// Table colors
$headBg: transparent;
$border-color-dark: #7F7F7F;
$border-color-default: $color-ui-shade;
$table-cell-color: $black;

// Font weights
$weight-default: $font-weight-normal;
$weight-bolder: $font-weight-normal;

// Paddings
$table-invoice-page-pad: .8rem .7rem;
$table-invoice-pdf-pad: .6rem .6rem;

//Border radius
$headBorderRadius: 5px;


.o-invoiceTable {
  width: 100%;
  margin-top: 2rem;
  table-layout: fixed;
  border-spacing: 0;

  td, th {
    @include font-size(15);
    padding: $table-invoice-page-pad;
    color: $table-cell-color;
    text-align: left;

    @media print {
      @include font-size(13);
      padding: $table-invoice-pdf-pad;
    }

  }

  tbody + tbody {
    border-top: 0;
  }

  tbody.thead > tr > th,
  tbody.total > tr > td,
  tbody.object > tr > td:first-child,
  tbody.charge > tr:first-child > td,
  tbody > tr > td:last-child {
    color: $black;
  }

  // tbody.thead > tr > th,
  // tbody.charge > tr:first-child > td {
  //   border-right: 1px solid $brand-secondary-mostLightest;
  //   border-left: 1px solid $brand-secondary-mostLightest;
  // }

  // tbody.object.object-multipleSeasons,
  // tbody.object.object-oneSeason,
  // tbody.charge > tr:not(:first-child) > td:first-child {
  //   border-left: 1px solid $border-color-default;
  // }

  // tbody.object > tr > td:last-child,
  // tbody.charge > tr:not(:first-child) > td:last-child {
  //   border-right: 1px solid $border-color-default;
  // }

  tbody.thead {

    @media screen and (max-width: 899px) {
      display: none;
    }

    tr {

      &:first-child {
        border-radius: $headBorderRadius;
        box-shadow: inset 0 0 0 1px $color-ui-shade;
      }

      &:first-child th:first-child {
        border-radius: 10px 0 0 10px;
      }

      &:first-child th:last-child {
        border-radius: 0 10px 10px 0;
      }

      th {
        background-color: $headBg;
        border-top: 0;
        border-bottom: 0;

        @media print {
          border-bottom: 1px solid $black;
        }

      }

    }

  }

  tbody {

    tr,
    td {

      @media screen and (max-width: 899px) {
        display: block;
        width: 100%;
      }

    }

    tr {

      td {
        border-top: 0;

        @media print {
          border-bottom: 1px solid $border-color-default;
        }

        @media screen and (max-width: 899px) {
          text-align: right;

          &[data-label] {
            position: relative;

            &:after {
              content: attr(data-label);
              float: left;
            }

          }

          &:not(:first-child) {
            border-top: 1px solid $border-color-default;
          }

          &:empty {
            display: none;
          }

        }

      }

      &:not(:last-child) {

        td {

          @media screen and (min-width: 900px) {
            border-bottom: 1px solid $border-color-default;
          }

        }

      }

    }

    &.object {

      td:first-child {

        @media screen and (max-width: 899px) {
          text-align: left;
          border-radius: $headBorderRadius;
          box-shadow: inset 0 0 0 1px $color-ui-shade;
        }

      }

      td:nth-child(6) {

        @media screen and (min-width: 900px) {
          border-right: 1px solid $border-color-default;
          padding-right: 20px;
        }

      }

      &-multipleSeasons {

        tr {}

        td:first-child {

          @media screen and (min-width: 900px) {
            border-bottom: 0;
          }

        }

      }

      &-oneSeason {}

    }

    &.charge {

      tr:first-child {

        td {
          background-color: $headBg;
          border-bottom: 0;
          border-radius: $headBorderRadius;
          font-weight: $font-weight-bold;
          box-shadow: inset 0 0 0 1px $color-ui-shade;

          @media screen and (max-width: 899px) {
            text-align: left;
          }

        }

      }

      tr:not(:first-child) {

        @media screen and (max-width: 899px) {

          td:first-child {
            font-weight: $weight-bolder;
            text-align: left;
            border-bottom: 1px solid $border-color-dark;
          }

        }

      }

      td:nth-child(3) {

        @media screen and (min-width: 900px) {
          border-right: 1px solid $border-color-default;
          padding-right: 20px;
        }

      }

    }

    &.total {
      border-top: 2px solid darken($border-color-default, 8);

      tr {

        td {
          @include font-size(20);
          color: darken($gray, 12%);

          @media print {
            @include font-size(14);
          }

          &:first-child {

            @media screen and (max-width: 899px) {
              display: none;
            }

          }

        }

      }

    }

  }

  .object-multipleSeasons + .object-oneSeason {

    td {

      @media screen and (min-width: 900px) {
        border-top: 1px solid $border-color-default;
      }

    }

  }

  .object-multipleSeasons_start + .object-multipleSeasons_start {

    @media screen and (max-width: 899px) {
      border-top: 2px solid $border-color-default;
    }

  }

}
