.o-tablePaymentInfo {

  &-basic td,
  &-advanced td,
  &-card td {
    display: block;
  }

  &-basic tr td:first-child {
    display: block;
  }

  &-basic tr td:nth-child(2) {
    white-space: nowrap;
  }

  @include print() {

    &-basic tr td:nth-child(2) {
      display: none;
    }

  }

  @include laptop {

    &-basic td,
    &-advanced td,
    &-card td {
      display: table-cell;
    }

    &-basic tr td:first-child {
      width: 55%;
    }

    &-advanced td,
    &-card td {
      display: inline-block;
    }

    &-advanced_left,
    &-card_left {
      border-right: 2px solid $black;
    }

    &-advanced_left,
    &-card_left {
      width: 60%;
    }

    &-advanced_right,
    &-card_right {
      width: 40%;
    }

    &-card_left {
      padding-right: 1.875rem;
    }

    &-card_right {
      padding-left: 1.875rem;
    }

  }

  @include desktop {

    &-advanced_left,
    &-advanced_right {
      width: 50%;
    }

  }

}
