.o-tableInformations {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  line-height: 1.5;

  th, td {
    vertical-align: top;
    word-break: break-word;
  }

  @include tabletPlusDown {

    th, td {
      display: block;
    }

  }

  @include tabletPlus {

    td + td {
      padding-left: 14rem;
    }

  }

  @include print {

  .p-payment & td + td {
      padding-left: 14rem;
    }

  }

}
