// Link
.c-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;

  &:hover {
    @extend %decoration-underline;
  }

  &-underline {
    @extend %decoration-underline;
  }

  .o-mainHeader_topbarWrapper & {
    padding: .625rem 0;
  }

  // -------------------------------------Language/currency switch START------------------------------------------------

  .o-mainNavSwitch_item-current & {
    position: relative;
    padding-right: .9375rem;

    &:after {
      @extend .svg-chevron-white;
      @extend .svg-chevron-white-dims;
      @include transition;
      content: '';
      position: absolute;
      top: 50%;
      left: 90%;
      transform: translateY(-50%);
    }

    @include laptop {
      padding-left: .75rem;
      border-left: 1px solid $white;
    }

  }

  .o-mainNavSwitch_item-current.active &:after {
    transform: translateY(-50%) rotateX(180deg);
  }

  .o-mainNavSwitch_list_item & {
    @include transition();
    width: 100%;
    padding: .9375rem 1.5625rem;

    @include laptop {

      &:hover {
        background: darken($brand-primary, 10%);
      }

    }

  }
  // -------------------------------------Language/currency switch STOP-------------------------------------------------

  // -------------------------------------Default main menu styles START------------------------------------------------

  $padding-right-sub: .394rem; /* 6.31/16 */

  .o-mainNav_item & {
    display: block;
    padding: 1.1875rem $padding-right-sub;
    color: #87898C;
    text-decoration: none;

    @include laptop {
      @include transition;
      padding: 1.938rem $padding-right-sub;

      &:hover {
        color: $brand-primary;
      }

    }

  }

  .o-mainNav_list > .o-mainNav_item:not(:last-child) & {

    @include laptopDown {
      border-bottom: 1px solid #E4E4E4;
    }

  }

  .o-mainNav_list-sub > .o-mainNav_item:not(:last-child) & {

    @include laptop {
      border-bottom: 1px solid #E4E4E4;
    }

  }

  .o-mainNav_item.-sub & {
    padding-right: $padding-right-sub*3.25;
  }

  .o-mainNav_item.-sub .o-mainNav_item & {
    padding: .938rem $padding-right-sub;
  }
  // -------------------------------------Default main menu styles STOP-------------------------------------------------

  // --------------------------------------------Header topbar START----------------------------------------------------

  .o-mainHeader_contactItem & {
    font-weight: 300;

    @include laptopDown {

      .contact {
        display: none;
      }

    }

  }

  @include laptopDown {

    .o-mainHeader_contactItem.-phone &,
    .o-mainHeader_contactItem.-mail & {
      background: url('../media/sprite/sprite.svg') no-repeat;
    }

    .o-mainHeader_contactItem.-phone & {
      width: 14px;
      height: 20px;
      margin-right: 20px;
      background-position: 54.21686746987952% 82.5%;
    }

    .o-mainHeader_contactItem.-mail & {
      width: 29px;
      height: 19px;
      background-position: 59.602649006622514% 55.900621118012424%;
    }

  }
  // ---------------------------------------------Header topbar STOP----------------------------------------------------

}
