// Titles
.c-ttl {
  margin: 0;
  text-transform: uppercase;
  font-weight: $font-weight-regular;

  // Sizes of title
  &-def {
    @include font-size(16);
  }

  &-main {
    @include font-size(25);
  }

  &-35 {
    @include font-size(35);
  }

  // Specific targets
  .o-contact_form & {
    margin-bottom: .9375rem;
  }

}
