@import "../../app/04_components/c-btn";

.c-btn {

  @include tabletDown {
    display: block;

    & + & {
      margin-top: 1rem;
    }

  }

  @include laptop {

    // Size modifiers (note: use along with 'w-100')
    &-mw250 {
      max-width: 250px;
    }

  }

}
