html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html, body {
  height: 100%;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  font-size: $body-font-size;
  line-height: $line-height-default;
  letter-spacing: $letter-spacing-default;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;

  > li {
    font-size: 1rem;
  }

}

a.c-btn {
  text-decoration: none;
}
