<footer class="o-mainFooter relative col-12 color-white">
  <div class="o-mainFooter-splash"></div>

  <div class="container">
     <div class="row justify-content-center">
       <div class="col-12">

         <div class="d-flex justify-content-center align-items-center o-mainFooter_title relative">
           <amp-img class="c-logo o-mainFooter_title-logo" src="media/goldfishLogo-fish.svg"
               layout="responsive" alt="Promo" height="260" width="260"></amp-img>

           <div class="o-mainFooter_title-text"><span class="f-42 font-weight-bold text-uppercase">Want to know more?</span
             ><br><span class="f-23 font-weight-light">We invite you to contact our sales managers directly</span></div>

         </div>

       <div class="row white-space-nowrap lh-18">
         <div class="col-12 col-sm-6 col-md p-1 flex-column align-items-center d-flex">
           <div class="f-28 font-weight-bold">Anto Pujić</div>
           <div class="mt-1">
             <div class="o-contact_item o-contact_item-mob relative">
               <a class="c-link" href="tel:+385911688366">+385 (91) 168 8366</a>
             </div>

             <div class="o-contact_item o-contact_item-tel relative">
               <a class="c-link" href="tel:+38551688365">+385 (51) 688 365</a>
             </div>

             <div class="o-contact_item o-contact_item-mail relative">
               <a class="c-link" href="mailto:anto@hexis.hr">anto@hexis.hr</a>
             </div>
           </div>
         </div>

         <div class="col-12 col-sm-6 col-md p-1 flex-column align-items-center d-flex">
           <div class="f-28 font-weight-bold">Marko Šebek</div>
           <div class="mt-1">
             <div class="o-contact_item o-contact_item-mob relative">
               <a class="c-link" href="tel:+385911688366">+385 (91) 168 8366</a>
             </div>

             <div class="o-contact_item o-contact_item-tel relative">
               <a class="c-link" href="tel:+38551688365">+385 (51) 688 365</a>
             </div>

             <div class="o-contact_item o-contact_item-mail relative">
               <a class="c-link" href="mailto:anto@hexis.hr">anto@hexis.hr</a>
             </div>
           </div>
         </div>

         <div class="col-12 col-sm-6 col-md p-1 flex-column align-items-center d-flex">
           <div class="f-28 font-weight-bold">Gordana Stanković</div>
           <div class="mt-1">
             <div class="o-contact_item o-contact_item-mob relative">
               <a class="c-link" href="tel:+385911688366">+385 (91) 168 8366</a>
             </div>

             <div class="o-contact_item o-contact_item-tel relative">
               <a class="c-link" href="tel:+38551688365">+385 (51) 688 365</a>
             </div>

             <div class="o-contact_item o-contact_item-mail relative">
               <a class="c-link" href="mailto:anto@hexis.hr">anto@hexis.hr</a>
             </div>
           </div>
         </div>

         <div class="col-12 col-sm-6 col-md p-1 flex-column align-items-center d-flex">
           <div class="f-28 font-weight-bold">Nikolina Dlab</div>
           <div class="mt-1">
             <div class="o-contact_item o-contact_item-mob relative">
               <a class="c-link" href="tel:+385911688366">+385 (91) 168 8366</a>
             </div>

             <div class="o-contact_item o-contact_item-tel relative">
               <a class="c-link" href="tel:+38551688365">+385 (51) 688 365</a>
             </div>

             <div class="o-contact_item o-contact_item-mail relative">
               <a class="c-link" href="mailto:anto@hexis.hr">anto@hexis.hr</a>
             </div>
           </div>
         </div>

       </div>

        <hr class="o-mainFooter_hr my-4-auto">

        <div class="mt-4 mb-2 text-center">
          <div class="o-copyright d-inline-block"><a href="http://www.hexis.hr">
            <amp-img class="c-logo m-auto" src="media/hexisLogo.svg"
                layout="responsive" alt="Promo" height="25" width="90"></amp-img></a>
          </div>
          <div class="my-1">Copyright &copy; Hexis.j.d.o.o</div>
        </div>
       </div>

     </div>
   </div>
</footer>
