<div [class]="demo_modal ? 'o-modal_bg' : 'hidden'" class="hidden">
  <div class="container">
    <div class="row justify-content-center align-items-center wh-100">
      <div class="col-10 col-md-6 col-lg-4 o-modal bg-white fixed text-center p-2">

        <button class="o-modal_close c-btn c-btn-primary" on="tap:AMP.setState({demo_modal: false})">X</button>

        <h2 class="c-ttl c-ttl-section_sub text-uppercase font-weight-bold color-primary mt-1 mb-05"
            >Request a free demo</h2>
        <div class="f-16 mb-1 font-weight-semibold"
            >And see for yourself how Goldfish can improve your entire booking process and earn more.</div>

        <form class='form w-md-60 m-auto'
          action='thank-you.html'
          method='GET'
          target='_top'>

          <div class='form-group'>
            <label class='sr-only' for='demoFullName'>Full name</label>
            <input id='demoFullName'
            class='form-control'
            type='text'
            name='fname'
            placeholder="Full name"
            autocomplete='given-name'>
          </div>

          <div class='form-group'>
            <label class='sr-only' for='demoMail'>Mail</label>
            <input id='demoMail'
            class='form-control'
            type='email'
            name='dmail'
            placeholder="Email"
            autocomplete='given-email'>
          </div>

          <div class='form-group'>
            <label class='sr-only' for='demoPhone'>Phone</label>
            <input id='demoPhone'
            class='form-control'
            type='tel'
            name='dphone'
            placeholder="Phone"
            autocomplete='given-phone'>
          </div>

          <div class='form-group'>
            <label class='sr-only' for='demoHotel'>Hotel</label>
            <input id='demoHotel'
            class='form-control'
            type='text'
            name='dhotel'
            placeholder="Hotel"
            autocomplete='given-hotel'>
          </div>

          <!-- Error messages START -->
          <div class="text-center color-red">
            <div class="my-1">Error message</div>
            <div class="my-1">Error message</div>
            <div class="my-1">Error message</div>
            <div class="my-1">Error message</div>
          </div>
          <!-- Error messages STOP -->

          <input type='submit'
            class='c-btn w-100 c-btn-primary mt-1 mb-2 text-uppercase'
            data-track='inquiry submit in-modal'
            value='Send request'>
        </form>
      </div>
    </div>
  </div>
</div>
