@mixin separator(
    $height: auto,
    $border-width: 1px,
    $color: $gray,
    $align: left,
    $margin: 1rem) {

  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  height: $height;
  border-left: $border-width solid $color;
  margin: {
    top: auto;
    bottom: auto;
  }

  @if $align == right {
    right: 0;
    margin-right: -$margin;
  } @else {
    left: 0;
    margin-left: -$margin;
  }

}
