/*
  Helper classes for background color
*/

.bg-white {
  background-color: $white;
}

.bg-black {
  //background-color: $black;
}

.bg-prim {
  background-color: $brand-primary;
}

.bg-gray {
  background-color: $gray;
}
