.text-underscore-red, 
.text-underscore-white {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 65px;
    height: 1px;
    
  }

}

.text-underscore {

  &-red:after {
    background-color: $brand-primary;
  }

  &-white:after {
    background-color: $white;
  }

}
