/*
  Helper classes for font styles
*/

.font-weight-thin {
  // font-weight: $font-weight-thin;
}

.font-weight-light {
  //font-weight: $font-weight-light;
}

.font-weight-regular {
  font-weight: $font-weight-regular;
}

.font-weight-medium {
  //font-weight: $font-weight-medium;
}

.font-weight-semibold {
  //font-weight: $font-weight-semiBold;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.font-weight-heavy {
   //font-weight: $font-weight-heavy;
}

.font-weight-black {
   //font-weight: $font-weight-black;
}

.font-body {
  //font-family: $font-family-base;
}

.font-heading {
  //font-family: $font-family-heading;
}

$font-sizes-list: 12, 13;

@each $size in $font-sizes-list {

  .f-#{$size} {
    //@include font-size($size);
  }

}

.lh0 {
  line-height: 0;
}

.lh1 {
  //line-height: 1;
}

// .lh4 {
//   line-height: 4px;
// }

.lh2 {
  line-height: 2;
}

.lh_51 {
  line-height: 51px;
}

.ls_4 {
  letter-spacing: 4px;
}

.ls_8 {
  letter-spacing: 8px;
}

.ls_10 {
  letter-spacing: 10px;
}
