/*
  Helper classes for text color
*/

.color-white {
  color: $white;
}

.color-black {
  //color: $black;
}

.color-gray {
  color: $color-text-neutral;
}

.color-grayLight {
  color: $color-ui-shade;
}
