<!doctype html>
<!--[if IE]><html class='no-js ie' lang='en'><![endif]-->
<!--[if !IE]><!--><html class='no-js' lang='en' itemscope itemtype="http://schema.org/{{ schemaType }}"><!--<![endif]-->
<head>
  <meta charset='utf-8'>
  <!-- Fonts START -->
  <link rel='dns-prefetch' href='https://fonts.googleapis.com'>
  <!-- Fonts STOP -->

  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0'>
  <meta name='msapplication-tap-highlight' content='no'>

  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ pageDescription }}">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{ pageTitleName }}">
  <meta itemprop="description" content="{{ pageDescription }}">
  <meta itemprop="image" content="{{ pageImage }}">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="{{ twitterCardType }}">
  <meta name="twitter:site" content="{{ twitterSite }}">
  <meta name="twitter:title" content="{{ pageTitleName }}">
  <meta name="twitter:description" content="{{ pageDescription }}">
  <meta name="twitter:creator" content="{{ twitterNameAuthor }}">
  <meta name="twitter:image" content="{{ pageImage }}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ pageTitleName }}">
  <meta property="og:type" content="{{ ogpType }}">
  <meta property="og:url" content="{{ pageUrl }}">
  <meta property="og:image" content="{{ pageImage }}">
  <meta property="og:description" content="{{ pageDescription }}">
  <meta property="og:site_name" content="{{ siteName }}">

  <link rel="apple-touch-icon" sizes="57x57" href="../media/brand/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../media/brand/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../media/brand/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../media/brand/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../media/brand/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../media/brand/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../media/brand/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../media/brand/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../media/brand/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../media/brand/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../media/brand/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../media/brand/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../media/brand/favicon-16x16.png">
  <link rel="manifest" href="../manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../media/brand/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Synchronously font loading -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Lato']
      }
    });
  </script>

  <!-- Critical Inline Scripts -->
  <script>

    var doc = document.documentElement;
    window.App = {
      name: '{{ siteName }}',
      mediaPath: '../media/',
      scriptPath: '../scripts/',
      debug: false,
      verbose: true,
      device: {}
    };

    App.ua = navigator.userAgent.toLowerCase();
    App.documentReady = false;

    var supportCheck = function() {

      // Show javascript support
      doc.className = doc.className.replace(/\bno-js\b/,'js');

      // Test SVG support (http://voormedia.com/blog/2012/10/displaying-and-detecting-support-for-svg-images)
      if ( document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1") ) { doc.className += " svg"; }

      // Detect 2D Transforms
      if ( detect('transform') === true ) { doc.className += " transforms"; }

      // Detect Transitions
      if ( detect('transition') === true ) { doc.className += " transitions"; }

      // Detect Animations
      if ( detect('animationend') === true ) { doc.className += " animations"; }

      // iOS detect
      if ( /(iphone|ipad|ipod)/.test(App.ua) ) {
        App.device.os = 'ios';
        App.device.osVersion = parseFloat((navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/)[1]);
        doc.className += ' ios';
      }

      // Android detect
      else if (App.ua.indexOf('android') >= 0) {
        App.device.os = 'Android';
        App.device.osVersion = parseFloat(App.ua.match(/android\s([0-9\.]*)/)[1]);
        doc.className += ' android';
      }
    }

    // Function for vendor feature testing
    function detect(featurename){
      var feature = false,
        domPrefixes = ['Webkit', 'Moz', 'ms', 'O'],
        elm = document.createElement('div'),
        featurenameCapital = null;
      featurename = featurename.toLowerCase();
      if( elm.style[featurename] !== undefined ) { feature = true; }
      if( feature === false ) {
        featurenameCapital = featurename.charAt(0).toUpperCase() + featurename.substr(1);
        for( var i = 0; i < domPrefixes.length; i++ ) {
          if( elm.style[domPrefixes[i] + featurenameCapital ] !== undefined ) {
            feature = true;
            break;
          }
        }
      }
      return feature;
    }

    // Log if documentReady has fired + essential CSS files have been parsed
    var onDocumentReady = function() {
      var hasCSSLoaded = window.getComputedStyle(document.getElementById("hasCSSLoaded")).
      fontFamily.replace(/['"]+/g, "");
      if (hasCSSLoaded !== "ready") {
        setTimeout(onDocumentReady, 200);
      } else {
        document.removeEventListener("DOMContentLoaded", onDocumentReady, false);
        App.documentReady = true;
        doc.className += " pageReady";
      }
    }

    var onWindowLoad = function() {
      window.removeEventListener("load", onWindowLoad, false);
      App.windowLoad = true;
      doc.className += " pageLoaded";
    }

    document.addEventListener("DOMContentLoaded", onDocumentReady, false);
    window.addEventListener("load", onWindowLoad, false);
    supportCheck();

  </script>

  <!-- Critical CSS -->
  <link rel="stylesheet" href="../css/main.css" type='text/css'>

  <!-- Secondary Meta Tags -->
  <meta name='description' content=''>
</head>
<body class="{{ bodyClass }}">

  {% block content %}{% endblock %}

  <!-- Note for DEV:
  ****************** path to script which is used for implementation:
  ******************'../scripts/app/build-implementation/main.js' -->

  <!-- Do not use this script which is included here -->
  <script src="../scripts/app/build-static/mainStatic.js"></script>
  <!-- ------------ -->

  <div id='screenSize'></div>
  <div id='hasCSSLoaded'></div>

</body>
</html>
