<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Hortus Diabolicus' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Hortus Diabolicus' %}
{% set pageTitleName = 'Hortus Diabolicus' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-thanks' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main class="b-main">

  <div class="container mb-5 pb-5">
    <div class="row">
      <div class="col-12 text-center">
        
        <div class="o-info d-flex flex-column justify-content-center">
          <h2 class="c-ttl c-ttl-head text-uppercase ls_10 lh_51 mt-5">404</h2>
          <div class="preformat my-4">
            <p>Dogodila se greška, stranica koju pokušavate otvoriti ne postoji.</p>
          </div>
          <a class="c-btn c-btn-primary -white c-btn-mw200 w-100 align-self-center" href="index.html">početna</a>
        </div>

      </div>
    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
