<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Hortus Diabolicus' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Hortus Diabolicus' %}
{% set pageTitleName = 'Hortus Diabolicus' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-about' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main class="b-main">

  <div class="container">

    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <nav class="c-breadcrumb text-underscore-red text-uppercase" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Početna</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Stribor</li>
          </ol>
        </nav>

      </div>
    </div>

    <div class="row">
      <div class="col-xl-10 m-auto">

        <!-- Title -->
        <h2 class="c-ttl c-ttl-head text-uppercase text-center ls_10 lh_51">vražji vrt</h2>
        <div class="preformat text-center my-4">
          <p>Hrvatska regija Gorski kotar još je od davnina znana kao Hortus diabolicus (vražji vrt) što radi oštrih 
            vremenskih uvjeta što radi raznolikosti biljnog i životinjskog svijeta.</p>
        </div>

        <!-- Map -->
        <div class="relative">
          <div id="viewport" class="o-hortusMap" style="overflow: hidden; position: relative;">
            <div style="background: url('../media/app/hortusMap-first.png') no-repeat; width: 1173px; height: 660px; position: absolute; display: block; left: 0px; top: 0px;"></div>
            <div style="height: 700px; width: 1244px; position: absolute; display: block; left: 0px; top: 0px;" class="">
              <img src="../media/app/hortusMap-second.png" alt="" style="width: 100%; position: absolute; left: 0px; top: 0px;">
              <div class="mapcontent">
              </div>
            </div>
            <div style="height: 844px; width: 1500px; position: absolute; display: block; left: 0px; top: 0px" class="">
              <img src="../media/app/hortusMap-third.png" alt="" style="width: 100%; position: absolute; left: 0px; top: 0px;">
              <div class="mapcontent">
              </div>
            </div>
            <div style="height: 1125px; width: 2000px; position: absolute; display: block; left: 0px; top: 0px;" class="">
              <img src="../media/app/hortusMap.png" alt="" style="width: 100%; position: absolute; left: 0px; top: 0px;">
              <div class="mapcontent">
              </div>
            </div>
          </div>
          <div class="o-hortusMap_btnWrapper" data-btn-controls>
            <div class="o-hortusMap_btn zoomIn" data-zoom="zoom"></div>
            <div class="o-hortusMap_btn zoomOut" data-zoom="back"></div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-6">
            <div class="preformat text-center">
              <p>Planinski masivi koji su mjesecima prekriveni snijegom, stoljećima obiluju brojnim vrstama kvalitetnog 
                drva koje ne samo da je materijal za rad već i dio života ovdašnjih ljudi, drvo u Gorskom kotaru znači 
                život.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="preformat text-center">
              <p>Regija Gorski kotar prirodna je barijera između kontinentalne i primorske Hrvatske, regija planina, 
                gorskih rijeka i jezera, regija koja živi sa prirodom i njezinim zelenim zakonima.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- About section -->
  <div class="bg-prim mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 m-auto">

          <ul class="o-aboutList d-flex flex-column">
            <li class="o-aboutList_item d-flex flex-column flex-lg-row">
              <div class="o-aboutList_img">
                <img class="d-block w-100" src="http://via.placeholder.com/600x600" alt="">
              </div>
              <div class="o-aboutList_text">
                <div class="o-aboutList_text-inner">
                  <h2 class="c-ttl c-ttl-head c-ttl-head-down text-uppercase text-center">život sa prirodom</h2>
                  <p class="text-center">Namještaj se izrađuje i od komada starog namještaja koji zna davne priče iz 
                    dugih goranskih zima. Materijali su od prirodnih sirovina, sa zaštitnim premazom od pčelinjeg voska, 
                    kako bi sačuvali dah prirode i pratili «zelenu nit» današnjeg načina života ali i potrebe čovjeka da 
                    živi sa prirodom.</p>
                </div>
              </div>
            </li>
            <li class="o-aboutList_item d-flex flex-column flex-lg-row">
              <div class="o-aboutList_text -second">
                <div class="o-aboutList_text-inner">
                  <h2 class="c-ttl c-ttl-head c-ttl-head-down text-uppercase text-center">drvo goranskih šuma</h2>
                  <p class="text-center">Namještaj «Hortus diabolicus» poštuje tradiciju te se izrađuje od kvalitetnog 
                    goranskog drva (jasen, hrast i brijest) ali i drva divljih voćki iz goranskih šuma.</p>
                </div>
              </div>
              <div class="o-aboutList_img">
                <img class="d-block w-100" src="http://via.placeholder.com/600x600" alt="">
              </div>
            </li>
            <li class="o-aboutList_item d-flex flex-column flex-lg-row">
              <div class="o-aboutList_img">
                <img class="d-block w-100" src="http://via.placeholder.com/600x600" alt="">
              </div>
              <div class="o-aboutList_text">
                <div class="o-aboutList_text-inner">
                  <h2 class="c-ttl c-ttl-head c-ttl-head-down text-uppercase text-center">poštivanje tradicije</h2>
                  <p class="text-center">Stoljećima se u Gorskom kotaru izrađivao namještaj od kvalitetnog drva u 
                    obiteljskim, tradicijskim stolarskim radionicama, koje i danas odišu prošlim vremenima.</p>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl-10 m-auto">

        <div class="text-center my-5 py-5">
          Namještaj «Hortus diabolicus» ima priču koju Vi trebate nastaviti i sačuvati dio prošlosti za Vašu budućnost.
        </div>

      </div>
    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
