<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Hortus Diabolicus' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Hortus Diabolicus' %}
{% set pageTitleName = 'Hortus Diabolicus' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-contact' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main class="b-main">

  <div class="container">
    <div class="row">

      <div class="col-xl-8">
        
        <!-- Breadcrumb -->
        <nav class="c-breadcrumb text-underscore-red text-uppercase" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Početna</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Kontakt</li>
          </ol>
        </nav>

        <h2 class="c-ttl c-ttl-head text-uppercase ls_10 lh_51 mt-5">Kontakt</h2>
        <div class="ls_4 mb-3">
          <a class="d-block contact" href="tel:091123456"><span>MOB:</span>+38591123456</a>
          <a class="d-block contact" href="mailto:info@hortusdiabolicus.hr"><span>MAIL:</span>INFO@HORTUSDIABOLICUS.HR</a>
        </div>

        <!-- Form -->
        <form action="">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group error has-error">
                <label class="sr-only" for="firstName">Ime</label>
                <input id="firstName" class="form-control" type="text" placeholder="Ime">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="sr-only" for="secondName">Prezime</label>
                <input id="secondName" class="form-control" type="text" placeholder="Prezime">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="sr-only" for="name">Email</label>
                <input id="email" class="form-control" type="text" placeholder="Email">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="sr-only" for="mobile">Mobitel</label>
                <input id="mobile" class="form-control" type="text" placeholder="Mobitel">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="sr-only" for="message">Poruka</label>
                <textarea id="message" class="form-control" name="" cols="30" rows="10" placeholder="Poruka"></textarea>
              </div>
            </div>
            <div class="col-12 text-right">
              <a class="c-btn c-btn-primary -white c-btn-mw200 w-100" href="#">Pošalji</a>
            </div>
          </div>
        </form>
      </div>

      <!-- Map -->
      <div class="col-xl-4 my-5 pb-4">
        <div class="relative">
          <div id="viewport" class="o-hortusMap" style="overflow: hidden; position: relative;">
            <div style="background: url('../media/app/hortusMap-first.png') no-repeat; width: 1173px; height: 660px; position: absolute; display: block; left: 0px; top: 0px;"></div>
            <div style="height: 700px; width: 1244px; position: absolute; display: block; left: 0px; top: 0px;" class="">
              <img src="../media/app/hortusMap-second.png" alt="" style="width: 100%; position: absolute; left: 0px; top: 0px;">
              <div class="mapcontent">
              </div>
            </div>
            <div style="height: 844px; width: 1500px; position: absolute; display: block; left: 0px; top: 0px" class="">
              <img src="../media/app/hortusMap-third.png" alt="" style="width: 100%; position: absolute; left: 0px; top: 0px;">
              <div class="mapcontent">
              </div>
            </div>
            <div style="height: 1125px; width: 2000px; position: absolute; display: block; left: 0px; top: 0px;" class="">
              <img src="../media/app/hortusMap.png" alt="" style="width: 100%; position: absolute; left: 0px; top: 0px;">
              <div class="mapcontent">
              </div>
            </div>
          </div>
          <div class="o-hortusMap_btnWrapper" data-btn-controls>
            <div class="o-hortusMap_btn zoomIn" data-zoom="zoom"></div>
            <div class="o-hortusMap_btn zoomOut" data-zoom="back"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
