<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Hortus Diabolicus' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Hortus Diabolicus' %}
{% set pageTitleName = 'Hortus Diabolicus' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-homepage' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<!-- Other components -->
{% import "html/app/components/furniture.html" as furnitureBlock %}

<!-- 
  TODO
  Minify images
  Minify SVG's
-->

<main class="b-main">

  <div class="container">
    <div class="row">
      
      <!-- Hero logo -->
      <div class="col-12">
        <div class="o-hero">
          <a class="o-logo-hero">
            <img class="c-img-logoHero d-block" src="../media/brand/logoDark.svg" alt="Project name">
          </a>
        </div>
      </div>

      <!-- Hero slides -->
      <div class="col-12">

        <div class="o-slider_wrapper" data-slide-wrapper="0">
          <div class="o-slider d-flex flex-column flex-lg-row">
            <div class="o-slider_imgWrapper">
              <div class="o-slider_images" data-slide-images>
                <div class="o-slider_img o-slider_img-left" data-slide-images="left">
                  <img class="d-block w-100" src="http://via.placeholder.com/800x600/ffffff/A91B1B" alt="table image">
                </div>
                <div class="o-slider_img o-slider_img-right" data-slide-images="right">
                  <img class="d-block w-100" src="http://via.placeholder.com/800x600/ffffff/A91B1B" alt="table image">
                </div>
              </div>
            </div>
            <div class="o-slider_text pr-lg-3 pr-xl-5" data-slide-text>
              <h4 class="c-ttl c-ttl-def ls_8 pb-2 mb-4 text-underscore-red text-uppercase">hortus diabolicus</h4>
              <h2 class="c-ttl c-ttl-head text-uppercase ls_10 lh_51 mb-3">namještaj koji priča priče</h2>
              <div class="preformat">
                <p>Osim od najkvalitetnijeg drveta, ovaj poseban unikatni namještaj je izrađen i od originalnih komada 
                  starog namještaja koji zna davne priče iz dugih goranskih zima, unikatnih predmeta izronjenih iz dubina 
                  mora ili donesenih s rubova prirode, natopljenih duhovima starih bajki i priča i tajnama prošlosti. 
                  Svaki Hortus Diabolicus donosi dio povijesti i duše priča zaboravljenih u današnje vrijeme bezličnoga i 
                  istog.</p>
              </div>
              <div class="d-flex justify-content-end mt-4">
                <button class="c-btn-secondary -next ls_8 text-uppercase" data-slide-next>next</button>
              </div>
            </div>
          </div>
        </div>

        <div class="o-slider_wrapper" data-slide-wrapper="1">
          <div class="o-slider d-flex flex-column flex-lg-row">
            <div class="o-slider_imgWrapper">
              <div class="o-slider_images" data-slide-images>
                <div class="o-slider_img o-slider_img-left" data-slide-images="left">
                  <img class="d-block w-100" src="http://via.placeholder.com/800x600/ffffff/A91B1B" alt="table image">
                </div>
                <div class="o-slider_img o-slider_img-right" data-slide-images="right">
                  <img class="d-block w-100" src="http://via.placeholder.com/800x600/ffffff/A91B1B" alt="table image">
                </div>
              </div>
            </div>
            <div class="o-slider_text pr-lg-3 pr-xl-5" data-slide-text>
              <h4 class="c-ttl c-ttl-def ls_8 pb-2 mb-4 text-underscore-red text-uppercase">hortus diabolicus</h4>
              <h2 class="c-ttl c-ttl-head text-uppercase ls_10 lh_51 mb-3">bogati trag prošlosti</h2>
              <div class="preformat">
                <p>Hortus Diabolicus dizajnerski namještaj namjenjen je onima koji su drugačiji i posebni, koji imaju 
                  vremena proživjeti život u cijelosti, obratiti pažnju na detalje i prisjetiti se tradicionalnih 
                  vrijednosti. Onima koji cijene stručnost i kvalitetu ali traže i nešto više: iskustvo i dubinu koje 
                  donosi samo bogati trag prošlosti, šum prirode, udarci valova i priče iz davnih vremena. Onima koji 
                  se ne boje pokazati osobnost.</p>
              </div>
              <div class="d-flex justify-content-between mt-4">
                <button class="c-btn-secondary -back ls_8 text-uppercase" data-slide-prev>previous</button>
                <button class="c-btn-secondary -next ls_8 text-uppercase" data-slide-next>next</button>
              </div>
            </div>
          </div>
        </div>

        <div class="o-slider_wrapper" data-slide-wrapper="2">
          <div class="o-slider d-flex flex-column flex-lg-row">
            <div class="o-slider_imgWrapper">
              <div class="o-slider_images" data-slide-images>
                <div class="o-slider_img o-slider_img-left" data-slide-images="left">
                  <img class="d-block w-100" src="http://via.placeholder.com/800x600/ffffff/A91B1B" alt="table image">
                </div>
                <div class="o-slider_img o-slider_img-right" data-slide-images="right">
                  <img class="d-block w-100" src="http://via.placeholder.com/800x600/ffffff/A91B1B" alt="table image">
                </div>
              </div>
            </div>
            <div class="o-slider_text pr-lg-3 pr-xl-5" data-slide-text>
              <h4 class="c-ttl c-ttl-def ls_8 pb-2 mb-4 text-underscore-red text-uppercase">hortus diabolicus</h4>
              <h2 class="c-ttl c-ttl-head text-uppercase ls_10 lh_51 mb-3">ručno obrađeno unikatno drvo</h2>
              <div class="preformat">
                <p>Svaki unikatni ručno obrađeni komad odiše individualnošću ručnog rada čineći vaš prostor 
                  jedinstvenim i osobitim i uvijek samo vašim. Kao što ste i vi jedinstveni i drugačiji, svaki pojedini 
                  Hortus Diabolicus jedinstven je i poseban primjerak koji se svojim nesavršenim linijama i 
                  osobitostima živog drveta savršeno odbija uklopiti u kalupe i standarde onih koji žude biti bezlično 
                  isti.</p>
              </div>
              <div class="d-flex justify-content-between mt-4">
                <button class="c-btn-secondary -back ls_8 text-uppercase" data-slide-prev>previous</button>
                <button class="c-btn-secondary -next ls_8 text-uppercase" data-slide-next>next</button>
              </div>
            </div>
          </div>
        </div>

        <div class="o-slider_wrapper" data-slide-wrapper="3">
          <div class="o-slider d-flex flex-column flex-lg-row">
            <div class="o-slider_imgWrapper">
              <div class="o-slider_images" data-slide-images>
                <div class="o-slider_img o-slider_img-left" data-slide-images="left">
                  <img class="d-block w-100" src="http://via.placeholder.com/800x600/ffffff/A91B1B" alt="table image">
                </div>
                <div class="o-slider_img o-slider_img-right" data-slide-images="right">
                  <img class="d-block w-100" src="http://via.placeholder.com/800x600/ffffff/A91B1B" alt="table image">
                </div>
              </div>
            </div>
            <div class="o-slider_text pr-lg-3 pr-xl-5" data-slide-text>
              <h4 class="c-ttl c-ttl-def ls_8 pb-2 mb-4 text-underscore-red text-uppercase">hortus diabolicus</h4>
              <h2 class="c-ttl c-ttl-head text-uppercase ls_10 lh_51 mb-3">povezanost sa zelenilom prirode</h2>
              <div class="preformat">
                <p>Jedinstvena kombinacija tradicionalne izrade unikatnog namještaja i modernog pristupa dizajnu čini 
                  Hortus Diabolicus dizajnerski namještaj jedinstvenim, namjenjenim individualcima koji se ne boje 
                  vlastite kreativnosti i energije, ali istovremeno ostaju čvrsto povezani „zelenom žicom“ prirode 
                  odbijajući izgubiti se u sivilu smoga i bezličnosti brzine modernog života.</p>
              </div>
              <div class="d-flex justify-content-start mt-4">
                <button class="c-btn-secondary -back ls_8 text-uppercase" data-slide-prev>previous</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- Furniture Block -->
  {{
    furnitureBlock.furniture(
      title = "furniture"
    )
  }}

  <!-- Categories -->
  <div class="container pt-4" data-img-categoriesContainer>
    <div class="row">
      <div class="col-12">

        <!-- Note for DEVx: Image variation: 400x400 -->
        <h4 class="c-ttl c-ttl-def ls_8 pb-2 mb-4 text-underscore-red text-uppercase">categories</h4>
        <ul class="o-furniture-inner categories">
          <li class="o-furniture-inner_item relative" data-img-categories>
            <a class="c-link d-block" href="product.html">
              <img class="d-block w-100" src="http://via.placeholder.com/400x400/" alt="product image">
              <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2 pr-2 pl-3">stolići</h4>
            </a>
          </li>
          <li class="o-furniture-inner_item relative" data-img-categories>
            <a class="c-link d-block" href="product.html">
              <img class="d-block w-100" src="http://via.placeholder.com/400x400/" alt="product image">
              <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2 pr-2 pl-3 bg-white">stolovi</h4>
            </a>
          </li>
          <li class="o-furniture-inner_item relative" data-img-categories>
            <a class="c-link d-block" href="product.html">
              <img class="d-block w-100" src="http://via.placeholder.com/400x400/" alt="product image">
              <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2 pr-2 pl-3 bg-white">komode</h4>
            </a>
          </li>
          <!-- Note for DEVx: You can put here again the fourth or fifth image. It will be hidden.
          it's here only so it can have the same height as others trough ALL available device displays -->
          <li class="o-furniture-inner_item -viewAll relative bg-gray" data-img-categories>
            <a class="c-link d-block bg-gray" href="productList.html">
              <img class="c-img d-block w-100" src="http://via.placeholder.com/400x400/" alt="View All">
              <span class="c-btn-secondary -next -white ls_8 text-uppercase color-white absolute">view all</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
    
</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
