<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Hortus Diabolicus' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Hortus Diabolicus' %}
{% set pageTitleName = 'Hortus Diabolicus' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-product' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<!-- Other components -->
{% import "html/app/components/furniture.html" as furnitureBlock %}

<main class="b-main">

  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <nav class="c-breadcrumb text-underscore-red text-uppercase" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Početna</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Naještaj</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Stribor</li>
          </ol>
        </nav>

        <!-- Title -->
        <div class="my-4 lh2">
          <img class="c-img-royal d-block mb-2 mx-auto" src="../media/app/chevronRoyalBlack.png" alt="chevron royal">
          <h2 class="c-ttl c-ttl-head text-uppercase text-center ls_10 lh_51">stribor</h2>
          <div class="preformat text-center">
            <p>Sklad između funkcionalnosti i udobnosti, preferirajući eleganciju gdje drvo trešnje daje toplinu i 
              profinjenost Vašoj blagovaonici.</p>
          </div>
          <img class="c-img-royal c-img-royal-down d-block mt-2 mx-auto" src="../media/app/chevronRoyalBlack.png" 
            alt="chevron royal">
        </div>

        <!-- Images list -->
        <ul class="o-productImg_list d-flex" data-gallery>
          <li class="o-productImg_item -main" data-gallery-item data-src="http://via.placeholder.com/800x600/">
            <a class="c-link d-block" href="http://via.placeholder.com/800x600/">
              <img class="d-block w-100" src="http://via.placeholder.com/800x600/" alt="product image">
            </a>
          </li>
          <li class="o-productImg_item" data-gallery-item data-src="http://via.placeholder.com/800x600/">
            <a class="c-link d-block" href="http://via.placeholder.com/800x600/">
              <img class="d-block w-100" src="http://via.placeholder.com/800x600/" alt="product image">
            </a>
          </li>
          <li class="o-productImg_item" data-gallery-item data-src="http://via.placeholder.com/800x600/">
            <a class="c-link d-block" href="http://via.placeholder.com/800x600/">
              <img class="d-block w-100" src="http://via.placeholder.com/800x600/" alt="product image">
            </a>
          </li>
          <li class="o-productImg_item" data-gallery-item data-src="http://via.placeholder.com/800x600/">
            <a class="c-link d-block" href="http://via.placeholder.com/800x600/">
              <img class="d-block w-100" src="http://via.placeholder.com/800x600/" alt="product image">
            </a>
          </li>
          <li class="o-productImg_item relative" data-gallery-item data-src="http://via.placeholder.com/800x600/">
            <a class="c-link d-block" href="http://via.placeholder.com/800x600/">
              <img class="d-block w-100" src="http://via.placeholder.com/800x600/" alt="product image">
              <span class="number">+3</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <!-- Furniture Block -->
  {{
    furnitureBlock.furniture(
      title = "related furniture"
    )
  }}

  <div class="container my-5 py-5">
    <div class="row">
      <div class="col-md-11 col-lg-10 col-xl-8 m-auto">

        <!-- Contact -->
        <h2 class="c-ttl c-ttl-head mb-4 text-uppercase text-center ls_10 lh_51">Kontakt</h2>
        <form action="">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="sr-only" for="firstName">Ime</label>
                <input id="firstName" class="form-control" type="text" placeholder="Ime">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="sr-only" for="secondName">Prezime</label>
                <input id="secondName" class="form-control" type="text" placeholder="Prezime">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="sr-only" for="name">Email</label>
                <input id="email" class="form-control" type="text" placeholder="Email">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="sr-only" for="mobile">Mobitel</label>
                <input id="mobile" class="form-control" type="text" placeholder="Mobitel">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="sr-only" for="message">Poruka</label>
                <textarea id="message" class="form-control" name="" cols="30" rows="10" placeholder="Poruka"></textarea>
              </div>
            </div>
            <div class="col-12 text-right">
              <a class="c-btn c-btn-primary -white c-btn-mw200 w-100" href="#">Pošalji</a>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
