<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Hortus Diabolicus' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Hortus Diabolicus' %}
{% set pageTitleName = 'Hortus Diabolicus' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-productList' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<!-- Form Input -->
{% import "html/app/bits/form/input.html" as formInput %}

<main class="b-main">

  <div class="container">

    <div class="row mb-3">
      <div class="col-12">

        <!-- Breadcrumb -->
        <nav class="c-breadcrumb text-underscore-red text-uppercase" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Početna</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Namještaj</li>
          </ol>
        </nav>

      </div>
    </div>

    <form action="">
      <div class="row">

        <div class="col-lg-3 mb-5">
          <div class="o-category bg-white p-3 plg-4">
            <h4 class="c-ttl ls_8 text-uppercase color-grayLight">kategorije</h4>
            <span class="chevron" data-categoryMobile="off"></span>
            <ul class="o-category_list-mobile flex-wrap" data-category-mobileList>
              <!-- <li class="d-flex align-items-center ls_8 text-uppercase color-grayLight">Categories</li> -->
            </ul>
            <ul class="o-category_list" data-category="list">
              <li class="o-category_item">
                {{
                  formInput.inputFunction(
                    fg_class = "form-group",
                    lb_class = "c-customCheckbox_label d-block",
                    lb_txt = "Stolići",
                    fe_id = "check1",
                    fe_class = "c-customCheckbox_input",
                    fe_name = "check1",
                    fe_type = "checkbox",
                    fe_placeholder = 0,
                    fe_acmpl = 0,
                    fe_attr = "data-category"
                  )
                }}
              </li>
              <li class="o-category_item">
                {{
                  formInput.inputFunction(
                    fg_class = "form-group",
                    lb_class = "c-customCheckbox_label d-block",
                    lb_txt = "Stolice",
                    fe_id = "check2",
                    fe_class = "c-customCheckbox_input",
                    fe_name = "check2",
                    fe_type = "checkbox",
                    fe_placeholder = 0,
                    fe_acmpl = 0,
                    fe_attr = "data-category"
                  )
                }}
              </li>
              <li class="o-category_item">
                {{
                  formInput.inputFunction(
                    fg_class = "form-group",
                    lb_class = "c-customCheckbox_label d-block",
                    lb_txt = "Stolovi",
                    fe_id = "check3",
                    fe_class = "c-customCheckbox_input",
                    fe_name = "check3",
                    fe_type = "checkbox",
                    fe_placeholder = 0,
                    fe_acmpl = 0,
                    fe_attr = "data-category"
                  )
                }}
              </li>
              <li class="o-category_item">
                {{
                  formInput.inputFunction(
                    fg_class = "form-group",
                    lb_class = "c-customCheckbox_label d-block",
                    lb_txt = "Lampe",
                    fe_id = "check4",
                    fe_class = "c-customCheckbox_input",
                    fe_name = "check4",
                    fe_type = "checkbox",
                    fe_placeholder = 0,
                    fe_acmpl = 0,
                    fe_attr = "data-category"
                  )
                }}
              </li>
              <li class="o-category_item">
                {{
                  formInput.inputFunction(
                    fg_class = "form-group",
                    lb_class = "c-customCheckbox_label d-block",
                    lb_txt = "Ormarići",
                    fe_id = "check5",
                    fe_class = "c-customCheckbox_input",
                    fe_name = "check5",
                    fe_type = "checkbox",
                    fe_placeholder = 0,
                    fe_acmpl = 0,
                    fe_attr = "data-category"
                  )
                }}
              </li>
              <li class="o-category_item">
                {{
                  formInput.inputFunction(
                    fg_class = "form-group",
                    lb_class = "c-customCheckbox_label d-block",
                    lb_txt = "Komode",
                    fe_id = "check6",
                    fe_class = "c-customCheckbox_input",
                    fe_name = "check6",
                    fe_type = "checkbox",
                    fe_placeholder = 0,
                    fe_acmpl = 0,
                    fe_attr = "data-category"
                  )
                }}
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-9 mb-5">
          <!-- Note for DEVx: when loading new/diff content remove .d-none class from o-spinner_wrapper. When done,
              add again d-none class -->
          <div class="o-spinner_wrapper d-none">
            <div class="o-spinner"></div>
          </div>
           <!-- Note for DEVx: img variation 600x600 -->
          <ul class="o-furniture o-furniture-list d-flex flex-wrap">
            <li class="o-furniture_item relative">
              <a class="c-link d-block" href="product.html">
                <img class="d-block w-100" src="http://via.placeholder.com/600x600/" alt="product image">
                <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2 bg-white">stol sidro „dubrovnik“</h4>
              </a>
            </li>
            <li class="o-furniture_item relative">
              <a class="c-link d-block" href="product.html">
                <img class="d-block w-100" src="http://via.placeholder.com/600x600/" alt="product image">
                <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2 bg-white">stol sidro „dubrovnik“</h4>
              </a>
            </li>
            <li class="o-furniture_item relative">
              <a class="c-link d-block" href="product.html">
                <img class="d-block w-100" src="http://via.placeholder.com/600x600/" alt="product image">
                <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2 bg-white">stol sidro „dubrovnik“</h4>
              </a>
            </li>
            <li class="o-furniture_item relative">
              <a class="c-link d-block" href="product.html">
                <img class="d-block w-100" src="http://via.placeholder.com/600x600/" alt="product image">
                <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2 bg-white">stol sidro „dubrovnik“</h4>
              </a>
            </li>
            <li class="o-furniture_item relative">
              <a class="c-link d-block" href="product.html">
                <img class="d-block w-100" src="http://via.placeholder.com/600x600/" alt="product image">
                <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2 bg-white">stol sidro „dubrovnik“</h4>
              </a>
            </li>
            <li class="o-furniture_item relative">
              <a class="c-link d-block" href="product.html">
                <img class="d-block w-100" src="http://via.placeholder.com/600x600/" alt="product image">
                <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2 bg-white">stol sidro „dubrovnik“</h4>
              </a>
            </li>
            <li class="o-furniture_item relative">
              <a class="c-link d-block" href="product.html">
                <img class="d-block w-100" src="http://via.placeholder.com/600x600/" alt="product image">
                <h4 class="c-ttl absolute ls_8 text-center text-uppercase py-2 bg-white">stol sidro „dubrovnik“</h4>
              </a>
            </li>
          </ul>

          <!-- Pagination START -->
          <nav class="o-pagination bg-white text-center my-5" aria-label="Search results pagination">
            <h1 class="sr-only">Pagination</h1>
            <ul class="pagination justify-content-center align-items-center f-15">
              <li class="page-item disabled">
                <a class="page-link relative" href="#" tabindex="-1">
                  <span class="direction text-uppercase ls_4">Previous</span>
                  <span class="arrow arrow-left lh0">
                    <i class="c-icon c-icon-15 c-icon-white lh0">
                      <img class="iconic" src="../media/app/chevronLine.svg" alt="Arrow">
                    </i>
                  </span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item">
                <a class="page-link relative" href="#">
                  <span class="direction text-uppercase ls_4">Next</span>
                  <span class="arrow arrow-right lh0">
                    <i class="c-icon c-icon-15 c-icon-white lh0">
                      <img class="iconic" src="../media/app/chevronLine.svg" alt="Arrow">
                    </i>
                  </span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- Pagination STOP -->
        </div>

      </div>
    </form>

  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
