%svg-common {
	background: url("../media/sprite/sprite.svg") no-repeat;
}

.svg-404 {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-404-dims {
	width: 90px;
	height: 90px;
}

.svg-arrow {
	@extend %svg-common;
	background-position: 93.97590361445783% 53.89221556886228%;
}

.svg-arrow-dims {
	width: 14px;
	height: 13px;
}

.svg-chevron {
	@extend %svg-common;
	background-position: 97.10982658959537% 70.45454545454545%;
}

.svg-chevron-dims {
	width: 7px;
	height: 4px;
}

.svg-chevron-primary {
	@extend %svg-common;
	background-position: 60.115606936416185% 75%;
}

.svg-chevron-primary-dims {
	width: 7px;
	height: 4px;
}

.svg-chevron-right {
	@extend %svg-common;
	background-position: 97.70114942528735% 53.25443786982248%;
}

.svg-chevron-right-dims {
	width: 6px;
	height: 11px;
}

.svg-chevron-right-blue {
	@extend %svg-common;
	background-position: 96.55172413793103% 64.49704142011835%;
}

.svg-chevron-right-blue-dims {
	width: 6px;
	height: 11px;
}

.svg-chevron-white {
	@extend %svg-common;
	background-position: 97.10982658959537% 68.18181818181819%;
}

.svg-chevron-white-dims {
	width: 7px;
	height: 4px;
}

.svg-chevronEmpty {
	@extend %svg-common;
	background-position: 85.88235294117646% 54.54545454545455%;
}

.svg-chevronEmpty-dims {
	width: 10px;
	height: 15px;
}

.svg-chevronEmpty-white {
	@extend %svg-common;
	background-position: 79.88165680473372% 54.8780487804878%;
}

.svg-chevronEmpty-white-dims {
	width: 11px;
	height: 16px;
}

.svg-denied {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-denied-dims {
	width: 90px;
	height: 90px;
}

.svg-doc {
	@extend %svg-common;
	background-position: 72.5609756097561% 55.900621118012424%;
}

.svg-doc-dims {
	width: 16px;
	height: 19px;
}

.svg-img {
	@extend %svg-common;
	background-position: 92.6829268292683% 68.55345911949685%;
}

.svg-img-dims {
	width: 16px;
	height: 21px;
}

.svg-mail-white {
	@extend %svg-common;
	background-position: 59.602649006622514% 55.900621118012424%;
}

.svg-mail-white-dims {
	width: 29px;
	height: 19px;
}

.svg-phone-white {
	@extend %svg-common;
	background-position: 54.21686746987952% 82.5%;
}

.svg-phone-white-dims {
	width: 14px;
	height: 20px;
}

.svg-pin {
	@extend %svg-common;
	background-position: 71.97452229299363% 69.4267515923567%;
}

.svg-pin-dims {
	width: 23px;
	height: 23px;
}

.svg-tel {
	@extend %svg-common;
	background-position: 57.32484076433121% 69.4267515923567%;
}

.svg-tel-dims {
	width: 23px;
	height: 23px;
}

.svg-thankYou {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-thankYou-dims {
	width: 90px;
	height: 90px;
}

.svg-zip {
	@extend %svg-common;
	background-position: 82.92682926829268% 68.9873417721519%;
}

.svg-zip-dims {
	width: 16px;
	height: 22px;
}

