<footer class="o-mainFooter color-white" data-sticky-jquery-offset-item>
  <h2 class="sr-only">Main Footer</h2>
  <div class="container">
    <div class="row">

      <div class="col-12">
        <a href="index.html"><img class="o-logo o-logo-lg d-inline-block my-5"
          src="../media/brand/logo-wht.svg"
          alt="Novalja Turist"></a>
      </div>

      <!-- Location and contact START -->
      <div class="col-md-4 col-lg-3 d-flex pb-3">
        <i class="c-icon c-icon-white c-icon-15 mr-3 mt-2"
            ><img class="iconic" src="../media/app/home.svg" alt="Home"></i>
        <ul class="o-mainFooter_list lh-1_8 lightWeight">
          <li>Slatinska 55</li>
          <li>53291 Novalja, Island Pag (Croatia)</li>
        </ul>
      </div>

      <div class="col-md-4 col-lg-3 d-flex pb-3">
        <i class="c-icon c-icon-white c-icon-a-25 mr-3 mt-2"
            ><img class="iconic" src="../media/app/tel.svg" alt="Contact"></i>
        <ul class="o-mainFooter_list lh-1_8 lightWeight">
          <li><a class="c-link" href="tel:+385912371804">+385 (0) 91 2371 804</a></li>
          <li><a class="c-link" href="tel:+385051661859">+385 (0) 53 661 859</a></li>
        </ul>
      </div>

      <div class="col-lg-3 d-flex pb-3">
        <i class="c-icon c-icon-white c-icon-25-a mr-3 mt-2"
            ><img class="iconic" src="../media/app/mail.svg" alt="mail"></i>
        <ul class="o-mainFooter_list lh-1_8 boldWeight">
          <li><a class="c-link" href="mailto:info@novaljaturist.com">info@novaljaturist.com</a></li>
        </ul>
      </div>
      <!-- Location and contact STOP -->

      <div class="col-12">
        <div class="o-mainFooter-wrapper d-block d-lg-flex justify-content-between align-items-center py-3 my-3">

          <!-- Footer navigation START -->
          <ul class="o-mainFooter-nav d-flex flex-wrap boldWeight">
            <li class="py-1 p-lg-0"><a class="c-link" href="#">Privacy policy</a></li>
            <li class="py-1 p-lg-0"><a class="c-link" href="#">Terms and conditions</a></li>
            <li class="py-1 p-lg-0"><a class="c-link" href="#">Terms of booking</a></li>
            <li class="py-1 p-lg-0"><a class="c-link" href="#">Cookie policy</a></li>
          </ul>
          <!-- Footer navigation STOP -->

          <!-- Social list START -->
          <ul class="o-socialList d-flex pt-3 p-lg-0">
            <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-white c-icon-30"
                ><img class="iconic" src="../media/social/facebook.svg" alt="Facebook"></i></a></li>
            <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-white c-icon-30 ml-2"
                ><img class="iconic" src="../media/social/twitter.svg" alt="Twitter"></i></a></li>
            <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-white c-icon-30 ml-2"
                ><img class="iconic" src="../media/social/googleplus.svg" alt="Google+"></i></a></li>
            <li class="o-socialList_item"><a href="#"><i class="c-icon c-icon-white c-icon-30 ml-2"
                ><img class="iconic" src="../media/social/pinterest.svg" alt="Pinterest"></i></a></li>
          </ul>
          <!-- Social list STOP -->

        </div>
      </div>
      <div class="col-12">

        <!-- Footer copyright START -->
        <div class="o-copyright mb-5 lightWeight">
          <div class="o-copyright_info">Copyright 2017 Novalja Turist</div>
          <div class="o-copyright_logo pt-1">
            <a href="http://www.hexis.hr/en/" title="Hexis | Software Design & Development Studio"
              ><img class="o-copyright_img" src="../media/brand/hexis.svg" alt="Hexis"></a>
          </div>
        </div>
        <!-- Footer copyright STOP -->

      </div>
    </div>
  </div>
</footer>
