<header class="o-mainHeader" data-mobile-menu-wrapper>
  <h1 class='sr-only'>{{ siteName }}</h1>

  <!-- Top bar START -->
  <div class="bg-secondary color-white pt-1 pb-1">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-end align-items-center">
          <ul class="d-none d-lg-flex lightWeight">
            <li class="mr-4"><a class="c-link" href="tel:+385912371804">+385 (0) 91 2371 804</a></li>
            <li class="mr-4"><a class="c-link" href="info@novaljaturist.com">info@novaljaturist.com</a></li>
          </ul>
          <div class="o-dropdown o-dropdown-lang o-lang relative ml-4 pr-2">

            <input class="o-toggle_trigger" type="checkbox" id="dropLang">
            <label class="o-toggle_label" for="dropLang"
                ><i class="c-icon c-icon-white c-icon-15-12 mr-2"
                ><img class="iconic" src="../media/app/custom-arrow.svg" alt="Arrow"></i>English</label>

            <ul class="o-dropdown-down o-toggle_body bg-secondary text-left lh-2">
              <li><a class="c-link" href="#">Hrvatski</a></li>
              <li><a class="c-link" href="#">Deutsch</a></li>
              <li><a class="c-link" href="#">Italiano</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top bar STOP -->

  <div class="o-mainHeader-bar">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-between align-items-center o-mainNav_wrapper">
          <a href="index.html"><img class="o-logo o-logo-lg" src="../media/brand/logo.svg" alt="Novalja turist"></a>

          <!-- Main navigation START -->
          <nav class="o-mainNav">
            <ul class="o-mainNav_list d-lg-flex" data-mobile-menu-item="navigation">

              <li class="o-mainNav_list_item o-mainNav_list_item-drop">
                <a class="o-mainNav_list_item_a" href="search.html">Search<i class="c-icon c-icon-15-12
                    c-icon-secondary ml-2"><img class="iconic" src="../media/app/custom-arrow.svg" alt="Arrow"></i></a>
                <div class="o-mainNav_list_item_trigger"></div>

                <ul class="o-mainNav_list">
                  <li class="o-mainNav_list_item">
                    <a class="o-mainNav_list_item_a" href="unit.html">Unit page</a>
                  </li>
                  <li class="o-mainNav_list_item o-mainNav_list_item-drop">
                    <a class="o-mainNav_list_item_a" href="object.html">Object page<i class="c-icon c-icon-15-12
                        c-icon-secondary ml-2" ><img class="iconic" src="../media/app/custom-arrow.svg"
                        alt="Arrow"></i></a>
                    <div class="o-mainNav_list_item_trigger"></div>

                    <ul class="o-mainNav_list">
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="inquiry.html">Inquiry</a>
                      </li>
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="inquiry-preview.html">Inquiry preview</a>
                      </li>
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="offer.html">Offer</a>
                      </li>
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="paymentCC.html">Payment CC</a>
                      </li>
                    </ul>

                  </li>
                  <li class="o-mainNav_list_item">
                    <a class="o-mainNav_list_item_a" href="contact.html">Contact</a>
                  </li>
                  <li class="o-mainNav_list_item">
                    <a class="o-mainNav_list_item_a" href="contact-preview.html">Contact preview</a>
                  </li>
                </ul>
              </li>

              <li class="o-mainNav_list_item">
                <a class="o-mainNav_list_item_a" href="news-article.html">News article</a>
              </li>

              <li class="o-mainNav_list_item o-mainNav_list_item-drop">
                <a class="o-mainNav_list_item_a" href="thank-you.html">Thank You<i class="c-icon c-icon-white
                    c-icon-15-12 c-icon-secondary ml-2"><img class="iconic" src="../media/app/custom-arrow.svg"
                    alt="Arrow"></i></a>
                <div class="o-mainNav_list_item_trigger"></div>

                <ul class="o-mainNav_list">
                  <li class="o-mainNav_list_item">
                    <a class="o-mainNav_list_item_a" href="404.html">404</a>
                  </li>
                  <li class="o-mainNav_list_item o-mainNav_list_item-drop">
                    <a class="o-mainNav_list_item_a" href="access-denied.html">Access denied<i class="c-icon c-icon-white
                        c-icon-15-12 c-icon-secondary ml-2"><img class="iconic" src="../media/app/custom-arrow.svg"
                        alt="Arrow"></i></a>
                    <div class="o-mainNav_list_item_trigger"></div>

                    <ul class="o-mainNav_list">
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="payment-cancelled.html">Payment cancelled</a>
                      </li>
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                      </li>
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                      </li>
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                      </li>
                    </ul>

                  </li>
                  <li class="o-mainNav_list_item">
                    <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                  </li>
                  <li class="o-mainNav_list_item">
                    <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                  </li>
                </ul>
              </li>
              <li class="o-mainNav_list_item">
                <a class="o-mainNav_list_item_a" href="static.html">Static</a>
              </li>

              <li class="o-mainNav_list_item">
                <a class="o-mainNav_list_item_a" href="news-list.html">News list</a>
              </li>


              <li class="o-mainNav_list_item o-mainNav_list_item-drop">
                <a class="o-mainNav_list_item_a" href="#">One link<i class="c-icon c-icon-15-12 c-icon-secondary ml-2"
                    ><img class="iconic" src="../media/app/custom-arrow.svg" alt="Arrow"></i></a>
                <div class="o-mainNav_list_item_trigger"></div>

                <ul class="o-mainNav_list">
                  <li class="o-mainNav_list_item">
                    <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                  </li>
                  <li class="o-mainNav_list_item o-mainNav_list_item-drop">
                    <a class="o-mainNav_list_item_a" href="#">One drop link<i class="c-icon c-icon-15-12
                        c-icon-secondary ml-2"><img class="iconic" src="../media/app/custom-arrow.svg"
                        alt="Arrow"></i></a>
                    <div class="o-mainNav_list_item_trigger"></div>

                    <ul class="o-mainNav_list">
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                      </li>
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                      </li>
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                      </li>
                      <li class="o-mainNav_list_item">
                        <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                      </li>
                    </ul>

                  </li>
                  <li class="o-mainNav_list_item">
                    <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                  </li>
                  <li class="o-mainNav_list_item">
                    <a class="o-mainNav_list_item_a" href="#">One drop link</a>
                  </li>
                </ul>
              </li>

            </ul>

          </nav>
          <!-- Main navigation STOP -->

          <!-- Mobile navigation START -->
          <ul class="o-mobileMenu d-flex align-items-center d-lg-none">
            <li class="o-mobileMenu_item o-animation-search relative px-4" data-mobile-menu-trigger="search">
              <div class="o-animation-part absolute"></div>
            </li>

            <li class="o-mobileMenu_item o-animation-nav relative px-4" data-mobile-menu-trigger="navigation">
              <div class="o-animation-part"></div>
              <div class="o-animation-part"></div>
            </li>
          </ul>
          <!-- Mobile navigation STOP -->

        </div>
      </div>
    </div>
  </div>

  <!-- Hero section START -->
  <section class="o-mainHeader-bg">

    <div class="o-mainHeader-bg_wrapper relative">
      <div class="o-mainHeader-video_wrapper">

        <div class="container">
          <div class="row h-100">
            <div class="col-12 h-100">
              <div class="d-flex align-items-center h-100">
                <div class="o-mainHeader_text text-uppercase boldWeight">
                  <h1 class="c-ttl c-ttl-xl">Summer of your lifetime</h1>
                  <h2 class="c-ttl c-ttl-s19">
                    <span class="lightWeight">With&nbsp;</span>Novalja Turist</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% include "html/app/components/video.html" %}

      </div>
    </div>

    <div class="o-mainSearch" data-mobile-menu-item="search">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Main search form START -->
            <div class="text-center">

              <input id="searchTypeTrigger" class="o-toggle_trigger" type="checkbox">

              <label class="o-toggle_label o-toggle_label-searchType color-secondary" for="searchTypeTrigger"
                  ><span class="first">Search accommodation by name or ID?</span
                  ><span class="second">Don't know accommodation by name or ID?</span></label>

              <div class="o-mainSearch_list-type">
                <form action="">
                  <ul class="o-mainSearch_list">

                    <li class="o-mainSearch_list_item">
                      <div class="form-group m-0">
                        <label class="sr-only" for="type">Accommodation type</label>
                        <select id="type" class="form-control" name="type">
                          <option value="" disabled selected>Accommodation type</option>
                          <option value="any">Any</option>
                          <option value="house">House</option>
                          <option value="room">Room</option>
                          <option value="apartment">Apartment</option>
                        </select>
                      </div>
                    </li>

                    <li class="o-mainSearch_list_item">
                      <div class="form-group m-0">
                        <label class="sr-only" for="location">Location</label>
                        <select id="location" class="form-control" name="type">
                          <option value="" disabled selected>Location</option>
                          <option value="any">Any</option>
                          <option value="zagreb">Zagreb</option>
                          <option value="rijeka">Rijeka</option>
                          <option value="zadar">Zadar</option>
                        </select>
                      </div>
                    </li>

                    <li class="o-mainSearch_list_item o-mainSearch_list_item-dates d-flex">
                      <div class="form-group w-100 m-0">
                        <label class="sr-only" for="checkIn">Check in</label>
                        <input id='checkIn'
                            class='form-control'
                            type='text'
                            readonly
                            placeholder='Check in'
                            data-datepicker>
                      </div>
                      <div class="form-group relative w-100 m-0">
                        <label class="sr-only" for="checkOut">Check out</label>
                        <input id='checkOut'
                            class='form-control'
                            type='text'
                            readonly
                            placeholder='Check out'
                            data-datepicker>
                      </div>
                    </li>

                    <li class="o-mainSearch_list_item">
                      <div class="form-group m-0">
                        <label class="sr-only" for="adults">Guests</label>
                        <select id="adults" class="form-control" name="adults">
                          <option value="" disabled selected>Guests</option>
                          <option value="any">Any</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                      </div>
                    </li>

                    <li class="o-mainSearch_list_item">
                      <button id="submitSearcType" class="btn btn-primary btn-block" type="submit">Search</button>
                    </li>

                  </ul>

                  <div class="o-mainSearch_list-type_toggle absolute w-100">
                    <input id="advancedSearchTrigger" class="o-toggle_trigger" type="checkbox">

                    <div class="o-toggle_body">
                      <div class="o-advancedSearch color-black lightWeight text-left lh-2 p-4">

                        <fieldset>
                          <legend class="sr-only">Advanced search attributes</legend>

                          <div class="row align-items-center justify-content-center">

                            <div class="col-mdp-9 col-lg-6">
                              <div class="row">

                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label class="form-label" for="category">Category</label>
                                    <select id="category" class="form-control" name="category">
                                      <option value="any">Any</option>
                                      <option value="cat1">Cat1</option>
                                      <option value="cat2">Cat2</option>
                                      <option value="cat3">Cat3</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label class="form-label" for="beachDistance">Distance from beach</label>
                                    <select id="beachDistance" class="form-control" name="distance from beach">
                                      <option value="any">Any</option>
                                      <option value="100">100m</option>
                                      <option value="200">200m</option>
                                      <option value="300">300m</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label class="form-label" for="rooms">Rooms</label>
                                    <select id="rooms" class="form-control" name="rooms">
                                      <option value="any">Any</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label class="form-label" for="centerDistance">Distance from center</label>
                                    <select id="centerDistance" class="form-control" name="distance from center">
                                      <option value="any">Any</option>
                                      <option value="100">100m</option>
                                      <option value="200">200m</option>
                                      <option value="300">300m</option>
                                    </select>
                                  </div>
                                </div>

                              </div>
                            </div>

                            <div class="col-mdp-9 col-lg-6">
                              <div class="row">

                                <div class="col-sm-6 col-md-4">
                                  <div class="c-customCheckbox">
                                    <input id="wifi" class="c-customCheckbox_input" type="checkbox">
                                    <label class="c-customCheckbox_label" for="wifi">WiFi</label>
                                  </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                  <div class="c-customCheckbox">
                                    <input id="barbecue" class="c-customCheckbox_input" type="checkbox">
                                    <label class="c-customCheckbox_label" for="barbecue">Barbecue</label>
                                  </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                  <div class="c-customCheckbox">
                                    <input id="airConditioning" class="c-customCheckbox_input" type="checkbox">
                                    <label class="c-customCheckbox_label" for="airConditioning"
                                        >Air conditioning</label>
                                  </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                  <div class="c-customCheckbox">
                                    <input id="pets" class="c-customCheckbox_input" type="checkbox">
                                    <label class="c-customCheckbox_label" for="pets">Pets</label>
                                  </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                  <div class="c-customCheckbox">
                                    <input id="heating" class="c-customCheckbox_input" type="checkbox">
                                    <label class="c-customCheckbox_label" for="heating">Heating</label>
                                  </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                  <div class="c-customCheckbox">
                                    <input id="satTv" class="c-customCheckbox_input" type="checkbox">
                                    <label class="c-customCheckbox_label" for="satTv">SAT/TV</label>
                                  </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                  <div class="c-customCheckbox">
                                    <input id="seaView" class="c-customCheckbox_input" type="checkbox">
                                    <label class="c-customCheckbox_label" for="seaView">Sea view</label>
                                  </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                  <div class="c-customCheckbox">
                                    <input id="balcony" class="c-customCheckbox_input" type="checkbox">
                                    <label class="c-customCheckbox_label" for="balcony">Balcony</label>
                                  </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                  <div class="c-customCheckbox">
                                    <input id="pool" class="c-customCheckbox_input" type="checkbox">
                                    <label class="c-customCheckbox_label" for="pool">Pool</label>
                                  </div>
                                </div>

                              </div>
                            </div>

                          </div>

                        </fieldset>

                      </div>
                    </div>

                    <label class="o-toggle_label o-toggle_label-advSearch c-link color-brand-secondary
                        color-primary" for="advancedSearchTrigger">

                      <span class="first">Advanced search <i class="c-icon c-icon-primary c-icon-15-12
                          c-icon-white ml-1"><img class="iconic" src="../media/app/custom-arrow.svg"
                          alt="Arrow"></i></span>

                      <span class="second">Hide advanced search<i class="c-icon c-icon-primary c-icon-15-12
                          c-icon-white ml-1"><img class="iconic" src="../media/app/custom-arrow.svg"
                          alt="Arrow"></i></span>
                    </label>
                  </div>
                </form>
              </div>

              <div class="o-mainSearch_list-name">
                <form action="">
                  <ul class="o-mainSearch_list bg-white clearfix">

                    <li class="o-mainSearch_list_item">
                      <div class="form-group m-0">
                        <label for="accommodationName" class="sr-only">Accommodation name</label>
                        <input id='accommodationName'
                            class='form-control'
                            type='text'
                            placeholder="Enter accommodation name or ID"
                            data-input>
                      </div>
                    </li>

                    <li class="o-mainSearch_list_item">
                      <button id="submitSearchName" class="btn btn-primary btn-block"
                        type="submit">Search</button>
                    </li>

                  </ul>
                </form>
              </div>

            </div>
            <!-- Main search form STOP -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero section STOP -->
</header>
