// Grid breakpoints
$grid-breakpoints: (
  xs:  $small-breakpoint,
  sm:  $smallPlus-breakpoint,
  md:  $medium-breakpoint,
  mdp: $mediumPlus-breakpoint,
  lg:  $large-breakpoint,
  xl:  $largePlus-breakpoint
);


// Grid containers
$container-max-widths: (
  lg: $large-maxWidth + $grid-gutter-width-base,
  xl: $largePlus-maxWidth + $grid-gutter-width-base
);


// Grid columns
$grid-gutter-widths: (
  xs: $grid-gutter-width-mobile,
  mdp: $grid-gutter-width-tablet,
  xl: $grid-gutter-width-base
);


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x:                  1rem !default;
$btn-padding-y:                  .8rem !default;
$btn-line-height:                1.25 !default;
$btn-font-weight:                $heading-font-weight !default;
$btn-box-shadow:                 inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075) !default;
$btn-focus-box-shadow:           0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125) !default;

$btn-primary-color:              $white !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $brand-primary !default;

$btn-secondary-color:            $brand-secondary !default;
$btn-secondary-bg:               $white !default;
$btn-secondary-border:           $brand-secondary !default;

$btn-padding-x-sm:               .5rem !default;
$btn-padding-y-sm:               .25rem !default;

$btn-padding-x-lg:               1.5rem !default;
$btn-padding-y-lg:               .75rem !default;

$btn-block-spacing-y:            .5rem !default;
$btn-toolbar-margin:             .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              5px !default;
$btn-border-radius-lg:           0 !default;
$btn-border-radius-sm:           0 !default;

$btn-transition:                 all .2s ease-in-out !default;


// Forms

$input-padding-x:                .75rem !default;
$input-padding-y:                .5rem !default;
$input-line-height:              1.25 !default;

$input-bg:                       $white !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border-color:             rgba($black,.15) !default;
$input-btn-border-width:         1px !default; // For form controls and buttons
$input-box-shadow:               inset 0 1px 1px rgba($black,.075) !default;

$input-border-radius:            0 !default;

$input-bg-focus:                 $input-bg !default;
$input-border-focus:             $blue !default;
$input-box-shadow-focus:         $input-box-shadow, rgba($input-border-focus, .6) !default;
$input-color-focus:              $input-color !default;

$input-color-placeholder:        $gray-light !default;

$input-padding-x-sm:             .5rem !default;
$input-padding-y-sm:             .25rem !default;

$input-padding-x-lg:             1.5rem !default;
$input-padding-y-lg:             .75rem !default;

$input-transition:               border-color ease-in-out .15s, box-shadow ease-in-out .15s !default;

// Pagination

$pagination-padding-x:                .75rem !default;
$pagination-padding-y:                .5rem !default;
$pagination-padding-x-sm:             .5rem !default;
$pagination-padding-y-sm:             .25rem !default;
$pagination-padding-x-lg:             1.5rem !default;
$pagination-padding-y-lg:             .75rem !default;
$pagination-line-height:              1.25 !default;

$pagination-color:                     $gray !default;
$pagination-bg:                        $white !default;
$pagination-border-color:              #ddd !default;

$pagination-hover-color:               $gray !default;
$pagination-hover-bg:                  $gray-lighter !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-color:              $white !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               $white !default;
$pagination-disabled-border:           #ddd !default;
