/*------------------------------------------------------------------------------------
  GAPS
------------------------------------------------------------------------------------*/
$gap: 40px;
$gapSmall: 32px;
$gapLarge: 60px;


/*------------------------------------------------------------------------------------
  BREAKPOINTS
------------------------------------------------------------------------------------*/
$small-breakpoint: 0px;
$smallPlus-breakpoint: 468px;
$medium-breakpoint: 600px;
$mediumPlus-breakpoint: 800px;
$large-breakpoint: 1025px;
$largePlus-breakpoint: 1400px;


/*------------------------------------------------------------------------------------
  CONTAINER
------------------------------------------------------------------------------------*/
$large-maxWidth: 1040px;
$largePlus-maxWidth: 1260px;


/*------------------------------------------------------------------------------------
  GRID, GUTTER
------------------------------------------------------------------------------------*/
$grid-columns:               12 !default;
$grid-gutter-width-mobile:     10px !default;
$grid-gutter-width-tablet:     18px !default;
$grid-gutter-width-base:     24px !default;



