// Brand colors
$brand-primary: #EA526F;
$brand-secondary: #14979A;
$brand-tertiary: #FF8A5B;

$brand-primary-light: lighten($brand-primary, 27%); // #f9cdd5
$brand-primary-lightest: lighten($brand-primary, 36%); // #FFF6F8

// State colors
$red: #D0021B;
$green: #00FF00;
$blue: #4A90E2;
$yellow: #FFFF00;

$blue-dark: #01638A;

$yellow-light: #FFF3ED;

// Neutral colors
$white: #ffffff;
$black: #000000;

$unitBorder: #BEBEBE;

// Black variations
$black-lighter: lighten($black, 11%); // #1c1c1c
$black-pearl: #191f27;

// PROMO COLOR
$promo: #FF8954;
$promo-light: lighten($promo, 27%);
$promo-lighter: lighten($promo, 30%);

// PRICE CALCULATOR
$seaShell: #FEFAF7;
$lochmara: #0187BD;

// Grayscale
$gray: #808080;
$gray-dark: darken($gray, 20%); //4D4D4D
$gray-darker: darken($gray, 22%); //484848
$gray-darkest: darken($gray, 25.49%); // #3f3f3f
$gray-light: lighten($gray, 7%); // #909190
$gray-lighter: lighten($gray, 14%); // #A3A3A3
$gray-lightest: lighten($gray, 40%); // #E6E6E6

// UI colors
$text-color: $gray-darker;

// Table colors
$table-head: #FEDCCE;

// Alert colors
$alert-red: #A42F2F;

$alert-success-light: #DFF0D8;
$alert-success-dark: #3C763D;

// PROMO COLOR
$promo: #FF8A5B;
$promo-light: lighten($promo, 27%); //
$promo-lighter: lighten(adjust-hue(#ff8a5b, -1), 30.00); //

$seaShell: #FEFAF7;

// Logo
$hexis-gray: rgba($white, .4);
