// Font Size
$body-font-size: 100%;

// Line height
$default-line-height: 1.2;

// Letter spacing
$default-letter-spacing: normal;

// Font Family
$body-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$heading-font-family: $body-font-family;

// Font Weight
$heading-font-weight: 700;
//$semiBold-font-weight: 600;
//$medium-font-weight: 500;
$regular-font-weight: 400;
$light-font-weight: 300;

// Text sizes
$textSmaller: .75rem; //12px
$textSmall: .875rem; //14px
$textNormal: 16px;
$textLarge: 1.125rem; //18px
$textLarger: 1.25rem; //20px
