// Font Size
$body-font-size: 100%;


// Line height
$line-height-default: 1.2;


// Letter spacing
$letter-spacing-default: normal;
$letter-spacing-lg: 0.02rem;


// Font Family
$font-family-nunito-sans:     'Nunito Sans', sans-serif;
$font-family-base:            $font-family-nunito-sans;
$font-family-heading:         $font-family-base;


// Font Weight
$font-weight-black: 900;
// $font-weight-heavy: 800;
$font-weight-bold: 700;
// $font-weight-semiBold: 600;
// $font-weight-medium: 500;
$font-weight-regular: 400;
// $font-weight-light: 300;
// $font-weight-thin: 200;
