@import "../../app/04_components/c-link";

.c-link {

  @include print {

    .o-tablePaymentInfo & {
      display: none;
    }

    .o-verticalInfoList & {
      text-decoration: none!important;
    }

  }

}
