%absoluteFull {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%absoluteTop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

%absoluteBot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

%absoluteX {
  position: absolute;
  right: 0;
  left: 0;
}

%absoluteY {
  position: absolute;
  top: 0;
  bottom: 0;
}
