%imgOverlay {

  &:after {
    @extend %absoluteFull;
    content: '';
    z-index: -1;
    height: 2.75rem; /* 44/16 */
    background-image: linear-gradient(-180deg, rgba($white, .90) 0%, $white 100%);
  }

  @include laptop {

    &:after {
      height: 5rem; /* 80/16 */
    }

  }

}
