@mixin overflowDots($height: 1.2rem, $color: null, $bg-color: $white) {
  position: relative;
  overflow: hidden;
  height: $height;
  word-break: break-all;

  &:after {
    @extend %no-repeat;
    @extend %absoluteFull;
    content: '';
    top: auto;
    left: auto;
    display: block;
    width: 1rem;
    height: 21px;
    margin-left: -1rem;
    background-color: $bg-color;
    background-size: 11px;
    background-image: url('../media/app/dots#{$color}.svg');
    background-position: center 80%;
  }

}
