@mixin separatedList($type, $color: inherit) {
  display: flex;
  flex-wrap: wrap;

  .o-separatedList_item + .o-separatedList_item {
    position: relative;
    padding-left: .8rem;
    margin-left: .6rem;
  }

  .o-separatedList_item + .o-separatedList_item:before {
    @extend %absoluteFull;
    content: $type;
    right: auto;
    color: $color;
  }

}
