// Buttons

// Global settings
$btn-padding-y: .7rem;
$btn-padding-x: 1rem;
$btn-border-radius: 5px;
$btn-font-size: 1rem;
$btn-font-weight: $font-weight-bold;

// Primary button settings
$btn-primary-bg: $brand-primary;
$btn-primary-bg-hover: darken($btn-primary-bg, 10%);

$btn-primary-color: $white;
$btn-primary-color-hover: darken($btn-primary-color, 10%);

$btn-primary-border-width: 0;
$btn-primary-border-width-hover: $btn-primary-border-width;
$btn-primary-border-style: solid;
$btn-primary-border-style-hover: $btn-primary-border-style;
$btn-primary-border-color: $white;
$btn-primary-border-color-hover: darken($btn-primary-border-color, 10%);


// Secondary button settings
$btn-secondary-bg: $white;
$btn-secondary-bg-hover: darken($btn-secondary-bg, 10%);

$btn-secondary-color: $brand-primary;
$btn-secondary-color-hover: darken($btn-secondary-color, 10%);

$btn-secondary-border-width: 1px;
$btn-secondary-border-width-hover: $btn-secondary-border-width;
$btn-secondary-border-style: solid;
$btn-secondary-border-style-hover: $btn-secondary-border-style;
$btn-secondary-border-color: $color-ui-dark;
$btn-secondary-border-color-hover: darken($btn-secondary-border-color, 10%);

// Width
$btn-wide-sm: 100px;
$btn-wide-md: 200px;
$btn-wide-lg: 300px;

.c-btn {
  @extend %cursor-pointer;
  @include transition();
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: $btn-border-radius;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  -webkit-touch-callout: none;

  &, &:focus {
    outline: 0;
    box-shadow: none;
  }

  &-primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    border-width: $btn-primary-border-width;
    border-style: $btn-primary-border-style;
    border-color: $btn-primary-border-color;

    &:hover {
      background-color: $btn-primary-bg-hover;
      color: $btn-primary-color-hover;
      border-color: $btn-primary-border-color-hover;
    }

    .p-intro & {
      padding-right: 3rem;
      border: 1px solid $white;
      border-radius: 10px;
      background-color: $color-ui-transparent;
    }

    .p-intro &:hover {
      background-color: $btn-primary-bg-hover;
    }

  }

  &-secondary {
    background-color: $btn-secondary-bg;
    color: $btn-secondary-color;
    border-width: $btn-secondary-border-width;
    border-style: $btn-secondary-border-style;
    border-color: $btn-secondary-border-color;

    &:hover {
      background-color: $btn-secondary-bg-hover;
      color: $btn-secondary-color-hover;
      border-color: $btn-secondary-border-color-hover;
    }

  }

  .o-priceSection &-option {
    border-width: $btn-secondary-border-width;
    border-style: $btn-secondary-border-style;
    border-color: $btn-secondary-border-color;
  }

  .o-priceSection &-option:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-style: none;
  }

  .o-priceSection &-option + &-option {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @include tablet {

    &-wide-sm {
      max-width: $btn-wide-sm;
    }

    &-wide-md {
      max-width: $btn-wide-md;
    }

    &-wide-lg {
      max-width: $btn-wide-lg;
    }

  }

  @include mobilePlusDown {
    display: flex;
    width: 100%;
  }

  @include mobilePlus {

    // Size modifiers (note: use along with 'w-100')
    &-mw250 {
      max-width: 250px;
    }

  }

  @include laptop {

   .p-intro .o-option_item & {
     height: 70px;
     min-width: 24rem;
   }

  }

}
