// Icons
//
// // icon color is changed by 'iconic' JS plugin

.c-icon {

  .p-intro &-arrow {
    @include transition();
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    width: 29px;
    height: 22px;
    margin: auto;
  }

  .p-intro .c-btn:hover &-arrow {
    transform: translateX(.2rem);
  }

  @include mobilePlusDown {

    .p-intro &-arrow {
      width: 20px;
      height: 13px;
    }

  }

}
