.c-img {

  &_promo {
    margin-top: -6rem;
    margin-bottom: -6rem;
  }

  &_features {
    max-width: 90%;
  }

  @include tablet {

    &_features {
      max-width: 70%;
    }

    &_promo {
      margin-top: -2rem;
      margin-bottom: -2rem;
    }

  }

  @include laptop {

    &_features {
      max-width: 100%;
    }

    &_promo {
      margin-top: -6rem;
      margin-bottom: -6rem;
    }

  }

}
