.c-logo {

  .o-mainFooter &.o-mainFooter_title-logo {
    width: 366px;
    margin-top: -5rem;
  }


  .o-copyright & {
    @include transition();
    width: 90px;
    opacity: .5;

    &:hover {
      opacity: 1;
    }

  }

  .p-thankYou &_main {
    width: 170px;
    margin: auto;
  }

  .p-thankYou &_wrapper:before,
  .p-thankYou &_wrapper:after {
    @extend %absoluteFull;
    content: '';
    width: 30%;
    height: 3px;
    background-color: $brand-primary;
    margin: auto;
    opacity: .41;
  }

  .p-thankYou &_wrapper:before {
    right: 70%;
  }

  .p-thankYou &_wrapper:after {
    left: 70%;
  }

  @include laptop {

    .p-thankYou &_wrapper:before,
    .p-thankYou &_wrapper:after {
      width: 40%;
    }

    .p-thankYou &_wrapper:before {
      right: 60%;
    }

    .p-thankYou &_wrapper:after {
      left: 60%;
    }

  }

}
