// Titles
.c-ttl {
  margin: 0;

  //PAGE TITLE
  &-pg {
    @include font-size(20);
  }

  //PAGE SUBTITLE
  &-pg_sub {
    @include font-size(14);

    .p-intro & {
      @include font-size(13);
      letter-spacing: .5px;
    }

  }

  .o-option_title & {
    @include font-size(16);
  }

  // SECTION TITLE
  &-section {
    @include font-size(32);
  }

  &-section_sub {
    @include font-size(26);
  }

  // Specific targets

  .p-intro .o-option_item > &-pg {
    @include transition();
  }

  .p-intro .o-option_item .c-btn:hover ~ &-pg {
    transform: translateY(-.5rem);
  }

  .o-hero_logo-wrapper & {
    margin-right: -0.75%;
    letter-spacing: 5px;
  }

  @include tablet {

    //PAGE TITLE
    &-pg {
      @include font-size(22);
    }

    //PAGE SUBTITLE
    &-pg_sub {
      @include font-size(18);

      .p-intro & {
        @include font-size(16);
        letter-spacing: 1px;
      }
    }

  }

  //-----TABLET-----//
  @include tabletPlus {

    .o-option_title & {
      @include font-size(20);
      line-height: 38px;
    }

    .o-hero_logo-wrapper & {
      margin-top: -2%;
    }

  }

  //-----LAPTOP-----//
  @include laptop {

    // SECTION TITLE
    &-section {
      @include font-size(42);
    }

    &-section_sub {
      @include font-size(32);
    }

    //PAGE TITLE
    &-pg {
      @include font-size(38);
    }

    //PAGE SUBTITLE
    &-pg_sub {
      @include font-size(18);
    }

  }

  //-----DESKTOP-----//
  @include desktop {

    .o-option_title & {
      @include font-size(30);
    }

  }

}
