<!--Load Main HTML Layout-->
{% extends "src/html/app/template/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Port Authority' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Contact' %}
{% set pageTitleName = 'Contact' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-contact' %}

<!--Main Content-->
{% block content %}
{% include "src/html/app/components/header.html" %}

{% import "src/html/app/bits/form/input.html" as input %}
{% import "src/html/app/bits/form/textarea.html" as textarea %}

<main>

  {% include "src/html/app/components/map.html" %}

  <div class="container">
    <div class="row">

      <div class="col-12 mt-5">
        <h1 class="c-ttl c-ttl-h1">Contact us and we'll respond as soon as possible!</h1>
      </div>

      <div class="col-lg-4 o-sidebar mt-3 mt-lg-4">
        <div class="d-md-flex d-lg-block my-5 my-lg-4">
          <div class="w-100">
            Riva 1 <br> 51000 Rijeka, <br> Hrvatska
          </div>

          <div class="w-100">
            <a class="c-link d-block" href="tel:+38551351177">+385 51 351 177</a>
            <a class="c-link d-block" href="tel:+38551331764">+385 51 331 764</a>
            <a class="c-link d-block" href="mailto:rijeka.gateway@portauthority.hr">rijeka.gateway@portauthority.hr</a>
          </div>
        </div>
      </div>

      <div class="col-lg-8 mt-3 mt-lg-4 mb-lg-5">

        <form class="mb-4" action="#">
          <div class="row">

            <div class="col-12">
              {{
                input.inputFunction(
                  fg_class = "form-group error has-error",
                  lb_class = "form-label",
                  lb_txt = "Puno ime i prezime",
                  fe_id = "fullName",
                  fe_class = "form-control",
                  fe_name = "fullName",
                  fe_type = "text",
                  fe_placeholder = "Type your full name"
                )
              }}
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input id="email" class="form-control" type="email" name="email" 
                    placeholder="Type your email address" data-email-autocorrect>
                <div class="form-suggestion" id="mailCheckSuggestion"></div>
              </div>
            </div>

            <div class="col-lg-6">
              {{
                input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Mobitel",
                  fe_id = "intlTel",
                  fe_class = "form-control",
                  fe_name = "cellphone",
                  fe_type = "tel",
                  fe_placeholder = "+ XXX - XXXX - XXXX"
                )
              }}
            </div>

            <div class="col-12">
              {{
                textarea.textareaFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Poruka",
                  fe_id = "message",
                  fe_class = "form-control",
                  fe_name = "message",
                  fe_rows = "7",
                  fe_placeholder = "Type your message"
                )
              }}
            </div>

            <div class="col-12 d-md-flex justify-content-md-end">
              <button class="c-btn c-btn-primary c-btn-minw185" type="submit">Send a message</button>
            </div>

          </div>
        </form>

        <hr class="-gray mb-5">

        <div class="row">
          <div class="col-xl-4 col-lg-6 lh1-9 mb-5">
            <div class="font-weight-bold text-uppercase mb-1">Lučka uprava Rijeka</div>

            <div class="w-100">Riva 1 <br> 51000 Rijeka, <br> Hrvatska</div>
            <a class="c-link d-block" href="tel:+38551351177">+385 51 351 177</a>
            <a class="c-link d-block" href="tel:+38551331764">+385 51 331 764</a>
            <a class="c-link d-block" href="mailto:rijeka.gateway@portauthority.hr">rijeka.gateway@portauthority.hr</a>
          </div>

          <div class="col-xl-4 col-lg-6 lh1-9 mb-5">
            <div class="font-weight-bold text-uppercase mb-1">Ured ravnatelja</div>

            <div class="w-100">Riva 1 <br> 51000 Rijeka, <br> Hrvatska</div>
            <a class="c-link d-block" href="tel:+38551351177">+385 51 351 177</a>
            <a class="c-link d-block" href="tel:+38551331764">+385 51 331 764</a>
            <a class="c-link d-block" href="mailto:rijeka.gateway@portauthority.hr">rijeka.gateway@portauthority.hr</a>
          </div>

          <div class="col-xl-4 col-lg-6 lh1-9 mb-5">
            <div class="font-weight-bold text-uppercase mb-1">Komercijalno - operativni poslovi</div>

            <div class="w-100">Riva 1 <br> 51000 Rijeka, <br> Hrvatska</div>
            <a class="c-link d-block" href="tel:+38551351177">+385 51 351 177</a>
            <a class="c-link d-block" href="tel:+38551331764">+385 51 331 764</a>
            <a class="c-link d-block" href="mailto:rijeka.gateway@portauthority.hr">rijeka.gateway@portauthority.hr</a>
          </div>

          <div class="col-xl-4 col-lg-6 lh1-9 mb-5">
            <div class="font-weight-bold text-uppercase mb-1">Marketing</div>

            <div class="w-100">Riva 1 <br> 51000 Rijeka, <br> Hrvatska</div>
            <a class="c-link d-block" href="tel:+38551351177">+385 51 351 177</a>
            <a class="c-link d-block" href="tel:+38551331764">+385 51 331 764</a>
            <a class="c-link d-block" href="mailto:rijeka.gateway@portauthority.hr">rijeka.gateway@portauthority.hr</a>
          </div>

          <div class="col-xl-4 col-lg-6 lh1-9 mb-5">
            <div class="font-weight-bold text-uppercase mb-1">Lučki kontrolni centar</div>

            <div class="w-100">Riva 1 <br> 51000 Rijeka, <br> Hrvatska</div>
            <a class="c-link d-block" href="tel:+38551351177">+385 51 351 177</a>
            <a class="c-link d-block" href="tel:+38551331764">+385 51 331 764</a>
            <a class="c-link d-block" href="mailto:rijeka.gateway@portauthority.hr">rijeka.gateway@portauthority.hr</a>
          </div>
        </div>


      </div>

    </div>
  </div>

</main>

{% include "src/html/app/components/footer.html" %}
{% endblock %}
