<!--Load Main HTML Layout-->
{% extends "src/html/app/template/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Port Authority' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Homepage' %}
{% set pageTitleName = 'Homepage' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-homepage' %}

<!--Main Content-->
{% block content %}
{% include "src/html/app/components/header.html" %}

{% import "src/html/app/components/card.html" as card %}

<main>

  <div class="o-hero" style="background-image: url('../media/app/heroBg.png');">
    <div class="o-hero_heading">
      <div class="container">
        <div class="row">
          <div class="col-12 o-hero_headingWrapper">
            <h1 class="c-ttl c-ttl-h1 color-white">Lučka Uprava Rijeka</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "src/html/app/components/newsBar.html" %}
  
  {% include "src/html/app/components/map.html" %}

  <div class="container my-5">
    <div class="row">

      <div class="col-12 d-flex align-items-center mb-4">
        <h2 class="c-ttl c-ttl-h2">Novosti</h2>
        <span class="px-4">|</span>
        <a class="c-link c-link-cta" href="newsList.html">More news</a>
      </div>

      <div class="col-md-6 col-lg-3">
        {{
          card.cardFunction(
            type = "newsList",
            title = "Smarter Food Choices 101 Tips For Busy Women",
            tags = ["Cooking", "Razvojni projekti", "Europski projekti", "Working"],
            desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
            newsList = false
          )
        }}
      </div>

      <div class="col-md-6 col-lg-3">
        {{
          card.cardFunction(
            type = "newsList",
            title = "Smarter Food Choices 101 Tips For Busy Women",
            tags = ["Europski projekti", "Working"],
            desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
            newsList = false
          )
        }}
      </div>

      <div class="col-md-6 col-lg-3">
        {{
          card.cardFunction(
            type = "newsList",
            title = "Smarter Food Choices 101 Tips For Busy Women",
            tags = ["Cooking", "Razvojni projekti", "Europski projekti"],
            desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
            newsList = false
          )
        }}
      </div>

      <div class="col-md-6 col-lg-3">
        {{
          card.cardFunction(
            type = "newsList",
            title = "Smarter Food Choices 101 Tips For Busy Women",
            tags = ["Cooking"],
            desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
            newsList = false
          )
        }}
      </div>

    </div>
  </div>

</main>

{% include "src/html/app/components/footer.html" %}
{% endblock %}
