<!--Load Main HTML Layout-->
{% extends "src/html/app/template/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Port Authority' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'News article' %}
{% set pageTitleName = 'News article' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-newsArticle' %}

<!--Main Content-->
{% block content %}
{% include "src/html/app/components/header.html" %}

{% import "src/html/app/components/card.html" as card %}

<main>

  {% include "src/html/app/components/breadcrumbs.html" %}

  <div class="container">
    <div class="row mt-4 mt-lg-5 pb-5">

      <div class="col-lg-9">

        <!-- Category START -->
        <div class="o-card_tagList">
          <div class="o-card_tagItem">
            <a class="c-link c-link-tag" href="newsList.html#cooking">Cooking</a>
          </div>
        </div>
        <!-- Category STOP -->

        <h1 class="c-ttl c-ttl-h1 mb-0">Best Boutique Fitness Classes And Clubs In London 2018</h1>
        <div class="color-gray font-weight-bold mb-3">21.8.2018</div>

        <div class="c-img -featured" style="background-image: url('media/app/london.png')"></div>

        <div class="preformat mb-5 pb-5">
          <p>Summer is often synonymous with beaches, ballparks and barbecues, all offering tempting snacks and treats.
             To many women who are watching their weight, the back-to-school season is an ideal time to enroll in their
             own “Making Smarter Food Choices 101″ class and refocus on a balanced diet and healthy lifestyle. To help
             these busy women make wiser food choices, Weight Watchers has partnered with food manufacturer Dawn Food
             Products Inc. to create a line of sweet baked goods that make the grade in convenience, portability and
             taste. Available nationwide in carrot, lemon and chocolate snack cakes and blueberry and double chocolate
             muffins, Weight Watchers sweet baked goods satisfy hunger and are lower in calories and fat than
             traditional sweets.
          </p>

          <p>“We all want flexibility in our lives, be it in our daily routine or in our food choices,” said Schryse
             Williams, vice president of consumer brands for Dawn Food Products. “It’s all about balance and offering
             consumers the opportunity to make sensible choices.” Most foods can fit into a balanced diet – in
             moderation. Some tips for making smarter food choices include:
          </p>

          <ul>
            <li>Go whole grain. Consume three or more 1-ounce servings of whole-grain products per day,
                along with three servings of enriched grains.</li>

            <li>Eat calcium-rich foods. Consume two cups per day of fat-free or low-fat milk or milk products</li>

            <li>Find balance between physical activity and food you eat. Make sure you aren’t taking in more
                calories than you’re using or burning.</li>

            <li>Limit intake of saturated and trans fats. Trans fats have been linked to increased risk of heart
                disease. Look for low or no trans fats on the label.</li>

            <li>Get active. Engaging in regular physical activity and reducing sedentary activities can promote good
                health, psychological well-being and a healthy body weight.</li>

            <li>Size does matter. Buying treats in small, individual packages for portion control helps to
                maintain a healthy lifestyle.</li>
          </ul>
        </div>

        {% include "src/html/app/components/gallery.html" %}

        <section>
          <h3 class="c-ttl c-ttl-h3 mt-4 mb-2">Privici</h3>

          <ul class="o-document_list">
            <li><a class="c-link o-document_item -doc" href="#">Document</a></li>
            <li><a class="c-link o-document_item -img" href="#">Image</a></li>
            <li><a class="c-link o-document_item -zip" href="#">ZIP file</a></li>
          </ul>
        </section>

      </div>

      <div class="col-lg-3 o-sidebar mt-4 mt-lg-0">
        <div class="row">
          <div class="col-12 static">
            <h2 class="c-ttl c-ttl-h2 mb-2">Povezane novosti</h2>
          </div>

          <div class="col-lg-12 col-md-6 static">
            {{
              card.cardFunction(
                type = "newsList",
                title = "Smarter Food Choices 101 Tips For Busy Women",
                tags = ["Cooking"],
                desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
                newsList = true
              )
            }}
          </div>

          <div class="col-lg-12 col-md-6 static">
            {{
              card.cardFunction(
                type = "newsList",
                title = "Rijeka Gateway projekt",
                tags = ["Cooking", "Razvojni projekti"],
                desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
                newsList = true
              )
            }}
          </div>

          <div class="col-lg-12 col-md-6 static">
            {{
              card.cardFunction(
                type = "newsList",
                title = "Smarter Food Choices 101 Tips For Busy Women",
                tags = ["Cooking", "Razvojni projekti", "Europski projekti", "Working"],
                desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
                newsList = true
              )
            }}
          </div>

          <div class="col-lg-12 col-md-6 static">
            {{
              card.cardFunction(
                type = "newsList",
                title = "Smarter Food Choices 101 Tips For Busy Women",
                tags = ["Cooking", "Razvojni projekti", "Europski projekti", "Working"],
                desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
                newsList = true
              )
            }}
          </div>

          <div class="col-12 text-right static">
            <a class="c-link c-link-readMore" href="newsList.html">More news</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>

{% include "src/html/app/components/footer.html" %}
{% endblock %}
