<!--Load Main HTML Layout-->
{% extends "src/html/app/template/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Port Authority' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Project List' %}
{% set pageTitleName = 'Project List' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-newsList' %}

<!--Main Content-->
{% block content %}
{% include "src/html/app/components/header.html" %}

{% import "src/html/app/bits/form/select.html" as select %}
{% import "src/html/app/components/card.html" as card %}

<main>

  <form action="">
    <div class="container my-5">
      <div class="row mb-4">

        <div class="col-lg-5">
          <h2 class="c-ttl c-ttl-h2">Novosti</h2>
        </div>

        <div class="col-lg-7">
          {{
            select.selectFunction(
              fg_class = "form-group mb-lg-0 d-flex flex-column flex-lg-row align-items-lg-center",
              lb_class = "form-label mt-4 mt-lg-0 mr-lg-3 mb-lg-0",
              lb_txt = "Filtriranje po kategoriji",
              fe_id = "categoryNews",
              fe_class = "form-control select",
              fe_name = "categoryNews",
              fe_attr = ["size"],
              opt_1 = "Svi",
              opt_2 = "Razvojni projekti",
              opt_3 = "Kategorija3",
              opt_4 = "Kategorija4"
            )
          }}
        </div>

      </div>

      <div class="row">

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "projectList",
              title = "Smarter Food Choices 101 Tips For Busy Women",
              tags = ["Cooking", "Razvojni projekti", "Europski projekti", "Working"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "projectList",
              title = "Rijeka Gateway projekt",
              tags = ["Europski projekti"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "projectList",
              title = "Smarter Food Choices 101 Tips For Busy Women",
              tags = ["Cooking", "Razvojni projekti", "Europski projekti"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "projectList",
              title = "CEF Brajdica",
              tags = ["Europski projekti", "Razvojni projekti"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "projectList",
              title = "Rijeka Gateway projekt",
              tags = ["Cooking"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "projectList",
              title = "Why Do Make Ahead Recipes Work So Well",
              tags = ["Razvojni projekti"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "projectList",
              title = "Rijeka Gateway projekt",
              tags = ["Cooking", "Working"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "projectList",
              title = "CEF Brajdica",
              tags = ["Europski projekti", "Working"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "newsList",
              title = "Why Do Make Ahead Recipes Work So Well",
              tags = ["Cooking", "Razvojni projekti", "Europski projekti", "Working"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "newsList",
              title = "Smarter Food Choices 101 Tips For Busy Women",
              tags = ["Cooking", "Razvojni projekti"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "newsList",
              title = "Why Do Make Ahead Recipes Work So Well",
              tags = ["Cooking", "Razvojni projekti"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-md-6 col-lg-3">
          {{
            card.cardFunction(
              type = "newsList",
              title = "CEF Brajdica",
              tags = ["Cooking", "Razvojni projekti", "Europski projekti"],
              desc = 'Napredovanje projekta Lučke različitosti 2020 i doprinosa LUR u programu "Sweet and salty"',
              newsList = false
            )
          }}
        </div>

        <div class="col-12">
          {% include "src/html/app/components/pagination.html" %}
        </div>

      </div>
    </div>
  </form>

</main>

{% include "src/html/app/components/footer.html" %}
{% endblock %}
