<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- Fonts START -->
  <link rel='dns-prefetch' href='https://fonts.googleapis.com'>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
  <!-- Fonts STOP -->

  <title>{{ pageTitle }}</title>
  <!--Add "inline" attribute to link of the file for HEAD style compile-->
  <link rel="stylesheet" href="../css/pdf.css">

</head>
<body class="{{ bodyClass }}">

  {% block content %}{% endblock %}

</body>
</html>
