<!--Load Main HTML Layout-->
{% extends "html/pdf/templates/base.html" %}

<!--Define Page Title-->
{% set pageTitle = 'Voucher pdf' %}

<!--Define body class-->
{% set bodyClass = 'p-voucher' %}

<!--Main Content-->
{% block content %}

{% include "html/pdf/templates/header.html" %}

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div>
          <table class="o-tableInformations my-4 text-left">

            <thead>
              <tr>
                <th>
                  <h1 class="c-ttl c-ttl-lg">Your booking id: #3334j34j4n3nkDdss</h1>
                </th>
              </tr>

              <tr>
                <th>
                  Offer date:<span class="ml-5">16.12.2016.</span>
                  <br><br>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr>

                <td>
                  <strong>Apartmani Zoran</strong><br>
                  Location Vrbnik
                </td>

              </tr>
            </tbody>

          </table>
        </div>

        <div>
          <table class="o-voucherInfoTable w-100 text-left">

            <tbody>
              <tr>
                <td>
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th colspan="2">
                          <h2 class="c-ttl c-ttl-mdp text-uppercase">Personal data and booking info</h2>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td><strong>Full name:</strong></td>
                        <td>John Wayne</td>
                      </tr>

                      <tr>
                        <td><strong>Full address:</strong></td>
                        <td>Mountain drive 12,<br>
                          Gotham 12345,<br>
                          USA
                        </td>
                      </tr>

                      <tr>
                        <td><strong>Email:</strong></td>
                        <td>someone@something.com</td>
                      </tr>

                      <tr>
                        <td><strong>Cellphone:</strong></td>
                        <td>0987654321</td>
                      </tr>

                      <tr>
                        <td><strong>Check in:</strong></td>
                        <td>10.10.2012.</td>
                      </tr>

                      <tr>
                        <td><strong>Check out:</strong></td>
                        <td>12.10.2012.</td>
                      </tr>

                      <tr>
                        <td><strong>Adults:</strong></td>
                        <td>2</td>
                      </tr>

                      <tr>
                        <td><strong>Kids:</strong></td>
                        <td>5 (Age 1, 4, 5, 6, 7)</td>
                      </tr>
                    </tbody>
                  </table>
                </td>

                <td>
                  <table class="w-100">
                    <thead>
                      <tr>
                        <th colspan="2">
                          <h2 class="c-ttl c-ttl-mdp text-uppercase">Contact person and location</h2>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td><strong>Full name:</strong></td>
                        <td>Johnny Walker</td>
                      </tr>

                      <tr>
                        <td><strong>Full address:</strong></td>
                        <td>Mountain drive 12,<br>
                          Gotham 12345,<br>
                          USA
                        </td>
                      </tr>

                      <tr>
                        <td><strong>Cellphone:</strong></td>
                        <td>0987654321</td>
                      </tr>

                      <tr>
                        <td><strong>Telephone:</strong></td>
                        <td>0987654321</td>
                      </tr>

                      <tr>
                        <td><strong>Working hours:</strong></td>
                        <td>
                          Monday - wednesday: 08:00 - 16:00<br>
                          Thursday - friday: 09:00 - 17:00
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="container-fluid my-5">
    <div class="row">
      <div class="col">

        <table class="o-chargesTable">
          <thead>
            <tr>
              <th colspan="2">
                <h2 class="c-ttl c-ttl-mdp text-uppercase text-left">Accommodation charges</h2>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Total price</td>
              <td class="text-right">450.00 EUR</td>
            </tr>

            <tr>
              <td>Advanced payment (Amount paid)</td>
              <td class="text-right">50.00 EUR</td>
            </tr>

            <tr>
              <td><strong>Remaining payment</strong></td>
              <td class="text-right"><strong>10.00 EUR</strong></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="container-fluid">
    <div class="row">
      <div class="col my-3">
        Note: At arrival day guests are entering the appartment after 14.00pm and at the depature day they have to
        exit appatment before 10.00am.
      </div>
    </div>
  </div>

</main>

{% endblock %}
