.o-breadcrumb {
  background-color: rgba($brand-primary, .05);

  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 1.3rem 1rem 1.3rem 0;
    margin: 0;
  }

  .breadcrumb-item {
    font-weight: $font-weight-bold;

    + .breadcrumb-item::before {
      @extend .svg-chevron-breadcrumb;
      @extend .svg-chevron-breadcrumb-dims;
      content: '';
      display: inline-block;
      padding: 0;
      margin: 0 .6rem;
    }

    &.active {
      color: $black;
      font-weight: $font-weight-regular;
    }

  }

}
