.o-card {
  margin-bottom: 3.25rem;

  &_img {
    @extend %no-repeat;
    @extend %bg-cover;
    @extend %bg-center;
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;

    &:after {
      @extend %absoluteFull;
      content: '';
      top: auto;
      height: 40%;
      background-image: linear-gradient(
        rgba($white, 0),
        rgba($black, .00709) 10.47%,
        rgba($black, .02755) 19.56%,
        rgba($black, .06016) 27.58%,
        rgba($black, .1037) 34.81%,
        rgba($black, .15697) 41.57%,
        rgba($black, .21875) 48.13%,
        rgba($black, .28782) 54.79%,
        rgba($black, .36296) 61.85%,
        rgba($black, .44297) 69.61%,
        rgba($black, .52662) 78.36%,
        rgba($black, .6127) 88.39%,
        rgba($black, .7));
    }

  }

  &_date {
    position: absolute;
    bottom: 9px;
    left: 18px;
    z-index: 1;
    color: $white;
  }

  &_tagList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
  }

  &_tagItem:not(:last-child) {
    margin-right: .4375rem;
  }

  &_desc {
    margin: 0;
  }

  .o-sidebar & {
    margin-bottom: .9rem;
  }

}
