.o-document {

  &_list {
    line-height: 2.188rem; /* 35/16 */
  }

  &_item {
    color: $brand-primary;
    font-weight: $font-weight-bold;
    text-decoration: none;

    &:before {
      content: '';
      display: inline-block;
      margin-right: .5rem;
      transform: translateY(.25rem); /* 4/16 */
    }

  }

  &_item.-doc:before {
    @extend .svg-doc;
    @extend .svg-doc-dims;
  }

  &_item.-img:before {
    @extend .svg-img;
    @extend .svg-img-dims;
  }

  &_item.-zip:before {
    @extend .svg-zip;
    @extend .svg-zip-dims;
  }

}
