.o-gallery {

  &_img {
    opacity: 0;
    visibility: hidden;
  }

  &_item {
    @extend %no-repeat;
    @extend %bg-center;
    @extend %bg-cover;
    position: relative;
    overflow: hidden;
    flex: 1 1 100%;
    margin-right: -15px;
    margin-left: -15px;

    &:nth-child(n+4) {
      display: none;
    }

  }

  &_item + &_item {
    margin-top: .172rem; /* 2.75/16 */
  }

  &_item.last {

    .o-gallery_link {
      z-index: 1;

      &:after {
        @extend %absoluteFull;
        content: '';
        background-color: rgba($color-text-neutral, .7);
      }

    }

  }

  &_count {
    @include font-size(28);
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    left: 0;
    color: $white;
    transform: translateY(-50%);
  }



  @include tablet {

    &_item {
      flex: 1 1 33%;
      margin: 0;
    }

    &_item + &_item {
      margin: 0;
      margin-left: 0.25rem; /* 4/16 */
    }

  }

  @include laptop {

    &_item + &_item {
      margin-left: .387rem; /* 6.19/16 */
    }

  }

  @include desktop {

    &_item {
      height: 225px;
    }

  }

}
