.o-hero {
  @extend %bg-center;
  @extend %no-repeat;
  @extend %bg-cover;
  height: 353px;

  &_heading {
    display: flex;
    align-items: center;
    height: 100%;

    &Wrapper {
      height: 353px;
    }

  }

  @include tablet {
    height: 286px;

    &_headingWrapper {
      height: 286px;
    }

  }

  @include laptop {
    height: 259px;

    &_headingWrapper {
      height: 259px;
    }

  }

  @include desktop {
    height: 359px;

    &_headingWrapper {
      height: 359px;
    }

  }

}
