// Main Header
.o-mainHeader {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  color: $white;
  background-color: $white;
  box-shadow: 0px 1px 10px rgba($black, .1);

  &_nav {
    display: flex;

    @include desktop {

      @include ie {
        margin-right: -130px;
      }

    }

  }

  &_topbar {
    background-color: $brand-primary;

    @include desktop {
      position: absolute;
      z-index: 6;
      top: 0;
      left: 0;
      width: 100%;
    }

    &:after {
      @extend %absoluteFull;
      right: 0;
      bottom: -1px;
      left: -5rem;
      width: 50%;
      background-color: $white;
      transform: skewX(-20deg) translateX(-13rem);

      @include desktop {
        content: '';
      }

    }

  }

  &_topbarWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.188rem; /* 35/16 */

    @include laptopDown {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 16rem;
        background-image: linear-gradient(90deg, rgba($white, 0) 0%, $brand-primary 39%);
        pointer-events: none;
      }

    }

    @include tabletDown {

      &:after {
        width: 10rem;
      }

    }

  }

  &_topNav {
    display: flex;
    padding-right: .75rem;
    white-space: nowrap;

    @include laptopDown {
      padding-right: 0;
      overflow-x: auto;
    }

    &Item:not(:last-child) {
      margin-right: 0.9375rem;
    }

    &Item:last-child {

      @include laptopDown {
        display: block;
        padding-right: 7rem;
      }

    }

  }

  &_topbarWrapper {
    padding: .625rem 0;
  }

  &_bottombarWrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: $white;

    @include laptopDown {
      padding: .5rem .938rem 1rem .938rem; /* 15/16, 15/16 */
      margin: 0 -.938rem; /* -15/16 */
    }

    @include desktop {
      height: 114px;
      padding: 0;
    }

    &:after {
      @extend %absoluteFull;
      z-index: 6;
      right: auto;
      height: 110px;
      border-right: 1px solid rgba(151, 151, 151, .19);
      transform: skewX(-20deg) translateX(9rem);
      pointer-events: none;

      @include desktop {
        content: '';
      }

    }

  }

  @include laptopDown {

    &_navTrigger {
      width: 4.813rem; /* 77/16 */
      height: 3.313rem; /* 53/16 */
      background-color: #FAFAFA;
      position: relative;

      span {
        top: 0;
        bottom: 0;
        max-width: 33px;
        margin: auto;

        &, &:before, &:after {
          @include transition($time: 175ms);
          position: absolute;
          right: 0;
          left: 0;
          height: 3px;
          border-radius: 3px;
          background-color: #87898C;
        }

        &:before, &:after {
          content: '';
          transform: translateY(0);
        }

        &:before {
          top: -.55em;
        }

        &:after {
          bottom: -.55em;
        }

      }

      &.active span {
        background-color: transparent;

        &:before {
          transform: translateY(8px) rotate(45deg);
        }

        &:after {
          transform: translateY(-9px) rotate(-45deg);
        }

      }


    }

  }

}
