// Main footer
.o-mainFooter {
  @extend %no-repeat;
  @include font-size(15);
  position: relative;
  z-index: 0;
  color: $white;
  background-image: url('../media/app/footerBg.png');
  background-position: center 65%;
  background-size: 200%;

  @include tabletDown {
    background-size: cover;
  }

  &:before {
    @extend %absoluteFull;
    content: '';
    z-index: -1;
    background-color: rgba($brand-primary, .89);
  }

  &_contact {
    @extend %no-repeat;
    position: relative;
    line-height: 33px;
    padding-left: 2.5rem;
    background-position: 0 10px;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
    }

    &.-pin {

      &:before {
        @extend .svg-pin;
        @extend .svg-pin-dims;
      }

      @include tabletDown {
        margin-bottom: 1rem;
      }

    }

    &.-tel {

      &:before {
        @extend .svg-tel;
        @extend .svg-tel-dims;
      }

      @include tablet {
        margin-left: 5rem;
      }

      @include tablet {
        margin-left: 3rem;
      }

    }

  }

  &_nav {
    border-top: 1px solid rgba($white, .45);
    border-bottom: 1px solid rgba($white, .45);

    &_item {
      padding: 1.5rem 0;
    }

    &_item {

      @include laptopDown {
        margin-right: 1.75rem; /* 28/16 */
      }

    }

  }

  &_hexis {
    @include transition();
    display: block;
    color: $white;
    text-align: right;
    text-decoration: none;
    opacity: .7;

    &:hover {
      opacity: 1;
    }

    .site {
      @include font-size(11);
      display: block;
    }

  }

}
