.o-mainNavSwitch {

  @include laptopDown {
    position: relative;
    z-index: 2;
  }

  &_item-current {
    position: relative;
  }

  &_list {
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 15px;
    border: 1px solid rgba($white, .5);
    background-color: $brand-primary;
    color: $white;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20%);
    transition: opacity 175ms, transform 200ms;

    &.active {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }

  }

}
