// Main navigation
$o-mainNav_item-sub: '.o-mainNav_item.menu-item-has-children';
$o-mainNav_list-sub: '.sub-menu';
$responsiveMenu: '.o-mainNav_resMenuWrapper';

.o-mainNav-wp {

  #{$o-mainNav_item-sub} {
    position: relative;
  }

  #{$o-mainNav_list-sub} {
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
  }

  .o-mainNav_trigger-sub {
    @extend %absoluteFull;
    left: auto;
  }

  .o-mainNav_trigger-sub:after {
    content: '';
    @extend .svg-chevron;
    @extend .svg-chevron-dims;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .o-mainNav_item:hover .o-mainNav_trigger-sub:after {
    @extend .svg-chevron-primary;
  }

//----------------------------------------------Tablet/mobile----------------------------------------------------------
  @include laptopDown {

    .o-mainNav_list {
      position: absolute;
      z-index: 1;
      top: 100%;
      right: 15px;
      left: 15px;
      overflow-y: auto;
      max-height: calc(100vh - 105px);
      padding-left: 15px;
      margin: 0 -15px;
      background-color: rgba($white, .95);
      opacity: 0;
      pointer-events: none;
      transform: rotateX(-100deg);
      transform-origin: top;
      transition: opacity 175ms, transform 400ms;

      .o-mainHeader_nav.active & {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
        pointer-events: all;
      }

      #{$o-mainNav_list-sub} {
        max-height: 0;
        background-color: rgba(#DCDCDC, .25);
        transition: max-height 300ms, opacity 175ms;
      }

      #{$o-mainNav_list-sub}.open {
        max-height: 1000px;
        opacity: 1;
        pointer-events: all;
      }

    }

    .o-mainNav_trigger-sub {
      width: 20%;
    	height: 58px;
      transform: rotate(0);
      transition: transform 250ms;
    }

    .o-mainNav_trigger-sub.active {
      transform: rotate(180deg);
    }

  }

//----------------------------------------------Laptop/desktop---------------------------------------------------------
  @include laptop {
    position: relative;

    .o-mainNav_list #{$o-mainNav_item-sub}:hover #{$o-mainNav_list-sub} {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }

    .o-mainNav_list {
      display: flex;
      align-items: center;
      white-space: nowrap;

      .o-mainNav_item > #{$o-mainNav_list-sub} {
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0;
        min-width: 10rem;
        background-color: rgba($white, .95);
        box-shadow: 0 0 14px rgba($black, .15);
        transform: translateY(-20%);
        transition: opacity 100ms, transform 175ms;
      }

    }

    .o-mainNav_trigger-sub {
      top: 50%;
      right: 10px;
      pointer-events: none;
      transform: translateY(-50%);
    }

    #{$responsiveMenu} .o-mainNav_item #{$o-mainNav_list-sub} {
      max-height: 0;
      background-color: rgba(#DCDCDC, .25);
      transition: max-height 300ms, opacity 175ms;
    }

    #{$responsiveMenu} .o-mainNav_item .o-mainNav_trigger-sub.active ~ #{$o-mainNav_list-sub} {
      max-height: 1000px;
      opacity: 1;
      pointer-events: all;
      transition: max-height 200ms;
    }

    #{$responsiveMenu} .o-mainNav_trigger-sub {
      top: 0;
      bottom: 0;
      width: 20%;
      height: 51px;
      transform: translateY(0);
      pointer-events: all;
      cursor: pointer;
    }

    #{$responsiveMenu} .o-mainNav_trigger-sub.active {
      transform: rotate(180deg);
    }

  }

}

//-----------------------------------------Anchor inside menu items-----------------------------------------------------

$padding-right-sub: .394rem; /* 6.31/16 */

.o-mainNav_item a {
  display: block;
  padding: 1.1875rem $padding-right-sub;
  color: #87898C;
  text-decoration: none;

  @include laptop {
    @include transition;
    padding: 1.938rem $padding-right-sub;

    &:hover {
      color: $brand-primary;
    }

  }

}

#{$responsiveMenu} .o-mainNav_item a {
  padding: 1rem;
}

#{$responsiveMenu} #{$o-mainNav_item-sub} a {
  padding-right: $padding-right-sub * 10;
}

#{$responsiveMenu} #{$o-mainNav_item-sub} #{$o-mainNav_list-sub} a {
  padding-left: $padding-right-sub + 1rem;
}

.o-mainNav_list > .o-mainNav_item:not(:last-child) a {

  @include laptopDown {
    border-bottom: 1px solid #E4E4E4;
  }

}

#{$o-mainNav_list-sub} > .o-mainNav_item:not(:last-child) a {

  @include laptop {
    border-bottom: 1px solid #E4E4E4;
  }

}

#{$o-mainNav_item-sub} a {
  padding-right: $padding-right-sub*3;

}

#{$o-mainNav_item-sub} .o-mainNav_item a {
  padding: .938rem $padding-right-sub;
}
