.o-newsbar {
  display: flex;
  flex-direction: column;

  &_item {
    @extend %no-repeat;
    flex: 1 1 33.33%;
    border-top: 2px solid $white;
    background-color: $brand-primary;
    color: $white;
    line-height: 1.7;
    overflow: hidden;

    &.engine,
    &.site {
      background-size: 85px 77px;
      background-position: -10px 115%;
    }

    &.engine {
      background-image: url('../media/app/port.svg');
    }

    &.site {
      background-image: url('../media/app/castle.svg');
    }

    &.diversity {
      background-image: url('../media/app/sun.svg');
      background-size: 106px 106px;
      background-position: -35px 5px;
    }

  }

  &_desc {
    margin: 0;
  }

  @include tabletDown {

    &_desc {
      display: none;
    }

  }

  @include tablet {

    &_item {

      &.engine,
      &.site {
        background-size: 102px 95px;
        background-position: -10px 115%;
      }

      &.diversity {
        background-size: 125px 125px;
        background-position: -35px 5px;
      }

    }

  }

  @include laptop {
    flex-direction: row;

    &_item {

      &:not(:last-child) {
        border-right: 2px solid $white;
      }

      &.engine,
      &.site {
        background-size: 120px 112px;
        background-position: -17px 115%;
      }

      &.diversity {
        background-size: 125px 125px;
        background-position: -35px 57px;
      }

    }

  }

  @include desktop {
    height: 200px;

    &_item.engine {
      background-size: 187px;
      background-position-x: 2rem;
    }

    &_item.site {
      background-size: 154px;
      background-position: 0 113%;
    }

    &_item.diversity {
      background-size: 172px;
      background-position: -1.5rem 140%;
    }

  }

}
