.o-pagination {
  border-radius: 6px;
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgba($black, .25);

  .page-item.active {
    position: relative;

    .page-link {
      background-color: $white;
      color: $brand-primary;

      &:after {
        @extend %absoluteFull;
        content: '';
        top: auto;
        z-index: 2;
        height: 3px;
        background-color: $brand-primary;
      }

    }

  }

  .page-item.disabled {
    cursor: not-allowed;
  }

  .page-item:not(:first-child):not(:last-child):not(.mobile) {

    @include laptopDown {
      display: none;
    }

  }

  .page-item.mobile {

    @include laptopDown {
      pointer-events: none;
    }

    @include laptop {
      display: none;
    }

  }

  .page-item:first-child,
  .page-item:last-child {
    min-width: 50px;

    strong {
      display: inline-block;
    }

    @include tabletPlus {
      min-width: 45px;
    }

  }

  .page-link {
    @extend %user-select;
    @extend %decoration-none;
    padding: 1rem;
    border: 0;
    color: $color-text-neutral;
    font-weight: $font-weight-light;
    background-color: rgba($white, 0);

    &:hover {
      background-color: rgba($brand-primary, .2);
    }

    @include mobilePlusDown {
      padding: 1rem;
      font-size: .93rem; //15px
    }

  }

  .page-item:not(:first-child):not(:last-child) .page-link {
    @include transition($time: 175ms, $what: background-color);
  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    background-color: $white;
    color: $brand-primary;
    transition: background-color 150ms, color 150ms;

    &:hover {
      background-color: $brand-primary;
      color: $white;
    }

  }

  .page-item:first-child {
    margin-right: auto;

    .page-link {
      position: relative;
      height: 100%;
      border-right: 1px solid #E6E6E6;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;

      &:before {
        @extend .svg-chevronEmpty;
        @extend .svg-chevronEmpty-dims;
        @extend %absoluteCenter;
        content: '';
      }

      &:hover:before {
        @extend .svg-chevronEmpty-white;
        @extend .svg-chevronEmpty-white-dims;
      }
  
    }
    
  }

  .page-item:last-child {
    margin-left: auto;

    .page-link {
      padding: 1rem 3rem 1rem 2rem;
      border-left: 1px solid #E6E6E6;

      &:before {
        @extend .svg-chevronEmpty;
        @extend .svg-chevronEmpty-dims;
        content: '';
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%) rotate(180deg);
      }

      &:hover:before {
        @extend .svg-chevronEmpty-white;
        @extend .svg-chevronEmpty-white-dims;
      }

    }

  }

}
