.o-progress {

  .progress {
    height: 1.813rem /* 29/16 */
  }

  .progress-bar {
    @include font-size(16);
    align-items: flex-end;
    padding-right: .4375rem;
    background: linear-gradient(-180deg, #31ABDD 0%, #1672B9 100%);
    font-weight: $font-weight-bold;
  }

}
