// Toggle CSS hack for show/hide effect
.o-toggle {

  &_trigger[type=checkbox] {
    @extend %hiddenHack;
  }

  &_label {
    @extend %user-select;

    &:hover {
      @extend %cursor-pointer;
    }

  }

  &_body {
    display: none;
  }

  &_trigger[type=checkbox]:checked ~ .o-toggle_body {
    display: block;
  }

  .o-mainNav_resMenuWrapper &_label {
    @include transition();
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 4.813rem; /* 77/16 */
    height: 3.313rem; /* 53/16 */
    background-color: #FAFAFA;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);

    &.show {
      opacity: 1;
      pointer-events: all;
    }

    &:after {
      @extend %absoluteFull;
      @extend .svg-threeDots;
      @extend .svg-threeDots-dims;
      @include transition();
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }

  .o-mainNav_resMenuWrapper &_body {
    @include transition();
    position: absolute;
    z-index: 5;
    top: 100%;
    right: 0;
    display: block;
    background-color: #FAFAFA;
    opacity: 0;
    pointer-events: none;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  .o-mainNav_resMenuWrapper &_trigger[type=checkbox]:checked ~ &_body {
    opacity: 1;
    pointer-events: all;
    transform: rotateX(0deg);
    transform-origin: top;
  }

  .o-mainNav_resMenuWrapper &_trigger[type=checkbox]:checked ~ &_label:after {
    transform: translate(-50%,-50%) rotate(90deg);
  }

}
