.o-weather {
  display: flex;
  align-items: center;

  &_icon {
    @extend %no-repeat;
    @extend %bg-center;
    @extend %bg-cover;
    width: 6.563rem; /* 105/16 */
    height: 6rem; /* 96/16 */
    background-size: 80px;
    background-color: darken(desaturate($brand-primary, 0.54), 10.00);
  }

  &_temp {
    @include font-size(42);
    padding: 0 1rem;

    @include tablet {
      @include font-size(52);
    }

    @include desktop {
      @include font-size(56);
    }

  }

}
