.o-about {
  padding-top: 1.25rem;
  margin-top: -1px;
  background-color: $brand-primary;

  &_contact {
    color: $white;
  }

  &_info {
    font-weight: $font-weight-light;
    line-height: 23px;    
  }

  @include laptopDown {

    &_contact {
      position: relative;
    }

    &_img {
      margin: {
        top: .625rem;
        bottom: 1.25rem;
      };
    }

  }

  @include laptop {

    &_contact {
      margin-top: 5.125rem;
      margin-bottom: .625rem;
    }

    &_img {
      position: absolute;
    }

  }

  @include desktop {

    &_contact {
      margin-top: 8.125rem;
    }

  }

}
