.o-area {
  position: relative;
  padding: {
    top: 8.125rem;
    bottom: 5rem;
  };
  margin-top: -4rem;

  &:before,
  &:after {
    @extend %no-repeat;
    @extend %absoluteFull;
    content: '';
    z-index: -1;
    display: block;
    background-size: 105%;
    pointer-events: none;
  }

  &:before {
    height: 80vw;
    background-image: url('../media/app/heroCurve-mobile.svg');
    background-position: -10px 63px;
  }

  &:after {
    height: 100%;
    background-image: url('../media/app/shadow-horizontal.svg');
    background-position: -10px 110%;
    background-size: 103% 20%;
  }

  &_item {
    position: relative;
    padding: {
      top: 1.25rem;
      right: 2.5rem;
      bottom: 1.375rem;
      left: 1.25rem;
    };

    &:before {
      @extend %no-repeat;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background-image: url('../media/app/line-vertical.svg');
      background-position: 0 0;
      background-size: 100% 100%;
    }

  }

  &_about {
    font-weight: $font-weight-light;
    line-height: 23px;
  }

  @include tabletDown {

    &_about {
      display: none;
    }

  }
  
  @include laptop {
    padding: {
      top: 5rem;
      bottom: 6.25rem;
    };
    margin-top: -1px;

    &:before {
      background-image: url('../media/app/heroCurve.svg');
      background-position: -15px -60px;
    }

  }

  @include customQuery('min-width: 1200px') {
    padding-top: 8rem;
  }

  @include desktopDown {

    &_about {
      margin-right: -2.5rem;
    }

  }

  @include desktop {
    padding-top: 10rem;
  }

}
