.o-banner {
  @extend %no-repeat;
  @extend %bg-center;
  display: flex;
  flex-direction: column;

  &:not(.o-banner-download) {
    box-shadow: 0 -4px 17px 0 rgba($black, .18);
  }

  &-download {
    @extend %bg-cover;
  }

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;
    padding: 3.125rem .9375rem;

    &:first-child {
      background-color: rgba(43,70,79, .70);
      color: $white;
    }

    &:last-child {
      background-color: rgba($white, .70);
    }

    &Wrapper {
      width: 100%;
      text-align: center;
    }

  }

  @include laptop {
    flex-direction: row;
  }

}
