.o-goal {
  padding: 4.375rem 0;

  &_wrapper {
    display: flex;
    flex-direction: column;
  }

  &_about {
    font-weight: $font-weight-light;
    line-height: 23px;
  }

  @include laptopDown {

    &_img {
      display: none;
    }

  }

  @include laptop {

    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        margin-bottom: 3.125rem;
      }

    }

    &_txt,
    &_img {
      flex: 0 1 49%;
    }

  }

}
