// Main Header
.o-mainHeader {
  color: $white;

  &_topbar {
    background-color: $brand-primary;
  }

  &_topbarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_contactList {
    display: flex;
  }

  &_topbarWrapper {
    padding: .625rem 0;
  }

  &_bottombar {
    height: 71px;

    .p-homepage & {
      background-color: $brand-primary;
    }

  }

  &_bottombarWrapper {
    z-index: 2!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    box-shadow: 0 2px 14px 0 rgba($black, .1);
  }

  @include laptopDown {

    &_navTrigger {
      position: relative;
      width: 33px;
      height: 19px;
      padding: 2.1875rem 2.375rem;
    
      span {
        top: 0;
        bottom: 0;
        max-width: 33px;
        margin: auto;
    
        &, &:before, &:after {
          @include transition($time: 175ms);
          position: absolute;
          right: 0;
          left: 0;
          height: 3px;
          border-radius: 3px;
          background-color: $brand-primary;
        }
    
        &:before, &:after {
          content: '';
          transform: translateY(0);
        }
    
        &:before {
          top: -.55em;
        }
    
        &:after {
          bottom: -.55em;
        }
    
      }
    
      &.active span {
        background-color: transparent;
    
        &:before {
          transform: translateY(8px) rotate(45deg);
        }
    
        &:after {
          transform: translateY(-9px) rotate(-45deg);
        }
    
      }
    
    
    }    

  }

  @include laptop {

    .o-mainHeader_contactItem {

      &:not(:last-child) {
        margin-right: 0.9375rem;
      }
  
    }

    &_nav {
      padding-right: 1.5625rem;
    }

  }

}
