// Main footer
.o-mainFooter {
  background: $white;
  box-shadow: 0 4px 34px 0 rgba($black, .06);

  .p-contact & {
    margin-top: 70px;
  }

  .p-static & {
    margin-top: 50px;
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
  }

  &_left {
    text-align: center;
  }

  // TODO: fixat box-shadow
  &_right {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      display: blocK;
      background-color: $brand-primary;
      box-shadow: 0 4px 34px 0 rgba($black, .1);
    }

  }

  &_contactList {
    display: flex;

    &:not(.o-mainFooter_contactList-contactPage) {
      margin-top: 1.875rem;
    }

  }

  &_contactItem {
    @extend %no-repeat;
    background-position: 0 center;

    &.-house {
      background-image: url('../media/app/house.svg');
      background-position: 0 0;
      background-size: 19px 20px;
    }

    &.-phone {
      background-image: url('../media/app/phone.svg');
      background-size: 14px 20px;
    }

    &.-mobile {
      background-image: url('../media/app/mobile.svg');
      background-size: 11px 20px;
    }

    &.-fax {
      background-image: url('../media/app/fax.svg');
      background-size: 14px 20px;
    }

    &.-mail {
      background-image: url('../media/app/mail.svg');
      background-size: 20px 14px;
    }

  }

  &_navList {
    @extend .o-mainFooter_contactList;
  }

  &_navItem {

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }

  }

  &_hexis {

    .site {
      @include font-size(11);
      display: block;
      color: rgba($brand-primary, .5);
      font-weight: $font-weight-heading;
    }

  }

  @include laptopDown {

    &_left {
      margin: {
        right: -.9375rem;
        left: -.9375rem;
      };
    }

    &_right {
      padding-top: 1.5625rem;

      &:after {
        top: 0;
        right: -15px;
        left: -15px;
        height: 6px;
      }

    }

    &_contactList {
      flex-direction: column;

      &-contactPage {
        margin-top: 2.5rem;
      }

    }

    &_contactItem {
      padding-left: 1.875rem;

      &:not(:last-child) {
        margin-bottom: 1.5625rem;
      }

    }

    &_nav.lineFade:before {
      content: none;
    }

    &_hexis {
      margin-top: 1.875rem;

      .site {
        text-align: left;
      }
  
    }

  }

  @include laptop {

    &_wrapper {
      flex-direction: row;
    }

    &_left,
    &_right {
      padding: 1.25rem 0 2.1875rem;
    }

    &_left {
      display: inline-flex;
      align-items: center;
    }

    &_right {
      padding-left: 1.875rem;

      &:after {
        bottom: 0;
        left: 0;
        width: 6px;
      }

    }

    &_contactList:not(.o-mainFooter_contactList-contactPage) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &_contactList-contactPage {
      flex-direction: column;
      margin-top: .875rem;
    }

    &_contactItem {
      padding-left: 2.1875rem;
      margin-bottom: 1.5625rem;

      &:not(:last-child) {
        background-position: 0 0;
      }
      
    }

    &_contactList:not(.o-mainFooter_contactList-contactPage) &_contactItem {
      width: 33.33%;
    }

    &_nav {
      display: flex;
      justify-content: space-between;
    }

    &_hexis {

      .site {
        text-align: right;
      }
  
    }

    &_nav {
      align-items: flex-end;
      padding-top: 1.5625rem;
      margin-top: 1.0625rem;
    }

    &_navList {
      margin: {
        top: 0;
        bottom: 2px;
      };
    }

    &_navItem:not(:last-child) {
      margin: {
        right: 1.25rem;
        bottom: 0;
      };
    }

  }

}
