.o-tail {
  position: relative;
  padding-top: 5.625rem;
  margin-top: -4.5rem;
  pointer-events: none;
    
  &:before {
    @extend %no-repeat;
    @extend %absoluteFull;
    content: '';
    z-index: -1;
    display: block;
    height: 50vw;
    background-size: 108% 180px;
    background-image: url('../media/app/heroCurve-mobile.svg');
    background-position: -10px 0;
    pointer-events: none;
  }

  @include tablet {

    &:before {
      background-image: url('../media/app/heroCurve.svg');
    }

  }

  @include laptop {
    padding-top: 7.5rem;
    margin-top: -7.5rem;

    &:before {
      background-size: 108% 200px;      
    }

  }

  @include desktop {
    padding-top: 12.5rem;
    margin-top: -10.625rem;

    &:before {
      background-size: 108% 300px;
    }

  }

}
