.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $color-text-neutral;
}

.select2-container .select2-selection--single {
  height: 50px;
  border: 1px solid $color-ui-shade;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: .688rem 1.25rem .688rem .75rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0;
  bottom: 0;
  margin: auto;
}

.select2-search__field {
  @extend %no-repeat;
  background-image: url('../media/app/search.svg');
  background-size: 17px;
  background-position: 98% 50%;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid $color-ui-shade;
  border-radius: 4px;
}

.select2-dropdown {
  border: 1px solid $color-ui-shade;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 272px;
}

.select2-results__option {
  padding: .938rem .375rem;
  border-bottom: 1px solid $color-ui-shade;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $brand-secondary;
}
