<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Access denied' %}
{% set pageTitleName = 'Access denied' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-notification' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main>

  <div class="container">
    <div class="row">
      <div class="col o-notification_wrapper d-flex align-items-center justify-content-center px-4">
        <div class="o-notification o-notification-accessDenied mt-0">
          <h2 class="c-ttl color-primary-darken font-heading font-weight-light mb-1">Access Denied</h2>

          <div class="f-14 mb-3 font-weight-regular">Error code: 401</div>

          <div class="o-notification_desc font-weight-regular">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium.
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
