<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Contact' %}
{% set pageTitleName = 'Contact' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-contact' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<!-- TODO: modifier za na contact page za galeriju da ne skriva prvu sliku -->
<main>

  <div class="o-blue">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2 class="c-ttl c-ttl-heroSmall mb-1">About</h2>
          <div class="o-eventList_sub mb-4 color-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac eleifend ex,
            nec varius dolor. Integer in euismod urna. Sed sed leo eros.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-wave">

    <div class="container o-contact_down">
      <div class="row">
        <div class="col-lg-8 pr-lg-5">
          <form class="row pr-lg-4" action="#">
            <div class="col-12">
              <h2 class="c-ttl c-ttl-section-h1 font-heading font-weight-semibold color-primary-darken mb-3">
                Contact us
              </h2>
            </div>

            <div class="col-lg-6">
              <div class="form-default relative mb-4 mb-lg-5">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "First name",
                  fe_id = "contactFirstName",
                  fe_class = "form-control",
                  fe_name = "firstName",
                  fe_type = "text",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-default relative mb-4 mb-lg-5">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Last name",
                  fe_id = "contactLastName",
                  fe_class = "form-control",
                  fe_name = "contactLastName",
                  fe_type = "text",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-default relative mb-4 mb-lg-5">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Email",
                  fe_id = "email",
                  fe_class = "form-control",
                  fe_name = "email",
                  fe_type = "email",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
              <p class="form-suggestion" id="mailCheckSuggestion"></p>
            </div>

            <div class="col-lg-6">
              <div class="form-default relative mb-4 mb-lg-5">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Phone (optional)",
                  fe_id = "contactPhone",
                  fe_class = "form-control",
                  fe_name = "phone",
                  fe_type = "tel",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
            </div>

            <div class="col-12">
              <div class="form-default relative mb-4 mb-lg-5">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Booking ID (optional)",
                  fe_id = "contactBookingID",
                  fe_class = "form-control",
                  fe_name = "bookingID",
                  fe_type = "text",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
            </div>

            <div class="col-12">
              <div class="form-default relative mb-4 mb-lg-5">
                {{
                  textarea.textareaFunction(
                    fg_class = "form-group",
                    lb_class = "form-label",
                    lb_txt = "Your message...",
                    fe_id = "contactMessage",
                    fe_class = "form-control",
                    fe_name = "contactMessage",
                    fe_attr="data-input data-textarea-autosize",
                    autocomplete="on",
                    fe_rows = "1"
                  )
                }}
              </div>
            </div>

            <div class="col-12">
              <button class="c-btn c-btn-secondary-darken c-btn-minw180 mb-3" type="submit" name="button">Send</button>
            </div>
          </form>
        </div>

        <div class="col-lg-4">
          <h2 class="c-ttl c-ttl-section-h1 font-heading font-weight-semibold color-primary-darken mt-5 mt-lg-0 mb-3">
            Address
          </h2>

          <a class="o-map_wrapper d-block" data-toggle="modal" data-target="#mapModal" href="#">
            <div class="o-map -static" style="background-image: url('../media/app/map.png')"></div>
            <div class="o-map_address">
              <div class="font-weight-bold">Gay Hotels ltd</div>
              <div>
                Somestreet 34 <br>
                0000 Somecity <br>
                StateName
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <hr class="my-5">

    <section class="container mb-5">
      <div class="row">
        <div class="col-lg-8 pr-lg-5">
          <div class="preformat pr-lg-4">
            <h1>We are a lorem ipsum dolor sit amet.</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium.
               Ut vestibulum elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam
               nibh, placerat sed lorem at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque
               arcu. Ut in ipsum et felis interdum lobortis.
            </p>

            <p>Nunc vestibulum, ante vel placerat porttitor, augue metus interdum sem, id tempus lorem erat quis lorem.
               Sed dui ligula, vulputate quis leo et, suscipit congue mi. Sed in placerat ex, ac sollicitudin tortor.
               Praesent in lacus ultricies, efficitur nibh vel, tincidunt mi. Nunc rutrum sollicitudin turpis in
               efficitur. Nunc vestibulum, ante vel placerat porttitor, augue metus interdum sem.
            </p>

            <br>

            <h2>Subheadline goes here</h2>

            <figure style="float: left; margin: 0px 24px 24px 0px;">
              <img src="../media/app/placeholder-card.png" width="400" style="width: 400px; height: 300px;"
                  height="300" alt="Dummy image">
            </figure>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium.
               Ut vestibulum elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam
               nibh, placerat sed lorem at, condimentum efficitur justo. Quisque non vehicula quam. Duis a
               scelerisque arcu. Ut in ipsum et felis interdum lobortis.
            </p>

            <h3>Legal</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium.
               Ut vestibulum elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam
               nibh, placerat sed lorem at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque
               arcu. Ut in ipsum et felis interdum lobortis.
            </p>

          </div>
        </div>

        <div class="col-lg-4 o-gallery-normal">
          {% include "html/app/components/gallery-small.html" %}
        </div>
      </div>
    </section>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% include "html/app/components/modal-defaultMap.html" %}
{% endblock %}
