<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Event List' %}
{% set pageTitleName = 'Event List' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-eventList' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/bits/form/select.html" as select %}

<main>

  <div class="o-blue">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="o-article">
            <h2 class="c-ttl c-ttl-heroSmall mb-1">Events</h2>
            <div class="o-article_sub">Carefully selected gay events world’s best gay destinations lorem ipsum.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-article o-wave">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 o-article_list">
          <div class="row">

            <div class="col-mdp-6">
              {% include "html/app/components/eventCard.html" %}
            </div>

            <div class="col-mdp-6">
              {% include "html/app/components/eventCard.html" %}
            </div>

            <div class="col-mdp-6">
              {% include "html/app/components/eventCard.html" %}
            </div>

            <div class="col-mdp-6">
              {% include "html/app/components/eventCard.html" %}
            </div>

            <div class="col-mdp-6">
              {% include "html/app/components/eventCard.html" %}
            </div>

            <div class="col-mdp-6">
              {% include "html/app/components/eventCard.html" %}
            </div>

            <div class="col-mdp-6">
              {% include "html/app/components/eventCard.html" %}
            </div>

            <div class="col-mdp-6">
              {% include "html/app/components/eventCard.html" %}
            </div>

          </div>

          {% include "html/app/components/pagination.html" %}
        </div>

        <div class="col-lg-4 o-article_filter">

          <form action="">
            <div class="o-filter_wrapper">

              <div class="o-filter_block" data-search-refine-form>
                <!--
                    Note for devX: In the .filters block, the '2 filters' is the number of additional filters that
                    the user has activated for this particular search
                -->
                <div class="o-search_mobileBottom">
                  <div class="o-search_mobileBottomFilters">
                    <div class="location">Showing all Events</div>
                    <div class="filters">No filters selected</div>
                  </div>
                  <div class="o-search_mobileBottomBtn" data-search-refine-open>
                    <div class="c-btn c-btn-refine">FILTER</div>
                  </div>
                </div>
                <div class="o-filter-eventList">

                  <div class="o-filter_title main mt-lg-0">
                    <h3 class="c-ttl c-ttl-filter">Filters</h3>
                    <span class="clear filter">CLEAR ALL</span>
                  </div>

                  <ul class="o-filter_list">

                    <li class="o-filter_item">
                      <div class="form-default relative">
                        {{
                          select.selectFunction(
                            fg_class = "form-group",
                            lb_class = "form-label",
                            lb_txt = "LOCATION",
                            fe_id = "eventDestinationFilter",
                            fe_class = "form-control h-100",
                            fe_name = "eventDestinationFilter",
                            fe_attr = ["data-input"],
                            opt_1 = "All locations",
                            opt_2 = "Location 2, Barcelona",
                            opt_3 = "Location 3, Real Madrid",
                            opt_4 = "Location 4, lorem Ipsum"
                          )
                        }}
                      </div>
                    </li>

                    <li class="o-filter_item">
                      <div class="form-default relative">
                        {{
                          select.selectFunction(
                            fg_class = "form-group",
                            lb_class = "form-label",
                            lb_txt = "MONTH",
                            fe_id = "eventMonthFilter",
                            fe_class = "form-control h-100",
                            fe_name = "eventMonthFilter",
                            fe_attr = ["data-input"],
                            opt_1 = "Any",
                            opt_2 = "January",
                            opt_3 = "February",
                            opt_4 = "Location 4, lorem Ipsum"
                          )
                        }}
                      </div>
                    </li>

                    <li class="o-filter_item">
                      <div class="form-default relative">
                        {{
                          select.selectFunction(
                            fg_class = "form-group",
                            lb_class = "form-label",
                            lb_txt = "LOCATION",
                            fe_id = "eventDestinationFilter",
                            fe_class = "form-control h-100",
                            fe_name = "eventDestinationFilter",
                            fe_attr = ["data-input"],
                            opt_1 = "Location 1, Barcelona",
                            opt_2 = "Location 2, Barcelona",
                            opt_3 = "Location 3, Real Madrid",
                            opt_4 = "Location 4, lorem Ipsum"
                          )
                        }}
                      </div>
                    </li>

                    <li class="o-filter_item type">
                      <div class="o-filter_title mt-0 pt-3 mb-lg-4 pt-lg-0">
                        <span class="label">Type</span>
                        <div class="controls">
                          <span class="clear">CLEAR</span>
                        </div>
                      </div>
                      <div class="form-check-custom">
                        <label class="form-label-custom" for="eventLocationAny">
                          <input id="eventLocationAny" class="form-control-custom" type="checkbox">
                          <span class="check">
                            <svg width="12px" height="11px" viewBox="0 0 12 11">
                              <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                            </svg>
                          </span>
                          <span class="label">Any</span>
                        </label>
                      </div>
                      <div class="form-check-custom">
                        <label class="form-label-custom" for="eventLocationBar">
                          <input id="eventLocationBar" class="form-control-custom" type="checkbox">
                          <span class="check">
                            <svg width="12px" height="11px" viewBox="0 0 12 11">
                              <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                            </svg>
                          </span>
                          <span class="label">Bar/Club events</span>
                        </label>
                      </div>
                      <div class="form-check-custom">
                        <label class="form-label-custom" for="eventLocationCruises">
                          <input id="eventLocationCruises" class="form-control-custom" type="checkbox">
                          <span class="check">
                            <svg width="12px" height="11px" viewBox="0 0 12 11">
                              <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                            </svg>
                          </span>
                          <span class="label">Cruises</span>
                        </label>
                      </div>
                      <div class="form-check-custom">
                        <label class="form-label-custom" for="eventLocationFetish">
                          <input id="eventLocationFetish" class="form-control-custom" type="checkbox">
                          <span class="check">
                            <svg width="12px" height="11px" viewBox="0 0 12 11">
                              <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                            </svg>
                          </span>
                          <span class="label">Fetish party</span>
                        </label>
                      </div>
                      <div class="form-check-custom">
                        <label class="form-label-custom" for="eventLocationParty">
                          <input id="eventLocationParty" class="form-control-custom" type="checkbox">
                          <span class="check">
                            <svg width="12px" height="11px" viewBox="0 0 12 11">
                              <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                            </svg>
                          </span>
                          <span class="label">Party</span>
                        </label>
                      </div>
                    </li>

                  </ul>

                </div>
              </div>
              <div class="o-filter_submit">
                <button class="c-btn c-btn-primary-light w-100" type="submit" data-search-refine-close>
                  Show events
                </button>
              </div>

            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
