<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Event Article' %}
{% set pageTitleName = 'Event Article' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-eventArticle' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main>

  <div class="o-event_article" data-custom-gallery-scope>

    <div class="o-wave">
      <div class="container">
        <div class="row">

          <div class="col-12">
            <div class="o-gallery -large d-sm-flex justify-content-center">
              <div class="o-gallery_item">
                <div class="aspectRatio" data-custom-gallery-trigger>
                  <!-- Img variation: 1000x500 -->
                  <img class="o-gallery_img d-block w-100" src="https://placeimg.com/1000/500/tech" alt="Gallery image">

                  <!-- Note for DEVs: if there is not images in gallery use this img src -->
                  <!-- <img class="o-gallery_img d-block w-100" src="media/app/placeholder-event.png" alt="Gallery image"> -->
                </div>
              </div>

              <div class="o-gallery_item">
                <div class="aspectRatio" data-custom-gallery-trigger>
                  <!-- Img variation: 1000x500 -->
                  <img class="o-gallery_img d-block w-100" src="https://placeimg.com/1000/500/tech" alt="Gallery image">

                  <!-- Note for DEVs: if there is not images in gallery use this img src -->
                  <!-- <img class="o-gallery_img d-block w-100" src="media/app/placeholder-event.png" alt="Gallery image"> -->
                </div>
              </div>
            </div>
            <div class="o-breadcrumbs_wrapper">
              <ul class="o-breadcrumbs d-flex">
                <li class="o-breadcrumbs_item"><a class="c-link" href="eventList.html">Events</a></li>
                <li class="o-breadcrumbs_item"><a class="c-link" href="#">San Francisco</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="o-event_content">
        <div class="row">

          <div class="col-lg-8 pr-lg-5">
            <h2 class="c-ttl c-ttl-search mt-1 mb-3 mt-lg-4">Julia Morgan Ballrom</h2>
          </div>

          <div class="col-lg-4 pl-lg-4 o-sidebar">

            <div class="o-reservationForm_date d-inline-flex justify-content-between my-3 w-100">
              <div class="o-reservationForm_date_item">
                <div class="font-weight-semibold mb-1 color-black-lighter d-lg-none">From</div>
                <div class="date color-primary f-18">May 15, 2018</div>
                <div class="time color-primary f-18">16:00</div>
              </div>

              <div class="o-reservationForm_date_item">
                <div class="font-weight-semibold mb-1 color-black-lighter d-lg-none">To</div>
                <div class="date color-primary f-18">May 15, 2018</div>
                <div class="time color-primary f-18">18:00</div>
              </div>
            </div>

            <div class="mb-4">
              <h2 class="c-ttl c-ttl-sectionSmall mt-5 mb-2 mt-lg-4">Location</h2>

              <a class="o-map_wrapper d-block" data-toggle="modal" data-target="#mapModal" href="#">
                <!-- Note for DEV: this is interactive map, not static -->
                <div class="o-map -static">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d89729.90593299073!2d14.426813999999997!3d45.34760995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shr!2shr!4v1463655324258"
                    width="100%" height="100%" style="pointer-events: none; border: 0;" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="o-map_address">Carrer d'Airbau, 33, 08011 Barcelona, Spain</div>
              </a>
            </div>

            <div class="o-gallery-featured" data-cut-target>
              <h2 class="c-ttl c-ttl-sectionSmall mt-5 mb-2 mt-lg-4">Gallery</h2>
              {% include "html/app/components/gallery-small-featured.html" %}
            </div>

            <div class="mt-lg-5" data-paste-search></div>

          </div>

          <div class="col-lg-8 pr-lg-5 o-article_left">
            <div class="o-article_desc preformat">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium. Ut vestibulum
                elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam nibh, placerat sed lorem
                at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque arcu. Ut in ipsum et felis interdum
                lobortis.
              </p>
              <p>Nunc vestibulum, ante vel placerat porttitor, augue metus interdum sem, id tempus lorem erat quis lorem. Sed dui
                ligula, vulputate quis leo et, suscipit congue mi. Sed in placerat ex, ac sollicitudin tortor. Praesent in lacus
                ultricies, efficitur nibh vel, tincidunt mi. Nunc rutrum sollicitudin turpis in efficitur. Nunc vestibulum,
                ante vel placerat porttitor, augue metus interdum sem.</p>

              <h2>Subheadline goes here</h2>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium. Ut vestibulum
                elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam nibh, placerat sed lorem
                at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque arcu. Ut in ipsum et felis interdum
                lobortis.
              </p>

              <figure>
                <img src="../media/app/placeholder-card.png" alt="">
                <figcaption>Top sights like Las Ramblas and Plaza Catalunya are short walks away</figcaption>
              </figure>

              <h3>H3 headline goes here</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium. Ut vestibulum
                elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam nibh, placerat sed lorem
                at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque arcu. Ut in ipsum et felis interdum
                lobortis.
              </p>

            </div>
            <a class="color-primary font-weight-medium d-lg-none" data-toggle="modal" data-target="#eventModal" href="#">
              Read more
            </a>

            <div data-cut-dest></div>

            <h2 class="c-ttl c-ttl-sectionSmall mt-5 mb-2">Attachment</h2>
            <ul class="o-attachmentList">
              <li class="o-attachmentList_item">
                <a href="#" title="aimo.pdf">
                  <div class="file_name">Agenda.pdf</div>
                  <div class="file_size">1.2 MB</div>
                </a>
              </li>
              <li class="o-attachmentList_item">
                <a href="#" title="aimo.png">
                  <div class="file_name">Slika.png</div>
                  <div class="file_size">1.2 MB</div>
                </a>
              </li>
              <li class="o-attachmentList_item">
                <a href="#" title="aimo.doc">
                  <div class="file_name">Aimo.doc</div>
                  <div class="file_size">1.2 MB</div>
                </a>
              </li>
            </ul>

            <h2 class="c-ttl c-ttl-sectionSmall mt-5 mb-2">Share this event</h2>
            <div class="o-socialIcons">
              <a class="o-socialIcons_item -facebookReg" href="#"></a>
              <a class="o-socialIcons_item -twitterReg" href="#"></a>
              <a class="o-socialIcons_item -googlePlusReg" href="#"></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <hr class="o-event_border">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <h2 class="c-ttl c-ttl-head text-lg-center mt-3 mt-lg-4">Gay Hotels</h2>
          <h3 class="c-ttl c-ttl-headSub text-lg-center mb-2 mb-lg-4">Lorem ipsum dolor sit</h3>

          {% include "html/app/components/homepageSlider-objectCards.html" %}

        </div>
      </div>
    </div>

    <hr class="d-none d-lg-block">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <h2 class="c-ttl c-ttl-head text-lg-center mt-3 mt-lg-4">Gay Events</h2>
          <h3 class="c-ttl c-ttl-headSub text-lg-center mb-2 mb-lg-4">Lorem ipsum dolor sit</h3>

          {% include "html/app/components/homepageSlider-eventCards.html" %}

        </div>
      </div>
    </div>
  </div>

</main>

{% include "html/app/components/modal-defaultMap.html" %}
{% include "html/app/components/modal-event.html" %}
{% include "html/app/components/footer.html" %}
{% endblock %}
