<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Homepage' %}
{% set pageTitleName = 'Homepage' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-homepage' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main data-multiple-swipers>

  <div class="o-heroWrapper">
    <div class="o-hero_logo"><img class="img" src="../media/brand/logo-white.svg" alt="Logo"></div>
    <div class="o-hero swiper-container"
    data-swiper data-swiper-space-between="0"
    data-swiper-pagination-object='{
      "el": null
    }'
    data-swiper-effect="fade"
    data-swiper-autoplay-object='{
      "delay": "6000",
      "disableOnInteraction": "false"
    }'
    data-swiper-breakpoints='{}'>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h2 class="c-ttl c-ttl-hero">
            <span class="d-block px-3">Exclusively Gay and 100% Gay Friendly Hotels</span>
          </h2>
          <div class="o-hero_img">
            <div class="aspectRatio">
              <img class="o-card_img w-100" src="https://placeimg.com/1440/720/tech" alt="Featured image">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <h2 class="c-ttl c-ttl-hero">
            <span class="d-block px-3">Gay Sauna, Spa, Lorem Ipsum Hotels</span>
          </h2>
          <div class="o-hero_img">
            <div class="aspectRatio">
              <img class="o-card_img w-100" src="https://placeimg.com/1440/720/any" alt="Featured image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-homepage_bg d-none d-lg-block"></div>

  <section class="container">
    <div class="row">
      <div class="col-12">

        {% include "html/app/components/promoList-hero.html" %}

        <hr class="d-lg-none">

        <h2 class="c-ttl c-ttl-head text-lg-center mt-lg-5">Gay Destinations</h2>
        <h3 class="c-ttl c-ttl-headSub text-lg-center mb-3 mb-lg-4">Lorem ipsum dolor sit</h3>

        {% include "html/app/components/destinationsSlider.html" %}

        <hr class="d-lg-none">

        <h2 class="c-ttl c-ttl-head text-lg-center mt-lg-5">Get Inspired</h2>
        <h3 class="c-ttl c-ttl-headSub text-lg-center mb-3 mb-lg-4">Lorem ipsum dolor sit</h3>

        {% include "html/app/components/homepageSlider-blogCards.html" %}

        <hr class="d-lg-none">

        <h2 class="c-ttl c-ttl-head text-lg-center mt-lg-5">Gay Events</h2>
        <h3 class="c-ttl c-ttl-headSub text-lg-center mb-3 mb-lg-4">Lorem ipsum dolor sit</h3>

        {% include "html/app/components/homepageSlider-eventCards.html" %}

      </div>
    </div>
  </section>

  {% include "html/app/components/promoList-footer.html" %}

</main>


{% include "html/app/components/footer.html" %}
{% endblock %}
