<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Booking confirmation page' %}
{% set pageTitleName = 'Booking confirmation page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-inquiryPreview' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/bits/form/input.html" as input %}

<!-- Booking confirmation notification START -->
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="o-notification_spacer"></div>
      <div class="o-notification d-flex flex-column justify-content-center">
        <div class="o-notification_title font-heading font-weight-lignt color-primary-darken mb-lg-1">
          Thanks Bernard!
        </div>

        <div class="o-notification_subTitle font-weight-semibold">Your booking in Barcelona is confirmed</div>
      </div>
    </div>
  </div>
</div> -->
<!-- Booking confirmation notification STOP -->

<main>
  <section class="container">
    <h1 class="sr-only">Booking confirmation</h1>

    <div class="row relative">
      <div class="col-lg-8 pr-lg-5">
        <div class="o-notification d-flex flex-column justify-content-center">
          <div class="o-notification_title font-heading font-weight-lignt color-primary-darken mb-lg-1">
            Thanks Bernard!
          </div>

          <div class="o-notification_subTitle font-weight-semibold">Your booking in Barcelona is confirmed</div>
        </div>

        <form class="o-notification_email" action="#">
          <div class="o-notification_email_item justify-content-between align-items-center w-100"
              data-confirmGood>
            <div>
              <div>Your confirmation will be sent to</div>
              <div class="color-primary f-18 font-weight-bold">john.travolta@gmail.com</div>
            </div>

            <a class="c-link c-link-underline color-lightGray mt-3 mt-lg-0 d-block" href="#" data-confirmBadTrigger>
              Mistyped your email?
            </a>
          </div>

          <div class="o-notification_email_item justify-content-between align-items-center w-100 d-none"
              data-confirmBad>
            <div>
              <div>Your confirmation will be sent to</div>
              <div>
                <div class="form-default relative mt-2 mb-4">
                  {{
                    input.inputFunction(
                    fg_class = "form-group",
                    lb_class = "form-label",
                    lb_txt = "Email",
                    fe_id = "email",
                    fe_class = "form-control",
                    fe_name = "email",
                    fe_type = "email",
                    fe_attr="data-input",
                    autocomplete="on"
                    )
                  }}
                </div>
                <p class="form-suggestion" id="mailCheckSuggestion"></p>
              </div>
            </div>

            <div class="d-flex flex-column align-items-end">
              <button class="c-btn c-btn-secondary-darken d-block mt-20px" type="submit">Update Email</button>
              <a class="f-14 color-lightGray d-block mt-1" href="#" data-confirmGoodTrigger>Cancel</a>
            </div>

          </div>
        </form>

        <div class="d-md-flex mt-3">
          <div class="my-3 mr-5">
            <div class="text-uppercase f-13 font-weight-semibold mb-1 color-lightGray">Confirmation code</div>
            <div class="color-darkGray">123 456 789</div>
          </div>

          <div class="o-reservationForm_date d-inline-flex justify-content-between my-3 w-100">
            <div class="o-reservationForm_date_item">
              <div class="text-uppercase f-13 font-weight-semibold mb-1 color-lightGray">Check in</div>
              <div class="color-darkGray">Tue, May 15, 2018</div>
              <div class="color-darkGray">15:00</div>
            </div>

            <div class="o-reservationForm_date_item">
              <div class="text-uppercase f-13 font-weight-semibold mb-1 color-lightGray">Check in</div>
              <div class="color-darkGray">Tue, May 15, 2018</div>
              <div class="color-darkGray">15:00</div>
            </div>
          </div>
        </div>

        <div class="color-lightGray mt-3 mb-5 lh1-5rem">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur.
        </div>

        <section class="mb-5">
          <h2 class="c-ttl c-ttl-section-h1 font-heading font-weight-semibold color-primary-darken mb-3">Hotel Location</h2>

          <a class="o-map_wrapper d-block" data-toggle="modal" data-target="#mapModal" href="#">
            <!-- Note for DEV: this is interactive map, not static -->
            <div class="o-map -interactive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d89729.90593299073!2d14.426813999999997!3d45.34760995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shr!2shr!4v1463655324258"
                width="100%" height="100%" style="pointer-events: none; border: 0;" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="o-map_address">Carrer d'Airbau, 33, 08011 Barcelona, Spain</div>
          </a>
        </section>

      </div>

      <div class="col-lg-4">
        <div class="o-sidebar_img">
          <div class="aspectRatio">

            <!-- Image variation: 770x758 -->
            <img src="https://placeimg.com/770/758/tech" alt="Accommodation image">

          </div>
        </div>

        <div class="o-sidebar">
          <div class="px-3 py-4">
            <a class="o-sidebar_title c-ttl c-ttl-section-h1 color-primary-darken mb-2
                font-heading font-weight-light d-block" href="object.html">
              El Palauet Living Barcelona
            </a>

            <div class="d-flex align-items-center">
              <div class="o-stars d-inline-flex">
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
              </div>

              <div class="o-hotel-exclusive d-inline-block text-uppercase f-14 font-weight-semibold ml-2">
                Exclusively gay
              </div>
            </div>

            <div class="d-flex mt-3">
              <div class="o-sidebar_unitImg">
                <div class="aspectRatio">

                  <!-- Image variation: 770x758 -->
                  <img src="https://placeimg.com/770/758/tech" alt="Accommodation image">

                </div>
              </div>

              <div class="ml-2">
                <div class="font-heading color-primary-darken font-weight-medium mb-1">
                  Deluxe room with balcony view and breakfast
                </div>

                <div class="d-flex align-items-center font-weight-semibold f-15">
                  <div class="o-icon -guest-2 mr-1"></div>1 King Bed
                </div>

              </div>
            </div>

            <ul class="o-amenities -gift mt-3" data-cut-target>
              <li class="o-amenities_item mb-2">Special welcome amenity</li>
              <li class="o-amenities_item mb-2">One complimentary drink at the bar</li>
              <li class="o-amenities_item mb-2">Free parking during stay</li>
            </ul>

            <hr class="mt-4 mb-3">

            <table class="o-reservationForm_table">
              <tbody>
                <tr>
                  <td>Adults</td>
                  <td>2</td>
                </tr>

                <tr>
                  <td>Nights</td>
                  <td>2</td>
                </tr>

                <tr>
                  <td>Subtotal</td>
                  <td>600,00 &euro;</td>
                </tr>

                <tr>
                  <td>Promo code (10%)</td>
                  <td>60,00 &euro;</td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <td>Total <div class="f-12 font-weight-regular">VAT included</div></td>
                  <td>540,00 &euro;</td>
                </tr>
              </tfoot>
            </table>

          </div>
        </div>

      </div>
    </div>
  </section>

</main>

{% include "html/app/components/footer.html" %}

{% endblock %}
