<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Reservation form page' %}
{% set pageTitleName = 'Reservation form page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-inquiry' %}

{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}

<!--Main Content-->
{% block content %}

{% include "html/app/components/header.html" %}

<main>
  <section>
    <div class="o-reservationForm_up">
      <div class="container">
        <div class="row align-items-lg-center">
          <div class="col-4 pr-lg-0">
            <div class="o-reservationForm_img">
              <div class="aspectRatio">

                <!-- Image variation: 770x758 -->
                <img src="https://placeimg.com/770/758/tech" alt="Accommodation image">

              </div>
            </div>
          </div>

          <div class="col-8 pl-lg-5">
            <h1 class="o-reservationForm_subTitle mb-0 mt-0">El Palauet Living Barcelona</h1>

            <h2 class="o-reservationForm_mainTitle c-ttl c-ttl-h2 color-primary-darken
                font-weight-medium font-heading mt-1">
              Deluxe room with balcony and breakfast
            </h2>

            <div class="d-flex align-items-center my-2 mt-lg-3">
              <div class="d-flex align-items-center font-weight-semibold f-15 mr-3">
                <div class="o-icon -guest-2 mr-1"></div>2 King Bed
              </div>

              <ul class="o-amenities -featured d-flex" data-cut-target>
                <li class="o-amenities_item -featured mr-md-3 mb-lg-0">Jacuzzi</li>
                <li class="o-amenities_item -featured mr-md-3 mb-lg-0">Terrace</li>
                <li class="o-amenities_item -featured mr-md-3 mb-lg-0">Fireplace</li>
                <li class="o-amenities_item -featured mr-md-3 mb-lg-0">Minibar</li>
              </ul>
            </div>

            <ul class="o-separatedList-normal mb-2 mb-lg-4" data-cut-target>
              <li class="o-separatedList_item">Jacuzzi</li>
              <li class="o-separatedList_item">Patio</li>
              <li class="o-separatedList_item">Soundproofing</li>
              <li class="o-separatedList_item">Air conditioning</li>
              <li class="o-separatedList_item">Flat-screen TV</li>
              <li class="o-separatedList_item">Flat-screen TV</li>
              <li class="o-separatedList_item">Private bathroom</li>
              <li class="o-separatedList_item">Jacuzzi</li>
              <li class="o-separatedList_item">Patio</li>
              <li class="o-separatedList_item">Soundproofing</li>
              <li class="o-separatedList_item">Air conditioning</li>
              <li class="o-separatedList_item">Flat-screen TV</li>
              <li class="o-separatedList_item">Flat-screen TV</li>
              <li class="o-separatedList_item">Private bathroom</li>
            </ul>

            <ul class="o-amenities -gift mt-lg-3" data-cut-target>
              <li class="o-amenities_item mb-2">Special welcome amenity</li>
              <li class="o-amenities_item mb-2">One complimentary drink at the bar</li>
              <li class="o-amenities_item mb-2">Free parking during stay</li>
            </ul>

          </div>

          <div class="col-12">
            <div class="py-3 py-lg-0" data-cut-dest></div>
          </div>

        </div>
      </div>
    </div>

    <form class="o-reservationForm_bottom container" action="#">
      <div class="row">
        <div class="col-lg-4 pt-4 pt-lg-5 pr-lg-5 o-reservationForm_bottom_item">
          <section>
            <div class="d-flex justify-content-between">
              <h2 class="c-ttl c-ttl-section-h1 font-heading font-weight-semibold color-primary-darken">Stay</h2>

              <a class="c-btn c-btn-neutral -smaller w-auto" data-toggle="modal"data-target="#updateStayModal" href="#">
                Change
              </a>
            </div>

            <div>2 adults</div>

            <div class="o-reservationForm_date d-inline-flex justify-content-between my-3 w-100">
              <div class="o-reservationForm_date_item">
                <div class="text-uppercase f-13 font-weight-semibold mb-1 color-lightGray">Check in</div>
                <div class="color-darkGray">Tue, May 15, 2018</div>
                <div class="color-darkGray">15:00</div>
              </div>

              <div class="o-reservationForm_date_item">
                <div class="text-uppercase f-13 font-weight-semibold mb-1 color-lightGray">Check in</div>
                <div class="color-darkGray">Tue, May 15, 2018</div>
                <div class="color-darkGray">15:00</div>
              </div>
            </div>
          </section>

          <section class="mt-3 mt-lg-5">
            <h2 class="c-ttl c-ttl-section-h1 font-heading font-weight-semibold color-primary-darken">Pricing</h2>

            <table class="o-reservationForm_table">
              <tbody>
                <tr>
                  <td>Adults</td>
                  <td>2</td>
                </tr>

                <tr>
                  <td>Nights</td>
                  <td>2</td>
                </tr>

                <tr>
                  <td>Subtotal</td>
                  <td>600,00 &euro;</td>
                </tr>

                <tr>
                  <td>Promo code (10%)</td>
                  <td>60,00 &euro;</td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <td>Total <div class="f-12 font-weight-regular">VAT included</div></td>
                  <td>540,00 &euro;</td>
                </tr>
              </tfoot>
            </table>

            <div class="o-reservationForm_promoCode my-5 d-flex align-items-center relative">

              <div class="form-default relative w-100">
                {{
                  input.inputFunction(
                  fg_class = "form-group mb-0 w-100",
                  lb_class = "sr-only",
                  lb_txt = "Promo code input",
                  fe_id = "promoCode",
                  fe_class = "form-control pl-0",
                  fe_name = "promoCode",
                  fe_type = "text",
                  fe_attr="data-input",
                  fe_placeholder="Promo code"
                  )
                }}

                <button class="c-btn c-btn-disabled w-auto" type="submit" name="promoSubmit">Apply</button>
              </div>
            </div>

          </section>
        </div>

        <div class="col-lg-4 pt-4 pt-lg-5 px-lg-5 o-reservationForm_bottom_item">
          <h2 class="c-ttl c-ttl-section-h1 font-heading font-weight-semibold color-primary-darken mb-4">
            Personal information
          </h2>

          <div class="row">
            <div class="col-6">
              <div class="form-default relative mb-4">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "First name",
                  fe_id = "contactFirstName",
                  fe_class = "form-control",
                  fe_name = "firstName",
                  fe_type = "text",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
            </div>

            <div class="col-6">
              <div class="form-default relative mb-4">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Last name",
                  fe_id = "lastName",
                  fe_class = "form-control",
                  fe_name = "lastName",
                  fe_type = "text",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
            </div>

            <div class="col-12">
              <div class="form-default relative mb-4">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Email",
                  fe_id = "email",
                  fe_class = "form-control",
                  fe_name = "email",
                  fe_type = "email",
                  fe_attr="data-input data-email-autocorrect=true",
                  autocomplete="on"
                  )
                }}
              </div>
              <p class="form-suggestion" style="display: none;"
                  data-email-autocorrect-wrapper="email"> Did you mean:
                <a href="#" class="domain" data-email-autocorrect-apply>
                  {{"{{address}}"}}@<span class="font-weight-bold">{{"{{domain}}"}}</span> ?
                </a>
              </p>
            </div>

            <div class="col-12">
              <div class="form-default relative mb-4">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Phone (optional)",
                  fe_id = "phone",
                  fe_class = "form-control",
                  fe_name = "phone",
                  fe_type = "tel",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
            </div>

            <div class="col-12">
              <div class="form-default relative mb-4">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Address",
                  fe_id = "address",
                  fe_class = "form-control",
                  fe_name = "address",
                  fe_type = "text",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
            </div>

            <div class="col-4">
              <div class="form-default relative mb-4">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Zip code",
                  fe_id = "zipCode",
                  fe_class = "form-control",
                  fe_name = "zipCode",
                  fe_type = "number",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
            </div>

            <div class="col-8">
              <div class="form-default relative mb-4">
                {{
                  input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "City",
                  fe_id = "city",
                  fe_class = "form-control",
                  fe_name = "city",
                  fe_type = "text",
                  fe_attr="data-input",
                  autocomplete="on"
                  )
                }}
              </div>
            </div>

            <div class="col-12">
              <div class="form-default relative mb-4">
                <div class="form-group">
                  <label class="form-label" for="countrySelect">Country</label>
                  <select id="countrySelect" class="form-control" name="countrySelect" data-input>
                    <option></option>
                    <option value="Croatia">Croatia</option>
                    <option value="Bosnia And Herzegovina">Bosnia And Herzegovina</option>
                    <option value="Somaila">Somaila</option>
                    <option value=""></option>
                  </select>
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="col-lg-4 pt-4 pt-lg-5 pl-lg-5 pr-lg-4 o-reservationForm_bottom_item">
          <h2 class="c-ttl c-ttl-section-h1 font-heading font-weight-semibold color-primary-darken mb-4">
            Payment information
          </h2>

          <div class="row">
            <div class="col-12">
              <div class="f-13 text-uppercase form-label">Card owner</div>

              <div class="form-check-custom mb-4">
                <label class="form-label-custom ml-0 mt-0" for="cardOwner">
                  <input id="cardOwner" class="form-control-custom" type="checkbox">
                  <span class="check">
                    <svg width="12px" height="11px" viewBox="0 0 12 11">
                      <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                    </svg>
                  </span>
                  <span class="label">Same as Personal information</span>
                </label>
              </div>

              <div class="form-default relative mb-4">
                <div class="form-group">
                  <input id="creditCardNumber" class="form-control" type="text" name="creditCardNumber"
                      placeholder="•••• •••• •••• ••••"
                      data-input data-credit-card-detector
                      data-credit-card-accept='["amex","diners_club_international","visa","maestro","mastercard",
                      "laser", "visa_electron", "diners_club_carte_blanche","jcb","discover"]'>

                  <label class="form-label" for="creditCardNumber">Card number</label>
                </div>
              </div>

            </div>

            <div class="col-6">
              <div class="form-default relative mb-4">
                <div class="form-group">
                  <input id="expDate" class="form-control" type="text" name="expDate"
                      pattern="[0-9]{2}/[0-9]{2}" placeholder="MM/YY" data-input>

                  <label class="form-label" for="expDate">Expiration date</label>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-default relative mb-5">
                <div class="form-group">
                  <input id="securityCode" class="form-control" type="text" name="securityCode"
                      pattern="[0-9]{3}" placeholder="•••" data-input>

                  <label class="form-label" for="securityCode">Security code</label>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check-custom mb-3">
                <label class="form-label-custom ml-0 mt-0" for="termsAndConditions">
                  <input id="termsAndConditions" class="form-control-custom" type="checkbox">
                  <span class="check">
                    <svg width="12px" height="11px" viewBox="0 0 12 11">
                      <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                    </svg>
                  </span>
                  <span class="label f-15">
                    I agree to
                    <a data-toggle="modal" data-target="#termsAndConditionsModal" href="#"><u>Terms & Conditions</u></a>
                    lorem ipsum dolor sit amet.
                  </span>
                </label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check-custom mb-4">
                <label class="form-label-custom ml-0 mt-0" for="contactAndPaymentData">
                  <input id="contactAndPaymentData" class="form-control-custom" type="checkbox">
                  <span class="check">
                    <svg width="12px" height="11px" viewBox="0 0 12 11">
                      <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                    </svg>
                  </span>
                  <span class="label f-15">
                    I agree to something regarding my
                    <a data-toggle="modal" data-target="#contactAndPaymentDataModal" href="#">
                      <u>contact and payment data</u>
                    </a>
                    and to be contacted
                  </span>
                </label>
              </div>
            </div>

            <div class="col-12">
              <button class="c-btn c-btn-secondary-darken -reserveNow w-100">
                <span class="c-btn_inner">Reserve now</span>
              </button>

              <div class="color-lightGray f-14 mt-3 lh1-3rem">
                Clicking “Reserve now” will finalize your reservation. Payment will be handled by the Hotel at
                the time of your arrival.
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </section>

</main>

<div class="o-mainFooter -reservationForm p-4">

  <div class="o-mainFooter_item -contact d-flex flex-column justify-content-center align-items-center">
    <div class="font-heading f-24 font-weight-light mb-3">Need help?</div>
    <a class="c-btn c-btn-neutral w-auto" href="contact.html">Contact us</a>
  </div>

  <div class="o-mainFooter_copyright text-center">
    <ul class="o-separatedList mb-lg-1 text-center d-lg-inline-flex">
      <li class="o-separatedList_item f-14 color-lightGray">
        <a href="#">Terms of Service</a>
      </li>

      <li class="o-separatedList_item f-14 color-lightGray">
        <a href="#">Privacy policy</a>
      </li>

      <li class="o-separatedList_item f-14 color-lightGray">
        <a href="#">Data collection policy</a>
      </li>
    </ul>

    <div class="f-14 color-lightGray">Copyright &copy; 2018 GayHotels</div>
  </div>

</div>

{% include "html/app/components/modal-updateStay.html" %}
{% include "html/app/components/modal-termsAndConditions.html" %}
{% include "html/app/components/modal-contactAndPaymentData.html" %}

{% include "html/app/components/footer.html" %}

{% endblock %}
