<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Location Article' %}
{% set pageTitleName = 'Location Article' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-locationArticle' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main>

  <div class="o-event_article" data-custom-gallery-scope>

    <div class="o-wave">
      <div class="container">
        <div class="row">

          <div class="col-12">
            <div class="o-gallery -large d-sm-flex justify-content-center">
              <div class="o-gallery_item">
                <div class="aspectRatio" data-custom-gallery-trigger>
                  <!-- Img variation: 1000x500 -->
                  <img class="o-gallery_img d-block w-100" src="https://placeimg.com/1000/500/tech" alt="Gallery image">

                  <!-- Note for DEVs: if there is not images in gallery use this img src -->
                  <!-- <img class="o-gallery_img d-block w-100" src="media/app/placeholder-event.png" alt="Gallery image"> -->
                </div>
              </div>
            </div>
            <div class="o-breadcrumbs_wrapper">
              <ul class="o-breadcrumbs d-flex">
                <li class="o-breadcrumbs_item"><a class="c-link" href="locationList.html">Destinations</a></li>
                <li class="o-breadcrumbs_item"><a class="c-link" href="#">Spain</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="o-event_content">
        <div class="row">

          <div class="col-lg-8 pr-lg-5">
            <h2 class="c-ttl c-ttl-search mt-1 mb-3 mt-lg-4">Julia Morgan Ballrom</h2>
          </div>

          <div class="col-lg-4 pl-lg-4 pr-lg-0 o-sidebar">

            <div class="o-article_aboutGallery" data-cut-target>
              <div class="o-gallery-featured">
                {% include "html/app/components/gallery-small-featured.html" %}
              </div>
            </div>

            <div class="mt-lg-5" data-paste-search></div>

            <div class="o-article_aboutBox" data-cut-target>
              <div class="o-destination_box">
                <div class="o-destination_boxTitle">Best Gay Destinations</div>
                <ul class="o-destination_boxList">
                  <li class="o-destination_boxItem"><a class="c-link" href="locationArticle.html">Barcelona, Spain</a></li>
                  <li class="o-destination_boxItem"><a class="c-link" href="locationArticle.html">Barcelona, Spain</a></li>
                  <li class="o-destination_boxItem"><a class="c-link" href="locationArticle.html">Barcelona, Spain</a></li>
                  <li class="o-destination_boxItem"><a class="c-link" href="locationArticle.html">Barcelona, Spain</a></li>
                  <li class="o-destination_boxItem"><a class="c-link" href="locationArticle.html">Barcelona, Spain</a></li>
                  <li class="o-destination_boxItem"><a class="c-link" href="locationArticle.html">Barcelona, Spain</a></li>
                  <li class="o-destination_boxItem"><a class="c-link" href="locationArticle.html">Barcelona, Spain</a></li>
                </ul>
              </div>
            </div>

          </div>

          <div class="col-lg-8 pr-lg-5 o-article_left">
            <div class="preformat">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium. Ut
                vestibulum elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam nibh,
                placerat sed lorem at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque arcu.
                Ut in ipsum et felis interdum lobortis.
              </p>
              <p>Nunc vestibulum, ante vel placerat porttitor, augue metus interdum sem, id tempus lorem erat quis lorem.
                Sed dui ligula, vulputate quis leo et, suscipit congue mi. Sed in placerat ex, ac sollicitudin tortor.
                Praesent in lacus ultricies, efficitur nibh vel, tincidunt mi. Nunc rutrum sollicitudin turpis in
                efficitur. Nunc vestibulum, ante vel placerat porttitor, augue metus interdum sem.</p>

              <h2>Subheadline goes here</h2>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium. Ut vestibulum
                elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam nibh, placerat sed lorem
                at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque arcu. Ut in ipsum et felis interdum
                lobortis.
              </p>

              <figure>
                <img src="../media/app/placeholder-card.png" alt="">
                <figcaption>Top sights like Las Ramblas and Plaza Catalunya are short walks away</figcaption>
              </figure>

              <h3>H3 headline goes here</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium. Ut vestibulum
                elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam nibh, placerat sed lorem
                at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque arcu. Ut in ipsum et felis interdum
                lobortis.
              </p>

            </div>

            <div class="o-article_about" data-cut-dest>

              <div class="o-article_aboutAttachment">
                <h2 class="c-ttl c-ttl-sectionSmall mt-5 mb-2">Attachment</h2>
                <ul class="o-attachmentList">
                  <li class="o-attachmentList_item">
                    <a href="#" title="aimo.pdf">
                      <div class="file_name">Agenda.pdf</div>
                      <div class="file_size">1.2 MB</div>
                    </a>
                  </li>
                  <li class="o-attachmentList_item">
                    <a href="#" title="aimo.png">
                      <div class="file_name">Slika.png</div>
                      <div class="file_size">1.2 MB</div>
                    </a>
                  </li>
                  <li class="o-attachmentList_item">
                    <a href="#" title="aimo.doc">
                      <div class="file_name">Aimo.doc</div>
                      <div class="file_size">1.2 MB</div>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="o-article_aboutShare">
                <h2 class="c-ttl c-ttl-sectionSmall mt-5 mb-2">Share this event</h2>
                <div class="o-socialIcons">
                  <a class="o-socialIcons_item -facebookReg" href="#"></a>
                  <a class="o-socialIcons_item -twitterReg" href="#"></a>
                  <a class="o-socialIcons_item -googlePlusReg" href="#"></a>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <hr class="o-event_border">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <h2 class="c-ttl c-ttl-head text-lg-center mt-3 mt-lg-4">Gay Hotels</h2>
          <h3 class="c-ttl c-ttl-headSub text-lg-center mb-2 mb-lg-4">Lorem ipsum dolor sit</h3>

          {% include "html/app/components/homepageSlider-objectCards.html" %}

        </div>
      </div>
    </div>

    <hr class="d-none d-lg-block">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <h2 class="c-ttl c-ttl-head text-lg-center mt-3 mt-lg-4">Gay Events</h2>
          <h3 class="c-ttl c-ttl-headSub text-lg-center mb-2 mb-lg-4">Lorem ipsum dolor sit</h3>

          {% include "html/app/components/homepageSlider-eventCards.html" %}

        </div>
      </div>
    </div>
  </div>

</main>

{% include "html/app/components/modal-event.html" %}
{% include "html/app/components/footer.html" %}
{% endblock %}
