<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Location list' %}
{% set pageTitleName = 'Location list' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-locationList' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/bits/form/select.html" as select %}

<main>

  <div class="o-blue">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="c-ttl c-ttl-heroSmall mb-1">Destinations</h2>
          <div class="o-eventList_sub mb-4 color-white">
            Carefully selected gay events world’s best gay destinations lorem ipsum.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-locationList o-wave">
    <div class="container">
      <div class="row">

        <div class="col-12">
          {% include "html/app/components/destinationsSlider.html" %}
        </div>

      </div>
    </div>

    <hr>

    <div class="container">
      <div class="row">

        <!-- Note for DEVs: max number of locations is 8 -->
        <div class="col-12">
          {% include "html/app/components/locationCard.html" %}
          {% include "html/app/components/locationCard.html" %}
          {% include "html/app/components/locationCard.html" %}
          {% include "html/app/components/locationCard.html" %}
          {% include "html/app/components/locationCard.html" %}
          {% include "html/app/components/locationCard.html" %}
          {% include "html/app/components/locationCard.html" %}
          {% include "html/app/components/locationCard.html" %}
        </div>

      </div>
    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
