<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'News list' %}
{% set pageTitleName = 'News list' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-newsList' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main>

  <div class="o-blue">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2 class="c-ttl c-ttl-heroSmall mb-1">Blog</h2>
          <div class="o-eventList_sub mb-4 color-white">
            Lorem ipsum carefully selected gay events world’s best gay destinations.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-wave">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="pr-lg-5">
            {% include "html/app/components/blogCard-full.html" %}
            {% include "html/app/components/blogCard-full.html" %}
            {% include "html/app/components/blogCard-full.html" %}

            {% include "html/app/components/pagination.html" %}
          </div>
        </div>

        <section class="col-lg-4">
          <div class="o-destination_box mt-0 bg-white">
            <div class="o-destination_boxTitle">Browse by category</div>
            <ul class="o-destination_boxList">
              <li class="o-destination_boxItem"><a class="c-link" href="#">Travel Tips</a></li>
              <li class="o-destination_boxItem"><a class="c-link" href="#">Eat & Drink</a></li>
              <li class="o-destination_boxItem"><a class="c-link" href="#">Destinations</a></li>
              <li class="o-destination_boxItem"><a class="c-link" href="#">Gay Events</a></li>
              <li class="o-destination_boxItem"><a class="c-link" href="#">Sport & Fitness</a></li>
              <li class="o-destination_boxItem"><a class="c-link" href="#">Beach</a></li>
              <li class="o-destination_boxItem"><a class="c-link" href="#">Nature</a></li>
            </ul>
          </div>

          <h2 class="c-ttl c-ttl-h3 color-primary-darken font-heading mt-5 mb-3">Featured articles</h2>
          {% include "html/app/components/blogCard-compact.html" %}
          {% include "html/app/components/blogCard-compact.html" %}
          {% include "html/app/components/blogCard-compact.html" %}
        </section>
      </div>
    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
