<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Object page' %}
{% set pageTitleName = 'Object page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-object' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main>

  <!-- Object gallery START -->
  <ul class="o-gallery -large d-sm-flex justify-content-center" data-gallery>

    <!-- Object gallery item START -->
    <li class="o-gallery_item">
      <div class="aspectRatio">
        <!-- Image variation: 1000x500 -->
        <a class="o-gallery_link d-block" href="https://placeimg.com/1000/500/tech" data-gallery-item>
          <img class="o-gallery_img d-block w-100" src="https://placeimg.com/1000/500/tech" alt="Gallery image">
        </a>

        <!-- Note for DEVs: if there is not images in gallery use this img src -->
        <!-- <a class="o-gallery_link d-block" href="media/app/placeholder-object.png" data-gallery-item>
          <img class="o-gallery_img d-block w-100" src="media/app/placeholder-object.png" alt="Gallery image">
        </a> -->
      </div>
    </li>
    <!-- Object gallery item STOP -->

    <!-- Object gallery item START -->
    <li class="o-gallery_item">
      <div class="aspectRatio">
        <!-- Image variation: 1000x500 -->
        <a class="o-gallery_link d-block" href="https://placeimg.com/1000/500/tech" data-gallery-item>
          <img class="o-gallery_img d-block w-100" src="https://placeimg.com/1000/500/tech" alt="Gallery image">
        </a>

        <!-- Note for DEVs: if there is not images in gallery use this img src -->
        <!-- <a class="o-gallery_link d-block" href="media/app/placeholder-object.png" data-gallery-item>
          <img class="o-gallery_img d-block w-100" src="media/app/placeholder-object.png" alt="Gallery image">
        </a> -->
      </div>
    </li>
    <!-- Object gallery item STOP -->

  </ul>
  <!-- Object gallery STOP -->

  <section class="o-hotel_wrapper">

    <div class="container">
      <div class="row relative">
        <div class="col-lg-8">
          <div class="mt-3 pt-3 d-lg-flex align-items-center flex-wrap o-hotelInfo_wrapper">
            <h1 class="o-hotel_title c-ttl c-ttl-h1 color-primary-darken font-weight-light mr-lg-2">
              El Paulet Living Barcelona
            </h1>

            <div class="o-hotel_stars o-stars d-inline-flex mt-2 mt-lg-0">
              <div class="o-icon -star -large"></div>
              <div class="o-icon -star -large"></div>
              <div class="o-icon -star -large"></div>
              <div class="o-icon -star -large"></div>
              <div class="o-icon -star -large"></div>
            </div>

            <div class="o-hotel-exclusive d-inline-block text-uppercase f-14 font-weight-semibold ml-2">
              Exclusively gay
            </div>

            <ul class="o-hotel_info o-separatedList-normal mt-2">
              <li class="o-separatedList_item"><span class="font-weight-semibold">8.9 Very good</span></li>
              <li class="o-separatedList_item">9 Reviews</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 o-sidebar mt-4 pt-3 mt-lg-0 pt-lg-0">
          <div class="o-hotel_price">
            <ul class="o-separatedList-normal align-items-center color-waikawaGray mb-2">
              <li class="o-separatedList_item f-14">May 15 - May 18</li>

              <li class="o-separatedList_item d-flex align-items-center f-14">
                <div class="o-icon -guest-1 -waikawaGray mr-1"></div>1
              </li>
            </ul>

            <div class="d-flex align-items-center">
              <a class="c-btn c-btn-secondary-darken w-100" href="#rooms" data-scroll>Select rooms</a>

              <div class="color-primary ml-2">
                <div class="f-14">From</div>
                <div class="font-weight-light f-32">&euro;349</div>
              </div>
            </div>

            <ul class="o-amenities -gift mt-3">
              <li class="o-amenities_item mb-2">Special welcome amenity</li>
              <li class="o-amenities_item mb-2">One complimentary drink at the bar</li>
              <li class="o-amenities_item mb-2">Free parking during stay</li>
            </ul>

          </div>

          <div data-cut-dest></div>

          <section class="mt-4">
            <h3 class="c-ttl c-ttl-h3 color-primary-darken font-weight-medium mb-2">Location</h3>

            <a class="o-map_wrapper d-block" data-toggle="modal" data-target="#mapModal" href="#">
              <div class="o-map -static" style="background-image: url('../media/app/map.png')"></div>
              <div class="o-map_address">Carrer d'Airbau, 33, 08011 Barcelona, Spain</div>
            </a>
          </section>

          <hr class="d-lg-none">

          <section class="mt-4 relative">
            <h3 class="c-ttl c-ttl-h3 color-primary-darken font-weight-medium mb-2">Amenities
              <span class="o-amenities_total font-weight-light d-lg-none">(24)</span>
            </h3>

            <ul class="o-amenities o-amenities_object">
              <li class="o-amenities_item -featured">Jacuzzi</li>
              <li class="o-amenities_item -featured">Terrace</li>
              <li class="o-amenities_item -featured">Fireplace</li>
              <li class="o-amenities_item -featured">Minibar</li>
              <li class="o-amenities_item">Free WiFi</li>
              <li class="o-amenities_item">Flat-screen TV</li>
              <li class="o-amenities_item">Patio</li>
              <li class="o-amenities_item">Hardwood/Parquet floors</li>
              <li class="o-amenities_item">Air condition</li>
              <li class="o-amenities_item">Soundproofing</li>
              <li class="o-amenities_item">Pay-per-view Channels</li>
              <li class="o-amenities_item">Free toiletries</li>
              <li class="o-amenities_item">Free WiFi</li>
              <li class="o-amenities_item">Flat-screen TV</li>
              <li class="o-amenities_item">Patio</li>
              <li class="o-amenities_item">Hardwood/Parquet floors</li>
              <li class="o-amenities_item">Air condition</li>
              <li class="o-amenities_item">Soundproofing</li>
              <li class="o-amenities_item">Pay-per-view Channels</li>
              <li class="o-amenities_item">Free toiletries</li>
            </ul>

            <div class="o-amenities_btn d-lg-none" data-toggle="modal" data-target="#amenitiesModal"></div>
          </section>

        </div>

        <div class="col-lg-8">
          <div data-cut-target>
            <h3 class="c-ttl c-ttl-h3 color-primary-darken font-weight-medium mt-4 mb-2 d-lg-none">About</h3>

            <div class="o-hotel_desc preformat mt-lg-4 pt-lg-2">
              <p>The area around the Hotel Axel Barcelona is known as the Gay-xample because of its lively gay scene.
                The staff has knowledge of the local gay scene, and the hotel is hetero-friendly too.</p>

              <p>Offering free Wi-Fi throughout, this design hotel is close to Passeig de Gràcia's exclusive boutiques.
                The Axel Hotel’s 500m² Spa Centre includes a hydromassage pool and saunas, and the modern rooms have
                flat-screen satellite TVs.
              </p>

              <p>The Axel’s Sky Bar features a large swimming pool, a terrace with a hot tub and a cocktail bar.
                Here you will find parties, art exhibitions and shows.</p>

              <p>The Axel Hotel Barcelona & Urban Spa offers easy access to the Ramblas, the Picasso Museum and
                Gothic Quarter. The hotel occupies an attractive 19th-century building.</p>

              <p>Eixample is a great choice for travellers interested in architecture, food and shopping.</p>

              <p>This is our guests' favourite part of Barcelona, according to independent reviews.</p>

              <p>Couples particularly like the location — they rated it 9.1 for a two-person trip.</p>

              <p>We speak your language!</p>
            </div>

            <a class="color-primary font-weight-medium" data-toggle="modal" data-target="#aboutModal" href="#">
              Read more
            </a>
          </div>

          <hr class="d-lg-none">

          <section id="rooms" class="mt-lg-5 pb-lg-4" data-stickyFilter_wrapper>
            <h3 class="c-ttl c-ttl-h3 color-primary-darken font-weight-medium mb-3">Rooms</h3>


            <div class="o-filter_wrapper" data-stickyFilter>
              <div class="o-filter d-inline-flex align-items-center">

                <ul class="o-separatedList-normal align-items-center">
                  <li class="o-separatedList_item f-14 font-weight-regular">May 15 - May 18</li>

                  <li class="o-separatedList_item d-flex align-items-center f-15 font-weight-regular">
                    <div class="o-icon -guest-1 mr-1"></div>1
                  </li>
                </ul>

                <a class="color-primary text-uppercase ml-3 pl-2 f-14 font-weight-semibold" data-toggle="modal"
                    data-target="#updateStayModal" href="#">Change
                </a>
              </div>
            </div>

            <div class="mt-5 mt-md-3">
              {% include "html/app/components/unitCard-small-bookedOut.html" %}
              {% include "html/app/components/unitCard-small.html" %}
              {% include "html/app/components/unitCard-small-bookedOut.html" %}
              {% include "html/app/components/unitCard-small.html" %}
              {% include "html/app/components/unitCard-small.html" %}
            </div>

          </section>

          <section class="mt-5 pt-3">
            <h3 class="c-ttl c-ttl-h3 color-primary-darken font-weight-medium">Reviews</h3>
            <div class="color-primary f-18"><span class="font-weight-bold">8.9</span> Very good</div>

            <!-- Reviews START -->
            <ul class="o-reviews mt-4">

              <!-- Review item START -->
              <li class="o-reviews_item -blue d-flex">
                <div class="o-reviews_rating d-flex justify-content-center align-items-center mr-2">10</div>

                <div class="o-reviews_info">
                  <div class="d-md-flex align-items-center mb-1">
                    <div>Benjamnin <span class="f-14">from Netherlands</span></div>
                    <div class="o-reviews_item_date f-14 ml-md-1">(May 15, 2018)</div>
                  </div>

                  <div>
                    <div class="c-ttl c-ttl-h3 color-primary-darken mt-2 mb-1 f-16 font-weight-medium">
                      Outstanding expirience
                    </div>

                    <!-- Note for DEVs: truncate description to 200 characters -->
                    <p class="o-reviews_desc m-0">
                      Beautiful room with lots of space and multiple balconies. This suite had all that was needed
                      for a luxurious and enjoyable stay. The location is amazing. Lorem ipsum dolor sit amet.
                    </p>
                  </div>
                </div>
              </li>
              <!-- Review item STOP -->

              <!-- Review item START -->
              <li class="o-reviews_item -blue d-flex">
                <div class="o-reviews_rating d-flex justify-content-center align-items-center mr-2">5</div>

                <div class="o-reviews_info">
                  <div class="d-md-flex align-items-center mb-1">
                    <div>Benjamnin <span class="f-14">from Netherlands</span></div>
                    <div class="o-reviews_item_date f-14 ml-md-1">(May 15, 2018)</div>
                  </div>

                  <div>
                    <div class="c-ttl c-ttl-h3 color-primary-darken mt-2 mb-1 f-16 font-weight-medium">
                      Lorem ipsum dolor sit amet lorem dorem
                    </div>

                    <!-- Note for DEVs: truncate description to 200 characters -->
                    <p class="o-reviews_desc m-0">
                      Beautiful room with lots of space and multiple balconies. This suite had all that was needed
                      for a luxurious and enjoyable stay. The location is amazing. Lorem ipsum dolor sit amet.
                    </p>
                  </div>
                </div>
              </li>
              <!-- Review item STOP -->

              <!-- Review item START -->
              <li class="o-reviews_item -yellow d-flex">
                <div class="o-reviews_rating d-flex justify-content-center align-items-center mr-2">4</div>

                <div class="o-reviews_info">
                  <div class="d-md-flex align-items-center mb-1">
                    <div>Benjamnin <span class="f-14">from Netherlands</span></div>
                    <div class="o-reviews_item_date f-14 ml-md-1">(May 15, 2018)</div>
                  </div>

                  <div>
                    <div class="c-ttl c-ttl-h3 color-primary-darken mt-2 mb-1 f-16 font-weight-medium">
                      Not worth the price
                    </div>

                    <!-- Note for DEVs: truncate description to 200 characters -->
                    <p class="o-reviews_desc m-0">
                      Beautiful room with lots of space and multiple balconies. This suite had all that was needed
                      for a luxurious and enjoyable stay. The location is amazing. Lorem ipsum dolor sit amet.
                    </p>
                  </div>
                </div>
              </li>
              <!-- Review item STOP -->

              <!-- Review item START -->
              <li class="o-reviews_item -red d-flex">
                <div class="o-reviews_rating d-flex justify-content-center align-items-center mr-2">1</div>

                <div class="o-reviews_info">
                  <div class="d-md-flex align-items-center mb-1">
                    <div>Guest <span class="f-14">from Germtech</span></div>
                    <div class="o-reviews_item_date f-14 ml-md-1">(May 15, 2018)</div>
                  </div>

                  <div>
                    <div class="c-ttl c-ttl-h3 color-primary-darken mt-2 mb-1 f-16 font-weight-medium">
                      Simply terrible!
                    </div>

                    <!-- Note for DEVs: truncate description to 200 characters -->
                    <p class="o-reviews_desc m-0">
                      Lorem ipsum dolor sit amet!
                    </p>
                </div>
              </li>
              <!-- Review item STOP -->

            </ul>
            <!-- Reviews STOP -->

            <a class="c-btn c-btn-neutral c-btn-mw335 w-100 mt-3" data-toggle="modal" data-target="#reviewsModal">
              View all<span>&nbsp;13&nbsp;</span>reviews
            </a>

          </section>

        </div>
      </div>
    </div>

  </section>

</main>

{% include "html/app/components/promoList-footer.html" %}
{% include "html/app/components/modal-unit.html" %}
{% include "html/app/components/modal-about.html" %}
{% include "html/app/components/modal-map.html" %}
{% include "html/app/components/modal-updateStay.html" %}
{% include "html/app/components/modal-reviews.html" %}
{% include "html/app/components/modal-amenities.html" %}

{% include "html/app/components/footer.html" %}

{% endblock %}
