<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Unit review page' %}
{% set pageTitleName = 'Unit review page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-objectReview' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/bits/form/textarea.html" as textarea %}

<main>
  <div class="container">

    <div class="row relative">
      <div class="col-lg-4 o-sidebar_wrapper">
        <div class="o-sidebar_img d-none d-lg-block">
          <div class="aspectRatio">

            <!-- Image variation: 770x758 -->
            <img src="https://placeimg.com/770/758/tech" alt="Accommodation image">

          </div>
        </div>

        <div class="o-sidebar mb-3">
          <div class="px-3 py-3 py-lg-4">
            <a class="o-sidebar_title c-ttl c-ttl-section-h1 color-primary-darken mb-2
                font-heading font-weight-light d-none d-lg-block" href="object.html">
              El Palauet Living Barcelona
            </a>

            <div class="align-items-center d-none d-lg-flex">
              <div class="o-stars d-inline-flex">
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
              </div>

              <div class="o-hotel-exclusive text-uppercase f-14 font-weight-semibold ml-2
                  d-none d-lg-inline-block">
                Exclusively gay
              </div>
            </div>

            <div class="d-flex mt-lg-3">
              <div class="o-sidebar_unitImg">
                <div class="aspectRatio">

                  <!-- Image variation: 770x758 -->
                  <img src="https://placeimg.com/770/758/tech" alt="Accommodation image">

                </div>
              </div>

              <div class="ml-2">

                <div class="f-14 color-lightGray d-lg-none mb-1">El Palaulet Living Barcelona</div>

                <div class="font-heading color-primary-darken font-weight-medium mb-1">
                  Deluxe room with balcony view and breakfast
                </div>

                <div class="d-flex align-items-center font-weight-semibold f-15">
                  <div class="o-icon -guest-2 mr-1"></div>1 King Bed
                </div>

              </div>
            </div>

          </div>
        </div>

        <div data-cut-target>
          <div class="c-ttl color-primary-darken font-weight-semibold f-17">Preview</div>

          <ul class="o-reviews mt-3">

            <!-- Review item START -->
            <li class="o-reviews_item -blue d-flex">
              <div class="o-reviews_rating d-flex justify-content-center align-items-center mr-2">10</div>

              <div class="o-reviews_info">
                <div class="d-md-flex align-items-center mb-1">
                  <div>Benjamnin <span class="f-14">from Netherlands</span></div>
                </div>

                <div>
                  <div class="c-ttl c-ttl-h3 color-primary-darken mt-2 mb-1 f-16 font-heading font-weight-medium">
                    Describe your stay in one short sentence
                  </div>
                </div>
              </div>
            </li>
            <!-- Review item STOP -->
          </ul>
        </div>

      </div>

      <div class="col-lg-8 pr-lg-5 my-2 my-lg-5">
        <h2 class="c-ttl c-ttl-h1 font-weight-light font-heading color-primary-darken">Review your stay</h2>
        <div class="f-17 font-weight-semibold mb-5">Help us improve our community standards even further.</div>


        <div class="font-weight-semibold mb-1">How would you rate your stay overall?</div>
        <div class="font-weight-regular f-13 color-darkGray mb-2">With 1 being the worst and 10 being the best</div>

        <form action="#">
          <div class="o-search_filterRadio flex-wrap mb-5">
            <div class="form-check">
              <input id="userRateOne" class="form-check-input" type="radio" name="userRate"
              value="one" hidden>
              <label class="form-check-label" for="userRateOne">1</label>
            </div>

            <div class="form-check">
              <input id="userRateTwo" class="form-check-input" type="radio" name="userRate"
              value="two" hidden>
              <label class="form-check-label" for="userRateTwo">2</label>
            </div>

            <div class="form-check">
              <input id="userRateThree" class="form-check-input" type="radio" name="userRate"
              value="three" hidden>
              <label class="form-check-label" for="userRateThree">3</label>
            </div>

            <div class="form-check">
              <input id="userRateFour" class="form-check-input" type="radio" name="userRate"
              value="four" hidden>
              <label class="form-check-label" for="userRateFour">4</label>
            </div>

            <div class="form-check">
              <input id="userRateFive" class="form-check-input" type="radio" name="userRate"
              value="five" hidden>
              <label class="form-check-label" for="userRateFive">5</label>
            </div>

            <div class="form-check">
              <input id="userRateSix" class="form-check-input" type="radio" name="userRate"
              value="six" hidden>
              <label class="form-check-label" for="userRateSix">6</label>
            </div>

            <div class="form-check">
              <input id="userRateSeven" class="form-check-input" type="radio" name="userRate"
              value="seven" hidden>
              <label class="form-check-label" for="userRateSeven">7</label>
            </div>

            <div class="form-check">
              <input id="userRateEight" class="form-check-input" type="radio" name="userRate"
              value="eight" hidden>
              <label class="form-check-label" for="userRateEight">8</label>
            </div>

            <div class="form-check">
              <input id="userRateNine" class="form-check-input" type="radio" name="userRate"
              value="nine" hidden>
              <label class="form-check-label" for="userRateNine">9</label>
            </div>

            <div class="form-check">
              <input id="userRateTen" class="form-check-input" type="radio" name="userRate"
              value="ten" hidden>
              <label class="form-check-label" for="userRateTen">10</label>
            </div>
          </div>

          <div class="form-default relative mb-4 mb-lg-5">
            {{
              textarea.textareaFunction(
              fg_class = "form-group",
              lb_class = "form-label -review",
              lb_txt = "Describe your stay in one short sentence",
              fe_id = "reviewDesc",
              fe_class = "form-control",
              fe_name = "reviewDesc",
              fe_attr="data-input data-textarea-autosize",
              autocomplete="on",
              fe_rows = "1"
              )
            }}
          </div>

          <div class="form-default relative mb-4 mb-lg-5">
            {{
              textarea.textareaFunction(
              fg_class = "form-group",
              lb_class = "form-label -review",
              lb_txt = "What did you like or dislike?",
              fe_id = "reviewLikeDislike",
              fe_class = "form-control",
              fe_name = "reviewLikeDislike",
              fe_attr="data-input data-textarea-autosize",
              autocomplete="on",
              fe_rows = "1"
              )
            }}
          </div>

          <div class="form-check-custom mb-4 mb-lg-5">
            <label class="form-label-custom ml-0 mt-0" for="termsAndConditions">
              <input id="termsAndConditions" class="form-control-custom" type="checkbox">
              <span class="check">
                <svg width="12px" height="11px" viewBox="0 0 12 11">
                  <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                </svg>
              </span>
              <div class="label f-15">
                <div class="font-weight-regular mb-1 color-darkGray">Make my review anonymuous</div>
                <div class="f-13 color-lightGray lh1-1rem">
                  At gayhotels we value your privacy and gladly offer you the option to anonymize your
                  review for whatever reason.
                </div>
              </div>
            </label>
          </div>

          <div class="o-sidebar_preview mb-3" data-cut-dest></div>
          <button class="c-btn c-btn-review c-btn-secondary-darken c-btn-minw215" type="submit">Submit review</button>

        </form>

      </div>
    </div>
  </div>

</main>

<div class="o-mainFooter -objectReview p-4">

  <div class="o-mainFooter_copyright text-center">
    <ul class="o-separatedList mb-lg-1 text-center d-lg-inline-flex">
      <li class="o-separatedList_item f-14 color-lightGray">
        <a href="#">Terms of Service</a>
      </li>

      <li class="o-separatedList_item f-14 color-lightGray">
        <a href="#">Privacy policy</a>
      </li>

      <li class="o-separatedList_item f-14 color-lightGray">
        <a href="#">Data collection policy</a>
      </li>
    </ul>

    <div class="f-14 color-lightGray">Copyright &copy; 2018 GayHotels</div>
  </div>

</div>

{% include "html/app/components/footer.html" %}

{% endblock %}
