<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Cancel reservation page' %}
{% set pageTitleName = 'Cancel reservation page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-cancelReservation' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

{% import "html/app/bits/form/input.html" as input %}

<!-- Booking confirmation notification START -->
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="o-notification_spacer"></div>
      <div class="o-notification d-flex flex-column justify-content-center">
        <div class="o-notification_title font-heading font-weight-lignt color-primary-darken mb-lg-1">
          Thanks Bernard!
        </div>

        <div class="o-notification_subTitle font-weight-semibold">Your booking in Barcelona is confirmed</div>
      </div>
    </div>
  </div>
</div> -->
<!-- Booking confirmation notification STOP -->

<main>
  <section class="container">
    <h1 class="sr-only">Cancel reservation</h1>

    <div class="row relative">
      <div class="col-lg-8 pr-lg-5">
        <div class="o-notification -cancel d-flex flex-column justify-content-center">
          <div class="o-notification_title font-heading font-weight-lignt color-primary-darken mb-lg-1">
            Cancel reservation
          </div>

          <div class="o-notification_subTitle font-weight-semibold">Are you sure you want to cancel?</div>
        </div>

        <section>
          <h2 class="c-ttl c-ttl-section-h1 font-heading font-weight-semibold color-primary-darken mb-4">
            Reservation details
          </h2>

          <div class="mb-3">2 adults</div>

          <div class="o-reservationForm_date d-inline-flex justify-content-between my-3 w-100">
            <div class="o-reservationForm_date_item">
              <div class="text-uppercase f-13 font-weight-semibold mb-1 color-lightGray">Check in</div>
              <div class="color-darkGray">Tue, May 15, 2018</div>
              <div class="color-darkGray">15:00</div>
            </div>

            <div class="o-reservationForm_date_item">
              <div class="text-uppercase f-13 font-weight-semibold mb-1 color-lightGray">Check in</div>
              <div class="color-darkGray">Tue, May 15, 2018</div>
              <div class="color-darkGray">15:00</div>
            </div>
          </div>
        </section>

        <section>
          <h2 class="c-ttl c-ttl-section-h1 font-heading font-weight-semibold color-primary-darken my-3">
            Cancellation policy
          </h2>

          <div class="color-lightGray mt-3 mb-4 lh1-5rem">
            The area around the Hotel Axel Barcelona is known as the Gay-xample because of its lively gay scene.
            The staff has knowledge of the local gay scene, and the hotel is hetero-friendly too.

            <br>
            <br>

            Offering free Wi-Fi throughout, this design hotel is close to Passeig de Gràcia's exclusive boutiques.
            The Axel Hotel’s 500m² Spa Centre includes a hydromassage pool and saunas, and the modern rooms have
            flat-screen satellite TVs.

            <br>
            <br>

            The Axel’s Sky Bar features a large swimming pool, a terrace with a hot tub and a cocktail bar.
            Here you will find parties, art exhibitions and shows.
          </div>
        </section>

        <div class="o-notification_email mb-5">
          <div class="o-notification_email_item justify-content-between align-items-center w-100">
            <div class="mb-3 mb-md-0 text-center text-md-left color-lightGray"> Yes, i'm sure I want to cancel.</div>

            <a class="c-btn c-btn-minw215 c-btn-secondary-darken mt-0 d-block" href="#">
              Cancel reservation
            </a>
          </div>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="o-sidebar_img">
          <div class="aspectRatio">

            <!-- Image variation: 770x758 -->
            <img src="https://placeimg.com/770/758/tech" alt="Accommodation image">

          </div>
        </div>

        <div class="o-sidebar">
          <div class="px-3 py-4">
            <a class="o-sidebar_title c-ttl c-ttl-section-h1 color-primary-darken mb-2
                font-heading font-weight-light d-block" href="object.html">
              El Palauet Living Barcelona
            </a>

            <div class="d-flex align-items-center">
              <div class="o-stars d-inline-flex">
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
              </div>

              <div class="o-hotel-exclusive d-inline-block text-uppercase f-14 font-weight-semibold ml-2">
                Exclusively gay
              </div>
            </div>

            <div class="d-flex mt-3">
              <div class="o-sidebar_unitImg">
                <div class="aspectRatio">

                  <!-- Image variation: 770x758 -->
                  <img src="https://placeimg.com/770/758/tech" alt="Accommodation image">

                </div>
              </div>

              <div class="ml-2">
                <div class="font-heading color-primary-darken font-weight-medium mb-1">
                  Deluxe room with balcony view and breakfast
                </div>

                <div class="d-flex align-items-center font-weight-semibold f-15">
                  <div class="o-icon -guest-2 mr-1"></div>1 King Bed
                </div>

              </div>
            </div>

            <ul class="o-amenities -gift mt-3" data-cut-target>
              <li class="o-amenities_item mb-2">Special welcome amenity</li>
              <li class="o-amenities_item mb-2">One complimentary drink at the bar</li>
              <li class="o-amenities_item mb-2">Free parking during stay</li>
            </ul>

            <hr class="mt-4 mb-3">

            <table class="o-reservationForm_table">
              <tbody>
                <tr>
                  <td>Adults</td>
                  <td>2</td>
                </tr>

                <tr>
                  <td>Nights</td>
                  <td>2</td>
                </tr>

                <tr>
                  <td>Subtotal</td>
                  <td>600,00 &euro;</td>
                </tr>

                <tr>
                  <td>Promo code (10%)</td>
                  <td>60,00 &euro;</td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <td>Total <div class="f-12 font-weight-regular">VAT included</div></td>
                  <td>540,00 &euro;</td>
                </tr>
              </tfoot>
            </table>

          </div>
        </div>

      </div>
    </div>
  </section>

</main>

{% include "html/app/components/footer.html" %}

{% endblock %}
