<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Search Gay Hotels' %}
{% set pageTitleName = 'Search Gay Hotels' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-search' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/bits/form/select.html" as select %}

<main>
  <form class="relative" action="">

    <div class="o-search_wrapper" data-search-filter-wrapper>
      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="o-search_formWrapper">
              <div class="o-search_form" data-search-refine-form>
                <!--
                    Note for devX: In the .filters block, the '2 filters' is the number of additional filters that
                    the user has activated for this particular search
                -->
                <div class="o-search_mobileBottom">
                  <div class="o-search_mobileBottomFilters">
                    <div class="location">Barcelona, Spain</div>
                    <div class="date">May 15 - May 18</div>
                    <div class="filters">1 Adult | 2 filters</div>
                  </div>
                  <div class="o-search_mobileBottomBtn" data-search-refine-open>
                    <div class="c-btn c-btn-refine">REFINE</div>
                  </div>
                </div>

                <div class="o-search_filtersUp">
                  <div class="o-search_filtersUpItem">
                    <div class="o-search_location">
                    
                      <div class="o-mainSearch_item select" data-location-dropdown="" data-location-dropdown-mobile>
                        <input class="form-control query h-100" type="text" id="location_display" name="location_display" data-location-dropdown-value-element-display=""
                          value="Select Destination" readonly="readonly">
                        <div class="o-mainSearch-headerDropdown">
                          <div class="o-mainSearch_title-destination d-lg-none">
                            <span data-location-dropdown-target="">Select Destination</span>
                            <span class="close"></span>
                          </div>
                          <ul class="o-mainSearch-headerDropdown_list">
                    
                            <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
                              <label for="location" class="label" data-value="any">Any</label>
                            </li>
                            <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
                              <label for="location" class="label" data-value="SfqRjmgoqyMtATU08rv0kmSp">Barcelona</label>
                            </li>
                            <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
                              <label for="location" class="label" data-value="nx0rjfiQ1zdavx7o2CGfWt0T">London</label>
                            </li>
                            <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
                              <label for="location" class="label" data-value="kfwlxmrBTSRd78vgVDu9dUvr">Madrid</label>
                            </li>
                            <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
                              <label for="location" class="label" data-value="qaqJqIC0nRKLio6VNZEOgWhJ">Mykonos</label>
                            </li>
                            <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
                              <label for="location" class="label" data-value="QQbWOoognJClMmlMrXHbGtkg">Paris</label>
                            </li>
                    
                          </ul>
                    
                          <input class="hidden" type="hidden" id="location" name="location" data-location-dropdown-value-element="" value="">
                    
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="o-search_filtersUpItem date">
                    <div class="o-search_filterBtn"><span class="value">From</span> - <span class="value">To</span></div>
                    <div class="o-search_inputWrapper">
                      <div class="o-search_datepickerWrapper">
                        <div class="o-search_datepicker h-100">
                          <label class="form-label m-0" for="searchCheckIn-searchPage">CHECK-IN</label>
                          <input id="searchCheckIn-searchPage" class="form-control h-100" type="text" name="checkin"
                              readonly data-datepicker data-input>
                        </div>

                        <div class="o-search_datepicker h-100">
                          <label class="form-label m-0" for="searchCheckOut-searchPage">CHECK-OUT</label>
                          <input id="searchCheckOut-searchPage" class="form-control h-100" type="text" name="checkout"
                              readonly data-datepicker data-input>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="o-search_filtersUpItem adults">
                    <div class="o-search_filterBtn"><span class="value"></span> Adult</div>
                    <div class="o-search_inputWrapper">
                      <div class="o-search_adults">
                        <label class="o-search_adultsLabel" for="adults-searchPage">ADULTS</label>
                        <input id="adults-searchPage" type="number" name="adults" hidden>
                        <div class="o-search_adultsController">
                          <span class="o-search_adultsController_item minus"></span>
                          <span class="o-search_adultsController_item no">0</span>
                          <span class="o-search_adultsController_item plus"></span>
                        </div>
                      </div>
                      <div class="o-search_adultsMessage active">
                        <p class="message">We limit to 3 adults as we do not support multi-room booking yet.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="o-search_filtersDown">

                  <div class="o-search_filterTitle main">
                    <h3 class="c-ttl c-ttl-filter">Filters</h3>
                    <span class="clear filter">CLEAR ALL</span>
                  </div>

                  <ul class="o-search_filterList">

                    <li class="o-search_filterItem">
                      <div class="o-search_filterBtn"><span class="value"></span> Budget</div>
                      <div class="o-search_inputWrapper">
                        <div class="o-search_filterTitle">
                          <span class="label">Budget per night (€)</span>
                          <div class="controls">
                            <span class="apply">APPLY</span>
                            <span class="clear">CLEAR</span>
                          </div>
                        </div>
                        <div class="o-search_filterRadio">
                          <div class="form-check">
                            <input id="budget1" class="form-check-input" type="radio" name="budget" value="option1" hidden>
                            <label class="form-check-label" for="budget1">0 - 100</label>
                          </div>
                          <div class="form-check">
                            <input id="budget2" class="form-check-input" type="radio" name="budget" value="option2" hidden>
                            <label class="form-check-label" for="budget2">100 - 350</label>
                          </div>
                          <div class="form-check">
                            <input id="budget3" class="form-check-input" type="radio" name="budget" value="option2" hidden>
                            <label class="form-check-label" for="budget3">350 +</label>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="o-search_filterItem">
                      <div class="o-search_filterBtn"><span class="value"></span> Hotel stars</div>
                      <div class="o-search_inputWrapper">
                        <div class="o-search_filterTitle">
                          <span class="label">Star rating</span>
                          <div class="controls">
                            <span class="apply">APPLY</span>
                            <span class="clear">CLEAR</span>
                          </div>
                        </div>
                        <div class="form-group-rating">
                          <input id="starRateOne" class="form-control-star" type="radio" name="starRating" hidden>
                          <label class="form-label-star" for="starRateOne"></label>

                          <input id="starRateTwo" class="form-control-star" type="radio" name="starRating" hidden>
                          <label class="form-label-star" for="starRateTwo"></label>

                          <input id="starRateThree" class="form-control-star" type="radio" name="starRating" hidden>
                          <label class="form-label-star" for="starRateThree"></label>

                          <input id="starRateFour" class="form-control-star" type="radio" name="starRating" hidden>
                          <label class="form-label-star" for="starRateFour"></label>

                          <input id="starRateFive" class="form-control-star" type="radio" name="starRating" hidden>
                          <label class="form-label-star" for="starRateFive"></label>
                        </div>
                      </div>
                    </li>

                    <li class="o-search_filterItem">
                      <div class="o-search_filterBtn"><span class="value"></span> User rating</div>
                      <div class="o-search_inputWrapper">
                        <div class="o-search_filterTitle">
                          <span class="label">User rating</span>
                          <div class="controls">
                            <span class="apply">APPLY</span>
                            <span class="clear">CLEAR</span>
                          </div>
                        </div>
                        <div class="o-search_filterRadio">
                          <div class="form-check">
                            <input id="userRateFive" class="form-check-input" type="radio" name="userRate"
                                value="five" hidden>
                            <label class="form-check-label" for="userRateFive">5+</label>
                          </div>
                          <div class="form-check">
                            <input id="userRateSix" class="form-check-input" type="radio" name="userRate"
                                value="six" hidden>
                            <label class="form-check-label" for="userRateSix">6+</label>
                          </div>
                          <div class="form-check">
                            <input id="userRateSeven" class="form-check-input" type="radio" name="userRate"
                                value="seven" hidden>
                            <label class="form-check-label" for="userRateSeven">7+</label>
                          </div>
                          <div class="form-check">
                            <input id="userRateEight" class="form-check-input" type="radio" name="userRate"
                                value="eight" hidden>
                            <label class="form-check-label" for="userRateEight">8+</label>
                          </div>
                          <div class="form-check">
                            <input id="userRateNine" class="form-check-input" type="radio" name="userRate"
                                value="nine" hidden>
                            <label class="form-check-label" for="userRateNine">9+</label>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="o-search_filterItem">
                      <div class="o-search_filterBtn"><span class="value"></span> More filters</div>
                      <div class="o-search_inputWrapper">
                        <div class="o-search_filterTitle">
                          <span class="label">Property type</span>
                          <div class="controls">
                            <span class="apply">APPLY</span>
                            <span class="clear">CLEAR</span>
                          </div>
                        </div>
                        <div class="o-search_filterRadio">
                          <div class="form-check">
                            <input id="propertyExclusively" class="form-check-input" type="radio" name="property"
                                value="exclusively" hidden>
                            <label class="form-check-label" for="propertyExclusively">Exclusively gay</label>
                          </div>
                          <div class="form-check">
                            <input id="propertyFriendly" class="form-check-input" type="radio" name="property"
                                value="friendly" hidden>
                            <label class="form-check-label" for="propertyFriendly">Gay friendly</label>
                          </div>
                        </div>
                        <div class="o-search_filterItem-sub">
                          <div class="o-search_filterTitle">
                            <span class="label">Sub location</span>
                            <div class="controls">
                              <span class="apply">APPLY</span>
                              <span class="clear">CLEAR</span>
                            </div>
                          </div>
                          <div class="o-search_filterCheckbox">
                            <div class="form-check-custom">
                              <label class="form-label-custom" for="searchPageLocationOne">
                                <input id="searchPageLocationOne" class="form-control-custom" type="checkbox">
                                <span class="check">
                                  <svg width="12px" height="11px" viewBox="0 0 12 11">
                                    <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                                  </svg>
                                </span>
                                <span class="label">Location 1, Barcelona</span>
                              </label>
                            </div>
                            <div class="form-check-custom">
                              <label class="form-label-custom" for="searchPageLocationTwo">
                                <input id="searchPageLocationTwo" class="form-control-custom" type="checkbox">
                                <span class="check">
                                  <svg width="12px" height="11px" viewBox="0 0 12 11">
                                    <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                                  </svg>
                                </span>
                                <span class="label">Location 2, Barcelona</span>
                              </label>
                            </div>
                            <div class="form-check-custom">
                              <label class="form-label-custom" for="searchPageLocationThree">
                                <input id="searchPageLocationThree" class="form-control-custom" type="checkbox">
                                <span class="check">
                                  <svg width="12px" height="11px" viewBox="0 0 12 11">
                                    <polyline points="1 6.29411765 4.5 10 11 1"></polyline>
                                  </svg>
                                </span>
                                <span class="label">Location 3, Barcelona</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
              <div class="o-search_filterSubmit">
                <button class="c-btn c-btn-primary-light w-100" type="submit" data-search-refine-close>
                  Show results
                </button>
              </div>
              <div class="o-search_tabs" data-tab-togglers="#setOfTabs-search">
                <button class="c-btn c-btn-blue map reverse" type="button" data-toggle-tab="tab1">
                  View <span class="d-none d-lg-inline-block">as</span> map
                </button>
                <button class="c-btn c-btn-blue list reverse active" type="button" data-toggle-tab="tab2">
                  View <span class="d-none d-lg-inline-block">as</span> list
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Tabs START -->
    <div id="setOfTabs-search">

      <!-- TAB 2 : Search List START -->
      <div class="o-search_listWrapper" data-tab="tab2">
        <div class="container">

          <!-- Title + order -->
          <div class="row">

            <div class="col-lg-9 o-search_listObject">
              <h2 class="c-ttl c-ttl-search">Gay Hotels in Barcelona<span class="location">Spain Accommodation</span></h2>
              <!-- Note for devX: Truncate 265char -->
              <div class="o-search_about">
                <div>
                  There’s an undeniable ease to life in Barcelona. Its glorious climate and lively beach culture dares you to
                  live your life in the sun. Barcelona is the commercial heart of Spain, but it has its own unique culture and
                  heritage. For the visitor, there’s a cornucopia
                </div>
              </div>
            </div>

            <div class="o-search_order col-lg-3">
              <div class="form-group m-lg-0">
                <label class="sr-only" for="searchOrder">Order by</label>
                <select id="searchOrder" class="form-control-order" name="Order by" size>
                  <option value="Most relevant first">Most relevant first</option>
                  <option value="Most Most">Most Most</option>
                  <option value="Most exclusively">Most exclusively</option>
                  <option value="Most friendly">Most friendly</option>
                </select>
              </div>
            </div>

          </div>

          <!-- List -->
          <div class="row o-search_list">

            <div class="col-mdp-4">
              <div class="o-card -object">
                <a class="o-card_up d-block overflowHidden" href="object.html">
                  <div class="aspectRatio">
                    <!-- Note for DEVs: if there is not featured image use this img src -->
                    <!-- Image variation: 750x562 -->
                    <img class="o-card_img w-100" src="../media/app/placeholder-card.png" alt="Featured image">
                  </div>
                </a>

                <div class="o-card_down">
                  <div class="o-card_price text-uppercase color-white">
                    <div class="o-spinner"></div>
                    <!-- <div class="f-18">349 &euro;</div> -->
                    <div class="o-card_type-duration">2 Nights</div>
                  </div>
                  <h2 class="o-card_title c-ttl"><a href="object.html">El Palauet Living Barcelona</a></h2>

                  <ul class="o-separatedList-normal align-items-center mt-2">
                    <li class="o-separatedList_item o-stars d-flex">
                      <div class="o-icon -star"></div>
                      <div class="o-icon -star"></div>
                      <div class="o-icon -star"></div>
                      <div class="o-icon -star"></div>
                      <div class="o-icon -star"></div>
                    </li>

                    <li class="o-separatedList_item f-14"><strong>8.9</strong></li>

                    <li class="o-separatedList_item f-14"><span class="color-primary font-weight-bold">Exclusively Gay</span></li>
                  </ul>

                   <div class="o-card_amenities d-flex mt-2 white-space-nowrap">
                     Roof Pool,  Spa Treatments,  Turkish Bath,  24 hour Gym, Roof Pool,  Spa Treatments,  Turkish Bath,  24 hour Gym
                   </div>

                </div>
              </div>

            </div>
            <div class="col-mdp-4">
              {% include "html/app/components/objectCard.html" %}
            </div>
            <div class="col-mdp-4">
              {% include "html/app/components/objectCard.html" %}
            </div>
            <div class="col-mdp-4">
              {% include "html/app/components/objectCard.html" %}
            </div>
            <div class="col-mdp-4">
              {% include "html/app/components/objectCard.html" %}
            </div>
            <div class="col-mdp-4">
              {% include "html/app/components/objectCard.html" %}
            </div>
            <div class="col-mdp-4">
              {% include "html/app/components/objectCard.html" %}
            </div>
            <div class="col-mdp-4">
              {% include "html/app/components/objectCard.html" %}
            </div>
            <div class="col-mdp-4">
              {% include "html/app/components/objectCard.html" %}
            </div>
            <div class="col-12">
              {% include "html/app/components/pagination.html" %}
            </div>

          </div>

        </div>
      </div>
      <!-- TAB 2 : Search List STOP -->

      <!-- TAB 1 : Search Map START -->
      <div class="o-search_mapWrapper active" data-tab="tab1">
        {% include "html/app/components/map.html" %}
        <!--
          Note for devX:
          When the user selects the hotel from the map, add class 'active' to this element
        -->
        <div class="o-card -object">
          <div class="close"></div>
          <a class="o-card_up d-block overflowHidden" href="object.html">
            <div class="aspectRatio">
              <!-- Note for DEVs: if there is not featured image use this img src -->
              <!-- Image variation: 750x562 -->
              <img class="o-card_img w-100" src="../media/app/placeholder-card.png" alt="Featured image">
            </div>
          </a>

          <div class="o-card_down">
            <div class="o-card_price text-uppercase color-white">
              <div class="f-18">349 &euro;</div>
              <div class="o-card_type-duration">2 Nights</div>
            </div>
            <h2 class="o-card_title c-ttl"><a href="object.html">El Palauet Living Barcelona</a></h2>

            <ul class="o-separatedList-normal align-items-center mt-2">
              <li class="o-separatedList_item o-stars d-flex">
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
                <div class="o-icon -star"></div>
              </li>

              <li class="o-separatedList_item f-14"><strong>8.9</strong></li>

              <li class="o-separatedList_item f-14"><span class="color-primary font-weight-bold">Exclusively Gay</span></li>
            </ul>

            <div class="o-card_amenities d-flex mt-2 white-space-nowrap">
              Roof Pool,  Spa Treatments,  Turkish Bath,  24 hour Gym, Roof Pool,  Spa Treatments,  Turkish Bath,
              24 hour Gym
            </div>

          </div>
        </div>
      </div>
      <!-- TAB 1 : Search Map STOP -->

    </div>
    <!-- Tabs STOP -->

  </form>
</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
