<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Gay Hotels' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Static page' %}
{% set pageTitleName = 'Static page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}

<!--Define body class-->
{% set bodyClass = 'p-static' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main>

  <div class="o-event_article mb-5">

    <div class="container">
      <div class="row">

        <div class="col-lg-8 pr-lg-5">
          <h2 class="c-ttl c-ttl-search mt-1 mb-3 mt-lg-4">Julia Morgan Ballrom</h2>

          <div class="preformat">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium. Ut vestibulum
              elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam nibh, placerat sed lorem
              at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque arcu. Ut in ipsum et felis interdum
              lobortis.
            </p>
            <p>Nunc vestibulum, ante vel placerat porttitor, augue metus interdum sem, id tempus lorem erat quis lorem. Sed dui
              ligula, vulputate quis leo et, suscipit congue mi. Sed in placerat ex, ac sollicitudin tortor. Praesent in lacus
              ultricies, efficitur nibh vel, tincidunt mi. Nunc rutrum sollicitudin turpis in efficitur. Nunc vestibulum,
              ante vel placerat porttitor, augue metus interdum sem.</p>

            <h2>Subheadline goes here</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium. Ut vestibulum
              elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam nibh, placerat sed lorem
              at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque arcu. Ut in ipsum et felis interdum
              lobortis.
            </p>

            <figure>
              <img src="../media/app/placeholder-card.png" alt="">
              <figcaption>Top sights like Las Ramblas and Plaza Catalunya are short walks away</figcaption>
            </figure>

            <h3>H3 headline goes here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium. Ut vestibulum
              elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam nibh, placerat sed lorem
              at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque arcu. Ut in ipsum et felis interdum
              lobortis.
            </p>

          </div>

          <h2 class="c-ttl c-ttl-sectionSmall mt-5 mb-2">Attachment</h2>
          <ul class="o-attachmentList">
            <li class="o-attachmentList_item">
              <a href="#" title="aimo.pdf">
                <div class="file_name">Agenda.pdf</div>
                <div class="file_size">1.2 MB</div>
              </a>
            </li>
            <li class="o-attachmentList_item">
              <a href="#" title="aimo.png">
                <div class="file_name">Slika.png</div>
                <div class="file_size">1.2 MB</div>
              </a>
            </li>
            <li class="o-attachmentList_item">
              <a href="#" title="aimo.doc">
                <div class="file_name">Aimo.doc</div>
                <div class="file_size">1.2 MB</div>
              </a>
            </li>
          </ul>

          <h2 class="c-ttl c-ttl-sectionSmall mt-5 mb-2">Share this event</h2>
          <div class="o-socialIcons">
            <a class="o-socialIcons_item -facebookReg" href="#"></a>
            <a class="o-socialIcons_item -twitterReg" href="#"></a>
            <a class="o-socialIcons_item -googlePlusReg" href="#"></a>
          </div>
        </div>

        <div class="col-lg-4 pl-lg-4 o-sidebar">

          <div class="o-gallery-normal mt-4">
            {% include "html/app/components/gallery-small.html" %}
          </div>

          <div class="mt-lg-5" data-paste-search></div>

        </div>

      </div>
    </div>

  </div>

</main>

{% include "html/app/components/modal-event.html" %}
{% include "html/app/components/footer.html" %}
{% endblock %}
