<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o.' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Error 404' %}
{% set pageTitleName = 'Error 404' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-message' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main>
  <section>
    <div class="container">
      <div class="row">
        <div class="col">

          <div class="o-message o-message-notFound
              d-flex flex-wrap justify-content-center align-content-between py-4 px-5 text-center">

            <div class="o-message_body o-message_top">
              <h2>Error</h2>

              <strong class="d-block">404</strong>

              <img class="o-message_img my-4 w-100" src="../media/app/404.svg" alt="X">

              <strong class="d-block">It seems that we cannot find the page you are looking for.</strong>
            </div>

            <div class="o-message_body o-message_bot">
              <a class="btn btn-primary" href="index.html">Back to homepage</a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
</main>

{% include "html/app/templates/footer.html" %}
{% endblock %}
