<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o.' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Contact page' %}
{% set pageTitleName = 'Contact page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-contact' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-xl-8">

          <h1 class="c-ttl c-ttl-lgp text-uppercase mt-5 mb-4">Contact us</h1>
          <div class="o-map mb-3">
            <!-- Remove this and add map  -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d89729.90593299073!2d14.426813999999997!3d45.34760995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shr!2shr!4v1463655324258"
              width="100%" height="400px" style="pointer-events: none;" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="row mb-3">

            <!-- Location and contact START -->
            <div class="col-md-4 d-flex pb-3">
              <i class="c-icon c-icon-black c-icon-15 mr-3 mt-2"
                  ><img class="iconic" src="../media/app/home.svg" alt="Home"></i>
              <ul class="o-mainFooter_list lh-1_8 lightWeight">
                <li>Slatinska 55</li>
                <li>53291 Novalja, Island Pag (Croatia)</li>
              </ul>
            </div>

            <div class="col-md-4 d-flex pb-3">
              <i class="c-icon c-icon-black c-icon-a-25 mr-3 mt-2"
                  ><img class="iconic" src="../media/app/tel.svg" alt="Contact"></i>
              <ul class="o-mainFooter_list lh-1_8 lightWeight">
                <li><a class="c-link" href="tel:+385912371804">+385 (0) 91 2371 804</a></li>
                <li><a class="c-link" href="tel:+385051661859">+385 (0) 53 661 859</a></li>
              </ul>
            </div>

            <div class="col-md-4 d-flex pb-3">
              <i class="c-icon c-icon-black c-icon-25-a mr-3 mt-2"
                  ><img class="iconic" src="../media/app/mail.svg" alt="mail"></i>
              <ul class="o-mainFooter_list lh-1_8 boldWeight">
                <li><a class="c-link" href="mailto:info@novaljaturist.com">info@novaljaturist.com</a></li>
              </ul>
            </div>
            <!-- Location and contact STOP -->

          </div>
        </div>
      </div>
    </div>

    <hr class="c-hr">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-xl-8">

          <form action="">
            <fieldset>
              <legend class="sr-only">Contact form</legend>

              <div class="row my-5">

                <div class="col-md-6">
                  <div class='form-group'>
                    <label class='form-label' for='contactFirstName'>First name</label>
                    <input id='contactFirstName'
                        class='form-control'
                        type='text'
                        name='fname'
                        autocomplete='given-name'>
                  </div>
                </div>

                <div class="col-md-6">
                  <!-- Input with error -->
                  <div class='form-group error has-error'>
                    <label class='form-label' for='contactLastName'>Last name</label>
                    <input id='contactLastName'
                        class='form-control'
                        type='text' name='lname'
                        autocomplete='family-name'>
                    <div class="form-error-wrapper">
                      <div class="form-error-message">Field lastName is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class='form-group'>
                    <label class='form-label' for='contactEmail'>Email</label>
                    <input id='contactEmail' class='form-control' type='email' autocomplete='email'>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class='form-group'>
                    <label class='form-label' for='contactCellphone'>Cellphone</label>
                    <input id='contactCellphone' class='form-control' name='cellphone' type='tel' autocomplete='tel'>
                  </div>
                </div>

                <div class="col-12">
                  <div class='form-group'>
                    <label class='form-label' for='contactMessageTitle'>Message title</label>
                    <input id='contactMessageTitle'
                        class='form-control'
                        type='text'
                        name='message title'
                        autocomplete='message title'>
                  </div>
                </div>

                <div class="col-12">
                  <div class='form-group'>
                    <label class='form-label' for='contactMessage'>Message</label>
                    <textarea
                      id='contactMessage'
                      class='form-control'
                      rows="3"
                      placeholder='Type your message...'
                      name='message'></textarea>
                  </div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary btn-wide btn-wide-md mb-5"
                    href="contact-preview.html">Send message</button>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
      </div>
    </div>
  </section>
</main>

{% include "html/app/components/subWeather.html" %}

{% include "html/app/templates/footer.html" %}
{% endblock %}
