<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Homepage' %}
{% set pageTitleName = 'Homepage' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-homepage' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main class="mt-lg-5">

  <div class="container">
    <div class="row">
      <div class="col">

        <!-- ACCOMMODATIONS SECTION -->
        <section class="c-section mt-5 mb-5">
          <h2 class="c-ttl c-ttl-main color-black text-uppercase mt-4 mb-4">top accommodations</h2>

          <div class="row">
            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- ACTION BANNER -->
                  <div class="o-unit_banner absolute bg-promo d-flex align-items-center justify-content-center">%</div>

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- ACTION BANNER -->
                  <div class="o-unit_banner absolute bg-promo d-flex align-items-center justify-content-center">%</div>

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <!-- <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image"> -->
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"
                      alt="placeholder image">
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default  mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight  d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <!-- <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image"> -->
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"
                      alt="placeholder image">
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>
          </div>

          <a href="#" class="btn btn-secondary btn-wide btn-wide-md btn-center mt-3">More accommodations</a>
        </section>

        <!-- NEWS SECTION -->
        <div class="row">
          <div class="col">
            <h2 class="c-ttl c-ttl-main color-black text-uppercase mt-4 mb-4">latest news</h2>
          </div>
        </div>
        <section class="row c-section mb-5">

          <div class="col-lg-4 o-news_wrapper mb-3">

            <article class="o-news mb-3" data-hover-class-scope>
              <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                  ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                  alt="News image" data-hover-class-target></a>

              <a class="d-block" href="news-article.html" data-hover-class-trigger
                  ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                  >why is there so much potato on earth?</h3></a>

              <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

              <!-- NOTE FOR DEVX -->
              <!-- TRUNCATE TEXT TO 180Char -->
              <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would be
                  nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                  bad carb needs and cravings</p>

              <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                  data-hover-class-trigger>Read more</a>
            </article>

          </div>

          <div class="col-lg-4 o-news_wrapper mb-3">

            <article class="o-news mb-3" data-hover-class-scope>
              <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                  ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                  alt="News image" data-hover-class-target></a>

              <a class="d-block" href="news-article.html" data-hover-class-trigger
                  ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                  >why is there so much potato on earth? Cause they are so delicious</h3></a>

              <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

              <!-- NOTE FOR DEVX -->
              <!-- TRUNCATE TEXT TO 180Char -->
              <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would be
                  nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                  bad carb needs and cravings</p>

              <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                  data-hover-class-trigger>Read more</a>
            </article>

          </div>

          <div class="col-lg-4 o-news_wrapper mb-3">

            <article class="o-news mb-3" data-hover-class-scope>
              <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                  ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                  alt="News image" data-hover-class-target></a>

              <a class="d-block" href="news-article.html" data-hover-class-trigger
                  ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                  >why is there so much potato on earth?</h3></a>

              <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

              <!-- NOTE FOR DEVX -->
              <!-- TRUNCATE TEXT TO 180Char -->
              <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would be
                  nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                  bad carb needs and cravings</p>

              <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                  data-hover-class-trigger>Read more</a>
            </article>

          </div>

          <div class="col-lg-4 o-news_wrapper mb-3">

            <article class="o-news mb-3" data-hover-class-scope>
              <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                  ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                  alt="News image" data-hover-class-target></a>

              <a class="d-block" href="news-article.html" data-hover-class-trigger
                  ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                  >why is there so much potato on earth?</h3></a>

              <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

              <!-- NOTE FOR DEVX -->
              <!-- TRUNCATE TEXT TO 180Char -->
              <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would be
                  nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                  bad carb needs and cravings</p>

              <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                  data-hover-class-trigger>Read more</a>
            </article>

          </div>

          <div class="col-lg-4 o-news_wrapper mb-3">

            <article class="o-news mb-3" data-hover-class-scope>
              <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                  ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                  alt="News image" data-hover-class-target></a>

              <a class="d-block" href="news-article.html" data-hover-class-trigger
                  ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                  >why is there so much potato on earth? Cause they are so delicious</h3></a>

              <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

              <!-- NOTE FOR DEVX -->
              <!-- TRUNCATE TEXT TO 180Char -->
              <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would be
                  nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                  bad carb needs and cravings</p>

              <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                  data-hover-class-trigger>Read more</a>
            </article>

          </div>

          <div class="col-lg-4 o-news_wrapper mb-3">

            <article class="o-news mb-3" data-hover-class-scope>
              <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                  ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                  alt="News image" data-hover-class-target></a>

              <a class="d-block" href="news-article.html" data-hover-class-trigger
                  ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                  >why is there so much potato on earth?</h3></a>

              <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

              <!-- NOTE FOR DEVX -->
              <!-- TRUNCATE TEXT TO 180Char -->
              <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would be
                  nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                  bad carb needs and cravings</p>

              <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                  data-hover-class-trigger>Read more</a>
            </article>

          </div>

          <a href="#" class="btn btn-secondary btn-wide btn-wide-md btn-center">More news</a>
        </section>

      </div>
    </div>
  </div>

  <hr class="c-hr">

  <div class="container">
    <div class="row">
      <div class="col">

        <!-- STATIC PAGES SECTION -->
        <section class="c-section mt-5 mb-5">
          <h2 class="sr-only">Informations</h2>

          <div class="row">
            <div class="col-md-6 col-lg-4">

              <a href="static.html">
                <article class="o-statics relative mb-3">
                  <img class="w-100 d-block" src="http://via.placeholder.com/700x500" alt="information image">
                  <h3 class="c-ttl c-ttl-default color-white pt-2 pb-2 pl-2 pr-2">Hire a transfer</h3>
                </article>
              </a>

            </div>

            <div class="col-md-6 col-lg-4">

              <a href="static.html">
                <article class="o-statics relative mb-3">
                  <img class="w-100 d-block" src="http://via.placeholder.com/700x500" alt="information image">
                  <h3 class="c-ttl c-ttl-default color-white pt-2 pb-2 pl-2 pr-2">Top 5 potato shapes everybody wants
                      and needs to have</h3>
                </article>
              </a>

            </div>

            <div class="col-md-6 col-lg-4">

              <a href="static.html">
                <article class="o-statics relative mb-3">
                  <img class="w-100 d-block" src="http://via.placeholder.com/700x500" alt="information image">
                  <h3 class="c-ttl c-ttl-default color-white pt-2 pb-2 pl-2 pr-2">Exchange office</h3>
                </article>
              </a>

            </div>

            <div class="col-md-6 col-lg-4">

              <a href="static.html">
                <article class="o-statics relative mb-3">
                  <img class="w-100 d-block" src="http://via.placeholder.com/700x500" alt="information image">
                  <h3 class="c-ttl c-ttl-default color-white pt-2 pb-2 pl-2 pr-2">Rent a car</h3>
                </article>
              </a>

            </div>

            <div class="col-md-6 col-lg-4">

              <a href="static.html">
                <article class="o-statics relative mb-3">
                  <img class="w-100 d-block" src="http://via.placeholder.com/700x500" alt="information image">
                  <h3 class="c-ttl c-ttl-default color-white pt-2 pb-2 pl-2 pr-2">Top 10 beaches for drinking
                      parties</h3>
                </article>
              </a>

            </div>

            <div class="col-md-6 col-lg-4">

              <a href="static.html">
                <article class="o-statics relative mb-3">
                  <img class="w-100 d-block" src="http://via.placeholder.com/700x500" alt="information image">
                  <h3 class="c-ttl c-ttl-default color-white pt-2 pb-2 pl-2 pr-2">Where to hide yourself during the
                      summer</h3>
                </article>
              </a>

            </div>
          </div>
        </section>

      </div>
    </div>
  </div>

</main>

{% include "html/app/components/subWeather.html" %}

{% include "html/app/components/cookiePolicy.html" %}

{% include "html/app/templates/footer.html" %}
{% endblock %}
