<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o.' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Inquiry' %}
{% set pageTitleName = 'Inquiry' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-inquiry' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main>
  <section class="container">
    <h1 class="sr-only">Inquiry page</h1>
    <div class="row mt-4">

      <div class="col-lg-4 push-lg-8">
        <aside class="my-4">

          <h1 class="c-ttl-default c-link color-secondary boldWeight m-0 d-inline-block"><a class="d-block"
              href="object.html">Apartmani Zdravko</a></h1>

          <ul class="d-flex mt-2 color-grayLighter lightWeight">
            <li><i class="c-icon c-icon-20 mr-2"><img class="iconic" src="../media/app/locationPin.svg"
                alt="Location"></i>Novalja</li>

            <li class="ml-4"><i class="c-icon c-icon-20 mr-2"><img class="iconic"
                src="../media/app/guests-icon.svg" alt="Guests"></i>2-3</li>
          </ul>

          <h2 class="c-ttl-lgp c-ttl text-uppercase lh-1_5 mb-3 boldWeight m-0 d-inline-block"><a class=" d-block"
              href="unit.html">Apartman Zdravko 1</a></h2>

          <!-- Variation: 380x190 -->
          <!-- Note for DEV: -->
          <!-- IF featured image is uploaded -->
          <img class="o-card_image w-100 d-block" src="http://via.placeholder.com/380x190"
              alt="Boats image">
          <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
            <!--<img class="w-100 d-block" src="../media/app/placeholder-image-380x190.png"-->
              <!--alt="Placeholder image">-->

          <ul class="o-sideInfoList">
            <li class="o-sideInfoList_item bg-grayLight lh-2 p-3">
              <h3 class="c-ttl c-ttl-lg text-uppercase my-2">Description</h3>

              <input id="descriptionReadMore" class="o-toggle_trigger" type="checkbox">

              <div class="lightWeight preformat preformat-clean overflowHidden relative">
                <p>Ex voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad
                  habeo ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At
                  cum unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne. Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad habeo
                  ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At cum
                  unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne.Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad
                  habeo ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At
                  cum unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne. Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad habeo
                  ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At cum
                  unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne.</p>
              </div>

              <label class="o-toggle_label c-link" for="descriptionReadMore"
                  ><span class="first">Read more</span><span class="second">Hide</span></label>

            </li>
          </ul>

        </aside>
      </div>

      <div class="col-lg-8 pull-lg-4">
        <form action="">

          <fieldset class="my-4">
            <legend class="c-ttl c-ttl-lgp boldWeight mt-4 mb-3 text-uppercase">Personal information</legend>

            <div class="row">
              <div class="col-12">
                <div class='form-group'>
                  <label class='form-label' for='inqSalutation'>Salutation</label>
                  <select id='inqSalutation' class='form-control' name='salutation'>
                    <option value='1' selected>Mr</option>
                    <option value='2'>Mrs</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqFirstName'>First name</label>
                  <input id='inqFirstName'
                        class='form-control'
                        type='text'
                        name='fname'
                        autocomplete='given-name'>
                </div>
              </div>

              <div class="col-md-6">
                <!-- Input with error -->
                <div class='form-group error has-error'>
                  <label class='form-label' for='inqLastName'>Last name</label>
                  <input id='inqLastName'
                        class='form-control'
                        type='text' name='lname'
                        autocomplete='family-name'>
                  <div class="form-error-wrapper">
                    <div class="form-error-message">Field lastName is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqCountry'>Country</label>
                  <select id='inqCountry' class='form-control' name='country'>
                    <option value='1' selected>Croatian</option>
                    <option value='2'>Germany</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqPostalCode'>ZIP code</label>
                  <input id='inqPostalCode' class='form-control' type='tel' name='zip' autocomplete='postal-code'>
                </div>
              </div>

              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqCity'>City</label>
                  <input id='inqCity'
                      class='form-control'
                      type='text'
                      name='city'
                      autocomplete='address-level2'>
                </div>
              </div>

              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqAddress'>Address</label>
                  <input id='inqAddress'
                      class='form-control'
                      type='text'
                      name='address'
                      autocomplete='street-address'>
                </div>
              </div>

              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqEmail'>Email</label>
                  <input id='inqEmail' class='form-control' type='email' autocomplete='email'>
                </div>
              </div>

              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqCellphone'>Cellphone</label>
                  <input id='inqCellphone' class='form-control' name='cellphone' type='tel' autocomplete='tel'>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="mb-5">
            <legend class="c-ttl c-ttl-lgp boldWeight mt-4 mb-3 text-uppercase">Stay</legend>

            <div class="row">
              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqCheckIn'>Check in</label>
                  <input id='inqCheckIn'
                      class='form-control'
                      type='text'
                      data-datepicker
                      readonly='readonly'>
                </div>
              </div>

              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqCheckOut'>Check out</label>
                  <input id='inqCheckOut'
                      class='form-control'
                      type='text'
                      data-datepicker
                      readonly='readonly'>
                </div>
              </div>

              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqAdults'>Adults</label>
                  <select id='inqAdults' class='form-control' name='adults'>
                    <option value='1' selected>1</option>
                    <option value='2'>2</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class='form-group'>
                  <label class='form-label' for='inqKids'>Kids</label>
                  <select id='inqKids' class='form-control' name='kids'>
                    <option value='1' selected>0</option>
                    <option value='2'>1</option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class='form-group'>
                  <label class='form-label' for='inqChild1'>Child birthday 1</label>
                  <input id='inqChild1'
                      class='form-control'
                      type='text'
                      data-datepicker
                      readonly='readonly'>
                </div>
              </div>

              <div class="col-md-3">
                <div class='form-group'>
                  <label class='form-label' for='inqChild2'>Child birthday 2</label>
                  <input id='inqChild2'
                      class='form-control'
                      type='text'
                      data-datepicker
                      readonly='readonly'>
                </div>
              </div>

              <div class="col-md-3">
                <div class='form-group'>
                  <label class='form-label' for='inqChild3'>Child birthday 3</label>
                  <input id='inqChild3'
                      class='form-control'
                      type='text'
                      data-datepicker
                      readonly='readonly'>
                </div>
              </div>

              <div class="col-md-3">
                <div class='form-group'>
                  <label class='form-label' for='inqChild4'>Child birthday 4</label>
                  <input id='inqChild4'
                      class='form-control'
                      type='text'
                      data-datepicker
                      readonly='readonly'>
                </div>
              </div>

              <div class="col-md-3">
                <div class='form-group'>
                  <label class='form-label' for='inqChild5'>Child birthday 5</label>
                  <input id='inqChild5'
                      class='form-control'
                      type='text'
                      data-datepicker
                      readonly='readonly'>
                </div>
              </div>

              <div class="col-md-3">
                <div class='form-group'>
                  <label class='form-label' for='inqChild6'>Child birthday 6</label>
                  <input id='inqChild6'
                      class='form-control'
                      type='text'
                      data-datepicker
                      readonly='readonly'>
                </div>
              </div>

              <div class="col-md-3">
                <div class='form-group'>
                  <label class='form-label' for='inqChild7'>Child birthday 7</label>
                  <input id='inqChild7'
                      class='form-control'
                      type='text'
                      data-datepicker
                      readonly='readonly'>
                </div>
              </div>

              <div class="col-12">
                <div class='form-group'>
                  <label class='form-label' for='inqMessage'>Note(optional)</label>
                  <textarea
                      id='inqMessage'
                      class='form-control'
                      rows="3"
                      placeholder='Type your message...'
                      name='message'></textarea>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="pr-lg-4">

            <div class="row">

              <div class="col-mdp-6 py-5 relative bg-overlay bg-seaShell">
                <h2 class="c-ttl c-ttl-lgp text-uppercase mb-2">Extra charges</h2>

                <table class="table table-extraCharges table-inquiryPage mt-5">
                  <thead>
                    <tr>
                      <th>Charge</th>
                      <th>Amount</th>
                      <th>Age limit</th>
                      <th>Add</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td data-label="Charge">Lunch</td>
                      <td data-label="Amount">1</td>
                      <td data-label="Age limit">18</td>
                      <td data-label="Add">
                        <select id="pets" class="form-control" name="Lunch">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                        <label class="sr-only" for="pets">Lunch</label>
                      </td>
                    </tr>
                    <tr>
                      <td data-label="Charge">Ironing</td>
                      <td data-label="Amount">-</td>
                      <td data-label="Age limit">-</td>
                      <td data-label="Add">
                        <div class="c-customCheckbox c-customCheckbox-alt">
                          <input id="iron" class="c-customCheckbox_input" type="checkbox">
                          <label class="c-customCheckbox_label" for="iron"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td data-label="Charge">Cleaning</td>
                      <td data-label="Amount">-</td>
                      <td data-label="Age limit">-</td>
                      <td data-label="Add">
                        <div class="c-customCheckbox c-customCheckbox-alt">
                          <input id="clean" class="c-customCheckbox_input" type="checkbox">
                          <label class="c-customCheckbox_label" for="clean"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-mdp-6 py-5 bg-seaShell">
                <h2 class="c-ttl c-ttl-lgp text-uppercase mb-2">Price calculator</h2>

                <table class="table table-priceCalculator table-inquiryPage mt-5 mb-2">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Quantity</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Adults</td>
                      <td data-label="Quantity">2</td>
                      <td data-label="Amount"><span class="price_amount">22.00</span
                          >&nbsp;<span class="price_currency">EUR</span></td>
                    </tr>
                    <tr>
                      <td>Kids</td>
                      <td data-label="Quantity">2</td>
                      <td data-label="Amount"><span class="price_amount">22.00</span
                          >&nbsp;<span class="price_currency">EUR</span></td>
                    </tr>
                    <tr>
                      <td>Adults</td>
                      <td data-label="Quantity">2</td>
                      <td data-label="Amount"><span class="price_amount">22.00</span
                          >&nbsp;<span class="price_currency">EUR</span></td>
                    </tr>
                    <tr>
                      <td>Kids</td>
                      <td data-label="Quantity">2</td>
                      <td data-label="Amount"><span class="price_amount">22.00</span
                          >&nbsp;<span class="price_currency">EUR</span></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Total amount</td>
                      <td></td> <!-- This TD should be empty without whitespaces inside -->
                      <td data-label="Total amount"><span class="price_amount">22.00</span
                          >&nbsp;<span class="price_currency">EUR</span></td>
                    </tr>
                  </tfoot>
                </table>

                <div id="inquiry-details-priceNotAvailable" class="boldWeight">Missing required data for calculation information</div>
              </div>

              <div class="col-12 pb-5 mb-5">
                <ul class="lightWeight lh-2 my-4">
                  <li>
                    <input id="terms" class="c-customCheckbox_input" type="checkbox">
                    <label class="c-customCheckbox_label"
                        for="terms">I agree to Novalja Turist&nbsp;<span
                        class="c-link c-link-underline color-secondary"
                        data-toggle="modal"
                        data-target="#termsOfServiceModal">terms of service</span></label>
                  </li>

                  <li>
                    <input id="subscribeCheck" class="c-customCheckbox_input" type="checkbox">
                    <label class="c-customCheckbox_label"
                        for="subscribeCheck">Subscribe to our newsletter</label>
                  </li>
                </ul>

                <button class="btn btn-primary btn-wide btn-wide-md" href="inquiry-preview.html">Send inquiry</button>
              </div>

            </div>

          </div>

        </form>
      </div>

    </div>
  </section>
</main>

<!-- Modal terms of service -->
<div class="c-modal modal fade" id="termsOfServiceModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Modal title</h3>
      </div>
      <div class="modal-body">
        Text...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-widePad" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% include "html/app/templates/footer.html" %}
{% endblock %}
