<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o.' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Inquiry' %}
{% set pageTitleName = 'Inquiry' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-inquiry' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}


<!-- Notification START -->
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="color-alert-success bg-alert-success bg-overlay bg-overlay-shadow boldWeight relative pr-3
        d-flex align-items-center py-4"><i class="c-icon c-icon-36 mr-3"><img class="iconic"
        src="../media/app/info.svg" alt="Info"></i>Inquiry for accommodation unit White horse suite successful.
        We'll answer you as soon as possible. Thank you!
      </div>
    </div>
  </div>
</div>
<!-- Notification STOP -->

<main>
  <section class="container">
    <h1 class="sr-only">Inquiry preview</h1>
    <div class="row mt-4">

      <div class="col-lg-4 push-lg-8">
        <aside class="mb-4">

          <h1 class="c-ttl-default c-link color-secondary boldWeight m-0 d-inline-block"><a class="d-block"
              href="object.html">Apartmani Zdravko</a></h1>

          <ul class="d-flex mt-2 color-grayLighter lightWeight">
            <li><i class="c-icon c-icon-20 mr-2"><img class="iconic" src="../media/app/locationPin.svg"
                alt="Location"></i>Novalja</li>

            <li class="ml-4"><i class="c-icon c-icon-20 mr-2"><img class="iconic"
                src="../media/app/guests-icon.svg" alt="Guests"></i>2-3</li>
          </ul>

          <h2 class="c-ttl-lgp c-ttl text-uppercase lh-1_5 mb-3 boldWeight m-0 d-inline-block"><a class=" d-block"
              href="unit.html">Apartman Zdravko 1</a></h2>

          <!-- Variation: 380x190 -->
          <!-- Note for DEV: -->
          <!-- IF featured image is uploaded -->
          <img class="o-card_image w-100 d-block" src="http://via.placeholder.com/380x190"
              alt="Boats image">
          <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
            <!--<img class="w-100 d-block" src="../media/app/placeholder-image-380x190.png"-->
              <!--alt="Placeholder image">-->

          <ul class="o-sideInfoList">
            <li class="o-sideInfoList_item bg-grayLight lh-2 p-3">
              <h3 class="c-ttl c-ttl-lg text-uppercase my-2">Description</h3>

              <input id="descriptionReadMore" class="o-toggle_trigger" type="checkbox">

              <div class="lightWeight preformat preformat-clean overflowHidden relative">
                <p>Ex voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad
                  habeo ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At
                  cum unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne. Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad habeo
                  ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At cum
                  unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne.Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad
                  habeo ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At
                  cum unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne. Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad habeo
                  ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At cum
                  unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne.</p>
              </div>

              <label class="o-toggle_label c-link" for="descriptionReadMore"
                  ><span class="first">Read more</span><span class="second">Hide</span></label>

            </li>
          </ul>

        </aside>
      </div>

      <div class="col-lg-8 pull-lg-4 lh-1_5">

        <form action="">

          <fieldset>

            <legend class="c-ttl c-ttl-lgp text-uppercase boldWeight mb-4">Personal data and booking info</legend>

            <div class="row">

              <div class="col-lg-6">
                <strong>Full name</strong>
                <div class="lightWeight">Captain Jack Sparrow</div>
                <br>

                <strong>Full address</strong>
                <div class="lightWeight">Some address 12,<br>
                  Haunted Hill 21000,<br>
                  Croatia</div>
                <br>

                <strong>Email</strong>
                <div class="lightWeight">email@net.hr</div>
                <br>

                <strong>Cellphone</strong>
                <div class="lightWeight">0987654321</div>
                <br>
              </div>

              <div class="col-lg-6">
                <strong>Check in</strong>
                <div class="lightWeight">12-03-2017</div>
                <br>

                <strong>Check out</strong>
                <div class="lightWeight">18-03-2017</div>
                <br>

                <strong>Adults</strong>
                <div class="lightWeight">2</div>
                <br>

                <strong>Kids</strong>
                <div class="lightWeight">1</div>
                <br>
              </div>

              <div class="col-12 pb-5 mb-5">
                <strong>Message</strong>
                <div class="lightWeight">The Kansas City Chiefs have their hometown in Kansas City, Kansas. Many a fan
                  has happily purchased one of the over 79,000 seats at Arrowhead Stadium to watch their favorite team
                  play. Members of the AFC west, the Kansas City Chiefs were founded by Lamar Hunt. The current
                  president of the NFL team is Carl Peterson, and the head coach is Herman Edwards. In their history as
                  a team, the Kansas City Chiefs have been to the playoffs 14 times in their career, but have never made
                  it to the Super Bowl. Yet they do have a lot to make their fans proud and a future ahead of them that
                  has not been written yet. Fans in Kansas and around the country are not ready to give up hope for
                  their favorite team, and wear their Kansas City Chiefs jerseys as proof of their commitment as fans.
                </div>
                <br>
                <a class="btn btn-primary btn-widePad mt-4" href="index.html">Back to homepage</a>
              </div>

            </div>

          </fieldset>

        </form>
      </div>

    </div>
  </section>
</main>

<!-- Modal terms of service -->
<div class="c-modal modal fade" id="termsOfServiceModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Modal title</h3>
      </div>
      <div class="modal-body">
        Text...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-widePad" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% include "html/app/templates/footer.html" %}
{% endblock %}
