<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'News list' %}
{% set pageTitleName = 'News list' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-news' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main>

  <div class="container">
    <div class="row">
      <div class="col">

        <!-- NEWS SECTION -->
        <section class="c-section mb-5">
          <h1 class="sr-only">News</h1>

          <div class="row">

            <div class="col-12">
              <div class="o-newsCategory mb-5">
                <ul class="o-newsCategory_list d-lg-flex">
                  <li class="o-newsCategory_item">
                    <div class="form-group m-0">
                      <label class="sr-only" for="type">News categories</label>
                      <select id="type" class="form-control" name="type">
                        <option value="" disabled selected>Choose a category</option>
                        <option value="any">Any</option>
                        <option value="sport">Sport</option>
                        <option value="culture">Culture</option>
                        <option value="history">History</option>
                      </select>
                    </div>
                  </li>

                  <li class="o-newsCategory_item">
                    <div class="form-group m-0">
                      <button id="submitNewsCategory" class="btn btn-primary btn-block" type="submit">Search</button>
                    </div>
                  </li>
                </ul>
              </div>

            </div>

            <div class="col-lg-4 o-news_wrapper mb-4">

              <article class="o-news mb-3" data-hover-class-scope>
                <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                    ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                    alt="News image" data-hover-class-target></a>

                <a class="d-block" href="news-article.html" data-hover-class-trigger
                    ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                    >why is there so much potato on earth?</h3></a>

                <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

                <!-- NOTE FOR DEVX -->
                <!-- TRUNCATE TEXT TO 180Char -->
                <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would
                    be nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                    bad carb needs and cravings</p>

                <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                    data-hover-class-trigger>Read more</a>
              </article>

            </div>

            <div class="col-lg-4 o-news_wrapper mb-4">

              <article class="o-news mb-3" data-hover-class-scope>
                <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                    ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                    alt="News image" data-hover-class-target></a>

                <a class="d-block" href="news-article.html" data-hover-class-trigger
                    ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                    >why is there so much potato on earth? Cause they are so delicious</h3></a>

                <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

                <!-- NOTE FOR DEVX -->
                <!-- TRUNCATE TEXT TO 180Char -->
                <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would
                    be nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                    bad carb needs and cravings</p>

                <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                    data-hover-class-trigger>Read more</a>
              </article>

            </div>

            <div class="col-lg-4 o-news_wrapper mb-4">

              <article class="o-news mb-3" data-hover-class-scope>
                <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                    ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                    alt="News image" data-hover-class-target></a>

                <a class="d-block" href="news-article.html" data-hover-class-trigger
                    ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                    >why is there so much potato on earth?</h3></a>

                <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

                <!-- NOTE FOR DEVX -->
                <!-- TRUNCATE TEXT TO 180Char -->
                <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would
                    be nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                    bad carb needs and cravings</p>

                <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                    data-hover-class-trigger>Read more</a>
              </article>

            </div>

            <div class="col-lg-4 o-news_wrapper mb-4">

              <article class="o-news mb-3" data-hover-class-scope>
                <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                    ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                    alt="News image" data-hover-class-target></a>

                <a class="d-block" href="news-article.html" data-hover-class-trigger
                    ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                    >why is there so much potato on earth?</h3></a>

                <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

                <!-- NOTE FOR DEVX -->
                <!-- TRUNCATE TEXT TO 180Char -->
                <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would
                    be nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                    bad carb needs and cravings</p>

                <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                    data-hover-class-trigger>Read more</a>
              </article>

            </div>

            <div class="col-lg-4 o-news_wrapper mb-4">

              <article class="o-news mb-3" data-hover-class-scope>
                <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                    ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                    alt="News image" data-hover-class-target></a>

                <a class="d-block" href="news-article.html" data-hover-class-trigger
                    ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                    >why is there so much potato on earth? Cause they are so delicious</h3></a>

                <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

                <!-- NOTE FOR DEVX -->
                <!-- TRUNCATE TEXT TO 180Char -->
                <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would
                    be nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                    bad carb needs and cravings</p>

                <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                    data-hover-class-trigger>Read more</a>
              </article>

            </div>

            <div class="col-lg-4 o-news_wrapper mb-4">

              <article class="o-news mb-3" data-hover-class-scope>
                <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                    ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                    alt="News image" data-hover-class-target></a>

                <a class="d-block" href="news-article.html" data-hover-class-trigger
                    ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                    >why is there so much potato on earth?</h3></a>

                <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

                <!-- NOTE FOR DEVX -->
                <!-- TRUNCATE TEXT TO 180Char -->
                <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would
                    be nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                    bad carb needs and cravings</p>

                <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                    data-hover-class-trigger>Read more</a>
              </article>

            </div>

            <div class="col-lg-4 o-news_wrapper mb-4">

              <article class="o-news mb-3" data-hover-class-scope>
                <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                    ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                    alt="News image" data-hover-class-target></a>

                <a class="d-block" href="news-article.html" data-hover-class-trigger
                    ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                    >why is there so much potato on earth?</h3></a>

                <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

                <!-- NOTE FOR DEVX -->
                <!-- TRUNCATE TEXT TO 180Char -->
                <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would
                    be nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                    bad carb needs and cravings</p>

                <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                    data-hover-class-trigger>Read more</a>
              </article>

            </div>

            <div class="col-lg-4 o-news_wrapper mb-4">

              <article class="o-news mb-3" data-hover-class-scope>
                <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                    ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                    alt="News image" data-hover-class-target></a>

                <a class="d-block" href="news-article.html" data-hover-class-trigger
                    ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                    >why is there so much potato on earth? Cause they are so delicious</h3></a>

                <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

                <!-- NOTE FOR DEVX -->
                <!-- TRUNCATE TEXT TO 180Char -->
                <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would
                    be nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                    bad carb needs and cravings</p>

                <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                    data-hover-class-trigger>Read more</a>
              </article>

            </div>

            <div class="col-lg-4 o-news_wrapper mb-4">

              <article class="o-news mb-3" data-hover-class-scope>
                <a class="d-block overflowHidden mb-3" href="news-article.html" data-hover-class-trigger
                    ><img class="w-100 d-block o-news_img" src="http://via.placeholder.com/590x320"
                    alt="News image" data-hover-class-target></a>

                <a class="d-block" href="news-article.html" data-hover-class-trigger
                    ><h3 class="c-ttl c-ttl-f18 text-uppercase font-weight-bold"
                    >why is there so much potato on earth?</h3></a>

                <div class="color-grayLight lightWeight">Potato category &nbsp;&bull;&nbsp; 13.06.2018</div>

                <!-- NOTE FOR DEVX -->
                <!-- TRUNCATE TEXT TO 180Char -->
                <p class="lightWeight color-grayDarker mt-2 mb-2 lh-1_5">Potatoes mean life, and without them we would
                    be nothing. Here are the top 10 places to find a fully ripe potato which will satisfy your everyday
                    bad carb needs and cravings</p>

                <a class="c-link font-weight-bold color-secondary" href="news-article.html"
                    data-hover-class-trigger>Read more</a>
              </article>

            </div>

            <!-- Pagination START -->
            <nav class="o-pagination bg-white text-center my-5 w-100 col">
              <h1 class="sr-only">Pagination</h1>
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1"><span class="hidden-md-down">Previous</span
                    ><span class="hidden-mdp-up"><i class="c-icon c-icon-25 c-icon-white c-icon-lh-0"
                    ><img class="iconic" src="../media/app/custom-arrow.svg" alt="Arrow"></i></span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><span class="hidden-md-down">Next</span
                    ><span class="hidden-mdp-up"><i class="c-icon c-icon-25 c-icon-white c-icon-lh-0"
                    ><img class="iconic" src="../media/app/custom-arrow.svg" alt="Arrow"></i></span></a>
                </li>
              </ul>
            </nav>
            <!-- Pagination STOP -->

        </section>

      </div>
    </div>
  </div>

</main>

{% include "html/app/components/subWeather.html" %}

{% include "html/app/templates/footer.html" %}
{% endblock %}
