<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Object page' %}
{% set pageTitleName = 'Object page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-object' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main>

  <section>

    <!-- VARIATION: 1400x790 -->
    <div class="o-object_img" style="background-image: url('http://placehold.it/1400x790')">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col d-flex o-object_galleryBtn" data-custom-gallery-scope>
            <div class="btn btn-secondary" data-custom-gallery-trigger>View gallery</div>

            <!-- Hidden gallery which triggers on button "View gallery" -->
            <ul class="d-none" data-gallery data-custom-gallery-list>
              <li>
                <a href="https://placehold.it/1400x790" data-galleryItem>
                  <img src="https://placehold.it/1400x790" alt="Gallery image">
                </a>
              </li>

              <li>
                <a href="https://placehold.it/1400x790" data-galleryItem>
                  <img src="https://placehold.it/1400x790" alt="Gallery image">
                </a>
              </li>

              <li>
                <a href="https://placehold.it/1400x790" data-galleryItem>
                  <img src="https://placehold.it/1400x790" alt="Gallery image">
                </a>
              </li>

              <li>
                <a href="https://placehold.it/1400x790" data-galleryItem>
                  <img src="https://placehold.it/1400x790" alt="Gallery image">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        
        <div class="col-lg-8">
          
          <ul class="o-object_location lightWeight text-capitalize mb-1">
            <li class="o-object_location_item mr-1">
              <i class="c-icon c-icon-grayLight c-icon-18 mr-1">
                <img class="iconic" src="../media/app/location.svg" alt="location"></i>novalja
            </li>
          </ul>
          <h2 class="c-ttl c-ttl-main color-lighterBlack text-uppercase mb-4">Apartmani zdravko</h2>

          <!-- ACTIONS -->
          <section class="c-section">
            <h2 class="sr-only">Actions</h2>

            <ul class="o-action overflowHidden">
              
              <li class="o-action_item color-white bg-promo" data-action-scope>
                <div class="o-action_item_wrapper relative d-block" data-action-trigger>
                  <div class="o-action_body">
                    <h4 class="c-ttl c-ttl-f18 text-uppercase mb-1">last minute</h4>
                    <div class="o-action_price absolute c-ttl-f18 text-uppercase">43% off</div>
                    <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
                      <li class="o-action_info_item d-block relative">From: 12.06 to 22.06.2017</li>
                      <li class="o-action_info_item d-block relative">Minimum stay: 4 days</li>
                      <li class="o-action_info_item d-block relative">Valid till: 30.06.2017</li>
                    </ul>
                    <div class="o-action_icon absolute"></div>
                  </div>
                </div>
                <ul class="o-action_details bg-promo-light lh-1_5">
                  <li class="o-action_details_item color-txt lightWeight">Applies to:</li>
                  <li class="o-action_details_item color-black"><a class="c-link font-weight-bold" 
                      href="unit.html">Apartment NELICA AP 1</a></li>
                  <li class="o-action_details_item color-black"><a class="c-link font-weight-bold" 
                      href="unit.html">Apartment NELICA AP 1</a></li>
                </ul>
              </li>

              <li class="o-action_item color-white bg-promo" data-action-scope>
                <div class="o-action_item_wrapper relative d-block" data-action-trigger>
                  <div class="o-action_body">
                    <h4 class="c-ttl c-ttl-f18 text-uppercase mb-1">last minute</h4>
                    <div class="o-action_price absolute c-ttl-f18 text-uppercase">43% off</div>
                    <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
                      <li class="o-action_info_item relative">From: 12.06 to 22.06.2017</li>
                      <li class="o-action_info_item relative">Minimum stay: 4 days</li>
                      <li class="o-action_info_item relative">Valid till: 30.06.2017</li>
                    </ul>
                    <div class="o-action_icon absolute"></div>
                  </div>
                </div>
                <ul class="o-action_details bg-promo-light lh-1_5">
                  <li class="o-action_details_item color-txt lightWeight">Applies to:</li>
                  <li class="o-action_details_item color-black"><a class="c-link font-weight-bold" 
                      href="unit.html">Apartment NELICA AP 1</a></li>
                  <li class="o-action_details_item color-black"><a class="c-link font-weight-bold" 
                      href="unit.html">Apartment NELICA AP 1</a></li>
                </ul>
              </li>

              <li class="o-action_item color-white bg-promo" data-action-scope>
                <div class="o-action_item_wrapper relative d-block" data-action-trigger>
                  <div class="o-action_body">
                    <h4 class="c-ttl c-ttl-f18 text-uppercase mb-1">last minute</h4>
                    <div class="o-action_price absolute c-ttl-f18 text-uppercase">43% off</div>
                    <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
                      <li class="o-action_info_item relative">From: 12.06 to 22.06.2017</li>
                      <li class="o-action_info_item relative">Minimum stay: 4 days</li>
                      <li class="o-action_info_item relative">Valid till: 30.06.2017</li>
                    </ul>
                    <div class="o-action_icon absolute"></div>
                  </div>
                </div>
                <ul class="o-action_details bg-promo-light lh-1_5">
                  <li class="o-action_details_item color-txt lightWeight">Applies to:</li>
                  <li class="o-action_details_item color-black"><a class="c-link font-weight-bold" 
                      href="unit.html">Apartment NELICA AP 1</a></li>
                  <li class="o-action_details_item color-black"><a class="c-link font-weight-bold" 
                      href="unit.html">Apartment NELICA AP 1</a></li>
                </ul>
              </li>

              <li class="o-action_item color-white bg-promo" data-action-scope>
                <div class="o-action_item_wrapper relative d-block" data-action-trigger>
                  <div class="o-action_body">
                    <h4 class="c-ttl c-ttl-f18 text-uppercase mb-1">last minute</h4>
                    <div class="o-action_price absolute c-ttl-f18 text-uppercase">43% off</div>
                    <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
                      <li class="o-action_info_item relative">From: 12.06 to 22.06.2017</li>
                      <li class="o-action_info_item relative">Minimum stay: 4 days</li>
                      <li class="o-action_info_item relative">Valid till: 30.06.2017</li>
                    </ul>
                    <div class="o-action_icon absolute"></div>
                  </div>
                </div>
                <ul class="o-action_details bg-promo-light lh-1_5">
                  <li class="o-action_details_item color-txt lightWeight">Applies to:</li>
                  <li class="o-action_details_item color-black"><a class="c-link font-weight-bold" 
                      href="unit.html">Apartment NELICA AP 1</a></li>
                  <li class="o-action_details_item color-black"><a class="c-link font-weight-bold" 
                      href="unit.html">Apartment NELICA AP 1</a></li>
                </ul>
              </li>

            </ul>
          </section>

        </div>

        <div class="col-lg-4 o-object_description-wrapper">
          
          <!-- DESCRIPTION -->
          <div class="bg-grayLight p-4 px-4 lh-1_5 o-object_description" 
              data-sticky-jquery data-sticky-jquery-offset="40">
            <h3 class="c-ttl c-ttl-smp text-uppercase mb-2">Description</h3>
            <div class="preformat lightWeight">
              <p>I was born and raised in the heart of the Deep South. From as far back as I can remember I remember
                long summer afternoons spent drinking iced tea and shelling peas and butterbeans on my grandmother’s 
                porch. I was born and raised in the heart of the Deep South. From as far back as I can remember I remember
                long summer afternoons spent drinking iced tea and shelling peas and butterbeans on my grandmother’s 
                porch. I was born and raised in the heart of the Deep South. From as far back as I can remember I remember
                long summer afternoons spent drinking iced tea and shelling peas and butterbeans on my grandmother’s 
                porch. I was born and raised in the heart of the Deep South. From as far back as I can remember I remember
                long summer afternoons spent drinking iced tea and shelling peas and butterbeans on my grandmother’s 
                porch. I was born and raised in the heart of the Deep South. From as far back as I can remember I remember
                long summer afternoons spent drinking iced tea and shelling peas and butterbeans on my grandmother’s 
                porch.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-8">

          <!-- DISTANCES -->
          <section class="c-section mt-5">
            <h2 class="c-ttl c-ttl-lg color-lighterBlack text-uppercase mb-4">Distances</h2>

            <ul class="o-attributesList d-flex flex-wrap">

              <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/distances/airport.svg" alt="airport"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Airport</div>200m
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/distances/ambulance.svg" alt="ambulance"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Ambulance</div>200m
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/distances/city.svg" alt="city"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>City center</div>200m
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/distances/airport.svg" alt="airport"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Airport</div>200m
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/distances/beach.svg" alt="beach"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Beach</div>200m
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/distances/airport.svg" alt="airport"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Airport</div>200m
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/distances/beach.svg" alt="beach"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Beach</div>200m
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/distances/beach.svg" alt="beach"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Beach</div>200m
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/distances/airport.svg" alt="airport"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Airport</div>200m
                </div>
              </li>

            </ul>
          </section>

          <!-- AMENITIES -->
          <section class="c-section mt-5">
            <h2 class="c-ttl c-ttl-lg color-lighterBlack text-uppercase mb-4">Amenities</h2>

            <ul class="o-attributesList d-flex flex-wrap">

              <li class="o-attributesList_item mb-3 d-flex flex-start">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Air conditioning</div>
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/amenities/balcony.svg" alt="balcony"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Balcony</div>
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Bedroom</div>
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/amenities/bed.svg" alt="bed"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Double bed</div>
                </div>
              </li>

              <li class="o-attributesList_item mb-3 d-flex flex-start">
                <div class="o-attributesList_img mr-3">
                  <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                    src="../media/attributes/amenities/pets.svg" alt="pets"></i>
                </div>
                <div class="o-attributesList_info lightWeight">
                  <div>Pet friendly</div>
                </div>
              </li>

            </ul>
          </section>

        </div>

      </div>
    
      <div class="row" data-sticky-jquery-offset-item>
        <div class="col">
          
          <!-- MAP -->
          <div id="map" class="c-map mt-5">
            <!-- Remove this and add map  -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d89729.90593299073!2d14.426813999999997!3d45.34760995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shr!2shr!4v1463655324258"
              width="100%" height="100%" style="pointer-events: none;" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

        </div>
      </div>

      <!-- RELAED UNITS TO THIS OBJECT -->
      <section class="c-section mt-5" data-sticky-jquery-offset-item>
        <h2 class="c-ttl c-ttl-lg color-lighterBlack text-uppercase mb-4">Other units in this accommodation</h2>

        <div class="row">
          
          <div class="col-mdp-6 col-lg-3">

            <article class="o-unit relative mb-3">
              <a href="object.html">

                <!-- UNIT IMG -->
                <!-- IF UPLOADED = VARIATION: 600x350 -->
                <div class="o-unit_img">
                  <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                  <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                  <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                    <!--alt="Placeholder image">-->
                </div>

                <!-- UNIT INFO -->
                <div class="o-unit_body px-1">
                  
                  <!-- UNIT RATING -->
                  <ul class="c-stars mt-2">
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                  </ul>

                  <!-- UNIT NAME -->
                  <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                  <!-- UNIT ADDITIONAL INFO -->
                  <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                        alt="apartment"></i>apartment
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                        alt="guests"></i>2-5
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                        alt="location"></i>novalja
                    </li>
                  </ul>

                  <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false"
                        title="Air condition"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Balcony"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bathroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bed"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bedroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Pets"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                </div>

              </a>
            </article>

          </div>

          <div class="col-mdp-6 col-lg-3">

            <article class="o-unit relative mb-3">
              <a href="object.html">

                <!-- UNIT IMG -->
                <!-- IF UPLOADED = VARIATION: 600x350 -->
                <div class="o-unit_img">
                  <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                  <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                  <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                    <!--alt="Placeholder image">-->
                </div>

                <!-- UNIT INFO -->
                <div class="o-unit_body px-1">
                  
                  <!-- UNIT RATING -->
                  <ul class="c-stars mt-2">
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                  </ul>

                  <!-- UNIT NAME -->
                  <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                  <!-- UNIT ADDITIONAL INFO -->
                  <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                        alt="apartment"></i>apartment
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                        alt="guests"></i>2-5
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                        alt="location"></i>novalja
                    </li>
                  </ul>

                  <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false"
                        title="Air condition"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Balcony"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bathroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bed"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bedroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Pets"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                </div>

              </a>
            </article>

          </div>

          <div class="col-mdp-6 col-lg-3">

            <article class="o-unit relative mb-3">
              <a href="object.html">

                <!-- UNIT IMG -->
                <!-- IF UPLOADED = VARIATION: 600x350 -->
                <div class="o-unit_img">
                  <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                  <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                  <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                    <!--alt="Placeholder image">-->
                </div>

                <!-- UNIT INFO -->
                <div class="o-unit_body px-1">
                  
                  <!-- UNIT RATING -->
                  <ul class="c-stars mt-2">
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                  </ul>

                  <!-- UNIT NAME -->
                  <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                  <!-- UNIT ADDITIONAL INFO -->
                  <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                        alt="apartment"></i>apartment
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                        alt="guests"></i>2-5
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                        alt="location"></i>novalja
                    </li>
                  </ul>

                  <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false"
                        title="Air condition"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Balcony"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bathroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bed"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bedroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Pets"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                </div>

              </a>
            </article>

          </div>

          <div class="col-mdp-6 col-lg-3">

            <article class="o-unit relative mb-3">
              <a href="object.html">

                <!-- UNIT IMG -->
                <!-- IF UPLOADED = VARIATION: 600x350 -->
                <div class="o-unit_img">
                  <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                  <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                  <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                    <!--alt="Placeholder image">-->
                </div>

                <!-- UNIT INFO -->
                <div class="o-unit_body px-1">
                  
                  <!-- UNIT RATING -->
                  <ul class="c-stars mt-2">
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                  </ul>

                  <!-- UNIT NAME -->
                  <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                  <!-- UNIT ADDITIONAL INFO -->
                  <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                        alt="apartment"></i>apartment
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                        alt="guests"></i>2-5
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                        alt="location"></i>novalja
                    </li>
                  </ul>

                  <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false"
                        title="Air condition"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Balcony"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bathroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bed"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bedroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Pets"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                </div>

              </a>
            </article>

          </div>
          
          <div class="col-mdp-6 col-lg-3">

            <article class="o-unit relative mb-3">
              <a href="object.html">

                <!-- UNIT IMG -->
                <!-- IF UPLOADED = VARIATION: 600x350 -->
                <div class="o-unit_img">
                  <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                  <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                  <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                    <!--alt="Placeholder image">-->
                </div>

                <!-- UNIT INFO -->
                <div class="o-unit_body px-1">
                  
                  <!-- UNIT RATING -->
                  <ul class="c-stars mt-2">
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                  </ul>

                  <!-- UNIT NAME -->
                  <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                  <!-- UNIT ADDITIONAL INFO -->
                  <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                        alt="apartment"></i>apartment
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                        alt="guests"></i>2-5
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                        alt="location"></i>novalja
                    </li>
                  </ul>

                  <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false"
                        title="Air condition"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Balcony"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bathroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bed"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bedroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Pets"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                </div>

              </a>
            </article>

          </div>

          <div class="col-mdp-6 col-lg-3">

            <article class="o-unit relative mb-3">
              <a href="object.html">

                <!-- ACTION BANNER -->
                <div class="o-unit_banner absolute bg-promo d-flex align-items-center justify-content-center">%</div>

                <!-- UNIT IMG -->
                <!-- IF UPLOADED = VARIATION: 600x350 -->
                <div class="o-unit_img">
                  <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                  <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                  <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                    <!--alt="Placeholder image">-->
                </div>

                <!-- UNIT INFO -->
                <div class="o-unit_body px-1">
                  
                  <!-- UNIT RATING -->
                  <ul class="c-stars mt-2">
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                  </ul>

                  <!-- UNIT NAME -->
                  <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                  <!-- UNIT ADDITIONAL INFO -->
                  <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                        alt="apartment"></i>apartment
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                        alt="guests"></i>2-5
                    </li>
                    <li class="c-info_item">
                      <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                        alt="location"></i>novalja
                    </li>
                  </ul>

                  <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false"
                        title="Air condition"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Balcony"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bathroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bed"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Bedroom"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" data-animation="false" 
                        title="Pets"><i class="c-icon c-icon-20"><img class="iconic" 
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                </div>

              </a>
            </article>

          </div>

        </div>

      </section>

    </div>

  </section>

</main>

<!-- SUBWEATHER -->
{% include "html/app/components/subWeather.html" %}

{% include "html/app/templates/footer.html" %}
{% endblock %}
