<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o.' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Offer page' %}
{% set pageTitleName = 'Offer page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-offer' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main>
  <section class="container">
    <h1 class="sr-only">Offer page</h1>
    <div class="row mt-4">

      <div class="col-lg-4 push-lg-8">
        <aside class="o-sidebar my-4">

          <h1 class="c-ttl-default c-link color-secondary boldWeight m-0 d-inline-block"><a class="d-block"
              href="object.html">Apartmani Zdravko</a></h1>

          <ul class="d-flex mt-2 color-grayLighter lightWeight">
            <li><i class="c-icon c-icon-20 mr-2"><img class="iconic" src="../media/app/locationPin.svg"
                alt="Location"></i>Novalja</li>

            <li class="ml-4"><i class="c-icon c-icon-20 mr-2"><img class="iconic"
                src="../media/app/guests-icon.svg" alt="Guests"></i>2-3</li>
          </ul>

          <h2 class="c-ttl-lgp c-ttl text-uppercase lh-1_5 mb-3 boldWeight m-0 d-inline-block"><a class=" d-block"
              href="unit.html">Apartman Zdravko 1</a></h2>

          <!-- Variation: 380x190 -->
          <!-- Note for DEV: -->
          <!-- IF featured image is uploaded -->
            <img class="o-card_image w-100 d-block" src="http://via.placeholder.com/380x190"
              alt="Boats image">
          <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
            <!--<img class="w-100 d-block" src="../media/app/placeholder-image-380x190.png"-->
              <!--alt="Placeholder image">-->

          <ul class="o-sideInfoList">
            <li class="o-sideInfoList_item bg-grayLight lh-2 p-3">
              <h3 class="c-ttl c-ttl-lg text-uppercase my-2">Description</h3>

              <input id="descriptionReadMore" class="o-toggle_trigger" type="checkbox">

              <div class="lightWeight preformat preformat-clean overflowHidden relative">
                <p>Ex voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad
                  habeo ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At
                  cum unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne. Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad habeo
                  ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At cum
                  unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne.Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad
                  habeo ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At
                  cum unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne. Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad habeo
                  ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At cum
                  unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne.</p>
              </div>

              <label class="o-toggle_label c-link" for="descriptionReadMore"
                  ><span class="first">Read more</span><span class="second">Hide</span></label>

            </li>
          </ul>

        </aside>
      </div>

      <div class="col-lg-8 pull-lg-4">
        <h1 class="c-ttl c-ttl-lgp text-uppercase mt-4">Personal data and booking info</h1>

        <div class="row my-5 lh-1_8">
          <div class="col-lg-6">
            <strong>Full name</strong>
            <div class="lightWeight mb-2">Captain Jack Sparrow</div>

            <strong>Full address</strong>
            <div class="lightWeight mb-2">Some address 12,<br>
              Haunted Hill 21000,<br>
              Croatia</div>

            <strong>Email</strong>
            <div class="lightWeight mb-2">email@net.hr</div>

            <strong>Cellphone</strong>
            <div class="lightWeight mb-2">0987654321</div>
          </div>

          <div class="col-lg-6">
            <strong>Check in</strong>
            <div class="lightWeight mb-2">12-03-2017</div>

            <strong>Check out</strong>
            <div class="lightWeight mb-2">18-03-2017</div>

            <strong>Adults</strong>
            <div class="lightWeight mb-2">2</div>

            <strong>Kids</strong>
            <div class="lightWeight mb-2">1</div>
          </div>

          <div class="col-12 mt-3">
            <strong>Message</strong>
            <div class="lightWeight">The Kansas City Chiefs have their hometown in Kansas City, Kansas. Many a fan has happily purchased
              one of the over 79,000 seats at Arrowhead Stadium to watch their favorite team play. Members of the AFC
              west, the Kansas City Chiefs were founded by Lamar Hunt. The current president of the NFL team is Carl
              Peterson, and the head coach is Herman Edwards. In their history as a team, the Kansas City Chiefs have
              been to the playoffs 14 times in their career, but have never made it to the Super Bowl. Yet they do
              have a lot to make their fans proud and a future ahead of them that has not been written yet. Fans in
              Kansas and around the country are not ready to give up hope for their favorite team, and wear their
              Kansas City Chiefs jerseys as proof of their commitment as fans.
            </div>
            <br>
          </div>

          <div class="col-12">
            <table class="table table-offer">

              <tbody>
                <tr>
                  <td colspan="2">Basic price</td>
                </tr>
                <tr>
                  <td>Apartmani Zoran Studio 1</td>
                  <td>100.00 EUR</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td colspan="2">Mandatory charges</td>
                </tr>
                <tr>
                  <td>Booking fee</td>
                  <td>2.00 EUR</td>
                </tr>
                <tr>
                  <td>Parking fee</td>
                  <td>12.00 EUR</td>
                </tr>
                <tr>
                  <td>Registration fee</td>
                  <td>23.00 EUR</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td colspan="2">Optional charges</td>
                </tr>
                <tr>
                  <td>Something something</td>
                  <td>2.00 EUR</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td colspan="2">Short stay charges</td>
                </tr>
                <tr>
                  <td>Less than 4 days</td>
                  <td>233.00 EUR</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td colspan="2">Discounts</td>
                </tr>
                <tr>
                  <td>Baby discount</td>
                  <td>33.00 EUR</td>
                </tr>
                <tr>
                  <td>Pet discount</td>
                  <td>3.00 EUR</td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <td colspan="2">Action</td>
                </tr>
                <tr>
                  <td>Pay 5 get 7 days</td>
                  <td>22.21 EUR</td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <td>Total</td>
                  <td>127.00 EUR</td>
                </tr>
              </tfoot>

            </table>
          </div>

          <div class="col-md-6">
            <table class="table table-offer table-advancedPayment">
              <tbody>
                <tr>
                  <td colspan="2">Advanced payment</td>
                </tr>
                <tr>
                  <td>Until 25.01.2017.</td>
                  <td>100.00 EUR</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-offer table-advancedPayment">
              <tbody>
                <tr>
                  <td colspan="2">Remaining payment</td>
                </tr>
                <tr>
                  <td>Until 29.01.2017.</td>
                  <td>99.99 EUR</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-12">
            <div class="boldWeight my-3">Offer valid until <strong>20.04.2017.</strong></div>
            <a class="btn btn-primary btn-wide btn-wide-md mb-5" href="../html-pdf/payment.html">Book and pay</a>
          </div>

        </div>
      </div>

    </div>
  </section>
</main>

<!-- Modal terms of service -->
<div class="c-modal modal fade" id="termsOfServiceModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Modal title</h3>
      </div>
      <div class="modal-body">
        Text...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-widePad" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% include "html/app/templates/footer.html" %}
{% endblock %}
