<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Payment credit card' %}
{% set pageTitleName = 'Payment credit card' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-paymentCC' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main>

  <div class="container">
    <div class="row mt-5">

      <div class="col-lg-4 push-lg-8">
        <aside class="o-sidebar my-4">

          <h1 class="c-ttl-default c-link color-secondary boldWeight m-0 d-inline-block"><a class="d-block"
              href="object.html">Apartmani Zdravko</a></h1>

          <ul class="d-flex mt-2 color-grayLighter lightWeight">
            <li><i class="c-icon c-icon-20 mr-2"><img class="iconic" src="../media/app/locationPin.svg"
                alt="Location"></i>Novalja</li>

            <li class="ml-4"><i class="c-icon c-icon-20 mr-2"><img class="iconic"
                src="../media/app/guests-icon.svg" alt="Guests"></i>2-3</li>
          </ul>

          <h2 class="c-ttl-lgp c-ttl text-uppercase lh-1_5 mb-3 boldWeight m-0 d-inline-block"><a class=" d-block"
              href="unit.html">Apartman Zdravko 1</a></h2>

          <!-- Variation: 380x190 -->
          <!-- Note for DEV: -->
          <!-- IF featured image is uploaded -->
            <img class="o-card_image w-100 d-block" src="http://via.placeholder.com/380x190"
              alt="Boats image">
          <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
            <!--<img class="w-100 d-block" src="../media/app/placeholder-image-380x190.png"-->
              <!--alt="Placeholder image">-->

          <ul class="o-sideInfoList">
            <li class="o-sideInfoList_item bg-grayLight lh-2 p-3">
              <h3 class="c-ttl c-ttl-lg text-uppercase my-2">Description</h3>

              <input id="descriptionReadMore" class="o-toggle_trigger" type="checkbox">

              <div class="lightWeight preformat preformat-clean overflowHidden relative">
                <p>Ex voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad
                  habeo ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At
                  cum unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne. Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad habeo
                  ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At cum
                  unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne.Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad
                  habeo ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At
                  cum unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne. Ex
                  voluptaria dissentias vim, id impetus petentium nam. Te nobis prompta appellantur vis, ad habeo
                  ignota cum, sea tota aperiam ne. Sea tritani intellegam at, no clita consequuntur mei. At cum
                  unum eirmod intellegebat, nam enim euripidis at. Ea verear imperdiet vis, quod amet vim ne.</p>
              </div>

              <label class="o-toggle_label c-link" for="descriptionReadMore"
                  ><span class="first">Read more</span><span class="second">Hide</span></label>

            </li>
          </ul>
        </aside>
      </div>

      <div class="col-lg-8 pull-lg-4">

        <hr class="c-hr-toPay pb-4">

        <div class="row">
          <div class="col-md-7 c-ttl-sm">
            <div class="o-toPay mb-2 pb-2 boldWeight">1 person from 21.12.2016. till 22.12.2016.</div>
            <table class="w-100 boldWeight">
              <tbody>
                <tr>
                  <td>To pay:</td>
                  <td class="text-right">= 6.00 EUR (partial)</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="text-right">= 40.00 HRK (partial)</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="preformat lightWeight pb-3 mt-4">
          <p>All payments will be effected in Croatian currency. The amount your credit card account will be charged
            for is obtained through the conversion of the price in Euro into Croatian kuna according to the current
            exchange rate of the Croatian National bank. When charging your credit card, the same amount is converted
            into your local currency according to the exchange rate of credit card associations. As a result of this
            conversion there is a possibility of a slight difference from the original price stated in our web
            site.</p>
        </div>

        <hr class="c-hr-toPay">

        <div class="preformat lightWeight mt-4 pt-3">
          <p>You will be redirected to wsPay™ payment page where you will be asked to enter payment information
            required to complete the purchase.</p>
        </div>

        <a class="btn btn-primary btn-wide btn-wide-lg mt-2 mb-5" href="../html-pdf/payment.html">Complete payment</a>

        <div class="preformat lightWeight">
          <p>Personal and credit card data entries and transfers are protected by the 128-bit encryption SSL protocol,
            which is secured by SSL certificate released by COMODO CA Limited.</p>
        </div>

        <div class="mt-4 mb-4">
          <a class="c-link c-link-underline color-secondary" href="#">
            <strong>Security and conversion statement</strong></a>
        </div>

        <div class="preformat lightWeight">
          <p>Authorization and credit card payment is enabled by using WSpay™ system for authorization and payment
            in real time.</p>
        </div>

        <div class="o-creditCards">

          <ul class="o-creditCards_list">

            <li class="o-creditCards_list_item wsPay">
              <a href="http://www.wspay.info" title="WSpay™ - Web Studio payment gateway" target="_blank"
                ><img src="../media/creditCards/wsPay.png" alt="wsPay"></a>
            </li>

            <li class="o-creditCards_list_item visa">
              <a href="http://www.visa.com.hr" title="Visa" target="_blank"
                ><img src="../media/creditCards/Visa.gif" alt="Visa"></a>
            </li>

            <li class="o-creditCards_list_item masterCard">
              <a href="http://www.mastercard.com" title="MasterCard" target="_blank"
                ><img src="../media/creditCards/MasterCard.gif" alt="Master Card"></a>
            </li>

            <li class="o-creditCards_list_item maestro">
              <a href="http://www.maestrocard.com" title="Maestro" target="_blank"
                ><img src="../media/creditCards/maestro.gif" alt="Maestro"></a>
            </li>

            <li class="o-creditCards_list_item amex">
              <a href="" target="_blank"
                ><img src="../media/creditCards/AmericanExpress.jpg" alt="American Express"></a>
            </li>

          </ul>

          <ul class="o-creditCards_list">

            <li class="o-creditCards_list_item amexSecure">
              <a href="" target="_blank"
                ><img src="../media/creditCards/ax_jamstvo.gif" alt="Amex secure"></a>
            </li>

            <li class="o-creditCards_list_item masterCardSecure">
              <a href="" target="_blank"
                ><img src="../media/creditCards/mastercard_securecode.gif" alt="Master Card secure"></a>
            </li>

            <li class="o-creditCards_list_item visaSecure">
              <a href="" target="_blank"
                ><img src="../media/creditCards/verified_by_visa.jpg" alt="Visa secure"></a>
            </li>

          </ul>

        </div>

      </div>
    </div>
  </div>

</main>

{% include "html/app/templates/footer.html" %}
{% endblock %}
