<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Search page' %}
{% set pageTitleName = 'Search page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-search' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main class="mt-lg-5">

  <div class="container">
    <div class="row">
      <div class="col">

        <!-- ACCOMMODATIONS SECTION -->
        <section class="c-section my-5 pt-lg-5">
          <h1 class="sr-only">Search results</h1>

          <div class="row">

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- ACTION BANNER -->
                  <div class="o-unit_banner absolute bg-promo d-flex align-items-center justify-content-center">%</div>

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- ACTION BANNER -->
                  <div class="o-unit_banner absolute bg-promo d-flex align-items-center justify-content-center">%</div>

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <!-- <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image"> -->
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"
                      alt="placeholder image">
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- ACTION BANNER -->
                  <div class="o-unit_banner absolute bg-promo d-flex align-items-center justify-content-center">%</div>

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- ACTION BANNER -->
                  <div class="o-unit_banner absolute bg-promo d-flex align-items-center justify-content-center">%</div>

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <!-- <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image"> -->
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"
                      alt="placeholder image">
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- ACTION BANNER -->
                  <div class="o-unit_banner absolute bg-promo d-flex align-items-center justify-content-center">%</div>

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- ACTION BANNER -->
                  <div class="o-unit_banner absolute bg-promo d-flex align-items-center justify-content-center">%</div>

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <!-- <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image"> -->
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"
                      alt="placeholder image">
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">

                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg"
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg"
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg"
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                  <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Air condition">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Balcony">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bathroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bed">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Bedroom">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                    <li class="c-info_item text-center" data-toggle="tooltip" title="Pets">
                        <i class="c-icon c-icon-20"><img class="iconic"
                        src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                  </ul>

                  </div>

                </a>
              </article>

            </div>

          </div>

          <!-- Pagination START -->
          <nav class="o-pagination bg-white text-center my-5 pb-5" aria-label="Search results pagination">
            <h1 class="sr-only">Pagination</h1>
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><span class="hidden-md-down">Previous</span
                  ><span class="hidden-mdp-up"><i class="c-icon c-icon-25 c-icon-white c-icon-lh-0"
                  ><img class="iconic" src="../media/app/custom-arrow.svg" alt="Arrow"></i></span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item">
                <a class="page-link" href="#"><span class="hidden-md-down">Next</span
                  ><span class="hidden-mdp-up"><i class="c-icon c-icon-25 c-icon-white c-icon-lh-0"
                  ><img class="iconic" src="../media/app/custom-arrow.svg" alt="Arrow"></i></span></a>
              </li>
            </ul>
          </nav>
          <!-- Pagination STOP -->

        </section>

      </div>
    </div>
  </div>


</main>

{% include "html/app/components/subWeather.html" %}

{% include "html/app/templates/footer.html" %}
{% endblock %}
