<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Static page' %}
{% set pageTitleName = 'Static page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-static' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 py-5">
          <h1 class="c-ttl c-ttl-lgp color-lighterBlack text-uppercase mt-4 mb-3"
              >Eating potatoes is bad. You are killing them.</h1>

          <!-- Gallery list START -->
          <ul class="o-gallery d-flex flex-wrap flex-row mt-2" data-gallery>
            <!-- Visible -->
            <li class="o-gallery_item">
              <a class="o-gallery_link" href="https://placehold.it/820x395" data-galleryItem>
                <img class="o-gallery_img d-block w-100" src="https://placehold.it/820x395" alt="Gallery image">
              </a>
            </li>

            <!-- Visible -->
            <li class="o-gallery_item">
              <a class="o-gallery_link" href="https://placehold.it/820x395" data-galleryItem>
                <img class="o-gallery_img d-block w-100" src="https://placehold.it/820x395" alt="Gallery image">
              </a>
            </li>

            <!-- Visible -->
            <li class="o-gallery_item">
              <a class="o-gallery_link" href="https://placehold.it/820x395" data-galleryItem>
                <img class="o-gallery_img d-block w-100" src="https://placehold.it/820x395" alt="Gallery image">
              </a>
            </li>

            <!-- Visible -->
            <li class="o-gallery_item">
              <a class="o-gallery_link" href="https://placehold.it/820x395" data-galleryItem>
                <img class="o-gallery_img d-block w-100" src="https://placehold.it/820x395" alt="Gallery image">
                <span class="o-gallery_img-icon"></span>
              </a>
            </li>

            <!-- Hidden with CSS -->
            <li class="o-gallery_item">
              <a class="o-gallery_link" href="https://placehold.it/820x395" data-galleryItem>
                <img class="o-gallery_img d-block w-100" src="https://placehold.it/820x395" alt="Gallery image">
              </a>
            </li>

            <!-- Hidden with CSS -->
            <li class="o-gallery_item">
              <a class="o-gallery_link" href="https://placehold.it/820x395" data-galleryItem>
                <img class="o-gallery_img d-block w-100" src="https://placehold.it/820x395" alt="Gallery image">
              </a>
            </li>

            <!-- Hidden with CSS -->
            <li class="o-gallery_item">
              <a class="o-gallery_link" href="https://placehold.it/820x395" data-galleryItem>
                <img class="o-gallery_img d-block w-100" src="https://placehold.it/820x395" alt="Gallery image">
              </a>
            </li>

            <!-- Hidden with CSS -->
            <li class="o-gallery_item">
              <a class="o-gallery_link" href="https://placehold.it/820x395" data-galleryItem>
                <img class="o-gallery_img d-block w-100" src="https://placehold.it/820x395" alt="Gallery image">
              </a>
            </li>
          </ul>
          <!-- Gallery list STOP -->

          <!-- Static page paragraph START -->
          <div class="preformat lightWeight mt-4">
            <p>
              You have just invested in a new vehicle, the one of your dreams, and you take it on a trip across Canada.
              You only put gas in it and drive sightseeing and following your nose. Filters and oil changes are
              ignored. The car breaks down in the middle of that long stretch of road between Manitoba and Alberta.
              It takes two days to get you up and running and the bill is more than a year’s worth of oil changes
              and regular maintenance. Just like the family vehicle, your business computer systems require regular
              maintenance to ensure optimum system performance and uptime to prevent productivity losses. What really
              happens during system failure?
            </p>
            <p>
              The user is unable to do their job using the productivity tools you have provided Potentially this may
              affect two or more employees if their activities are linked The system failure may be enterprise wide,
              causing everyone down time The failure may happen at the “worst possible time”. Closing date for an RFP
              submission, payroll, month-end or year-end or ???? There may be total data loss
            </p>
            <p>
              The people affected must contact the support person and explain the issue. Hopefully, the service
              provider is immediately available and they must only wait while the technician travels to the site.
              Once on site, the technician must diagnose the problem and implement the repair. Will parts be needed?
              Will they need to be ordered? Will a temporary loaner be required? Will software need to be reloaded?
              Will software support need to be contacted?
            </p>
            <p>
              All of these will add to the time to resolve the problem. During this time one or more of your staff
              will be unable to do their job using the tools provided. How much money is lost in employee downtime,
              lost sales opportunities, damaged client information, investments to rebuild data, and potentially no
              available back-up? Emergency callout rates for the service provider may be in effect. Express shipping
              costs, Software support costs, and data recovery costs may apply. You are looking at an expensive
              solution! What is the cost of a pro-active repair?
            </p>
          </div>
          <!-- Static page paragraph STOP -->

          <!-- Attachments START -->
          <section class="pb-5">
            <h1 class="c-ttl c-ttl-smp text-uppercase mt-5 mb-3">Attachments</h1>

            <ul class="color-prim lh-2 boldWeight color-secondary">

              <li><a class="c-link" href="#"><i class="c-icon c-icon-white
                  c-icon-20 c-icon-secondary mr-2"><img class="iconic" src="../media/app/document.svg"
                  alt="Documents"></i>Document</a></li>

              <li><a class="c-link" href="#"><i class="c-icon c-icon-white
                  c-icon-20 c-icon-secondary mr-2"><img class="iconic" src="../media/app/imgfile.svg"
                  alt="Image file"></i>Image file</a></li>

              <li><a class="c-link" href="#"><i class="c-icon c-icon-white
                  c-icon-20 c-icon-secondary mr-2"><img class="iconic" src="../media/app/zipfile.svg"
                  alt="Zip file"></i>Zip file</a></li>

            </ul>
          </section>
          <!-- Attachments STOP -->

        </div>
      </div>
    </div>
  </section>
</main>

{% include "html/app/components/subWeather.html" %}

{% include "html/app/templates/footer.html" %}
{% endblock %}
