<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Novalja Turist d.o.o' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Unit page' %}
{% set pageTitleName = 'Unit page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-unit' %}

<!--Main Content-->
{% block content %}
{% include "html/app/templates/header.html" %}

<main>

  <!-- VARIATION: 1400x790 -->
  <div class="o-object_img" style="background-image: url('http://placehold.it/1400x790')">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col d-flex o-object_galleryBtn" data-custom-gallery-scope>
          <div class="btn btn-secondary" data-custom-gallery-trigger>View gallery</div>

          <!-- Hidden gallery which triggers on button "View gallery" -->
          <ul class="d-none" data-gallery data-custom-gallery-list>
            <li>
              <a href="https://placehold.it/1400x790" data-galleryItem>
                <img src="https://placehold.it/1400x790" alt="Gallery image">
              </a>
            </li>

            <li>
              <a href="https://placehold.it/1400x790" data-galleryItem>
                <img src="https://placehold.it/1400x790" alt="Gallery image">
              </a>
            </li>

            <li>
              <a href="https://placehold.it/1400x790" data-galleryItem>
                <img src="https://placehold.it/1400x790" alt="Gallery image">
              </a>
            </li>

            <li>
              <a href="https://placehold.it/1400x790" data-galleryItem>
                <img src="https://placehold.it/1400x790" alt="Gallery image">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <section class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        
        <a class="c-link font-weight-bold color-secondary" href="object.html">Apartmani Zdravko</a>
        <ul class="o-object_location lightWeight text-capitalize mt-2">
          <li class="o-object_location_item">
            <i class="c-icon c-icon-grayLight c-icon-18 mr-1"><img class="iconic" src="../media/app/location.svg" 
            alt="location"></i>novalja
          </li>
          <li class="o-object_location_item">
            <i class="c-icon c-icon-grayLight c-icon-18 mr-1"><img class="iconic" src="../media/app/guests.svg" 
            alt="guests"></i>2-3
          </li>
        </ul>
        <h2 class="c-ttl c-ttl-main color-lighterBlack text-uppercase mb-4">apartman zdravko 1</h2>

        <!-- ACTIONS -->
        <section class="c-section">
          <h2 class="sr-only">Actions</h2>

          <ul class="o-action overflowHidden">
            
            <li class="o-action_item color-white bg-promo">
              <div class="o-action_item_wrapper relative d-block">
                <div class="o-action_body">
                  <h4 class="c-ttl c-ttl-f18 text-uppercase mb-1">last minute</h4>
                  <div class="o-action_price absolute c-ttl-f18 text-uppercase">43% off</div>
                  <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
                    <li class="o-action_info_item d-block relative">From: 12.06 to 22.06.2017</li>
                    <li class="o-action_info_item d-block relative">Minimum stay: 4 days</li>
                    <li class="o-action_info_item d-block relative">Valid till: 30.06.2017</li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="o-action_item color-white bg-promo">
              <div class="o-action_item_wrapper relative d-block">
                <div class="o-action_body">
                  <h4 class="c-ttl c-ttl-f18 text-uppercase mb-1">last minute</h4>
                  <div class="o-action_price absolute c-ttl-f18 text-uppercase">43% off</div>
                  <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
                    <li class="o-action_info_item relative">From: 12.06 to 22.06.2017</li>
                    <li class="o-action_info_item relative">Minimum stay: 4 days</li>
                    <li class="o-action_info_item relative">Valid till: 30.06.2017</li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="o-action_item color-white bg-promo">
              <div class="o-action_item_wrapper relative d-block">
                <div class="o-action_body">
                  <h4 class="c-ttl c-ttl-f18 text-uppercase mb-1">last minute</h4>
                  <div class="o-action_price absolute c-ttl-f18 text-uppercase">43% off</div>
                  <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
                    <li class="o-action_info_item relative">From: 12.06 to 22.06.2017</li>
                    <li class="o-action_info_item relative">Minimum stay: 4 days</li>
                    <li class="o-action_info_item relative">Valid till: 30.06.2017</li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="o-action_item color-white bg-promo">
              <div class="o-action_item_wrapper relative d-block">
                <div class="o-action_body">
                  <h4 class="c-ttl c-ttl-f18 text-uppercase mb-1">last minute</h4>
                  <div class="o-action_price absolute c-ttl-f18 text-uppercase">43% off</div>
                  <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
                    <li class="o-action_info_item relative">From: 12.06 to 22.06.2017</li>
                    <li class="o-action_info_item relative">Minimum stay: 4 days</li>
                    <li class="o-action_info_item relative">Valid till: 30.06.2017</li>
                  </ul>
                </div>
              </div>
            </li>

          </ul>
        </section>

      </div>

      <!-- SIDEBAR START -->
      <div class="col-lg-4 o-sidebar_wrapper">

        <!-- PRICE CALCULATOR -->
        <div class="o-sidebar" data-sticky-jquery data-sticky-jquery-offset="0">
          <div class="o-sidebar_calculator">
            <form action="">
              <div class="o-sidebar_form py-3 px-4 bg-seaShell">
                <div class="o-sidebar_head pb-3 mb-3">
                  <div class="lightWeight">From</div>
                  <div class="c-ttl c-ttl-smp text-uppercase boldWeight">120.50 Eur</div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class='form-group'>
                      <label class='form-label' for='checkInCalculator'>Check in</label>
                      <input id='checkInCalculator' class='form-control' type='text'
                          data-datepicker readonly='readonly'>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class='form-group'>
                      <label class='form-label' for='checkOutCalculator'>Check out</label>
                      <input id='checkOutCalculator' class='form-control' type='text'
                          data-datepicker readonly='readonly'>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class='form-group'>
                      <label class='form-label' for='adults'>Adults</label>
                      <select class='form-control' name='adults' id='adults'>
                        <option value='1' selected>1</option>
                        <option value='2'>2</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class='form-group'>
                      <label class='form-label' for='kids'>Kids</label>
                      <select class='form-control' name='kids' id='kids'>
                        <option value='0' selected>0</option>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class='form-group'>
                      <label class='form-label' for='kid1'>Kid 1 - birthdate</label>
                      <input id='kid1' class='form-control' type='text' data-datepicker readonly='readonly'>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class='form-group'>
                      <label class='form-label' for='kid2'>Kid 2 - birthdate</label>
                      <input id='kid2' class='form-control' type='text' data-datepicker readonly='readonly'>
                    </div>
                  </div>
                </div>
              </div>

              <div class="o-sidebar_additional bg-promo-light pt-2 pr-4 pb-2 pl-4 my-3">
                <table class="o-priceCalculator table m-0">
                  <tbody>
                    <tr>
                      <td class="lightWeight">Adults x 2</td>
                      <td class="text-right"><strong>250 EUR</strong></td>
                    </tr>

                    <tr>
                      <td class="lightWeight">Children x 3</td>
                      <td class="text-right"><strong>25 EUR</strong></td>
                    </tr>

                    <tr>
                      <td class="lightWeight">Reservation</td>
                      <td class="text-right"><strong>2 EUR</strong></td>
                    </tr>

                    <tr>
                      <td class="lightWeight">Reservation fee&nbsp;<i class="c-icon c-icon-15"
                          data-toggle="tooltip" data-animation="false"
                          title="Description on hover"
                          ><img class="iconic" src="../media/app/information.svg" alt="?"></i></td>
                      <td class="text-right"><strong>5 EUR</strong></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><strong class="color-black">Total</strong></td>
                      <td class="text-right" colspan="2"><strong>960 EUR</strong></td>
                    </tr>
                  </tfoot>
                </table>
              </div>

              <a href="inquiry.html" class="btn btn-primary btn-wide">Send inquiry</a>
            </form>
          </div>
        </div>

      </div>
      <!-- SIDEBAR STOP -->
    </div>

    <div class="row">
      <div class="col-lg-8">

        <!-- DESCRIPTION -->
        <div class="o-object_description bg-grayLight py-4 px-4 mt-5 lh-1_5">
          <h3 class="c-ttl c-ttl-smp text-uppercase mb-2">Description</h3>
          <div class="preformat lightWeight">
            <p>I was born and raised in the heart of the Deep South. From as far back as I can remember I remember
              long summer afternoons spent drinking iced tea and shelling peas and butterbeans on my grandmother’s 
              porch. I was born and raised in the heart of the Deep South. From as far back as I can remember I 
              remember long summer afternoons spent drinking iced tea and shelling peas and butterbeans on my 
              grandmother’s porch.</p>
          </div>
        </div>
        
        <!-- INCLUDED CHARGES -->
        <section class="c-section mt-5">
          <h2 class="c-ttl c-ttl-lg color-black text-uppercase mb-4">included charges</h2>

          <ul class="o-attributesList o-attributesList-charges lightWeight d-flex flex-wrap">
            <li class="o-attributesList_item mb-3 lightWeight">
              <img src="../media/app/check.svg" alt="check">
              <span class="ml-1">Ticket to aquapark</span>
            </li>
            <li class="o-attributesList_item mb-3">
              <img src="../media/app/check.svg" alt="check">
              <span class="ml-1">One meal</span>
            </li>
            <li class="o-attributesList_item mb-3">
              <img src="../media/app/check.svg" alt="check">
              <span class="ml-1">Wifi</span>
            </li>
            <li class="o-attributesList_item mb-3">
              <img src="../media/app/check.svg" alt="check">
              <span class="ml-1">Transport</span>
            </li>
            <li class="o-attributesList_item mb-3">
              <img src="../media/app/check.svg" alt="check">
              <span class="ml-1">Tourist tax</span>
            </li>
            <li class="o-attributesList_item mb-3">
              <img src="../media/app/check.svg" alt="check">
              <span class="ml-1">Transport</span>
            </li>
            <li class="o-attributesList_item mb-3">
              <img src="../media/app/check.svg" alt="check">
              <span class="ml-1">Cleaning</span>
            </li>
            <li class="o-attributesList_item mb-3">
              <img src="../media/app/check.svg" alt="check">
              <span class="ml-1">Arapske pare</span>
            </li>
          </ul>
        </section>

        <!-- DISTANCES -->
        <section class="c-section mt-5">
          <h2 class="c-ttl c-ttl-lg color-black text-uppercase mb-4">Distances</h2>

          <ul class="o-attributesList d-flex flex-wrap">

            <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/distances/airport.svg" alt="airport"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Airport</div>200m
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/distances/ambulance.svg" alt="ambulance"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Ambulance</div>200m
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/distances/city.svg" alt="city"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>City center</div>200m
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/distances/airport.svg" alt="airport"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Airport</div>200m
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/distances/beach.svg" alt="beach"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Beach</div>200m
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/distances/airport.svg" alt="airport"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Airport</div>200m
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/distances/beach.svg" alt="beach"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Beach</div>200m
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/distances/beach.svg" alt="beach"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Beach</div>200m
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start align-items-center">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/distances/airport.svg" alt="airport"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Airport</div>200m
              </div>
            </li>

          </ul>
        </section>

        <!-- AMENITIES -->
        <section class="c-section mt-5">
          <h2 class="c-ttl c-ttl-lg color-black text-uppercase mb-4">Amenities</h2>

          <ul class="o-attributesList d-flex flex-wrap">

            <li class="o-attributesList_item mb-3 d-flex flex-start">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Air conditioning</div>
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/amenities/balcony.svg" alt="balcony"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Balcony</div>
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Bedroom</div>
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/amenities/bed.svg" alt="bed"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Double bed</div>
              </div>
            </li>

            <li class="o-attributesList_item mb-3 d-flex flex-start">
              <div class="o-attributesList_img mr-3">
                <i class="c-icon c-icon-primary c-icon-38"><img class="iconic" 
                  src="../media/attributes/amenities/pets.svg" alt="pets"></i>
              </div>
              <div class="o-attributesList_info lightWeight">
                <div>Pet friendly</div>
              </div>
            </li>

          </ul>
        </section>

        <!-- AVAILABILITY CALENDAR -->
        <section class="mt-4">
          <h2 class="c-ttl c-ttl-lg color-black text-uppercase mb-4">availability calendar</h2>

          <!-- Note for DEVX: above 800px 2 months, below 800px 1 month -->
          <div id='availabilityCalendar' class='availabilityCalendar'></div>

          <ul class="o-legendList lightWeight d-flex flex-start mt-4">
            <li class="o-legendList_item relative">Today</li>
            <li class="o-legendList_item relative">Unavailable days</li>
          </ul>
        </section>

        <!-- PRICE LIST -->
        <section class="c-section c-section-priceList relative bg-seaShell bg-overlay pt-5 pr-lg-5 pb-5 mt-5">
          <div class="o-priceList_wrapper mb-4">
            <h2 class="c-ttl c-ttl-lg color-black text-uppercase mb-4">price list</h2>

            <!-- Pricelist table START -->
            <div class="table-responsive">
              <table class="table o-pricelist">
                <thead>
                  <tr>
                    <th><strong>Season</strong></th>
                    <th><strong>Price/day</strong></th>
                    <th><strong>Conditions</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="o-pricelist_season"><strong>Season A</strong></div>
                        01.01.2016. - 20.05.2016.<br>
                        21.05.2016. - 25.06.2016.
                    </td>
                    <td>
                      <table>
                        <tbody>
                          <tr>
                            <td><strong>1-2 people</strong><br>
                              50.00 EUR</td>
                          </tr>
                          <tr>
                            <td><strong>3-4 people</strong><br>
                              56.25 EUR</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td>
                      <table>
                        <tbody>
                          <tr>
                            <td>Min stay:&nbsp;<strong>4 day</strong><br>
                              Arrival day:&nbsp;<strong>Any</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="o-pricelist_season"><strong>Season B</strong></div>
                      01.01.2016. - 20.05.2016.<br>
                      21.05.2016. - 25.06.2016.
                    </td>
                    <td>
                      <table>
                        <tbody>
                          <tr>
                            <td><strong>1-2 people</strong><br>
                              50.00 EUR</td>
                          </tr>
                          <tr>
                            <td><strong>3-4 people</strong><br>
                              56.25 EUR</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td>
                      <table>
                        <tbody>
                          <tr>
                            <td>Min stay:&nbsp;<strong>4 day</strong><br>
                              Arrival day:&nbsp;<strong>Any</strong></td>
                          </tr>
                          <tr>
                            <td>Min stay:&nbsp;<strong>4 day</strong><br>
                              Arrival day:&nbsp;<strong>Any</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Pricelist table STOP -->

            <!-- Mandatory Charges Start -->
            <div class="table-responsive">
              <table class='table o-chargeTable'>
                <thead>
                  <tr>
                    <th>Mandatory charges</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Booking fee&nbsp;<i class="c-icon c-icon-15 c-icon-svgMiddle c-icon-gray-lightest"
                        data-toggle="tooltip" data-animation="false"
                        title="Description on hover"
                        ><img class="iconic" src="../media/app/information.svg" alt="?"></i>
                    </td>
                    <td>38.00 EUR</td>
                  </tr>
                  <tr>
                    <td>Registration Fee (per person)</td>
                    <td>38.00 EUR</td>
                  </tr>
                  <tr>
                    <td>Cleaning Fee</td>
                    <td>38.00 EUR</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Mandatory Charges Stop -->

            <!-- Optional Charges Start -->
            <div class="table-responsive">
              <table class='table o-chargeTable'>
                <thead>
                  <tr>
                    <th>Optional charges</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Booking fee&nbsp;<i class="c-icon c-icon-15"
                        data-toggle="tooltip" data-animation="false"
                        title="Description on hover"
                        ><img class="iconic" src="../media/app/information.svg" alt="?"></i>
                    </td>
                    <td>38.00 EUR</td>
                  </tr>
                  <tr>
                    <td>Registration Fee (per person)</td>
                    <td>38.00 EUR</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Optional Charges Stop -->
          </div>
          <!-- Pricelist section STOP -->

          <!-- Additional notice section START -->
          <div class="o-pricelist_additional">
            <h2 class="c-ttl c-ttl-lg color-black text-uppercase mb-4">additional notice</h2>

            <div class="preformat">
              <p>You love having a second home but the mortgage is putting a crater in your wallet. Many second home
                ownersturn to renting their property as a vacation rental to help defray the costs of ownership. How
                do you price a vacation home rental without overcharging but making enough to cover your costs? Do
                your research.</p>
            </div>
          </div>
          <!-- Additional notice section STOP -->
        </section>

      </div>
    </div>

    <div class="row" data-sticky-jquery-offset-item>
      <div class="col">
        
        <!-- MAP -->
        <div id="map" class="c-map mt-5">
          <!-- Remove this and add map  -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d89729.90593299073!2d14.426813999999997!3d45.34760995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shr!2shr!4v1463655324258"
            width="100%" height="100%" style="pointer-events: none;" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <!-- RELAED UNITS TO THIS OBJECT -->
        <section class="c-section mt-5">
          <h2 class="c-ttl c-ttl-main color-black text-uppercase mb-4">other units with this accommodation</h2>

          <div class="row">
            
            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">
                    
                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                    <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                    </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">
                    
                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                    <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                    </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">
                    
                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                    <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                    </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">
                    
                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                    <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                    </ul>

                  </div>

                </a>
              </article>

            </div>
            
            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">
                    
                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                    <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                    </ul>

                  </div>

                </a>
              </article>

            </div>

            <div class="col-mdp-6 col-lg-3">

              <article class="o-unit relative mb-3">
                <a href="object.html">

                  <!-- UNIT IMG -->
                  <!-- IF UPLOADED = VARIATION: 600x350 -->
                  <div class="o-unit_img">
                    <img class="w-100 d-block" src="http://via.placeholder.com/600x300" alt="unit image">
                    <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
                    <!--<img class="w-100 d-block" src="../media/app/placeholder-image-600x300.png"-->
                      <!--alt="Placeholder image">-->
                  </div>

                  <!-- UNIT INFO -->
                  <div class="o-unit_body px-1">
                    
                    <!-- UNIT RATING -->
                    <ul class="c-stars mt-2">
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item"><img class="star" src="../media/app/star.svg" alt="*"></li>
                      <li class="c-stars_item op-25"><img class="star" src="../media/app/star.svg" alt="*"></li>
                    </ul>

                    <!-- UNIT NAME -->
                    <h3 class="c-ttl c-ttl-default color-grayDark mt-2 mb-2">Apartman Pansion Comfort Sidro</h3>

                    <!-- UNIT ADDITIONAL INFO -->
                    <ul class="c-info lightWeight color-grayDark d-flex justify-content-between flex-row">
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/house.svg" 
                          alt="apartment"></i>apartment
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/guests.svg" 
                          alt="guests"></i>2-5
                      </li>
                      <li class="c-info_item">
                        <i class="c-icon c-icon-unitColor c-icon-15"><img class="iconic" src="../media/app/location.svg" 
                          alt="location"></i>novalja
                      </li>
                    </ul>

                    <!-- ATTRIBUTES -->
                    <ul class="c-info c-info-amenities d-flex justify-content-between flex-row">
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/air-conditioner.svg" alt="air conditioner"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/balcony.svg" alt="balcony"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bathroom.svg" alt="bathroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bed.svg" alt="bed"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/bedroom.svg" alt="bedroom"></i></li>
                      <li class="c-info_item text-center"><i class="c-icon c-icon-20"><img class="iconic" 
                          src="../media/attributes/amenities/pets.svg" alt="pets"></i></li>
                    </ul>

                  </div>

                </a>
              </article>

            </div>

          </div>

        </section>

      </div>
    </div>
  </section>

</main>

<!-- SUBWEATHER -->
{% include "html/app/components/subWeather.html" %}

{% include "html/app/templates/footer.html" %}
{% endblock %}
