.o-aboutList {

  &_item {
    background-color: $white;
  }

  &_img,
  &_text {
    flex: 0 0 100%;
  }

  @include tabletDown {

    &_text {
      padding: 1.875rem .625rem;
    }

  }

  @include tablet {

    &_text {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 540px;
      padding: 0;

      &-inner {
        max-width: 340px;
      }

    }

  }

  @include laptopDown {

    &_text.-second {
      order: 2;
    }

  }

  @include laptop {

    &_img,
    &_text {
      flex: 1 1 50%;
    }

    &_text {
      min-height: 480px;
    }

  }

  @include desktop {

    &_text {
      min-height: 580px;
    }

  }

}
