.o-category {
  background-color: $white;
  box-shadow: 0 0 34px 0 rgba($black, .17);
  margin-top: .375rem;

  // effect
  overflow: hidden;

  &_item-mobile {
    padding-right: .625rem;
    margin-right: 1.0625rem;
    margin-bottom: .3125rem;
    background-color: $brand-primary;
    color: $white;

    &:after {
      content: url('../media/app/tail.svg');
      position: absolute;
      top: 0;
      bottom: 0;
      left: 99%;
    }

    .close {
      @extend %bg-center;
      @extend %no-repeat;
      width: 32px;
      height: 32px;
      padding: .3125rem .4375rem;
      background-image: url('../media/app/closeWhite2.svg');
      background-size: 15px 15px;
    }

  }

  @include laptopDown {
    position: relative;

    &_list {
      @include transition(max-height, 650ms);
      max-height: 0;
      pointer-events: none;
      overflow: hidden;

      &.active {
        max-height: 1000px;
        pointer-events: all;
      }

    }

    &_list-mobile {
      display: flex;
      min-height: 37px;
      padding-right: 1.5rem;
    }

    .chevron {
      @include transition(transform, 200ms);
      position: absolute;
      top: 16px;
      right: 10px;
      width: 35px;
      height: 35px;
      padding: .3125rem .4375rem;
      background-image: url('../media/app/chevronLineDown.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px 15px;
      transform: rotate(0);

      &.rotate {
        transform: rotate(180deg);
      }

    }

  }

  @include laptop {

    &_list-mobile {
      display: none;
    }

    .chevron {
      display: none;
    }

  }

}
