.o-furniture {

  &_item.-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_item.-main,
  &-inner_item {
    margin-bottom: 1.2%;
    background-color: $white;
  }

  &-inner_item.-viewAll {
    background-color: $gray;
  }

  &-inner.product &-inner_item.-viewAll {
    background-color: rgba($gray, .5);
  }

  &-inner_item:nth-child(n+5) {
    display: none;
  }

  // Furniture
  &.furniture &_item,
  &.furniture &-inner &-inner_item {
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 600ms, transform 600ms;

    &.active {
      opacity: 1;
      transform: translateX(0);
    }

  }

  // Categories
  &-inner.categories {
    margin-bottom: 5rem;
  }

  .categories &-inner_item {
    box-shadow: 0 0 34px 0 rgba($black, .17);

    // Effects
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 600ms, transform 600ms;

    &.active {
      opacity: 1;
      transform: translateX(0);
    }

  }

  // Product List
  &-list &_item {
    flex: 1 1 100%;
    margin: 1%;
    box-shadow: 0 0 34px 0 rgba($black, .17);
  }

  @include tablet {

    &-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &_item {
        width: 49.35%;
      }

    }

    // Product List
    &-list &_item {
      flex: 0 0 49%;
      margin: .5%;
    }

  }

  @include laptop {

    &_item {
      width: 50%;
    }

    &_item.-main {
      margin-right: .7%;
      margin-bottom: 0;
    }

    &-inner_item:nth-child(-n+2) {
      margin-bottom: .7%;
    }

    &-inner_item:nth-child(n+3) {
      margin-top: .7%;
      margin-bottom: 0;
    }    

    // Categories and Products
    &-inner.categories,
    &-inner.product {

      .o-furniture-inner_item {
        width: 24.3%;
      }

    }

    // Categories
    &-inner.categories {

      .o-furniture-inner_item {

        &:not(:last-child) {
          margin: 0 .7% 0 0;
        }

        &.-viewAll {
          margin: 0;
        }

      }

    }

    &-inner.product {

      .o-furniture-inner_item {
        margin: 0;
      }

    }

  }

  @include desktop {

    // Product List
    &-list &_item {
      flex: 0 0 32%;
      margin: .65%;
    }

  }

}
