.o-hortusMap {
  @extend %no-repeat;
  height: 430px;
  cursor: pointer;

  &.active {
    cursor: grabbing;
  }

  &:after {
    @extend %absoluteFull;
    content: '';
    z-index: 1;
    background: radial-gradient(70% 50%, rgba($white, 0) 48%, rgba($black, .62) 100%);
  }

  &_btnWrapper {
    position: absolute;
    z-index: 2;
    right: 10px;
    bottom: 10px;
  }

  &_btn {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: $brand-primary;
    line-height: 0;

    &.zoomIn {
      margin-bottom: .3125rem;
    }

    &.zoomIn:after,
    &.zoomOut:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }

    &.zoomIn:after {
      content: url('../media/app/plus.svg');
    }

    &.zoomOut:after {
      content: url('../media/app/minus.svg');
    }

  }

  @include tablet {

    &:after {
      background: radial-gradient(60% 50%, rgba($white, 0) 48%, rgba($black, .62) 100%);
    }

  }

  @include laptop {

    &:after {
      background: radial-gradient(45% 50%, rgba($white, 0) 48%, rgba($black, .62) 100%);
    }

  }

  @include laptopPlus {
    height: 660px;

    .p-contact & {
      margin-top: -.8125rem;
    }

    &:after {
      background: radial-gradient(70% 50%, rgba($white, 0) 48%, rgba($black, .62) 100%);
    }

  }

}
