.o-hero {
  display: flex;
  align-items: flex-end;
  justify-content: center; 
  height: 350px;
  margin-bottom: 3.125rem;

  @include mobilePlus {
    height: 400px;
  }

  @include tablet {
    align-items: center;
    justify-content: flex-end;
    height: 470px;
    margin-bottom: 0;
  }

  @include tabletPlus {
    height: 580px;
  }

  @include laptop {
    height: 690px;
  }

  @include desktop {
    height: 760px;
  }

}
