// Logo
.o-logo {
  z-index: 3;

  &.-activeMobile {
    position: relative;
  }

  @include tabletOnly {
    
    &-hero {
      margin-top: 4.375rem;
    }

  }

  @include laptop {

    &-hero {
      margin-right: 4.375rem;
    }

  }

}
