// Main navigation
// // HMTL structure use from Aurora travel website

// Links padding
$nav-item-padding: 1rem;

// Nth last items for different drop orientation (change value in 'c-icon' partial also)
$nth-last-child-item: 3;

.o-mainNav {
  display: flex;
  align-items: center;

  &_item.-sub {
    position: relative;
  }

  &_langList {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    box-shadow: 0 0 15px 0 rgba($black, .09);
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 350ms;

    &.-active {
      opacity: 1;
      pointer-events: all;
    }

  }

  &_subList {
    display: flex;
    flex-direction: column;
  }

  @include laptopDown {

    &_list {
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding-top: 70px;
      background-color: $white;
      overflow: hidden;
      opacity: 0;
      transform: translateY(-100%);
      pointer-events: none;
      transition: transform 700ms, opacity 500ms;

      &.-active {
        transform: translateY(0);
        overflow: scroll;
        opacity: .975;
        pointer-events: all;
      }

    }

    &_listTrigger {
      .-menu { display: block; }
      .-close {
        @include transition(max-width, 400ms);
        position: fixed;
        z-index: 3;
        top: 17px;
        right: 21px;
        display: block;
        width: 100%;
        max-width: 0;
        overflow: hidden;
      }
    }

    &_listTrigger.-active {
      .-menu { display: none; }
      .-close {
        max-width: 50px;
      }
    }

    &_subList {
      max-height: 0;
      transform: scaleY(0);
      overflow: hidden;
      background-color: rgba($gray, .015);
      box-shadow: inset 0 0 15px 0 rgba($black, .09);
      transition: transform 300ms, max-height 400ms;

      &.-active {
        max-height: 1000px;
        transform: scaleY(1);
      }

    }

    &_item,
    &_subItem {
      text-align: center;
    }

  }

  @include tablet {

    &_listTrigger.-active {
      .-close {
        top: 23px;
        right: 26px;
        max-width: 60px;
      }
    }
    
  }

  @include laptop {

    &_listTrigger {
      display: none;
    }

    &_list {
      display: flex;
      flex-direction: row;
    }

    &_item.-sub {
      display: flex;
      flex-direction: column;

      &:hover > .o-mainNav_subList {
        opacity: 1;
        pointer-events: all;
      }

    }

    &_subList {
      @include transition(opacity, 300ms);
      position: absolute;
      z-index: 3;
      top: 100%;
      left: 0;
      min-width: 100%;
      background-color: $white;
      box-shadow: 0 0 15px 0 rgba($black, .09);
      opacity: 0;
      pointer-events: none;
      white-space: nowrap;
    }

    &_langItem:hover > .o-mainNav_langList {
      opacity: 1;
      pointer-events: all;
    }

  }

}
