// Main Header
.o-mainHeader {
  @extend %absoluteTop;
  z-index: 2;
  padding: 1rem .125rem;

  &_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background-color: $white;
    box-shadow: 0 0 15px 0 rgba($black, .09);
  }

  @include tablet {

    &_nav {
      height: 75px;
    }

  }

}
