.o-productImg {

  &_list {
    flex-direction: column;
  }

  &_item.relative {

    &:after {
      @extend %absoluteFull;
      content: '';
      z-index: 1;
      display: block;
      background-color: rgba($gray, .83);
    }

    .number {
      @extend %absoluteFull;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 9px;
    }

  }

  @include tabletDown {

    &_item {
      margin-bottom: 1rem;
    }

  }

  @include tablet {

    &_list {
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &_item {
      width: 49.5%;

      &:nth-child(-n+2) {
        margin-bottom: .6%;
      }
    
      &.-main {
        width: 100%;
        min-height: 450px;
        margin-bottom: 2rem;
      }

    }

  }

  @include laptop {

    &_item {
      width: 24.5%;

      &:nth-child(n+2) {
        margin-bottom: 0;
      }

      &.-main {
        min-height: 700px;
      }

    }

  }

  @include desktop {

    &_item.-main {
      min-height: 1120px;
    }

  }

}
