.o-pagination {
  @include transition();

  .page-item {
    position: relative;
    // margin-right: .1rem;

    &:not(:first-child):after {
      content: '';
      position: absolute;
      z-index: 5;
      top: 50%;
      right: 0;
      width: 1px;
      height: 50%;
      background-color: rgba($gray, .15);
      transform: translateY(-50%);
    }

    &:nth-last-child(2):after {
      background-color: transparent;
    }

  }

  .page-item.active .page-link {
    background-color: $gray;
    color: $white;
  }

  .page-item.disabled {
    opacity: .5;
  
    &:hover {
      cursor: not-allowed;
    }

  }

  .page-item:first-child,
  .page-item:last-child {
    min-width: 61px;

    @include tablet {
      min-width: 150px;
    }

    @include laptop {
      min-width: 204px;
    }

  }

  .page-item:first-child {
    margin-right: auto;
  }

  .page-item:last-child {
    margin-right: 0;
    margin-left: auto;
  }

  &,
  .page-link {
    border-radius: 0;
    color: $gray;
    font-weight: 400;
  }

  .page-link {
    @extend %user-select;
    @include transition();
    padding: 1.25rem .75rem;
    border: 0;

    > .direction {

      @include tabletDown {
        display: none;
      }

    }

    > .arrow {
      display: inline-block;

      @include tablet {
        display: none;
      }

    }

    > .arrow-right,
    > .arrow-left {
      position: absolute;
      top: 50%;
    }

    > .arrow-right {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    > .arrow-left {
      left: 50%;
      transform: translate(-50%, -50%) rotate(-180deg);
    }

    @include tablet {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }

    &:hover,
    &:focus {
      background-color: rgba($gray, .19);
    }

  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    height: 100%;
    padding-top: 1.315rem;
    padding-bottom: 1.315rem;
    background-color: $brand-primary;
    color: $white;

    &:hover {
      background-color: darken($brand-primary, 6%);
    }

    @include laptopDown {
      height: 60px;
    }

  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    border-radius: 0;
  }

}
