.o-spinner {
  @extend %bg-center;
  @extend %no-repeat;
  width: 100px;
  height: 100px;
  background-image: url('../media/brand/logoDark.svg');
  background-size: 100px 100px;
  animation: sk-rotateplane 1.2s infinite ease-in-out;

  &_wrapper {
    @extend %absoluteFull;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($white, .75);
  }

}

@keyframes sk-rotateplane {
  0% { transform: perspective(120px) rotateX(0deg) rotateY(180deg); }
  50% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  100% { transform: perspective(120px) rotateX(0deg) rotateY(-180deg); }
}
