.o-slider {

  &_wrapper {
    @include transition(opacity, 100ms);
    display: none;
    opacity: 0;

    &.show {
      display: block;

      &.active {
        opacity: 1;
      }

    }

  }

  &_text {
    opacity: 0;
    transform: translateX(-400px);
    transition: transform 800ms, opacity 750ms;

    &.active {
      opacity: 1;
      transform: translateX(0);
    }

  }

  &_imgWrapper {
    margin: 3.125rem auto;
  }

  &_images {
    display: flex;
    justify-content: space-between;
    min-width: 290px;
  }
  
  &_img {
    @include transition(opacity, 300ms);
    display: flex;
    align-items: center;
    max-width: 136px;
    height: 242px;
    box-shadow: 0 0 70px 0 rgba($black, .2);
    opacity: 0;

    &-right {
      margin-top: -3.125rem;
    }

    &-left,
    &-right {
      background-color: $white;
      transform: translateX(-100px);
      opacity: 0;
      transition: transform 600ms, opacity 400ms;

      &.active {
        opacity: 1;
        transform: translateX(0);
      }

    }

  }

  @include tablet {

    &_images {
      min-width: 470px;
    }

    &_img {
      max-width: 222px;
      height: 375px;
    }

    &_text {
      margin-top: 2rem;
    }

  }

  @include laptop {

    &_imgWrapper {
      order: 1;
    }

  }

  @include desktop {

    &_images {
      min-width: 680px;
    }

    &_img {
      max-width: 326px;
      height: 550px;

      &-right {
        margin-top: -5.625rem;
      }

    }

    &_text {
      align-self: center;
    }

  }

}
