<div class="o-card o-card_blog -full">
  <a class="o-card_up d-block overflowHidden" href="newsArticle.html">
    <div class="aspectRatio">
      <!-- Note for DEVs: if there is not featured image use this img src -->
      <!-- Image variation: 750x562 -->
      <img class="o-card_img w-100" src="../media/app/placeholder-card.png" alt="Featured image">
    </div>
  </a>

  <div class="o-card_down">
    <div class="o-card_type text-uppercase color-white">Travel guide</div>

    <h3 class="o-card_title c-ttl">
      <a href="newsArticle.html">Barcelona - secret pleasures and lorem ipsum long title</a>
    </h3>

    <p class="o-card_desc relative pr-lg-4 pr-xl-0">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
       et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
       aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
       cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
       culpa qui officia deserunt mollit anim id est laborum.
       <a class="o-icon -arrowRight" href="newsArticle.html"></a>
     </p>

     <div class="o-card_dateAndTags d-flex align-items-center">
       <span class="mr-3 white-space-nowrap">5 May 2018</span>

       <ul class="o-cardTags d-none d-lg-flex w-100">
         <li class="o-cardTags_item">#spain</li>
         <li class="o-cardTags_item">#barcelona</li>
         <li class="o-cardTags_item">#parties</li>
         <li class="o-cardTags_item">#bars</li>
         <li class="o-cardTags_item">#tag</li>
         <li class="o-cardTags_item">#advanture</li>
         <li class="o-cardTags_item">#barcelona</li>
         <li class="o-cardTags_item">#parties</li>
       </ul>
     </div>

  </div>
</div>
