<div class="o-card o-card_blog -compact">
  <a class="o-card_up d-block overflowHidden" href="newsArticle.html">
    <div class="aspectRatio">
      <!-- Note for DEVs: if there is not featured image use this img src -->
      <!-- Image variation: 750x562 -->
      <img class="o-card_img w-100" src="../media/app/placeholder-card.png" alt="Featured image">
    </div>
  </a>

  <div class="o-card_down">
    <div class="o-card_type text-uppercase color-white">Travel guide</div>

    <h3 class="o-card_title c-ttl">
      <!-- Note for DEVs: truncate title to max 93 characters -->
      <a href="newsArticle.html">Barcelona - secret pleasures and lorem ipsum long title</a>
    </h3>

    <p class="o-card_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
       et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
       aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
       cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
       culpa qui officia deserunt mollit anim id est laborum.
     </p>

     <div class="o-card_dateAndTags d-flex">
       <span class="mr-3 white-space-nowrap">5 May 2018</span>
     </div>

  </div>
</div>
