{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<div class="row">
  <div class="col-md-6">
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "First name",
        fe_id = "contactFirstName",
        fe_class = "form-control",
        fe_name = "firstName",
        fe_type = "text"
      )
    }}
  </div>

  <div class="col-md-6">
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "Last name",
        fe_id = "contactLastName",
        fe_class = "form-control",
        fe_name = "lastName",
        fe_type = "text"
      )
    }}
  </div>

  <div class="col-md-6">
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "Email",
        fe_id = "contactEmail",
        fe_class = "form-control",
        fe_name = "email",
        fe_type = "email"
      )
    }}
  </div>

  <div class="col-md-6">
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "Cellphone",
        fe_id = "contactCellphone",
        fe_class = "form-control",
        fe_name = "cellphone",
        fe_type = "tel"
      )
    }}
  </div>

  <div class="col-12">
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "Message title",
        fe_id = "contactMessageTitle",
        fe_class = "form-control",
        fe_name = "messageTitle",
        fe_type = "text"
      )
    }}
  </div>

  <div class="col-12">
    {{
      textarea.textareaFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "Message",
        fe_id = "contactMessage",
        fe_class = "form-control",
        fe_name = "contactMessage",
        fe_rows = "3"
      )
    }}
  </div>

  <div class="col-12">
    <a class="c-btn c-btn-primary" href="#">Send message</a>
  </div>
</div>
