<!-- Currency START -->
<ul class="o-mainNavSwitch">
  <li class="o-mainNavSwitch_item">

    <!-- Current Currency -->
    <div class="o-mainNavSwitch_item-current">
      <div class="c-link d-none d-lg-flex align-items-center">
        <!-- Note for devX: Put the NAME of the currency in the first span, and the SYMBOL in second -->
        <span class="currencyName">Euro</span>
        <span class="currencySymbol">€</span>
        <i class="c-icon c-icon-12-6">
          <img class="iconic" src="../media/app/chevron-down.svg" alt="chevron">
        </i>
      </div>

      <div class="form-group d-lg-none">
        <label for="currencySwitcher-mobile" class="form-label">CURRENCY</label>
        <select id="currencySwitcher-mobile" class="form-control" name="currencySwitcher-mobile">
          <option value="Euro">Euro</option>
          <option value="US Dollars">US Dollars</option>
          <option value="Great British Pounds">Great British Pounds</option>
        </select>
      </div>
    </div>

    <!-- Other Currencies -->
    <div class="o-mainNavSwitch_listWrapper">
      <ul class="o-mainNavSwitch_list">
        <li class="o-mainNavSwitch_list_item active">
          <a class="c-link d-block" href="#">EUR <span>Euro</span></a>
        </li>
        <li class="o-mainNavSwitch_list_item">
          <a class="c-link d-block" href="#">USD <span>US Dollars</span></a>
        </li>
        <li class="o-mainNavSwitch_list_item">
          <a class="c-link d-block" href="#">GBP <span>Great British Pounds</span></a>
        </li>
      </ul>
    </div>

  </li>
</ul>
<!-- Currency STOP -->
