<div class="o-destination">

  <!-- Destinations slider START -->
  <div class="o-destinationSlider swiper-container" data-swiper data-swiper-slides-per-column="2"
      data-swiper-space-between="0" data-swiper-slides-per-view="3" data-swiper-pagination="true"
      data-swiper-resistance-ratio="0"
      data-swiper-breakpoints='{
        "800": {
          "slidesPerView": 1.8
        }
      }'>

    <!-- Note for DEVs: max number of featured destinations is six -->
    <div class="swiper-wrapper">
      <!-- Destinations item START -->
      <div class="o-destination_item swiper-slide m-0">
        {% include "html/app/components/destinationItem.html" %}
      </div>
      <!-- Destinations item STOP -->

      <!-- Destinations item START -->
      <div class="o-destination_item swiper-slide m-0">
        {% include "html/app/components/destinationItem.html" %}
      </div>
      <!-- Destinations item STOP -->

      <!-- Destinations item START -->
      <div class="o-destination_item swiper-slide m-0">
        {% include "html/app/components/destinationItem.html" %}
      </div>
      <!-- Destinations item STOP -->

      <!-- Destinations item START -->
      <div class="o-destination_item swiper-slide m-0">
        {% include "html/app/components/destinationItem.html" %}
      </div>
      <!-- Destinations item STOP -->

      <!-- Destinations item START -->
      <div class="o-destination_item swiper-slide m-0">
        {% include "html/app/components/destinationItem.html" %}
      </div>
      <!-- Destinations item STOP -->

    </div>
  </div>
  <!-- Destinations slider STOP -->

</div>
