<a class="d-block" href="locationArticle.html">
  <div class="aspectRatio">
    <!-- Note for DEVs: if there is not featured image use this img src -->
    <!-- Image variation: 750x562 -->
    <img class="o-card_img w-100" src="../media/app/placeholder-card.png" alt="Featured image">
  </div>

  <div class="o-destination_text">
    <div class="font-weight-semibold">Barcelona</div>
    <div class="f-15">Spain</div>
  </div>
</a>
