<div class="o-card -event">
  <a class="o-card_up d-block overflowHidden" href="eventArticle.html">
    <div class="aspectRatio">
      <!-- Note for DEVs: if there is not featured image use this img src -->
      <!-- Image variation: 750x562 -->
      <img class="o-card_img w-100" src="../media/app/placeholder-event.png" alt="Event image">
    </div>
  </a>

  <div class="o-card_down d-flex">
    <div class="mr-3">
      <div class="o-card_date font-weight-bold">MAY</div>

      <!-- Note for DEVs: "+2" is duration of event in days -->
      <div>16<sup class="f-10">+2</sup></div>
    </div>

    <div>
      <!-- Note for DEVs: truncate title to max 85 characters -->
      <h2 class="o-card_title c-ttl"><a href="eventArticle.html">Julia Morgan Ballroom</a></h2>
      <div class="o-card_location">Barcelona, Spain</div>
    </div>

  </div>
</div>
