<footer class="o-mainFooter bg-black-lighten lh2rem color-white">
  <h2 class="sr-only">Main Footer</h2>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 o-mainFooter_newsletter p-0">
        {% include "html/app/components/newsletter.html" %}
      </div>

      <div class="col-lg-6 o-mainFooter_mobileApp pt-4 pt-lg-0 px-0">
        {% include "html/app/components/mobileApp.html" %}
      </div>

      <div class="col-lg-2 o-mainFooter_menu py-4 pt-lg-5 pb-lg-0">
        <div class="color-gray text-uppercase font-weight-heavy">Menu</div>

        <ul>
          <li><a class="c-link" href="#">Homepage</a></li>
          <li><a class="c-link" href="#">Gay Hotels</a></li>
          <li><a class="c-link" href="#">Blog</a></li>
          <li><a class="c-link" href="#">Destinations</a></li>
          <li><a class="c-link" href="#">Events</a></li>
          <li><a class="c-link" href="#">About</a></li>
        </ul>

        {% include "html/app/components/currencySwitcher.html" %}
      </div>

      <div class="col-lg-2 o-mainFooter_getInspired pt-4 py-lg-5">
        <div class="color-gray text-uppercase font-weight-heavy">Get inspired</div>

        <ul>
          <li><a class="c-link" href="#">City Guides</a></li>
          <li><a class="c-link" href="#">Community</a></li>
          <li><a class="c-link" href="#">Party reviews</a></li>
          <li><a class="c-link" href="#">Lorem ipsum</a></li>
          <li><a class="c-link" href="#">Dolorsit</a></li>
        </ul>
      </div>

      <div class="col-lg-6 o-mainFooter_destinationsWrapper pt-4 pt-lg-5">
        <div class="color-gray text-uppercase font-weight-heavy">Destinations</div>

        <input id="destinationsTrigger" class="o-toggle_trigger" type="checkbox">

        <ul class="o-mainFooter_destinations d-lg-flex flex-wrap relative">
          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Barcelona</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Barcelona</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Barcelona</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Dallas</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Dallas</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Dallas</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Mykonos</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Mykonos</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Mykonos</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Lorem</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Lorem</a>
          </li>

          <li class="o-mainFooter_destinations_item">
            <a class="c-link" href="#"><span class="color-gray">Gay Hotels </span>Lorem</a>
          </li>
        </ul>

        <label class="o-toggle_label d-lg-none" for="destinationsTrigger">
          <span class="first">View all</span>
          <span class="second">Hide</span>
        </label>
      </div>

      <div class="col-lg-2 o-mainFooter_social pt-lg-5 pb-lg-5 d-flex flex-column align-items-center d-lg-block">
        <div class="color-gray text-uppercase font-weight-heavy d-none d-lg-block mb-2 pb-1">Social</div>

        {% include "html/app/components/socialIcons.html" %}
      </div>

      <div class="col-12 o-mainFooter_copyright f-14 my-4">
        <div class="color-lightGray">Copyright &copy; 2018 GayHotels</div>

        <ul class="o-separatedList">
          <li class="o-separatedList_item"><a class="c-link c-link-clean" href="#">Terms of service</a></li>
          <li class="o-separatedList_item"><a class="c-link c-link-clean" href="#">Privacy policy</a></li>
          <li class="o-separatedList_item"><a class="c-link c-link-clean" href="#">Data policy</a></li>
        </ul>
      </div>

      <div class="col-12 o-mainFooter_last d-flex justify-content-between mt-5 mb-4 pt-lg-4">
        <a class="o-hexis d-inline-flex flex-column" href="https://wwww.hexis.hr">
          <span class="o-hexis_text text-uppercase">Site by</span>
        </a>

        <a class="o-toTop" href="#header" data-scroll>Back to top</a>
      </div>

    </div>
  </div>

</footer>
