<!-- Gallery small START -->
<div class="o-gallery -small">
  <!-- Gallery START -->
  <ul class="o-gallery d-sm-flex justify-content-center" data-gallery>    
    <li class="o-gallery_item">
      <a class="o-gallery_link d-block" href="https://placeimg.com/500/375/tech" data-gallery-item>
        <img class="o-gallery_img d-block w-100" src="https://placeimg.com/500/375/tech" alt="Gallery image">
      </a>
    </li>

    <li class="o-gallery_item">
      <a class="o-gallery_link d-block" href="https://placeimg.com/500/375/tech" data-gallery-item>
        <img class="o-gallery_img d-block w-100" src="https://placeimg.com/500/375/tech" alt="Gallery image">
      </a>
    </li>

    <li class="o-gallery_item">
      <a class="o-gallery_link d-block" href="https://placeimg.com/500/375/tech" data-gallery-item>
        <img class="o-gallery_img d-block w-100" src="https://placeimg.com/500/375/tech" alt="Gallery image">
      </a>
    </li>

    <li class="o-gallery_item last">
      <a class="o-gallery_link d-block" href="https://placeimg.com/500/375/tech" data-gallery-item>
        <img class="o-gallery_img d-block w-100" src="https://placeimg.com/500/375/tech" alt="Gallery image">
        <span class="o-gallery_count color-white z1 text-center">+3</span>
      </a>
    </li>

    <li class="o-gallery_item">
      <a class="o-gallery_link d-block" href="https://placeimg.com/500/375/tech" data-gallery-item>
        <img class="o-gallery_img d-block w-100" src="https://placeimg.com/500/375/tech" alt="Gallery image">
      </a>
    </li>
  </ul>
  <!-- Gallery STOP -->
</div>
<!-- Gallery small STOP -->
