<header id="header" class="o-mainHeader">
  <h1 class='sr-only'>{{ siteName }}</h1>

  <!-- Bottombar START -->
  <div class="o-mainHeader_fixed" data-sticky-header>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="o-canvas menu" data-canvas="menu"></div>

          <div class="o-mainHeader_bottomBar relative">

            <div class="o-mainHeader_logoSearchWrapper">
              <!-- Main Logo START -->
              {% include "html/app/components/mainLogo.html" %}
              <!-- Main Logo STOP -->
              <!-- Search desktop trigger START -->
              {% include "html/app/components/searchHeader.html" %}
              <!-- Search desktop trigger STOP -->
            </div>

            <!-- Main Navigation START -->
            <div class="o-mainNavWrapper" data-menu>
              {% include "html/app/components/mainNavigation.html" %}
              {% include "html/app/components/currencySwitcher.html" %}
            </div>
            <!-- Main Navigation STOP -->

            <!-- Mobile Triggers START -->
            {% include "html/app/components/mobileTriggers.html" %}
            <!-- Mobile Triggers STOP -->

            <a class="o-mainHeader_backButton" href="search.html">Back to results</a>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Bottombar STOP -->

  <!-- Background for active mobile Search and Menu -->
  <div class="o-canvas search" data-canvas="search"></div>
  <!-- Main Search START -->
  {% include "html/app/components/mainSearch.html" %}
  <!-- Main Search STOP -->

</header>
