<!-- Event cards slider START -->
<div class="o-cardSlider swiper-container py-1" data-swiper data-swiper-space-between="15"
    data-swiper-slides-per-view="3" data-swiper-pagination='true' data-swiper-pagination-clickable='true'
    data-swiper-resistance-ratio="0" data-swiper-pagination-object='{
      "el": ".swiper-pagination",
      "clickable": true,
      "bulletClass": "o-cardSlider_pagination"
    }'

    data-swiper-breakpoints='{
      "600": {
        "slidesPerView": 1.07,
        "spaceBetween": 10
      },
      "1024": {
        "slidesPerView": 2.3
      }
    }'>
  <div class="swiper-wrapper">
    <!-- Slide item START -->
    <div class="swiper-slide">
      {% include "html/app/components/eventCard.html" %}
    </div>
    <!-- Slide item STOP -->

    <!-- Slide item START -->
    <div class="swiper-slide">
      {% include "html/app/components/eventCard.html" %}
    </div>
    <!-- Slide item STOP -->

    <!-- Slide item START -->
    <div class="swiper-slide">
      {% include "html/app/components/eventCard.html" %}
    </div>
    <!-- Slide item STOP -->

    <!-- Slide item START -->
    <div class="swiper-slide">
      {% include "html/app/components/eventCard.html" %}
    </div>
    <!-- Slide item STOP -->

    <!-- Slide item START -->
    <div class="swiper-slide">
      {% include "html/app/components/eventCard.html" %}
    </div>
    <!-- Slide item STOP -->
  </div>

  <div class="swiper-pagination"></div>

</div>
<!-- Event cards slider STOP -->
