{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/textarea.html" as textarea %}
<div class="row">
  <div class="col-12">
    <h3 class="c-ttl">Reservation details</h3>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-md-6">
        {{
          input.inputFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Check in",
            fe_id = "inquiryCheckIn",
            fe_class = "form-control",
            fe_name = "checkin",
            fe_type = "text",
            fe_attr = ["readonly data-datepicker"]
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Check out",
            fe_id = "inquiryCheckOut",
            fe_class = "form-control",
            fe_name = "checkout",
            fe_type = "text",
            fe_attr = ["readonly data-datepicker"]
          )
        }}
      </div>

      <div class="col-md-3">
        {{
          select.selectFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Number of kids",
            fe_id = "kidsCountry",
            fe_class = "form-control",
            fe_name = "Kids",
            fe_attr = ["size"],
            opt_1 = "0",
            opt_2 = "1",
            opt_3 = "2"
          )
        }}
      </div>

      <div class="col-md-3">
        {{
          input.inputFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Kid 1 birthday",
            fe_id = "inquiryKid1",
            fe_class = "form-control",
            fe_name = "kidBirthday1",
            fe_type = "text",
            fe_attr = ["readonly data-datepicker"]
          )
        }}
      </div>

      <div class="col-md-3">
        {{
          input.inputFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Kid 2 birthday",
            fe_id = "inquiryKid2",
            fe_class = "form-control",
            fe_name = "kidBirthday2",
            fe_type = "text",
            fe_attr = ["readonly data-datepicker"]
          )
        }}
      </div>

      <div class="col-md-3">
        {{
          input.inputFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Kid 3 birthday",
            fe_id = "inquiryKid3",
            fe_class = "form-control",
            fe_name = "kidBirthday3",
            fe_type = "text",
            fe_attr = ["readonly data-datepicker"]
          )
        }}
      </div>

      <div class="col-12">
        {{
          textarea.textareaFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Note",
            fe_id = "inquiryNote",
            fe_class = "form-control",
            fe_name = "inquiryNote",
            fe_rows = "3"
          )
        }}
      </div>
    </div>
  </div>
</div>
