<div class="my-12">
  <div class="row">
    <div class="col-mdp-6">
      <h3 class="c-ttl-pg_sub m-0 pb-4">Extra charges</h3>

      <table class="o-inquiryPageTable o-inquiryPageTable-charges table">
        <thead>
          <tr>
            <th>Charge</th>
            <th>Amount</th>
            <th>Age limit</th>
            <th>Add</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td data-label="Charge">Lunch</td>
            <td data-label="Amount">1</td>
            <td data-label="Age limit">18</td>
            <td data-label="Add">
              <select id="pets" class="form-control" name="Lunch" size>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <label class="sr-only" for="pets">Lunch</label>
            </td>
          </tr>
          <tr>
            <td data-label="Charge">Ironing</td>
            <td data-label="Amount">-</td>
            <td data-label="Age limit">-</td>
            <td data-label="Add">
              <div class="c-customCheckbox">
                <input id="iron" class="c-customCheckbox_input" type="checkbox">
                <label class="c-customCheckbox_label c-customCheckbox_label-alt" for="iron"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td data-label="Charge">Cleaning</td>
            <td data-label="Amount">-</td>
            <td data-label="Age limit">-</td>
            <td data-label="Add">
              <div class="c-customCheckbox">
                <input id="clean" class="c-customCheckbox_input" type="checkbox">
                <label class="c-customCheckbox_label c-customCheckbox_label-alt" for="clean"></label>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="col-mdp-6">
      <h3 class="c-ttl-pg_sub m-0 pb-4">Price calculation</h3>

      <table class="o-inquiryPageTable o-inquiryPageTable-price table">
        <thead>
          <tr>
            <th>Service</th>
            <th>Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Adults</td>
            <td data-label="Quantity">2</td>
            <td data-label="Amount"><span class="price_amount">22.00</span
              >&nbsp;<span class="price_currency">EUR</span></td>
          </tr>
          <tr>
            <td>Kids</td>
            <td data-label="Quantity">2</td>
            <td data-label="Amount"><span class="price_amount">22.00</span
              >&nbsp;<span class="price_currency">EUR</span></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>Total amount</td>
            <td></td> <!-- This TD should be empty without whitespaces inside -->
            <td data-label="Total amount"><span class="price_amount">22.00</span
              >&nbsp;<span class="price_currency">EUR</span></td>
          </tr>
        </tfoot>
      </table>

      <div id="inquiry-details-priceNotAvailable">Missing required data for calculation information</div>
    </div>
  </div>
</div>
