{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}

<div class="row">

  <div class="col-12">
    <h3 class="c-ttl">Personal information</h3>
  </div>

  <div class="col-12">
    <div class="row">

      <div class="col-12">
        {{
          select.selectFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Salutation",
          fe_id = "inquirySalutation",
          fe_class = "form-control",
          fe_name = "Salutation",
          fe_attr = ["size"],
          opt_1 = "Mr.",
          opt_2 = "Mrs."
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "First name",
          fe_id = "inquiryFirstName",
          fe_class = "form-control",
          fe_name = "firstName",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Last name",
          fe_id = "inquiryLastName",
          fe_class = "form-control",
          fe_name = "lastName",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          select.selectFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Country",
          fe_id = "inquiryCountry",
          fe_class = "form-control",
          fe_name = "Country",
          fe_attr = ["size"],
          opt_1 = "Croatia",
          opt_2 = "England"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "ZIP code",
          fe_id = "inquiryZipCode",
          fe_class = "form-control",
          fe_name = "zipCode",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "City",
          fe_id = "inquiryCity",
          fe_class = "form-control",
          fe_name = "city",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Address",
          fe_id = "inquiryAddress",
          fe_class = "form-control",
          fe_name = "address",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Email",
          fe_id = "inquiryEmail",
          fe_class = "form-control",
          fe_name = "email",
          fe_type = "email"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Phone",
          fe_id = "inquiryPhone",
          fe_class = "form-control",
          fe_name = "phone",
          fe_type = "tel"
          )
        }}
      </div>
    </div>
  </div>
</div>
