<!-- Review form for leaving comment START -->
<div class="o-reviewForm">
  <form action="unit.html">
    <div class="rangeSliderWrapper">
      <label class="sr-only" for="reviewslider">Review rate</label>
      <input id="reviewslider" type="range" min="1" max="10" step="1" value="10" autocomplete="off"
          data-range-slider>
    </div>

    <div class="form-group">
      <label class="form-label" for="reviewText">Type review</label>
      <textarea id="reviewText" class="form-control" name="Review text" rows="4"
          placeholder="Tell us what you liked or disliked about us"></textarea>
    </div>

    <button class="c-btn c-btn-primary btn-wide-md w-100" type="submit">Submit</button>
  </form>
</div>
<!-- Review form for leaving comment STOP -->
