<!-- Location card START -->
<div class="o-locationCard d-mdp-flex">
  <div class="o-locationCard_img">
    <a class="d-block overflowHidden" href="locationArticle.html">
      <div class="aspectRatio">
        <!-- Note for DEVs: if there is not featured image use this img src -->
        <!-- Image variation: 750x562 -->
        <img class="o-card_img w-100" src="../media/app/placeholder-card.png" alt="Featured image">
      </div>
    </a>
  </div>

  <div class="o-locationCard_content">

    <h3 class="c-ttl color-primary-darken font-heading font-weight-medium f-24 mb-2 mt-2 mt-mdp-0">
      <a href="locationArticle.html">Barcelona, Spain</a>
    </h3>

    <div class="o-locationCard_desc preformat">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget ullamcorper pretium.
         Ut vestibulum elementum pulvinar. Donec consectetur est ac mi suscipit condimentum. Suspendisse diam
         nibh, placerat sed lorem at, condimentum efficitur justo. Quisque non vehicula quam. Duis a scelerisque
         arcu. Ut in ipsum et felis interdum lobortis.</p>
    </div>

    <div class="d-flex flex-column flex-mdp-row">

      <a class="c-btn c-btn-neutral c-btn-minw240 mt-4 mt-mdp-0" href="search.html">Gay Hotels in Barcelona</a>
      <a class="c-btn c-btn-neutral c-btn-minw240 ml-mdp-3 mt-3 mt-mdp-0" href="eventList.html">
        Gay Events in Barcelona
      </a>
    </div>

  </div>
</div>
<!-- Location card STOP -->
