{% import "html/app/bits/form/select.html" as select %}

<!-- Main navigation -->
<nav class="o-mainNav">

  <!-- There is no need for translation of this item, it is placed here only for HTML semantic reason -->
  <h2 class='sr-only'>Main navigation</h2>

  <ul class="o-mainNav_list">
    <li class="o-mainNav_item -title d-lg-none">MENU</li>
    <li class="o-mainNav_item d-lg-none">
      <a class="c-link d-block" href="index.html">Homepage</a>
    </li>
    <li class="o-mainNav_item -sub" data-scope>
      <a class="c-link d-block" href="object.html">Destinations</a>
      <i class="c-icon c-icon-12-6" data-menu-trigger="sub">
        <img class="iconic" src="../media/app/chevron-down.svg" alt="chevron-down">
      </i>
      <div class="o-mainNav_subListWrapper">
        <ul class="o-mainNav_subList" data-sub>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Mykonos, Greece</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Lorem Ipsum, Dolor</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Lorem Ipsum, Dolor</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Mykonos, Greece Mykonos, Greece</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Brcelona, Spain</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Mykonos, Greece Mykonos, Greece</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Brcelona, Spain</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Real Madrid, Spain</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Mykonos, Greece</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Mykonos, Greece</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Mykonos, Greece</a>
          </li>
          <li class="o-mainNav_item">
            <a class="c-link d-block" href="object.html">Mykonos, Greece</a>
          </li>
          <!-- <li class="o-mainNav_item -sub" data-scope>
            <a class="c-link d-block" href="paymentCC.html">Payment CC</a>
            <i class="c-icon c-icon-9-10" data-menu-trigger="subsub">
              <img class="iconic" src="../media/app/chevron-down.svg" alt="chevron-down">
            </i>
            <ul class="o-mainNav_subList" data-subsub>
              <li class="o-mainNav_item">
                <a class="c-link d-block" href="thankYou.html">Thank you page</a>
              </li>
              <li class="o-mainNav_item">
                <a class="c-link d-block" href="404.html">404</a>
              </li>
              <li class="o-mainNav_item">
                <a class="c-link d-block" href="denied.html">Access denied</a>
              </li>
            </ul>
          </li> -->
        </ul>
      </div>
    </li>
    <li class="o-mainNav_item">
      <a class="c-link d-block" href="eventList.html">Events</a>
    </li>
    <li class="o-mainNav_item">
      <a class="c-link d-block" href="newsList.html">Blog</a>
    </li>
    <li class="o-mainNav_item">
      <a class="c-link d-block" href="contact.html">About</a>
    </li>
  </ul>

</nav>
