<div class="o-mainSearch" data-search>

  <form action="search.html">

    <div class="o-mainSearch_wrapper">
      <div class="o-mainSearch_title"><span class="prefix">Gay</span> Hotel Search</div>

      <ul class="o-mainSearch_list">

        <!-- 
          Note for devX: 
          When adding the 'selected' class for the event when the user opens the dropdown, add 'remove' class to the
          '[data-search]' parent element. When the user chooses the destination 
        -->
        <li class="o-mainSearch_item select">
          <div class="query">Select Destination...</div>
          <div class="o-mainSearch-headerDropdown">
            <div class="o-mainSearch_title-destination d-lg-none">
              Select Destination <span class="close"></span>
            </div>
            <ul class="o-mainSearch-headerDropdown_list">
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeader">Mykonos, Greece</label>
                <input id="mainSearchHeader" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderOne">Lorem Ipsum, Dolor</label>
                <input id="mainSearchHeaderOne" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderTwo">Brcelona, Spain</label>
                <input id="mainSearchHeaderTwo" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderThree">Mykonos, Greece</label>
                <input id="mainSearchHeaderThree" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderFour">Lorem Ipsum, Dolor</label>
                <input id="mainSearchHeaderFour" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderFive">Brcelona, Spain</label>
                <input id="mainSearchHeaderFive" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderSix">Mykonos, Greece</label>
                <input id="mainSearchHeaderSix" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderSeven">Lorem Ipsum, Dolor</label>
                <input id="mainSearchHeaderSeven" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderEight">Brcelona, Spain</label>
                <input id="mainSearchHeaderEight" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderNine">Mykonos, Greece</label>
                <input id="mainSearchHeaderNine" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderTen">Lorem Ipsum, Dolor</label>
                <input id="mainSearchHeaderTen" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
              <li class="o-mainSearch-headerDropdown_item">
                <label class="label" for="mainSearchHeaderEleven">Brcelona, Spain</label>
                <input id="mainSearchHeaderEleven" class="hidden" type="radio" name="mainSearchHeaderSearch">
              </li>
            </ul>
          </div>
        </li>

        <!-- Note for devX: Will have to adjust to be like in design -->
        <li class="o-mainSearch_item datepicker">
          <div class="form-group h-100">
            <label class="form-label m-0" for="searchCheckIn">CHECK-IN</label>
            <input id="searchCheckIn" class="form-control h-100" type="text" name="checkin"
              readonly data-input data-datepicker>
          </div>
        </li>

        <!-- Note for devX: Will have to adjust to be like in design -->
        <li class="o-mainSearch_item datepicker">
          <div class="form-group h-100">
            <label class="form-label m-0" for="searchCheckOut">CHECK-OUT</label>
            <input id="searchCheckOut" class="form-control h-100" type="text" name="checkout"
              readonly data-input data-datepicker>
          </div>
        </li>

        <li class="o-mainSearch_item">
          <div class="form-group">
            <button class="c-btn c-btn-primary w-100" type="submit">
              <span class="article">Find Hotels</span>
              <span class="d-block d-lg-none jes">Find Gay Hotels</span>
              <span class="d-none d-lg-block jes">Search</span>
            </button>
          </div>
        </li>

      </ul>
    </div>

  </form>

</div>
