<a class="o-logo" href="index.html">
  <img class="o-logo_img -white" src="../media/brand/logo-white.svg" alt="Gay Hotels">
  <img class="o-logo_img -blue" src="../media/brand/logo-blue.svg" alt="Gay Hotels">
</a>
