<div class="o-mainHeader_mobileTriggers d-lg-none">
  <div class="o-mainHeader_trigger -search" data-trigger="search"></div>
  <div class="o-mainHeader_trigger -menu" data-trigger="menu"></div>
</div>
