<div class="o-mobileApp_wrapper color-white">
  <div class="o-mobileApp d-flex flex-column justify-content-center align-items-center h-100">
    <div class="relative">
      <h2 class="o-mobileApp_title f-23 font-weight-bold">Gay Hotels Mobile App</h2>

      <div class="iphone"></div>

      <div class="o-mobileApp_linkWrapper d-flex align-items-end align-items-lg-start flex-column flex-lg-row">
        <a class="o-mobileApp_link -appStore mb-3 mb-lg-0 mr-lg-3" href="#"></a>
        <a class="o-mobileApp_link -googlePlay" href="#"></a>
      </div>

    </div>
  </div>
</div>
