{% import "html/app/bits/form/input.html" as input %}

<!-- Update stay modal START -->
<section class="o-modal -updateStay fade modal" id="updateStayModal" tabindex="-1" role="dialog"
    aria-labelledby="updateStayModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="o-modal_content w-100 h-100 p-5">
        <h3 class="c-ttl c-ttl-h1 font-weight-light color-primary-darken text-center mb-5">Update your stay</h3>

        <div class="o-search_adults">
          <label class="o-search_adultsLabel" for="modalAdults">ADULTS</label>
          <input id="modalAdults" type="number" name="adults" hidden>
          <div class="o-search_adultsController">
            <span class="o-search_adultsController_item minus"></span>
            <span class="o-search_adultsController_item no">0</span>
            <span class="o-search_adultsController_item plus"></span>
          </div>
        </div>

        <div class="d-md-flex justify-content-between mt-5 mb-4">
          <div class="form-default relative mr-3">
            {{
              input.inputFunction(
              fg_class = "form-group m-0",
              lb_class = "form-label",
              lb_txt = "Check in",
              fe_id = "modalCheckIn",
              fe_class = "form-control",
              fe_name = "modalCheckIn",
              fe_type = "text",
              fe_attr="data-input data-datepicker readonly"
              )
            }}
          </div>

          <div class="form-default relative mt-4 mt-md-0">
            {{
              input.inputFunction(
              fg_class = "form-group m-0",
              lb_class = "form-label",
              lb_txt = "Check out",
              fe_id = "modalCheckOut",
              fe_class = "form-control",
              fe_name = "modalCheckOut",
              fe_type = "text",
              fe_attr="data-input data-datepicker readonly"
              )
            }}
          </div>
        </div>

        <div class="d-md-flex">
          <button class="c-btn c-btn-secondary-darken w-100 mr-md-3" type="submit" name="button">Confirm changes</button>
          <button class="c-btn c-btn-neutral w-100 w-md-50 mt-2 mt-md-0" data-dismiss="modal" aria-label="Close">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Update stay modal STOP -->
