<!-- About modal START -->
<section class="o-modal -default fade modal" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button class="o-modal_close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">El Palauet Living Barcelona</span>
      </button>

      <div class="o-modal_content p-3 pb-5">
        <h2 class="c-ttl c-ttl-h1 color-primary-darken font-weight-light mb-4" id="aboutModalLabel">About</h2>

        <div class="preformat">
          <p>The area around the Hotel Axel Barcelona is known as the Gay-xample because of its lively gay scene.
             The staff has knowledge of the local gay scene, and the hotel is hetero-friendly too.</p>

          <p>Offering free Wi-Fi throughout, this design hotel is close to Passeig de Gràcia's exclusive boutiques.
             The Axel Hotel’s 500m² Spa Centre includes a hydromassage pool and saunas, and the modern rooms have
             flat-screen satellite TVs.</p>

          <h3>Notable features</h3>

          <ul>
            <li>Large swimming pool</li>
            <li>Terrace with a hot tub and a cocktail bar</li>
            <li>Parties, art exhibitions and shows</li>
          </ul>

          <p>The Axel Hotel Barcelona & Urban Spa offers easy access to the Ramblas, the Picasso Museum and Gothic
             Quarter. The hotel occupies an attractive 19th-century building. </p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- About modal STOP -->
