<!-- Unit modal START -->
<section class="o-modal -unit o-unit fade modal" id="unitModal" tabindex="-1" role="dialog"
    aria-labelledby="unitModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button class="o-modal_close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">El Palauet Living Barcelona</span>
      </button>

      <div class="o-modal_content">

        <div class="d-lg-flex">

          <div class="o-unit_gallery w-100 overflowHidden">
            {% include "html/app/components/swiperGallery.html" %}
          </div>

          <div class="o-modal_content_wrapper w-100 p-3 pb-5">
            <h2 class="c-ttl c-ttl-h1 color-primary-darken font-weight-semibold mb-1">Suite</h2>
            <div><span class="o-icon -guest-1 mr-1"></span>1 Single Bed</div>

            <div class="mt-3 mb-5">
              <div class="preformat mb-3">
                <p>Lorem ipsum with separate bedroom, lounge and 30m2 terrace.</p>
              </div>

              <section>
                <h3 class="c-ttl c-ttl-h3 color-primary-darken font-weight-semibold mb-3">Amenities</h3>

                <ul class="o-amenities d-flex flex-wrap align-items-center">
                  <li class="o-amenities_item">Free WiFi</li>
                  <li class="o-amenities_item">Flat-screen TV</li>
                  <li class="o-amenities_item">Patio</li>
                  <li class="o-amenities_item">Hardwood/Parquet floors</li>
                  <li class="o-amenities_item">Air condition</li>
                  <li class="o-amenities_item">Soundproofing</li>
                  <li class="o-amenities_item">Pay-per-view Channels</li>
                  <li class="o-amenities_item">Free toiletries</li>
                  <li class="o-amenities_item">Free WiFi</li>
                  <li class="o-amenities_item">Flat-screen TV</li>
                  <li class="o-amenities_item">Patio</li>
                  <li class="o-amenities_item">Hardwood/Parquet floors</li>
                  <li class="o-amenities_item">Air condition</li>
                  <li class="o-amenities_item">Soundproofing</li>
                  <li class="o-amenities_item">Pay-per-view Channels</li>
                  <li class="o-amenities_item">Free toiletries</li>
                  <li class="o-amenities_item">Free WiFi</li>
                  <li class="o-amenities_item">Flat-screen TV</li>
                  <li class="o-amenities_item">Patio</li>
                  <li class="o-amenities_item">Hardwood/Parquet floors</li>
                  <li class="o-amenities_item">Air condition</li>
                  <li class="o-amenities_item">Soundproofing</li>
                  <li class="o-amenities_item">Pay-per-view Channels</li>
                  <li class="o-amenities_item">Free toiletries</li>
                  <li class="o-amenities_item">Free WiFi</li>
                  <li class="o-amenities_item">Flat-screen TV</li>
                  <li class="o-amenities_item">Patio</li>
                  <li class="o-amenities_item">Hardwood/Parquet floors</li>
                  <li class="o-amenities_item">Air condition</li>
                  <li class="o-amenities_item">Soundproofing</li>
                  <li class="o-amenities_item">Pay-per-view Channels</li>
                </ul>
              </section>
            </div>
          </div>

          <a class="c-btn c-btn-secondary-darken" href="#">Select room (&euro;325)</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Unit modal STOP -->
