<!-- Terms and conditions modal START -->
<section class="o-modal -default fade modal" id="termsAndConditionsModal" tabindex="-1" role="dialog" aria-labelledby="termsAndConditionsModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button class="o-modal_close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Back</span>
      </button>

      <div class="o-modal_content p-3 pb-5">
        <h2 class="c-ttl c-ttl-h1 color-primary-darken font-weight-light mb-4" id="termsAndConditionsModalLabel">
          Terms and Conditions
        </h2>

        <div class="preformat">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolor ab sapiente facere placeat minima
            mollitia illo sed nemo, similique perspiciatis quaerat cupiditate tempora corrupti obcaecati ratione
            voluptas nulla! Aliquid.</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Terms and conditions modal STOP -->
