<!-- About modal START -->
<section class="o-modal -default fade modal" id="reviewsModal" tabindex="-1" role="dialog"
    aria-labelledby="reviewsModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button class="o-modal_close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">El Palauet Living Barcelona</span>
      </button>

      <div class="o-modal_content p-3 pb-5">
        <h2 class="c-ttl c-ttl-h1 color-primary-darken font-weight-light mb-4" id="aboutModalLabel">Reviews</h2>

        <!-- Reviews START -->
        <ul class="o-reviews">

          <!-- Review item START -->
          <li class="o-reviews_item -blue d-flex">
            <div class="o-reviews_rating d-flex justify-content-center align-items-center mr-2">10</div>

            <div class="o-reviews_info">
              <div class="d-md-flex align-items-center mb-1">
                <div>Benjamnin <span class="f-14">from Netherlands</span></div>
                <div class="o-reviews_item_date f-14 ml-md-1">(May 15, 2018)</div>
              </div>

              <div>
                <div class="c-ttl c-ttl-h3 color-primary-darken mt-2 mb-1 f-16 font-weight-medium">
                  Outstanding expirience
                </div>

                <!-- Note for DEVs: truncate description to 200 characters -->
                <p class="o-reviews_desc m-0">
                  Beautiful room with lots of space and multiple balconies. This suite had all that was needed
                  for a luxurious and enjoyable stay. The location is amazing. Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
          </li>
          <!-- Review item STOP -->

          <!-- Review item START -->
          <li class="o-reviews_item -blue d-flex">
            <div class="o-reviews_rating d-flex justify-content-center align-items-center mr-2">5</div>

            <div class="o-reviews_info">
              <div class="d-md-flex align-items-center mb-1">
                <div>Benjamnin <span class="f-14">from Netherlands</span></div>
                <div class="o-reviews_item_date f-14 ml-md-1">(May 15, 2018)</div>
              </div>

              <div>
                <div class="c-ttl c-ttl-h3 color-primary-darken mt-2 mb-1 f-16 font-weight-medium">
                  Lorem ipsum dolor sit amet lorem dorem
                </div>

                <!-- Note for DEVs: truncate description to 200 characters -->
                <p class="o-reviews_desc m-0">
                  Beautiful room with lots of space and multiple balconies. This suite had all that was needed
                  for a luxurious and enjoyable stay. The location is amazing. Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
          </li>
          <!-- Review item STOP -->

          <!-- Review item START -->
          <li class="o-reviews_item -yellow d-flex">
            <div class="o-reviews_rating d-flex justify-content-center align-items-center mr-2">4</div>

            <div class="o-reviews_info">
              <div class="d-md-flex align-items-center mb-1">
                <div>Benjamnin <span class="f-14">from Netherlands</span></div>
                <div class="o-reviews_item_date f-14 ml-md-1">(May 15, 2018)</div>
              </div>

              <div>
                <div class="c-ttl c-ttl-h3 color-primary-darken mt-2 mb-1 f-16 font-weight-medium">
                  Not worth the price
                </div>

                <!-- Note for DEVs: truncate description to 200 characters -->
                <p class="o-reviews_desc m-0">
                  Beautiful room with lots of space and multiple balconies. This suite had all that was needed
                  for a luxurious and enjoyable stay. The location is amazing. Lorem ipsum dolor sit amet.
                </p>
              </div>
            </div>
          </li>
          <!-- Review item STOP -->

          <!-- Review item START -->
          <li class="o-reviews_item -red d-flex">
            <div class="o-reviews_rating d-flex justify-content-center align-items-center mr-2">1</div>

            <div class="o-reviews_info">
              <div class="d-md-flex align-items-center mb-1">
                <div>Guest <span class="f-14">from Germtech</span></div>
                <div class="o-reviews_item_date f-14 ml-md-1">(May 15, 2018)</div>
              </div>

              <div>
                <div class="c-ttl c-ttl-h3 color-primary-darken mt-2 mb-1 f-16 font-weight-medium">
                  Simply terrible!
                </div>

                <!-- Note for DEVs: truncate description to 200 characters -->
                <p class="o-reviews_desc m-0">
                  Lorem ipsum dolor sit amet!
                </p>
            </div>
          </li>
          <!-- Review item STOP -->

        </ul>
        <!-- Reviews STOP -->

      </div>
    </div>
  </div>
</section>
<!-- About modal STOP -->
