<!-- Hotel amenities modal START -->
<section class="o-modal -default fade modal" id="amenitiesModal" tabindex="-1" role="dialog"
    aria-labelledby="amenitiesModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button class="o-modal_close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">El Palauet Living Barcelona</span>
      </button>

      <div class="o-modal_content p-3 pb-5">
        <h2 class="c-ttl c-ttl-h1 color-primary-darken font-weight-light mb-4" id="aboutModalLabel">Hotel amenities</h2>

        <!-- Hotel amenities START -->
        <ul class="o-amenities d-flex flex-wrap align-items-center">
          <li class="o-amenities_item">Free WiFi</li>
          <li class="o-amenities_item">Flat-screen TV</li>
          <li class="o-amenities_item">Patio</li>
          <li class="o-amenities_item">Hardwood/Parquet floors</li>
          <li class="o-amenities_item">Air condition</li>
          <li class="o-amenities_item">Soundproofing</li>
          <li class="o-amenities_item">Pay-per-view Channels</li>
          <li class="o-amenities_item">Free toiletries</li>
          <li class="o-amenities_item">Free WiFi</li>
          <li class="o-amenities_item">Flat-screen TV</li>
          <li class="o-amenities_item">Patio</li>
          <li class="o-amenities_item">Hardwood/Parquet floors</li>
          <li class="o-amenities_item">Air condition</li>
          <li class="o-amenities_item">Soundproofing</li>
          <li class="o-amenities_item">Pay-per-view Channels</li>
          <li class="o-amenities_item">Free toiletries</li>
          <li class="o-amenities_item">Free WiFi</li>
          <li class="o-amenities_item">Flat-screen TV</li>
          <li class="o-amenities_item">Patio</li>
          <li class="o-amenities_item">Hardwood/Parquet floors</li>
          <li class="o-amenities_item">Air condition</li>
          <li class="o-amenities_item">Soundproofing</li>
          <li class="o-amenities_item">Pay-per-view Channels</li>
          <li class="o-amenities_item">Free toiletries</li>
          <li class="o-amenities_item">Free WiFi</li>
          <li class="o-amenities_item">Flat-screen TV</li>
          <li class="o-amenities_item">Patio</li>
          <li class="o-amenities_item">Hardwood/Parquet floors</li>
          <li class="o-amenities_item">Air condition</li>
          <li class="o-amenities_item">Soundproofing</li>
          <li class="o-amenities_item">Pay-per-view Channels</li>
        </ul>
        <!-- Hotel amenities STOP -->

      </div>
    </div>
  </div>
</section>
<!-- Hotel amenities modal STOP -->
