{% import "html/app/bits/form/input.html" as input %}

<form class="o-newsletter d-flex flex-column justify-content-center w-100 f-15 color-white" action="">
  <h2 class="c-ttl d-block f-23 font-weight-bold">Newsletter</h2>

  <div>

    <p class="mt-2 mb-4">
      Be the first to receive details of all new event. party accommodation and other service offers before
      they are made available to the public via our website
    </p>

      <div class="d-flex align-items-center">
        {{ input.inputFunction (
          fg_class = "form-group m-0 w-100",
          lb_class = "sr-only",
          lb_txt = "Enter your email",
          fe_id = "inputNewsletter",
          fe_class = "form-control pr-lg-0",
          fe_name = "Subscription email",
          fe_type = "email",
          fe_placeholder = "Your email..."
          )
        }}

        <button id="submitNewsletter" class="c-btn c-btn-primary text-uppercase" type="submit">Subscribe</button>
      </div>

  </div>

</form>
