<div class="o-card -object">
  <a class="o-card_up d-block overflowHidden" href="object.html">
    <div class="aspectRatio">
      <!-- Note for DEVs: if there is not featured image use this img src -->
      <!-- Image variation: 750x562 -->
      <img class="o-card_img w-100" src="../media/app/placeholder-card.png" alt="Featured image">
    </div>
  </a>

  <div class="o-card_down">
    <div class="o-card_price text-uppercase color-white">
      <div class="f-18">349 &euro;</div>
      <div class="o-card_type-duration">2 Nights</div>
    </div>
    <h2 class="o-card_title c-ttl"><a href="object.html">El Palauet Living Barcelona</a></h2>

    <ul class="o-separatedList-normal align-items-center mt-2">
      <li class="o-separatedList_item o-stars d-flex">
        <div class="o-icon -star"></div>
        <div class="o-icon -star"></div>
        <div class="o-icon -star"></div>
        <div class="o-icon -star"></div>
        <div class="o-icon -star"></div>
      </li>

      <li class="o-separatedList_item f-14"><strong>8.9</strong></li>

      <li class="o-separatedList_item f-14"><span class="color-primary font-weight-bold">Exclusively Gay</span></li>
    </ul>

     <div class="o-card_amenities d-flex mt-2 white-space-nowrap">
       Roof Pool,  Spa Treatments,  Turkish Bath,  24 hour Gym, Roof Pool,  Spa Treatments,  Turkish Bath,  24 hour Gym
     </div>

  </div>
</div>
