<!-- Object action banners START -->
<ul class="o-action -object overflowHidden">

  <li class="o-action_item color-white">
    <div class="o-action_item_wrapper relative">
      <input id="actionBanner1" class="o-toggle_trigger" type="checkbox" checked>
      <label class="o-toggle_label" for="actionBanner1"></label>

      <div class="o-action_body font-weight-bold">
        <div class="c-ttl c-ttl-h3 text-uppercase mb-1 color-white">last minute</div>
        <div class="o-action_price d-flex align-items-center text-uppercase">100% off</div>
        <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
          <li class="o-action_info_item d-block relative">From: 12.06 to 22.06.2017</li>
          <li class="o-action_info_item d-block relative">Minimum stay: 4 days</li>
          <li class="o-action_info_item d-block relative">Valid till: 30.06.2017</li>
        </ul>
      </div>

      <div class="o-action_unitList color-neutral flex-column">
        <div><a href="unit.html">Soba Nedica 1</a></div>
        <div><a href="unit.html">Soba Nedica 2</a></div>
      </div>
    </div>
  </li>

  <li class="o-action_item color-white">
    <div class="o-action_item_wrapper relative">
      <div class="o-action_body font-weight-bold">
        <div class="c-ttl c-ttl-h3 text-uppercase mb-1 color-white">last minute</div>
        <div class="o-action_price d-flex align-items-center text-uppercase">100% off</div>
        <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
          <li class="o-action_info_item d-block relative">From: 12.06 to 22.06.2017</li>
          <li class="o-action_info_item d-block relative">Minimum stay: 4 days</li>
          <li class="o-action_info_item d-block relative">Valid till: 30.06.2017</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="o-action_item color-white">
    <div class="o-action_item_wrapper relative">
      <div class="o-action_body font-weight-bold">
        <div class="c-ttl c-ttl-h3 text-uppercase mb-1 color-white">last minute</div>
        <div class="o-action_price d-flex align-items-center text-uppercase">145 eur off</div>
        <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
          <li class="o-action_info_item d-block relative">From: 12.06 to 22.06.2017</li>
          <li class="o-action_info_item d-block relative">Minimum stay: 4 days</li>
          <li class="o-action_info_item d-block relative">Valid till: 30.06.2017</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="o-action_item color-white">
    <div class="o-action_item_wrapper relative">
      <input id="actionBanner4" class="o-toggle_trigger" type="checkbox">
      <label class="o-toggle_label" for="actionBanner4"></label>

      <div class="o-action_body font-weight-bold">
        <div class="c-ttl c-ttl-h3 text-uppercase mb-1 color-white">last minute</div>
        <div class="o-action_price d-flex align-items-center text-uppercase">100% off</div>
        <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
          <li class="o-action_info_item d-block relative">From: 12.06 to 22.06.2017</li>
          <li class="o-action_info_item d-block relative">Minimum stay: 4 days</li>
          <li class="o-action_info_item d-block relative">Valid till: 30.06.2017</li>
        </ul>
      </div>

      <div class="o-action_unitList color-neutral flex-column">
        <div><a href="unit.html">Soba Nedica 1</a></div>
        <div><a href="unit.html">Soba Nedica 2</a></div>
      </div>
    </div>
  </li>
</ul>
<!-- Object action banners STOP -->
