<!-- Pagination START -->
<div class="row my-5">
  <div class="col d-flex justify-content-center">
    <nav class="o-pagination w-100" aria-label="Pagination">
      <h1 class="sr-only">Pagination</h1>

      <ul class="pagination justify-content-center align-items-center w-100">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">
            <i class="c-icon c-icon-blue c-icon-10-16">
              <img class="iconic" src="../media/app/chevronPagination.svg" alt="chevron left">
            </i>
          </a>
        </li>

        <li class="page-item mobile">
          <a class="page-link" href="#">
            13 / 666
          </a>
        </li>

        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item active"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item last"><a class="page-link" href="#">13</a></li>

        <li class="page-item">
          <a class="page-link text-uppercase" href="#" tabindex="-1"><span class="d-block d-md-none">Next</span>
            <i class="c-icon c-icon-white c-icon-10-16">
              <img class="iconic" src="../media/app/chevronPagination.svg" alt="chevron left">
            </i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- Pagination STOP -->
