<div class="o-promo-footer">
  <div class="container">
    <div class="row o-promo-footerBg">

      <div class="col-lg-3">
        <h2 class="c-ttl c-ttl-promoHeading">Why book with us?</h2>
      </div>

      <div class="col-lg-9">
        <div class="row">

          <div class="col-md-6">
            <div class="o-promo_item">
              <i class="c-icon c-icon-white c-icon-promo"><img class="iconic" 
                  src="../media/app/promo-friendly.svg" alt=""></i>
              <div class="o-promo_about">
                <h3 class="c-ttl c-ttl-promo">
                  <a class="d-block" href="static.html">
                    Real gay places
                    <i class="c-icon c-icon-13-12 c-icon-arrowRight"><img class="iconic" 
                      src="../media/app/arrow-right-white.svg" alt="Arrow right"></i>
                  </a>
                </h3>
                <p class="o-promo_text">Feel welcome anywhere. A booking portal for our community.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="o-promo_item">
              <i class="c-icon c-icon-white c-icon-promo"><img class="iconic" 
                  src="../media/app/promo-locations.svg" alt=""></i>
              <div class="o-promo_about">
                <h3 class="c-ttl c-ttl-promo">
                  <a class="d-block" href="static.html">
                    Select Locations
                    <i class="c-icon c-icon-13-12 c-icon-arrowRight"><img class="iconic" 
                      src="../media/app/arrow-right-white.svg" alt="Arrow right"></i>
                  </a>
                </h3>
                <p class="o-promo_text">Stay close to the best gay bars, clubs, restaurants, saunas and shopping</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="o-promo_item">
              <i class="c-icon c-icon-white c-icon-promo"><img class="iconic" 
                  src="../media/app/promo-curated.svg" alt=""></i>
              <div class="o-promo_about">
                <h3 class="c-ttl c-ttl-promo">
                  <a class="d-block" href="static.html">
                    Curated hotels
                    <i class="c-icon c-icon-13-12 c-icon-arrowRight"><img class="iconic" 
                      src="../media/app/arrow-right-white.svg" alt="Arrow right"></i>
                  </a>
                </h3>
                <p class="o-promo_text">Every hotel is carefully checked to meet our standards and critera.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="o-promo_item">
              <i class="c-icon c-icon-white c-icon-promo"><img class="iconic" 
                  src="../media/app/promo-prices.svg" alt=""></i>
              <div class="o-promo_about">
                <h3 class="c-ttl c-ttl-promo">
                  <a class="d-block" href="static.html">
                    No booking fees
                    <i class="c-icon c-icon-13-12 c-icon-arrowRight"><img class="iconic" 
                      src="../media/app/arrow-right-white.svg" alt="Arrow right">
                    </i>
                  </a>
                </h3>
                <p class="o-promo_text">Best prices and exclusive deals within our gay community.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
