<div class="o-promo">
  <h2 class="sr-only">Promo section</h2>

  <div class="row">

    <div class="col-mdp-4 o-promo_itemWrapper">
      <div class="o-promo_item">
        <i class="c-icon c-icon-blueDark c-icon-promo"><img class="iconic" 
            src="../media/app/promo-locations.svg" alt=""></i>
        <div class="o-promo_about">
          <h3 class="c-ttl c-ttl-promo">
            <a class="d-block" href="static.html">
              Great Locations
              <i class="c-icon c-icon-13-12 c-icon-arrowRight"><img class="iconic" 
                src="../media/app/arrow-right.svg" alt="Arrow right"></i>
            </a>
          </h3>
          <p class="o-promo_text">Stay close to the best gay bars, clubs, restaurants and saunas.</p>
        </div>
      </div>
    </div>

    <div class="col-mdp-4 o-promo_itemWrapper">
      <div class="o-promo_item">
        <i class="c-icon c-icon-blueDark c-icon-promo"><img class="iconic" 
            src="../media/app/promo-selected.svg" alt=""></i>
        <div class="o-promo_about">
          <h3 class="c-ttl c-ttl-promo">
            <a class="d-block" href="static.html">
              Carefully selected
              <i class="c-icon c-icon-13-12 c-icon-arrowRight"><img class="iconic" 
                src="../media/app/arrow-right.svg" alt="Arrow right"></i>
            </a>
          </h3>
          <p class="o-promo_text">Only stylish places that meet our community standards.</p>
        </div>
      </div>
    </div>

    <div class="col-mdp-4 o-promo_itemWrapper">
      <div class="o-promo_item">
        <i class="c-icon c-icon-blueDark c-icon-promo"><img class="iconic" 
            src="../media/app/promo-prices.svg" alt=""></i>
        <div class="o-promo_about">
          <h3 class="c-ttl c-ttl-promo">
            <a class="d-block" href="static.html">
              No booking fees
              <i class="c-icon c-icon-13-12 c-icon-arrowRight"><img class="iconic" 
                src="../media/app/arrow-right.svg" alt="Arrow right"></i>
            </a>
          </h3>
          <p class="o-promo_text">Best prices and exclusive deals within our gay community.</p>
        </div>
      </div>
    </div>

  </div>

</div>
