<div class="o-mainSearch-headerWrapper relative">
  <form action="">

    <div class="o-mainSearch_item select" data-location-dropdown="">
      <input class="form-control query h-100" type="text" id="location_display" name="location_display" 
          data-location-dropdown-value-element-display="" value="Select Destination" readonly="readonly">
      <div class="o-mainSearch-headerDropdown">
        
        <div class="o-mainSearch_title-destination d-lg-none">
          <span data-location-dropdown-target="">Select Destination</span>
          <span class="close"></span>
        </div>

        <ul class="o-mainSearch-headerDropdown_list">

          <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
            <label for="location" class="label" data-value="YFK6O9DS6JyDDIE0tSAhSmKX">Baška</label>
          </li>
          <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
            <label for="location" class="label" data-value="ohh2H64F5CvHa2TnA7Rw9cwg">DarkGreen_Location</label>
          </li>
          <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
            <label for="location" class="label" data-value="MW8BwTn78CUrZHQcNsGfM744">DarkViolet_Location</label>
          </li>
          <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
            <label for="location" class="label" data-value="lfGb90V7CO1YTtZ7AP9PysUU">ForestGreen_Location</label>
          </li>
          <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
            <label for="location" class="label" data-value="BZgwZWuIT8cyzILV8avkEcQ6">LawnGreen_Location</label>
          </li>
          <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
            <label for="location" class="label" data-value="vvLXXHriG0R7elpIbrTPKVTo">Olive_Location</label>
          </li>
          <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
            <label for="location" class="label" data-value="tgvh4JHCgPH2eWrmGC41mHbG">PapayaWhip_Location</label>
          </li>
          <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
            <label for="location" class="label" data-value="gY7YXST90BvVUsp3JAFjcdCt">Purple_Location</label>
          </li>
          <li class="o-mainSearch-headerDropdown_item" data-location-dropdown-source="">
            <label for="location" class="label" data-value="7BqOVsMfgB5iPIUwRYrEDVNZ">SandyBrown_Location</label>
          </li>

        </ul>

        <input class="hidden" type="hidden" id="location" name="location" data-location-dropdown-value-element="">

      </div>
    </div>

  </form>
</div>
