<div class="o-socialIcons">
  <a class="o-socialIcons_item -instagram" href="#"></a>
  <a class="o-socialIcons_item -facebook" href="#"></a>
  <a class="o-socialIcons_item -twitter" href="#"></a>
</div>
