<!-- Unit gallery START -->

<!-- Note for DEVs: both swiper containers contain same images, upper used for slider and bottom for thumbnails -->
 <div class="swiper-container gallery-top">
   <div class="swiper-wrapper">
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
   </div>

   <!-- Slider arrows -->
   <div class="swiper-button-next swiper-button-white"></div>
   <div class="swiper-button-prev swiper-button-white"></div>
 </div>

 <div class="swiper-container gallery-thumbs">
   <div class="swiper-wrapper">
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
     <div class="swiper-slide" style="background-image:url('../media/app/placeholder-card.png')"></div>
   </div>
 </div>
 <!-- Unit gallery STOP -->
