<!-- Currency START -->
<ul class="o-mainNavSwitch relative mr-3" data-scope>
  <li class="o-mainNavSwitch_item">

    <!-- Current Currency -->
    <div class="o-mainNavSwitch_item-current" data-trigger="currency">
      <a class="c-link d-flex align-items-center" href="#">
        <span class="py-1 pr-1">EUR</span>
        <i class="c-icon c-icon-white c-icon-12-6">
          <img class="iconic" src="../media/app/chevron.svg" alt="chevron">
        </i>
      </a>
    </div>

    <!-- Other Currencies -->
    <ul class="o-mainNavSwitch_list" data-currency>
      <li class="o-mainNavSwitch_list_item">
        <a class="c-link d-block text-center px-5 py-3" href="#">HRK</a>
      </li>
    </ul>

  </li>
</ul>
<!-- Currency STOP -->

<!-- Language START -->
<ul class="o-mainNavSwitch relative" data-scope>
  <li class="o-mainNavSwitch_item">

    <!-- Current Language -->
    <div class="o-mainNavSwitch_item-current" data-trigger="language">
      <a class="c-link d-flex align-items-center" href="#">
        <span class="py-1 pr-1">English</span>
        <i class="c-icon c-icon-white c-icon-12-6">
          <img class="iconic" src="../media/app/chevron.svg" alt="chevron">
        </i>
      </a>
    </div>

    <!-- Other Languages -->
    <ul class="o-mainNavSwitch_list" data-language>
      <li class="o-mainNavSwitch_list_item">
        <a class="c-link d-block text-center px-5 py-3" href="#">Français</a>
      </li>
      <li class="o-mainNavSwitch_list_item">
        <a class="c-link d-block text-center px-5 py-3" href="#">Español</a>
      </li>
    </ul>

  </li>
</ul>
<!-- Language STOP -->
