<!-- Small unit card START -->
<div class="o-card -unit -small d-flex">
  <a class="o-card_up d-block overflowHidden" data-toggle="modal" data-target="#unitModal" href="#">
    <div class="o-card_img-wrapper aspectRatio">
      <!-- Note for DEVs: if there is not featured image use this img src -->
      <!-- Image variation: 750x562 -->
      <img class="o-card_img w-100" src="../media/app/placeholder-card.png" alt="Featured image">
    </div>
  </a>

  <div class="o-card_down py-0 px-3">
    <h2 class="o-card_title c-ttl font-weight-medium"><a href="hotel.html">Priviledge single (without breakfast)</a></h2>

    <div class="d-flex align-items-center mt-md-1">
      <div class="o-icon -guest-1"></div>
      <div class="o-card_info ml-1 d-flex align-items-center">1 King Bed</div>
    </div>

   <div class="o-card_amenities d-flex mt-2">
     Jacuzzi, Patio, Soundproofing, Air conditioning, Flat-screen TV, Private bathroom, Jacuzzi, Patio, Soundproofing,
     Air conditioning, Flat-screen TV, Private bathroom,
   </div>

    <a class="o-card_price text-uppercase color-white" data-toggle="modal" data-target="#unitModal" href="#">
      <div class="f-18">&euro;349</div>
    </a>

  </div>
</div>
<!-- Small unit card STOP -->
