/*
  Helper classes for background color
*/

.bg-white {
  background-color: $white;
}

.bg-black {
  // background-color: $black;
}

.bg-primary {
  background-color: $brand-primary;
}

.bg-primary-tint4 {
  background-color: $brand-primary-mostLightest;
}

.bg-secondary {
  background-color: $brand-secondary;
}

.bg-danger {
  background-color: $brand-danger;
}

.bg-darken {
  background-color: $brand-secondary-darken;
}

.bg-dark {
  background-color: $brand-secondary-dark;
}

.bg-outer {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: inherit;
  }

  &::before {
    right: -100%;
  }

  &::after {
    left: -100%;
  }

}

.bg-outer-right {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: inherit;
  }

  &::after {
    right: -100%;
  }

}

.bg-outer-left {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: inherit;
  }

  &::before {
    left: -100%;
  }

}
