/*
  Helper classes for text color
*/

.color-white {
  color: $white;
}

.color-black {
  //color: $black;
}

.color-accented {
  color: $brand-accented;
}

.color-neutral {
  color: $color-text-neutral;
}

.color-secondary {
  color: $brand-secondary;
}
