<!-- Availability calendar START -->
<div class="o-availabilityCalendar_wrapper bg-primary-tint4 py-4">
  <!-- Note for DEVX: above 800px 2 months, below 800px 1 month -->
  <div id='availabilityCalendar' class='availabilityCalendar'></div>

  <ul class="o-availabilityCalendar_legend d-flex justify-content-center justify-content-xl-start py-4">
    <li class="o-availabilityCalendar_legend_item relative">Today</li>
    <li class="o-availabilityCalendar_legend_item relative">Unavailable days</li>
  </ul>
</div>
<!-- Availability calendar STOP -->
