{% macro breadcrumbFunc(breadcrumb_no) %}
<ul class="o-breadcrumbs d-flex">
  {% for i in range(0, breadcrumb_no) -%}
  <li class="o-breadcrumbs_item"><a class="c-link" href="#">Level {{ i }}</a></li>
  {%- endfor %}
</ul>{% endmacro %}
