{% macro carditemfunc(carditem_title, carditem_rating, carditem_image, cardAttributes, cardAttrCount, hasAction) %}
<div class="col-3">
  <div style="color: blue;">{{ carditem_title }}</div>
  <div>{% for i in range(0, carditem_rating) -%}<img src="../media/app/star.svg" alt="">{%- endfor %}</div>
  <div><img src="{{ carditem_image }}" alt="Unit card"></div>
  <ul style="display: flex;">{% for attr in cardAttributes %}
    <li>
      <img src="../media/app/{{ attr }}.svg" alt="">
    </li>
  {% endfor %}</ul>

  {% if hasAction %}
  <div style="color: orange;">Unit contains action!</div>
  {% endif %}

</div>{% endmacro %}
