<footer class="o-mainFooter">
  <h2 class="sr-only">Main Footer</h2>

  <div class="container">
    
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-4">
        <a class="o-logo" href="index.html">
          <img class="o-logo_img d-block" src="../media/brand/logo-white.svg" alt="Splendido d.o.o.">
        </a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <ul class="c-list c-list-footer">
          <li class="c-list_item f-h"><strong>Address</strong></li>
          <li class="c-list_item">Kralja Zvonimira 148,</li>
          <li class="c-list_item">51523 Baška (Otok Krk),</li>
          <li class="c-list_item">Croatia</li>
        </ul>
      </div>
      
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <ul class="c-list c-list-footer">
          <li class="c-list_item f-h"><strong>Contact</strong></li>
          <li class="c-list_item"><a class="c-link" href="tel:0038551856116">Tel: +385 51 856 116</a></li>
          <li class="c-list_item">Fax: +385 51 856 116</li>
          <li class="c-list_item"><a class="c-link" href="mailto:info@splendido.hr">Email: info@splendido.hr</a></li>
        </ul>
      </div>
      
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <ul class="c-list c-list-footer">
          <li class="c-list_item f-h"><strong>Details</strong></li>
          <li class="c-list_item">ID-CODE: HR -AB-51-040110073</li>
          <li class="c-list_item">OIB: 52658535373</li>
          <li class="c-list_item">MBS: 040110073 - Trgovački sud Rijeka</li>
        </ul>
      </div>
    </div>

    <div class="row py-4 mb-4 bg-dark bg-outer align-items-lg-center">
      <div class="col-lg-6">
        <ul class="o-separatedList-normal">
          <li class="o-separatedList_item"><a href="#" class="c-link">About</a></li>
          <li class="o-separatedList_item"><a href="#" class="c-link">Press</a></li>
          <li class="o-separatedList_item"><a href="#" class="c-link">Community</a></li>
          <li class="o-separatedList_item"><a href="#" class="c-link">Support</a></li>
        </ul>
      </div>

      <div class="col-lg-6 d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
        <ul class="c-list c-list-social">
          <li class="c-list_item">
            <a href="#"><i class="c-icon c-icon-34"><img class="iconic" 
              src="../media/social/facebook.svg" alt="Facebook"></i></a>
          </li>
          <li class="c-list_item">
            <a href="#"><i class="c-icon c-icon-34"><img class="iconic"
              src="../media/social/twitter.svg" alt="Twitter"></i></a>
          </li>
          <li class="c-list_item">
            <a href="#"><i class="c-icon c-icon-34"><img class="iconic"
              src="../media/social/googlePlus.svg" alt="Google +"></i></a>
          </li>
          <li class="c-list_item">
            <a href="#"><i class="c-icon c-icon-34"><img class="iconic"
              src="../media/social/pinterest.svg" alt="Pinterest"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <div class="o-copyright mb-2">Copyright &copy; 2018 Splendido d.o.o.</div>
        <div class="o-hexis">
          <a class="o-hexis_a" href="http://hexis.hr/en/" title="Vacation Rental Software" target="_blank">
            <img class="o-hexis_img" src="../media/brand/hexis.svg" alt="Vacation Rental Software">
            <div class="o-hexis_rent">Vacation Rental Software</div>
          </a>
        </div>

      </div>
    </div>

  </div>
</footer>
