<!-- Large gallery START -->
<div class="o-gallery o-gallery-large d-flex justify-content-center" data-gallery>
  <div class="o-gallery_item" style="background-image: url('https://placehold.it/650x290')">
    <a class="o-gallery_link d-block" href="https://placehold.it/650x290" data-gallery-item>
      <img class="o-gallery_img d-block w-100" src="https://placehold.it/650x290" alt="Gallery image">
    </a>
  </div>

  <div class="o-gallery_item_wrapper d-flex flex-lg-column">

    <div class="o-gallery_item" style="background-image: url('https://placehold.it/650x290')">
      <a class="o-gallery_link d-block" href="https://placehold.it/650x290" data-gallery-item>
        <img class="o-gallery_img d-block w-100" src="https://placehold.it/650x290" alt="Gallery image">
      </a>
    </div>

    <div class="o-gallery_item last" style="background-image: url('https://placehold.it/650x290')">
      <a class="o-gallery_link d-block" href="https://placehold.it/650x290" data-gallery-item>
        <img class="o-gallery_img d-block w-100" src="https://placehold.it/650x290" alt="Gallery image">
        <span class="o-gallery_count color-white z1 text-center font-weight-bold">View <span>16</span> more images</span>
      </a>
    </div>

    <div class="o-gallery_item" style="background-image: url('https://placehold.it/650x290')">
      <a class="o-gallery_link d-block" href="https://placehold.it/650x290" data-gallery-item>
        <img class="o-gallery_img d-block w-100" src="https://placehold.it/650x290" alt="Gallery image">
      </a>
    </div>

    <div class="o-gallery_item" style="background-image: url('https://placehold.it/650x290')">
      <a class="o-gallery_link d-block" href="https://placehold.it/650x290" data-gallery-item>
        <img class="o-gallery_img d-block w-100" src="https://placehold.it/650x290" alt="Gallery image">
      </a>
    </div>

    <div class="o-gallery_item" style="background-image: url('https://placehold.it/650x290')">
      <a class="o-gallery_link d-block" href="https://placehold.it/650x290" data-gallery-item>
        <img class="o-gallery_img d-block w-100" src="https://placehold.it/650x290" alt="Gallery image">
      </a>
    </div>

  </div>
</div>
<!-- Large gallery STOP -->
