<header class="o-mainHeader relative">
  <h1 class='sr-only'>{{ siteName }}</h1>

  <!-- Topbar Wrapper START -->
  <div class="o-mainHeader_topBar_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Topbar START -->
          <div class="o-mainHeader_topBar">
            <div class="o-mainHeader_switch">

              <!-- Language / Currency START -->
              <div class="o-mainNavSwitch_wrapper">
                {% include "html/app/components/switchers.html" %}
              </div>
              <!-- Language / Currency STOP -->

            </div>
          </div>
          <!-- Topbar STOP -->
        
        </div>
      </div>
    </div>
  </div>
  <!-- Topbar Wrapper STOP -->

  <!-- Bottombar START -->
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="o-mainHeader_bottomBar relative">
          
          <!-- Main Logo START -->
          {% include "html/app/components/mainLogo.html" %}
          <!-- Main Logo STOP -->

          <!-- Main Navigation START -->
          <div class="o-mainNavigation_wrapper">
            {% include "html/app/components/mainNavigation.html" %}
          </div>
          <!-- Main Navigation STOP -->

          <!-- Main Search START -->
          {% include "html/app/components/mainSearch.html" %}
          <!-- Main Search STOP -->

          <!-- Mobile Triggers START -->
          {% include "html/app/components/mobileTriggers.html" %}
          <!-- Mobile Triggers STOP -->

        </div>

      </div>
    </div>
  </div>
  <!-- Bottombar STOP -->

</header>
