<!-- Homepage tabs navs START -->
<ul class="o-sectionPicker nav nav-tabs d-flex justify-content-between align-items-center" id="myTab" role="tablist">
  <li class="nav-item w-100 text-center">
    <a class="nav-link active" id="discounts-tab" data-toggle="tab" href="#discounts"
      role="tab" aria-controls="discounts" aria-selected="true">Discounts</a>
  </li>

  <li class="nav-item w-100 text-center">
    <a class="nav-link" id="mostPopular-tab" data-toggle="tab" href="#mostPopular"
      role="tab" aria-controls="mostPopular" aria-selected="false">Most popular</a>
  </li>

  <li class="nav-item w-100 text-center">
    <a class="nav-link" id="offers-tab" data-toggle="tab" href="#offers"
      role="tab" aria-controls="offers" aria-selected="false">Offers</a>
  </li>
</ul>
<!-- Homepage tabs navs STOP -->

<!-- Homepage tabs sections START -->
<div class="tab-content">
  <div class="tab-pane my-5 active" id="discounts" role="tabpanel" aria-labelledby="discounts-tab">
    <div class="row">
      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "media/app/placeholder-image-500x240.png",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "media/app/placeholder-image-500x240.png",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-end my-3">
        <a href="unit.html" class="c-btn c-btn-secondary c-btn-mw200 w-100">View all discounts</a>
      </div>
    </div>

  </div>

  <div class="tab-pane my-5" id="mostPopular" role="tabpanel" aria-labelledby="mostPopular-tab">

    <div class="row">
      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240"
        )}}
      </div>

      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "media/app/placeholder-image-500x240.png"
        )}}
      </div>

      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "media/app/placeholder-image-500x240.png"
        )}}
      </div>

      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240"
        )}}
      </div>

    </div>

    <div class="row">
      <div class="col d-flex justify-content-end my-3">
        <a href="unit.html" class="c-btn c-btn-secondary c-btn-mw200 w-100">View all most popular</a>
      </div>
    </div>

  </div>

  <div class="tab-pane my-5" id="offers" role="tabpanel" aria-labelledby="offers-tab">

    <div class="row">
      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "http://via.placeholder.com/500x240",
          discount = true
        )}}
      </div>

      <div class="col-lg-6 col-xl-3">
        {{ unitCard.unitCard(
          title = "Very very large unit name name",
          image = "media/app/placeholder-image-500x240.png",
          discount = true
        )}}
      </div>

    </div>

    <div class="row">
      <div class="col d-flex justify-content-end my-3">
        <a class="c-btn c-btn-secondary c-btn-mw200 w-100" href="unit.html">View all offers</a>
      </div>
    </div>

  </div>
</div>
<!-- Homepage tabs sections STOP -->
