<!-- Inquiry price tables START -->
<div class="row">
  <div class="col-12">
    <h2 class="c-ttl c-ttl-h1 mb-4">Extra charges</h2>

    <table class="o-inquiryPageTable o-inquiryPageTable-charges table">
      <thead>
        <tr>
          <th>Charge</th>
          <th>Amount</th>
          <th>Age limit</th>
          <th>Add</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td data-label="Charge">Lunch</td>
          <td data-label="Amount">1</td>
          <td data-label="Age limit">18</td>
          <td data-label="Add">
            <select id="pets" class="form-control" name="Lunch" size>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <label class="sr-only" for="pets">Lunch</label>
          </td>
        </tr>
        <tr>
          <td data-label="Charge">Ironing</td>
          <td data-label="Amount">-</td>
          <td data-label="Age limit">-</td>
          <td data-label="Add">
            <div class="c-customCheckbox">
              <input id="iron" class="c-customCheckbox_input" type="checkbox">
              <label class="c-customCheckbox_label c-customCheckbox_label-alt" for="iron"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td data-label="Charge">Cleaning</td>
          <td data-label="Amount">-</td>
          <td data-label="Age limit">-</td>
          <td data-label="Add">
            <div class="c-customCheckbox">
              <input id="clean" class="c-customCheckbox_input" type="checkbox">
              <label class="c-customCheckbox_label c-customCheckbox_label-alt" for="clean"></label>
            </div>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
<!-- Inquiry price tables STOP -->
