<!-- Inquiry price tables START -->
<div class="row">
  <div class="col-12">
    <table class="o-inquiryPageTable o-inquiryPageTable-price table">
      <thead>
        <tr>
          <th>Service</th>
          <th>Quantity</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Adults</td>
          <td data-label="Quantity">2</td>
          <td data-label="Amount"><span class="price_amount">22.00</span
            >&nbsp;<span class="price_currency">EUR</span></td>
        </tr>
        <tr>
          <td>Kids</td>
          <td data-label="Quantity">2</td>
          <td data-label="Amount"><span class="price_amount">22.00</span
            >&nbsp;<span class="price_currency">EUR</span></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total amount</td>
          <td></td> <!-- This TD should be empty without whitespaces inside -->
          <td data-label="Total amount"><span class="price_amount">22.00</span
            >&nbsp;<span class="price_currency">EUR</span></td>
        </tr>
      </tfoot>
    </table>

    <div id="inquiry-details-priceNotAvailable">Missing required data for calculation information</div>
  </div>
</div>
<!-- Inquiry price tables STOP -->
