{% import "html/app/bits/form/input.html" as input %}

<!-- Inquiry payment form START -->
<div class="row">
  <div class="col-12">
    <h3 class="c-ttl">Payment info</h3>
  </div>

  <div class="col-md-6">
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "First name",
        fe_id = "inquiryPayFirstName",
        fe_class = "form-control",
        fe_name = "firstName",
        fe_type = "text"
      )
    }}
  </div>

  <div class="col-md-6">
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "Last name",
        fe_id = "inquiryLastName",
        fe_class = "form-control",
        fe_name = "lastName",
        fe_type = "text"
      )
    }}
  </div>

  <div class="col-md-4">
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "Credit card number",
        fe_id = "inquiryPayCreditCardNumber",
        fe_class = "form-control",
        fe_name = "creditCardNumber",
        fe_type = "text",
        fe_placeholder = "•••• •••• •••• ••••"
      )
    }}
  </div>

  <div class="col-md-4">
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "CVC number",
        fe_id = "inquiryPayCvcNumber",
        fe_class = "form-control",
        fe_name = "cvcNumber",
        fe_type = "text",
        fe_placeholder = "•••"
      )
    }}
  </div>

  <div class="col-md-4">
    {{
      input.inputFunction(
        fg_class = "form-group",
        lb_class = "form-label",
        lb_txt = "Expiration Date",
        fe_id = "inquiryPayExpDate",
        fe_class = "form-control",
        fe_name = "expirationDate",
        fe_type = "text",
        fe_placeholder = "MM / YY"
      )
    }}
  </div>
</div>
<!-- Inquiry payment form STOP -->
