{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/input.html" as input %}

<div class="o-mainSearch" data-search>

  <form action="search.html">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="o-mainSearch_wrapper">

            <input id="searchTrigger" class="o-toggle_trigger o-toggle_trigger-search" type="checkbox">

            <!-- Don't know accommodation ID? -->
            <div class="o-mainSearch_full">

              <ul class="o-mainSearch_list">

                <li class="o-mainSearch_item">
                  {{
                    select.selectFunction(
                      fg_class = "form-group m-0 h-100",
                      lb_class = "sr-only",
                      lb_txt = "Accommodation type",
                      fe_id = "#",
                      fe_class = "form-control h-100",
                      fe_name = "Accommodation type",
                      firstDisabled = true,
                      fe_attr = ["size"],
                      opt_1 = "Any",
                      opt_2 = "Room",
                      opt_3 = "Holiday House",
                      opt_4 = "Camp"
                    )
                  }}
                </li>

                <li class="o-mainSearch_item">
                  {{
                    select.selectFunction(
                      fg_class = "form-group m-0 h-100",
                      lb_class = "sr-only",
                      lb_txt = "Location",
                      fe_id = "searchLocation",
                      fe_class = "form-control h-100",
                      fe_name = "Location",
                      firstDisabled = true,
                      fe_attr = ["size"],
                      opt_1 = "Any",
                      opt_2 = "Rijeka",
                      opt_3 = "Škurinje",
                      opt_4 = "Srdoči"
                    )
                  }}
                </li>

                <li class="o-mainSearch_item datepicker">
                  {{
                    input.inputFunction(
                      fg_class = "form-group m-0 h-100",
                      lb_class = "sr-only",
                      lb_txt = "Check in",
                      fe_id = "searchCheckIn",
                      fe_class = "form-control h-100",
                      fe_name = "checkin",
                      fe_type = "text",
                      fe_placeholder = "Check in",
                      fe_attr = ["readonly data-datepicker"]
                    )
                  }}
                </li>

                <li class="o-mainSearch_item datepicker">
                  {{
                    input.inputFunction(
                      fg_class = "form-group m-0 h-100",
                      lb_class = "sr-only",
                      lb_txt = "Check out",
                      fe_id = "searchCheckOut",
                      fe_class = "form-control h-100",
                      fe_name = "checkout",
                      fe_type = "text",
                      fe_placeholder = "Check out",
                      fe_attr = ["readonly data-datepicker"]
                    )
                  }}
                </li>

                <li class="o-mainSearch_item">
                  {{
                    select.selectFunction(
                      fg_class = "form-group m-0 h-100",
                      lb_class = "sr-only",
                      lb_txt = "Guests",
                      fe_id = "searchGuests",
                      fe_class = "form-control h-100",
                      fe_name = "Guests",
                      firstDisabled = true,
                      fe_attr = ["size"],
                      opt_1 = "Any",
                      opt_2 = "1",
                      opt_3 = "2",
                      opt_4 = "3"
                    )
                  }}
                </li>

                <li class="o-mainSearch_item mt-2 mt-lg-0">
                  <div class="form-group">
                    <button class="c-btn c-btn-arrow c-btn-primary w-100" type="submit">Search</button>
                  </div>
                </li>

              </ul>

              <div class="o-mainSearch_item-advanced">
                <input id="advancedSearchTrigger" class="o-toggle_trigger" type="checkbox">

                <div class="o-mainSearch-advanced o-toggle_body">

                  <div class="o-mainSearch-advanced_attributes">
                    <div class="row">
                      <div class="col-md-6 col-lg-3 mb-3">
                        <div class="c-customCheckbox">
                          <input id="wifi" class="c-customCheckbox_input" type="checkbox">
                          <label class="c-customCheckbox_label" for="wifi">WiFi</label>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3 mb-3">
                        <div class="c-customCheckbox">
                          <input id="barbecue" class="c-customCheckbox_input" type="checkbox">
                          <label class="c-customCheckbox_label" for="barbecue">Barbecue</label>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3 mb-3">
                        <div class="c-customCheckbox">
                          <input id="airConditioning" class="c-customCheckbox_input" type="checkbox">
                          <label class="c-customCheckbox_label" for="airConditioning">Air conditioning</label>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3 mb-3">
                        <div class="c-customCheckbox">
                          <input id="pets" class="c-customCheckbox_input" type="checkbox">
                          <label class="c-customCheckbox_label" for="pets">Pets</label>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3 mb-3">
                        <div class="c-customCheckbox">
                          <input id="satTv" class="c-customCheckbox_input" type="checkbox">
                          <label class="c-customCheckbox_label" for="satTv">SAT/TV</label>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3 mb-3">
                        <div class="c-customCheckbox">
                          <input id="seaView" class="c-customCheckbox_input" type="checkbox">
                          <label class="c-customCheckbox_label" for="seaView">Sea view</label>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3 mb-3">
                        <div class="c-customCheckbox">
                          <input id="balcony" class="c-customCheckbox_input" type="checkbox">
                          <label class="c-customCheckbox_label" for="balcony">Balcony</label>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-3 mb-3">
                        <div class="c-customCheckbox">
                          <input id="pool" class="c-customCheckbox_input" type="checkbox">
                          <label class="c-customCheckbox_label" for="pool">Pool</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ul class="o-mainSearch-advancedList">
                    <li class="o-mainSearch-advancedList_item">
                      {{
                        select.selectFunction(
                          fg_class = "form-group",
                          lb_class = "form-label",
                          lb_txt = "Rating",
                          fe_id = "rating",
                          fe_class = "form-control",
                          fe_name = "Rating",
                          firstDisabled = false,
                          fe_attr = ["size"],
                          opt_1 = "Any",
                          opt_2 = "1 star",
                          opt_3 = "2 stars",
                          opt_4 = "3 stars"
                        )
                      }}
                    </li>

                    <li class="o-mainSearch-advancedList_item">
                      {{
                        select.selectFunction(
                          fg_class = "form-group",
                          lb_class = "form-label",
                          lb_txt = "Distance from beach",
                          fe_id = "beachDistance",
                          fe_class = "form-control",
                          fe_name = "Distance from beach",
                          firstDisabled = false,
                          fe_attr = ["size"],
                          opt_1 = "Any",
                          opt_2 = "100m",
                          opt_3 = "500m",
                          opt_4 = "1000m"
                        )
                      }}
                    </li>

                    <li class="o-mainSearch-advancedList_item">
                      {{
                        select.selectFunction(
                          fg_class = "form-group",
                          lb_class = "form-label",
                          lb_txt = "Number of rooms",
                          fe_id = "noRooms",
                          fe_class = "form-control",
                          fe_name = "Number of rooms",
                          firstDisabled = false,
                          fe_attr = ["size"],
                          opt_1 = "Any",
                          opt_2 = "1",
                          opt_3 = "2",
                          opt_4 = "3"
                        )
                      }}
                    </li>

                    <li class="o-mainSearch-advancedList_item">
                      {{
                        select.selectFunction(
                          fg_class = "form-group",
                          lb_class = "form-label",
                          lb_txt = "Distance from center",
                          fe_id = "centerDistance",
                          fe_class = "form-control",
                          fe_name = "Distance from center",
                          firstDisabled = false,
                          fe_attr = ["size"],
                          opt_1 = "Any",
                          opt_2 = "100m",
                          opt_3 = "500m",
                          opt_4 = "1000m"
                        )
                      }}
                    </li>
                  </ul>

                </div>

                <label class="o-toggle_label o-toggle_label-advSearch pb-2" for="advancedSearchTrigger">
                  <span class="first">Advanced search</span>
                  <span class="second">Hide advanced search</span>
                </label>
              </div>

            </div>

            <!-- Search by name or ID -->
            <div class="o-mainSearch_name">

              <ul class="o-mainSearch_list">
                <li class="o-mainSearch_item">
                  {{
                    input.inputFunction (
                      fg_class = "form-group m-0 w-100 h-100",
                      lb_class = "sr-only",
                      lb_txt = "Search by name or ID",
                      fe_id = "nameID",
                      fe_class = "form-control h-100",
                      fe_name = "Accommodation name or ID",
                      fe_type = "text",
                      fe_placeholder = "Enter accommodation name or ID"
                    )
                  }}
                </li>

                <li class="o-mainSearch_item mt-2 mt-lg-0">
                  <div class="form-group">
                    <button class="c-btn c-btn-primary w-100" type="submit">Search</button>
                  </div>
                </li>
              </ul>

            </div>

            <label class="o-toggle_label o-toggle_label-searchForm pb-2" for="searchTrigger">
              <span class="first">Search by name or ID</span>
              <span class="second">Don't know accommodation ID?</span>
            </label>

          </div>

        </div>
      </div>
    </div>

  </form>

</div>
