<div class="o-mainHeader_mobileTriggers d-lg-none">
  <div class="o-mainHeader_trigger -search" data-trigger="search">
    <span></span>
    <span></span>
  </div>
  
  <div class="o-mainHeader_trigger -menu" data-trigger="menu">
    <span></span>
  </div>
</div>
