{% import "html/app/bits/stars.html" as star %}
{% import "html/app/bits/attribute.html" as attribute %}

{% macro objectCard(title, image, discount) %} <!-- Object card START -->
<article>
  <a class="o-accommodation -object d-block" href="object.html">
    {% if discount %}
    <div class="o-accommodation_banner d-flex flex-column align-items-center justify-content-center text-center p-1">
      50% OFF
    </div>
    {% endif %}

    <div class="o-accommodation_img_wrapper">

      <!-- Variation: 500x240 -->
      <!-- Note for DEV: -->
      <!-- IF featured image is uploaded -->
      <img class="o-accommodation_img w-100 d-block" src="{{ image }}" alt="Unit image">
      <!-- IF featured image is NOT uploaded then use placeholder image from media folder -->
      <!-- <img class="o-accommodation_img w-100 d-block" src="../media/app/placeholder-image-500x240.png" alt="Placeholder image"> -->

    </div>

    <div class="o-accommodation_about d-table relative">
      <div class="o-accommodation_rating color-white">4.5/5</div>

      <div class="p-2 d-table-cell align-middle w-100">
        <div class="d-md-flex align-items-center">
          <h4 class="c-ttl c-ttl-accommodation my-2 mr-2">{{ title }}</h4>
          <ul class="d-flex">
            <li class="o-accommodation_star -selected"></li>
            <li class="o-accommodation_star -selected"></li>
            <li class="o-accommodation_star -selected"></li>
            <li class="o-accommodation_star -selected"></li>
            <li class="o-accommodation_star"></li>
          </ul>
        </div>

        <!-- Amenities START -->
        <ul class="d-flex c-att flex-wrap">
          <li class="c-att_item">
            <div class="o-accommodation_info -location font-weight-bold">Baška</div>
          </li>

          <li class="c-att_item">
            <i class="c-icon c-icon-neutral c-icon-15">
              <img class="img iconic" src="../media/app/airCondition.svg" alt="Air Condition">
            </i>
            <span class="f-14 ml-1">Air condition</span>
          </li>

          <li class="c-att_item">
            <i class="c-icon c-icon-neutral c-icon-15">
              <img class="img iconic" src="../media/app/wifi.svg" alt="WiFi">
            </i>
            <span class="f-14 ml-1">WiFi</span>
          </li>
        </ul>
        <!-- Amenities STOP -->

      </div>

      <div class="o-accommodation_price_wrapper color-secondary d-table-cell align-middle">
        <div class="o-accommodation_price text-right">
          <strong>400 EUR</strong>
          <div class="f-14">Per day</div>
        </div>
      </div>

    </div>
  </a>
</article>
 <!-- Object card STOP --> {% endmacro %}
