<!-- Offer personal info START -->
<div class="row lh1_4">
  <div class="col-md-6 col-xl-4">
    <strong>Full name</strong>
    <div class="mb-3">Captain Jack Sparrow</div>

    <strong>Full address</strong>
    <div class="mb-3">Some address 12,<br>
      Haunted Hill 21000,<br>
      Croatia
    </div>

    <strong>Email</strong>
    <div class="mb-3">email@net.hr</div>

    <strong>Cellphone</strong>
    <div class="mb-3">0987654321</div>
  </div>

  <div class="col-md-6 col-xl-4">
    <strong>Check in</strong>
    <div class="mb-3">12-03-2017</div>

    <strong>Check out</strong>
    <div class="mb-3">18-03-2017</div>

    <strong>Adults</strong>
    <div class="mb-3">2</div>

    <strong>Kids</strong>
    <div class="mb-3">1</div>
  </div>

  <div class="col-12">
    <strong>Note</strong>
    <div class="preformat mt-1">The Kansas City Chiefs have their hometown in Kansas City, Kansas. Many a fan
      has happily purchased one of the over 79,000 seats at Arrowhead Stadium to watch their favorite team
      play. Members of the AFC west, the Kansas City Chiefs were founded by Lamar Hunt. The current president
      of the NFL team is Carl Peterson, and the head coach is Herman Edwards. In their history as a team, the
      Kansas City Chiefs
    </div>
    <br>
  </div>
</div>
<!-- Offer personal info STOP -->
