<!-- Pricelist section START -->
<div class="o-priceList_wrapper">

  <!-- Pricelist table START -->
  <div class="table-responsive">
    <table class="table o-pricelist">
      <thead>
        <tr>
          <th><strong>Season</strong></th>
          <th><strong>Price/day</strong></th>
          <th><strong>Conditions</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="o-pricelist_season"><strong>Season A</strong></div>
              01.01.2016. - 20.05.2016.<br>
              21.05.2016. - 25.06.2016.
          </td>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>1-2 people - 50.00 EUR</td>
                </tr>
                <tr>
                  <td>3-4 people - 56.25 EUR</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>Min stay:&nbsp;4 day<br>
                    Arrival day:&nbsp;Any</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div class="o-pricelist_season"><strong>Season B</strong></div>
            01.01.2016. - 20.05.2016.<br>
            21.05.2016. - 25.06.2016.
          </td>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>1-2 people - 50.00 EUR</td>
                </tr>
                <tr>
                  <td>3-4 people - 56.25 EUR</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>Min stay:&nbsp;4 day<br>
                    Arrival day:&nbsp;Any</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pricelist table STOP -->

  <!-- Mandatory Charges Start -->
  <div class="table-responsive">
    <table class='table o-chargeTable'>
      <thead>
        <tr>
          <th>Mandatory charges</th>
          <th class="text-right">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Booking fee
            <div class="o-tooltip ml-2 absolute"
              data-toggle="tooltip"
              data-animation="false"
              title="Description on hover">
            </div>
          </td>
          <td>38.00 EUR</td>
        </tr>
        <tr>
          <td>Registration Fee (per person)
            <div class="o-tooltip ml-2 absolute"
              data-toggle="tooltip"
              data-animation="false"
              title="Description on hover">
            </div>
          </td>
          <td>38.00 EUR</td>
        </tr>
        <tr>
          <td>Cleaning Fee
            <div class="o-tooltip ml-2 absolute"
              data-toggle="tooltip"
              data-animation="false"
              title="Description on hover">
            </div>
          </td>
          <td>38.00 EUR</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Mandatory Charges Stop -->

  <!-- Optional Charges Start -->
  <div class="table-responsive">
    <table class='table o-chargeTable'>
      <thead>
        <tr>
          <th>Optional charges</th>
          <th class="text-right">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Something something</td>
          <td>38.00 EUR</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Optional Charges Stop -->
</div>
<!-- Pricelist section STOP -->
