{% import "html/app/bits/form/input.html" as input %}

<!-- Subscription section START -->
<form class="o-subscription d-flex flex-column justify-content-center overflowHidden relative z0" action="">

  <h2 class="c-ttl c-ttl-h3 text-center mb-3">Subscribe to our newsletter!</h2>
  <div class="text-center mb-3">Get the latest discounts directly in your inbox!</div>

  <div class="d-flex flex-column">

    {{ input.inputFunction (
      fg_class = "form-group m-0 w-100",
      lb_class = "sr-only",
      lb_txt = "Enter your email",
      fe_id = "inputSubscription",
      fe_class = "form-control",
      fe_name = "Subscription email",
      fe_type = "email",
      fe_placeholder = "Enter your email address"
      )
    }}

    <button id="submitSubscription" class="c-btn c-btn-primary w-100" type="submit">Subscribe</button>

  </div>

</form>
<!-- Subscription section STOP -->
