<!-- Unit action banners START -->
<ul class="o-action overflowHidden">

  <li class="o-action_item color-white bg-danger">
    <div class="o-action_item_wrapper relative">
      <div class="o-action_body font-weight-bold">
        <div class="c-ttl c-ttl-h3 text-uppercase mb-1 color-white">last minute</div>
        <div class="o-action_price d-flex align-items-end align-items-md-center text-uppercase">100% off</div>
        <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
          <li class="o-action_info_item d-block relative">From: 12.06 to 22.06.2017</li>
          <li class="o-action_info_item d-block relative">Minimum stay: 4 days</li>
          <li class="o-action_info_item d-block relative">Valid till: 30.06.2017</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="o-action_item color-white bg-danger">
    <div class="o-action_item_wrapper relative">
      <div class="o-action_body font-weight-bold">
        <div class="c-ttl c-ttl-h3 text-uppercase mb-1 color-white">last minute</div>
        <div class="o-action_price d-flex align-items-end align-items-md-center text-uppercase">100% off</div>
        <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
          <li class="o-action_info_item d-block relative">From: 12.06 to 22.06.2017</li>
          <li class="o-action_info_item d-block relative">Minimum stay: 4 days</li>
          <li class="o-action_info_item d-block relative">Valid till: 30.06.2017</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="o-action_item color-white bg-danger">
    <div class="o-action_item_wrapper relative">
      <div class="o-action_body font-weight-bold">
        <div class="c-ttl c-ttl-h3 text-uppercase mb-1 color-white">last minute</div>
        <div class="o-action_price d-flex align-items-end align-items-md-center text-uppercase">145 eur off</div>
        <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
          <li class="o-action_info_item d-block relative">From: 12.06 to 22.06.2017</li>
          <li class="o-action_info_item d-block relative">Minimum stay: 4 days</li>
          <li class="o-action_info_item d-block relative">Valid till: 30.06.2017</li>
        </ul>
      </div>
    </div>
  </li>

  <li class="o-action_item color-white bg-danger">
    <div class="o-action_item_wrapper relative">
      <div class="o-action_body font-weight-bold">
        <div class="c-ttl c-ttl-h3 text-uppercase mb-1 color-white">last minute</div>
        <div class="o-action_price d-flex align-items-end align-items-md-center text-uppercase">100% off</div>
        <ul class="o-action_info d-md-flex flex-md-wrap flex-md-row">
          <li class="o-action_info_item d-block relative">From: 12.06 to 22.06.2017</li>
          <li class="o-action_info_item d-block relative">Minimum stay: 4 days</li>
          <li class="o-action_info_item d-block relative">Valid till: 30.06.2017</li>
        </ul>
      </div>
    </div>
  </li>
</ul>
<!-- Unit action banners STOP -->
