<div class="o-comments">

  <input id="commentsToggle" class="o-toggle_trigger" type="checkbox">

  <div class="o-comments_wrapper o-toggle_body">
    {% include "html/app/components/unitCommentAndRatingItem.html" %}
    {% include "html/app/components/unitCommentAndRatingItem.html" %}
    {% include "html/app/components/unitCommentAndRatingItem.html" %}
    {% include "html/app/components/unitCommentAndRatingItem.html" %}
    {% include "html/app/components/unitCommentAndRatingItem.html" %}
    {% include "html/app/components/unitCommentAndRatingItem.html" %}
    {% include "html/app/components/unitCommentAndRatingItem.html" %}
  </div>

  <label class="o-toggle_label c-btn c-btn-secondary w-100" for="commentsToggle">
    <span class="first">View all reviews</span>
    <span class="second">Hide all reviews</span>
  </label>

</div>
