<div class="o-comments_item mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <div class="my-3 d-md-flex align-items-center">
      <div class="d-flex">
        <div class="o-separatedList_item font-weight-bold">Angie B</div>
        <div class="o-separatedList_item font-weight-light ml-4">24.11.2017</div>
      </div>
    </div>

    <div class="c-ttl c-ttl-h3 font-weight-bold">4.5/5</div>
  </div>

  <div class="o-comments_desc preformat">
    <p class="m-0">If you are in the market for a computer, there are a number of factors to consider. Will it be used for your
      home, your office or perhaps even your home office combo? First off, you will need to set a budget for your
      new purchase before deciding whether to shop for notebook or desktop computers. Many offices use desktop
      computers because they are not intended to be moved around a lot. In additi</p>
  </div>
</div>
