<!-- Weather widget START -->
<div class="o-weather overflowHidden relative z0">
  <div class="o-weather-bgIcon"></div>

  <h2 class="c-ttl c-ttl-h3 text-center py-3">Weather in <span>Baška</span></h2>

  <div class="d-flex justify-content-center">

    <div class="o-weather_item w-100">
      <div class="font-weight-light mb-2">Monday</div>
      <img class="o-weather_img" src="../media/weather/raining.svg" alt="Sunny">
      <div class="text-center my-3">
        <div>Rainy</div>
        <strong>35<sup>o</sup>C</strong>
      </div>
    </div>

    <div class="o-weather_item w-100">
      <div class="font-weight-light mb-2">Today</div>
      <img class="o-weather_img" src="../media/weather/sunny.svg" alt="Sunny">
      <div class="text-center my-3">
        <div>Sunny</div>
        <strong>35<sup>o</sup>C</strong>
      </div>
    </div>

    <div class="o-weather_item w-100">
      <div class="font-weight-light mb-2">Wednesday</div>
      <img class="o-weather_img" src="../media/weather/thunder.svg" alt="Sunny">
      <div class="text-center my-3">
        <div>Thunder</div>
        <strong>35<sup>o</sup>C</strong>
      </div>
    </div>
  </div>
</div>
<!-- Weather widget STOP -->
