<header class="o-header mt-4">

  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-3">
        <div class="o-header_logo">

          <a href="index.html"
            ><img class="o-header_logo_img" src="../media/brand/logo.svg" alt="Novalja turist"></a>

          <!-- For PDF use this logo -->
          <!--<a href="index.html"-->
            <!--&gt;<img class="o-header_logo_img" src="../media/brand/logo-bw.png" alt="Novalja turist"></a>-->
          <!-- For PDF use this logo -->

        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <ul>
          <li>Slatinska 55</li>
          <li>53291 Novalja, Island </li>
          <li>Pag (Croatia)</li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <ul>
          <li><a href="tel:38553663493">+385 53 663 493</a></li>
          <li><a href="fax:38553663492">+385 53 663 492</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3 mb-4">
        <ul>
          <li><a class="boldWeight c-link-underline" href="mailto:info@novaljaturist.hr">info@novaljaturist.hr</a></li>
        </ul>
      </div>

    </div>
  </div>

  <hr>
</header>
