<header class="o-header">

  <!-- For PDF use 'container-fluid' -->
  <div class="container">
    <div class="row">
      <div class="col">

        <ul class="o-headerContentTable o-headerContentTable-4 w-100 py-3">
          <li class="o-headerContentTable_item">
            <div class="o-header_logo">

              <a href="index.html"
                ><img class="o-header_logo_img" src="../media/brand/logo.svg" alt="Novalja turist"></a>

              <!-- For PDF use this logo -->
              <!--<a href="index.html"-->
                <!--&gt;<img class="o-header_logo_img" src="../media/brand/logo-bw.png" alt="Novalja turist"></a>-->
              <!-- For PDF use this logo -->

            </div>
          </li>

          <li class="o-headerContentTable_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item">Slatinska 55</li>
              <li class="o-verticalInfoList_item">53291 Novalja</li>
              <li class="o-verticalInfoList_item">Island Pag (Croatia)</li>
            </ul>
          </li>

          <li class="o-headerContentTable_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item"><a class="c-link" href="tel:38553663493">+385 53 663 493</a></li>
              <li class="o-verticalInfoList_item"><a class="c-link" href="tel:38553663494">+385 53 663 494</a></li>
            </ul>
          </li>

          <li class="o-headerContentTable_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item"><a
                class="c-link" href="mailto:info@novaljaturist.hr">info@novaljaturist.hr</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <hr>
</header>
