$grid-columns: 12;

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: calc(800px - (30px * 2));
  padding: {
    right: .9375rem;
    left: .9375rem;
  };
  margin: {
    right: auto;
    left: auto;
  };

  @include media(tablet up) {
    padding: {
      right: 1.875rem;
      left: 1.875rem;
    }
  }
  
}

.col {
  width: susy-span($grid-columns of $grid-columns);
}

@include media(tablet up) {

  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: susy-span($i of $grid-columns);
    }
  }

}

