.o-about {

  &_img,
  &_contact {
    border-radius: 4px;
  }

  &_img {
    @extend %no-repeat;
    padding-bottom: 100%;
    margin-bottom: 1.25rem;
    background-size: 100%;
    background-position: 0 -35px;
  }

  &_contact {
    @extend %no-repeat;
    background-color: $color-ui-tint;
    background-image: url('../media/app/chat.svg');
    background-position: 100% 0;
    overflow: hidden;
  }

  @include laptopDown {

    &_text,
    &_pic {
      margin-bottom: 1.875rem;
    }

    &_text {
      order: 1;
    }
  
    &_pic {
      order: 0;
    }

  }

}
