.o-breadcrumb {
  border-bottom: 1px solid rgba($border-color, .5);

  .breadcrumb {
    background-color: transparent;
    padding: .25rem 1rem .2rem 0;
  }
  
  .breadcrumb-item {
    font-weight: 700;

    + .breadcrumb-item::before {
      content: url('../media/app/chevron-line.svg');
    }

    &.active {
      color: $color-ui-dark;
      font-weight: 300;
    }
    
  }

}
