.o-card {

  &-underline {
    position: relative;
    padding-bottom: .313rem;
    margin-top: .438rem;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $brand-secondary;
    }

  }

}
