.o-creditCards {

  &_list {
    position: absolute;
    top: -5px;
    right: 15px;
  }

  &_item {
    @extend %no-repeat;
    @extend %bg-contain;
    width: 2.313rem; /* 37/16 */
    height: 1.375rem; /* 22/16 */
  }

  &_item + &_item {
    margin-left: .2rem;
  }

  &_item.-visa {
    background-image: url('../media/creditCards/visa.svg');
  }

  &_item.-american {
    background-image: url('../media/creditCards/american.svg');
  }

  &_item.-masterCard {
    background-image: url('../media/creditCards/masterCard.svg');
  }

  @include tablet {

    &_list {
      top: -15px;
    }

    &_item {
      width: 3.125rem; /* 50/16 */
      height: 1.875rem; /* 30/16 */
    }

  }

}
