.o-hexis {
  @extend %no-repeat;
  @extend %bg-contain;
  @include transition();
  width: 76px;
  height: 22px;
  background-image: url('../media/brand/hexis.svg');
  opacity: .1;

  &:hover {
    opacity: 1;
  }

}
