.o-hero {
  @extend %bg-cover;
  @extend %no-repeat;
  position: relative;
  background-image: url('../media/app/heroBg.jpg');

  &_mask {
    @extend %absoluteFull;
    z-index: 2;
    height: 104%;
    background-color: rgba(darken(saturate(adjust-hue($brand-primary, 1), 16.40), 17.25), .51);
  }

  &:before,
  &_mask:before {
    @extend %absoluteFull;
    @extend %no-repeat;
    content: '';
    z-index: 1;
    background-image: url('../media/app/heroMask.svg');
    background-size: 154%;
    background-position: 5% 100%;
  }

  &_mask:before {
    background-size: 175%;
  }

  &_body {
    position: relative;
    z-index: 2;

    &_wrapper { min-height: 465px; }

  }

  @include tablet {

    &:before,
    &_mask:before {
      background-position: 55% 100%;
    }

    &:before {
      background-size: 200%;
    }

    &_mask:before {
      background-size: 230%;
    }

  }

  &Title {
    @extend %bg-cover;
    @extend %bg-center;
    background-image: url('../media/app/heroBg.jpg');
    position: relative;
    z-index: 0;

    &:after {
      @extend %absoluteFull;
      content: '';
      z-index: -1;
      background-color: rgba(darken(saturate(adjust-hue($brand-primary, 1), 16.40), 17.25), .51);
    }

  }

  @include laptop {

    &:before,
    &_mask:before {
      background-size: 104%;
      background-position: 90% 100%;
    }

    &_mask:before {
      background-size: 105%;
      background-position: 20% 100%;
    }

  }

}
