// Logo
.o-logo {

  &_img {}

  @include tabletPlus {

    @include laptopDown {

      .o-mainFooter & {
        max-width: 25rem;
      }

    }

    &_img {}

  }

  @include laptop {

    &_img {}

  }

}
