// Main Header
.o-mainHeader {
  position: fixed;
  z-index: 5;
  width: 100%;
  border-top: 2px solid $brand-secondary;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba($black, .13);

  &_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.375rem;
    background-color: $white;
  }

  @include tabletPlus {

    &_nav {
      height: 4.375rem;
    }

  }

  // @include laptop {
  //   position: relative;
  //
  //   &_nav {
  //     height: auto;
  //   }
  //
  // }

}
