.o-menuToggle {
  @extend %cursor-pointer;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
  padding: 1rem 1.25rem 1rem 0;

  span {
    @include transition(all,.25s, ease-in-out);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 3px;
    width: 100%;
    margin: auto;
    background: $brand-primary;
    border-radius: 9px;
    opacity: 1;

    &:before, &:after {
      @include transition(all,.25s, ease-in-out);
      content: '';
      position: absolute;
      left: 0;
      display: block;
      height: 3px;
      width: 100%;
      background: $brand-primary;
      border-radius: 9px;
      opacity: 1;
      transform: rotate(0deg);
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }

  }

  &.-active span {
    background-color: transparent;
    left: 10px;

    &:before, &:after {
      top: 0px;
      left: -10px;
    }

    &:before {
      transform: rotate(135deg);
    }

    &:after {
      transform: rotate(-135deg);
    }

  }


  @include laptop {
    display: none;
  }

}
