.o-promo {
  @extend %no-repeat;
  background-color: #4055AC;
  background-image: url('../media/app/waves.svg');
  background-position: 0 0;
  overflow: hidden;

  @include laptop {
    background-position: 200% -30px;
  }

}
