.o-service {

  @include tablet {

    &_img {
      max-width: 70%;
      margin: auto;
    }

  }

  @include laptop {

    &_img {
      margin: initial;
    }

  }

  @include desktop {

    &_img {
      max-width: 50%;
    }

  }

}
