.o-socialIcons {

  &_item {
    @extend %no-repeat;
    @extend %bg-center;
    @include transition();
    width: 33px;
    height: 33px;
    background-size: 30px;
    opacity: .7;
  }

  &_item:hover {
    opacity: 1;
  }

  &_item + &_item {
    margin-left: .2rem;
  }

  &_item.-facebook {
    background-image: url('../media/social/facebook.svg');
  }

  &_item.-twitter {
    background-image: url('../media/social/twitter.svg');
  }

  &_item.-googlePlus {
    background-image: url('../media/social/googlePlus.svg');
  }

  &_item.-pinterest {
    background-image: url('../media/social/pinterest.svg');
  }
}
