/****

  ## jQuery Datepicker Custom Styles

  - if displaying multiple months (constantly) that are not hidden or called, wrap them
    in a DIV containing a class "availabilityCalendar"
  - define your: Cell, Calendar, Datepicker settings per design
  - in general "Calendar Styles" should be changed only if variable inside settings blocks
    was not defined


  ## Table of Contents
    1. Cell Settings
    2. Calendar Settings
    3. Datepicker Settings
    4. Calendar Styles

********/


/*------------------------------------------------------------------------------------
  1. CELL SETTINGS
------------------------------------------------------------------------------------*/

// Last update: 5.12.2017 - added flex to calendar elements

// Cell state: Default
  $cellWidth: 34px; // width
  $cellHeight: 34px; // height
  $cellFontSize: 0.875rem; // font size
  $cellFontWeight: $font-weight-regular; // font weight
  $cellColor: $color-text-neutral; // color
  $cellBackground: $white; // background
  $cellBorderColor: #F6F7F7; // border color
  $cellBorderRadius: 50%; // border radius

// Cell state: Today
  $todayColor: #0A58FD; // text color
  $todayBorderColor: #CED9EF; // border color

// Cell state: Current Day
  $currentDayBackground: #0A58FD; // background color
  $currentDayColor: $white; // text color

// Cell state: Unselectable
  $unselectableDayColor: $color-text-neutral-light; // color

// Cell Unavailable Background
  $cellUnavailableBackground: $brand-secondary-dark; // background
  $cellUnavailableColor: $white; // color

// Cell Unavailable Background Begin
  $cellUnavailableBegin: $cellUnavailableBackground linear-gradient(125deg, $cellBackground 0%,
    $cellBackground 60%, $cellUnavailableBackground 61%, $cellUnavailableBackground 100%);

// Cell Unavailable Background End
  $cellUnavailableEnd: $cellUnavailableBackground linear-gradient(125deg, $cellUnavailableBackground 0%,
    $cellUnavailableBackground 40%, $cellBackground 41%, $cellBackground 100%);


/*------------------------------------------------------------------------------------
  2. CALENDAR SETTINGS
------------------------------------------------------------------------------------*/

$calendarMonthWidth-lg: 365px; // month block width
$calendarMonthWidth-lgp: $calendarMonthWidth-lg; // month block width
$calendarMonthMargin: 1rem; // month block margin
$calendarPadding: 0 21px; // calendar padding in regards to Arrows (should be the same as width of your arrows)

$calendarLeftIcon: '../media/app/calendar-prev.svg'; // calendar left (prev) arrow
$calendarRightIcon: '../media/app/calendar-next.svg'; // calendar right (next) arrow
$calendarIconWidth: 20px; // width of the icon(s)
$calendarIconHeight: 40px; // height of the icon(s)


/*------------------------------------------------------------------------------------
  3. DATEPICKER SETTINGS (Calendar that pops out from forms)
------------------------------------------------------------------------------------*/

$datepickerShadow: 1px 3px 4px rgba(0, 0, 0, 0.2); // shadow (to make him stand out)

// Select Form in headline of Datepicker
$calendarSelectImage: '../media/app/chevron-calendar.svg'; // image to display select dropdown
$calendarSelectImageWidth: 11px; // image width
$calendarSelectImageHeight: 4px; // image height




/*------------------------------------------------------------------------------------
  4. CALENDAR STYLES
------------------------------------------------------------------------------------*/

// Datepicker on search page
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {

  .p-search & {

    @include laptop {
      z-index: 4!important;
    }

  }

}

.hasDatepicker {
  @include clearfix;
  font-size: 15px;
}

.ui-datepicker-calendar {
  border-spacing: 0;

  td {
    padding: .25rem;
    background-color: $white;
  }

}

// Calendar Controls
.ui-datepicker {
  position: relative;
  display: none;
  width: 100%;
  max-width: 360px;
  margin-top: 10px;
  background-color: $white;
  box-shadow: $datepickerShadow;

  @include mobilePlusDown {
    width: auto;
  }

  &:after {
    // content: url('../media/app/datepicker-tail.svg');
    // position: absolute;
    // bottom: 100%;
    // left: 25px;
    // display: block;
    // width: 25px;
    // height: 18px;
  }

  &-next,
  &-prev {
    position: absolute;
    top: 0;
    width: 27px;
    height: 27px;
    margin: 20px 0 0 0;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-position: center;

    &:hover {
      @extend %cursor-pointer;
    }

  }

  &-next {
    right: 20px;
    background-image: url($calendarRightIcon);
  }

  &-prev {
    right: 52px;
    background-image: url($calendarLeftIcon);
  }

  // Days
  &-today > a,
  &-today.ui-datepicker-current-day > a {
    box-shadow: inset 0 0 0 1px $todayBorderColor;
    border-radius: $cellBorderRadius;
    position: relative;
    font-weight: bold;
    color: $todayColor;
    background-color: $white;
  }

  &-current-day.not-available-begin a,
  &-current-day.not-available-end a {
    background: $currentDayBackground;
    color: $currentDayColor;
    border-radius: $cellBorderRadius;
  }

  &-current-day > a {
    border-radius: $cellBorderRadius;
    background-color: $currentDayBackground;
    box-shadow: inset 0 0 0 1px $currentDayBackground;
    color: $white;
  }

}

// Calendar Head
.ui-datepicker-title {
  padding: 1.5rem 0 1.5rem 1.4375rem;
  color: #0C1E6D;
  font-size: .9375rem;
  font-weight: $font-weight-medium;

  .ui-datepicker-month,
  .ui-datepicker-year {
    border: none!important;
  }

}

// Calendar Styles
.ui-datepicker-calendar {
  width: 100%;
  border-collapse: collapse;

  th {
    padding: 0.5em 0;
    color: $gray-light;
    font-size: .9375rem;
    font-weight: $font-weight-semiBold;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 0;
  }

  td a {
    border: 0;
  }

}

// Group Styles
.ui-datepicker-group {
  margin: $calendarMonthMargin;
}

// Cell Date Styles
.ui-state-default {
  display: table-cell;
  width: $cellWidth;
  height: $cellHeight;
  background-color: $cellBackground;
  color: $currentDayBackground;
  font-size: $cellFontSize;
  vertical-align: middle;
  text-align: center;
  font-weight: $font-weight-semiBold;

  .ui-datepicker-unselectable &,
  .ui-state-disabled & {
    color: $unselectableDayColor;
  }

  .ui-datepicker-days-cell-over.ui-datepicker-today.ui-datepicker-current-day & {
    background-color: $currentDayBackground;
  }

  .ui-datepicker-current-day.ui-datepicker-today & {
    color: $white;
  }

  .not-available & {
    color: $gray-light;
    font-weight: $font-weight-regular;
    text-decoration: line-through;
    cursor: default;
  }

  .not-available-begin & {
    color: $gray-light;
    font-weight: $font-weight-regular;
    text-decoration: line-through;
    cursor: default;
  }

  .not-available-end & {
    color: $gray-light;
    font-weight: $font-weight-regular;
    text-decoration: line-through;
    cursor: default;
  }

  .ui-datepicker-other-month & {
    color: #bababa;
    font-weight: $font-weight-regular;
  }

}
