.o-headerContentTable {
  table-layout: fixed;

  &_item {
    display: block;
    width: 100%;
    padding-top: 1rem;
  }

}

.o-headerContentTable-4 {

  &_item {}

  .o-headerContentTable_item:first-child {
    vertical-align: middle;
  }

}

@include print {

  .o-headerContentTable:after {
    content: "";
    display: table;
    clear: both;
  }

  .o-headerContentTable-4 .o-headerContentTable_item,
  .o-headerContentTable-2 .o-headerContentTable_item {
    float: left;
    width: 50%;
  }

}

@include mediumPlus {

  .o-headerContentTable {
    display: table;

    &_item {
      display: table-cell;
      vertical-align: top;
    }

  }

  .o-headerContentTable-2 {

    .o-headerContentTable_item {
      width: 50%;
    }

  }

  .o-headerContentTable-4 {

    .o-headerContentTable_item {
      width: 25%;
      padding-top: 0;
    }

    .o-headerContentTable_item:not(:first-child) {
      padding-left: 1rem;
    }

  }

}

@include mediumPlusDown {

  .o-headerContentTable-4 {

    .o-headerContentTable_item {
      display: block;
    }

    .o-headerContentTable_item:first-child {
      width: 100%;
    }

  }

}
