// Table colors
$headBg: rgba(255,138,91,0.26);/* Rectangle 776 Copy: */
$border-color-dark: rgba(0, 0, 0, .5);
$border-color-default: rgba(0, 0, 0, .1);
$table-cell-color: $text-color;

// Font weights
$weight-default: $regular-font-weight;
$weight-bolder: $font-weight-normal;

// Paddings
$table-invoice-page-pad: .8rem .4rem;
$table-invoice-pdf-pad: .6rem .3rem;


.o-invoiceTable {
  width: 100%;
  margin-top: 2rem;
  table-layout: fixed;
  border-spacing: 0;

  td, th {
    @include font-size(15);
    padding: $table-invoice-page-pad;
    color: $table-cell-color;
    text-align: left;

    @media print {
      @include font-size(13);
      padding: $table-invoice-pdf-pad;
    }

  }

  tbody + tbody {
    border-top: 0;
  }

  tbody.thead > tr > th,
  tbody.total > tr > td,
  tbody.object > tr > td:first-child,
  tbody.charge > tr:first-child > td,
  tbody > tr > td:last-child {
    font-weight: $font-weight-bold;
    color: $black;
  }

  tbody.thead {

    @media screen and (max-width: 899px) {
      display: none;
    }

    tr {

      th {
        background-color: $headBg;
        border-top: 0;
        border-bottom: 0;

        @media print {
          border-bottom: 1px solid $black;
        }

      }

    }

  }

  tbody {

    tr,
    td {

      @media screen and (max-width: 899px) {
        display: block;
        width: 100%;
      }

    }

    tr {

      td {
        border-top: 0;

        @media print {
          border-bottom: 1px solid $border-color-default;
        }

        @media screen and (max-width: 899px) {
          text-align: right;

          &[data-label] {
            position: relative;

            &:after {
              content: attr(data-label);
              float: left;
            }

          }

          &:not(:first-child) {
            border-top: 1px solid $border-color-default;
          }

          &:empty {
            display: none;
          }

        }

      }

      &:not(:last-child) {

        td {

          @media screen and (min-width: 900px) {
            border-bottom: 1px solid $border-color-default;
          }

        }

      }

    }

    &.object {

      td:first-child {

        @media screen and (max-width: 899px) {
          background-color: $headBg;
          text-align: left;
          border-bottom: 1px solid $border-color-dark;
        }

      }

      td:nth-child(6) {

        @media screen and (min-width: 900px) {
          border-right: 1px solid $border-color-default;
        }

      }

      &-multipleSeasons {

        tr {}

        td:first-child {

          @media screen and (min-width: 900px) {
            border-bottom: 0;
          }

        }

      }

      &-oneSeason {}

    }

    &.charge {

      tr:first-child {

        td {
          background-color: $headBg;
          border-bottom: 0;

          @media screen and (max-width: 899px) {
            text-align: left;
          }

        }

      }

      tr:not(:first-child) {

        @media screen and (max-width: 899px) {

          td:first-child {
            font-weight: $weight-bolder;
            text-align: left;
            border-bottom: 1px solid $border-color-dark;
          }

        }

      }

      td:nth-child(3) {

        @media screen and (min-width: 900px) {
          border-right: 1px solid $border-color-default;
        }

      }

    }

    &.total {

      tr {

        td {
          @include font-size(20);
          border-top: 2px solid $border-color-dark;
          color: darken($gray, 12%);

          @media print {
            @include font-size(14);
          }

          &:first-child {

            @media screen and (max-width: 899px) {
              display: none;
            }

          }

        }

      }

    }

  }

  .object-multipleSeasons + .object-oneSeason {

    td {

      @media screen and (min-width: 900px) {
        border-top: 1px solid $border-color-default;
      }

    }

  }

  .object-multipleSeasons_start + .object-multipleSeasons_start {

    @media screen and (max-width: 899px) {
      border-top: 2px solid $border-color-default;
    }

  }

}
