.o-tableInformations {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  th, td {
    vertical-align: top;
  }

  @include print {

    td + td {
      padding-left: 8rem;
    }
    
  }

  @include mediumPlusDown {

    th, td {
      display: block;
    }

  }

  @include mediumPlus {

    td + td {
      padding-left: 8rem;
    }

  }

}
