.o-tablePaymentInfo {

  td {}

  td + td {}

  @include mediumPlusDown {

    td {
      display: block;
    }

  }

  @include mediumPlus {
    table-layout: fixed;
    direction: rtl;

    td {
      direction: ltr;
      vertical-align: top;
    }

    td:last-child {
      width: 70%;
    }

  }

}
