---
subject: Booking Partially Payed Admin Email
---
<container>

  <!-- Main message START -->
  <row>
    <columns>
      <row class="main-message_wrapper">
        <columns>
          <spacer size="50"></spacer>
          <row>
            <columns large="1"></columns>
            <columns>
              <td class="main-message_item small-d-block icon float-left small-float-center">
                <img src="../assets/img/acceptCard.svg" alt="Accept">
              </td>
              <td class="main-message_item small-d-block">
                <p class="small-text-center m-0" valign="middle"
                  >Apartment Rea partially payed.</p>
              </td>
            </columns>
            <columns large="1"></columns>
          </row>
          <spacer size="20"></spacer>
        </columns>
      </row>
    </columns>
  </row>
  <!-- Main message STOP -->

  <row>
    <columns>

      {{> personalDataAndBookingInfo}}

      {{> unit-description}}

      {{> note}}

      <row>
        <columns>
          <spacer size="30"></spacer>
          <table class="price-table">
            <tbody>
              <tr>
                <td>
                  <strong>Advanced payment</strong> <br>
                  <span class="values">(10.04.2016)</span>
                </td>
                <td>
                  <strong class="text-uppercase">Already paid</strong><br>
                  70.00 EUR
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                  <strong>Remaning payment</strong> <br>
                  <span class="values">(25.04.2016)</span>
                </td>
                <td>
                  <strong>215.00 EUR</strong>
                </td>
              </tr>
            </tfoot>
          </table>
          <spacer size="30"></spacer>

        </columns>
      </row>

      <row>
        <columns>
          <button href="bookingPreview" class="expanded">Booking preview</button>
        </columns>
        <spacer size="30"></spacer>
      </row>

    </columns>
  </row>

</container>
