---
subject: Booking Payed Email
---
<container>

  <!-- Main message START -->
  <row>
    <columns>
      <row class="main-message_wrapper">
        <columns>
          <spacer size="40"></spacer>
          <p>
            Dear <span>Mr. Wayne</span>,
            <br><br>
            Thank you for your reservation! Please view our offers based on data filled  on inquiry form.
            Chocolate lollipop I love topping muffin bear claw jelly-o. Dragée chupa chups marzipan cake oat
            cake macaroon. Chocolate lollipop I love topping muffin bear claw jelly-o. Dragée chupa chups
            marzipan cake oat cake macaroon.
            <br><br>

            Best regards,<br>
            Alfred Pennyworth <br>
            Booking manager and butler <br>
          </p>
          <spacer size="20"></spacer>
        </columns>
      </row>
    </columns>
  </row>
  <!-- Main message STOP -->

  <row>
    <columns>

      {{> personalDataAndBookingInfo}}

      {{> unit-description}}

      {{> note}}

      <spacer size="30"></spacer>

      <row>
        <columns>
          <spacer size="30"></spacer>
          <table class="price-table">
            <tbody>
              <tr>
                <td>
                  <strong>Advanced payment</strong> <br>
                  <span class="values">(10.04.2016)</span>
                </td>
                <td>
                  <strong class="text-uppercase">Already paid</strong><br>
                  70.00 EUR
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Remaning payment</strong> <br>
                  <span class="values">(25.04.2016)</span>
                </td>
                <td>
                  <strong class="text-uppercase">Already paid</strong><br>
                  <span>215.00 EUR</span>
                </td>
              </tr>
            </tbody>
          </table>
          <spacer size="30"></spacer>
        </columns>
      </row>

    </columns>
  </row>

</container>
