---
subject: Default Email
---
<container>

  <!-- Main message START -->
  <row>
    <columns>
      <row class="main-message_wrapper">
        <columns>
          <spacer size="50"></spacer>
          <row>
            <columns large="1"></columns>
            <columns>
              <td class="main-message_item small-d-block icon float-left small-float-center">
                <img src="../assets/img/info.svg" alt="Info">
              </td>
              <td class="main-message_item small-d-block">
                <p class="small-text-center m-0" valign="middle"
                  >Your booking has been canceled by booking manager.</p>
              </td>
            </columns>
            <columns large="1"></columns>
          </row>
          <spacer size="30"></spacer>
        </columns>
      </row>
    </columns>
  </row>
  <!-- Main message STOP -->

</container>
