---
layout: index-layout
subject: My Email Templates
---

<spacer size="16"></spacer>

<container>

  <spacer size="24"></spacer>

  <row>
    <columns small="12">
      <center>
        <spacer size="20"></spacer>
        <a class="d-inline-block" href="homeLink"><img src="../assets/img/logo.svg" width="200px" alt="Company Name"></a>
        <spacer size="20"></spacer>
      </center>
    </columns>
  </row>

  <row>
    <columns small="12">

    <spacer size="16"></spacer>

    <center>
      <menu class="vertical">
        <item href="{{root}}inquiryAdminEmail.html" target="_blank">New inquiry ADMIN</item>
        <item href="{{root}}offerEmail.html" target="_blank">Offer Email</item>
        <item href="{{root}}offerAccepted.html" target="_blank">Offer Accepted Email</item>
        <item href="{{root}}bookingPartiallyPayedEmail.html" target="_blank">Booking partially payed</item>
        <item href="{{root}}bookingPartiallyPayedAdminEmail.html" target="_blank">Booking partially payed ADMIN</item>
        <item href="{{root}}bookingPayedEmail.html" target="_blank">Booking payed</item>
        <item href="{{root}}bookingPayedAdminEmail.html" target="_blank">Booking payed ADMIN</item>
        <item href="{{root}}voucher.html" target="_blank">Voucher</item>
        <item href="{{root}}canceledBooking.html" target="_blank">Canceled booking</item>
        <item href="{{root}}rateAccommodation.html" target="_blank">Rate accommodation</item>
        <item href="{{root}}default.html" target="_blank">Default mail</item>
        <item href="{{root}}inquiryCancel.html" target="_blank">Inquiry cancel mail</item>
      </menu>
    </center>

    <spacer size="16"></spacer>

    </columns>
  </row>
</container>

<spacer size="16"></spacer>
