---
subject: Inquiry Admin Email
---
<container>

  <!-- Main message START -->
  <row>
    <columns>
      <row class="main-message_wrapper">
        <columns>
          <spacer size="50"></spacer>
          <row>
            <columns large="1"></columns>
            <columns>
              <td class="main-message_item small-d-block icon float-left small-float-center">
                <img src="../assets/img/docPlus.svg" alt="*">
              </td>
              <td class="main-message_item small-d-block">
                <p class="small-text-center m-0" valign="middle"
                >You have new inquiry <strong>*sjfauWE293IRLK*</strong> on your booking site.</p>
              </td>
            </columns>
            <columns large="1"></columns>
          </row>
          <spacer size="20"></spacer>
        </columns>
      </row>
    </columns>
  </row>
  <!-- Main message STOP -->

  {{> personalDataAndBookingInfo}}

  {{> unit-attribute}}

  {{> note}}

  <row>
    <columns>
      <spacer size="20"></spacer>
      <strong class="f-19">Price: <span>450 EUR</span></strong>
    </columns>
  </row>

  <row>
    <columns>
      <button href="administrateInquiry" class="expanded">Administrate inquiry</button>
      <spacer size="30"></spacer>
    </columns>
  </row>

</container>
