---
subject: Canceled Inquiry Email
---
<container>

  <!-- Main message START -->
  <row>
    <columns>
      <row class="main-message_wrapper">
        <columns>
          <spacer size="50"></spacer>
          <row>
            <columns large="1"></columns>
            <columns>
              <td class="main-message_item small-d-block icon float-left small-float-center">
                <img src="../assets/img/decline.svg" alt="Decline">
              </td>
              <td class="main-message_item small-d-block">
                <p class="small-text-center m-0">
                  Dear mr Bruce Wayne,<br>
                  we are unable to make an offer in response to your inquiry.<br>
                  We regret to inform you that your inquiry has been rejected.
                </p>
              </td>
            </columns>
            <columns large="1"></columns>
          </row>
          <spacer size="30"></spacer>
        </columns>
      </row>
    </columns>
  </row>
  <!-- Main message STOP -->

  <row>
    <columns>

      {{> personalDataAndBookingInfo}}

      {{> unit-description}}

      {{> note}}

    </columns>
  </row>

</container>
