---
subject: Offer Email
---
<container>

  <!-- Main message START -->
  <row>
    <columns>
      <row class="main-message_wrapper">
        <columns>
          <spacer size="40"></spacer>
          <p>
            Dear <span>Mr. Wayne</span>,
            <br><br>
            Please view our offer based on data filled on inquiry form.
          </p>
          <spacer size="30"></spacer>
        </columns>
      </row>
    </columns>
  </row>
  <!-- Main message STOP -->

  <row>
    <columns>

      {{> personalDataAndBookingInfo}}

      <!-- Unit START -->

      {{> unit-description}}

      {{> note}}

      <row>
        <columns>
          <table class="price-table price-table-lg">
            <tbody>
              <tr>
                <td>
                  <strong>Basic price</strong> <br>
                  <span class="values">(Unit)</span>
                </td>
                <td>
                  <strong>250.00 EUR</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Mandatory charges</strong> <br>
                  <span class="values">(Cleaning, ironing, breakfast, something)</span>
                </td>
                <td>
                  <strong>100.00 EUR</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Optional charges</strong> <br>
                  <span class="values">(Cleaning, ironing, breakfast, something)</span>
                </td>
                <td>
                  <strong>30.00 EUR</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Short stay charge</strong> <br>
                  <span class="values">(under 4 days)</span>
                </td>
                <td>
                  <strong>10.00 EUR</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Discount</strong> <br>
                  <span class="values">(out of season)</span>
                </td>
                <td>
                  <strong>15.00 EUR</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Action</strong> <br>
                  <span class="values">(something)</span>
                </td>
                <td>
                  <strong>0.00 EUR</strong>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                  <strong>Total</strong>
                </td>
                <td>
                  <strong>450.00 EUR</strong>
                </td>
              </tr>
            </tfoot>
          </table>
        </columns>
      </row>

      <row>
        <columns>
          <button href="viewUnit" class="expanded">View unit</button>
          <button href="confirmBooking" class="expanded">Confirm</button>
        </columns>
      </row>
      <!-- Unit STOP -->

      <!-- Unit START -->

      {{> unit-description}}

      {{> note}}

      <row>
        <columns>
          <table class="price-table price-table-lg">
            <tbody>
              <tr>
                <td>
                  <strong>Basic price</strong> <br>
                  <span class="values">(Unit)</span>
                </td>
                <td>
                  <strong>250.00 EUR</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Mandatory charges</strong> <br>
                  <span class="values">(Cleaning, ironing, breakfast, something)</span>
                </td>
                <td>
                  <strong>100.00 EUR</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Optional charges</strong> <br>
                  <span class="values">(Cleaning, ironing, breakfast, something)</span>
                </td>
                <td>
                  <strong>30.00 EUR</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Short stay charge</strong> <br>
                  <span class="values">(under 4 days)</span>
                </td>
                <td>
                  <strong>10.00 EUR</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Discount</strong> <br>
                  <span class="values">(out of season)</span>
                </td>
                <td>
                  <strong>15.00 EUR</strong>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Action</strong> <br>
                  <span class="values">(something)</span>
                </td>
                <td>
                  <strong>0.00 EUR</strong>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                  <strong>Total</strong>
                </td>
                <td>
                  <strong>450.00 EUR</strong>
                </td>
              </tr>
            </tfoot>
          </table>
        </columns>
      </row>

      <row>
        <columns>
          <button href="viewUnit" class="expanded">View unit</button>
          <button href="confirmBooking" class="expanded">Confirm</button>
        </columns>
      </row>
      <!-- Unit STOP -->

      <spacer size="20"></spacer>

      <row>
        <columns>

          <!-- Event heading START -->
          <h3 class="f-21">Current events</h3>

          <spacer size="20"></spacer>
          <!-- Event heading STOP -->

          {{> eventItem}}

          {{> eventItem}}

          {{> eventItem}}
        </columns>
      </row>

    </columns>
  </row>


</container>
