---
subject: Offer Accepted Email
---
<container>

  <!-- Main message START -->
  <row>
    <columns>
      <row class="main-message_wrapper">
        <columns>
          <spacer size="50"></spacer>
          <row>
            <columns large="1"></columns>
            <columns>
              <td class="main-message_item small-d-block icon float-left small-float-center">
                <img src="../assets/img/accept.svg" alt="Accept">
              </td>
              <td class="main-message_item small-d-block">
                <p class="small-text-center m-0" valign="middle"
                  >Offer <strong>*sjfauWE293IRLK*</strong> is accepted.</p>
              </td>
            </columns>
            <columns large="1"></columns>
          </row>
          <spacer size="20"></spacer>
        </columns>
      </row>
    </columns>
  </row>
  <!-- Main message STOP -->

  <row>
    <columns>

      {{> unit-personalData}}

      {{> note}}

      <row>
        <columns>
          <spacer size="40"></spacer>
          <button href="bookingPreview" class="expanded">Booking preview</button>
        </columns>
      </row>

    </columns>
  </row>

</container>
