---
subject: Rate accommodation Email
---
<container>

  <!-- Main message START -->
  <row>
    <columns>
      <row class="main-message_wrapper">
        <columns>
          <spacer size="40"></spacer>
          <p>
            Dear <span>Mr. Wayne</span>,
            <br><br>
            Thank you for your reservation! Please view our offers based on data filled  on inquiry form. Chocolate lollipop
            I love topping muffin bear claw jelly-o. Dragée chupa chups marzipan cake oat cake macaroon.
            Chocolate lollipop I love topping muffin bear claw jelly-o. Dragée chupa chups marzipan cake oat cake macaroon.
            <br><br>

            Best regards,<br>
            Alfred Pennyworth <br>
            Booking manager and butler <br>
          </p>
          <spacer size="30"></spacer>
        </columns>
      </row>
    </columns>
  </row>
  <!-- Main message STOP -->

  <row>
    <columns>

      {{> unit-personalData}}

      {{> note}}

      <row>
        <columns>
          <button href="rateAccommodation" class="expanded">Rate accommodation</button>
        </columns>
        <spacer size="30"></spacer>
      </row>


    </columns>
  </row>

</container>
