---
subject: Voucher Email
---
<container>

  <!-- Main message START -->
  <row>
    <columns>
      <row class="main-message_wrapper">
        <columns>
          <spacer size="40"></spacer>
          <p>
            Dear <span>Mr. Wayne</span>,
            <br><br>
            Thank you for successfully payed booking.  Here is your voucher with related data about your reservation.
             For further information you can contact us personally through contact details in footer. <br><br>
          </p>

            <spacer size="20"></spacer>
            <strong class="f-18">Your booking ID: 1ZTm9bWD40DI4Mwj2KcNQrKt</strong> <br> <br>
            <spacer size="20"></spacer>

          <p>
            Best regards,<br>
            Alfred Pennyworth <br>
            Booking manager and butler <br>
          </p>
          <spacer size="30"></spacer>
        </columns>
      </row>
    </columns>
  </row>
  <!-- Main message STOP -->

  <row>
    <columns>

      {{> contactPersonAndLocation}}

      {{> unit-personalData}}

      {{> note}}

      <row>
        <columns>
          <button href="bookingVoucher" class="expanded">Download voucher PDF</button>
        </columns>
        <spacer size="30"></spacer>
      </row>

    </columns>
  </row>

</container>
