html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  button,
  input,
  select,
  textarea {
    -webkit-tap-highlight-color: rgba(82, 82, 82, 0.1);
  }

}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: none;
}

html, body {
  height: 100%;
  font-family: $body-font-family;
  font-weight: $regular-font-weight;
  font-size: $body-font-size;
  line-height: $default-line-height;
  letter-spacing: $default-letter-spacing;
  color: $text-color;
}

strong {
  font-weight: $font-weight-bold;
}

// Used for nested rows
//.row-compact {
//
//  $gutter-compact: ($grid-gutter/3);
//
//  margin-right: $gutter-compact*(-1);
//  margin-left: $gutter-compact*(-1);
//
//  $list: xs sm smp md mdp lg lgp xl;
//
//  @each $point in $list {
//
//    @for $i from 1 through 12 {
//
//      .col-#{$point}-#{$i} {
//        padding-left: $gutter-compact;
//        padding-right: $gutter-compact;
//      }
//
//    }
//
//  }
//
//}
