.preformat {
  color: $text-color;

  &:after {
    display: block;
    content: "";
    clear: both;
  }

  &,
  a,
  p,
  li,
  blockquote {
    line-height: 1.6;
  }

  ul,
  ol {
    margin: 0 0 1em;
    list-style-position: inside;
  }

  ul {
    list-style-type: none;

    > li {
      position: relative;
      padding-left: 1.4em;

      &:after {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 3px;
        height: 3px;
        margin: auto 0;
        background-color: $text-color;
        border-radius: 10px;
      }

    }

  }

  ol {
    padding-left: 0;
    list-style-type: decimal;

    ol {
      padding-left: 1em;
      margin-top: 1em;
    }

  }

  a {
    color: $blue;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: lighten($blue, 10%);
      text-decoration: none;
    }

  }

  em {
    font-style: italic;
  }

  blockquote {
    display: inline-block;
    position: relative;
    margin: 1em 0 1.94em;
    padding: 0 25px;
    font-size: 1.12em;
    font-family: $heading-font-family;
    font-style: italic;

    &:before,
    &:after {
      content: '';
      background-repeat: no-repeat;
      background-size: 17px 15px;
      width: 17px;
      height: 15px;
      position: absolute;
    }

    //&:before {
    //  background-image: url("../media/app/quote_start.svg");
    //  left: 0;
    //  bottom: -4px;
    //}
    //&:after {
    //  background-image: url("../media/app/quote_stop.svg");
    //  right: 0;
    //  top: -4px;
    //}

  }

  p {
    margin: 0 0 1em;
  }

  h1, h2, h3,
  h4, h5, h6 {
    margin: .8em 0 0.4em;
    color: $text-color;
  }

  a {
    color: $brand-secondary;
    font-weight: $font-weight-bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

  table {
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-spacing: 0;

    tr td {
      border: 1px solid #999;
      border-top: 0;
      border-left: 0;
      padding: 0.5em 1em;
    }

  }

  .o-sideInfoList_item & p:last-child {
    margin-bottom: 0;
  }

  .o-sideInfoList_item & {
    height: 5rem;
  }

  .o-sideInfoList_item &:after {
    @extend %absoluteBot;
    content: '';
    height: 70%;
    background: linear-gradient(
            to bottom,
            rgba(lighten($gray-lightest, 5.88), .2) 0%,
            lighten($gray-lightest, 5.88) 90%);
  }

  iframe {
    max-width: 100%;
  }

}
