<!--Load Main HTML Layout-->
{% extends "html/pdf/templates/base.html" %}

<!--Define Page Title-->
{% set pageTitle = 'Index' %}

<!--Define body class-->
{% set bodyClass = 'index' %}

<!--Main Content-->
{% block content %}

{% include "html/pdf/templates/header-new.html" %}

<h1><a href="payment.html">Payment</a></h1>
<h1><a href="voucher.html">Voucher</a></h1>

{% endblock %}
