<!--Load Main HTML Layout-->
{% extends "html/pdf/templates/base.html" %}

<!--Define Page Title-->
{% set pageTitle = 'Payment page' %}

<!--Define body class-->
{% set bodyClass = 'p-payment' %}

<!--Main Content-->
{% block content %}

{% include "html/pdf/templates/header-new.html" %}

<div class="section">

  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h1 class="section_title">OFFER 5ae 2cf</h1>
        <div><strong class="mr-5 color-pearl">Offer date:</strong> 17.03.2016</div>
      </div>

    </div>

    <div class="row">

      <!-- For PDF use 'col-sm-4' -->
      <section class="col-mdp-4">
        <h1 class="sr-only">Guest</h1>

        <dl class="o-description-list">

          <dt class="o-description-list_dt">Full name</dt>
          <dd class="o-description-list_dd">Mr. Bruce Wayne</dd>

          <dt class="o-description-list_dt">Full address</dt>
          <dd class="o-description-list_dd">
            Mountain Drive 1007 <br>
            Gotham 53450 <br>
            USA
          </dd>

          <dt class="o-description-list_dt">Email</dt>
          <dd class="o-description-list_dd">
            <a href='mailto:bruce.wayne@gmail.com'>bruce.wayne@gmail.com</a> <br>
          </dd>

          <dt class="o-description-list_dt">Cellphone</dt>
          <dd class="o-description-list_dd">
            <a href='tel:0911234567'>091/123-4567</a>
          </dd>

        </dl>

      </section>

      <!-- For PDF use 'col-sm-4' -->
      <div class="col-mdp-3">

        <dl class="o-description-list">

          <dt class="o-description-list_dt hidden-md-down">&nbsp;</dt>
          <dd class="o-description-list_dd hidden-md-down">&nbsp;</dd>

          <dt class="o-description-list_dt">Check in</dt>
          <dd class="o-description-list_dd">26.04.2016.</dd>

          <dt class="o-description-list_dt">Check out</dt>
          <dd class="o-description-list_dd">29.04.2016.</dd>

          <dt class="o-description-list_dt">Adults</dt>
          <dd class="o-description-list_dd">2</dd>

          <dt class="o-description-list_dt">Kids</dt>
          <dd class="o-description-list_dd">3</dd>

        </dl>

      </div>

      <div class="col-sm-12">

        <table class="table table-invoice">

          <tbody class="thead">
            <tr>
              <th>Service</th>
              <th>Season</th>
              <th>From</th>
              <th>Till</th>
              <th class='text-right'>Applied</th>
              <th class='text-right'>Price</th>
              <th class='text-right'>Amount</th>
            </tr>
          </tbody>

          <!-- Object with multiple seasons START -->
          <tbody class="object object-multipleSeasons">
            <tr class="object-multipleSeasons_start">
              <td>Apartmani Rea</td>
              <td data-label="Season">Season A</td>
              <td data-label="From">01.03.2017.</td>
              <td data-label="Till">10.03.2017.</td>
              <td class='text-right' data-label="Applied">3</td>
              <td class='text-right' data-label="Price">34.00 EUR</td>
              <td class='text-right' data-label="Amount">135.00 EUR</td>
            </tr>

            <!-- Second season START -->
            <tr class="object-multipleSeasons_start">
              <td></td>
              <td data-label="Season">Season B</td>
              <td data-label="From">01.06.2017.</td>
              <td data-label="Till">06.06.2017.</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <!-- If season contain second period START -->
            <tr>
              <td></td>
              <td></td>
              <td data-label="From">24.06.2017.</td>
              <td data-label="Till">30.06.2017.</td>
              <td class='text-right' data-label="Applied">2</td>
              <td class='text-right' data-label="Price">25.00 EUR</td>
              <td class='text-right' data-label="Amount">50.00 EUR</td>
            </tr>
            <!-- If season contain second period STOP -->

            <!-- Second season STOP -->

          </tbody>
          <!-- Object with multiple seasons STOP -->

          <!-- Object with one season START -->
          <tbody class="object object-oneSeason">
            <tr>
              <td>Apartman Renata</td>
              <td data-label="Season">Season C</td>
              <td data-label="From">22.11.2017.</td>
              <td data-label="Till">26.11.2017.</td>
              <td class='text-right' data-label="Applied">2</td>
              <td class='text-right' data-label="Price">22.00 EUR</td>
              <td class='text-right' data-label="Amount">33.00 EUR</td>
            </tr>
          </tbody>
          <!-- Object with one season STOP -->

          <!-- Charge START -->
          <tbody class="charge">
            <tr>
              <td colspan="7">Mandatory charges</td>
            </tr>

            <tr>
              <td colspan="4">Booking fee</td>
              <td class='text-right' data-label="Applied">2</td>
              <td class='text-right' data-label="Price">2.00 EUR</td>
              <td class='text-right' data-label="Amount">5.00 EUR</td>
            </tr>

            <tr>
              <td colspan="4">Registration fee</td>
              <td class='text-right' data-label="Applied">99</td>
              <td class='text-right' data-label="Price">98.00 EUR</td>
              <td class='text-right' data-label="Amount">97.00 EUR</td>
            </tr>

            <tr>
              <td colspan="4">Cleaning fee</td>
              <td class='text-right' data-label="Applied">5</td>
              <td class='text-right' data-label="Price">4.00 EUR</td>
              <td class='text-right' data-label="Amount">3.00 EUR</td>
            </tr>
          </tbody>
          <!-- Charge STOP -->

          <!-- Charge START -->
          <tbody class="charge">
            <tr>
              <td colspan="7">Optional charges</td>
            </tr>

            <tr>
              <td colspan="4">Parking place</td>
              <td class='text-right' data-label="Applied">1</td>
              <td class='text-right' data-label="Price">11.00 EUR</td>
              <td class='text-right' data-label="Amount">111.00 EUR</td>
            </tr>

          </tbody>
          <!-- Charge STOP -->

          <!-- Discounts START -->
          <tbody class="charge">
            <tr>
              <td colspan="7">Discounts</td>
            </tr>

            <tr>
              <td colspan="4">Baby discount</td>
              <td class='text-right' data-label="Applied">2</td>
              <td class='text-right' data-label="Price">22.00 EUR</td>
              <td class='text-right' data-label="Amount">222.00 EUR</td>
            </tr>

          </tbody>
          <!-- Discounts STOP -->

          <!-- Actions START -->
          <tbody class="charge">
            <tr>
              <td colspan="7">Actions</td>
            </tr>

            <tr>
              <td colspan="4">First minute action</td>
              <td class='text-right' data-label="Applied">3</td>
              <td class='text-right' data-label="Price">33.00 EUR</td>
              <td class='text-right' data-label="Amount">333.00 EUR</td>
            </tr>

          </tbody>
          <!-- Actions STOP -->

          <tbody class="total">
            <tr>
              <td colspan="4">Total</td>
              <td class="text-right" data-label="Total" colspan="3">123.23 EUR</td>
            </tr>
          </tbody>

        </table>

      </div>

    </div>

    <div class="row align-items-start">
      <div class="col-mdp-3 push-mdp-9 text-mdp-right">
        <div class="reservationInformation_download">
          <a class='c-link color-secondary' href='#'>Download PDF</a>
        </div>
      </div>

      <div class="col-mdp-9 pull-mdp-3">
        <strong>To book the accommodation unit, you have to make an payment of 480.00 EUR until 29.04.2017.</strong>
        <br><br>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="btn btn-primary btn-block" href="#">Pay with Paypal</a>
            <br>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="btn btn-primary btn-block" href="#">Pay with credit card</a>
            <br>
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <section>
          <h1 class="section_subtitle boldWeight">Instructions for paying via bank account</h1>

          <dl class="instructions">

            <dt class="instructions_dt">RECIPIENT</dt>
            <dd class="instructions_dd">Hotel Navis</dd>

            <dt class="instructions_dt">BANK</dt>
            <dd class="instructions_dd">Privredna Banka d.d. Zagreb, Rackoga 6, 10 000 Zagreb</dd>

            <dt class="instructions_dt">IBAN</dt>
            <dd class="instructions_dd">HR 12345678910485333</dd>

            <dt class="instructions_dt">SWIFT</dt>
            <dd class="instructions_dd">123456789</dd>

            <dt class="instructions_dt">DESCRIPTION OF PAYMENT</dt>
            <dd class="instructions_dd">#56C2F3AC10BED</dd>

            <dt class="instructions_dt">REFERENCE NUMBER</dt>
            <dd class="instructions_dd">56C2F3AC10BED</dd>

          </dl>

        </section>

      </div>
    </div>
  </div>

</div>

{% endblock %}
