<!--Load Main HTML Layout-->
{% extends "html/pdf/templates/base.html" %}

<!--Define Page Title-->
{% set pageTitle = 'Voucher' %}

<!--Define body class-->
{% set bodyClass = 'p-voucher' %}

<!--Main Content-->
{% block content %}

{% include "html/pdf/templates/header-new.html" %}

<div class="section">

  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h1 class="section_title text-uppercase">Your booking ID: 4A9 B25</h1>
        <div class="date">Offer date:&nbsp;17.03.2016.</div>
        <div class="accommodation text-uppercase color-pearl">Apartmani Zoran</div>
        <div class="location"><span class="location_label">Location:&nbsp;</span
          ><span class="location_name">Vrbnik</span></div>
      </div>

    </div>

    <div class="row">

      <!-- For PDF use 'col-sm-6' -->
      <section class="col-mdp-6">
        <h1 class="section_subtitle">Personal data and booking info</h1>

        <dl class="o-description-list">

          <dt class="o-description-list_dt"><strong>Full name&#58;</strong></dt>
          <dd class="o-description-list_dd">Mr. Bruce Wayne</dd>

          <dt class="o-description-list_dt"><strong>Full Address&#58;</strong></dt>
          <dd class="o-description-list_dd">
            Mountain Drive 1007 <br>
            Gotham 53450 <br>
            USA
          </dd>

          <dt class="o-description-list_dt"><strong>Email&#58;</strong></dt>
          <dd class="o-description-list_dd">
            <a href='mailto:bruce.wayne@gmail.com'>bruce.wayne@gmail.com</a> <br>
          </dd>

          <dt class="o-description-list_dt"><strong>Cellphone&#58;</strong></dt>
          <dd class="o-description-list_dd">
            <a href='tel:0911234567'>091/123-4567</a>
          </dd>

          <dt class="o-description-list_dt"><strong>Check in&#58;</strong></dt>
          <dd class="o-description-list_dd">26.04.2016.</dd>

          <dt class="o-description-list_dt"><strong>Check out&#58;</strong></dt>
          <dd class="o-description-list_dd">29.04.2016.</dd>

          <dt class="o-description-list_dt"><strong>Adults&#58;</strong></dt>
          <dd class="o-description-list_dd">2</dd>

          <dt class="o-description-list_dt"><strong>Kids&#58;</strong></dt>
          <dd class="o-description-list_dd">3&nbsp;(Age&#58;&nbsp;3,9,9,11,13)</dd>

        </dl>

      </section>

      <!-- For PDF use 'col-sm-6' -->
      <section class="col-mdp-6">
        <h1 class="section_subtitle upper">Contact person and location</h1>

        <dl class="o-description-list">

          <dt class="o-description-list_dt"><strong>Full name&#58;</strong></dt>
          <dd class="o-description-list_dd">Mr. Bruce Wayne</dd>

          <dt class="o-description-list_dt"><strong>Full Address&#58;</strong></dt>
          <dd class="o-description-list_dd">
            Mountain Drive 1007 <br>
            Gotham 53450 <br>
            USA
          </dd>

          <dt class="o-description-list_dt"><strong>Cellphone&#58;</strong></dt>
          <dd class="o-description-list_dd">
            <a href='tel:0911234567'>091/123-4567</a>
          </dd>

          <dt class="o-description-list_dt"><strong>Telephone&#58;</strong></dt>
          <dd class="o-description-list_dd">
            <a href='tel:0511234567'>051/123-4567</a>
          </dd>

          <dt class="o-description-list_dt"><strong>Working hours&#58;</strong></dt>
          <dd class="o-description-list_dd">Monday - wednesday: 08:00 - 16:00<br>Thursday- friday: 09:00 - 17:00</dd>

        </dl>

      </section>

    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <section class="section accommodation-charges">

          <h1 class="section_subtitle text-uppercase mb-5">Accommodation charges</h1>

          <ul class="accommodation-charges_list">

            <li class="accommodation-charges_item">
              <div class="accommodation-charges_item_info">Total price</div>
              <div class="accommodation-charges_item_value">450.00 EUR</div>
            </li>

            <li class="accommodation-charges_item">
              <div class="accommodation-charges_item_info">Advanced payment (Amount paid)</div>
              <div class="accommodation-charges_item_value">50.00 EUR</div>
            </li>

            <li class="accommodation-charges_item color-pearl">
              <div class="accommodation-charges_item_info text-uppercase c-ttl-s19">  
                  <strong>Remaining payment</strong></div>
              <div class="accommodation-charges_item_value"><strong>45.00 EUR</strong></div>
            </li>

          </ul>

        </section>

      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 section">
        <div class="note"><strong class="color-pearl">Note:&nbsp;</strong>At arrival day guests are entering the 
          appartment after 14.00pm and at the depature day they have to exit appatment before 10.00am.</div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
