.o-chargesTable {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.4;
  width: 100%;
  max-width: 600px;

  td {
    padding: {
      top: .7rem;
      bottom: .7rem;
    };
    border-bottom: 1px solid rgba($color-text-neutral, .2);
  }

}
