.o-tableInformations {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  th, td {
    vertical-align: top;
  }

  @include tabletPlusDown {

    th, td {
      display: block;
    }

  }

  @include tabletPlus {

    td + td {
      padding-left: 2rem;
    }

  }

}
