@import "../../app/04_components/c-btn";

.btn {

  @include mediumDown {
    display: block;

    & + & {
      margin-top: 1rem;
    }

  }

  @include medium {

    & + & {
      margin-left: 1rem;
    }

  }

}
