.c-ttl {
  margin: 0;

  &-sm {
    @include font-size(16);
  }

  &-mdp {
    @include font-size(20);
  }

  &-lg {
    @include font-size(24);
  }

  @include mediumPlus {

    &-sm {
      @include font-size(18);
    }

    &-mdp {
      @include font-size(22);
    }

    &-lg {
      @include font-size(30);
    }

  }

  @include print() {

    &-sm {
      @include font-size(15);
    }

    &-mdp {
      @include font-size(18);
    }

  }

}
