.o-arrow {
  position: absolute;
  top: 50%;
  right: -35px;
  display: inline-block;
  transform: translateY(-50%);

  svg > path {
    fill: $brand-secondary;
  }

  @include laptop {

    svg {
      transform: translateX(0);
      transition: transform 175ms;
  
      > path {
        fill: #D3D3D3;
        transition: fill 175ms;
      }
  
    }

    .o-area_item .c-ttl .c-link:hover & svg {
      transform: translateX(5px);
  
      > path {
        fill: $brand-secondary;
      }
  
    }

  }

}
