.o-breadcrumb {

  .breadcrumb {
    background-color: transparent;
    padding-left: 0;
    margin-top: .625rem;
  }
  
  .breadcrumb-item {
    font-weight: 700;

    + .breadcrumb-item::before {
      content: url('../media/app/chevron-breadcrumb.svg');
    }

    &.active {
      color: $black;
      font-weight: $font-weight-light;
    }

  }

}
