// Main navigation
.o-mainNav {

  &Switch_item-current {
    position: relative;
  }

  &Switch_list {
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 15px;
    border: 1px solid rgba($white, .5);
    background-color: $brand-primary;
    color: $white;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20%);
    transition: opacity 175ms, transform 200ms;

    &.active {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }

  }

  &_item.-sub {
    position: relative;
  }

  &_trigger-sub {
    @extend %absoluteFull;
    left: auto;
  }

  &_trigger-sub:after {
    content: '';
    @extend .svg-chevron;
    @extend .svg-chevron-dims;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_item:hover &_trigger-sub:after {
    @extend .svg-chevron-primary;
  }

  &_list-sub {
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
  }

  @include laptopDown {

    &_list {
      position: absolute;
      z-index: 1;
      right: 0;
      left: 0;
      background-color: rgba($white, .95);
      opacity: 0;
      pointer-events: none;
      transform: translateY(-20%);
      transition: opacity 175ms, transform 200ms;

      &.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
      }

      &-sub {
        max-height: 0;
        background-color: rgba(#DCDCDC, .25);
        transition: max-height 300ms, opacity 175ms;

        &.active {
          max-height: 1000px;
          opacity: 1;
          pointer-events: all;
          transition: max-height 200ms;
        }

      }

    }

    &_trigger-sub {
      top: 0;
      right: 0;
      width: 20%;
      height: 58px;
      transform: rotate(0);
      transition: transform 250ms;

      &.active {
        transform: rotate(180deg);
      }

    }

  }

  @include laptop {

    &_item.-sub:hover .o-mainNav_list-sub {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }

    &_list {
      display: flex;

      &-sub {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        background-color: rgba($white, .95);
        box-shadow: 0 0 14px rgba($black, .15);
        transform: translateY(-20%);
        transition: opacity 100ms, transform 175ms;
      }

    }

    &_trigger-sub {
      top: 50%;
      right: .4375rem;
      width: 7px;
      height: 20px;
      pointer-events: none;
      transform: translateY(-50%);
    }

  }

}

@include laptopDown {

  .sticky-wrapper.is-sticky .o-mainNav_list {
    right: 0;
    left: 0;
  }

}
