.o-pagination {
  box-shadow: 0 2px 14px 0 rgba($black, .1);

  .pagination {}

  .page-item.active .page-link {
    background-color: $brand-primary;
  }

  .page-item.disabled {
    cursor: not-allowed;
  }

  .page-item:first-child,
  .page-item:last-child {
    min-width: 50px;

    span {
      display: inline-block;
    }

    @include tabletPlus {
      min-width: 100px;
    }

    @include laptop {
      min-width: 220px;
    }

  }

  .page-item:first-child {
    margin-right: auto;

    .hidden-mdp-up {
      transform: rotate(-45deg);
    }

  }

  .page-item:last-child {
    margin-left: auto;
  }

  .page-link {
    @extend %user-select;
    @extend %decoration-none;
    @include transition();
    padding: 1rem;
    border: 0;
    color: $color-text-neutral;
    font-weight: $font-weight-light;

    @include mobilePlusDown {
      padding: .75rem;
      font-size: .93rem; //15px
    }

    &:hover {
      background-color: rgba($brand-primary, .2);
    }

  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    border-radius: 0;
    background-color: $brand-secondary;
    color: $white;

    &:hover {
      background-color: darken($brand-secondary, 16%);
    }

    @include tabletDown {
      height: 100%;
      background-image: url('../media/app/chevron-white-right.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px 14px;

      span {
        display: none;
      }

    }

  }

  .page-item:first-child .page-link {

    @include tabletDown {
      transform: rotate(180deg);
    }

  }

}
