.o-unitCard {

  &_wrapper {
    display: inline-block;
    margin: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: none;
    transition: box-shadow 0.35s ease-in-out;
  }

  &_wrapper:hover{
    box-shadow: 0px 0px 2px 2px grey;
  }

  &_img {
    display: block;
    width: 100%;
  }

  &_info {
    display: flex;
    flex-direction: column;
    border: 1px solid #cdcdb1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &_name {
    color: #3d3d29;
    font-size: 13px;
    font-weight: 600;
  }

  &_details {
    color: #3d3d29;
    font-size: 12px;
    font-weight: bold;
  }

 &_amenitiesList {
    border-top: 1px solid #cdcdb1;
    padding-top: 3px;
  }

}
