html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html, body {
  height: 100%;
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  font-size: 15px;
  line-height: $line-height-default;
  letter-spacing: .7px;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;

  > li {
    font-size: 1rem;
  }

}

a.c-btn {
  text-decoration: none;
}

main {
  padding-top: 105px;

  @include laptop {
    padding-top: 112px;
  }

}

hr {
  border-bottom: 0;
  border-top: 1px solid;
  border-color: $brand-primary;

  &.-gray {
    border-color: #D8D8D8;
  }

}

select, option {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand{
  display: none;
}

select {
  font-family: $font-family-base;
}

select.form-control:not([size]):not([multiple]) {
  height: auto;
}
