/*------------------------------------------------------------------------------------
  BREAKPOINTS
------------------------------------------------------------------------------------*/
$small-breakpoint:              0px;
$smallPlus-breakpoint:          468px;
$medium-breakpoint:             600px;
$mediumPlus-breakpoint:         800px;
$large-breakpoint:              1025px;
$largePlus-breakpoint:          1400px;


/*------------------------------------------------------------------------------------
  CONTAINER
------------------------------------------------------------------------------------*/
$large-maxWidth:                1680px;


/*------------------------------------------------------------------------------------
  GRID, GUTTER
------------------------------------------------------------------------------------*/
$grid-columns:                  12;
// $grid-gutter-width:             30px;
$grid-gutter-width-mobile:      30px;
$grid-gutter-width-tablet:      30px;
$grid-gutter-width-laptop:      30px;
$grid-gutter-width-desktop:     56px;
