// Font Size
$body-font-size: 100%;



// Line height
$line-height-default: 1.4;



// Letter spacing
$letter-spacing-default: normal;
$letter-spacing-lg: 0.02rem;



// Font Family
$font-family-base:            'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-heading:         'Rokkitt', serif;
$font-family-code:            courier new, Courier, monospace;



// Font Weight
$font-weight-black: 900;
$font-weight-heavy: 800;
$font-weight-heading: 700;
$font-weight-semiBold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 200;
