<!--Load Main HTML Layout-->
{% extends "src/html/app/template/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Project name' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Thank you' %}
{% set pageTitleName = 'Thank you' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-message' %}

<!--Main Content-->
{% block content %}
{% include "src/html/app/components/header.html" %}

<main>
  <div class="container my-5 py-5">
    <div class="row justify-content-center my-xl-5 py-xl-5">
      <div class="col-12 d-flex flex-column align-items-center">
        <div class="d-md-flex text-center text-md-left">
          <div class="c-img -message -thankYou mx-auto"></div>

          <div class="ml-md-4">
            <h2 class="c-ttl c-ttl-h1">Zahvaljujemo na upitu!</h2>
            <p class="mt-1 mb-4">Odgovoriti ćemo Vam u najkraćem mogućem roku.</p>
          </div>
        </div>
        <a class="c-btn c-btn-primary c-btn-mess mt-3" href="index.html">Natrag na početnu</a>
      </div>
    </div>
  </div>
</main>

{% include "src/html/app/components/footer.html" %}
{% endblock %}
