// Button
//
// // Define colors in '00_settings/_bootstrap'
// // Include bootstrap partial in '08_vendor/_bootstrap-includes'

// Width
$btn-wide-sm: 100px;
$btn-wide-md: 250px;
$btn-wide-lg: 300px;

$btn-font-size: 1rem;

.btn {
  @include transition();
  @extend %cursor-pointer;
  font-size: $btn-font-size;

  &, &:focus {
    outline: 0;
    box-shadow: none;
  }

  @media print {
    display: none;
  }

  &-primary {

    .o-subscribe_item & {

      @include smallPlusDown {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      @include smallPlus {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 48px;
      }

    }

  }

  &-secondary {

    &:hover,
    &:active {
      background-color: $btn-secondary-color;
      color: $white;
      border: 1px solid $btn-secondary-color;
    }

  }

  // Wide buttons
  &-wide {
    display: inline-block;
    width: 100%;
    word-break: break-word;
    white-space: normal;
  }

  // Under medium all buttons are fully stretched
  @include medium {

    &-wide {
      width: auto;
    }

    &-wide-sm {
      min-width: $btn-wide-sm;
    }

    &-wide-md {
      min-width: $btn-wide-md;
    }

    &-wide-lg {
      min-width: $btn-wide-lg;
    }

  }

  // Should be used along with 'btn-wide-XX'
  &-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .o-newsCategory_item &,
  .o-mainSearch_list_item & {
    height: 64px;
  }

  @include mediumPlusDown {

    .o-object_galleryBtn & {
      width: 100%;
      margin-bottom: 1rem;
    }

  }

  @include largeDown {

    .o-mainSearch_list-type & {
      border-radius: 0;
    }

    .o-newsCategory_item &,
    .o-mainSearch_list-name & {
      border-radius: 0 0 20px 20px;
    }

  }

  @include large {

    .o-mainSearch_list_item & {
      border-radius: 0 20px 0 0;
    }

    .o-newsCategory_item &,
    .p-search .o-mainSearch_list_item & {
      border-radius: 0 0 20px 0;
    }

  }

}
