// Custom checkbox
.c-customCheckbox {

  &_input {
    @extend %hiddenHack;
  }

  &_label {
    @extend %no-repeat;
    @extend %cursor-pointer;
    padding-left: 1.5rem;
    color: $black;
    background-image: url('../media/app/checkbox-unchecked.svg');
    background-size: 1rem 1rem;
    background-position: 0 50%;

    &:hover {
      @extend %user-select;
    }

  }

  .table-extraCharges &_label {
    padding-left: 1rem;
  }

  &_input[type=checkbox]:checked ~ .c-customCheckbox_label {
    background-image: url('../media/app/checkbox-checked.svg');
  }

  @include mediumDown {

    .table-extraCharges & {
      text-align: right;
    }

  }

  @include medium {

    .table-extraCharges & {
      text-align: center;
    }

  }

}
