// Forms
.form {

  &-group {

    .o-mainSearch_list_item-dates &:after {
      @include separator ($height: 24px, $border-width: 1px, $color: $gray-lightest, $margin: 0);
    }

    .o-subscribe_item & {
      height: 48px;

      @include smallPlusDown {
        position: relative;
      }

    }

  }

  &-group-clean {
    margin: 0;
  }

  &-control {
    background-clip: border-box;

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {
      box-shadow: 0 0 3px rgba($gray, .3);
      border-color: $brand-secondary;
    }

    .error.has-error & {
      @extend %bg-no-repeat;
      border-color: $red;
      background-image: url('../media/app/errorTriangle.svg');
      background-size: 1.5rem;
      background-position: 98% 50%;
    }

    &[readonly] {}

    &.hasDatepicker {
      @extend %bg-no-repeat;
      @extend %cursor-pointer;
      padding-left: 2.2rem;
      background-position: 7px 50%;
      background-size: 20px;
      background-image: url("../media/app/datepicker.svg") !important;
      background-color: $white;

      &::placeholder {
        color: $gray-lightest;
      }

      .o-sidebar_form & {
        padding-left: .5rem;
        background-position: 90% 50%;
      }

    }

    .o-newsCategory_item & {
      border-top: 0;
    }

    .o-newsCategory_item &,
    .o-mainSearch_list_item & {
      height: 64px !important;
    }

    .o-mainSearch_list_item & {
      @extend %bg-no-repeat;
      padding-left: 3rem;
      border: 0;
      color: $text-color;
      font-weight: $regular-font-weight;
      background-position: 1rem 50%;
      background-color: $white;
      background-size: 20px;
      box-shadow: none;
    }

    .o-mainSearch_list_item &::placeholder {
      color: $text-color;
    }

    .o-mainSearch_list_item:first-child & {
      border-radius: 20px 20px 0 0;
      background-image: url('../media/app/house-icon.svg');
    }

    .o-mainSearch_list-type .o-mainSearch_list_item:nth-child(2) & {
      background-image: url('../media/app/locationPin.svg');
    }

    .o-mainSearch_list-type .o-mainSearch_list_item:nth-child(4) & {
      background-image: url('../media/app/guests-icon.svg');
    }

    .o-subscribe_item & {
      height: 100%;
      border-color: transparent;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      @include smallPlusDown {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
      }

    }

  }

  &-label {
    display: block;
    margin-bottom: .2rem;

    .error.has-error & {
      color: $red;
    }

    &.focus {
      color: $brand-secondary;
    }

  }

  &-error {

    &-wrapper {

      @include smallPlusDown {
        position: absolute;
        bottom: 101%;
      }

    }

    &-message {
      color: $red;
    }

  }

  @include largeDown {

    &-group {

      .o-mainSearch_list-type .o-mainSearch_list_item:not(:nth-last-child(-n+2)) & {
        border-bottom: 1px solid $gray-lightest;
      }

    }

  }

  @include large {

    &-group {

      .o-mainSearch_list_item-dates & {
        position: relative;
      }

    }

    &-control {

      .o-mainSearch_list_item:first-child & {
        border-radius: 20px 0 0 0;
      }

      .p-news .o-newsCategory_item & {
        border-radius: 0 0 0 20px;
      }

    }

  }

}
