// Icons
//
// // icon color is changed by 'iconic' JS plugin

.c-icon {
  display: inline-block;
  vertical-align: middle;

  &-svgMiddle .iconic {
    @extend %vrt-middle;
  }

  * {
    width: 1em;
  }

  &-reverse {
    transform: rotate(180deg);
  }

  &.c-icon-15 * {
    width: 15px;
    height: 15px;
  }

  &.c-icon-20 * {
    width: 20px;
    height: 20px;
  }

  &.c-icon-25 * {
    width: 25px;
    height: 25px;
  }

  &.c-icon-30 * {
    width: 30px;
    height: 30px;
  }

  &.c-icon-38 * {
    width: 38px;
    height: 38px;
  }

  &.c-icon-36 * {
    width: 36px;
    height: 36px;
  }

  &.c-icon-15-12 * {
    width: 15px;
    height: 12px;
  }

  &.c-icon-a-25 * {
    width: auto;
    height: 25px;
  }

  &.c-icon-25-a * {
    width: 25px;
    height: auto;
  }

  // Margin right
  &-mr-sm {
    margin-right: .4em;
  }
  &-mr-md {
    margin-right: .8em;
  }

  // IE support
  @include ie() {

    &.c-icon-a-25 *,
    &.c-icon-25-a * {
      width: 25px;
      height: 25px;
    }

  }

  //Specific targets
  .o-dropdown-lang & {
    @include transition();
  }

  .o-mainNav_list_item-drop & {
    float: right;
  }

  .o-mainNav_list_item-drop .o-mainNav_list_item-drop & {
    float: right;
    transform: rotate(-90deg);
  }

  .o-toggle_label & {
    transition: ease-in-out 300ms;
  }

  .o-toggle_trigger[type=checkbox]:checked ~ .o-toggle_label .second & {
    transform: rotateX(180deg);
  }

  .o-lang:hover &,
  .o-lang .o-toggle_trigger[type=checkbox]:checked ~ .o-toggle_label & {
    transform: rotateX(180deg);
  }

  .o-pagination & {
    height: 20px;
  }

  .o-pagination .page-item:first-child & {
    transform: rotate(90deg);
  }

  .o-pagination .page-item:last-child & {
    transform: rotate(-90deg);
  }

  @include largeDown {

    .o-mainNav & {
      margin-right: 3rem;
      transform: rotate(-90deg);
    }

    .o-mainNav_list_item-drop.active-drop & {
      transform: rotate(0);
    }

    .o-mainNav_list_item-drop .o-mainNav_list_item-drop & {
      transform: rotate(-90deg);

      * {
        fill: $white;
      }

    }

    .o-mainNav_list_item-drop .o-mainNav_list_item-drop.active-drop & {
      transform: rotate(0);
    }

    .o-mainNav & {
      @include transition();
    }

  }

  @include large {

    .o-lang .o-toggle_label:hover & {
      transform: rotateX(180deg);
    }

    .o-mainNav_list_item-drop .o-mainNav_list_item-drop:hover & * {
      fill: $white;
    }

    .o-mainNav_list > .o-mainNav_list_item:nth-last-child(-n+4) .o-mainNav_list_item-drop & {
      float: left;
      transform: rotate(90deg);
    }

  }

  // Specific targets

  @include mediumPlus {

    .o-mainNav > .o-mainNav_list > .o-mainNav_list_item > .o-mainNav_list > .o-mainNav_list_item:hover
    > .o-mainNav_list_item_a & * {
      fill: $white;
    }

    .o-mainNav > .o-mainNav_list .o-mainNav_list_item:nth-last-child(-n+4) .o-mainNav_list_item-drop & {
      float: left;
      transform: rotate(90deg);
    }

    .o-mainNav > .o-mainNav_list .o-mainNav_list_item .o-mainNav_list_item-drop & {
      float: right;
      transform: rotate(-90deg);
    }

  }

  @include mediumPlusDown {

    .o-lang .o-toggle_trigger[type=checkbox]:checked ~ .o-toggle_label & {
      transform: rotateX(180deg);
    }

    .o-mainNav & {
      float: right;
      margin-right: 3rem;
      transform: rotate(-90deg);

      * {
        fill: $white;
      }

    }

  }

  .c-info_item & {
    margin-right: .3125rem;
  }

  .o-object_location_item & {
    vertical-align: baseline;
  }

  .o-object_location_item:last-child & {
    margin-left: 1rem;
    vertical-align: middle;
  }

}

.iconic * {

  .c-icon-white & {
    fill: $white;
  }

  .c-icon-black & {
    fill: $black;
  }

  .c-icon-grayLight & {
    fill: $gray-light;
  }

  .c-icon-unitColor & {
    fill: #7E7F7E;
  }

  .c-icon-primary & {
    fill: $brand-primary;
  }

  .c-icon-secondary & {
    fill: $brand-secondary;
  }

}
