// Link
.c-link {

  &:hover {
   @extend %decoration-underline;
  }
  //
  //&-semiBold {}
  //
  //&-medium {
  //  font-weight: $medium-font-weight;
  //}
  //
  //&-bold {
  //  font-weight: $heading-font-weight;
  //}
  //
  //&-blue {
  //  color: $congressBlue;
  //}
  //
  //&-black {
  //  color: $black;
  //}

  //&-more {
  //  position: relative;
  //  padding-right: 1.2rem;
  //
  //  &:after {
  //    @extend %no-repeat;
  //    content:'';
  //    position: absolute;
  //    top: 2px;
  //    right: 0;
  //    bottom: 0;
  //    width: 12px;
  //    height: 11px;
  //    margin: auto 0;
  //    background-image: url('../media/app/arrows.svg');
  //    background-size: 12px 11px;
  //    background-position: center;
  //  }
  //
  //}

  &-underline {
    @extend %decoration-underline;

    &:hover {
      @extend %decoration-none;
    }

  }

  .o-dropdown-lang .o-dropdown-down & {
    @include transition();
    display: block;
    padding: 0.3rem 1.6rem;
    text-align: center;
    background-color: $brand-secondary;
  }

  .o-dropdown-lang .o-dropdown-down &:hover {
    background-color: darken($brand-secondary, 5);
    text-decoration: none;
  }

}

button {

  &.c-link {

    &:hover {}

  }

}
