// Modal styles
.c-modal {

  .modal-header {

    .close {
     @include transition();
     position: absolute;
     top: 0;
     right: 8px;
     border: 0;
     background: transparent;
     font-size: 2rem;
     opacity: .4;
    
     &:hover {
       @extend %cursor-pointer;
       opacity: 1;
     }
    
    }

  }

  .modal-dialog {}

}
