.c-section {

  .o-subWeather & {
    @extend %no-repeat;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  &-weather,
  &-subscription {
    height: 100%;
    margin-right: -.5625rem;

    @include large {

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        width: 100%;
      }

    }

    @include largeDown {
      margin-left: -.4375rem;
    }

  }

  &-weather {
    padding-left: .5625rem;
    background-color: $yellow-light;
    background-image: url('../media/weather/sunBig.svg');
    background-position: 50% -170px;
    background-size: 350px;

    @include large {
      margin-left: -.75rem;
      
      &:after {
        right: 100%;
        background-color: $yellow-light;
      }

    }

    @include largeDown {

      &_wrapper {
        margin-bottom: 1rem;
      }

    }

  }

  &-subscription {
    @extend %bg-contain;
    background-color: rgba($brand-primary,.1);
    background-image: url('../media/app/envelope.png');
    background-position: 100% 0;
    padding-right: .5625rem;
    padding-left: .5625rem;
    
    @include large {
      padding-left: 1.875rem;

      &:after {
        left: 100%;
        background-color: rgba($brand-primary,.1);
      }

    }

  }

  &-priceList {

    @include mediumPlusOnly {
      margin-right: -.5625rem;
      padding-right: .5625rem;
    }

    @include mediumPlusDown {
      margin-right: -.3125rem;
      padding-right: .3125rem;
    }
    
  }

}
