// Include Bootstraps table component
.table {

  td {
    border-top: 0;
  }

  &,
  table {
    @extend %border-spacing-0;
    border-collapse: collapse;
  }

}

.table-responsive {

  @include mediumPlusDown {
    white-space: nowrap;
  }

}
