// Titles
.c-ttl {
  margin: 0;

  // Sizes of title
  &-default {
    font-size: 1rem; //16px
  }

  &-s19 {
    font-size: 1.1875rem; // 19px
  }

  &-f18 {
    font-size: 1.125rem; // 18px
  }

  &-f18 {
    font-size: 1.125rem; // 18px
  }

  &-sm {
    font-size: 1rem; // 16px
  }

  &-smp {
    font-size: 1.125rem; // 18px
  }

  &-mdp {
    font-size: 1.25rem; // 20px
  }

  &-lg {
    font-size: 1.375rem; //22px
  }

  &-lgp,
  &-xl,
  &-main {
    font-size: 1.625rem; // 26px
  }

  &-xxl {}

  @include medium {
    &-default {}

    &-sm {
      font-size: 1.0625rem; // 17px
    }

    &-smp {
      font-size: 1.25rem; // 20px
    }

    &-md {}
    &-mdp {}

    &-lg {
      font-size: 1.5rem; // 24px
    }

    &-lgp {
      font-size: 1.875rem; // 30px
    }

    &-xl {
      font-size: 2.25rem; // 36px
    }

    &-xxl {}

    &-main {
      font-size: 1.875rem; // 30px
    }

  }

  @include large {
    &-default {}

    &-sm {
      font-size: 1.125rem; // 18px
    }

    &-smp {
      font-size: 1.375rem; // 22px
    }

    &-md {}
    &-mdp {}

    &-lg {
      font-size: 1.625rem; // 26px
    }

    &-lgp {
      font-size: 2rem; // 32px
    }

    &-xl {
      font-size: 2.875rem; // 46px
    }

    &-xxl {}

    &-main {
      font-size: 2rem; // 32px
    }

  }

  // Specific targets
  .o-statics & {
    @extend %absoluteBot;
    background-color: rgba($black, .38);
  }

  .o-unit & {
    @include transition(color, 200ms);
  }

  .o-unit:hover & {
    color: $brand-primary;
  }

  .o-mainHeader_text & {
    z-index: 2;
    text-shadow: 0 1px 4px $black;
  }

}
