.o-contact {

  &-list_item {
    
    &:not(:last-child) {
      margin-bottom: 7px;
    }

    .username {
      padding-left: 5px;
      color: $text-color;
    }
    
  }

  &_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include media(mobile down) {
      margin-top: 10px;
    }

    @include media(mobile up) {
      justify-content: flex-end;
    }

  }

}
