<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Breakthrough Hypnosis' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'About' %},
{% set pageTitleName = 'About' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-about' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/carditem.html" as carditem %}

<main>

  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include "html/app/components/breadcrumb.html" %}
      </div>
    </div>

    <div class="row row-small mx-mdp-auto mt-4">
      <div class="col-12">
        <h2 class="c-ttl c-ttl-main">Erin McRaith, CH</h2>
      </div>

      <div class="col-12">
        <div class="preformat">

          <img class="br4 d-block w-100" src="http://via.placeholder.com/380x305" alt="">

          <p>Erin McRaith, Certified Hypnotherapist started her practice in 2001 and has helped thousands of people.
            She works in her Libertyville office, teaches and sends custom made MP3 audio’s all over the world. Erin
            started as a Certified Financial Planner many years ago. She decided to change her career after studying
            about the power of the mind. The writer and spiritualist, Ernest Holmes had a big influence on Erin’s
            choice to become a Hypnotherapist. Ernest Holmes stated “I believe in the healing of the sick
            through the power of the mind”.</p>

          <p>Erin has taught adult education classes since 2002 at Libertyville, IL High School.
            She has also worked with the American Cancer Society to help smokers quit smoking. <br>
            Erin specializes in hypnosis for anxiety, panic attacks, depression, migraine headaches, and stress.
            Erin had suffered from migraine headaches and has been free of headaches for over 20 years now. She also
            works with Smoking cessation, weight management, memory, phobias, fears, OCD and many other issues. <br>
            Erin works with each individual on a one to one basis, whether in her office or preparing an MP3 audio
            to email out. Many people will order these audio’s online and listen to them daily. They are specifically
            designed for that person. Erin spends 30 minutes discussing the issues with each client before the hypnosis
            session. The hypnosis session is approximately 18 minutes. Each program is designed to help with turning
            their life into a more positive, calm and peaceful experience. <br><br>
            After the session the client will listen to their MP3 audio every day. This helps to facilitate change
            more quickly in between sessions. Sessions are normally weekly for 3-8 sessions depending on the issues.
            Smoking and nail-biting are one session. Erin believes “What you think about, you bring about”.</p>

          <div class="row my-5" data-custom-gallery-scope>
            <div class="col">
              <a class="d-block" href="https://placehold.it/255x205" data-galleryItem>
                <img class="c-img d-block w-100" src="https://placehold.it/255x205" alt="Gallery image" data-gallery-Item>
              </a>
            </div>

            <div class="col">
              <a class="d-block" href="https://placehold.it/255x205" data-galleryItem>
                <img class="c-img d-block w-100" src="https://placehold.it/255x205" alt="Gallery image" data-gallery-Item>
              </a>
            </div>

            <div class="col">
              <a class="d-block" href="https://placehold.it/255x205" data-galleryItem>
                <img class="c-img d-block w-100" src="https://placehold.it/255x205" alt="Gallery image" data-gallery-Item>
              </a>
            </div>
          </div>

        </div>
      </div>

      <hr>

    </div>

    <div class="row row-small mx-mdp-auto mt-4">

      <div class="col-12">
        <h2 class="c-ttl c-ttl-main mt-5 mb-4">What is hypnotherapy</h2>
      </div>

      <div class="col-12">
        <div class="preformat">
          <img class="br4 d-block w-100" src="http://via.placeholder.com/380x305" alt="">

          <p>Hypnotherapy is a technique used to assist a person into an altered state of consciousness, known as a
            trance. Anyone can go into hypnosis, it just takes the ability to want to be hypnotized. Everyone goes down
            to a level of hypnosis before falling asleep. While in a hypnotic state, a person is very relaxed, keenly
            focused, and highly open to suggestibility. Hypnotherapy can be used to help manage a variety of health
            issues, including anxiety, Phobias, weight loss, addiction, Panic attacks, 
            insomnia and smoking cessation.</p>
        
          <p>During the hypnotherapy session, the hypnotist guides the client into a relaxed state. Once the client is
            feeling calm, yet alert, the hypnotist has the Client visualize a very pleasant place and then goes into
            suggestions about the issues they are seeking help with. <br>
            The hypnotist then offers words of encouragement, such as “You no longer feel stressed” or suggestions,
            like “Any time you feel panic or stress, you will take three deep breaths and relax completely”. <br>
            After approximately 18 minutes and suggestions of positive behavior, the hypnotist will guide the client
            gradually back to their regular state. The client usually feels extremely relaxed and happy <br>
            Before ending the session, the hypnotist and client will discuss the experience, including reactions,
            progress, and insights. The sessions may vary in durations but often lasts
            for about one to one and a half hours.</p>đ
        </div>
      </div>

  </div>

  {% include "html/app/components/promo.html" %}

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
