<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Breakthrough Hypnosis' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Checkout - Billing details' %},
{% set pageTitleName = 'Checkout - Billing details' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-checkout' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<main>

  <div class="container">

    <div class="row">
      <div class="col-12">
        <!-- Breadcrumb -->
        <nav class="o-breadcrumb" aria-label="breadcrumb">
          <h2 class="sr-only">Breadcrumbs</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="c-link c-link-underline color-secondary" href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a class="c-link c-link-underline color-secondary" href="service.html">service name</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Audio therapy</li>
          </ol>
        </nav>
      </div>
    </div>

    <form class="row row-small mx-mdp-auto my-5" action="checkoutPayment.html">
      <div class="col-12">
        <h2 class="c-ttl c-ttl-main">Billing details</h2>
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "First name",
          fe_id = "contactFirstName",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group has-error",
          lb_class = "form-label",
          lb_txt = "Last name",
          fe_id = "contactLastName",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-12">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Company",
          fe_id = "company",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-12">
        {{
          input.inputFunction(
          fg_class = "form-group has-error",
          lb_class = "form-label",
          lb_txt = "Address*",
          fe_id = "address",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Country*",
          fe_id = "country",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group has-error",
          lb_class = "form-label",
          lb_txt = "Town / City*",
          fe_id = "townCity",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "State / Country*",
          fe_id = "stateCountry",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group has-error",
          lb_class = "form-label",
          lb_txt = "Postal code / ZIP",
          fe_id = "contactLastName",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Phone*",
          fe_id = "contactPhone",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "tel"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Email*",
          fe_id = "contactEmail",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "email"
          )
        }}
      </div>

      <div class="col-12 mt-5">
        <h2 class="c-ttl c-ttl-main">Additional information</h2>
      </div>

      <div class="col-12">
        {{
          textarea.textareaFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Order notes",
            fe_id = "orderNotes",
            fe_class = "form-control",
            fe_name = "contactForm",
            fe_rows = "8"
          )
        }}
      </div>

      <div class="col-12 d-flex justify-content-end">
        <button class="c-btn c-btn-primary c-btn-mw205 w-100" type="submit" name="button">Continue to payment</button>
      </div>
    </form>

  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
