<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Breakthrough Hypnosis' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Checkout - Payment details' %},
{% set pageTitleName = 'Checkout - Payment details' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-payment' %}

<!--Main Content-->
{% block content %}
{% import "html/app/bits/form/input.html" as input %}

{% include "html/app/components/header.html" %}

<main>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Breadcrumb -->
        <nav class="o-breadcrumb" aria-label="breadcrumb">
          <h2 class="sr-only">Breadcrumbs</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="c-link c-link-underline color-secondary" href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a class="c-link c-link-underline color-secondary" href="service.html">Service name</a>
            </li>
            <li class="breadcrumb-item">
              <a class="c-link c-link-underline color-secondary" href="service.html">Bidding details</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Payment</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row justify-content-center my-5">
      <div class="col-lg-8">
        <h2 class="c-ttl c-ttl-main mb-4">Payment</h2>

        <form action="thanks.html">

          <div class="row">

            <div class="col-12">
              <ul class="o-creditCards_list d-flex">
                <li class="o-creditCards_item -visa"></li>
                <li class="o-creditCards_item -masterCard"></li>
                <li class="o-creditCards_item -american"></li>
              </ul>

              {{
                input.inputFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Credit card number",
                fe_id = "paymentPayCreditCardNumber",
                fe_class = "form-control",
                fe_name = "creditCardNumber",
                fe_type = "text",
                fe_placeholder = "•••• •••• •••• ••••"
                )
              }}
            </div>

            <div class="col-md-6">
              {{
                input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "Name on card",
                  fe_id = "paymentPayName",
                  fe_class = "form-control",
                  fe_name = "fullName",
                  fe_type = "text",
                  fe_placeholder = "Enter your full name"
                )
              }}
            </div>

            <div class="col-md-3 col-6">
              {{
                input.inputFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Expiration Date",
                fe_id = "paymentPayExpDate",
                fe_class = "form-control",
                fe_name = "expirationDate",
                fe_type = "text",
                fe_placeholder = "MM / YY"
                )
              }}
            </div>

            <div class="col-md-3 col-6">
              {{
                input.inputFunction(
                  fg_class = "form-group",
                  lb_class = "form-label",
                  lb_txt = "CVV code",
                  fe_id = "paymentPayCvvCode",
                  fe_class = "form-control",
                  fe_name = "cvvCode",
                  fe_type = "text",
                  fe_placeholder = "•••"
                )
              }}
            </div>

            <div class="col-12 d-flex justify-content-end">
              <button class="c-btn c-btn-primary c-btn-mw205 w-100 mt-2 mb-5"type="submit" name="button">Complete order</button>
            </div>
          </div>
        </form>

        {% include "html/app/components/formCustom-payment.html" %}

      </div>
    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
