<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Breakthrough Hypnosis' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Service' %},
{% set pageTitleName = 'Service' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-contact' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<main>

  <div class="container">

    <div class="row">
      <div class="col-12">
        {% include "html/app/components/breadcrumb.html" %}
      </div>
    </div>

    <div class="row row-small mx-mdp-auto my-5">
      <div class="col-12">
        <h2 class="c-ttl c-ttl-main">Contact us</h2>
      </div>

      <div class="col-lg-3 col-md-6 mt-3 mt-lg-0 lh1_4">
        <div class="font-weight-bold">Address:</div>
        <div>128 Newberry Ave. Suite 10</div>
        <div>Libertyville</div>
        <div>IL 60048</div>
      </div>

      <div class="col-lg-3 col-md-6 mt-3 mt-lg-0 lh1_4">
        <div class="font-weight-bold">Contact:</div>
        <div><a class="c-link" href="tel:847-996-0300">847-996-0300</a></div>
        <div><a class="c-link" href="tel:847-224-2700">847-224-2700</a></div>
      </div>

      <div class="col-lg-3 mt-3 mt-lg-0 lh1_4">
        <div class="font-weight-bold">Email:</div>
        <div><a class="c-link color-secondary font-weight-bold"
          href="mailto:info@hypnosishealnow.com">info@hypnosishealnow.com</a>
        </div>
      </div>

      <div class="col-12 mt-5">
        <form class="row" action="">
          <div class="col-md-6">
            {{
              input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label",
              lb_txt = "First name",
              fe_id = "contactFirstName",
              fe_class = "form-control",
              fe_name = "contactForm",
              fe_type = "text"
              )
            }}
          </div>

          <div class="col-md-6">
            {{
              input.inputFunction(
              fg_class = "form-group has-error",
              lb_class = "form-label",
              lb_txt = "Last name",
              fe_id = "contactLastName",
              fe_class = "form-control",
              fe_name = "contactForm",
              fe_type = "text"
              )
            }}
          </div>

          <div class="col-md-6">
            {{
              input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label",
              lb_txt = "Email",
              fe_id = "contactEmail",
              fe_class = "form-control",
              fe_name = "contactForm",
              fe_type = "email"
              )
            }}
          </div>

          <div class="col-md-6">
            {{
              input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label",
              lb_txt = "Cellphone",
              fe_id = "contactCellphone",
              fe_class = "form-control",
              fe_name = "contactForm",
              fe_type = "tel"
              )
            }}
          </div>

          <div class="col-12">
            {{
              input.inputFunction(
              fg_class = "form-group",
              lb_class = "form-label",
              lb_txt = "Subject",
              fe_id = "contactSubject",
              fe_class = "form-control",
              fe_name = "contactForm",
              fe_type = "text"
              )
            }}
          </div>

          <div class="col-12">
            {{
              textarea.textareaFunction(
                fg_class = "form-group",
                lb_class = "form-label",
                lb_txt = "Message",
                fe_id = "contactMessage",
                fe_class = "form-control",
                fe_name = "contactForm",
                fe_rows = "5"
              )
            }}
          </div>

          <div class="col-12 d-flex justify-content-end">
            <button class="c-btn c-btn-primary c-btn-mw205 w-100" type="submit" name="button">Contact us</button>
          </div>
        </form>

      </div>
    </div>

  </div>

  <div class="o-map">
    <!-- TODO: adjust styles after map implementation -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d89729.90593299073!2d14.426813999999997!3d45.34760995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1shr!2shr!4v1463655324258"
    width="100%" style="pointer-events: none; border: 0; display: block;" frameborder="0" allowfullscreen></iframe>
  </div>
</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
