<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Breakthrough Hypnosis' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Service' %},
{% set pageTitleName = 'Service' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-custom' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<main>

  <div class="container">

    <div class="row">
      <div class="col-12">
        {% include "html/app/components/breadcrumb.html" %}
      </div>
    </div>

    <form class="row row-small mx-mdp-auto my-5" action="checkoutBilling.html">
      <div class="col-12">
        <h2 class="c-ttl c-ttl-main">Order your Hypnosis Audio online</h2>
        <div class="font-weight-bold my-3">48 hour turnaround | $89 each</div>
        <p>You can start to change your habit or feel better in just days. Order your hypnosis audio today. You will listen
        to the audio each day. It will be personally made for you based on your specific issues. Write your information
        below and the hypnosis audio will be made to your specifications.</p>
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "First name",
          fe_id = "contactFirstName",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group has-error",
          lb_class = "form-label",
          lb_txt = "Last name",
          fe_id = "contactLastName",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "text"
          )
        }}
      </div>

      <div class="col-md-6">
        {{
          input.inputFunction(
          fg_class = "form-group",
          lb_class = "form-label",
          lb_txt = "Email",
          fe_id = "contactEmail",
          fe_class = "form-control",
          fe_name = "contactForm",
          fe_type = "email"
          )
        }}
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="hypnosisIssue">Hypnosis issue</label>
          <select id="hypnosisIssue" class="form-control" name="Destination" select2>
            <option value="Anxiety">Anxiety</option>
            <option value="Depression">Depression</option>
            <option value="Stress">Stress</option>
            <option value="Smoking">Smoking</option>
            <option value="Other issue">Other issue</option>
            <option value="Anxiety">Anxiety</option>
            <option value="Depression">Depression</option>
            <option value="Stress">Stress</option>
            <option value="Smoking">Smoking</option>
            <option value="Other issue">Other issue</option>
          </select>
        </div>

        <!-- Note for DEV: remove d-none class on element below when option in select above is selected  -->
        <div class="color-secondary f-15 d-none">Please describe in the text field below</div>
      </div>

      <div class="col-12">
        <div class="row my-3">
          <div class="col-12">
            <div class="form-label">Pick a setting you like best:</div>
          </div>

          <div class="col-md-4 mt-3 mt-md-0">
            <input id="beach" class="o-toggle_trigger" type="radio" name="contactRadio">
            <label class="o-toggle_label c-btn w-100" for="beach">Beach</label>
          </div>

          <div class="col-md-4 mt-3 mt-md-0">
            <input id="flowerGarden" class="o-toggle_trigger" type="radio" name="contactRadio" checked="checked">
            <label class="o-toggle_label c-btn w-100" for="flowerGarden">Flower Garden</label>
          </div>

          <div class="col-md-4 mt-3 mt-md-0">
            <input id="forest" class="o-toggle_trigger" type="radio" name="contactRadio">
            <label class="o-toggle_label c-btn w-100" for="forest">Forrest</label>
          </div>
        </div>
      </div>

      <div class="col-12">
        {{
          textarea.textareaFunction(
            fg_class = "form-group",
            lb_class = "form-label",
            lb_txt = "Message",
            fe_id = "contactMessage",
            fe_class = "form-control",
            fe_name = "contactForm",
            fe_rows = "5"
          )
        }}
      </div>

      <div class="col-12 d-flex justify-content-end">
        <button class="c-btn c-btn-primary c-btn-mw205 w-100" type="submit" name="button">Order now</button>
      </div>
    </form>

  </div>

  <div class="container">
    <div class="row row-small mx-auto">
      
      <div class="col-12">
        {% include "html/app/components/formCustom-checkbox.html" %}
      </div>

    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
