<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Breakthrough Hypnosis' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Homepage' %},
{% set pageTitleName = 'Homepage' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-homepage' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/carditem.html" as carditem %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<main>

  <div class="o-hero mb-4">
    <div class="o-hero_mask"></div>
    <div class="container">
      <div class="row">
        <div class="o-hero_body_wrapper col d-flex justify-content-center align-items-center color-white text-center">
          <div class="o-hero_body d-flex flex-column align-items-center">
            <h1 class="c-ttl text-uppercase c-ttl-hero">Breakthrough Hypnotherapy</h1>

            <h2 class="c-ttl c-ttl-h2 mt-3 font-weight-regular c-ttl-heroSub">
              Start to change your habits and feel better in just days
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-about">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 o-about_text">
          <h2 class="c-ttl c-ttl-main">Erin McRaith, CH</h2>
          <div class="preformat">
            <p>Erin McRaith, Certified Hypnotherapist started her practice in 2001 and has helped thousands of people. She works
            in her Libertyville office, teaches and sends custom made MP3 audio’s all over the world. Erin started as a Certified
            Financial Planner many years ago. She decided to change her career after studying about the power of the mind. The
            writer and spiritualist, Ernest Holmes had a big influence on Erin’s choice to become a Hypnotherapist. Ernest Holmes
            stated “I believe in the healing of the sick through the power of the mind”. <br><br>
            Erin has taught adult education classes since 2002 at Libertyville, IL High School. She has also worked with the
            American Cancer Society to help smokers quit smoking. <br>
            Erin specializes in hypnosis for anxiety, panic attacks, depression, migraine headaches, and stress. Erin had suffered
            from migraine headaches and has been free of headaches for over 20 years now. She also works with Smoking cessation,
            weight management, memory, phobias, fears, OCD and many other issues. <br>
            Erin works with each individual on a one to one basis, whether in her office or preparing an MP3 audio to email
            out. Many people will order these audio’s online and listen to them daily. They are specifically designed for that
            person. Erin spends 30 minutes discussing the issues with each client before the hypnosis session. The hypnosis
            session is approximately 18 minutes. Each program is designed to help with turning their life into a more positive,
            calm and peaceful experience. <br><br>
            After the session the client will listen to their MP3 audio every day. This helps to facilitate change more quickly
            in between sessions. Sessions are normally weekly for 3-8 sessions depending on the issues. Smoking and nail-biting
            are one session. Erin believes “What you think about, you bring about”.</p>
          </div>
        </div>

        <div class="col-lg-4 o-about_pic">
          <div class="o-about_img" style="background-image: url('../media/app/erin.png');"></div>
          <div class="o-about_contact text-center p-4">
            <h3 class="c-ttl color-orient">We offer live sessions</h3>
            <div class="my-2">Book an appointment today!</div>
            <a class="c-btn c-btn-primary w-100" data-toggle="modal" data-target="#modal">Contact us</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% include "html/app/components/promo.html" %}

</main>
{% include "html/app/components/modal.html" %}


{% include "html/app/components/footer.html" %}
{% endblock %}
