<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Breakthrough Hypnosis' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Privacy statement' %},
{% set pageTitleName = 'Privacy statement' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-static' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/carditem.html" as carditem %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<main>
  <div class="o-heroTitle color-white">
    <div class="container">
      <div class="row">
        <div class="col d-flex align-items-center">
          <h1 class="c-ttl c-ttl-hero">Privacy Statement</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Breadcrumb -->
        <nav class="o-breadcrumb" aria-label="breadcrumb">
          <h2 class="sr-only">Breadcrumbs</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="c-link c-link-underline color-secondary" href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Privacy Statement</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row my-4">

      <div class="col-lg-8">
        <div class="preformat">
          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! is committed to protecting your privacy and
            developing technology that gives you the most powerful and safe online experience. This Statement of Privacy
            applies to the Breakthrough Hypnotherapy- Hypnosis for a better life! Web site and governs data collection
            and usage. By using the Breakthrough Hypnotherapy- Hypnosis for a better life! website, you consent to the
            data practices described in this statement.</p>

          <strong>Collection of your Personal Information</strong>

          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! collects personally identifiable information, such
            as your e-mail address, name, home or work address or telephone number. Breakthrough Hypnotherapy- Hypnosis
            for a better life! also collects anonymous demographic information, which is not unique to you, such as
            your ZIP code, age, gender, preferences, interests and favorites.</p>

          <p>There is also information about your computer hardware and software that is automatically collected by
            Breakthrough Hypnotherapy- Hypnosis for a better life!. This information can include: your IP address,
            browser type, domain names, access times and referring Web site addresses. This information is used by
            Breakthrough Hypnotherapy- Hypnosis for a better life! for the operation of the service, to maintain
            quality of the service, and to provide general statistics regarding use of the Breakthrough Hypnotherapy-
            Hypnosis for a better life! Web site.</p>

          <p>Please keep in mind that if you directly disclose personally identifiable information or personally
            sensitive data through Breakthrough Hypnotherapy- Hypnosis for a better life! public message boards,
            this information may be collected and used by others. Note: Breakthrough Hypnotherapy- Hypnosis for a
            better life! does not read any of your private online communications.</p>

          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! encourages you to review the privacy statements
            of Web sites you choose to link to from Breakthrough Hypnotherapy- Hypnosis for a better life! so that
            you can understand how those Web sites collect, use and share your information. Breakthrough
            Hypnotherapy- Hypnosis for a better life! is not responsible for the privacy statements or other
            content on Web sites outside of the Breakthrough Hypnotherapy- Hypnosis for a better life! and
            Breakthrough Hypnotherapy- Hypnosis for a better life! family of Web sites.</p>

          <strong>Use of your Personal Information</strong>

          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! collects and uses your personal information to
            operate the Breakthrough Hypnotherapy- Hypnosis for a better life! Web site and deliver the services you
            have requested. Breakthrough Hypnotherapy- Hypnosis for a better life! also uses your personally
            identifiable information to inform you of other products or services available from Breakthrough
            Hypnotherapy- Hypnosis for a better life! and its affiliates. Breakthrough Hypnotherapy- Hypnosis for a
            better life! may also contact you via surveys to conduct research about your opinion of current services
            or of potential new services that may be offered.</p>

          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! does not sell, rent or lease its customer lists to
            third parties. Breakthrough Hypnotherapy- Hypnosis for a better life! may, from time to time, contact you
            on behalf of external business partners about a particular offering that may be of interest to you. In
            those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is
            not transferred to the third party. In addition, Breakthrough Hypnotherapy- Hypnosis for a better life!
            may share data with trusted partners to help us perform statistical analysis, send you email or postal mail,
            provide customer support, or arrange for deliveries. All such third parties are prohibited from using your
            personal information except to provide these services to Breakthrough Hypnotherapy- Hypnosis for a better
            life!, and they are required to maintain the confidentiality of your information.</p>

          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! does not use or disclose sensitive personal
            information, such as race, religion, or political affiliations, without your explicit consent.</p>

          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! keeps track of the Web sites and pages our customers
            visit within Breakthrough Hypnotherapy- Hypnosis for a better life!, in order to determine what Breakthrough
            Hypnotherapy- Hypnosis for a better life! services are the most popular. This data is used to deliver
            customized content and advertising within Breakthrough Hypnotherapy- Hypnosis for a better life! to
            customers whose behavior indicates that they are interested in a particular subject area.</p>

          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! Web sites will disclose your personal information,
            without notice, only if required to do so by law or in the good faith belief that such action is necessary
            to: (a) conform to the edicts of the law or comply with legal process served on Breakthrough Hypnotherapy-
            Hypnosis for a better life! or the site; (b) protect and defend the rights or property of Breakthrough
            Hypnotherapy- Hypnosis for a better life!; and, (c) act under exigent circumstances to protect the personal
            safety of users of Breakthrough Hypnotherapy- Hypnosis for a better life!, or the public.</p>

          <strong>Use of Cookies</strong>

          <p>The Breakthrough Hypnotherapy- Hypnosis for a better life! Web site use "cookies" to help you personalize
            your online experience. A cookie is a text file that is placed on your hard disk by a Web page server.
            Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned
            to you, and can only be read by a web server in the domain that issued the cookie to you.</p>

          <p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose
            of a cookie is to tell the Web server that you have returned to a specific page. For example, if you
            personalize Breakthrough Hypnotherapy- Hypnosis for a better life! pages, or register with Breakthrough
            Hypnotherapy- Hypnosis for a better life! site or services, a cookie helps Breakthrough Hypnotherapy-
            Hypnosis for a better life! to recall your specific information on subsequent visits. This simplifies
            the process of recording your personal information, such as billing addresses, shipping addresses, and
            so on. When you return to the same Breakthrough Hypnotherapy- Hypnosis for a better life! Web site, the
            information you previously provided can be retrieved, so you can easily use the Breakthrough Hypnotherapy-
            Hypnosis for a better life! features that you customized.</p>

          <p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but
            you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline
            cookies, you may not be able to fully experience the interactive features of the Breakthrough Hypnotherapy-
            Hypnosis for a better life! services or Web sites you visit.</p>

          <strong>Security of your Personal Information</strong>

          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! secures your personal information from unauthorized
            access, use or disclosure. Breakthrough Hypnotherapy- Hypnosis for a better life! secures the personally
            identifiable information you provide on computer servers in a controlled, secure environment, protected
            from unauthorized access, use or disclosure. When personal information (such as a credit card number) is
            transmitted to other Web sites, it is protected through the use of encryption, such as the
            Secure Socket Layer (SSL) protocol.</p>

          <strong>Changes to this Statement</strong>

          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! will occasionally update this Statement of
            Privacy to reflect company and customer feedback. Breakthrough Hypnotherapy- Hypnosis for a better
            life! encourages you to periodically review this Statement to be informed of how Breakthrough
            Hypnotherapy- Hypnosis for a better life! is protecting your information.</p>

          <strong>Contact Information</strong>

          <p>Breakthrough Hypnotherapy- Hypnosis for a better life! welcomes your comments regarding this Statement of
            Privacy. If you believe that Breakthrough Hypnotherapy- Hypnosis for a better life! has not adhered to
            this Statement, please contact Breakthrough Hypnotherapy- Hypnosis for a better life! at emcraith@yahoo.com.
            We will use commercially reasonable efforts to promptly determine and remedy the problem. </p>
        </div>
      </div>

      <div class="col-lg-4 o-about_pic">
        <div class="o-about_contact text-center p-4">
          <h3 class="c-ttl color-orient pb-3">We offer live sessions</h3>
          <div class="pb-3">Book an appointment today!</div>
          <a class="c-btn c-btn-primary w-100" data-toggle="modal" data-target="#modal">Contact us</a>
        </div>

        <div>
          <!-- TODO: import play widget -->
        </div>
      </div>

    </div>
  </div>

  {% include "html/app/components/promo.html" %}

</main>
{% include "html/app/components/modal.html" %}

{% include "html/app/components/footer.html" %}
{% endblock %}
