<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Breakthrough Hypnosis' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'What we offer' %},
{% set pageTitleName = 'What we offer' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-serviceList' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/carditem.html" as carditem %}

<main>
  {% include "html/app/components/heroTitle.html" %}

  <div class="container">

    <div class="row">
      <div class="col-12">
        {% include "html/app/components/breadcrumb.html" %}
      </div>
    </div>

    <div class="row row-medium mx-mdp-auto">
      <div class="col-12 mt-5 mb-2">
        <h2 class="c-ttl c-ttl-main">Services</h2>
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Hypnosis for anxiety and stress",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Treatment for migraine and headaches",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Weight management hypnosis",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Success in SAT and ACT testing",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Fear of flights",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Hypnosis for confidence",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Hypnosis for anxiety and stress",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Treatment for migraine and headaches",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Weight management hypnosis",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Success in SAT and ACT testing",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Fear of flights",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-md-6 col-lg-4">
        {{
          carditem.carditemFunc(
            title = "Hypnosis for confidence",
            img = "http://via.placeholder.com/360x300"
          )
        }}
      </div>

      <div class="col-12">
        {% include "html/app/components/pagination.html" %}
      </div>
    </div>

  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
