<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Breakthrough Hypnosis' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Service page' %},
{% set pageTitleName = 'Service page' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-static' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}
{% import "html/app/components/carditem.html" as carditem %}
{% import "html/app/bits/form/input.html" as input %}
{% import "html/app/bits/form/select.html" as select %}
{% import "html/app/bits/form/textarea.html" as textarea %}

<main>
  <div class="o-heroTitle color-white">
    <div class="container">
      <div class="row">
        <div class="col d-flex align-items-center">
          <h1 class="c-ttl c-ttl-hero">Audio therapy</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Breadcrumb -->
        <nav class="o-breadcrumb" aria-label="breadcrumb">
          <h2 class="sr-only">Breadcrumbs</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="c-link c-link-underline color-secondary" href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a class="c-link c-link-underline color-secondary" href="index.html">Audio therapy</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Fear of flights</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row my-4">

      <div class="col-lg-8">
        <div class="row">
          <div class="col-12">
            <h2 class="c-ttl c-ttl-main">Fear of flights</h2>
          
            <div class="o-service_img mb-3">
              <img class="d-block w-100 br4" src="http://via.placeholder.com/400x300" alt="">
            </div>
          
            <div class="preformat mt-3 mt-lg-0">
              <p>Are you scared to fly? Do you dread the thought of getting on a plane? Then hypnosis is the solution. Hypnosis can
                train your mind to get off and on a plane and be comfortable sitting there relaxing. One client sent Breakthrough
                Hypnotherapy postcards from all over the world after she was hypnotized for flying. It changed her life.</p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-lg-4 o-about_pic">
        <div class="o-about_contact text-center p-4">
          <h3 class="c-ttl color-orient pb-3">We offer live sessions</h3>
          <div class="pb-3">Book an appointment today!</div>
          <a class="c-btn c-btn-primary w-100" data-toggle="modal" data-target="#modal">Contact us</a>
        </div>

        <div>
          <!-- TODO: import play widget -->
        </div>
      </div>

    </div>
  </div>

  {% include "html/app/components/promo.html" %}

</main>
{% include "html/app/components/modal.html" %}

{% include "html/app/components/footer.html" %}
{% endblock %}
