<!--Load Main HTML Layout-->
{% extends "html/app/templates/base.html" %}

<!--Define Site Name-->
{% set siteName = 'Breakthrough Hypnosis' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'Service' %},
{% set pageTitleName = 'Service' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/brand/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-thankYou' %}

<!--Main Content-->
{% block content %}
{% include "html/app/components/header.html" %}

<main>

  <div class="container my-5 py-5">
    <div class="row">
      <div class="col-12 text-center">

        <h2 class="c-ttl c-ttl-main mb-5">Thank you for your order!</h2>
        <i class="c-icon c-icon-127"><img class="iconic" src="../media/app/thanks.svg" alt="Thanks"></i>
        <p class="my-5">Order confirmation email has been sent to your email!</p>
        <a class="c-btn c-btn-primary" href="index.html">Great! Take me back to homepage</a>

      </div>
    </div>
  </div>

</main>

{% include "html/app/components/footer.html" %}
{% endblock %}
