{% macro attFunc(att_no) %}
<ul class="d-flex c-att">
  {% for i in range(0, att_no) -%}
    <li class="c-att_item">
      <i class="c-icon c-icon-neutral c-icon-22"
        data-toggle="tooltip"
        data-animation="false"
        title="Description on hover"><img class="img"
        src="../media/app/attribute.svg" alt="attribute"></i>
    </li>
  {%- endfor %}
</ul>{% endmacro %}
