{% macro starFunc(star_no) %}
<ul class="d-flex flex-start mt-1">
  {% for i in range(0, star_no) -%}
    <li class="mr-1">
      <i class="c-icon c-icon-yellow c-icon-16"><img class="img" src="../media/app/star.svg" alt="star"></i>
    </li>
  {%- endfor %}
</ul>{% endmacro %}
