.o-logo {

  .o-mainFooter & {
    width: 161px!important;
  }

  &_hexis {
    width: 70px!important;
  }

  &_social {
    display: inline-block;
    height: 22px!important;
    margin-left: 12px;
  }


  &_header {
    display: block;
    width: 156px!important;
    margin: auto;
    margin-top: 30px;
  }

}
