.o-mainMessage {

  &_content {
    padding-top: 40px;
  }

  &_icon {
    padding-top: 10px;
    margin: auto;
  }

}

.o-contactPersonAndLoction_title {
  padding-top: 30px;
  border-top: 1px solid #F4F4F4;
}
