/*------------------------------------------------------------------------------------
  BREAKPOINTS
------------------------------------------------------------------------------------*/
$small-breakpoint:              0px;
$smallPlus-breakpoint:          468px;
$medium-breakpoint:             600px;
$mediumPlus-breakpoint:         800px;
$large-breakpoint:              1025px;
$largePlus-breakpoint:          1440px;


/*------------------------------------------------------------------------------------
  CONTAINER
------------------------------------------------------------------------------------*/
$large-maxWidth:                1200px;


/*------------------------------------------------------------------------------------
  GRID, GUTTER
------------------------------------------------------------------------------------*/
$grid-columns:                  12;
$grid-gutter-width-mobile:      10px;
$grid-gutter-width-tablet:      20px;
$grid-gutter-width-laptop:      20px;
$grid-gutter-width-desktop:     20px;

// New 4.0 update
$grid-gutter-width: 20px;
