// Neutral colors
$white: #ffffff;
$black: #000000;

$black-lighten: lighten($black, 9.80);

$yellow: #F6A600;
$gray: #7D7D7D;

$gray-light: lighten($gray, 6.67);
$gray-dark: darken($gray, 39.22);

// Brand Primary
$brand-primary: #0A58FD;

$brand-primary-dark: #0B2F91;
$brand-primary-darken: #0C1E6D;

// Brand Secondary
$brand-secondary: #19FFA3; // #5C758D

$brand-secondary-dark: darken(adjust-hue($brand-secondary, -6), 14.90);

// Brand States
$brand-active: $brand-primary;
$brand-accented: #5681BE;
$brand-focused: #5681BE;
$brand-success: #72B12E;
$brand-warning: #E2C94B;
$brand-danger: #C12D3F;

$bg-header: linear-gradient(-180deg, $brand-primary 0%, rgba(10,88,253, .95) 100%);


// Text colors
$color-text-neutral: #3A3A3A;
$color-text-neutral-light: lighten($color-text-neutral, 28%);
$color-headings-neutral: darken($color-text-neutral, 16.86%);


// UI colors
$color-ui-transparent: transparent;
$color-ui-light: #ffffff;
$color-ui-tint: #EBEBEB;
$color-ui-shade: #CCCCCC;
$color-ui-dark: #3C3C3C;
$color-ui-link: $brand-accented;

// Assets
$asset-separator-light: #E6E6E6;

// Logo
$hexis-gray: rgba($white, .4);

// Custom
$waikawaGray: #57678A;
