<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>{{ pageTitle }}</title>
  <!--Add "inline" attribute to link of the file for HEAD style compile-->
  <link rel="stylesheet" href="../css/pdf.css">

</head>

<body class="{{ bodyClass }}">

  {% block content %}{% endblock %}

</body>
</html>
