<header class="o-header">

  <!-- For PDF use 'container-fluid' -->
  <div class="container mt-4 pb-4">
    <div class="row">
      <div class="col">

        <ul class="o-headerContentTable o-headerContentTable-4 w-100 py-3">
          <li class="o-headerContentTable_item">
            <div class="o-header_logo">

              <a href="index.html">
                <img class="o-header_logo_img" src="../media/brand/logo-black.svg" alt="Hotel Rosewood">
              </a>

              <!-- For PDF use this logo -->
              <!--<a href="index.html"-->
                <!--&gt;<img class="o-header_logo_img" src="../media/brand/logo-black.png" alt="Hotel Rosewood"></a>-->
              <!-- For PDF use this logo -->

            </div>
          </li>

          <li class="o-headerContentTable_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item"><strong class="label">Hotel Rosewood</strong></li>
              <li class="o-verticalInfoList_item">Porat 25</li>
              <li class="o-verticalInfoList_item">51511 Malinska, Croatia</li>
              <li class="o-verticalInfoList_item"><strong class="label">ID Code:</strong> HR-XX-XX-XXXXXXX</li>
            </ul>
          </li>

          <li class="o-headerContentTable_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item"><strong class="label">Tel:</strong>&nbsp;<a
                  class="c-link" href="tel:38553663493">+385 53 663 493</a></li>
              <li class="o-verticalInfoList_item"><strong class="label">Fax:</strong>&nbsp;<a
                  class="c-link" href="fax:38553663492">+385 53 663 492</a></li>
              <li class="o-verticalInfoList_item"><strong class="label">Mob:</strong>&nbsp;<a
                  class="c-link" href="tel:385989991234">+385 98 999 1234</a></li>
              <li class="o-verticalInfoList_item"><strong class="label">Email:</strong>&nbsp;<a
                  class="c-link" href="#">info@example.com</a></li>
            </ul>
          </li>

          <li class="o-headerContentTable_item">
            <ul class="o-verticalInfoList">
              <li class="o-verticalInfoList_item"><strong class="label">OIB:</strong>
                  12345678901</li>
              <li class="o-verticalInfoList_item"><strong class="label">MBS:</strong>123456789</li>
              <li class="o-verticalInfoList_item"><strong class="label">Broj računa:</strong>
                IBAN HR1234567890654356789, PBZ Radnička cesta 50, 10000 Zagreb</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <hr class="dark">
</header>
