.o-accommodation {
  position: relative;
  margin-bottom: 1rem;

  &_img_wrapper > &_img {
    @extend %flicker-remove;
    @include transition();
    position: relative;
  }

  &:hover &_img_wrapper > &_img {
    transform: scale(1.06);
  }

  &_banner,
  &_rating {
    z-index: 4;
  }

  &_banner {
    @extend %no-repeat;
    position: absolute;
    top: -10px;
    left: 15px;
    width: 3.625rem; /* 58/16 */
    height: 5.188rem; /* 83/16 */
    background-image: url('../media/app/cardBannerBg.svg');
    background-size: 100% 100%;
    color: $white;
  }

  &_price {
    @include font-size(20);
    padding: 1.5rem 1rem;
    white-space: nowrap;
  }

  &_price_wrapper {
    border-bottom-right-radius: 10px;
  }

  &.-object &_price_wrapper {
    border-left: 2px solid $brand-secondary;
  }

  &_img_wrapper {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &_about {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px $color-ui-tint;
  }

  &_rating {
    @extend %absoluteFull;
    top: auto;
    right: auto;
    bottom: 100%;
    padding: .313rem .756rem;
    border-top-right-radius: 10px;
    background-color: rgba($color-ui-dark, .85);
    font-weight: $font-weight-bold;
  }

  &_star {
    @extend %no-repeat;
    @extend %bg-cover;
    width: 18px;
    height: 18px;
    background-image: url('../media/app/star-unselected.svg');
    background-size: 14px;
  }

  &_star.-selected {
    background-image: url('../media/app/star.svg');
  }

  &_info {
    @extend %no-repeat;
    @extend %bg-cover;
    overflow: hidden;
    max-width: 160px;
    padding: .313rem .5rem .313rem 1.55rem;
    background-position: left 40%;
    background-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_info.-location {
    background-image: url('../media/app/location.svg');
  }

  &_info.-guests {
    background-image: url('../media/app/guests.svg');
  }

}
