.o-amenities {

  &_checkedItem {
    @extend %no-repeat;
    padding-left: 1.5rem;
    background-image: url('../media/app/checked.svg');
    background-position: left center;
    background-size: 16px;
  }

  @include tablet {

    &_item {
      flex: 1 1 33.33%;
    }

  }

  @include laptop {

    &_item {
      flex: 1 1 100%;
    }

  }

  @include desktop {

    &_item {
      flex: 1 1 50%;
    }

  }

}
