.o-availabilityCalendar  {

  &_wrapper {

    @include laptopDown {
      margin: 0 -15px;
      padding: 0 15px;
    }

  }

  &_legend {

    &_item {
      position: relative;
      padding-left: 3.0625rem;

      + .o-availabilityCalendar_legend_item {
        margin-left: 3rem;
      }

      &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 37px;
        height: 37px;
      }

      &:first-child:before,
      &:last-child:before {
        border: 2px solid $brand-secondary-darken;
        border-radius: 5px;
      }

      &:first-child {

        &:before {
          background-color: $white;
        }

      }

      &:last-child {

        &:before {
          background-color: $brand-secondary-darken;
        }

      }

    }

    @include mobileOnly {
      padding: 0 1.3125rem;
    }

    @include desktop {
      padding: 0 6.25rem;
    }

  }

}
