.o-action {

  &_item_wrapper {
    z-index: 1;
    min-height: 70px;

    > .o-action_body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: .625rem 1.25rem;
      min-height: 103px;

      @include tablet {
        min-height: 90px;
      }

      @include desktop {
        min-height: 70px;
      }

    }

  }

  &_price {
    position: absolute;
    top: 0;
    right: .938rem;
    bottom: .813rem;
    left: auto;
    margin: auto;
    text-align: right;

    @include tablet {
      bottom: 0;
    }

  }

  &_body {
    width: 80%;
  }

  &_price,
  &_info_item {
    @include font-size(14);

    @include tablet {
      @include font-size(16);
    }

  }

  &_item:first-child {
    border-radius: 10px 10px 0 0;
  }

  &_item:last-child {
    border-radius: 0 0 10px 10px;
  }

  &_item { overflow: hidden; }

  &_item:not(:last-child) {
    margin-bottom: .2rem;
  }

  &_item:only-child {
    border-radius: 10px;
  }

  &_unitList {
    @include transition();
    display: none;
    padding: .625rem 1.25rem;
    background-color: lighten(desaturate(adjust-hue($brand-danger, -1), 8.05), 17.45);
  }

  &.-object &_price {
    top: 1rem;
    bottom: auto;
  }

  @include laptopDown {

    &_info_item + &_info_item:last-child {
      flex: 1 1 100%;
    }

  }

  @include mobilePlusDown {

    &_price {
      max-width: 100px;
    }

  }

  @include tablet {

    &.-object &_price {
      position: absolute;
      top: 35px;
      right: 45px;
      left: auto;
      text-align: right;
    }

    &_info_item + &_info_item:not(:last-child) {
      margin-left: .7rem;
      padding-left: .7rem;
      border-left: 1px solid $white;
    }

  }

  @include laptop {

    &.-object &_price {
      top: 28px;
    }

    &_info_item + &_info_item:last-child {
      margin-left: .7rem;
      padding-left: .7rem;
      border-left: 1px solid $white;
    }

  }

  @include desktop {

    &_item {
      display: flex;
      align-items: center;

      &_wrapper {
        width: 100%;
      }

    }

  }

}
