.o-breadcrumbs {

  &_item + &_item {
    @extend %no-repeat;
    padding-left: 1rem;
    margin-left: .7rem;
    background-image: url('../media/app/chevron-right-black.svg');
    background-position: left center;
    background-size: 10px;
  }

}
