// Cookie policy
.o-cookie_policy {
  position: fixed;
  z-index: 9999;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  max-width: 500px;
  padding: 1.25rem;
  background: $white;

  // TODO delete after sliceing
  display: none;

  &:after {
    @extend %absoluteFull;
    content: '';
    z-index: -1;
    border: 5px solid $brand-secondary;
    margin: -5px;
  }

  &_title {
    margin: 0;
    color: $brand-secondary;
  }

  &_body {
    line-height: $line-height-default;
    margin: .625rem 0 1.25rem;
    font-size: .9rem;
  }

}
