.o-comments {

  &_desc {
    position: relative;
    padding: 1.125rem .625rem;
    border: 1px solid lighten($color-ui-tint, 1.96);
    border-radius: 10px;
    background-color: $white;

    &:after {
      @extend %no-repeat;
      content: '';
      position: absolute;
      top: -14px;
      left: 10px;
      width: 15px;
      height: 15px;
      background-image: url('../media/app/commentTriangle.svg');
      background-size: 100%;
    }

  }

  &_wrapper &_item:nth-child(n+4) {
    display: none;
  }

}
