// Credit cards
.o-creditCards {
  margin: 2rem 0;

  &_img {
    max-height: 50px;
  }

  &_item {
    margin: 0 2rem 1rem 0;
  }

  @include tablet {

    &_img {
      max-height: 60px;
    }

  }

  @include laptop {

    &_img {
      max-height: 70px;
    }

  }

  @include desktop {

    &_img {
      max-height: 80px;
    }

  }

}
