.o-distances {

  @include tablet {

    &_item {
      flex: 0 1 45%;
    }

  }

  @include laptop {

    &_item {
      flex: 1 1 100%;
    }

  }

  @include desktop {

    &_item {
      flex: 0 1 45%;
    }

  }

}
