.o-gallery {

  &_item {
    @extend %cursor-pointer;
    @extend %no-repeat;
    @extend %bg-center;
    @extend %bg-cover;
    flex: 1 1 100%;
    position: relative;
    overflow: hidden;
  }

  &-small &_item {
    border-radius: 10px;
  }

  &_item_wrapper {
    width: 100%;
  }

  &-large,
  &-small {
    flex-wrap: wrap;
  }

  &-small &_item:nth-child(n+4) {
    display: none;
  }

  &_img {
    opacity: 0;
    visibility: hidden;
  }

  &-large > &_item:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  &-large &_item_wrapper &_item:first-child {
    border-bottom-left-radius: 10px;
  }

  &-large &_item_wrapper &_item:nth-child(2) {
    border-bottom-right-radius: 10px;
  }

  &_link,
  &_img {
    height: 100%;
  }

  &_item.last {

    .o-gallery_link {
      z-index: 1;

      &:after {
        @extend %absoluteFull;
        content: '';
        background-color: rgba($brand-secondary, .63);
      }

    }

  }


  &-large > &_item_wrapper &_item:nth-child(n+3) {
    display: none;
  }

  &_count {
    @include font-size(17);
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    left: 0;
    color: $white;
    transform: translateY(-50%);
  }

  &-small &_item + &_item {
    margin-top: .5rem;
  }

  &-large > &_item:only-child {
    border-radius: 10px!important;
    max-height: 25rem; /* 400/16 */
  }

  @include laptopDown {

    &-large &_item_wrapper &_item {
      flex: 0 1 50%;
      margin-top: 6px;
    }

    &-large &_item_wrapper &_item:first-child {
      margin-right: 3px;
    }

    &-large &_item_wrapper &_item:last-child {
      margin-left: 3px;
    }

  }

  @include tablet {

    &-small {
      flex-wrap: nowrap;
    }

    &-small &_item + &_item {
      margin-top: 0;
      margin-left: .5rem;
    }

    &-large > &_item:first-child {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    &-large &_item_wrapper &_item:first-child {
      border-bottom-left-radius: 10px;
    }

    &-large &_item_wrapper &_item:last-child {
      border-bottom-right-radius: 10px;
    }

  }

  @include laptop {

    &-large > &_item:first-child {
      flex: 1 1 60%;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
    }

    &-large &_item_wrapper {
      flex: 1 1 25%;
    }

    &-large &_item_wrapper &_item {
      flex: 0 1 50%;
      margin-left: 6px;
    }

    &-large &_item_wrapper &_item:first-child {
      margin-bottom: 3px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
    }

    &-large &_item_wrapper &_item:nth-child(2) {
      margin-top: 3px;
      border-bottom-right-radius: 10px;
    }

  }

}
