.o-hero {
  @extend %no-repeat;
  @extend %bg-cover;
  @extend %bg-center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 440px;

  @include laptop {
    height: 600px;
  }

}
