$inquiry-page-table-cell-padding-y: 10px;
$inquiry-page-table-cell-padding-x: 8px;
$inquiryTableHeadBackground: $tableHeader;
$inquiryTableHeadColor: $color-text-neutral;

.o-inquiryPageTable {

  td, th {
    padding: $inquiry-page-table-cell-padding-y $inquiry-page-table-cell-padding-x;
    border-right: 1px solid $tableBorder;
    border-top: 1px solid $tableBorder;
    vertical-align: middle;

    &:first-of-type {
      text-align: left;
    }

    &:not(:first-of-type) {
      text-align: right;
    }

  }

  thead {

    th {
      border-bottom: 1px solid $tableBorder;
      background-color: $inquiryTableHeadBackground;
      color: $inquiryTableHeadColor;
    }

    tr:first-of-type th {
      border-top: 0;
      border-bottom: 0;
    }

  }

}

.o-inquiryPageTable-charges th:last-of-type,
.o-inquiryPageTable-charges td:last-of-type,
.o-inquiryPageTable-price th:last-of-type,
.o-inquiryPageTable-price td:last-of-type  {

  @include tablet {
    border-right: 0;
  }

}

.o-inquiryPageTable-price,
.o-inquiryPageTable-charges {
  overflow: hidden;
  border-radius: 5px;
}

#inquiry-details-priceNotAvailable {
  @include font-size(14);
  color: $brand-active;
}

.o-inquiryPageTable-charges {
  background-color: $white;
}

.o-inquiryPageTable-price {
  margin-bottom: 0;

  tbody td {
    border-top: 0;
  }

  thead > tr,
  tbody > tr {

    th:nth-child(2),
    td:nth-child(2) {
      text-align: left;
    }

  }

  tfoot {

    td {
      border: 0;
      border-top: 1px solid $tableBorder;
      font-weight: $font-weight-heading;
    }

  }

}

@include tabletDown {

  .o-inquiryPageTable-charges {

    td {
      display: block;
    }

    thead,
    td:empty,
    tfoot td:first-of-type {
      display: none!important;
    }

    td:first-of-type {
      background-color: $inquiryTableHeadBackground;
      font-weight: $font-weight-heading;
      color: $inquiryTableHeadColor;
    }

    td:not(:first-of-type) {
      position: relative;
      padding-right: 15%;
      text-align: right;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 35%;
        bottom: 0;
        left: auto;
        width: 1px;
        height: 100%;
        background-color: $tableBorder;
      }

      &:after {
        content: attr(data-label);
        position: absolute;
        top: 0;
        bottom: 0;
        left: $inquiry-page-table-cell-padding-y;
        height: 1em;
        margin: auto 0;
      }

    }

  }

}

@include tabletPlusDown {

  .o-inquiryPageTable-charges {

    th, td {

      &:last-of-type {
        display: flex;
        justify-content: flex-end;
      }

    }

  }

}

@include tabletPlus {

  .o-inquiryPageTable-charges {

    th, td {

      &:last-of-type {
        width: 24%;
      }

    }

  }

}

@include desktop {

  .o-inquiryPageTable-charges {

    th, td {

      &:last-of-type {
        width: 20%;
      }

    }

  }

}
