// Logo
.o-logo {

  &_header &_img {
    position: absolute;
    top: -13px;
    left: -7px;
    width: 137px;
  }

  @include tablet {

    &_header &_img {
      left: 0
    }

  }

  @include desktop {

    &_header &_img {
      width: 156px;
      top: -20px;
    }

  }

}
