.o-map {
  // TODO: Adjust styles after implementation
  border-radius: 10px;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 18.75rem;

    .p-search & {
      height: 44.375rem; /* 710/16 */

      @include tablet {
        height: 42.5rem; /* 680/16 */
      }

      @include laptop {
        height: 38.75rem; /* 620/16 */
      }

      @include desktop {
        height: 48.75rem; /* 780/16 */
      }

    }

  }


}
