// Main Header
.o-mainHeader {
  position: relative;
  z-index: 5;
  width: 100%;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba($black, .13);

  &_topBar {
    display: flex;
    justify-content: flex-end;
    color: $white;

    &_wrapper {
      background-color: $brand-secondary-darken;
    }

  }

  &_bottomBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;

    @include laptopDown {
      height: 4.5rem;
    }

  }

  &_switch {
    position: relative;
    width: 100%;
  }

  &_switch:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 110px;
    display: block;
    border-bottom-left-radius: 30px;
    background-color: $brand-secondary-darken;

    @include desktop {
      left: 156px;
    }

  }

  // Triggers wrapper
  &_mobileTriggers {
    display: flex;
    align-items: center;
  }

  // Triggers
  // TODO: remove duplicated styles
  &_trigger {
    @extend %cursor-pointer;
    position: relative;
    height: 26px;

    // Menu
    &.-menu {
      width: 30px;
      padding: 1rem 1.25rem 1rem 0;
      margin-left: 1.25rem;

      span {
        @include transition(all,.25s, ease-in-out);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        margin: auto;
        border-radius: 9px;
        background-color: lighten($color-ui-dark, 6.67);
        opacity: 1;

        &:before, &:after {
          @include transition(all,.25s, ease-in-out);
          content: '';
          position: absolute;
          left: 0;
          display: block;
          width: 100%;
          height: 3px;
          border-radius: 9px;
          background-color: lighten($color-ui-dark, 6.67);
          opacity: 1;
          transform: rotate(0deg);
        }

        &:before {
          top: -8px;
        }

        &:after {
          top: 8px;
        }

      }

      &.active span {
        left: 10px;
        background-color: transparent;

        &:before, &:after {
          top: 0px;
          left: -10px;
        }

        &:before {
          transform: rotate(135deg);
        }

        &:after {
          transform: rotate(-135deg);
        }

      }

      @include laptop {
        display: none;
      }

    }

    // Search
    &.-search {
      z-index: 0;
      overflow: hidden;
      width: 1.6rem;
      height: 1.6rem;

      .p-search & {
        opacity: .3;
        pointer-events: none;
      }

      span {
        position: absolute;
      }

      span, span:before, span:after {
        @include transition();
      }

      span:first-child {
        z-index: 1;
        top: 1px;
        left: 1px;
        width: 1rem;
        height: 1rem;
        border: 3px solid lighten($color-ui-dark, 6.67);
        border-radius: 100%;

        &, &:before, &:after {
          background-color: transparent;
        }

        &:before,
        &:after {
          @extend %absoluteFull;
          content: '';
          z-index: 2;
          width: .7rem;
          height: 2px;
          margin: auto;
        }

        &:before {
          transform: rotate(90deg) translateX(-35px);
        }

        &:after {
          transform: rotate(-90deg) translateX(35px);
        }

      }

      span:last-child {
        z-index: 0;
        right: 2px;
        bottom: 5px;
        width: .7rem;
        height: 3px;
        transform: rotate(45deg) translateX(0);
      }

      span:last-child,
      .active-mobile & span:first-child:before,
      .active-mobile & span:first-child:after {
        background-color: lighten($color-ui-dark, 6.67);
      }

      // active state
      &.active {

        span:first-child {
          width: 97%;
          height: 97%;

          &:before,
          &:after {
            background-color: lighten($color-ui-dark, 6.67);
          }

          &:before {
            transform: rotate(45deg) translateX(0);
          }

          &:after {
            transform: rotate(-45deg) translateX(0);
          }

        }

        span:last-child {
          transform: rotate(45deg) translateX(21px);
        }

      }

    }

  }

}
