.o-newsCard {

  &_img {
    @extend %no-repeat;
    @extend %bg-center;
    @extend %bg-cover;
    flex-shrink: 0;
    width: 100%;
    height: 13.75rem;
    border-radius: 10px 10px 0 0;

    @include tablet {
      border-radius: 10px 0 0 10px;
      max-width: 11.25rem;
      height: auto;
    }

  }

}
