$table-head-color: $tableHeader;
$table-data-border: transparent;

.o-offerTable {
  margin-top: 2rem;

  td {
    border-top: 0;
  }

  tbody + tbody {
    border-top: 0;
  }

  tbody,
  tfoot {

    > tr td:nth-child(2) {
      text-align: right;
      border-left-color: rgba($color-ui-shade, .3)!important;
      border-left: 1px solid;

      @include tabletDown { white-space: nowrap; }
    }

  }

  tbody > tr:first-child td {
    background-color: $table-head-color;
  }

  tbody > tr:first-child td,
  tfoot td {
    font-size: 1.125rem; //18px
    font-weight: $font-weight-bold;
  }

  tbody > tr td + td {
    // border-style: solid;
    // border-width: 1px;
  }

  tbody > tr:first-of-type td {
    border: 0;
    border-radius: 6px;
    // border-color: $table-head-color;
    // border-bottom-color: $table-data-border;
  }

  tbody > tr:not(:first-of-type):not(:last-child) td {
    border-top: 0;
    border-bottom: 1px solid rgba($color-ui-shade, .3);
  }

  tfoot td {
    border-top: 1px solid rgba($color-ui-shade, .3);
  }

  tfoot td + td {
    border-left: 0!important;
  }

  tbody:last-of-type {
    border-bottom: 2px solid $color-ui-shade;
  }

  @include tablet {

    td + td {
      width: 40%;
    }

  }

  @include tabletPlus {

    td + td {
      width: 30%;
    }

  }

}
