.o-pagination {
  border-radius: 6px;
  background-color: $white;
  box-shadow: 0 1px 3px rgba($black, .25);

  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin-left: 0;
  }

  .page-item {
    display: none;
    position: relative;
  }

  .page-item:first-child,
  .page-item:last-child {
    @extend %no-repeat;
    display: block!important;
    margin: auto;
    text-align: center;
    background-size: 14px;

    &:after {
      content: none;
    }

  }

  .page-item.disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  .page-item.active .page-link {
    background-color: transparent;
    color: $brand-primary;
  }

  .page-item .page-link {
    @include transition();
    color: $color-text-neutral;
    border: 0;

    &:hover {
      color: $brand-primary;
    }

  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    color: $brand-secondary;
    border-width: 1px;
    border-color: $color-ui-tint;
    border-top-style: none;
    border-bottom-style: none;
  }

  .page-item:first-child {
    margin-left: 0;

    .page-link {
      width: 45px;
      border-right-style: solid;
      border-left-style: none;
    }

  }

  .page-item:last-child {
    width: 100%;

    .page-link {
      border-right-style: none;
      border-left-style: solid;
    }

  }

  .page-item:after {
    @extend %absoluteFull;
    @include transition();
    content: '';
    top: auto;
    height: 3px;
    background-color: transparent;
  }

  .page-item:hover:after {
    background-color: $brand-primary;
  }

  .page-item.active:after {
    z-index: 2;
    background-color: $brand-primary;
  }

  @include tablet {

    .page-item {
      display: block;
    }

    .page-item:first-child,
    .page-item:last-child .page-link {
      min-width: 120px;
    }

    .page-item:last-child {
      width: auto;
      margin-right: 0;
    }

  }

}
