.o-sidebar {

  @include laptop {
    position: absolute;
    top: 0;
    right: 0;

    .p-inquiryPreview & {
      top: -6.3rem;
      margin-top: 0!important;
    }

    div[data-notification]:not(:empty) ~ .p-contact_main & {
      top: -5.25rem;
    }

  }

}
