.o-subscription {
  position: relative;
  min-height: 14.438rem;
  padding: 1.563rem;
  border-radius: 10px;
  background-color: $brand-secondary-mostLightest;

  &:after {
    @extend %absoluteFull;
    @extend %no-repeat;
    content: '';
    z-index: -1;
    top: -6rem;
    left: -2rem;
    background-image: url('../media/app/subscriptionBg.svg');
    background-size: 20rem;
    transform: rotate(-27deg);
  }

  .o-sidebar_widgets & {
    margin-bottom: 2rem;
    order: 2;

    @include laptop {
      margin-top: 2rem;
      margin-bottom: 0;
      order: 1;
    }

  }

  &_mess {
    margin-bottom: 2rem;
  }

}
