.o-sponsors {

  &_item {
    flex: 1 1 100%;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 1.875rem;

      @include laptop {
        margin-bottom: 0;
      }

    }

    @include tablet {
      flex: 1 1 50%;
    }

    @include laptop {
      flex: none;
    }

    @include desktop {
      flex: 1;
    }

  }

  &_img {

    .o-sponsors_item.-croatia & {
      width: 9.938rem; /* 159/16 */
    }

    .o-sponsors_item.-kvaner & {
      width: 7.688rem; /* 123/16 */
    }

    .o-sponsors_item.-baska & {
      width: 11.438rem; /* 183/16 */
    }

    .o-sponsors_item.-ministarstvo & {
      width: 12.625rem; /* 202/16 */
    }

  }

}
