.o-sectionPicker {
  flex-wrap: nowrap;
  border-bottom: 0;

  &_wrapper {
    background-color: lighten($color-ui-tint, 3.53);
    box-shadow: 0 2px 4px 0 rgba($black, .04);
  }

  .nav-item > .nav-link {
    position: relative;
    padding: 1.594rem 0;
    border: 0;
    box-shadow: none;
    text-transform: uppercase;
    background-color: $white;

    @include mobilePlusDown {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 90px;
    }

    &, &:after {
      @include transition();
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
     	left: 50%;
     	width: 0;
     	height: 0;
     	border: 7px solid transparent;
     	border-bottom-color: $brand-secondary;
     	margin-left: -7px;
     	pointer-events: none;
      opacity: 0;
    }

  }

  .nav-item + .nav-item > .nav-link:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 50%;
    margin: auto;
    background-color: $color-ui-tint;
  }

  .nav-item > .nav-link:hover,
  .nav-item > .nav-link:active,
  .nav-item > .nav-link.active {
    color: $brand-secondary;
    box-shadow: inset 0px -2px 0 0px $brand-secondary;

    &:after {
      opacity: 1;
    }

  }

  @include laptopDown {
    margin-right: -.9375rem;
    margin-left: -.9375rem;
  }

}
