@keyframes spin {

  to {
    transform:rotate(1turn);
  }

}

.o-weather {
  min-height: 280px;
  border-radius: 10px;
  background-color: $brand-primary-lightest;

  .o-weather_img {
    height: 116px;
  }

  .o-weather-bgIcon {
    position: absolute;
    top: -5.7rem;
    bottom: 0;
    z-index: -1;
    right: -3.4rem;
    width: 205px;
    height: 205px;
    opacity: .15;
    background-image: url('../media/weather/sunny.svg');
    animation: spin 40s infinite linear;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include tabletDown {

    &_item:nth-child(2),
    &_item:nth-child(3) {
      display: none;
    }

  }

  .p-object &_item:nth-child(1),
  .p-object &_item:nth-child(3) {

    @include laptopOnly {
      display: none;
    }

  }

  .o-sidebar_widgets & {
    margin-bottom: 2rem;
    order: 1;

    @include laptop {
      margin-top: 2rem;
      order: 2;
    }

  }


}
