<!-- Check in/out START -->
<tr>
  <td>
    <row class="o-unit_dates">
      <columns large="8" small="6">
        <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Check in</p>
        <p class="f-17 mb-0">Tue, May 15, 2018</p>
        <p class="f-14">15:00</p>
      </columns>

      <columns large="4" small="6">
        <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Check out</p>
        <p class="f-17 mb-0">Tue, May 15, 2018</p>
        <p class="f-14">12:00</p>
      </columns>
    </row>
  </td>
</tr>
<!-- Check in/out STOP -->
