<!-- Contact person and location START -->
<table class="o-contactPersonAndLoction">
  <tbody>
    <tr>
      <td class="o-contactPersonAndLoction_content">
        <row>
          <columns>
            <h2 class="f-24 font-weight-semibold color-primary-dark o-contactPersonAndLoction_title">
              Contact person and location
            </h2>
          </columns>
        </row>

        <row>
          <!-- Contact person full name START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Full name</p>
            <p class="f-17 mb-0">Johnny Walker</p>
          </columns>
          <!-- Contact person full name STOP -->

          <!-- Contact person email START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Email</p>
            <p class="f-17 mb-0">johnny.walker@gmail.com</p>
          </columns>
          <!-- Contact person email STOP -->

        </row>

        <row>
          <!-- Contact person address START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Address</p>
            <p class="f-17 mb-0">Barcelona 1234</p>
            <p class="f-17 mb-0">Camp Nou 645</p>
            <p class="f-17 mb-0">Spain</p>
          </columns>
          <!-- Contact person address STOP -->

          <!-- Contact person cellphone START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Cellphone</p>
            <p class="f-17"><a class="color-neutral" href="tel:847123345567">+847 12 334 5567</a></p>
          </columns>
          <!-- Contact person cellphone STOP -->

        </row>
      </td>
    </tr>
  </tbody>
</table>
<!-- Contact person and location STOP -->
