<!-- Personal data and booking info START -->
<table class="o-personalDataInfo">
  <tbody>
    <tr>
      <td class="o-personalDataInfo_content">
        <row>

          <!-- Personal info - card number START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Card number</p>
            <p class="f-17 mb-0">1234 5678 9012</p>
          </columns>
          <!-- Personal info - card number STOP -->

          <!-- Personal info - expiration date START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Expiration date</p>
            <p class="f-17 mb-0">02 / 22</p>
          </columns>
          <!-- Personal info - expiration date STOP -->

          <!-- Personal info - Security number START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Security number</p>
            <p class="f-17 mb-0">345</p>
          </columns>
          <!-- Personal info - Security number STOP -->
        </row>
      </td>
    </tr>
  </tbody>
</table>
<!-- Personal data and booking info STOP -->
