<!-- htmlmin:ignore -->

<!-- Footer START -->
<table class="o-mainFooter w-100">
  <tbody>
    <tr>
      <td>
        <container>
          <row>
            <columns>
              <spacer size="40"></spacer>
              <a class="d-inline-block" href="homepageLink">
                <img class="o-logo" src="assets/img/logo-blue.svg" alt="companyName">
              </a>
            </columns>
          </row>

          <row>
            <columns small="12" class="pb-4 pt-15">
              <p class="color-grayLightest f-14 mb-0">Copyright &copy; 2018 GayHotels</p>
            </columns>
          </row>

          <row>
            <columns class="o-separatedList" small="12">
              <a class="o-separatedList_item color-grayLightest f-14" href="termsOfServiceLink">Terms of service</a>
              <span class="color-grayLightest">|</span>

              <a class="o-separatedList_item color-grayLightest f-14 px-7" href="privacyPolicyLink">Privacy policy</a>
              <span class="color-grayLightest">|</span>

              <a class="o-separatedList_item color-grayLightest f-14" href="dataCollectionLink">Data collection policy</a>
            </columns>
          </row>

          <row>
            <columns small="12">
              <spacer size="20"></spacer>

              <wrapper class="float-left w-auto">
                <!-- Hexis link START -->
                <a href="http://www.hexis.hr">
                  <img class="o-logo_hexis" src="assets/img/hexis.svg" alt="Hexis">
                </a>
                <!-- Hexis link STOP -->
              </wrapper>

              <wrapper class="float-right w-auto">

                <!-- Facebook link START -->
                <a href="facebookLink">
                  <img class="o-logo_social" src="assets/img/facebook.svg" alt="FB">
                </a>
                <!-- Facebook link STOP -->

                <!-- Twitter link START -->
                <a href="twitterLink">
                  <img class="o-logo_social" src="assets/img/twitter.svg" alt="FB">
                </a>
                <!-- Twitter link STOP -->

                <!-- Pintereset link START -->
                <a href="pinterestLink">
                  <img class="o-logo_social" src="assets/img/pinterest.svg" alt="FB">
                </a>
                <!-- Pintereset link STOP -->

                <!-- Google plus link START -->
                <a href="googlePlusLink">
                  <img class="o-logo_social" src="assets/img/googlePlus.svg" alt="FB">
                </a>
                <!-- Google plus link STOP -->

                <!-- Instagram link START -->
                <a href="instagramLink">
                  <img class="o-logo_social" src="assets/img/instagram.svg" alt="FB">
                </a>
                <!-- Instagram link STOP -->
              </wrapper>

              <spacer size="35"></spacer>
            </columns>
          </row>

        </container>
      </td>
    </tr>
  </tbody>
</table>
<!-- Footer STOP -->

<!-- htmlmin:ignore -->
