<!-- htmlmin:ignore -->

<!-- Header START -->
<table class="o-mainHeader">
  <tbody>
    <tr>
      <td>
        <container>
          <row>
            <columns></columns>

            <columns>
              <a class="d-inline-block" href="homepageLink">
                <img class="o-logo_header" src="../assets/img/logo.svg" alt="companyName">
              </a>
            </columns>

            <columns></columns>
          </row>
        </container>
      </td>
    </tr>
  </tbody>
</table>
  <!-- Header STOP -->

<!-- htmlmin:ignore -->
