<!-- Note START -->
<tr>
  <td>
    <row>
      <columns small="12">
        <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Note</p>
        <p class="f-17">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus purus eget
          ullamcorper pretium. Ut vestibulum elementum pulvinar. Donec consectetur est ac mi suscipit
          condimentum. Suspendisse diam nibh, placerat sed lorem at, condimentum efficitur justo. </p>
      </columns>
    </row>
  </td>
</tr>
<!-- Note STOP -->
