<!-- Personal data and booking info START -->
<table class="o-personalDataInfo">
  <tbody>
    <tr>
      <td class="o-personalDataInfo_content">

        <row>
          <columns>
            <h2 class="f-24 font-weight-semibold color-primary-dark">Personal data and booking info</h2>
          </columns>
        </row>

        <row>
          <!-- Person full name START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Full name</p>
            <p class="f-17 mb-0">Mr. Bruce Wayne</p>
          </columns>
          <!-- Person full name STOP -->

          <!-- Person email START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Email</p>
            <p class="f-17 mb-0">bruce.wayne@gmail.com</p>
          </columns>
          <!-- Person email STOP -->
        </row>

        <row>
          <!-- Person address START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Address</p>
            <p class="f-17 mb-0">Moutain Drive 1007</p>
            <p class="f-17 mb-0">Gotham 54540</p>
            <p class="f-17 mb-0">USA</p>
          </columns>
          <!-- Person address STOP -->

          <!-- Person cellphone START -->
          <columns>
            <p class="color-grayLight text-uppercase f-13 mb-4 font-weight-semibold">Cellphone</p>
            <p class="f-17"><a class="color-neutral" href="tel:385911234567">+385 91 123 4567</a></p>
          </columns>
          <!-- Person cellphone STOP -->
        </row>
      </td>
    </tr>
  </tbody>
</table>
<!-- Personal data and booking info STOP -->
