<!-- Unit card START -->
<tr>
  <td>
    <row>
      <columns small="4" class="pr-0">
        <!-- Unit image START -->
        <a href="unitLink">
          <img src="https://placeimg.com/150/112/tech" alt="Unit image" style="width: 100%">
        </a>
        <!-- Unit image STOP -->
      </columns>

      <columns small="8">

        <!-- Unit title START -->
        <a class="f-17 mb-4 d-inline-block" href="unitLink">Priviledge single (without breakfast)</a>
        <!-- Unit title STOP -->

        <span class="f-15 mb-4 d-block">
          <!-- Bed amount START -->
          <img class="o-icon" src="assets/img/guest.svg" alt="Guest">1 King bed
          <!-- Bed amount STOP -->
        </span>

        <!-- Amenities START -->
        <p class="f-15 color-grayLight mb-4">
          Jacuzzi, Patio, Soundproofing, Air conditioning, Flat-screen TV, Private bathroom…
        </p>
        <!-- Amenities STOP -->

        <!-- Price START -->
        <p class="f-18 color-primary">&euro;350</p>
        <!-- Price STOP -->
      </columns>
    </row>
  </td>
</tr>
<!-- Unit card STOP -->
