// Icons
//
// // icon color is changed by 'iconic' JS plugin

.c-icon {

  .iconic {
    opacity: 0;

    &.injected-svg {
      opacity: 1;
    }

  }

  * {
    width: 1em;
  }

  &.c-icon-9-10 * {
    width: 9px;
    height: 10px;
  }

  &.c-icon-21 * {
    width: 21px;
    height: 21px;
  }

  &.c-icon-48-44 * {
    width: 48px;
    height: 44px;
  }

  &.c-icon-127 * {
    width: 127px;
    height: 127px;
  }

  // Specific targets
  .o-mainNav_langCurrent > .c-link &,
  .o-mainNav_item.-sub & {
    position: absolute;
  }

  .o-mainNav_langCurrent > .c-link & {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .o-mainNav_item.-sub & {
    @include transition();
    top: 0;

    @include laptopDown {
      top: 0;
      right: 0;
      width: 20%;
      padding: .92rem .625rem;
      text-align: center;

      &.-activeTrigger {
        transform: rotateX(180deg);
      }

    }

    @include laptop {
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      pointer-events: none;
    }

  }

}

.iconic * {

  .c-icon-white & {
    fill: $white;
    stroke: $white;
  }

  .c-icon-primary & {
    fill: $brand-primary;
    stroke: $brand-primary;
  }

}
