// Link
.c-link {

  &:hover {
    @extend %decoration-underline;
  }

  //&-more {
  //  position: relative;
  //  padding-right: 1.2rem;
  //
  //  &:after {
  //    @extend %no-repeat;
  //    content:'';
  //    position: absolute;
  //    top: 2px;
  //    right: 0;
  //    bottom: 0;
  //    width: 12px;
  //    height: 11px;
  //    margin: auto 0;
  //    background-image: url('../media/app/arrows.svg');
  //    background-size: 12px 11px;
  //    background-position: center;
  //  }
  //
  //}

  &-underline {
    @extend %decoration-underline;

    &:hover {
      @extend %decoration-none;
    }

  }

  // Main Menu
  .o-mainNav_item > & {
    @extend %decoration-none;

    @include laptopDown {
      padding: .9rem;
    }

    @include laptop {
      padding: 1.594rem 1rem;
    }

  }

  // Main menu sub item
  .o-mainNav_item.-sub > & {

    @include laptopDown {
      border-right: 1px solid rgba($black, .1);
      margin-right: 20%;
    }

  }

  // Sub Menu
  .o-mainNav_subItem > & {
    @extend %decoration-none;
    padding: .9375rem 1.625rem;

    @include laptopDown {
      padding-left: 2rem;
    }

    @include laptop {

      &:hover {
        background-color: $brand-secondary;
        color: $white;
      }

    }

  }

  .o-mainNav_item > &:active,
  .o-mainNav_subItem > &:active {
    background-color: $brand-secondary;
    color: $white;
  }


}

button {

  &.c-link {

    &:hover {}

  }

}
