// Modal styles
.c-modal {

  .modal-header {
    border-bottom: 0;

    .close {
     @include transition();
     position: absolute;
     top: 0;
     right: 0;
     padding: 0 1rem .625rem 1rem;
     border: 0;
     border-bottom-right-radius: 0;
     border-top-left-radius: 0;
     margin: auto;
     opacity: .8;

     &:hover {
       @extend %cursor-pointer;
       opacity: 1;
       background-color: rgba($black, .1);
     }

    }

  }

  .modal-dialog {

    @include laptop {
      max-width: 909px;
    }

  }

}
