// Titles
.c-ttl {
  margin: 0;

  // Sizes of title
  &-16 {
    @include font-size(16);
  }

  &-s19 {
    //@include font-size(19);
  }

  &-main {
    @include font-size(30);
    margin-bottom: 10px;
    color: #142674;

    @include tablet {
      @include font-size(36);
    }

    @include laptop {
      @include font-size(40);
    }

  }

  &-promo {
    @include font-size(22);
  }

  &-sm {}
  &-smp {}
  &-md {}
  &-mdp {}
  &-lg {}
  &-lgp {}
  &-xl {}
  &-xxl {}

  @include tablet {
    &-default {}
    &-sm {}
    &-smp {}
    &-md {}
    &-mdp {}
    &-lg {}
    &-lgp {}
    &-xl {}
    &-xxl {}
  }

  @include laptop {
    &-default {}
    &-sm {}
    &-smp {}
    &-md {}
    &-mdp {}
    &-lg {}
    &-lgp {}
    &-xl {}
    &-xxl {}
  }

  // Specific targets
  .o-about_contact & {
     @include font-size(25);
     margin-bottom: -5px;

    @include desktop {
      @include font-size(30);
    }

  }

  .o-hero .o-hero_body &-h2 {
    max-width: 26rem;
  }


  &-hero {
    @include font-size(30);

    @include laptop {
      @include font-size(40);
    }

  }

  &-heroSub {
    @include font-size(20);

    @include laptop {
      @include font-size(23);
    }

  }

  .o-heroTitle & {
    padding: 1.313rem 0;
  }

}
